[2017-04-08 06:05] #7614 closed

[2017-04-08 06:05] danmosemsft commented on #8279
I'm going to close, plesae reopen if you still have an issue.

[2017-04-08 06:05] #8279 closed

[2017-04-08 06:05] danmosemsft commented on #8304
@richlander

[2017-04-08 06:07] danmosemsft commented on #10568
@quoctruong is this resolved, did you have success?

[2017-04-08 06:07] #10568 closed

[2017-04-08 06:09] danmosemsft commented on #10790
Issue moved to [dotnet/corefx #18106](https://github.com/dotnet/corefx/issues/18106) via [**ZenHub**](https://www.zenhub.com/)

[2017-04-08 06:09] #10790 closed

[2017-04-08 06:14] danmosemsft commented on #2834
@gkhanna79 is this planned for 2.0?

[2017-04-08 06:16] #4730 closed

[2017-04-08 06:16] danmosemsft commented on #4730
Issue moved to [dotnet/corefx #18107](https://github.com/dotnet/corefx/issues/18107) via [**ZenHub**](https://www.zenhub.com/)

[2017-04-08 06:16] danmosemsft commented on #4730
api discussions in corefx

[2017-04-08 06:29] danmosemsft commented on #4055
@stephentoub thoughts about this one? This is desktop behavior also. Dictionary<> and List<> both do nothing in Dispose. CharEnumerator releases its string. We could change Dispose to do nothing, but it would leak the string if someone was expecting it to release it -- this seems an unlikely scenario, to hold an enumerator indefinitely.

I think it's fair to say that after disposing, the object is

[2017-04-08 06:30] danmosemsft commented on #5784
@wtgodbe are you planning to do this for 2.0?

[2017-04-08 06:31] danmosemsft commented on #5510
@gkhanna79 what are we leaving this issue open for -- is there action here (other than clarifying our versioning system -- which is perhaps not best tracked here)?

[2017-04-08 06:32] danmosemsft commented on #5181
@gkhanna79 is this still 2.0? what area label?

[2017-04-08 11:40] stephentoub commented on #4055
From my perspective, using an object after disposing it results in undefined behavior and all bets are off. While throwing null refs isn't great, I wouldn't spend much time or energy to change it. If it's a super easy fix with zero impact on any other use case, fine.

[2017-04-08 14:14] RussKeldorph commented on #10708
Closing as duplicate.

@stephentoub @adityamandaleeka I assume you're referring to #6283.  Please update if not.  Is there an ETA for this being fixed/mitigated?  @mmitche @janvorli

@dotnet/jit-contrib FYI as libclrjit.so appears to be a frequent victim of this issue.

[2017-04-08 15:17] mazong1123 opened #10822 "Link to the List.cs file is broken in contributing.md"
The `List.cs` link is broken in:
https://github.com/dotnet/coreclr/blob/master/Documentation/project-docs/contributing.md#file-headers
Seems like the List class was removed from https://github.com/dotnet/corefx/tree/master/src/System.Collections/src/System/Collections/Generic

I found another `List.cs` in https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Collections/Generic/Lis

[2017-04-08 16:42] danmosemsft commented on #10822
You're right, want to submit a fix?

[2017-04-08 16:43] #10247 closed

[2017-04-08 17:56] karelz commented on #4055
Closing based on info above. If someone has a simple no-impact fix, please say so and we can reopen.

[2017-04-08 17:56] #4055 closed

[2017-04-08 18:09] stephentoub commented on #4055
If the desire is just to avoid the exception, a simple fix would likely be to just assign the string to Empty rather than null in Dispose. Don't know if it's worthwhile, though.

[2017-04-08 18:18] wtgodbe commented on #5784
@danmosemsft yes, this is one of the first bugs I'll work on post-4/21

[2017-04-08 19:23] #7394 closed

[2017-04-08 19:24] #8348 closed

[2017-04-08 19:24] #10712 closed

[2017-04-08 22:42] januszn opened #10826 "Access violation (0xC0000005, AccessViolationException) when JITting a method"
OS is Windows 10 Creators Update 64-bit.
Visual Studio 2017 Update 1 is installed - I've only used tools bundled with it to create the repro code.
Command line tool reports the following information:
[code]
To reproduce the issue using .NET Core, create a console application with the code below and run its release configuration. This is as specific as I was able to make it - making the property au

[2017-04-08 23:35] stephentoub commented on #10708
Yup, that's the one.

I've seen the issue a bunch, and it's pretty much always occurs in the jit.

[2017-04-08 23:35] #10708 closed

[2017-04-09 02:24] mazong1123 commented on #10822
Yes. I'll submit a PR.

[2017-04-09 02:44] mikedn commented on #10826
Looks like another case of #7958, neither .NET 4.7 nor .NET Core 1.1.0 have that fix.

[2017-04-09 03:17] jamesqo commented on #4550
I believe this has been fixed by the merging of the linked PR.

[2017-04-09 03:17] #4550 closed

[2017-04-09 03:23] #10623 closed

[2017-04-09 03:43] #10822 closed

[2017-04-09 10:08] mazong1123 commented on #6206
@jkotas I just ran your example by current code. The output is:

[code]

To be clarified, the new exit code is correct on current code. Do you expect changing the code so that the original exit code could be `12` ?

And since I can't find `errorcode` as a environment variable on Linux, could you please guide me how to output %errorlevel% on Linux? Thanks.

[2017-04-09 11:02] gmeena opened #10832 "Failed to load the coreclr.dll"
hosting machine, window server 2008, IIS 7
running dotner --help giving this error. attached in image
![dotnetcore error](https://cloud.githubusercontent.com/assets/8595001/24836743/f46c375c-1d41-11e7-9f52-54a2fe022018.jpg)

After so much googling could not able to find solution so posting here. same is working in local machine.
I guess everything required already installed
![core soft](https://cl

[2017-04-09 13:40] ayende commented on #7564
@RussKeldorph No, we left it.

[2017-04-09 13:53] jkotas commented on #6206
Yes.

`echo $?`

[2017-04-09 19:10] reaction1989 commented on #10585
if (Environment.GetEnvironmentVariable("CORECLR_SEED") != null)
            {
                try
                {
                    seed = int.Parse(Environment.GetEnvironmentVariable("CORECLR_SEED"));
                }
                catch (FormatException) { seed = rand.Next(); }
            }
            else
            {
                seed = rand.Next();
            }
You suggest to us

[2017-04-09 21:06] sdmaclea commented on #10585
@reaction1989 that code plus a fixed default seed and the code to print the seed into the trace.    Fixed default seed may want to be unique per test.

[2017-04-10 00:00] hseok-oh commented on #10654
Fixed

[2017-04-10 00:00] #10654 closed

[2017-04-10 00:00] #10135 closed

[2017-04-10 01:20] Rew opened #10836 "Build System Portability Improvement"
I have recently been working on porting a build of corlib to a new target OS.  I have managed to get it building successfully, however I believe that there are some improvements that could be made to the build system.  I will give a few specific suggestions, but I would guess those more familiar with the entire build process could offer some in addition.  I think more could be done on the document

[2017-04-10 01:46] jkotas commented on #10836
1. Changing `"$(TargetsUnix) != 'true'` to be opt-in using `$(TargetsWindows)` should be absolutely fine.

2. I think grouping the target specific files together should be definitely fine. It is done that way in the shared project already. I am not sure whether moving them to separate files is a good idea. It tends to not work well with Visual Studio.

3. Which one is it? It should be point in tim

[2017-04-10 02:32] Rew commented on #10836
1. Sounds good.  I'll submit with the cases that I found after I isolate the changes and at least test the windows builds.

2. I understand the concern with Visual Studio.  My initial inclination was to just group in the project file.  The separate imports was an idea to try and partition updates required for a specific target a little more as well as easing the instructions for a new target.  I w

[2017-04-10 04:37] sjsinju commented on #10762
@mskvortsov On my RPi3 tests, The test had finished successfully.
@hqueue Would you please do cross check this issue after applied #10789?

[2017-04-10 04:48] danmosemsft commented on #10836
@Rew  I'm curious what this target OS is?

[2017-04-10 05:45] Rew commented on #10836
@danmosemsft An embedded OS written in C# that has been in progress for a couple of years.  It has a functional AOT compiler tool chain with x86 and partial x64 support.  The closest example would probably be Singularity, but with an actual goal in mind.  The project I have been working on includes both the OS toolkit (Visual Studio Extension) and an OS built on it.  While there are some realistic

[2017-04-10 05:58] hqueue commented on #10762
It's interesting...

[code]

However I've got same result with @mskvortsov when running the test through runtest.sh
[code]

[2017-04-10 06:03] sjsinju commented on #10762
@hqueue @mskvortsov  Yes, I've got same result too.
It seems to need to check more.

[2017-04-10 06:53] scott-xu opened #10843 "NULL_POINTER_READ at clr!COMString::UseRandomizedHashing"
<pre>
0:006> !analyze -v
*******************************************************************************
*                                                                             *
*                        Exception Analysis                                   *
*                                                                             *
*******************************************************

[2017-04-10 07:29] gmeena opened #10845 "dotnet --help not working on hosting environment"
I am not able to run dotnet --help command at my hosting server. local machine working fine.
It seems that there is problem in dotnet core installation on hosting environment.

hosting machine, window server 2008, IIS 7

Installed on hosting environment
https://cloud.githubusercontent.com/assets/8595001/24836843/5f2a1814-1d44-11e7-80c0-16f7c401a023.jpg

[2017-04-10 07:32] sjsinju commented on #10762
I figured out the issue for this is from overflow checks.
[code]
In this, uint->ubyte 0x00000100 is overflow case. but now, it can't catch overflow.

[2017-04-10 07:33] mikedn commented on #10832
Window Server 2008 or Windows Server 2008 R2?

I don't see Window Server 2008 listed in the [Prerequisites](https://docs.microsoft.com/en-us/dotnet/articles/core/windows-prerequisites) doc.

[2017-04-10 07:34] mikedn commented on #10845
Seems similar to #10832

[2017-04-10 07:45] gmeena commented on #10832
please see updated description with one more screen shot

[2017-04-10 08:02] scott-xu commented on #10843
It occurs several times when under pressure. The process crashed with error

[2017-04-10 08:11] mikedn commented on #10832
So it is Windows Server 2008, not 2008 R2. It's unfortunate that the installer doesn't block install on 2008 but the documentation doesn't include 2008 as a supported OS.

[2017-04-10 08:18] sjsinju commented on #10762
I missed overflow check logics when using register too. And then I added it.
The result is
[code]

[2017-04-10 08:19] scott-xu commented on #10843
Could this line of code return null pointer in some case? https://github.com/dotnet/coreclr/blob/52a816d3011f4d03b80b5940dc036b40d701f52d/src/classlibnative/bcltype/stringnative.cpp#L163

[2017-04-10 08:29] gmeena commented on #10832
So it will not work on 2008 WS.

[2017-04-10 08:52] scott-xu commented on #10843
There are about 70 AppDomains created at that moment.

[2017-04-10 09:35] mskvortsov commented on #10762
@sjsinju We are not quite there yet. If you run the test with our "standard" options `COMPlus_AltJitAssertOnNYI=0 COMPlus_AltJit=*`, you'll see the next failure:
[code]
Which probably means that you need to revise the `lsraarm.cpp` part of your fix too.

[2017-04-10 09:53] sjsinju commented on #10762
@mskvortsov OK. I met the assertion that you said too.
I could check same issue in #10300. I would check that. Thank you.

[2017-04-10 10:23] sergign60 opened #10847 "[AMD64 Unix ELT] CoreCLR script 'runtest' gets 'System.TypeInitializationException' with COMPlus_JitELTHookEnabled=1"
[CoreCLR script 'runtest' gets 'System.TypeInitializationException'  on Ubuntu x64 with the environment variable  ```COMPlus_JitELTHookEnabled=1```

The message is
[code]
both on Debug and Checked builds.

The used command line is
[code]
The used versions are
of coreclr 25169926291fcdcad25506c558690a0f63e61a93 Move files to shared CoreLib partition (#10837)
of corefx 39ca7d8683aa369f2b9ce8e95be50f

[2017-04-10 10:24] sergign60 commented on #10847
CC: @Dmitri-Botcharnikov @kvochko @janvorli @noahfalk

[2017-04-10 10:25] sergign60 commented on #10847
#7719

[2017-04-10 10:25] sergign60 commented on #10847
#10765

[2017-04-10 10:26] sergign60 commented on #10847
#9166

[2017-04-10 10:28] nrandell commented on #3977
I've just been experimenting with this and have it working with SDK version 2.0.0-preview1-005743 with runtime version 2.0.0-preview1-001915-00.

I've been able to edit and build using that latest Visual Studio 2017! All looking really good.

I've got a repository at https://github.com/sceneskope/PiDotnet which has some projects where this works. I'm actually using docker as containers for my imag

[2017-04-10 10:43] TAGC commented on #3977
I've also created a .NET Core app that runs on an RPI 3 using SDK 2.0.0-preview1-005685 and runtime framework 2.0.0-beta-001834-00.

Runs fine natively (although I get `exec format` errors if trying to run it within a Docker container based on `microsoft/dotnet-nightly:2.0.0-beta-runtime`).

[2017-04-10 10:57] nrandell commented on #3977
The Microsoft images won't be for the ARM architecture, which is why I've created my own set of docker images! It would be great to have proper Microsoft images though.

[2017-04-10 11:07] TAGC commented on #3977
@nrandell Oh nice, I missed that. I'll have to try it out at some point.

[2017-04-10 11:28] ruben-ayrapetyan commented on #10693
@valenis, could you, please, suggest a good place to add a test for detecting regressions related to size of working set?

[2017-04-10 12:06] lemmaa opened #10848 "[Question] Comparison of dynamic binding performance of CoreCLR by architecture"
I measured the performance of dynamic bindings and static bindings in C # using a console application, and it showed a lot of performance differences in the .NET Core arm32 version.

AFAIK, CoreCLR implementation of x64 and arm32 are not much different than the JIT backend (RyuJIT vs legacyJIT). What is the reason for this difference compared to x64?

Is there anyone you can explain?

## Legend
*

[2017-04-10 12:12] janvorli commented on #2834
@danmosemsft I am not sure what's missing here. The #7773 I've committed last October seems to handle the issue completely.

[2017-04-10 13:19] danwalmsley opened #10849 "PreserveCompilationContext not working with netcoreapp2.0"
I have
`'<PreserveCompilationContext>true</PreserveCompilationContext>`

in my csproj, when I compile for .netcoreapp1.1 everything works fine, but if I try netcoreapp2.0 it doesn't seem to work.

I get an exception:
Can not find compilation library location for package 'microsoft.netcore.app''

[2017-04-10 14:46] JosephTremoulet commented on #10051
So then the importer is correct to not flag the load as invariant.  The whole load-test-init sequence is CSEable, but trying to mark all the individual pieces as such would lead to redundant calls to the initialization helper.  It may be worth considering delaying the expansion of the lookup sequence so that we could value-number it as a whole before exposing the parts...

[2017-04-10 16:24] jkotas commented on #10848
Do you have the same set of assemblies precompiled in both cases? I suspect that the difference is caused by number of methods JITed. You should measure the warmup (the first invocation of `action.Invoke()`) separately.

[2017-04-10 17:42] danwalmsley opened #10854 "publishing netcoreapp2.0 doesnt generate an exe"
So I'm using latest build on windows and ubuntu 14.04 I have rids in my csproj, but publishing isn't including .exe for my app.

[2017-04-10 17:44] jkotas commented on #10843
@scott-xu Thanks for the bug report. .NET Core repos are not a good place to log .NET Framework specific issues.  https://github.com/dotnet/coreclr/blob/master/Documentation/workflow/IssuesFeedbackEngagement.md has the right channels to report .NET Framework issues.

We are aware of this stress issue in .NET Framework and we are considering fix in one of the future releases. (For reference, it is

[2017-04-10 17:44] #10843 closed

[2017-04-10 17:47] jkotas commented on #10845
Closing as dup

[2017-04-10 17:47] #10845 closed

[2017-04-10 17:48] jkotas commented on #10832
cc @gkhanna79

[2017-04-10 17:53] #10832 closed

[2017-04-10 17:53] gkhanna79 commented on #10832
Issue moved to [dotnet/core-setup #2016](https://github.com/dotnet/core-setup/issues/2016) via [**ZenHub**](https://www.zenhub.com/)

[2017-04-10 17:58] benaadams commented on #10854
Cli issue? https://github.com/dotnet/cli/issues/6237

[2017-04-10 18:06] danwalmsley commented on #10854
sorry my bad, it was that its a netcore2 app and I didn't realise it was actually using the dotnet 1.0.1 cli on my machine to build it! Amazed that it even works.

[2017-04-10 18:06] #10854 closed

[2017-04-10 18:37] sergign60 opened #10857 "[AMD64 Windows ELT] Some CoreCLR tests fail with ELT hooks enabled and GCStress & TailcallStress"
The following CoreCLR tests fail on Checked build with the following environment
[code]
[code]

used version of coreclr 25169926291fcdcad25506c558690a0f63e61a93 Move files to shared CoreLib partition (#10837)

All results are in the attached file
[TestRun_Windows_NT__x64__Checked.html.txt](https://github.com/dotnet/coreclr/files/911070/TestRun_Windows_NT__x64__Checked.html.txt)

[2017-04-10 18:39] sergign60 commented on #10857
CC: @Dmitri-Botcharnikov @kvochko @janvorli @noahfalk

[2017-04-10 18:39] sergign60 commented on #10857
#7719

[2017-04-10 18:40] gkhanna79 commented on #5510
@richlander @bleroy Are driving this.

[2017-04-10 18:57] lt72 commented on #9166
@mikem8361 FYI, Noah being OOF

[2017-04-10 19:01] AndyAyersMS opened #10858 "JIT: single-def local type propagation is too aggressive"
If multiple values with different (but compatible) types can reach a the definition point of a single-def local, the jit might incorrectly update the type to the type of first reaching value.

This can lead to incorrect devirtualizations.

It's not easy to create this kind of IL with C#, but it is possible:
[code]

[2017-04-10 19:50] reaction1989 commented on #10585
i would tackle this. If someone wanna assign me

[2017-04-10 19:55] pgavlin commented on #10585
@reaction1989: I don't think we can formally assign you since you're not affiliated with any of the required GitHub organizations, but feel free to take this on in any case. Thanks!

[2017-04-10 21:12] sdmaclea commented on #9517
All tests are failing when using native images from crossgen (generated on a 64k page machine)  Looks like either crossgen and/or the native image loader needs to be updated as well.

[2017-04-10 21:57] bleroy opened #10868 "Produce and upload symbols for Linux"
We need to produce (and sign):

- [x] Portable PDBs (same as Windows)
- [n/a] Windows PDBs converted from Portable PDBs (same as Windows) (use converter tool)
- [x] DWARF symbols from native libraries (e.g. CoreCLR.so)
- [x] DWARF symbols from CrossGen, when available/possible (currently not possible, symbols generation should be implemented with equivalent of /createPDB command in CrossGen)

We t

[2017-04-10 21:58] bleroy commented on #10868
cc @lt72

[2017-04-10 22:00] bleroy commented on #10868
Related: #10419

[2017-04-10 22:13] danmosemsft commented on #2834
@janvorli great, I was just going through issues marked 2.0 that weren't clearly 2.0 work. If this is done, I'll close.

[2017-04-10 22:13] #2834 closed

[2017-04-10 22:13] danmosemsft commented on #2834
@gkhanna79 fyi.

[2017-04-10 22:20] adiaaida opened #10870 "Remove specified version for jit32 perf testing"
The x86 jit package stopped including compatjit.dll, so #10865 fixes us to the last known good package. Once the pipeline build is fixed, remove this specified version.

[2017-04-10 22:28] bleroy opened #10872 "Produce and upload symbols for macOS"
We need to produce (and sign):

- [x] Portable PDBs (same as Windows)
- [n/a] Windows PDBs converted from Portable PDBs (same as Windows)
- [x] DWARF symbols from native libraries (e.g. CoreCLR.dylib)
- [x] DWARF symbols from CrossGen, if available/possible

We then need to upload those to:

- [x] [SymWeb](http://symweb)
- [x] Msdl (automate)
- [x] Download Center

cc @lt72

[2017-04-10 22:30] bleroy opened #10873 "Produce and upload symbols for Windows"
We need to produce (and sign):

- [x] Portable PDBs
- [x] Windows PDBs converted from Portable PDBs
- [x] PDB symbols from native libraries (e.g. CoreCLR.dll)
- [x] PDB symbols from CrossGen, if available/possible

We then need to upload those to:

- [x] [SymWeb](http://symweb) (automate)
- [x] [Msdl](http://msdl.microsoft.com/download/symbols) (automate)
- [x] Download Center (automate)

cc @lt72

[2017-04-10 22:51] jkotas commented on #10836
I have submitted a fix fort this one.

CoreRT may be better factored for this scenario. (Though, we are working towards sharing large part of CoreLib between CoreCLR and CoreRT so it should not really matter.)

[2017-04-10 22:51] #10836 closed

[2017-04-10 22:52] jkotas commented on #10836
Fixed by #10839

[2017-04-10 22:52] pharring opened #10874 "Marshal.GetExceptionPointers in .Net Core"
We would like to use System.Runtime.Interopservices.Marshal.GetExceptionPointers() in a .Net core library to capture exception information.

@gkhanna79 Could it be added to .Net Core?

[2017-04-10 22:55] #10624 closed

[2017-04-10 22:57] #10590 closed

[2017-04-10 23:22] gkhanna79 commented on #10874
@terrajobst @weshaggard @yizhang82 Can you help with this?

[2017-04-10 23:44] yizhang82 commented on #10874
@pharring Can you help us understand the scenario that you need this for your library?

[2017-04-10 23:49] yizhang82 commented on #10874
@pharring Never mind. I saw the mail. Let's have the conversation there.

[2017-04-11 00:14] mmaguigan commented on #10802
@danmosemsft, I'll have to check. I'm very disappointed to see that the problem "went away" and I am not entirely sure what changed environmentally after dealing with it for almost two days. Until I am able to reproduce it again, I'd say let's close this and if I come up with a reproduction I'll try and isolate it in some code I can share and we can re-open.

[2017-04-11 00:19] #10870 closed

[2017-04-11 00:34] danmosemsft commented on #10802
OK. Feel free to close/reopen as needed

[2017-04-11 00:34] #10802 closed

[2017-04-11 01:53] scott-xu commented on #10843
@jkotas thanks for the confirmation. Looking forward the fix.

[2017-04-11 02:19] sjsinju commented on #10762
@mskvortsov I fixed the assertion of bitpostion by #10789.
Thanks for your comments.

[2017-04-11 03:49] jkotas opened #10883 "Optimize native code size of Dictionary methods"
From https://github.com/dotnet/coreclr/pull/10203#discussion_r110810331

I have glanced over the native code generated for `Dictionary<int,int>.Remove`. The CSE for `entry[i]` kicks in some cases, but not others. If you cache `ref Entry entry = ref entries[i];` at the start of the loop and replace all 9 occurrences of `entries[i]` with it, the native code generated for this method should be approx

[2017-04-11 03:54] sandreenko commented on #9948
Fixed #10215

[2017-04-11 03:54] #9948 closed

[2017-04-11 03:54] lemmaa commented on #10848
@jkotas , Thank you! You are right. I separated the warm up time and got the following result.

## .NET Linux-x64
[code]

## mono Linux-x64
[code]
Also, .NET Core seems to generate better quality code than mono.

However, there are still strange differences in arm32. In armel, unlike x64 or armhf, the ratio of jitting time to execution time is different. It seems to be the difference between armhf

[2017-04-11 07:20] omariom commented on #10883
We can already use C# 7 in coreclr and corefx!?

[2017-04-11 07:21] jkotas commented on #10883
Yes, for a while already.

[2017-04-11 07:41] MihaMarkic commented on #3977
@nrandell Is that a fact written down somewhere? I mean no ARM docker images from MS.

[2017-04-11 07:54] Liriel commented on #10849
same here - can't tie the error to `PreserveCompilationContext` though
looks like this is a windows only problem, works on my linux box (both build 2.0.0-preview1-005683)

[2017-04-11 08:28] danwalmsley commented on #10849
@Liriel do you think the issue is with running on Windows, or with compiling on Windows?

[2017-04-11 08:28] davidfowl commented on #10849
Can you move this bug to https://github.com/aspnet/MvcPrecompilation

[2017-04-11 08:31] danwalmsley commented on #10849
@davidfowl can do, although my issue is with a non-mvc application, is the issue still valid there?

[2017-04-11 08:39] davidfowl commented on #10849
Ah no, maybe dotnet/sdk is more appropriate.

[2017-04-11 08:49] Liriel commented on #10849
@danwalmsley: the error is thrown when calling `dotnet run` building works fine in both environments

[2017-04-11 08:49] nrandell commented on #3977
@MihaMarkic have a look at [https://github.com/dotnet/dotnet-docker/issues/223](https://github.com/dotnet/dotnet-docker/issues/223). I guess this is as official as it gets.

[2017-04-11 08:58] sergign60 commented on #10857
#10765

[2017-04-11 08:58] sergign60 commented on #10765
#10857

[2017-04-11 09:59] danwalmsley commented on #10849
https://github.com/dotnet/sdk/issues/1111

[2017-04-11 12:44] fujiy opened #10890 "Build with VS 2017 only doesn't work"
I followed the instructions mentioned here: https://github.com/dotnet/coreclr/blob/master/Documentation/building/windows-instructions.md for Visual Studio 2017.

I don't have VS 2015.

When calling build from Developer Command Prompt  for VS 2017 I receive this error:

[code]

[2017-04-11 15:46] sdmaclea commented on #9517
I was able to get crossgen to work

I ran full regression on #10891 .  There are 76 tests failing with segmentation fault out of 10600+.  Investigating

[2017-04-11 16:46] weshaggard commented on #9204
FYI - ArgIterator has been removed from the standard https://github.com/dotnet/standard/commit/52651e78ac329c56fb59cebf5b24174f25acb070.

[2017-04-11 17:32] sdmaclea commented on #9517
I looked at one failure, it was happening in the GC as it was trying to increase the heap allocation.  Since this is happening with the GC hacked to think think the OS page size is 4K, I am going to ignore the current errors and switch to using the actual OS page size (since I think this is the intended design).  I will keep the card table at 4K.

[2017-04-11 17:43] surculus12 opened #10895 "Inconsistent behaviour when using static fields and IDisposable"
The following does not seem to be intended or at least consistent behaviour. I have three examples that seem inconsistent with each other. I will paste the `Main()` methods, but the general code is as follows.

[code]

If we call `_ObjectThatDisposes.GetInt()` first, it will return 1. If we follow that by a `using` on `ObjectThatDisposes`, then the next `_ObjectThatDisposes.GetInt()` will return 0

[2017-04-11 17:55] mikedn commented on #10895
In your second example ret1 should be 0, not 1. And in my tests it is 0 as expected.

What version of .NET are you using?

[2017-04-11 18:00] surculus12 commented on #10895
It should be 1.1.1, but this might be a local issue for me then.

I'll run this on a 1.1.1 Docker instance to verify that this is no longer an issue.

[2017-04-11 18:00] mikedn commented on #10895
Thanks for the info, see my updated post.

[2017-04-11 18:18] surculus12 commented on #10895
I have verified that this is happening using the [latest .net version](https://github.com/dotnet/dotnet-docker/blob/master/1.1/debian/sdk/Dockerfile) inside a Docker container.

From your edit I gather that this is due to some form of optimization?: Don't initialize the static fields until you need to.

[2017-04-11 18:33] mikedn commented on #10895
Yes, it's a form of optimization that the CLR offers and that the C# language takes advantage of.

C# spec 10.5.5.1 Static field initialization:

Note how this is different from the way static constructors are run:

C# spec 10.2 Static constructors:

So if you really need that code to behave in a consistent manner you could add a static constructor and move the initialization of `_ObjectThatDispos

[2017-04-11 18:46] surculus12 commented on #10895
Nah, the field I found this behaviour through shouldn't have been static to begin with, so this is a non-issue for me.

Since this is defined behaviour (although, indeed, very much gotcha), I'll close the issue.

Thanks for the explanation!

[2017-04-11 18:46] #10895 closed

[2017-04-11 18:49] mikedn commented on #7566
I played a bit with this and it looks like there aren't many opportunities in jitdiff fx:
[code]
But it's pretty cheap to implement so maybe one day...

[2017-04-11 19:05] JosephTremoulet commented on #9633
I can see from the asm pastes above that @mikedn was looking at `ReadOnlySpan<int>`, but I can't see what the type argument was in @benaadams' dump.  I'm guessing it was a reference type, hence the generic sharing issues having a chance to surface in the one case but not the other.

And indeed when I look at ReadOnlySpan..ctor with current coreclr/jit sources, I see the extra indirections in `Read

[2017-04-11 19:22] danmosemsft opened #10897 "Tizen CI failed with cannot find corerun"
https://ci.dot.net/job/dotnet_coreclr/job/master/job/armel_cross_debug_tizen_prtest/946/console
[code]

[2017-04-11 19:24] danmosemsft commented on #10890
Can you try "clean -all" from the root, then try again?

[2017-04-11 19:37] ulfendk opened #10898 "Encoding.UTF8.GetString() when running in Docker is broken"
With a fresh ASP .NET Core project created using `dotnet new mvc` and later opened in VS2017, from where I added Docker support (all packages are the latest - mostly v1.1.1).

Calling a RESTful endpoint which returns UTF-8, the following code works, when launched via IISExpress but not via Docker (the `docker-compose` project in VS2017).

It does not decode e.g. `ø` (195 184) correctly - instead i

[2017-04-11 19:50] sdmaclea commented on #9517
I pushed an additional patch to #10891 to use 64K pages with GC.  With that version, test run looked pretty clean.

[2017-04-11 19:53] danmosemsft commented on #10897
Comes from https://github.com/dotnet/coreclr/pull/10886
@hseok-oh
@BruceForstall @gkhanna79 is it reasonable to ignore tizen failures for corelib work?

[2017-04-11 20:41] gkhanna79 commented on #10897
@hseok-oh @hqueue @jyoungyun Can you please look into this at the earliest as this is blocking clean CI?

@danmosemsft Yes, please ignore Tizen failures until this is resolved.

[2017-04-11 20:44] danmosemsft commented on #10897
Maybe we should have a procedure, that after any update netci.groovy, one must check the next PR someone queues (as ones own PR will not validate the change properly)

[2017-04-11 21:07] lt72 opened #10900 "Change SOS publish to use portable RIDs rather than distro specific RIDs."
We have recently enabled building the product (nuget packages, binaries as applicable and installers) for portable RIDs (e.g. win-x64, osx-64) as opposed to distro specific RIDs (e.g. win7-x64). For this, the packages are also produced with the same RID. However, I notice (https://github.com/dotnet/coreclr/blob/master/src/ToolBox/SOS/NETCore/project.json#L9) that SOS.NETCore is published for netco

[2017-04-11 21:31] #10858 closed

[2017-04-11 21:51] JosephTremoulet commented on #9633
I was wrong when I said "nothing in that part of the phase list is doing that sort of analysis" -- the subsequent `fgLocalVarLiveness` pass does identify and remove dead local stores, but it's getting blocked here because the final load has `GTF_ASG` set for some reason...

[2017-04-11 21:59] RussKeldorph commented on #2305
@ranma42 Awesome! The fact that btyacc can be used without changes is great news.  At the very least people will be able to test changes to asmparse.y before submitting a PR.

@mmitche @markwilkie @gkhanna79 This is a case where we would want to integrate a new tool into the coreclr build system, but we'd prefer not to add a "machine prep" dependency and instead have the coreclr  build pull down t

[2017-04-11 23:59] hseok-oh commented on #10897
It occurs because corefx build result for tizen doesn't have corerun. So we should not do 'chmod' for tizen.

[2017-04-12 00:43] danmosemsft commented on #7962
@valenis @DrewScoggins is this still in your plan for 2.0? If not please move to Future.

[2017-04-12 00:43] #7387 closed

[2017-04-12 00:43] danmosemsft commented on #7387
Please reopen if not sufficient..

[2017-04-12 00:44] danmosemsft commented on #8782
@brianrob is this resolved? If so please close. Otherwise please move to Future if appropriate

[2017-04-12 00:44] danmosemsft commented on #9314
@valenis @DrewScoggins @wtgodbe is still still in the 2.0 plans? If not please move to Fture.

[2017-04-12 00:45] danmosemsft commented on #9531
@RussKeldorph is this still expected for the 2.0 release? maybe should move to Future?

[2017-04-12 00:45] danmosemsft commented on #9531
I'm going to be bold..

[2017-04-12 00:46] danmosemsft commented on #8027
@valenis @DrewScoggins is this planned for the 2.0 release? if not please move to future.

[2017-04-12 00:48] danmosemsft commented on #8323
@svick works for me in final release. please reopen if still issues.

[2017-04-12 00:48] #8323 closed

[2017-04-12 00:49] JosephTremoulet commented on #9633
The `GTF_ASG` gets added during CSE; we have this coming in, and the indir in question is the 3rd-level one, [000029]:

[code]

The inner expression marked CSE #<cse>03 becomes a comma that includes an assign to the temp introduced for CSEing it, and the load load inherits the `GTF_ASG` flag:

[code]

The tree persists in that form until rationalize, where we unpack the comma but don't clean up th

[2017-04-12 00:49] danmosemsft commented on #8192
@sdmaclea @jashook is this plannedfor the 2.0 release? if not please move to future.

[2017-04-12 00:49] danmosemsft commented on #8974
@gkhanna79 @chcosta is anyone taking this on for 2.0? if not we should move it out.

[2017-04-12 00:50] danmosemsft commented on #8441
I'm going to close since no reply, please reopen if still issues.

[2017-04-12 00:50] #8441 closed

[2017-04-12 00:50] danmosemsft commented on #10680
@sdmaclea is this still an issue? seems you fixed it? (i didn't try)

[2017-04-12 00:51] danmosemsft commented on #10093
@BruceForstall is this reasonable to move to Future?

[2017-04-12 00:51] danmosemsft commented on #9968
@stephentoub seems fixed..

[2017-04-12 00:58] BruceForstall commented on #10093
Yes. Done.

[2017-04-12 00:59] gkhanna79 commented on #10897
Thank you. Can you please look into getting a proper fix for this?

Thanks,
Gaurav
________________________________
From: Hyeongseok Oh <notifications@github.com>
Sent: Apr 11, 2017 4:59 PM
To: dotnet/coreclr
Cc: Gaurav Khanna (CLR); Mention
Subject: Re: [dotnet/coreclr] Tizen CI failed with cannot find corerun (#10897)

It occurs because corefx build result for tizen doesn't have corerun. So we s

[2017-04-12 01:39] sdmaclea commented on #9531
@wtgodbe I just saw there was already a list of reasons test fails, https://github.com/dotnet/coreclr/blob/master/tests/issues.targets in your comment to another PR today.  It also sounded like these Linux files are planned to be obsoleted.  Is this still a useful idea or does it just create extra maintenance burden?

[2017-04-12 01:41] sdmaclea commented on #10680
@danmosemsft This can be closed it was fixed by #10697

[2017-04-12 02:00] #10680 closed

[2017-04-12 03:05] mazong1123 commented on #5717
Anyone working on this? If not, I'm willing to help.

[2017-04-12 03:25] danmosemsft commented on #5717
@mazong1123 go for it! @karelz can you please assign to @mazong1123

[2017-04-12 04:26] stephentoub commented on #9968
@danmosemsft, the problems I called it here https://github.com/dotnet/coreclr/pull/10021#issuecomment-285029233 are still problems.

[2017-04-12 05:17] wtgodbe commented on #9531
I think a good start would be to get everything folded into issues.targets, then see if we can come up with a better solution from there

[2017-04-12 06:19] PhoebeHui opened #10915 "CoreCLR failed with error c4596 when build in conformance mode (/permissive-)"
I build CoreCLR with Visual studio 2017 RTW in conformance mode (/permissive-) on Windows, it failed with error C4596, The changes involved by
https://github.com/dotnet/coreclr/commit/a387696646a1aa7413c2082a430845844e496313
This issue on https://github.com/dotnet/coreclr/blob/master/src/vm/sampleprofiler.h#L27

Could you help remove the redundant "SampleProfiler::" on ThreadProc. The compiler com

[2017-04-12 07:25] mazong1123 commented on #5717
@erozenfeld I just went through the code and found the Utc converting is based on `previousRule`:
https://github.com/dotnet/coreclr/blob/f355c5789d5d7cd6ea10bee326c66f04641cfc90/src/mscorlib/src/System/TimeZoneInfo.cs#L1110-L1112

I may misunderstand something but seems like to move the converting out of `CompareAdjustmentRuleToDateTime` and keep the logic, we should ensure each rule has same `Day

[2017-04-12 08:57] wateret commented on #10599
@janvorli Thank you for your answer. Here are my thoughts.

Yes, it would solve the problem but AFAIK we are trying to enable FEATURE_FIXED_OUT_ARGS for stable 16-byte stack alignment. I am not aware of the detailed background, but this approach would be pretty much same with non-fixed-out-arg case since it manipulates SP after function prolog.

It seems like X86 GCInfo doesn't have a structure fo

[2017-04-12 09:35] fanoI commented on #7083
I'm asking myself but to make more compact the String type the problem does not lie in the Char type in reality? It would be possible to encode Char in UTF-8?

Doing this we get:

1. ASCII character occupy effectively 1 Byte
2. Latin1 characters (as 'è') will occupy 2 Bytes
3. It will permit to express characters that now are not accepted as '丽' (0xf0afa080)
4. String does not change will remains

[2017-04-12 10:20] mazong1123 commented on #5717
Another performance improvement for DateTime.Now is leveraging the fact we live at the time after `1991-09-14`. `1991-09-14` is the last adjustment rule so if user calling DateTime.Now, we are likely to fall into the last adjustment rule's range. So if we just add following code before the binary search:

[code]

The performance gain for `DateTime.Now` is dramatic. I've borrowed the microbenchmark

[2017-04-12 10:43] MihaMarkic commented on #3977
@nrandell  So, they'll provide one for .net core 2.0 eventually but skip 1.x.

[2017-04-12 11:36] #5056 closed

[2017-04-12 13:51] #10897 closed

[2017-04-12 14:42] brianrob commented on #8782
Will close this for now.  @j33zy, please let me know if you have additional questions here.

[2017-04-12 14:42] #8782 closed

[2017-04-12 14:54] stager13 opened #10918 "Thread.Sleep behaves incorrectly on Linux if system time changes while thread sleeps"
Steps to reproduce:

Compile the following program:

[code]

Run it and set system time to some time back (for example 10 minutes)
Thread.Sleep hangs instead of waking up each 5 seconds. I couldn't reproduce this problem on Windows, this code runs fine there. So it is platform-dependent. I also observed similar problem with AutoResetEvent.WaitOne(timeout) call under Linux.

OS version: Ubuntu 16.1

[2017-04-12 15:05] jschwartzenberg commented on #4332
It seems the build script doesn't work well for ARM. When I run it on Arch like this:
[code]

It still shows:
[code]

[2017-04-12 15:21] gkhanna79 commented on #10353
This is done.

[2017-04-12 15:21] #10353 closed

[2017-04-12 15:24] gkhanna79 commented on #9709
@wtgodbe Can this be closed?

[2017-04-12 15:29] gkhanna79 commented on #6206
@danmosemsft Is this for 2.0?

[2017-04-12 15:31] fanoI commented on #7083
On second though the field 'data' could be declared as Span<byte> so we have safe code and the effect of it to have size 1 byte, 2 bytes, 3 bytes or 4 bytes as needed for the Char represented.

[2017-04-12 15:31] gkhanna79 commented on #5138
@kouvel Can you PTAL?

[2017-04-12 15:32] gkhanna79 commented on #4366
Closing since this is done.

[2017-04-12 15:32] #4366 closed

[2017-04-12 15:33] gkhanna79 commented on #2484
@janvorli Could you PTAL?

[2017-04-12 15:38] gkhanna79 commented on #3636
Closing since this is no longer required.

[2017-04-12 15:38] #3636 closed

[2017-04-12 15:42] danmosemsft commented on #6206
I don't see it as essential. I see there's a potential fix in progress, so it may get fixed for 2.0.
@stephentoub @AlexGhiondea please push back if appropriate.

[2017-04-12 15:44] tarekgh commented on #5717
CC @eerhardt

[2017-04-12 15:47] AtsushiKan commented on #8794
With .NS2.0, MemberInfo.GetCustomAttributes() is returning, so this won't be such a problem.

[2017-04-12 15:47] #8794 closed

[2017-04-12 15:54] ViktorHofer opened #10920 "AppDomain.CurrentDomain.BaseDirectory does not end with a slash on Core"
`AppDomain.CurrentDomain.BaseDirectory` does not contain a slash at the end. Failing test in corefx with targetgroup **netfx** here: https://github.com/dotnet/corefx/issues/18196

console output netfx:
`C:\Users\vikto\Documents\src\corefx\bin\AnyOS.AnyCPU.Debug\System.Configuration.ConfigurationManager.Tests\netstandard\`

console output (preview-2 bits) core:
`C:\Users\vikto\Documents\src\corefx\

[2017-04-12 16:00] #10793 closed

[2017-04-12 16:02] janvorli commented on #4332
@jschwartzenberg are you running on armv7 or armv8 device like RPi2 or 3? We don't support anything else due to the different instruction encoding and the armv6l from your message seems to indicate that it is RPi1 or RPi Zero or some other ARM board with armv6.

[2017-04-12 16:02] #10405 closed

[2017-04-12 16:04] gkhanna79 commented on #6206
@danmosemsft Please assign to whoever is driving the fix.

[2017-04-12 16:07] jkotas commented on #6206
This is CoreCLR bug. @mazong1123 submitted CoreCLR with the proposed fix. @janvorli and me are reviewers.

[2017-04-12 16:23] jschwartzenberg commented on #4332
@janvorli you're right, it's a RPi1. I guess it would be nice if the script could detect that case and point out it's not supported (for now?).

[2017-04-12 16:33] danmosemsft commented on #6206
Yep. @karelz can you please add @mazong1123 so he can be assigned this.

[2017-04-12 16:40] jnm2 commented on #7083
@fanoI I do not believe the CLR has a facility for two instances of the same type to be different sizes.

[2017-04-12 16:44] danmosemsft commented on #6206
OK @mazong1123 when you accept the invite I can assign you issues. You may get an invite for corefx also.

[2017-04-12 16:53] danmosemsft commented on #10920
@gkhanna79 where would the fix be, on the managed side or native (fusion side)?

[2017-04-12 16:55] danmosemsft commented on #10646
@MichalStrehovsky @gkhanna79 should this be fixed in the VM side? The copying seems to be done there.

[2017-04-12 16:55] danmosemsft commented on #8214
Issue moved to [dotnet/docs #1888](https://github.com/dotnet/docs/issues/1888) via [**ZenHub**](https://www.zenhub.com/)

[2017-04-12 16:55] #8214 closed

[2017-04-12 17:02] MichalStrehovsky commented on #10646
I assume it should do the check/throw from the same place that the "copy IntPtr[]` to `int*[]`" throws.

My guess is somewhere in `src\classlibnative\bcltype\arraynative.cpp` (i.e. not VM) but I'm not a CoreCLR dev and I didn't step through it.

[2017-04-12 17:11] whoisj commented on #7083
Use of `Span<byte>` seems to be most creative solution. 😄

Perhaps we'll need to make `char` 32-bits like it is in many Linux projects. :persevere:

[2017-04-12 17:12] #9481 closed

[2017-04-12 17:15] gkhanna79 commented on #10646
@MichalStrehovsky is possibly right about where the fix might be but someone should debug it to ensure the right thing happens. Do you have someone to look into this? If not, I can see if someone on my team can help.

[2017-04-12 17:17] gkhanna79 commented on #10920
There is no fusion in CoreCLR. Depending upon how the API is plumbed, it could be in either managed or native.

[2017-04-12 17:34] #10521 closed

[2017-04-12 17:36] ruben-ayrapetyan commented on #10701
@janvorli @jkotas

Thank you for your comments.

As I understand, it seems necessary to enable the assertions sooner or later.
However, currently, this doesn't noticeably reduce testing coverage, so this is not high priority for now.

[2017-04-12 17:37] jhudsoncedaron commented on #7812
I just got here with the same problem.

[2017-04-12 17:54] mikedn commented on #7083
Well, it's quite simple: you don't. If changing `char` was actually a possibility then the only reasonable option would be to make it 4 bytes in size so it can actually represent a code point.

Anyway, any attempt at changing the `String` encoding in such a way that chars are no longer fixed size is doomed to fail.

[2017-04-12 18:00] janvorli commented on #10918
I suspect we are using waits with absolute timeouts for synchronization primitives and use realtime clock source (don't set monotonic source explicitly). I remember I had to handle that when I was designing and implementing the event object for CoreRT PAL.

[2017-04-12 18:38] wtgodbe commented on #9709
Yes

[2017-04-12 18:38] #9709 closed

[2017-04-12 18:51] Pothulapati commented on #10890
@danmosemsft  Iam getting the exact same error when I try to Build. I also tried `clean -all` before doing `build` but I get the same error .

[2017-04-12 18:56] danmosemsft commented on #10890
does this file exist? <corefx>\Tools/net46/Microsoft.DotNet.Build.Tasks.dll

[2017-04-12 19:17] fanoI commented on #7083
If I understood well how a Span works effectively lives in the stack and could have any size is this correct?
I'm unsure if a ``Span<byte> = { 0xf0, 0xaf, 0xa080' }`` will really occupy 2 bytes into the stack or if there is overhead.

@whoisj making Char 4 byte will be not be useful for this proposal to make String more compacts they will become more larges indeed and for interop / unsafe scenario

[2017-04-12 19:18] whoisj commented on #7083
Yes yes, of course - I was being pedantic. 😏

[2017-04-12 19:55] mikedn commented on #7083
Like pretty much all types Span has a fixed size. In general, the idea of a variable sized type is pretty bizarre.

And that implies that char has to have fixed size. You can't have an array of variable sized types.

[2017-04-12 20:12] AlexGhiondea commented on #10920
@gkhanna79 I thought that the host sets this value -- is that true?

[2017-04-12 20:17] mikedn commented on #10883
You can assign to me

[2017-04-12 20:17] gkhanna79 commented on #10920
Feel free to move to Core-Setup and assign to @ramarag if you think the bug is there and not in AD setup code.

[2017-04-12 20:24] AlexGhiondea commented on #10920
I was going off this other comment on a similar issue: https://github.com/dotnet/coreclr/issues/2128#issuecomment-171830617

[2017-04-12 20:30] gkhanna79 commented on #10673
@kouvel PTAL

[2017-04-12 20:36] AlexGhiondea commented on #7892
Yup.

[2017-04-12 20:36] #7892 closed

[2017-04-12 20:42] jkotas commented on #10883
@mikedn Thank you!

[2017-04-12 21:03] svick commented on #8323
Yeah, it opens fine now. Thanks for verifying.

[2017-04-12 21:19] gkhanna79 commented on #9614
@wtgodbe Is this still happening?

[2017-04-12 21:22] gkhanna79 commented on #7103
@jaredpar Is this being targeted for 2.0?

[2017-04-12 21:24] gkhanna79 commented on #5310
@swaroop-sridhar Are you driving the fix for this for 2.0?

[2017-04-12 21:24] jaredpar commented on #7103
@VSadov can you take a look at this?

[2017-04-12 21:29] gkhanna79 commented on #3623
@janvorli Is this something you are still looking into?

[2017-04-12 21:31] gkhanna79 commented on #1986
@janvorli Is this still planned for fixing in 2.0?

[2017-04-12 21:31] gkhanna79 commented on #1952
I presume you are driving this for 2.0 as well @janvorli ?

[2017-04-12 21:31] VSadov commented on #7103
Will take a look. It could be that we do something different, but also could be that reflection behaves differently.

[2017-04-12 21:33] gkhanna79 commented on #5510
This is being driven in Core-Setup repo, so I will close this one.

[2017-04-12 21:33] #5510 closed

[2017-04-12 21:34] janvorli commented on #1986
Yes, I am currently finishing it. I have most of the stuff done.

[2017-04-12 21:37] janvorli commented on #3623
It is something that would be nice to do at some point, but since it can only be triggered by putting incorrect data into the decimal object by reflection and the issue has been there for a very long time, it has currently a low priority on my list.

[2017-04-12 21:37] wtgodbe commented on #9614
It doesn't appear so, there's no failures for this test in the recent history.

[2017-04-12 21:37] #9614 closed

[2017-04-12 21:38] ViktorHofer commented on #10920
I'm not sure if the bug is in coreclr or in core-setup. I hoped you could answer that :)

[2017-04-12 21:38] gkhanna79 commented on #9080
@richlander @ellismg Is there anything actionable here?

[2017-04-12 21:42] janvorli commented on #2484
I've tried to add that option to coreclr build and it results in no symbols exported from the shared libraries at all, even though we have the linker script that explicitly lists functions that should be visible. It looks like the linker script is just a post-filter. So we would also need to add visibility attribute to each function we export.

[2017-04-12 21:43] gkhanna79 commented on #7234
@russellhadley @RussKeldorph What are the next steps here?

[2017-04-12 21:45] gkhanna79 commented on #1259
@janvorli Is this for 2.0?

[2017-04-12 21:47] gkhanna79 commented on #5176
@ellismg @janvorli Is this still actionable?

[2017-04-12 21:48] gkhanna79 commented on #8480
@janvorli Once #9994 is merged, is there anything actionable here?

[2017-04-12 21:57] janvorli commented on #1259
I have it implemented, but I didn't send a PR yet since it seems that testing that it has the expected effect on the memory would be complex and we don't have any existing tests for that. Maybe we should put it in and fully test it after the feature complete date.

[2017-04-12 21:59] janvorli commented on #8480
We need to test it after that to see if it really fully fixed the issue and also try to measure the perf hit.

[2017-04-12 22:01] hadibrais opened #10928 "corerun does not use CORE_ROOT on Linux"
According to the [documentation](https://github.com/dotnet/coreclr/blob/master/Documentation/workflow/UsingCoreRun.md), corerun is supposed to check whether CORE_ROOT is defined to get the directory in which libcoreclr.so and the other CLR libraries reside. Note that it supports the -c switch for the same purpose.

By going through the source code of the Windows and macOS corerun, it seems that th

[2017-04-12 22:05] gkhanna79 commented on #8749
Closing since there are no repro details. Please feel free to reopen once a repro is available.

[2017-04-12 22:05] #8749 closed

[2017-04-12 22:06] janvorli commented on #1952
I was thinking about it multiple times in the past and I think we should just drop this. I cannot see a reasonable way to write a regression test for this, since the issue was caused by incorrect processing of multiple native TRY / CATCH blocks embedded in each other in single frame in a special case that I don't know how to induce by a managed app, since it stemmed from an exception thrown from t

[2017-04-12 22:08] gkhanna79 commented on #6707
@rahku Can you PTAL?

[2017-04-12 22:09] #1952 closed

[2017-04-12 22:13] gkhanna79 commented on #1712
@jaredpar Is this being targeted for 2.0? If not, can you please move this out?

[2017-04-12 22:14] gkhanna79 commented on #5721
@brianrob Is this being targeted for 2.0?

[2017-04-12 22:16] brianrob commented on #5721
I believe this belongs to @lt72 now.

[2017-04-12 22:21] gkhanna79 commented on #9968
Assigning to @stephentoub who has a PR out for this.

[2017-04-12 22:22] gkhanna79 commented on #9884
@chcosta Do you have ETA on this?

[2017-04-12 22:23] gkhanna79 commented on #9740
@wtgodbe Is this done with the checked in build definition changes?

[2017-04-12 22:23] #9968 closed

[2017-04-12 22:23] gkhanna79 commented on #9257
This is done, so closing.

[2017-04-12 22:23] #9257 closed

[2017-04-12 22:25] wtgodbe commented on #9740
Yes, closing

[2017-04-12 22:25] #9740 closed

[2017-04-12 22:28] wtgodbe commented on #3386
This has been resolved

[2017-04-12 22:28] #3386 closed

[2017-04-12 22:33] ellismg commented on #9080
We should change the license file in our packages away from the .NET Library License and to the MIT license.

Do we bundle any external code that's not MIT licensed as part of any of the builds (I could imagine that for windows we end up pulling in some windows PDB stuff that is not open source).

[2017-04-12 22:51] chcosta commented on #9884
I was waiting on dotnet/corefx#14595.  Now that the work for that has transferred to me, it's blocked on the other work I have in progress which is moving Core-Setup to BuildTools.  That will be a major change to the Core-Setup repo.  I'm working on updating the official build definitions to produce official builds for the new BuildTools version, I think that work will take another week to get val

[2017-04-12 23:15] gkhanna79 commented on #6166
@lt72 Is this happening for 2.0? If not, can you please move this to future?

[2017-04-12 23:15] gkhanna79 commented on #6165
@lt72 Is this happening for 2.0? If not, can you please move this to future?

[2017-04-12 23:16] gkhanna79 commented on #5834
@ericstj Is this actionable?

[2017-04-12 23:17] gkhanna79 commented on #3078
@ericstj Is this actionable or can it be closed?

[2017-04-12 23:18] gkhanna79 commented on #3789
Closing this as much of the work is done or tracked by other issues.

[2017-04-12 23:18] #3789 closed

[2017-04-12 23:33] gkhanna79 commented on #10094
@BruceForstall Is this still active?

[2017-04-12 23:40] jkotas commented on #10915
@PhoebeHui Would you like to submit a PR with the fix?

[2017-04-13 00:29] parjong commented on #9265
fa7293aa828 finally resolves most of unittest failrues except 2 readytorun tests:
[code]

Several tests are excluded from the above result.

4 tests based on Windows-specific struct layout rule (#10340)
 - Interop/MarshalAPI/OffsetOf/OffsetOf/OffsetOf.sh
 - JIT/Directed/RVAInit/nested/nested.sh
 - JIT/Directed/RVAInit/simple/simple.sh
 - JIT/Regression/CLR-x86-JIT/V1.2-Beta1/b103058/b103058/b10305

[2017-04-13 01:24] weshaggard commented on #3636
Did we remove the dependency from the runtime package already?

[2017-04-13 01:25] weshaggard commented on #4366
Nevermind my question on the other issue as this is the issue that removed the apiset dependency from the runtime package.

[2017-04-13 01:26] weshaggard commented on #4366
Although it would be good to link to the actual change that fixed this.

[2017-04-13 01:41] ragmani opened #10931 "[x86/Linux] ReadyToRun TCs fail, again."
[code]

[2017-04-13 01:43] gkhanna79 commented on #3636
I believe the apiset package dependency was removed from coreclr package as part of the apiset cleanup work that was done by John Chen.  Nothing was ever moved to m.n.app as it was not required.

Is that something you didn't expect @weshaggard?

Thanks,
Gaurav
________________________________
From: Wes Haggard <notifications@github.com>
Sent: Apr 12, 2017 6:25 PM
To: dotnet/coreclr
Cc: Gaurav Khan

[2017-04-13 01:44] ragmani commented on #10931
This is a problem similar to [#10383](https://github.com/dotnet/coreclr/pull/10383).

[2017-04-13 01:58] mazong1123 commented on #6206
@danmosemsft I've accepted the invitation. Thanks!

[2017-04-13 02:28] wateret commented on #10012
@BruceForstall

@janvorli and I had similar discussion. After I did some investigation on that, [here](https://github.com/dotnet/coreclr/issues/10599#issuecomment-293516071) is my conclusion for that (which is basically no easy way to support for fixed out args). It would be glad if you have any opinion on that.

[2017-04-13 03:53] weshaggard commented on #3636
I expected this now and I also commented on the other issue specifically tracking that work.

[2017-04-13 04:11] danmosemsft commented on #6206
Welcome aboart @mazong1123 !

[2017-04-13 04:14] ragmani commented on #10931
after #10932.
[code]

It seems that the stack alignment(16 bytes) is broken at "call   *0x300010c8" and "call   *0x300010d0".
[code]

[2017-04-13 04:14] danmosemsft commented on #10928
I don't see a reason for that. Do you want to submit a PR, @hadibrais ?

[2017-04-13 04:18] danmosemsft commented on #10898
@tarekgh thoughts? 2.0?

[2017-04-13 04:23] danmosemsft commented on #10717
@DamianEdwards where do IIS Express issues go?

[2017-04-13 04:26] DamianEdwards commented on #10717
Best place is likely at https://github.com/aspnet/AspNetCoreModule
IIS Express itself isn't open source so doesn't have its own repo, but this will raise it with the right people and is related.

[2017-04-13 04:28] danmosemsft commented on #10849
OK since it's moved i'll close.

[2017-04-13 04:28] #10849 closed

[2017-04-13 04:29] danmosemsft commented on #10452
I'll close this given there's no reply @JohnGorter feel free to reopen.

[2017-04-13 04:29] #10452 closed

[2017-04-13 04:32] danmosemsft commented on #7263
@leecow what is necessary here ? is this for 2.0? please set milestone

[2017-04-13 04:33] danmosemsft commented on #6023
Tihs seems answered. feel free to reopen if not.

[2017-04-13 04:33] #6023 closed

[2017-04-13 04:33] danmosemsft commented on #5870
@CarolEidt would it make sense to close this now?

[2017-04-13 04:34] danmosemsft commented on #4910
This issue seems stale now. Closing, feel free to reopen if needed.

[2017-04-13 04:34] #4910 closed

[2017-04-13 04:35] danmosemsft commented on #6814
In general if there are poor comments, or missing comments, feel free to submit a PR to correct them.

[2017-04-13 04:35] #6814 closed

[2017-04-13 04:37] danmosemsft commented on #7053
This discussion seems to have ended. Feel free to reopen..

[2017-04-13 04:37] #7053 closed

[2017-04-13 04:38] danmosemsft commented on #7243
Moving to corefx as this is an api request.

[2017-04-13 04:38] #7243 closed

[2017-04-13 04:38] danmosemsft commented on #7243
Issue moved to [dotnet/corefx #18304](https://github.com/dotnet/corefx/issues/18304) via [**ZenHub**](https://www.zenhub.com/)

[2017-04-13 04:41] ragmani commented on #10931
This is "call   *0x300010c8"
[code]

[2017-04-13 04:42] danmosemsft commented on #7351
@jkotas do you believe there is work necessary here or should we close ?

[2017-04-13 04:42] ragmani commented on #10931
This is "call   *0x300010d0"
[code]

[2017-04-13 04:43] ragmani commented on #10931
cc @parjong

[2017-04-13 04:43] danmosemsft commented on #7331
@rahku can you set miletsone please

[2017-04-13 04:44] danmosemsft commented on #10753
@gkhanna79 please set milestone.

[2017-04-13 04:44] danmosemsft commented on #10380
@ruben-ayrapetyan as i read it this is answered now; please reopen if not.

[2017-04-13 04:44] #10380 closed

[2017-04-13 04:45] danmosemsft commented on #10288
As the standard is undefined this seems Future.

[2017-04-13 04:46] danmosemsft commented on #10618
@gkhanna79 where do ILASM issues go - what area, who owns it?

[2017-04-13 04:50] parjong commented on #10931
#10410 seems to be related. There may be some readytorun helpers (and thunks) that still use STDCALL (instead of CDECL).

[2017-04-13 05:07] gkhanna79 commented on #10618
Area-codegen and  Russ keldorph.

Thanks,
Gaurav
________________________________
From: Dan Moseley <notifications@github.com>
Sent: Apr 12, 2017 9:46 PM
To: dotnet/coreclr
Cc: Gaurav Khanna (CLR); Mention
Subject: Re: [dotnet/coreclr] ILAsm: Certain fundamental types may have their assembly references changed (#10618)

@gkhanna79<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgi

[2017-04-13 05:47] wateret commented on #10599
Looks like the 3rd option is the most suitable since it requires minimal changes.

[2017-04-13 05:49] JohnGorter commented on #10452
Yes. This issue can be closed! Sorry for the late reply, missed the previous question. Thnx!

[2017-04-13 05:53] AlexTeixeira opened #10934 "The configured 'coreclr' debugging type is not supported asp.net core MacOs"
Hello,

I'm trying to launch on Debug mode an asp.net application created in Windows in MacOs.

When I launch my application using _Fn + F5_ Visual Studio Code raise this error :

`dotnet --info`

[code]

[2017-04-13 06:25] jkotas commented on #7351
I think this can be closed.

The performance overhead of the extra xor is neglible, and there is a non-zero chance that programs and libraries out there took a hard dependency on the exact hash algorithm used for primitive types.

It has been like that forever (went back to 2001).

[2017-04-13 06:25] #7351 closed

[2017-04-13 06:46] yizhang82 commented on #9953
I believe @janvorli has already addressed the message update in https://github.com/dotnet/coreclr/pull/10692.
@blackdwarf are you going to update the doc?

[2017-04-13 06:48] yizhang82 commented on #4195
It's unlikely that we'll address this for 2.0.0.

[2017-04-13 06:57] BruceForstall commented on #10094
@gkhanna79 Yes, the issue still exists as far as I know.

[2017-04-13 06:58] yizhang82 commented on #5790
THis is mostly a dup of https://github.com/dotnet/coreclr/issues/5790. RegAsm issue should be tracked separately as it is a entirely new feature

[2017-04-13 06:58] #5790 closed

[2017-04-13 07:03] #10187 closed

[2017-04-13 07:14] yizhang82 commented on #6605
This has very little value in fixing since we don't support COM interop in non-windows - moving to future.

[2017-04-13 07:41] mikem8361 commented on #10418
PR #10902

[2017-04-13 09:45] janvorli commented on #10599
I'd prefer a minimal change option, so if the 3rd one is doable, let's try to go that way first.

[2017-04-13 10:25] #10934 closed

[2017-04-13 10:26] AlexTeixeira commented on #10934
Visual studio update not work on my previous visual studio code on mac and was thinking is up to date.

Works with the new version of VS Code ( 1.11.1 )

[2017-04-13 13:27] mazong1123 commented on #5717
Hi guys, any update for this issue? Should I wait for @eerhardt 's work because he is already working on this. Please find https://github.com/dotnet/corefx/issues/3571#issuecomment-293762131

[2017-04-13 14:05] gkhanna79 commented on #9953
@richlander who should look into this?

[2017-04-13 14:09] rahku commented on #8761
Fixed by PR https://github.com/dotnet/coreclr/pull/10912

[2017-04-13 14:09] #8761 closed

[2017-04-13 14:13] hadibrais commented on #10928
@danmosemsft Yes, I can fix this. It's just a matter of adding a function call to check whether CORE_ROOT is defined and get the directory from there if it is. I can test the changes on Linux, but I don't have a macOS to test it on.

[2017-04-13 14:17] gkhanna79 commented on #4366
Fixed in https://github.com/dotnet/coreclr/pull/8624

[2017-04-13 14:20] #5505 closed

[2017-04-13 14:48] tannergooding commented on #10288
No, it is not critical. However, the workaround is trivial and could easily be done for 2.0.

The most current spec (ECMA 335:2012) indicates that the handling of floating point numbers (see I.12.1.3) is compliant with IEC 60559:1989 (which itself has been superseded by IEEE 754:2008).

Since the majority of our `System.Math` calls are FCALL implementations that call the corresponding CRT implemen

[2017-04-13 14:56] gkhanna79 commented on #10920
I have a basic question - which is the correct behavior? Desktop or CoreCLR? https://msdn.microsoft.com/en-us/library/system.appdomain.basedirectory(v=vs.110).aspx does not describe the expected behavior.

[2017-04-13 15:04] ViktorHofer commented on #10920
I think the answer is definitely Desktop because our customers are relying on that behavior since ages...

[2017-04-13 15:25] sdmaclea commented on #9581
After merging #10706, the [Arm64/Unix] GCStress0xF fails are all in baseservices/threading*.  They typically are exhibiting themselves as segfaults.

The test failures are not necessarily reproducible especially when only running a single test.

For instance these tests have failed in one of the last several runs.
[code]

@jashook This may mean it is appropriate to retry the GCStress fails on Wind

[2017-04-13 15:26] danmosemsft commented on #10288
Yeah, we're still taking all changes for 2.0 -- we haven't forked. But we're keeping the milestone for stuff we actually have to do to ship.

[2017-04-13 15:29] lt72 commented on #6166
Updated milestone according to current planning ==> 2.1

[2017-04-13 15:40] tarekgh commented on #10898
I don't think this is Encoding issue as it returns the correct results when using RESTfull. we have just one codebase so as long as the input is same we should get the same output.

@ulfendk, could you please check the bytes returned from

[code]

and tell me if you are getting exactly same results when using RESTful or when using docker-compose?

[2017-04-13 15:46] tarekgh commented on #5717
@mazong1123 As you mentioned @eerhardt is looking at the perf of DateTime.Now and I am expecting he'll reply soon. thank you.

[2017-04-13 15:54] karelz commented on #6206
Thanks @mazong1123 for your contribution!
If you're interested in helping more, please checkout https://github.com/dotnet/corefx/issues/17619 and https://github.com/dotnet/corefx/wiki/New-contributor-Docs (the spirit applies to CoreCLR contributions as well).

[2017-04-13 15:57] rvuistin opened #10940 "[osx.10.12-x64/release] Parameters are not evaluated from left to right on OSX in release mode."
- The following code fails on `osx.10.12-x64` runtime in `release` mode but succeeds in `debug` mode.
- It succeeds on `win81-x64` in `release` and `debug` mode
- I didn't check any other runtimes.

[code]
The method `ReadDecimal` is called before `ReadString`. Surprisingly this happens only with runtime methods. If we use custom methods instead (for example extensions methods which trace the orde

[2017-04-13 16:12] tarekgh commented on #10898
@ulfendk could you also share a sample Docker-compose project repro the issue?

[2017-04-13 16:32] #10900 closed

[2017-04-13 16:53] markwilkie commented on #2305
This is not the only tool where this is needed - for example, cmake. There's guidance that @dleeapho can point to for how this works today.  In fact, @ravimeda is salted to do this same work for cmake in S117.

[2017-04-13 17:10] sdmaclea commented on #9880
To be ECMA conformant, this test should fail on ALL platforms per @RussKeldorph's comments in discussion of #10198.

The test is currently disabled on x86 in https://github.com/dotnet/coreclr/blob/master/tests/issues.targets#L207

[2017-04-13 17:16] jashook commented on #10069
Excluded see #2434

[2017-04-13 17:16] #10069 closed

[2017-04-13 17:16] leecow commented on #7263
We will be snapping as much as possible to 2.0 and, as @benaadams mentions, the meta-package level will be kept consistent. We will also be snapping the CLI version to match each release so we can avoid that bit of version spaghetti. In other words, when we ship .NET Core 2.0.1 the plan is there will also be a .NET Core SDK 2.0.1.

At the package level, there will be version divergence which we ca

[2017-04-13 17:21] jashook commented on #9462
All test have been confirmed to either be VARAG, TLS, or Tail.call Pop ret. All not supported on dotnet core.

[2017-04-13 17:21] #9462 closed

[2017-04-13 17:26] sdmaclea commented on #9880
@RussKeldorph please remove the arch-arm64 label and adjust the milestone for the new title.

[2017-04-13 17:41] danmosemsft commented on #10898
@MichaelSimons you are famliar with our behavior in Docker. Any thoughts?

[2017-04-13 17:43] AndyAyersMS opened #10942 "JIT: unnecessary null checks in address trees that involve field access on byrefs"
`P0`'s explicit null check is unnecessary. A similar check appears in the codegen for the proposed span indexer intrinsic expansion #10910, in cases where the span's pointer field cannot be promoted, and the check causes some performance regressions when using the intrinsic expansion instead of using the IL.

The explicit null check is inserted by morph in `fgMorphField`. Because interpretation of

[2017-04-13 17:51] shirhatti commented on #10717
@danmosemsft Why do you suspect this is an IIS Express issue? We use the ASP.NET Core Module to host `dotnet.exe` out of process from the IIS Express process. While we can certainly look into it, there's nothing about a `FatalExecutionEngineError` in a child process to indicate IIS Express is at fault.

[2017-04-13 17:51] AndyAyersMS commented on #10942
The `* 8` is unnecessary -- I had been using `Span<byte>`  as inspiriation. Here's a simpler `P0` that likewise null checks:

[code]

[code]

[2017-04-13 17:53] dcarl1 commented on #10717
@shirhatti I actually think this is a Visual Studio debugger issue.

We have been able to work around the issue in two ways:

- dotnet run from the CLI
- Start IIS Express without the debugger attached, and then attach the debugger.

Any thoughts on a better place to post this?
-

[2017-04-13 17:55] lt72 commented on #6165
Updated milestone according to current planning ==> 2.1

[2017-04-13 17:57] gkhanna79 commented on #3069
Removing the incremental:No option results in a break since /incremental (default) is not compatible with the explicitly specified /DebugType (https://github.com/dotnet/coreclr/blob/master/CMakeLists.txt#L338).

Per the docs (at https://msdn.microsoft.com/en-us/library/dn823750.aspx), specifying Fixup is helpful for kernel mode debugging. If we do not need to enable that, then CV need not be speci

[2017-04-13 18:05] lt72 commented on #5721
Assigned to David for execution after //BUILD

[2017-04-13 18:09] gkhanna79 commented on #5721
BUILD will be too late - ZBB is on 5/10.

[2017-04-13 18:13] jkotas commented on #3069
I think so. We have used the overridden DebugType to make the tools that analyzed PDBs work. We are not using those tools anymore.

[2017-04-13 18:22] agocke opened #10944 "Custom modifiers sometimes do not seem to be recognized"
When running Roslyn tests on CoreCLR I've hit a number of test failures around custom modifiers. I've examined the IL being generated by Roslyn as best I can and it seems to be valid. However, when CoreCLR attempts to run the binaries  it results in MissingMethodExceptions when attempting to call the methods which have custom modifiers.

I've attached a complete repro, including the CoreCLR 1.1 bi

[2017-04-13 18:22] agocke commented on #10944
cc @gkhanna79 @jkotas

[2017-04-13 18:27] AndyAyersMS commented on #10942
Am going to hold off merging #10910 until I've had a chance to look at this in more detail. If it turns out to be tricky to fix I have some workarounds I can do on the intrinsic side. But I'd prefer not to....

[2017-04-13 18:51] JosephTremoulet commented on #9633
Rationalize is not updating the flags, but updating it to patch up `GTF_ASG` as it goes cleans this up and from looking at asm diffs removes a smattering of other dead sequences as well.  I'll polish up those changes and send out a PR.

[2017-04-13 19:18] MichaelSimons commented on #10898
I sent @tarekgh a test project that illustrates the issue.  I was not able to reproduce this will a simple .NET Core app inside the microsoft/dotnet:1.1-sdk image.

[2017-04-13 19:21] sdmaclea commented on #9535
@RussKeldorph Since @BruceForstall has merged common arm32 and arm64 code, arm64 is at risk for regression with every arm32 change.  We now need to automatically trigger arm64 CI for every arm32 commit before it can be merged.

[2017-04-13 19:28] benaadams commented on #7263
Not bumping means better package sharing; though it depends if that is maintained (e.g. 2.1.x referring to 2.0.1 packages). No bumping makes it easier to work out what the current version of a package is "in the wild" as otherwise you are causing conflicts that's only essentially due to aliasing.

Not bumping means more difficult manual reving of packages (I've moved back to nuget updates for this

[2017-04-13 19:30] fujiy commented on #10890
I am without computer access. It happened even after a Windows clean installation (Creators update).

[2017-04-13 19:35] RussKeldorph commented on #9535
@chrisboh FYI this is why I'm asking about the ARM64 box. :)

[2017-04-13 19:49] omariom commented on #10942
@AndyAyersMS
Is it related to [Suboptimal code after inlining a method accessing a field via ref  ](https://github.com/dotnet/coreclr/issues/1226)

[2017-04-13 19:52] eerhardt commented on #5717
@mazong1123 - here's some general information on how the TimeZoneInfo class works on both Windows and Unix: https://github.com/dotnet/corefx/issues/2465#issuecomment-127645308.  This is good information to know whenever dealing with changing how TimeZoneInfo deals with this AdjustmentRules.

You are correct here, you can't convert the time to UTC outside the loop because you don't know how to adju

[2017-04-13 19:52] mskvortsov commented on #9535
I'd like to mention that altjit arm32 itself is at risk for regression with every jit change.
cc @hqueue

[2017-04-13 19:55] AndyAyersMS commented on #10942
Could very well be. I will have to investigate why the changes in #6631 don't kick in here.

But it's better to not create the check in the first place then to create it, prove it is not needed, and then remove it, so I'll probably pursue quashing the check in morph even if it could be cleaned up later on.

[2017-04-13 20:52] leecow commented on #7263
Yes, manual rev'ing should only be needed for packages not include in a referenced meta-package.

[2017-04-13 20:54] BruceForstall commented on #9535
fyi, arm64 JIT (altjit) builds on all x64 (Linux and Windows) builds, and arm32 JIT (altjit) builds on all x86 builds. So, we do have CI coverage for builds. And arm32 testing is in the CI. The only thing we're missing is automatic arm64 testing. I'll try to remember to trigger arm64 runs on all common code changes.

[2017-04-13 21:36] ahsonkhan opened #10954 "Add microbenchmarks for Span extension methods"
Add benchmark tests [here](https://github.com/dotnet/coreclr/blob/master/tests/src/JIT/Performance/CodeQuality/Span/SpanBench.cs) that exercise the following Span extension methods:

- IndexOf
- IndexOfAny
- SequenceEqual
- StartsWith
- AsSpan
- CopyTo

cc @JosephTremoulet

[2017-04-13 21:44] RussKeldorph commented on #10608
@mletterle Sorry, I didn't notice you had a PR out to fix this when I assigned to @rartemev.  @rartemev I agree with @mletterle's logic.  Could you confirm @mletterle's change should work and merge if so?

[2017-04-13 21:56] russellhadley commented on #7234
@gkhanna79 @lt72 Is this PAL work?  Or is the idea that this is just in the JIT?  I'm assuming that this is intended to fix the memcpy/memmove across the whole of the runtime.  Gaurav is there need for a central place in the runtime for these methods to be defined?

[2017-04-13 22:12] tarekgh commented on #10898
Finally with the help with @MichaelSimons I am able to repro the issue. the Encoding is working fine. The problem is in VS how it display the string in the local/watch window. There is no real issue with the Encoding as the string decoded correctly.

I am attaching the project here so VS team may be able to take a look.
[WebApplication1.zip](https://github.com/dotnet/coreclr/files/920997/WebApplic

[2017-04-13 22:25] tarekgh commented on #10898
I have reported the issue to VS here https://developercommunity.visualstudio.com/content/problem/44197/vs-display-string-incorrectly-in-the-localwatch-de.html

I am closing the issue here. please let me know if you have any question

[2017-04-13 22:25] #10898 closed

[2017-04-13 23:41] lt72 commented on #7234
@russellhadley: your assumption is correct. When I opened the work item I intended this to be a follow up to the work Intel carried out for the JIT.

[2017-04-14 00:58] #3069 closed

[2017-04-14 01:11] #5463 closed

[2017-04-14 01:12] gkhanna79 commented on #7044
I will close this for now. If you can repro it in the latest .NET Core, please reopen and share the repro details.

[2017-04-14 01:12] #7044 closed

[2017-04-14 01:15] gkhanna79 commented on #7955
@jkotas Should this be closed if it is not actionable (per your earlier comment)?

[2017-04-14 01:17] gkhanna79 commented on #8317
Closing - please reopen if the issue still repros.

[2017-04-14 01:17] #8317 closed

[2017-04-14 01:19] #8684 closed

[2017-04-14 01:22] gkhanna79 commented on #2690
@russellhadley Is it okay to close this for now as there does not appear to be any scenario for this?

[2017-04-14 01:27] mazong1123 opened #10960 "Use ICLRRuntimeHost4 in Windows corerun"
Based on the discuss in [this PR](https://github.com/dotnet/coreclr/pull/10842#issuecomment-293937355), we need to unify the Windows and Unix corerun. Related issue #6206

[2017-04-14 01:50] #7955 closed

[2017-04-14 04:04] Pothulapati commented on #10890
@danmosemsft Yes,The File exists but I get the same error

[2017-04-14 08:06] KarenHuang2016 opened #10968 "CoreCLR failed to build on Windows due to MSBuild error MSB1001: unknown switch --TargetsWindows=true"
I tried to build CoreCLR on Windows with VS2017 RTM. It failed to build when execute msbuild.cmd. This issue is caused by master branch revision [42f1781](https://github.com/dotnet/coreclr/commit/42f1781463e973a7e764675715191b4f137d4e05#diff-f35ce63d6e75aecbc109ddc24e0d77f0).
This revision added a parameter _-TargetsWindow=true_ to msbuild.cmd. It seems the correct parameter should be _/p:TargetsW

[2017-04-14 08:49] Thaina commented on #5303
Nearly a year now we have working webassembly on browser

Are there any plan we could hope for yet?

[2017-04-14 08:51] kg commented on #5303
The initial version of the WebAssembly spec is missing some things you'd need for a first-class .NET implementation, but a stripped down version of mono applications might be feasible. Lots of legwork to be done to prove it, though.

[2017-04-14 09:08] cyplo commented on #5561
Hi, is this still an issue ?

[2017-04-14 14:27] sdmaclea commented on #9880
@RussKeldorph I restored the #10198 branch in case it is helpful to you for reference.  As I realize the amd64 patch is probably roughly the inverse of #10198.

[2017-04-14 14:41] russellhadley opened #10970 "Missing div => mul by reciprocal case"
This case was found in the Kestrel parser code.

For signed div by 10 we are successfully turning it into a imul by reciprocal, but for unsigned we're failing to do the transformation.

Repro: https://gist.github.com/russellhadley/3130b9bfb30567befbc03ae4830f5bfb

[2017-04-14 14:42] russellhadley commented on #10970
@shiftylogic can you provide a pointer to the case in the parser code?

[2017-04-14 14:43] russellhadley commented on #10970
@JosephTremoulet just assigning you for tracking purposes.

[2017-04-14 14:47] mikedn commented on #10970
I could take care of this, I worked on reciprocal division before.

[2017-04-14 14:48] JosephTremoulet commented on #10970
@mikedn have at it, thanks!

[2017-04-14 14:49] russellhadley commented on #10970
@mikedn It's up for grabs.  Go at it.

[2017-04-14 14:58] sdmaclea opened #10971 "[Arm64/Unix] PR #10912 broke build"
@rahku Let me know if you want this or you want to assign it to me.

[2017-04-14 15:17] JosephTremoulet commented on #6790
Currently we do remove the bounds check on the second `a[s]` in `array_instance` (due presumably to #9451).  However, we allocate three separate registers for array `a`, and we redundantly sign-extend `s` at both `a[s]` accesses, so the codegen still isn't as good as `array_static`.  To wit, `array_static` currently looks like this:

[code]

whilst `array_instance` currently looks like this:

[cod

[2017-04-14 15:19] yizhang82 commented on #4214
This has been fixed by @tijoytom and is no longer showing up.

[2017-04-14 15:19] #4214 closed

[2017-04-14 15:20] yizhang82 commented on #4209
Confirm fixed by @tijoytom . This is no longer showing up.

[2017-04-14 15:20] #4209 closed

[2017-04-14 15:24] yizhang82 commented on #4213
I fixed this by in May 2016. No longer showing up.

[2017-04-14 15:24] #4213 closed

[2017-04-14 15:28] yizhang82 commented on #4215
thanks @mikedn for fixing this in https://github.com/dotnet/coreclr/commit/c795cf5d3c03597f5c75b0cc08ff381cc414b039!

[2017-04-14 15:28] #4215 closed

[2017-04-14 15:30] yizhang82 commented on #4216
thanks @mikedn for fixing this. Closing

[2017-04-14 15:30] #4216 closed

[2017-04-14 15:31] yizhang82 commented on #4217
thanks @mikedn for fixing this. Closing

[2017-04-14 15:31] #4217 closed

[2017-04-14 15:46] rahku commented on #10971
Sorry for the break. It will be helpful if you can take care of it. I don't have a machine to test it.

[2017-04-14 15:48] software-sushil commented on #9168
Hi All,

I followed the steps as mentioned but I am not able to access the Web API from outside. Please help me to unblock this.

The details of my environment are as follows

Microsoft Visual Studio Community 2017
Version 15.0.26228.10 D15RTWSVC
Microsoft .NET Framework
Version 4.6.01586

Added hosting.json with following contents and also added firewall exception for the port.

{
  "server.urls"

[2017-04-14 15:55] mikedn commented on #6790
Funny, I've just ran into something that looks like the opposite. `Dictionary`'s `FindEntry` generates something like this:

[code]
Not sure if it's related, in FindEntry the array doesn't change between the 2 range checks.

In your example AFAIR the reason why the sign extend cast isn't CSEd is that it's not considered worthwhile.

[2017-04-14 15:55] danmosemsft opened #10974 "apiset still used in S.R.Metadata"
@yizhang82 @stephentoub @tmat, @nguerrera @gkhanna79 is there any reason to still use apisets in this assembly? We removed them in all other places. But perhaps we need to keep it in this library because it ships OOB and does not necessarily have reverse forwarders?

[code]

[2017-04-14 16:02] danmosemsft commented on #10974
Either way it's wrapped in `#pragma warning disable BCL0015 // Diasable Pinvoke analyzer errors.`.

For some reason the Kernel32 one is not in our OneCore list (hence suppression) but is in the UWP list (WACK always allows apiset and classic versions). Need to make certain, but I believe this means we're OK for UWP though.

[2017-04-14 16:02] mazong1123 commented on #5717
I'm running a microbenchmark for all timezones. I may generate a more accurate result tomorrow but currently I know we have 270 in total 424 timezones have their last adjustment rule behind current datetime . Add a pre-check before the binary search save 50% time for these timezones. We'll see what the cost of adding the pre-check for the left 154 timezones after the result generated.

[2017-04-14 16:14] yizhang82 commented on #10974
These are identical. We would only need the kernel32 version.

[2017-04-14 16:23] danmosemsft commented on #10974
OK we should clean that up at some point.

[2017-04-14 16:25] shiftylogic commented on #10970
Not Kestrel, that I am aware of. It is in our formatter code [here](https://github.com/dotnet/corefxlab/blob/master/src/System.Text.Primitives/System/Text/Formatting/Internal/FormattingHelpers.cs#L109).

I have a (currently private) branch that attempted to add a ulong version of this method for the integer formatting code. That is when I saw the issue.

[2017-04-14 16:36] gkhanna79 commented on #10974
Any reason why this cannot be fixed in 2.0, as opposed to 2.1.0?

[2017-04-14 16:40] svick commented on #10449
@tannergooding That's not what I see. Running [this code](https://gist.github.com/svick/0dd2398c193d4f2450e9c19a3a020c63) on .Net Core 1.1, I see `sizeof(S)` is always 24. And the disassembly of the `ToTuple` methods is exactly the same, which shows that the fields have the same offsets:

[code]

Also, how would accessing the `_dateTimeOffset` by `ref` work?

[2017-04-14 16:40] sdmaclea commented on #10971
@rahku No problem.  I owe you one anyway.  Until we get [Arm64/Unix] in CI, we will see issues like these.  If you need me to build/test a future CoreCLR arm64 PR on [Arm64/unix] ping me.

[2017-04-14 16:48] RussKeldorph commented on #10940
@dotnet/jit-contrib

[2017-04-14 16:59] tmat commented on #10974
Jan is making some changes: https://github.com/dotnet/corefx/pull/18356.

/cc @jkotas

[2017-04-14 17:16] tannergooding commented on #10449
@svick, it appears that netcore and netfx have different behaviors here 😄

[2017-04-14 17:19] jkotas commented on #10974
I have included the fix for this one in my PR.

[2017-04-14 17:22] rahku commented on #10971
Thanks 👍 will let you know in future if i need help.

[2017-04-14 17:35] jaestevan commented on #3977
Upgraded and rebuilt everything with 2.0.0-preview1-001978-00 and now it works in the Pi 💃

[2017-04-14 17:52] jkotas commented on #10974
This issue was moved to dotnet/corefx#18387

[2017-04-14 17:52] #10974 closed

[2017-04-14 17:54] danmosemsft commented on #10974
Oh doh. Wrong window thx.

[2017-04-14 17:55] danmosemsft commented on #10974
Milestone=2.0 is for issues that must be fixed to ship 2.0 per our current bar. It is not for cleanup work unless that meets that bar. Of course folks can still commit stuff that doens't meet the bar, until we fork.

[2017-04-14 17:59] svick commented on #10449
@tannergooding I see the same behavior on .Net Framework 4.6.2.

[2017-04-14 19:46] #10942 closed

[2017-04-14 20:54] quoctruong opened #10978 "Writing a C++ program on Linux that uses cor.h, cordebug.h, etc"
I'm trying to write a C++ program on Linux which will reference certain types and functions in cor.h (and some other header files in the coreclr repo). However, it seems that cor.h needs some other header files that redefine a lot of STL functions and types (especially in pal.h?). Is there a recommended way to build such a program?

[2017-04-14 21:50] AndyAyersMS opened #10980 "Jit: improve codegen for impRuntimeLookup"
`impRuntimeLookup` generates a conditional-deref tree:
[code]
for x64 this turns into the following native code:
[code]
we ought to be able to produce something more compact like
[code]
and maybe find smaller encodings for the immediate values.

[2017-04-14 22:05] sdmaclea opened #10982 "[Arm64/Unix] SOS 64K page support"
Fix "TODO-ARM64-NYI Support for SOS on target with 64K pages" Introduced by #10981

[2017-04-14 22:47] BruceForstall commented on #8496
# NYI status

I ran the ARM32 altjit over the dotnet/coreclr tests and saw the following NYI (ordered by number of occurrences):
[code]

[2017-04-15 00:06] AndyAyersMS opened #10984 "JIT: reconsider how to express byref creation null checks"
The JIT must track when managed pointer creation (via `ldflda`) will need an explicit null check. In most cases the check can be left implicit since the pointer is immediately dereferenced with a sufficiently small offset from the base object that no explicit check on the base is needed.

We may want to reconsider how the jit does this.

This tracking is currently done in Morph using the `MorphAdd

[2017-04-15 00:33] botaberg commented on #10443
@yizhang82 Is this issue still high-pri for 2.0? I know we talked about this for a bit offline, but I haven't gotten to implementing it yet.

[2017-04-15 00:46] jkotas commented on #10978
You can try defining `PAL_STDCPP_COMPAT` before including the pal headers. It is not perfect, but it will avoid majority of the collisions.

[2017-04-15 01:41] hseok-oh opened #10986 "CI test fail: Ubuntu arm Cross Release Build"
ARM32/Linux CI test fails by timeout occurs after https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm_cross_release_ubuntu_prtest/1089/, but I've seen similar messages when I try to test #10406 without removing `libcoreclrtraceptprovider.so`.

So I suggest
- Change default PR triggered: arm ubuntu (14.04) release -> arm ubuntu 16.04 release
- Change arm ubuntu 14.04 debug/release CI job: buil

[2017-04-15 05:19] mikedn commented on #10980
Let's have a self contained repro to stare at:
[code]
generates
[code]
The funny looking flow control isn't funny until RA when the same register is allocated to 2 separate locals and then codegen drops the resulting redundant `mov`:
[code]
I've seen this before in #1164 and in that case if-conversion happens to help. If-conversion might actually help here too, it could generate IR like `lclVar1 =

[2017-04-15 05:42] mazong1123 commented on #5717
I just ran the whole 774 timezones on my Ubuntu 16.04 LTS x64 box. Attached is the benchmark for each timezone.

To summary the result, adding precheck will save 40% - 50% time for the timezones have their last adjustment rule behind current datetime, and for those timezones have their last adjustment rule after current datetime, there's no benifit from the precheck, and some have no impact to the

[2017-04-15 14:49] benaadams opened #10991 "First chance NullRef exception in EventProvider.GetDataFromController"
During debugging startup from `AspNetCore.Hosting`; it gets unconditionally swallowed so doesn't break anything - but probably should avoid throwing exception in first place?

/cc @vancem @glennc @lmolkova

[2017-04-15 15:48] Sebmaster opened #10994 "JIT causes ArgumentNullException"
(hoping I'm in the right repo for this one)

I'll check if I can create a much smaller repro case than the full project I'm currently working on, but the JIT in .NET core is causing my program to reproducibly crash (on only 1 system config) with this exception:

[code]
where the line in question is:
[code]

The reason I assumed it was the JIT was that `COMPlus_JITMinOpts=1` helped initially, howev

[2017-04-15 17:09] Sebmaster commented on #10994
Nevermind. Not the CLRs fault.

[2017-04-15 17:09] #10994 closed

[2017-04-15 18:57] mikedn commented on #10970
Number formatting is a good use for unsigned magic division. `unsigned / 10` is cheaper than `signed / 10`.

[2017-04-15 19:11] #10883 closed

[2017-04-15 20:12] AndyAyersMS commented on #10980
For the code placement, seems like when morph expands question ops, if one of the alternatives is a simple local reference, it should become the "else" case.

[2017-04-15 20:34] mikedn commented on #10980
I'm not sure what you mean by "become the "else" case", it shouldn't make any difference if it's the "then" case or the "else" case.

It looks like it is possible to change `impRuntimeLookup` so it creates a single temporary instead of 2 like it does now (V09 and V10 in your tree dump). If we do this then we'll get `V09 = V09` in the `then` case and I hoped that will be eliminated. But it seems th

[2017-04-15 20:44] masonwheeler opened #10997 "Unable to cross-build for Android"
After downloading a fresh Ubuntu VM, checking out all dependencies, and building CoreCLR and CoreFX, I tried to run `cross/build-android-rootfs.sh`.

First it gave me an error:

`wget unrecognized option '--show-progress'`

After removing this option from the command line, the script proceeded until the "Unpacking termux packages" stage, at which all of the operations errored out with:

No idea wh

[2017-04-15 20:47] #9597 closed

[2017-04-15 23:47] AndyAyersMS commented on #10980
Morph expands question ops into flow, creating new basic blocks and has to pick some ordering. If we think one of the sides of the question is potentially going to go away then the corresponding block should be the last block in the expansion (inverting the test condition if necessary).

[2017-04-16 02:04] hadibrais opened #10998 "AppDomainSetup.ApplicationBase of the default appdomain returns the runtime host's directory"
On the .NET Framework, the [AppDomainSetup.ApplicationBase](https://msdn.microsoft.com/en-us/library/system.appdomainsetup.applicationbase(v=vs.110).aspx) property returns the directory in which the main executable resides (the binary that contains the Main method). However, on .NET Core, apps require a host and so the runtime sets AppDomainSetup.ApplicationBase to the directory in which the host

[2017-04-16 05:26] danmosemsft commented on #10998
@mellinoe thoughts? The question I ugess is what user code expects and I do not know what kinds of use this API gets.

[2017-04-16 05:54] MichalStrehovsky commented on #10944
[code]

This is not permissible by the ECMA-335 standard. It seems like it's possible to express this in the format, but the behaviors would be undefined. Section II.23.2 of the spec defines when custom modifiers can show up within signatures: they can show up *at the beginning of* many of the signatures (and prefix a Type), but once you're in the middle of a Type signature, custom modifiers can b

[2017-04-16 06:03] hadibrais opened #10999 "Support automatic generation of profiling file names to avoid potential conflicts"
There are numerous environment variables such as JitTimeLogCsv and JitFuncInfoLogFile that tell the runtime to generate profiling information in the specified files. If two processes use the same values for these environment variables, the profiles may get corrupted. This can happen when a child process inherits environment variables from the parent process or when an environment variable has been

[2017-04-16 06:26] agocke commented on #10944
@MichalStrehovsky Yup, by a strict reading of the spec this is illegal. However, this feature is required to support seemingly simple features of C++ CLI like the following:

[code]

There is a fairly large body of C++/CLI code in the wild that takes advantage of this feature. Roslyn encountered this same problem not too long ago and ended up altering our symbol model just to support this. See htt

[2017-04-16 07:18] rahku commented on #10561
If you call Assembly.GetName() for a loaded assembly the returned AssemblyName object has its CodeBase property set to url based location of assembly. If you use the same AssemblyName object and pass it to Assembly.Load(AssemblyName n) then it fails saying Load using CodeBase is not supported. In my opinion this is not good experience. I have two options to fix this:
1. Don't set property codebase

[2017-04-16 07:33] phxvyper opened #11000 "Cant find lttng/tracepoint.h when building CoreCLR even though its present"
Im on Void Linux, x86_64. I have all of the dependencies installed including liblttng-ust-dev.

Running `./build.sh` produces an error "Cannot find libttng-ust-dev." Looking at the output above, it looked for the file `/usr/include/lttng/tracepoint.h` - which does exist in that exact directory, but the build system refuses to find it.

Why might it not be finding this file?

[2017-04-16 08:52] Pothulapati commented on #10890
@danmosemsft I also tried building the repo on an Azure VM but It's showing the same error.I think this issue needs some attention.

[2017-04-16 11:32] mikedn commented on #10980
Yes but the problem is that right now there's nothing in the JIT to make the block go away. If the branch is inverted then we get this:

[code]

[2017-04-16 11:45] mikedn commented on #10980
Here's something that appears to work: https://github.com/mikedn/coreclr/commit/3bdaaef192217c1d4462f7d7d125aca0821b18a0.

It changes qmark generation to look more like `if (c) x = y` instead of `x = c ? x : y`:

[code]
I don't if it's correct but it survives diffing so:
[code]
At 2 bytes saved per occurrence there are probably around 900 occurrences, all in corelib.

[2017-04-16 13:50] Labris opened #11002 "Runtime fails to find locally built and referenced assemblies."
How to reproduce (using VS2017):

Create new solution , add .net core DLL project.
Add test function
Build it.
Close Solution.
Create new solution, add .net core Console App
Reference previously built DLL, and call testfuntion from it;
Run Console program.

Expected result:
Call works and program quits.

What happens:
Program crashes with:
"System.IO.FileNotFoundException: 'Could not load file or

[2017-04-16 14:12] jkotas commented on #10561
There is also `Assembly.CodeBase` property. It would be nice if `Assembly.CodeBase` and `Assembly.GetName().CodeBase` returned same results.

Another option is to turn AssemblyName loads with CodeBase property set into LoadFrom. E.g. the following works in desktop:

[code]

Any reason to not do that?

I do not think you would ever want to mutate the AssemblyName passed in. You would want to create

[2017-04-16 16:11] AndyAyersMS commented on #10980
That looks promising.

[2017-04-16 19:45] rahku commented on #10561
We have already diverged a lot in behavior compared to desktop in Load* apis. So trying to do what desktop does should not be a goal I think. I feel it is better to be explicit between Load & LoadFrom and not combine the two. It is more simpler to explain & understand.
There is also the complication of when the assemblyname contains both display name and codebase. In desktop the behavior for when

[2017-04-16 23:19] xplicit commented on #10037
Why is this closed? The referencing external dlls worked pretty well since dotnet 1.0.0 to "1.0.0-preview2-1-003177" SDK and now it's broken with released SDK 1.0.1/1.0.2. We are moving from json to csproj format and this bug does not allow to run executables at all. How to workaround it? I tried several ways and noone helps.
  Is it possible to manually edit assets and *.deps.json files after "do

[2017-04-16 23:37] davidfowl commented on #10037
@eerhardt Did we ever close on the referencing assemblies discussion? Is there an issue for it?

[2017-04-17 00:40] jkotas commented on #10561
Sounds good.

[2017-04-17 01:36] NikkyAI opened #11005 "DllImport not finding libs on Centos 7 + fedora (and archlinux)"
the package i want to use is LibGit2Sharp.Portable

the gl2s package generates a dllmapping xml file in the bin folder, which is used on some distros
but ignored on others

the dev told me it is most likely a coreclr issue

runtimes i tested on:
[code]

will keep the list updated as i can test more

test procedure;
[code]

[2017-04-17 02:21] #4212 closed

[2017-04-17 03:01] parjong opened #11006 "[x86/Linux] Interop.PrimitiveMarshalling.UIntPtr.PInvokeUIntPtrTest failure (in Checked build)"
This happens only for Checked build:
[code]

[2017-04-17 03:40] hseok-oh commented on #10986
It's a simple reason. Build result of CoreFX also has `libcoreclrtraceptprovider.so` because nupkg of CoreCLR has it. We should remove it from downloaded build result of CoreFX.

[2017-04-17 05:19] danmosemsft opened #11009 "Registry code cleanup had to be reverted to fix perf tests"
@JeremyKuhne
https://github.com/dotnet/coreclr/pull/10983

Not sure whether this is necessary for 2.0 or not. Please set milestone to future if not.

@adiaaida supplied repro instructions offline, it seems not to obad so shouldn't take long to narrow down the problem in your change.

[2017-04-17 05:21] danmosemsft commented on #10968
@wtgodbe

[2017-04-17 07:29] mikedn commented on #10980
There may be an way to use CMOV:
[code]
However, it's larger in size and requires an additional register so it's unlikely that it will be beneficial unless that branch suffers from poor prediction. It may also be problematic to generate this kind of code since if conversion would need to decide that always executing `lea rax, [rcx-1]` is actually beneficial.

[2017-04-17 07:37] stefaanv opened #11012 "[ARM32] Console app problem "Could not load file or assembly 'System.ComponentModel.Primitives, Version=4.2.0.0""
Hi,
I'm developing a .NET Core network-oriented console app to be deployed on a Raspberry Pi 3 running 16.04.2 LTS.  Although I was able to deploy to the rPi in the beginning when there was much less code, I get this error message now (with more code in the app)
[code]
I have read [the post [ARM32] Could not load file or assembly ](https://github.com/dotnet/coreclr/issues/9168#issuecomment-2778468

[2017-04-17 10:58] Andrei-Rinea commented on #3977
Excuse me if this has been discussed before, but will this run on Raspberry Pi Zero too?

[2017-04-17 11:01] benpye commented on #3977
Unfortunately not, the Pi Zero is only ARMv6, Mono will work there though.

On Mon, 17 Apr 2017, 11:58 Andrei Rînea, <notifications@github.com> wrote:

[2017-04-17 11:36] wanton7 commented on #3977
I think pi 1 and zero have ARMv6k that has some enhancements compared to ARMv6.

[2017-04-17 11:40] masonwheeler commented on #3977
@wanton7 Hoo boy, even more versionitis for us to keep straight?

[2017-04-17 11:56] wanton7 commented on #3977
@masonwheeler not sure what the differences are but example next golang (1.9 i think) is going to still support ARMv6k but they are dropping support for ARMv6. So must be something significant.

[2017-04-17 13:10] alpencolt commented on #10729
Cannot reproduce on latest versions `coreclr` and `corefx`. Only `OffsetOf.exe` and `NativeCallableTest.exe` are failed. First uses structures, which aren't implemented in ARM32. The second are failed on legacy backend but with another exception:
[code]
Task can be postponed I think.

[2017-04-17 13:20] mskvortsov commented on #10729
@alpencolt That exception means you missed `libNativeCallableDll.so` and others (see `bin/Product/Linux.arm.Debug/bin` of coreclr build output).

[2017-04-17 14:30] quoctruong commented on #10978
@jkotas Thank you! I tried that and managed to successfully compiled it. During linking, however, I still get this error:
[code]
which I assume is because I'm missing some linking library when I tried to link libcoreclrpal.a. Do you happen to know which other libraries I have to link to fix this?

Thanks!

[2017-04-17 14:31] vancem commented on #10991
The stack trace is code that gets called when ETW providers are turned on, but before (or after) a particular provider is notified that it is enabled.     I did a simple test to try to repro, but was unsuccessful.   It is likely that particular providers need to be enabled, and it is may be that this is an issue for only some builds of .NET Core (although I don't believe much has changed in this p

[2017-04-17 14:32] eerhardt commented on #10037
Because there is no more work to do regarding this issue.  netcoreapp1.0 had a bug that would load assemblies in the app's directory, even if they weren't listed in the .deps.json file.  This bug was fixed with netcoreapp1.1.

In the .NET Core SDK 1.0, there wasn't support for straight `<Reference>`s to assemblies on disk. We supported `<ProjectReference>` and `<PackageReference>`.

In .NET Core S

[2017-04-17 14:43] benaadams commented on #10991
sdk 2.0.0-preview1-005783 with changing VS MSBuildSdksPath environment as per https://github.com/aspnet/Announcements/issues/231

It seems its a VS 2017 listener issue as it also happens when attaching the debugger to a running process.

Have to build a coreclr to look into a different issue so will see if it reoccurs with a more recent build

[2017-04-17 14:47] quoctruong commented on #10978
Actually, I managed to fixed it by including the appropriate native library. Please ignore the comment above. Thanks!

[2017-04-17 14:47] #10978 closed

[2017-04-17 15:10] sdmaclea opened #11017 "[area-GC] Audit OS_PAGE_SIZE to see if they shoulb be flipped to GC_PAGE_SIZE in the GC"
OS_PAGE_SIZE was hard coded to be 4K.  When introducing support for 64K OS pages, several places were identified which were using OS_PAGE_SIZE as a convenient 4K constant.

This task is to review all places where OS_PAGE_SIZE is used (directly or indirectly) within src/gc.

[2017-04-17 15:15] eerhardt commented on #5717
It looks like it does really cut time off for some time zones.  So I think continuing to investigate how we can eliminate this search is worthwhile.

What do you think of this approach?  https://github.com/eerhardt/coreclr/commit/3ccc8be6f6cd13890c077442860fa047c1a109f2.  Basically it is caching the "current" AdjustmentRule for DateTime.Now for the Local time zone.  This should move all time zones

[2017-04-17 15:26] xplicit commented on #10037
@eerhardt we used assembly wrapping into project with `netcoreapp1.0` and `netcoreapp1.1` and it worked without issues with `project.json` files. You can look at our old projects
https://github.com/ServiceStack/ServiceStack/blob/netcore/src/ServiceStack.Text/project.json - this is referenced assembly
https://github.com/ServiceStack/ServiceStack/blob/netcore/tests/ServiceStack.WebHost.Endpoints.Tes

[2017-04-17 15:27] jkotas opened #11018 "[Linux ARM64 GC] Enable FEATURE_USE_SOFTWARE_WRITE_WATCH_FOR_GC_HEAP for Unix ARM64"
This is important for short GC pauses.

[2017-04-17 15:29] eerhardt commented on #10037
What does your .csprojs look like?

[2017-04-17 16:00] hqueue commented on #8496
[code]
Most of this NYI is now being addressed by https://github.com/dotnet/coreclr/issues/10972.

[2017-04-17 16:18] xplicit commented on #10037
Wrapper project does not contain any source files, only assembly reference.

[code]

Main project is typical `netcoreapp1.1` project which has `ProjectReference`

[code]

If you interested I can create solution on github which shows the reference assembly issue.

[2017-04-17 16:35] eerhardt commented on #10037
The feature you are using in project.json to use a project.json to wrap a pre-built assembly (https://github.com/ServiceStack/ServiceStack/blob/netcore/src/ServiceStack.Text/project.json#L24-L30) is not supported in `dotnet migrate`.  I would have thought it would have given you an error.

But what you are doing in your .csproj is not the equivalent of what was happening in project.json.  To do th

[2017-04-17 16:51] lmolkova commented on #10991
According to the stack trace, this (or similar) issue was fixed in https://github.com/dotnet/corefx/issues/17492 about 3 weeks ago. Please let me know if it still reproduces with some recent build.

[2017-04-17 16:55] RussKeldorph commented on #9880
@sdmaclea I was thinking the same thing, but I assumed PRs lived forever, so thanks if that's not the case! :)

[2017-04-17 17:14] krytarowski commented on #4552
LLDB supports now core(5) files on NetBSD with a single thread.

http://netbsd.org/~kamil/lldb/emacs-core.txt

I'm still working on support for threads... I post monthly reports on http://blog.netbsd.org/

[2017-04-17 18:23] danmosemsft commented on #10443
@botaberg there is some usage, it's low but we've learned it's papercuts that break compat. Is there an idea of how much work this is? We should certainly do it if it's just a few lines. IMO.

[2017-04-17 18:29] xplicit commented on #10037
nuget pack does not work, because current structure is:

[code]

When we pack ServiceStack.dll to `ServiceStack` package we add dependency of package `ServiceStack.Text` where SericeceStack.Text.dll is located

So when I add `ServiceStack` package as nuget reference  to ServiceStack.Text.Tests it also installs `ServiceStack.Text` package which conflicts with ServiceStack.Text project and build fai

[2017-04-17 18:34] mountgellert commented on #9040
#11019 PR added

[2017-04-17 18:47] #10561 closed

[2017-04-17 18:57] xplicit commented on #10037
@eerhardt do you have any idea why the reference is passed to `csc.exe` via `/reference:/path/to/assembly.dll` is not resolved and produces compile errors when using types from the assembly? Maybe this can be fixed more easily?

[2017-04-17 19:01] sdmaclea commented on #11017
I just reviewed src/gc/env/gcenv.base.h, src/gc/unix/gcenv.unix.cpp & src/gc/windows/gcenv.windows.cpp.  All referneces to OS_PAGE_SIZE look correct to me.

src/gc/softwarewritewatch.cpp & src/gc/gc.cpp still need audit.

[2017-04-17 19:03] danmosemsft commented on #10920
@ViktorHofer could you please attempt to figure out wher ethis bug should go? I agree it is a breaking change we care about. I would like to get it on the right person/repo.

[2017-04-17 20:15] danmosemsft commented on #5424
@yizhang82 do we need this to ship 2.0? If not can you please move to Future.

[2017-04-17 20:16] danmosemsft commented on #6838
@yizhang82 @tijoytom what is the importance for 2.0 & will it happen for 2.0? If not can you please move to Future.

[2017-04-17 20:24] AndyAyersMS commented on #10713
This isn't in SpanBench yet, is it? If not, I'll go ahead and add it.

[2017-04-17 20:28] JosephTremoulet commented on #10713
It's not in SpanBench, and it's one of the "we should add these" APIs mentioned in #10954.

[2017-04-17 20:29] ViktorHofer commented on #10920
@danmosemsft I will talk to @gkhanna79 and make sure to move the issue to the corresponding team. My bet is - @tarekgh mentioned that too - that the value gets set by the host.

[2017-04-17 20:29] AndyAyersMS commented on #10031
After #10910, the indexer is now an intrinsic so is effectively inlined in all cases.

I'm going to close this out. When/if some other Span API warrants special handling we can open a new issue for it...

[2017-04-17 20:29] #10031 closed

[2017-04-17 20:31] AndyAyersMS commented on #10050
Bounds check is now expressed like an array bounds check, via #10910.

These checks are still not optimized away as well as corresponding array cases, though some optimization does kick in here and there.

[2017-04-17 20:53] fiigii opened #11030 "RyuJIT: Unnecessary Copy of System V x86-64 Multi-Register Structure Returning"
According to VTune characterization of TechEmpower with CoreCLR 2.0-beta, the top hot function of `System::IO::Pipelines` is `Pipe.get_buffer`, which is called by the top hot function `WriteFast` in Kestrel.
[code]
There are codegen differences between Windows and Ubuntu as shown below:

|          Windows         |            Ubuntu          |
|--------------------------------------|-------------

[2017-04-17 20:54] JosephTremoulet commented on #10050
I'm currently working through the SpanBench test post-#10910 to see what it will take to get the rest of the checks optimized like the corresponding array cases.

[2017-04-17 21:02] wtgodbe commented on #10968
https://github.com/dotnet/coreclr/pull/11031 should resolve this issue. Sorry for the mistake! Explanation of the problem is in that PR.

[2017-04-17 21:48] russellhadley commented on #10630
Move out for time.

[2017-04-17 22:14] quoctruong commented on #10568
Hi @mikem8361, on my Ubuntu 14.04, I was able to attach to a process and create an ICorDebug object using your callback function. However, when I initialize the object, I ran into some segmentation fault problem. In particular, I got the following error (from gdb):
[code]
Not sure if this is correct but it seems that the [InitializeCommon function](https://github.com/dotnet/coreclr/blob/master/src

[2017-04-18 00:39] RussKeldorph commented on #10094
@rartemev I'm not sure if this is just a bug in netci.groovy or something else.  If you don't know where to begin, let me know.

[2017-04-18 01:05] krytarowski commented on #4552
I got threads functional in LLDB from NetBSD core(5) files:

http://www.netbsd.org/~kamil/lldb/rtorrent-core.txt

I will work on getting threads in Process Plugin (in order to debug live processes); and move on to virtualization stuff (in order to bootstrap assemblies from a local machine using hardware assisted virtualization hosted on NetBSD) and hopefully posix robust mutexes (to get named mute

[2017-04-18 01:30] yizhang82 commented on #6531
@tannergooding I'm going to close this for now. Feel free to reopen this if you disagrees.  Thanks!

[2017-04-18 01:30] #6531 closed

[2017-04-18 01:30] yizhang82 commented on #5424
Not necessary for 2.0

[2017-04-18 01:34] yizhang82 commented on #9287
@shrah Can you look into adding the test?

[2017-04-18 01:55] KarenHuang2016 commented on #10968
Thanks for fixing this issue!

[2017-04-18 01:55] #10968 closed

[2017-04-18 02:19] am11 commented on #11000
On Void Linux, `lttng-ust-devel` implicitly depends on `liburcu-devel`. The lttng-ust package has a make-dependency on `liburcu`, but not the package dependency. Hence, we do not get `liburcu-devel` automatically with `lttng-ust-devel`.

Here is the Dockerfile that builds CoreCLR or Void Linux x64:

[code]

Note that the dependencies on the last line (`libblkid libfdisk libmount util-linux xfsprog

[2017-04-18 02:21] #10608 closed

[2017-04-18 06:32] yizhang82 commented on #10443
It's low pri but I agree we should simply go do it. It's definitely a bit more than a few lines - we would need to:
* Enable SecureStringToBSTR for CoreCLR (it should just work).
* Add corresponding p/invokes for S.P.CoreLib as InteropExtension / ExternalInterop that points to Windows API on Windows and stub them out for non-windows
* (Nice to have) Add corresponding C# implementation for those p/

[2017-04-18 06:50] mazong1123 opened #11041 "Download dotnet tool is slow."
Following dotnet tool link is very slow to access at least in China.
https://dotnetcli.blob.core.windows.net/dotnet/preview/Binaries/%DOTNET_VERSION%/%DOTNET_ZIP_NAME%

Is there any mirror sever here? If not I can setup one if you guys think it is necessary.

This is probably not a problem for most developers. If so please feel free to close this issue :).

[2017-04-18 08:22] janvorli commented on #1259
Fixed by #10939

[2017-04-18 08:22] #1259 closed

[2017-04-18 09:05] mskvortsov commented on #10729
Another FailFast on current tip (`cb371832`):
[code]

[2017-04-18 09:12] mskvortsov commented on #10729
The func3's prolog looks strange, or at least inefficient:
[code]

[2017-04-18 09:23] tmds commented on #10690
@janvorli @stephentoub perhaps the runtime can pick up the available memory from an envvar? It would then be the containers responsibility to set this var (e.g. by reading /sys/fs/cgroup/memory/memory.limit_in_bytes). What do you think?

[2017-04-18 09:37] tmds commented on #9208
@gkhanna79 @Petermarcu not fixing this for 2.0?

[2017-04-18 09:50] mskvortsov commented on #10729
Incorrect dereference happens at the second store on the 7th iteration of the loop:
[code]

[2017-04-18 10:44] wateret opened #11043 "[x86/Linux] GC Stress Test with level 4"
GC Stress test with level less than 4 are fine but with level 4 looks like CLR requires CoreDisTools.

[code]

[2017-04-18 10:50] wateret commented on #11043
On my x64/Linux machine, I was able to get `libcoredistools.so` with `tests/setup-runtime-dependencies.sh`. Is there a same file for x86/Linux?

In the script file, I've tried to change the `$rid` from ubuntu.14.04-x64 to ubuntu.14.04-x86 but I still get the x64 version.

[2017-04-18 11:04] wateret commented on #11043
I also tried to build LLILC but it is not easy to build it on x86. Is LLILC is the right source for CoreDisTools?

[2017-04-18 11:07] jkotas commented on #10443
This bug is specifically about `Marshal.SecureStringToBSTR` for CoreCLR. (1. in your list - it should be easy.)

Enabling BSTRs for CoreRT on Unix (2.-4. in your list) should be tracked in CoreRT repo with the rest of the interop porting work (https://github.com/dotnet/corert/issues/669).

[2017-04-18 11:24] jkotas commented on #11041
https://dotnetcli.azureedge.net/ should work. Would you like to submit PR to update docs and tools to use that instead?

[2017-04-18 12:53] mskvortsov commented on #10729
Here is full list of current FailFast failures:
[code]

[2017-04-18 13:34] mazong1123 commented on #11041
Sure. I'd like to take this one.

[2017-04-18 14:39] alpencolt commented on #10729
Bug was caused by usage ARM conditional execution without setting proper flags. I will prepare fix today.

[2017-04-18 16:10] janvorli commented on #11043
Yes, it requires the libcoredistools.so - a disassembler - to figure out sizes of instructions so that it can insert an invalid instruction after each generated asm instruction to invoke a signal handler and trigger a GC. I think that llilc is the right source of the coredistools stuff.
But most of the GC related issues can be discovered with GC modes 1, 2 and 3, so if you want to use it now just

[2017-04-18 17:39] danmosemsft commented on #9215
@AtsushiKan feel like throwing up a PR?

[2017-04-18 17:41] AtsushiKan commented on #9215
Added the "easy" tag - this is nice fodder for first time contributors.

[2017-04-18 17:59] janvorli commented on #10690
@tmds it seems to me that we should rather obtain that information from the cgroups directly. The benefit would be that we would not support just docker, but also the standalone usage of cgroups for limiting the resources. We have recently added getting physical memory limit via cgroups for GC purposes (see src/pal/src/misc/cgroup.cpp), so we can build on that.

[2017-04-18 18:17] Marthyn opened #11048 "Session IdleTimeout does not have effect"
dotnet cli output
[code]

We have built a simple backoffice application that uses a Session from Dotnet Core. By using the method AddSession as described in https://docs.microsoft.com/en-us/aspnet/core/fundamentals/app-state we have tried to extend the session time from the default 20 minutes to longer. This does not seem to have an effect. Below is a code example where we set it to just 10 second

[2017-04-18 18:33] #9045 closed

[2017-04-18 19:39] yizhang82 commented on #10684
Addressed in https://github.com/dotnet/corefx/pull/18532

[2017-04-18 19:39] #10684 closed

[2017-04-18 20:32] RussKeldorph commented on #11030
@dotnet/jit-contrib

There are a few [existing issues](https://github.com/dotnet/coreclr/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20label%3Aarea-codegen%20label%3Aoptimization%20milestone%3AFuture%20struct%20copy%20label%3Aos-linux%20) that may be related

[2017-04-18 20:58] RussKeldorph commented on #11043
Yeah, we need to produce libcoredistools.so for Linux/x86.

@dotnet/jit-contrib @swaroop-sridhar FYI

[2017-04-18 21:05] fiigii commented on #11030
@RussKeldorph Most of these existing issues are related to structure argument passing, and this issue is only about returned structures.

[2017-04-18 21:10] RussKeldorph commented on #11030
@fiigii Understood.  I didn't mean to suggest your issue was a duplicate; just that in theory there might be other issues affected by a fix.

[2017-04-18 21:11] fiigii commented on #11030
@RussKeldorph I see, thanks for explaining.

[2017-04-18 21:19] sdmaclea commented on #10982
@RussKeldorph I did not attempt to fix this in !10981 because I have never used or built the SOS debugger
(locally or remotely).  I do not mind being assigned it, but this will likely be a low priority for me.

[2017-04-18 21:21] RussKeldorph commented on #10982
@sdmaclea Thanks for the correction.  Sorry about that.

[2017-04-18 21:24] russellhadley commented on #8288
@erozenfeld for context.

[2017-04-18 21:25] russellhadley commented on #8119
@erozenfeld for context.

[2017-04-18 21:34] sdmaclea commented on #10971
Fixed by #10977

[2017-04-18 21:34] #10971 closed

[2017-04-18 22:01] JosephTremoulet commented on #10050
When assertion prop is deciding what assertions to generate, and is considering compares that may prove bounds checks redundant, it only does so when the compare is a function of an array length, and fortunately array lengths (except for known constant ones, which are handled separately) have value numbers whose opcode is arrlen.  For the span case, we'll start out with field loads, then in the go

[2017-04-18 23:04] BruceForstall commented on #10421
I implemented this. I ran "a lot" of the test tree, processed the data, and saw these as the top 75 dynamic occurrences of noway_asserts (some might actually get optimized away in release builds, as there are a few static constant asserts here). The columns are: total count, filename, line number, assertion text.
[code]

[2017-04-19 00:12] swgillespie commented on #4536
Fixed by #11029

[2017-04-19 00:12] #4536 closed

[2017-04-19 00:14] swgillespie commented on #4534
Changing the units of time to seconds is kind of a pain, so I think we'll opt for the weekly CI run instead.

[2017-04-19 01:03] sjsinju opened #11057 "[RyuJIT/ARM32] Implement setting the model kill for CORINFO_HELP_ASSIGN_BYREF helper"
It was not implemented to setting the model kill of CORINFO_HELP_ASSIGN_BYREF helper for ARM arch now on Compiler::compHelperCallKillSet function.

[2017-04-19 01:13] sjsinju commented on #10762
merged #10789

[2017-04-19 01:42] jnm2 commented on #10890
I'm having this issue also. From VS2017 developer command prompt:

[code]

https://github.com/dotnet/coreclr/issues/10181 looks related.

[2017-04-19 01:43] jnm2 commented on #10890
Whereas with the VS2015 developer command prompt I get:

[code]

[2017-04-19 02:30] quoctruong opened #11058 "Cordb::Initialize throws error on Linux"
Hi, I'm trying to write a debugger in C++ for CoreCLR using the [RegisterForRuntimeStartup](https://github.com/dotnet/coreclr/blob/master/src/dlls/dbgshim/dbgshim.cpp#L651) method (thanks to suggestion from this [issue](https://github.com/dotnet/coreclr/issues/10568). This works just fine on Windows machine.

However, when I tested it out on Linux, if I call `Initialize` on the `ICorDebug` object

[2017-04-19 02:36] fujiy commented on #10890
Here is the log from the brand new Windows install:

[code]

[2017-04-19 03:02] mazong1123 opened #11060 "corerun.exe unhandled execption at KernelBase.dll when debugging on Windows 7 x64"
I just went through https://github.com/dotnet/coreclr/blob/master/Documentation/building/debugging-instructions.md to setup my Visual Studio 2015 for debugging.

I use latest night build dotnet tool to restore & publish following code:
[code]
I'm able to run the program via `dotnet run` or `E:\Personal\github\coreclr\bin\Product\Windows_NT.x64.Debug>CoreRun.exe E:\Personal\coreclrtest\hl\bin\Debug

[2017-04-19 03:38] parjong opened #11061 "[x86/Linux] Assertion failed while running FX System.Dynamic.Runtime.Tests"
System.Dynamic.Runtime.Tests hits the following assertion failure:
[code]

[2017-04-19 05:40] ragmani commented on #10931
[code]
[code]
" 0xf4540ccf: ret" was changed from "ret 0x8" and  "0xf2200926: ret" was changed from "ret 0x4" after [#10410](https://github.com/dotnet/coreclr/pull/10410).

[2017-04-19 05:47] ragmani commented on #10931
The readytorun TCs(mainv1 and mainv2) passed after #11063 .

[2017-04-19 06:22] #10762 closed

[2017-04-19 06:32] yizhang82 commented on #9193
@dlech Thanks for reporting the issue. This is indeed a missing feature. /cc @tijoytom

[2017-04-19 07:07] yizhang82 commented on #6838
Thanks @wateret for looking into it! I just created a PR out to make git treat those files properly (and fix the encoding) https://github.com/dotnet/coreclr/pull/11065. Once it's merged, @wateret please feel free to submit a new PR (if you are still interested to make the fix). Thanks!
@danmosemsft Moving to future.

[2017-04-19 07:27] phxvyper commented on #11000
That made it build! Awesome, we were having a really hard time figuring out what was going on. Thanks a ton.

[2017-04-19 07:27] #11000 closed

[2017-04-19 10:15] omariom commented on #11030
It may be related to [First class structs ](https://github.com/dotnet/coreclr/blob/master/Documentation/design-docs/first-class-structs.md)

[2017-04-19 10:25] omariom commented on #6688
Does it have a chance to appear in 2.0?

[2017-04-19 14:38] eerhardt commented on #5717
I'm going to close this issue for the following reasons:

1. As noted in [@mazong1123's comment](https://github.com/dotnet/coreclr/issues/5717#issuecomment-293496104) and [my comment](https://github.com/dotnet/coreclr/issues/5717#issuecomment-294004669) you can't do what the issue is asking and be 100% correct for all time zone rules.  There is no way to convert the DateTime to Utc before finding

[2017-04-19 14:38] #5717 closed

[2017-04-19 15:04] danmosemsft opened #11069 "Unit test b091942 fails with seg fault on Tizen"
[code]

https://ci.dot.net/job/dotnet_coreclr/job/master/job/armel_cross_debug_tizen_prtest/1384/consoleText

This may not be actionable without symbols but we can start trackign at least.

[2017-04-19 16:29] stefaanv commented on #11012
Anyone ?

[2017-04-19 16:39] #10960 closed

[2017-04-19 16:45] jkotas commented on #6206
The corefx test is still disabled against this bug. https://github.com/dotnet/corefx/blob/0ebc867d6bad9d777dd61afb78d0445c86143b34/src/System.Runtime.Extensions/tests/System/Environment.Exit.cs#L52
@mazong1123 Could you please submit PR to enable the test? Removing ActiveIssue attribute should do the trick.

[2017-04-19 16:48] jkotas commented on #6688
I am not aware of anybody working on this right now, so it is pretty unlikely.

[2017-04-19 17:43] gkhanna79 commented on #10920
@ramarag Can you PTAL if this is an issue in the host? If not, please send this to @AlexGhiondea

[2017-04-19 17:59] sdmaclea commented on #11017
Instances of  OS_PAGE_SIZE will be changed to GCToOSInterface::GetPageSize() in #10981.  This task still remains...

[2017-04-19 18:10] JeremyKuhne commented on #11009
@adiaaida I assume this is because I stripped out reading perf keys? (Which isn't actually used in CoreLib directly.) Can you provide some details on the failure you were hitting?

[2017-04-19 18:21] adiaaida commented on #11009
The failure mode is that when we look at the etl files generated (and subsequently, the any other files that are supposed to have perf data in them), they are empty. This is what @jorive found when he was debugging: "I was debugging the xUnit Performance API, and I noticed on the BenchmarkEventSource (inherits from EventSource), when calling the IsEnabled() method, it always return false."

So bas

[2017-04-19 18:26] #10729 closed

[2017-04-19 18:29] gbalykov opened #11076 "[Memory consumption] Compact entry points for ARM"
Hello.

We propose to add compact entry points for ARM, but not exactly the way they are done for x86. For MethodDescChunk with 5 MethodDescs compact entry points will look like this:

[code]

Compact entry points are encoded in Thumb, each compact entry has 4 byte size, CentralJump is 14 bytes.

ThePreStubCompactARM finds CentralJump by looking into branch offset of compact entry. Then it calcula

[2017-04-19 19:03] dpodder opened #11078 "Remove Tools-Override/codeOptimization.targets"
#10950 included a patch for BuildTools using the /Tools-Override mechanism for the file `codeOptimization.targets`. The override patch should be removed once BuildTools moves forward to version `1.0.27-prerelease-01513-01` or newer.

Note: only the `/Tools-Override/codeOptimization.targets` file needs to be removed; the other changes in #10950 (to `config.json`) need to be left in.

[2017-04-19 19:21] arcreative commented on #6536
FWIW, using `echo 'export PATH="/usr/local/opt/openssl/bin:$PATH"' >> ~/.zshrc` per the Homebrew OpenSSL 1.0.2k post-install instructions worked for what I was trying to do... may work for others as well.

[2017-04-19 19:49] janvorli commented on #11069
@danmosemsft it seems random coreclr unit tests keep crashing on the emulator pretty often. I think that there was a discussion about it in the past and that it was said that it is a problem of the emulator and that on real hardware, the tests are stable. @jyoungyun can you confirm that?

[2017-04-19 19:58] CarolEidt commented on #9591
I think that the fundamental problem here is that the signedness of integral types on the evaluation stack is not tracked, but is instead specified by the operations that are performed upon them. This is a fundamental property of the IL. Thus, as @BruceForstall points out, `add.ovf.un` is specified as taking unsigned operands. If the desired behavior is to sign-extend the 32-bit operand, that must

[2017-04-19 20:15] wtgodbe opened #11079 "JIT/CheckProjects test requires that Core_Root be relative to repo root"
https://github.com/dotnet/coreclr/blob/master/tests/src/JIT/CheckProjects/CheckProjects.cs#L51-L62

This condition isn't met in Helix, causing this test to fail there - I don't think we should require that Core_Root be in a location relative to the repo root for a test to execute.

CC @AndyAyersMS @RussKeldorph

[2017-04-19 20:23] RussKeldorph commented on #11079
Agreed.  We were thinking this (and other meta-tests) should somehow be made to run at the end of build-tests or between build-tests and runtest.

@jashook

[2017-04-19 20:27] AndyAyersMS commented on #11079
Would it be simpler to modify the test to report success if there is no bin directory above CORE_ROOT? Then no special casing is required.

[2017-04-19 20:28] wtgodbe commented on #11079
@AndyAyersMS I don't think so, because https://github.com/dotnet/coreclr/blob/master/tests/src/JIT/CheckProjects/CheckProjects.cs#L60 assumes that it can find the path to the repo root by searching relative to Core_Root

[2017-04-19 20:29] jashook commented on #11079
This is a dup of 10635

[2017-04-19 20:30] jashook commented on #11079
As Russ explained, for tests which have a fundamental dependency on having the either access to the test or product sources, we should not include them in runtests. Instead they should be run as a post step to buildtests.

[2017-04-19 20:34] AndyAyersMS commented on #11079
Changing line 57 to `return 100;` should do the trick, no?

Doesn't make much sense to me to run this as part of buildtests, since the core overlay is probably not set up yet, and even if it is, we probably don't want to test the new jit during a build step more than we have to.

[2017-04-19 20:37] wtgodbe commented on #11079
@AndyAyersMS ah, I misunderstood - yeah, that would do the trick.

[2017-04-19 20:40] RussKeldorph commented on #11079
@AndyAyersMS I'm fine with a change like that for now to unblock Helix work.  In the future we might need to solve this a different way if we want this test to be effective in all environments.  I'd say our automation will likely look more like the Helix model in the future even if this works in ci.dot.net now.

[2017-04-19 20:50] #11006 closed

[2017-04-19 21:23] wtgodbe opened #11082 "JIT_Performance._RunBenchmarks_RunBenchmarks_RunBenchmarks fails when running R2R"
Error: Could not load file or assembly 'System.Xml.XPath.XmlDocument, Version=4.0.2.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'. The system cannot find the file specified. (Exception from HRESULT: 0x80070002 (COR_E_FILENOTFOUND))\r\nError compiling RunBenchmarks.exe: Could not find or load a specific file. (Exception from HRESULT: 0x80131621 (COR_E_FILELOAD))\r\nError: compilation failed

[2017-04-19 21:32] wtgodbe opened #11084 "JIT_opt._Tailcall_TailcallVerifyWithPrefix_TailcallVerifyWithPrefix & Loader_classloader._TypeInitialization_CctorsWithSideEffects_UntrustedCodeBFI reference System.Security.Permissions from mscorlib"
Error: Could not load file or assembly 'System.Security.Permissions, Version=0.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51'. The system cannot find the file specified. (Exception from HRESULT: 0x80070002 (COR_E_FILENOTFOUND))\r\nError compiling UntrustedCodeBFI.exe: Could not find or load a specific file. (Exception from HRESULT: 0x80131621 (COR_E_FILELOAD))\r\nError: compilation faile

[2017-04-19 22:10] wtgodbe commented on #9918
@weshaggard @mmitche this is happening because https://github.com/dotnet/coreclr/blob/master/tests/src/Common/test_runtime/project.json#L5-L7 are bringing in an old version of the CoreCLR package, which depends on the APISets package. Is it safe to remove those dependencies? Who might know?

[2017-04-19 22:12] omariom commented on #5860
[code]

[2017-04-19 22:14] janvorli commented on #1986
Implemented by #10938

[2017-04-19 22:14] #1986 closed

[2017-04-19 22:16] #10940 closed

[2017-04-19 22:24] mmitche commented on #9918
@russellhadley or @RussKeldorph Might know, since that's jit land

[2017-04-19 22:49] JeremyKuhne commented on #11009
A repro would be helpful- I might have messed up my changes to `EventProvider.GetDataFromController`...

[2017-04-19 22:56] weshaggard commented on #11084
You either need to pull in our System.Security.Permissions package to your tests or remove the dependency on those types that live in there.

[2017-04-19 23:00] jashook commented on #10107
Fixed with #10257

[2017-04-19 23:00] #10107 closed

[2017-04-19 23:10] jorive opened #11088 "[x86jit32] CscBench benchmark is broken."
We have not got results since April 5th, 2017. A private PR performance run to make running benchmarks more robust indicates that `corerun.exe` is abnormally terminating when running the benchmark.

Benchmark: tests\src\JIT\Performance\CodeQuality\Roslyn\CscBench.cs

[2017-04-19 23:13] jorive opened #11089 "[x86jit32] SciMark2 benchmark is broken."
We have not got results since April 5th, 2017.
Benchmark: tests\src\JIT\Performance\CodeQuality\SciMark
Similar issue: https://github.com/dotnet/coreclr/issues/11088

[2017-04-19 23:34] 0x53A opened #11090 "Possible JIT optimization bug related to value types >= 12 byte"
ref https://github.com/Microsoft/visualfsharp/issues/2885

cc @dsyme , @blumu

We have an assembly, where the value of the ``System.Diagnostics.Debuggable`` attribute changes behaviour. The assembly was compiled with the F# compiler from VS 2017.

__INCORRECT:__

Console output:

Debuggable Flag:
``[assembly: Debuggable(DebuggableAttribute.DebuggingModes.DisableOptimizations)]``

__CORRECT:__

Con

[2017-04-20 00:21] #10635 closed

[2017-04-20 00:21] #11079 closed

[2017-04-20 00:24] bartonjs commented on #10647
I have to say, the messages going away and the process just crashing has been very confusing to me.  Is this the same treatment we have on netfx and I was just spoiled when asserts were printing to the console during corefx development?

[2017-04-20 00:33] RussKeldorph commented on #9918
Coincidentally, I believe @rartemev had a problem with these dependencies as well in his Unix test build PR.  @russellkhadley or @sbomer should be able to speak to whether they are necessary or if it's possible to simply upgrade their dependencies.

@dotnet/jit-contrib

[2017-04-20 00:37] pgavlin commented on #11090
cc @dotnet/jit-contrib

[2017-04-20 00:52] RussKeldorph commented on #11082
@AndyAyersMS Was `System.Xml.XPath.XmlDocument` perhaps just renamed and we just need to update our references?  For example, I see `System.Xml.XPath.XDocument.dll` already in Core_Root.  No idea if it's related, though.

@wtgodbe I feel like there should have been a build break before the crossgen step--either when restoring this dependency or when compiling the C#.  Is that an unreasonable expec

[2017-04-20 01:04] danielcrabtree opened #11094 "Performance of Explicit Covariant and Contravariant Casting"
I've discovered that the performance of explicit covariant and contravariant casting is much slower than other methods of casting in both .NET Core and .NET Framework. I think it might be a performance bug. So, @karelz suggested I create an issue for it here.

# Results Summary #

Using BenchmarkDotNet I've found that covariant and contravariant casting is approximately:
* 200x slower than regular

[2017-04-20 01:19] AndyAyersMS commented on #11082
When we compile I see
[code]
passed to CSC, and this comes from the common benchmark\project.json that most of our tests use. So we're able to compile.

This class is evidently referenced somewhere in the code because the resulting assembly RunBenchmarks.exe contains:
[code]
I can run the test just fine with no args, which is how it runs as a test case.

But if you pass `-f <suitable-file> -list`

[2017-04-20 04:22] jkotas commented on #11094
Duplicate of https://github.com/dotnet/coreclr/issues/603

[2017-04-20 05:13] jkotas commented on #11076
The compact entrypoint is only used once to trigger JITing. There should be no performance impact.

[2017-04-20 06:12] karelz commented on #11094
Closing as dupe (thanks @jkotas) - @danielcrabtree can you please post your details to the dupe issue? Thanks!

[2017-04-20 06:12] #11094 closed

[2017-04-20 06:41] seanshpark commented on #9706
Forgot this issue :)

[2017-04-20 06:41] #9706 closed

[2017-04-20 07:26] danielcrabtree commented on #603
I stumbled into this myself recently and did some investigation. Here are the details I provided on #11094 that relate to this issue.

# Results Summary #

Using BenchmarkDotNet I've found that covariant and contravariant casting is approximately:
* 200x slower than regular casting on .NET Framework.
* 60x slower than regular casting on .NET Core.
* 33x slower than generic casting on .NET Framewor

[2017-04-20 10:44] wateret opened #11101 "[x86/Linux] JIT.Methodical.Boxing.seh._dbgfilter fail (GCStress=3)"
With GCStress=3 JIT.Methodical.Boxing.seh._dbgfilter fails on x86/Linux.

[code]

[2017-04-20 10:46] wateret commented on #11101
Part of Bactrace

[code]

[2017-04-20 10:50] wateret commented on #11101
Including this test case some more tests fail when they have EH filters.
As I looked at the GC log(too big to put up here), it looks like double-reporting is the problem.

[2017-04-20 10:53] #7412 closed

[2017-04-20 11:18] wateret commented on #11101
We had similar issue before: #10188. It was resolved by not reporting variables on parent function. However this time, we may not able to do the same since filters are invoked during the first pass.

I think [this](https://github.com/dotnet/coreclr/blob/1e33123db8781f5d779ca992ef8f4b672a7d4533/src/vm/stackwalk.cpp#L1802-L1823) is the related code. The comment says double reporting is OK for non-x8

[2017-04-20 11:25] wateret commented on #11101
@janvorli Would there be some way to resolve this? All I can see is in the comment `filters the JIT will report all GC roots as pinned to alleviate this problem.` which doesn't look like applied to x86.

[2017-04-20 12:23] joost-morsink opened #11102 "System.Diagnostics.Stopwatch.ElapsedTicks property has a different order of magnitude"
The ElapsedTicks property of the System.Diagnostic.Stopwatch class has ticks of size 1ns instead of 100ns:

[code]

Working on a new MacBook Pro with touchbar, just installed latest .net core. Build target is .NetCoreApp1.1.

[2017-04-20 12:33] mattwarren commented on #11102
I *think* this is covered by the MSDN docs, from [Stopwatch.ElapsedTicks Property](https://msdn.microsoft.com/en-us/library/system.diagnostics.stopwatch.elapsedticks(v=vs.110).aspx#Anchor_1):

Assuming that `TimeSpan.Ticks` work the same as `DateTime.Ticks`, which [appears to be true](https://msdn.microsoft.com/en-us/library/system.timespan.ticks(v=vs.110).aspx#Anchor_1):

[2017-04-20 13:06] joost-morsink commented on #11102
Sorry, it was my assumption that they were the same. Apparently they aren't. Thanks for looking into this.

[2017-04-20 13:06] #11102 closed

[2017-04-20 13:14] janvorli commented on #11101
@wateret it seems that we need to do what the code expects - modify the JIT to report all GC roots for filters as pinned to alleviate this problem.

[2017-04-20 14:31] mskvortsov opened #11105 "[RyuJIT/ARM32] Implement arithmetic overflow checks"
The tests to start with seem to be
[code]
cc @dotnet/arm32-contrib

[2017-04-20 14:32] mskvortsov commented on #11105
I've already started working on this issue.

[2017-04-20 16:14] #3461 closed

[2017-04-20 16:15] omariom opened #11106 "Use RuntimeHelpers.IsReferenceOrContainsReferences in Dictionary.Remove methods"
Don't clear `entry.key` and `entry.value` if the `TKey` and `TValue` types are neither references nor contain references.
There  should be noticeable improvement for keys and values of wide structs, like Guid or tuples.

[2017-04-20 16:16] Maoni0 commented on #5674
Taking off the area-GC tag as this is most likely a GC hole.

[2017-04-20 16:17] Maoni0 commented on #6052
closing the issue as this was checked in. Please reactivate if you are not satisfied.

[2017-04-20 16:22] mattwarren commented on #3461
For anyone else watching this issue, see [[Linux ARM64 GC] Enable FEATURE_USE_SOFTWARE_WRITE_WATCH_FOR_GC_HEAP for Unix ARM64](https://github.com/dotnet/coreclr/issues/11018) for more info on the 'write watch' implementation

[2017-04-20 16:25] BruceForstall commented on #11076
cc @janvorli

[2017-04-20 17:01] swgillespie commented on #3461
That issue is for porting SWW to arm64 - it's already implemented and functional for x64 (https://github.com/dotnet/coreclr/pull/4074). There is some assembly involved, which is why some manual work has to be done to port it to new platforms.

[2017-04-20 17:08] #6052 closed

[2017-04-20 17:16] RussKeldorph commented on #11069
May be a dup of #6298.  I don't think this is codegen.  More likely the emulator itself.

[2017-04-20 17:26] danwalmsley commented on #10767
@mikem8361 i found that when i am debugging my debugger under visual studio no extra window is created, however when I run the application normally it actually creates a seperate window, does that sound familiar to you?

Also what is the recommended way to determine the path to dbgshm.dll?

[2017-04-20 17:31] CarolEidt commented on #5870
@danmosemsft - I'm not sure what is the correct way to handle this kind of issue. Ideally, it would be reassigned as a spec issue, and handled there, but we do not currently have an active standard working group, nor a mechanism for filing and tracking these kinds of issues. But, yes, I think this issue should be closed. I've made a note of it, for consideration in future spec work.

[2017-04-20 17:38] mikem8361 commented on #10767
Visual studio probably isn’t using dbgshim’s CreateProcessForLaunch and using CreateProcess directly allowing them to control the target process’s console window.  This is ok if the SUSPEND flag is passed.  The dbgshim API is a relatively new and VS never got around to using it.

A workaround for this issue is to call CreateProcess directly. This is easy on Windows, but not on our other platforms

[2017-04-20 17:50] gbalykov commented on #11076
@jkotas,

Our concern is that calls to compact entry points are indirected via slots in a table that are patched to point to the actual entry points eventually. We would like to estimate the performance changes with calls indirected via slots. Is there any way to do that?

[2017-04-20 17:56] #5870 closed

[2017-04-20 18:01] sbomer commented on #9918
We'll want to create newer versions of those packages from the tip of jitutils eventually, but this needs to happen together with changes to the dasm jobs, because the command-line interface for jitutils has been changing.

The current packages are fairly standard tools targeting netcoreapp1.0. I don't understand why its dependencies would cause a problem on linux - are we restoring on windows and

[2017-04-20 18:11] sdmaclea commented on #9918
@sbomer Yes you are correct.  This issue is due the the create windws overlay, copy most of it to a Linux overlay, then replace windows specific dll's with Linux ones.

[2017-04-20 18:47] ViktorHofer commented on #10597
@karelz I think the other issue which is maintained by Peter is more than sufficient.

[2017-04-20 18:53] ViktorHofer commented on #445
Sound like we should move it to a future milestone?

[2017-04-20 19:13] rartemev commented on #9918
@wtgodbe This happened because we have required source of packages missed in tests\src\NuGet.config.
You should add https://dotnet.myget.org/F/dotnet-corefxlab/api/v3/index.json there.
For more details see https://github.com/dotnet/coreclr/pull/10532/files#diff-bc6eba596262c94bfe6c0d138549f8b3R9

[2017-04-20 19:15] wtgodbe opened #11111 "GC_Regressions._v2_0_beta2_460373_460373_460373 test fails in Helix on ubuntu 16.04"
Test fails with a segfault:

https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170420.03/workItem/GC.Regressions.XUnitWrapper/analysis/xunit/GC_Regressions._v2_0_beta2_460373_460373_460373_~2F_v2_0_beta2_460373_460373_460373_cmd

@swgillespie is this a known failure?

[2017-04-20 19:16] swgillespie commented on #11111
@wtgodbe No, but I am suspicious that something is wrong: https://github.com/dotnet/coreclr/pull/11108#issuecomment-295846460 . I'll look into this.

[2017-04-20 19:19] wtgodbe opened #11112 "JIT_Regression._JitBlue_GitHub_10940_GitHub_10940_GitHub_10940 test fails in Helix on non-Windows"
Test fails with a non-diagnostic error message:

https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170420.03/workItem/JIT.Regression.XUnitWrapper/analysis/xunit/JIT_Regression._JitBlue_GitHub_10940_GitHub_10940_GitHub_10940_~2F_JitBlue_GitHub_10940_GitHub_10940_GitHub_10940_cmd

@pgavlin any idea why this could be happening?

[2017-04-20 19:20] wtgodbe opened #11113 "readytorun/mainv1 & mainv2 fail in Helix"
This is a consequence of having Xunit Wrappers be built for 2nd-level test directories. This should be fixed for ReadyToRun tests.

[2017-04-20 19:21] wtgodbe commented on #11111
Looks like this is a new failure - that test only started failing in the most recent Helix test run.

[2017-04-20 19:35] pgavlin commented on #11112
The only thing that comes to mind is that Helix is not using an up-to-date build. Is there any way to get the artifacts that were used to run the test when it failed? If so, we can find the corresponding commit for the build and ensure that it has the fix associated with this regression test.

[2017-04-20 19:36] danmosemsft opened #11114 "Environment.FailFast should dump exception details to console"
Environment.FailFast writes the message (and exception details if provided) to the Windows event log and passes them to Watson. Neither of these go to the developer's console nor to the XUnit logs. Now we have made Debug.Assert do FailFast, this is hindering debugging and test analysis.

We should also write to stderr so if it's a console app you see the details. This should include the message an

[2017-04-20 19:40] danmosemsft commented on #11114
It should obviously do this with the minimum of ceremony, since this is a failure path. I see the VM already has `PrintToStdErr()` but I don't know if any work is needed to format the message/stack.

[2017-04-20 19:40] wtgodbe commented on #11112
I can get you the test binaries & Core_Root, if that would help. That test has been failing for at least a couple of days, and it looks like we haven't updated CoreClr's package dependencies for the last 3 days - could that have something to do with it? Will this test fail if we run it against binaries from 3-day old packages?

[2017-04-20 19:43] pgavlin commented on #11112
Yes, absolutely. That test was just checked in yesterday and will fail if your build of clrjit does not contain commit 961f24096a9c2bfe4f848c27e0756669042a8985.

[2017-04-20 19:44] wtgodbe commented on #11112
Well that'll be it, then. I'll re-assign this to myself & close it if it starts passing once we merge an auto-update PR. Thanks Pat!

[2017-04-20 19:48] swgillespie commented on #11111
You wouldn't happen to have a core dump, would you? I'm trying to repro on a couple machines but I'm not having any luck.

[2017-04-20 19:50] wtgodbe commented on #11111
@MattGal may know how to get that - barring that, all I have is the message above. I can send you the test binaries & Core_Root used to run this test, though, which may make it easier to repro.

[2017-04-20 19:56] wtgodbe commented on #11084
These are now passing (I added a dependency on System.Security.Permissions)

[2017-04-20 19:56] #11084 closed

[2017-04-20 20:02] swgillespie commented on #11111
That would be great, if you don't mind!

[2017-04-20 20:07] wtgodbe commented on #11111
Here are the binaries - GCTestStuff (file://WILLPC/GCTestStuff)

Do you have an Ubuntu 16.04 VM? It only failed on that distro, it passed everywhere else.

[2017-04-20 20:08] wtgodbe commented on #11111
Also I should have mentioned, the test is running against portable Linux binaries.

[2017-04-20 20:10] swgillespie commented on #11111
Thanks!

Yeah, I'm using a Ubuntu 16.04 VM for this.

[2017-04-20 20:45] RussKeldorph commented on #10622
Flaw in LSRA stress infrastructure.

[2017-04-20 21:14] sdmaclea commented on #10982
Also please check the usage of PAGE_SIZE & PAGE_MASK in src/debug/createdump/*.  These appear to be coming from host system headers.  These will probably need to be made dynamic to create usable dumps from targets with 64k pages.

[2017-04-20 21:14] jkotas commented on #11114
All sounds good to me.

[2017-04-20 21:18] ahsonkhan commented on #10890
@gkhanna79, should we prioritize this issue?

[2017-04-20 21:20] gkhanna79 commented on #10890
@tannergooding Can you PTAL?

[2017-04-20 21:35] wtgodbe commented on #11082
@AndyAyersMS do you mind putting together a PR for this?

[2017-04-20 21:58] sbomer commented on #9918
@rartemev, I think the problem you're referring to is a bit different from this, just a coincidence as @RussKeldorph said. The problem here isn't that restoring fails due to missing sources, but that some of the restored dlls that are windows-specific are getting copied to the overlay when they shouldn't be.

I'm not sure how exactly we use the overlay today, but to me it seems like the correct th

[2017-04-20 22:01] wtgodbe commented on #9918
@sbomer most likely Linux will be fine after https://github.com/dotnet/coreclr/pull/10532, but we actually don't want these binaries to appear in Core_Root on Windows, either - having https://github.com/dotnet/coreclr/blob/master/tests/src/Common/test_runtime/project.json#L5-L7 still puts us in a position where those binaries are appearing in Core_Root.

[2017-04-20 22:11] sbomer commented on #9918
Thanks @wtgodbe. Is there a more appropriate place to restore test runtime dependencies such as tools that the tests don't need to reference themselves? These jitutils are restored to be used in our dasm test legs.
Also out of curiosity, what's the problem with having the ms-win binaries in core_root on windows?
/cc @ramarag

[2017-04-20 22:14] wtgodbe commented on #9918
Having them there doesn't cause any test issues, but our tests no longer depend on them, so having them in Core_Root is unnecessary. It would probably be fine to add a new project.json inside of tests/src/Common for just these dependencies - @ramarag may have an opinion on this as well.

[2017-04-20 22:23] sdmaclea commented on #9517
#10959 Fixes the issues with loading native images
#10981 Fixes the basic runtime issues @janvorli described in the email

There are two other related issues
#10982 For running debugger on 64K pages
#11017 To revisit GC changes to reduce code which depends on OS page size.

[2017-04-20 22:42] MattGal commented on #11111
@wtgodbe there's an opt-in service on the VMs called Dumpling that can automatically upload core dumps.  From reading execution logs, doesn't look like this has been turned on in CoreCLR, so the only way to get a dump would be to create a new one by re-running the test.

[2017-04-20 22:45] swgillespie commented on #11111
I have a repro, it's rare but this is the stack:

[code]

Smoking gun is https://github.com/dotnet/coreclr/pull/10813. Will have a fix out soon.

[2017-04-20 22:46] #9040 closed

[2017-04-20 22:50] wtgodbe commented on #11111
@MattGal how can I go about enabling that for CoreCLR?

[2017-04-20 22:56] MattGal commented on #11111
it **_MIGHT_** be as simple as this:

https://github.com/dotnet/corefx/blob/fa8fdd2b897c5dc001e839d084419718e313a93a/Tools-Override/tests.targets#L393

However I believe this depends on using RunTests.cmd/sh generation, so since you guys roll your own method for execution it may involve extra work.  If you read through that .targets file though you'll get an idea what is needed.

@sepidehMS  broug

[2017-04-20 23:20] parjong commented on #9265
bece89ead08 finally shows 0 failed count (although some tests are excluded)
[code]

[2017-04-20 23:23] gkhanna79 commented on #11089
CC @RussKeldorph

[2017-04-20 23:23] gkhanna79 commented on #11088
CC @RussKeldorph

[2017-04-20 23:27] gkhanna79 commented on #11078
@dpodder Is this for 2.0?

[2017-04-20 23:32] gkhanna79 commented on #11060
Is your directory, where you run CoreRun from under VS, containing the same set of binaries as in E:\Personal\github\coreclr\bin\Product\Windows_NT.x64.Debug?

[2017-04-20 23:32] gkhanna79 commented on #11058
CC @noahfalk

[2017-04-20 23:33] gkhanna79 commented on #11048
@Marthyn Can you please close this issue and move it to https://github.com/aspnet/Home?

CC @glennc

[2017-04-20 23:40] lt72 commented on #4091
Superseded by #10868, #10872, and #10873.

[2017-04-20 23:40] #4091 closed

[2017-04-20 23:41] gkhanna79 commented on #11012
The error indicates that assembly (lets call it Assembly A) containing Microsoft.Extensions.FileProviders.PhysicalFileProvider.CreateFileWatcher type was trying to load (or had a reference to) 4.2.0.0 version of System.ComponentModel.* while the version found was a lower version. Did Assembly A build against .NET Core as well?

[2017-04-20 23:41] gkhanna79 commented on #11009
@danmosemsft what is the milestone for this?

[2017-04-20 23:43] #11002 closed

[2017-04-20 23:43] gkhanna79 commented on #11002
Issue moved to [dotnet/cli #6369](https://github.com/dotnet/cli/issues/6369) via [**ZenHub**](https://www.zenhub.com/)

[2017-04-20 23:44] #7902 closed

[2017-04-20 23:45] gkhanna79 commented on #10997
@cydhaselton is in the process of bringing up Android build and can chime on this.

[2017-04-20 23:45] brianrob commented on #10999
I suspect that these are test modes, which is why they don't gracefully handle collisions.  @russellhadley, do you know if this is the case?

[2017-04-20 23:46] gkhanna79 commented on #10986
@hseok-oh Can this be closed?

[2017-04-20 23:46] gkhanna79 commented on #10982
CC @mikem8361 @lt72

[2017-04-20 23:47] gkhanna79 commented on #10918
CC @kouvel

@janvorli Should this be for 2.0?

[2017-04-20 23:48] JeremyKuhne commented on #11009
Marked it as future- it was opportunistic.

[2017-04-20 23:49] gkhanna79 commented on #10796
@janvorli IIRC, you were planning to get this done for 2.0, right?

[2017-04-20 23:50] #10986 closed

[2017-04-20 23:51] janvorli commented on #10796
@gkhanna79 yes, it went already in (#10938).

[2017-04-20 23:52] gkhanna79 commented on #10717
@gregg-miskelly Which is the debugger repo where this issue can be moved to?

[2017-04-20 23:52] janvorli commented on #10918
@gkhanna79 it would be good to fix it for 2.0.0

[2017-04-20 23:53] gkhanna79 commented on #10710
CC @yizhang82

[2017-04-20 23:54] gkhanna79 commented on #10918
Do you want @kouvel to help take a look?

[2017-04-20 23:54] janvorli commented on #9265
@parjong congratulations for the great progress! Maybe it is time to start running the Pri 1 tests too (that would add about 3000 more tests).

[2017-04-20 23:54] gkhanna79 commented on #10796
Ok - closing this issue in that case.

[2017-04-20 23:54] #10796 closed

[2017-04-20 23:56] gkhanna79 commented on #10618
@RussKeldorph PTAL.

[2017-04-20 23:57] gkhanna79 commented on #10600
@brianrob Marking this for 2.0 based upon your response at https://github.com/dotnet/coreclr/issues/10600#issuecomment-292186538

[2017-04-21 00:02] gkhanna79 commented on #10088
@jabbera Are you able to repro this using the latest .NET Core (https://www.microsoft.com/net/download/core)?

[2017-04-21 00:04] gkhanna79 commented on #6707
@fadimounir Will you be able to help with a fix for this?

[2017-04-21 00:07] billwert opened #11119 "DateTime.ToString("zzz") on a DateTime with DateTimeKind.Utc returns 0 instead of the correct UTC offset."
Consider this code:
[code]

On Mono and Desktop, this prints:
```actual: -07:00 expected: -07:00 result: True```

On CoreCLR, you get:
```actual: +00:00 expected: -07:00 result: False```

A similar result happens for ```ToString("%z")``` and ```ToString("zz")```.

The [documentation](https://msdn.microsoft.com/en-us/library/8kb3ddd4(v=vs.110).aspx#Anchor_39) states that the ```z``` modifiers shoul

[2017-04-21 00:07] gregg-miskelly commented on #10717
@gkhanna79 This issue should likely stay here as I don't really remember a 'FatalExecutionEngineError' while debugging issue ever actually being a problem with the debugger.

[2017-04-21 00:09] parjong commented on #9265
@janvorli We already did. Here is the result from a762db4d403 ([full log](https://github.com/dotnet/coreclr/files/945763/log.txt)):
[code]

Here is the list of failed tests:
 - CoreMangLib.cti.system.intptr.IntPtrToInt64.IntPtrToInt64
 - CoreMangLib.cti.system.string.StringChars.StringChars
 - CoreMangLib.cti.system.uintptr.UIntPtrCtor_UInt64.UIntPtrCtor_UInt64
 - CoreMangLib.cti.system.uintptr.UI

[2017-04-21 00:09] karelz commented on #10600
Thinking about it more ... we might as well close this issue. It does not track the new work and that will be the key anyway. @brianrob can you please do it if you agree?

[2017-04-21 00:12] AndyAyersMS commented on #11082
Sure, just need to figure out what to reference instead...

[2017-04-21 00:12] brianrob commented on #10600
Yes, let's close this.  @goldshtn is going to work on some collection improvements and we can use that opportunity to improve our documentation.

[2017-04-21 00:12] #10600 closed

[2017-04-21 00:12] rartemev commented on #10646
According to https://msdn.microsoft.com/en-us/library/t2yzs44b.aspx

You should guarantee that unsafe code is correct. `int*[] inarr = new int*[] { (int*)1, (int*)2 };` does not seem like this even for C/C++.

As I can see the code is getting failed with

which in this case means runtime (especially GC) finds incorrect object pointer in the object array. At the same time the Array.Copy works corre

[2017-04-21 00:13] gregg-miskelly commented on #10717
@noahfalk does the CLR have a nob that @dcarl1 can use to get a dump of the problem?

[2017-04-21 00:13] gkhanna79 commented on #10717
@adam8797 @shirhatti Do you have a repro or a crash dump for the FatalExecutionEngineError?

[2017-04-21 00:16] adam8797 commented on #10717
@gkhanna79 I can't share the repo as its private to my company, but I can answer questions about it if you have any.

If you've got instructions on how to produce a dump file, I can do so tomorrow.

[2017-04-21 00:16] karelz commented on #10597
Closing ... @RussKeldorph feel free to reopen if you disagree.

[2017-04-21 00:16] #10597 closed

[2017-04-21 00:17] janvorli commented on #9265
@parjong Awesome, thank you!
CC: @gkhanna79, @Petermarcu

[2017-04-21 00:19] gkhanna79 commented on #10717
It will be great if you can try to create a reduced repro. That said, can you use https://blogs.msdn.microsoft.com/cobold/2010/03/01/collecting-crash-dumps/ to see if you can generate the crash dumps? Do note that the crash dump could contain name of your app, filenames and paths, etc, if you are concerned about PII.

[2017-04-21 00:23] adam8797 commented on #10717
Sounds fine to me. I'll see what I can throw together.

[2017-04-21 00:24] dcarl1 commented on #10717
Likewise. I'm doing some work this evening and will switch back to VS running to see if I can get a crash dump.

[2017-04-21 00:25] swgillespie commented on #9265
@parjong The reliability framework is a test that was just re-enabled recently - feel free to ping me sometime with the failure message and I'd be happy to investigate it if I can.

[2017-04-21 00:30] parjong commented on #9265
@swgillespie Thanks you for comment. GC.Stress.Framework.ReliabilityFramework.ReliabilityFramework failed from 04/20. Both x86 and armel have the same failure. I'm not sure about armhf as I do NOT have a result, yet.

[2017-04-21 00:31] AndyAyersMS opened #11121 "JIT: consider taking advantage of non-null this in generic instance methods"
See discussion in #11104 and Ecma I.8.4.2.

We should consider using this to do a more complete cleanup of unused runtime lookups.

[2017-04-21 00:32] seanshpark opened #11122 "CompileDeepTree_NoStackOverflowFast fails StackOverflowException with debug build"
CoreFX System.Linq.Expressions.Tests teminates with StackOverflowException
[code]
Inside, `CompileDeepTree_NoStackOverflowFast` test, it tests the compiler with 100 constant expression with 128KB stack size. I'm running the test with debug version of corerun (release is not stable yet).
When I change the stack size to 512K, this method passes.

I'm not sure how to think about this problem.
**Shoul

[2017-04-21 00:34] seanshpark commented on #11122
@parjong, do you have any comments to add?

[2017-04-21 00:34] swgillespie commented on #11111
cc @Maoni0 @jkotas

So this is wacky - this crash occurs because a background GC thread is calling `gc_done_event.Reset()` at the same time that another thread is running global destructors due to the process shutting down, after main has returned:

[code]

This was previously not a problem because `CLREventStatic` does not have a destructor. We could solve this problem by removing `GCEvent`'s des

[2017-04-21 00:35] seanshpark commented on #11122
@jkotas , could you please help or invite who could be a help?

[2017-04-21 00:36] RussKeldorph commented on #9591
The conclusion is that JIT behavior is by design.  If a fix is made, it should be made to the C# compiler, both because of the ECMA language and because it would be a "less breaking" change.  Looks like this may have come up before in dotnet/roslyn#5671.

[2017-04-21 00:36] #9591 closed

[2017-04-21 00:36] parjong commented on #11122
I do not have much to add.

[2017-04-21 00:40] seanshpark commented on #11122
With a same method(without the  `Assert.Equal(n, f());` line) run in a console app, gdb stack shows like this.
`this=0x0` in `Compiler::compStressCompile` as seems that stack has ran out.
[code]

[2017-04-21 00:42] tarekgh commented on #9591
@RussKeldorph it looks to me we didn't reach agreement if the issue has to be fixed in Roslyn. I am seeing dotnet/roslyn#5671 is closed as won't fix. this is really bad bug we need to fix it somewhere.

@VSadov I am going to move this issue to Roslyn repo to decide what to do.

[2017-04-21 00:48] gkhanna79 commented on #8158
@karelz who should this be assigned to?

[2017-04-21 00:49] gkhanna79 commented on #8362
@swgillespie Is this going to be fixed for 2.0?

[2017-04-21 00:49] gkhanna79 commented on #9215
Is this required for 2.0?

[2017-04-21 01:02] karelz commented on #8158
Reflection [owners](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md#areas) - @AtsushiKan @DnlHarvey, it counts into their area bug count in the reports I'm sending.

[2017-04-21 01:36] gregg-miskelly commented on #10717
Unfortunately, none of the techniques in that post will work as your issue only repros while the app is already being debugged by another debugger. Noah may have some suggestions...

[2017-04-21 01:52] danmosemsft opened #11123 "Seg fault in VectorReturn_ro.sh test on arm"
[code]

https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm_cross_release_ubuntu_prtest/1516/consoleText

[2017-04-21 01:53] danmosemsft commented on #11069
Another one: https://github.com/dotnet/coreclr/issues/11069

@jyoungyun ?

[2017-04-21 02:08] hadibrais commented on #10999
I can assist in or fully implement this enhancement and submit a PR if you like. But do you have any suggestions on how to choose a file name when a collision occurs? One way is to just append a serial number to the given file name of the existing file. But the implementation would be ugly because it would require inter-process synchronization. Perhaps a better approach would be to append the proc

[2017-04-21 03:27] brianrob commented on #10999
@hadibrais, that would be great. Using the process id sounds good to me, as long as @russellhadley is on board.

[2017-04-21 03:31] brianrob commented on #10999
I should also add that if you want to collect jit information, there is a great deal of it available via ETW, which is machine-wide. It is collectable with PerfView (just search for it in your favorite search engine).

[2017-04-21 04:26] mikedn commented on #10999
Features like JitTimeLogCsv and JitFuncInfoLogFile are primarily intended to assist JIT developers. Not to say that they cannot be used by other developers but they're not general purpose profiling facilities. They may be removed, renamed and have their output changed at any time. Many are only available in checked or special release builds.

[2017-04-21 04:57] hadibrais commented on #10999
@mikedn I'm a JIT developer and I actually need this feature.

@brianrob These events are designed to be used by app developers for perf analysis. The special profiles that are enabled through env vars are generally much more detailed and suitable for runtime developers.

[2017-04-21 05:09] jkotas commented on #11111
Yes, you do not want to have static destructors for anything. We do not cleanup during shutdown, except what is absolutely necessary. We depend on the OS to cleanup.

[2017-04-21 05:15] mikedn commented on #10999
Then it looks like this issue was wrongly assigned to @brianrob, this is something that someone from @dotnet/jit-contrib should weigh on.

[2017-04-21 05:38] MendelMonteiro commented on #6052
Awesome, I'm assuming this has made it into .net 4.7? If so I can try this out asap on our test environments.

[2017-04-21 05:42] #11061 closed

[2017-04-21 07:25] jkotas commented on #11122
This test was added by @JonHanna in https://github.com/dotnet/corefx/pull/14444

[2017-04-21 07:38] #10931 closed

[2017-04-21 08:13] benaadams opened #11126 "EC Save+Restore can be reduced"
If ExecutionContext is "changing" from default to default it doesn't need to be saved and restored

Most of the EC calls for Kestrel on libuv take this path, even though the context isn't changing; because captured `Default` and thread default `null` are different (even though both "default")

![](https://aoa.blob.core.windows.net/aspnet/ec-0.png)

[2017-04-21 09:07] JonHanna commented on #11122
Has something changed in `TryEnsureSufficientExecutionStack` in debug that maybe the test is catching, or is this a test configuration that is new?

From https://github.com/dotnet/corefx/issues/17550#issuecomment-289816350 it would seem that it'll pass with 512K because it won't test what it's trying to test. What happens with 192K?

We could up both the stacksize and the size of the tree compiled

[2017-04-21 10:01] parjong commented on #11122
@JonHanna Yes, this issue comes from a completely new configuration (x86/Linux Debug). CLR has been ported to x86/Linux. Recent CLR unittest result shows that debug build is stable, and thus we attempted to run FX unittest as the next step (checked/release build is under bring up).

[2017-04-21 10:03] parjong commented on #11069
@danmosemsft @janvorli This does not appear on real device.

[2017-04-21 10:14] JonHanna commented on #11122
It would be worth temporarily taking the OuterLoop tag off this test's outerloop cousin and seeing if it passes. If that one also fails then the problem is in `TryEnsureSufficientExecutionStack` on that configuration and the tests have found a bug. If that one fails then the innerloop test needs tweaking or disabling.

[2017-04-21 10:41] parjong commented on #11122
@JonHanna We could run System.Linq.Expressions.Tests without stack overflow if this case is excluded (although there are several failures).

[2017-04-21 10:47] JonHanna commented on #11122
If `CompileDeepTree_NoStackOverflow` passes (but note that it's outerloop and won't be included in most runs, I'm beginning to think that this test is more trouble than it's worth; anything it catches will still be caught by the outerloop tests, albeit not on most test runs.

[2017-04-21 11:01] mskvortsov opened #11128 "ARM32 AltJit is broken"
`JIT/CodeGenBringUpTests` under `AltJit=* AltJitAssertOnNYI=0` after #10846 got merged:
[code]
[code]
The full testsuite run is entirely broken, almost every test fails with
[code]
Before it was like
[code]
cc @dotnet/arm32-contrib

[2017-04-21 11:46] janvorli commented on #11122
Taking a look at how the safe execution stack limit is determined, I can see that it checks for 128kB of remaining stack space on 64 bit architectures, but only for 64kB on 32 bit architectures. Could that be causing the problem?

[2017-04-21 11:50] parjong commented on #11122
@JonHanna Oops. I mean all the innerloop tests. Sorry for confusion. I will let you know the result when the result is ready (I guess that I could let you know the result in the next Monday).

[2017-04-21 12:31] noahfalk commented on #11058
@mikem8361 - Sounds like this is right up your alley : )

[2017-04-21 13:00] noahfalk commented on #10717
ProcDump and Windbg can both handle the job, we just need to use them slightly differently than that page describes. Instructions for ProcDump:

1) Download the tool from https://technet.microsoft.com/en-us/sysinternals/dd996900.aspx
2) Unzip/unblock the exe and lets say you put it in C:\temp
3) Trigger the FatalExecutionEngineException popup and then without doing anything further in the VS UI sw

[2017-04-21 13:14] mmoravcik commented on #6536
This fixed it for me after I've tried nearly everything else:

https://github.com/rvm/rvm/issues/3724#issuecomment-236233724

[2017-04-21 13:24] RussKeldorph commented on #10047
@AndyAyersMS @BruceForstall Is this just a case of an incorrect assertion?  Should we disable/weaken the assertion or disable a test for now to get things green(er) and leave this issue open to resolve it later?

[2017-04-21 14:02] AndyAyersMS commented on #10047
Yes, it seems most likely that the assertion is incorrect. ABI lowering happens at different "rates" for the root method and its callees so getting the assert right here may need to take that more fully into account. However it is hard to reconcile the assert-is-incorrect hypothesis with just one test failure -- you'd expect more widespread impact.

Perhaps the fact that just one test fails is is

[2017-04-21 14:38] russellhadley commented on #10999
@hadibrais Typically we use these env variables carefully to avoid collisions - not just to avoid corruptions but to make sure we know how to attribute the data to a particular invocation of the jit.  The use case is still a bit fuzzy for me.  Is this just a way to get the data in general (a solution that would safely append the data would cover) or is the collision information important i.e. you

[2017-04-21 15:00] danmosemsft commented on #11119
@tarekgh could you please take a look? this has shown up running actual customer code.

[2017-04-21 15:01] danmosemsft commented on #11114
@ViktorHofer do you want to take a shot at this?

[2017-04-21 15:23] tarekgh commented on #11119
I'll take a look

[2017-04-21 15:32] danmosemsft commented on #11069
@parjong how can we avoid these emulator specific issues impacting PR jobs? What do you suggest?

[2017-04-21 15:35] pgavlin commented on #10999
`JitTimeLogCsv` is also designed s.t. multiple consecutive compilation sessions (e.g. multiple consecutive invocations of `crossgen`, `corerun`, etc.) can use the same log file: if the file named by `JitTimeLogCsv` does not exist, it is created; if it does exist, it is instead opened for appending. In other words, there is existing behavior around pre-existing log files that needs to be considered

[2017-04-21 15:48] tannergooding commented on #10890
In both cases, the only difference I see in the output given and the output I produce is that my build is additionally passing in: `/p:RestoreDefaultOptimizationDataPackage=false /p:UsePartialNGENOptimization=false`

However, the error logs they have both have the following path: `Tools\/net46\/Microsoft.DotNet.Build.Tasks.dll`. I would expect that the combination of slashes (`\/`) as the director

[2017-04-21 15:55] KrzysztofCwalina commented on #2426
IntPtr.Size is not always 8 "on 64-bit platforms" (if by platform you mean processor architecture). If you compile to x86 specifically (as opposed to AnyCpu), Windows process will be forced to 32-bit, and so IntPtr.Size will be 4.

Can this be used to address the "native long" issue? i.e. you would build two dlls with forced 32-bit and forced 64-bit, and then select the appropriate one depending o

[2017-04-21 15:58] hadibrais commented on #10999
By corruption I mean, in the worst case, the emitted profile would no longer be in the right format (CSV, list of strings) due to overlapping from multiple processes, and in the best case, as you said, I may not be able to attribute profiling information to instances of JIT in each process. I would like the runtime to handle both scenarios. Either way, I think that the best solution is to create s

[2017-04-21 16:02] hadibrais commented on #10999
In some scenarios, only the runtime has the chance to do that, the user does not.

[2017-04-21 16:02] mattwarren commented on #9215
I'm happy to have a go at this.

@AtsushiKan the code you posted actually ends up hitting the same check, but in a different place, the one inside `CreateDelegate(Type type, Type target, String method, bool ignoreCase, bool throwOnBindFailure)`, not the delegate `.ctor` (`Delegate(Type target, String method)`) you linked to.

Having said that, if I change [this line](https://github.com/dotnet/core

[2017-04-21 16:06] AtsushiKan commented on #9215
Yep, that’s the fix.

From: Matt Warren [mailto:notifications@github.com]
Sent: Friday, April 21, 2017 9:03 AM
To: dotnet/coreclr <coreclr@noreply.github.com>
Cc: Atsushi Kanamori <atsushik@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [dotnet/coreclr] Delegate.CreateDelegate() - parameter validation hole. (#9215)

I'm happy to have a go at this.

@AtsushiKan<https://na01.safel

[2017-04-21 16:20] AtsushiKan commented on #9215
Yep, looks like another instance of the same mistake.

Hmm.. I'm not sure how that constructor would be reached. I think this is just an obsolete architectural vestige that's only there to keep apicompat happy.

Appropriate place would be in the corefx repo (System.Runtime.Tests.) I don't think a test is really pri-1 for this, though.

[2017-04-21 16:21] Petermarcu commented on #9265
@parjong Awesome progress!

[2017-04-21 16:21] RussKeldorph commented on #11088
Just find out if this is bad enough that we need to fix for preview.

@dotnet/jit-contrib

[2017-04-21 16:23] pgavlin commented on #10999
Can you elaborate? Do you have a specific example in mind?

[2017-04-21 16:27] dpodder commented on #11078
@gkhanna79 No, it's not; it's a tracking issue for maintainability. The fix can happen either before 2.0 or after 2.0, as far as this issue is concerned.

[2017-04-21 16:50] swgillespie commented on #8362
Most likely no - it's not needed for correctness of Workstation GC.

[2017-04-21 16:52] pgavlin commented on #10999
FWIW, whatever the scenario turns out to be, it may be reasonable to add a second knob that instructs the JIT to do something simple like add a `.<pid>` suffix to its logfiles (perhaps `JitPerProcessLogs`). Though this wouldn't guarantee unique logs over time (as PIDs may be recycled), it would at least guarantee that concurrently-running processes do not stomp on each other's logs.

[2017-04-21 16:53] gkhanna79 commented on #8362
In that case, please move it out of 2.0

[2017-04-21 16:53] swgillespie commented on #8362
done!

[2017-04-21 17:22] mikem8361 commented on #10982
Currently createdump is only built/used on amd64.

[2017-04-21 17:24] tarekgh commented on #11119
The behavior of the Desktop/Mono is really a bad hack and doesn't make sense. I understand the doc mentioned the results bu the actual definition of the 'z' format is

"zzz"	Hours and minutes offset from UTC.
https://msdn.microsoft.com/en-us/library/8kb3ddd4(v=vs.110).aspx

Which is getting the offset from UTC of the passed datetime. while the passed dateTime is in UTC, the offset should be zero a

[2017-04-21 17:29] tarekgh commented on #11119
Add one more useful link
https://msdn.microsoft.com/en-us/library/ms172213(v=vs.110).aspx

[2017-04-21 17:30] ViktorHofer commented on #11114
Yeah I will look into it

[2017-04-21 17:38] mikem8361 commented on #11058
This looks like the PAL is not being properly initialized. EnvironInitialize() initializes palEnvironment which is called from Initialize() in pal.cpp which is called from PAL_InitializeDLL().  PAL_InitializeDLL is called inside the PUBLIC_CONTRACT macro that is the beginning of all the public dbgshim functions RegisterForRuntimeStartup included.

I don't know why this is happening to you. You wil

[2017-04-21 17:44] briansull commented on #10999
I would suggest that we add support for expanding a tag such as @pid (for the current pid) or @rnd (for a random number)  Then if you want a single output file you don't use any tags.  If you want/need unique output files then you use the tag in the Environment/Config variable.

[2017-04-21 17:50] quoctruong commented on #11058
Is it because I'm not compiling with the appropriate headers and flags? I'm currently using clang to compile with the flags `-std=c++11 -fPIC -fms-extensions -fsigned-char -fwrapv -DPAL_STDCPP_COMPAT -DBIT64 -DPLATFORM_UNIX`. Are there any additional MACROS to define? Thanks!

[2017-04-21 17:58] billwert commented on #11119
@tarekgh @danmosemsft @terrajobst My understanding is that we want .NET Core to be compatible with Desktop so that apps don't break moving to .NET Core. How does this line up in that perspective?

[2017-04-21 18:02] danmosemsft commented on #11119
Ugh, another difficult call. Here's the MDA that fires:
https://msdn.microsoft.com/en-us/library/ms172213(v=vs.110).aspx

[2017-04-21 18:04] tarekgh commented on #11119
We are expecting some behavior difference in some cases. I don't think we need to carry this bad behavior in coreclr.

[2017-04-21 18:10] danmosemsft commented on #11119
This is correct in the vast majority of cases but it's not a goal to be compatible to the extent that we must be strictly bug compatible. You have one datapoint, but this is also such a clear bug there is even an MDA for it, that has been flagging it for desktop code. Presumably there is also code that does not break (even improves) with this change. In the customer code you ran that hit this, did

[2017-04-21 18:18] swgillespie commented on #6553
Closing in favor of https://github.com/dotnet/coreclr/issues/4093, which tracks this particular issue.

[2017-04-21 18:18] #6553 closed

[2017-04-21 18:18] swgillespie commented on #6574
Closing in favor of #4093, which tracks this particular issue.

[2017-04-21 18:18] #6574 closed

[2017-04-21 18:23] sdmaclea commented on #10622
@pgavlin @CarolEidt The same defect seems to also affect [Arm64/Unix] during crossgen without any JitStress.

On version c111a57, It is affecting these files during crossgen
[code]

[2017-04-21 18:23] terrajobst commented on #11119
We also said we're not shooting for bug-by-bug compatibility. If the original behavior is a bug, we'll take the opportunity to fix it in .NET Core.

[2017-04-21 18:29] wtgodbe opened #11137 "CoreMangLib_cti._system_delegate_DelegateGetHashCode1_DelegateGetHashCode1 Fails in Helix"
Test fails periodically on all OS's:

Looks like this is the check that fails: https://github.com/dotnet/coreclr/blob/master/tests/src/CoreMangLib/cti/system/delegate/delegategethashcode1.cs#L229

https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170420.08/workItem/CoreMangLib.cti.XUnitWrapper/analysis/xunit/CoreMangLib_cti._s

[2017-04-21 18:30] JosephTremoulet commented on #11090
This repros against net462, but not netcore.  I'm working on narrowing down what the issue is and whether it's specifcally been fixed in core vs just failing to repro...

[2017-04-21 18:34] pgavlin commented on #10622
@sdmaclea The meaning of the referenced assertion boils down to "the RA could not find a viable allocation given the problem constraints", so if you are seeing it in other circumstances it may not be related to this issue.

Under which circumstances is the RA failing to allocate? Are there any stress modes enabled, or is this simply `crossgen {System.Private.Xml,Microsoft.VisualBasic}.dll?

[2017-04-21 18:37] sdmaclea commented on #10622
@pgavlin No stress modes enabled.  Simple crossgen.  This apparently was triggered in Arm64 with the recent CoreFX version upgrade.  Should I open a separate issue?

[2017-04-21 18:41] jkotas commented on #11137
This is regression from #11019. This test has some small probability of failing because of it is based on randomness. I though that the probability is very small and it won't register on the radar (https://github.com/dotnet/coreclr/pull/11019#discussion_r112576752), but I was wrong apparently.

@mountgellert Could you please add retry logic to the test to make it not fail intermittently?

[2017-04-21 18:45] pgavlin commented on #10622
Yes, a separate issue would be most appropriate. Thanks!

[2017-04-21 18:51] swaroop-sridhar opened #11139 "run-xunit-perf should handle multiple scenarios in one test"
run-xunit-perf should be generalized so that it works with scenario benchmarks that run multiple scenarios.
https://github.com/dotnet/coreclr/blob/master/tests/scripts/run-xunit-perf.cmd#L227

For example, the LinkBench runs 5 scenarios and generates 5 different .xml result files.
So, I think getting all the .xml files is better than looking for perf-benchmark.xml

[2017-04-21 18:51] swaroop-sridhar commented on #11139
@jorive @DrewScoggins

[2017-04-21 18:52] billwert commented on #11119
Cool, thanks. It is useful to have these conversations.

I agree that's where we started with .NET Core. Is that where we are today given that NS2.0 is implying some level of compatibility? Historically we fix bugs because we have strong reasons to; in a compatible release we would shy away from a behavior change like this without direct customer feedback to guide us. One useful outcome here is we

[2017-04-21 18:57] mikem8361 commented on #11058
I assumed you are using the coreclr cmake build. There are all kinds of macros/defines that need to be defined.  I couldn’t list here. The biggest one (but the only one) is FEATURE_PAL.

[2017-04-21 19:04] sdmaclea opened #11141 "[Arm64/Unix] Crossgen triggering LSRA assert 'farthestRefPhysRegRecord != nullptr'"
On version c111a57, It is affecting these files during crossgen

[code]

System.Private.Xml.dll
[code]

Microsoft.VisualBasic.dll
[code]

[2017-04-21 19:05] sdmaclea commented on #11141
@pgavlin Noted that this is a different issue than #10622

[2017-04-21 19:08] #11112 closed

[2017-04-21 19:08] gkhanna79 commented on #11112
Closed since fixed.

[2017-04-21 19:11] dotnet-mc-bot opened #11142 "Test failure: JIT_Regression._JitBlue_DevDiv_255294_DevDiv_255294_DevDiv_255294_/_JitBlue_DevDiv_255294_DevDiv_255294_DevDiv_255294_cmd"
Opened on behalf of @gkhanna79

The test `JIT_Regression._JitBlue_DevDiv_255294_DevDiv_255294_DevDiv_255294_/_JitBlue_DevDiv_255294_DevDiv_255294_DevDiv_255294_cmd` has failed.

    Unhandled Exception: OutOfMemoryException.
    /home/helixbot/dotnetbuild/work/f4cb4c15-243a-4fd1-9f7c-c609e2f8f545/Work/52a9157d-ed0e-498e-91fc-3551ee7dc58a/Unzip/JitBlue/DevDiv_255294/DevDiv_255294/DevDiv_255294.sh:

[2017-04-21 19:12] gkhanna79 commented on #11142
@pgavlin @RussKeldorph Can you PTAL?

CC @wtgodbe

[2017-04-21 19:23] wtgodbe commented on #11142
I've temporarily disabled this test for Helix: https://github.com/dotnet/coreclr/blob/master/tests/issues.targets#L1139-L1141

Please remove these lines from this file when fixing the test

[2017-04-21 19:24] wtgodbe commented on #11137
@jkotas @mountgellert I've temporarily disabled this test for Helix - https://github.com/dotnet/coreclr/blob/master/tests/issues.targets#L422-L424. Please remove these lines when fixing the test.

[2017-04-21 19:35] mountgellert commented on #11137
Ok, can you help me by explaining what is Helix and how is that different from the normal build? If the hash codes are the same, that means that two sequentially created objects has the same hashcode - that's very very unlikely, so something else is different when run through Helix.

[2017-04-21 19:36] sdmaclea commented on #10769
@jashook Please assign this to me

Partially addressed by #11143

[2017-04-21 19:39] wtgodbe commented on #11137
Helix is where we test the output of our official builds (e.g. the packages that our customers consume). A difference there is that we build tests against binaries restored from packages, instead of binaries that were just built as part of a product build (the latter is the dev scenario, and the scenario we test in the CI). We also run tests against portable binaries (e.g. all Linux distros run te

[2017-04-21 19:44] terrajobst commented on #11119
Sorry, I should have been clearer. That was the statement that was made after the compat push with .NET Standard 2.0.

[2017-04-21 19:45] jkotas commented on #11137
@wtgodbe Is possible that the official build package and test package were from different source snapshots? (E.g. one having the change from #11019 and the other one not?)

[2017-04-21 19:49] wtgodbe commented on #11137
@jkotas yes, actually that's most likely what was happening - I didn't realize the test had been modified so recently. I merged an auto-update PR last night, but before that, one hadn't been merged for 3-4 days. Looks like that test passed in the most recent test pass - I'll keep an eye on this test, if it passes the next 2 times I'll consider this fixed.

[2017-04-21 20:13] pgavlin commented on #11142
Any idea why this test OOMs in Helix but not in netci? Are the machines under greater load (or otherwise resource constrained)?

[2017-04-21 20:14] wtgodbe commented on #11142
@MattGal may be able to answer that

[2017-04-21 20:34] quoctruong commented on #11058
@mikem8361, turns out I was linking the wrong library. I linked with libcoreclr instead of libcoreclrpal. That seems to solve the problem. Thanks!

[2017-04-21 21:19] lt72 commented on #10709
This includes:
- Linux and Windows
- x64 and x86

[2017-04-21 21:20] lt72 commented on #10661
Windows only, TBV

[2017-04-21 21:27] lt72 commented on #10334
Work is committed on Windows side and shipping with next Windows release in September time frame (RS3).

[2017-04-21 21:30] wtgodbe commented on #11142
Or @ChadNedzlek

[2017-04-21 21:36] lt72 opened #11150 "Investigate why SOS command 'ClrStack -i' does not work with code created through IMetaDataEmit."
Refer to issue #9827 for details.

[2017-04-21 21:50] matthid commented on #7043
I upgraded to the latest tooling and runtime and this issue is back again.
Now even the workaround is no longer working :/
https://ci.appveyor.com/project/SteffenForkmann/fake/build/1.0.3038

[2017-04-21 21:53] gkhanna79 commented on #7043
This is strange is there were no loader fixes/changes in the latest build. Can you please try to create a reduced repro with latest (1.1.1) .NET Core and share it out?

[2017-04-21 21:53] #11082 closed

[2017-04-21 21:55] lt72 commented on #4299
We should be using the latest version version of LLDB to enable best experience during product support.
Any chance we can get to this in 2.0 time frame?

@noahfalk and @mikem8361 FYI.

[2017-04-21 22:02] AndyAyersMS commented on #10047
Realized why SquareRoot is special -- for `Vector<T>` it is an intrinsic only for float and double. For integer types the static square root just wraps the instance square root, which is eminently tail-callable. We successsfully tail call this all the time but in "stress mode" we pretend it's marked with the `tail` prefix, and for such explicit tail calls we do additional checking, and for SIMD ty

[2017-04-21 22:06] adam8797 commented on #10717
I've got the dump files, log files, and an example project.

https://github.com/adam8797/coreclr_Issue_10717

But it was very strange. I was not able to File -> New Project and make it crash. Instead I had to take my application, and strip it down to basically nothing.

I think it has something to do with my model classes. If I removed all of my models, I could not make it crash. Plus, I noticed t

[2017-04-21 22:09] dcarl1 commented on #10717
@adam8797 I wonder if this is an issue with ComplexType or an abstract base class. Those are the two similarities between the models in this github project and what we use. Maybe take them off and see if you can repo?

[2017-04-21 23:20] gregg-miskelly commented on #10717
If someone from the CLR team wants to take a look, here are some pointers.

The dump to look at is the ManagerReports file. Look at thread 18 in windbg (or 19 in VS).

Here is the exception record from the dump:

[code]

ContextRecord	: `0x06ccc3f4 {ContextFlags=65663 Dr0=0 Dr1=0 ...}	_CONTEXT *`

Stack:
[code]

[2017-04-21 23:21] OtherCrashOverride commented on #2426
Yes, running a 32bit process on a 64bit platform is the same as a 32bit platform and the 32bit rules apply.

There are various ways to "work around" it including #if  and platform specific assemblies.  Without first class support in the runtime, the typical "work around is" to simply not support a platform (typically Windows) since all the interop APIs using "long" where this matters are non-Widow

[2017-04-21 23:49] AndyAyersMS commented on #10047
Wasn't entirely satisfied yet so kept looking.

The root cause of the problem is that in `impFixupCallStructReturn` under `FEATURE_UNIX_AMD64_STRUCT_PASSING`, we change the `gtReturnType` of the call. It's not clear to me that this is entirely necessary or desirable or matches what the comment seems to imply.
[code]
The net effect is that for simd types we change the type from simd to struct here.

[2017-04-22 00:08] jkotas commented on #10717
This is use-after-free bug fixed in https://github.com/dotnet/coreclr/pull/6571#r73166763.

It will only crash with ETW managed memory tracing turned on, and program containing (generic) types with very long names. @gregg-miskelly Does the debugger turn on the ETW managed memory tracing by default?

[2017-04-22 00:18] AndyAyersMS commented on #10047
Will propose the simple fix for now.

[2017-04-22 00:23] Maoni0 commented on #11111
Right, no need to clean up since the process exit will take care of it.

[2017-04-22 00:45] jkotas commented on #10717
This crash is actually on .NET Framework, not on .NET Core.

@swgillespie @adityamandaleeka Could you please open an internal TFS bug to get the fix for this ported to .NET Framework vNext?

[2017-04-22 01:02] mikeharder opened #11154 "dotnet processes occasionally hang on Linux with 100% CPU in libclrjit.so Compiler::compCompile()"
Dotnet processes occasionally hang on Linux with 100% CPU in `libclrjit.so Compiler::compCompile()`.  Here are a few callstacks of threads using 100% CPU:

[code]

[code]

[2017-04-22 01:40] russellhadley commented on #11154
@JosephTremoulet Can you take a look here?

[2017-04-22 01:55] Maoni0 commented on #6052
yes, this was checked into 4.7.

[2017-04-22 04:13] mikeharder commented on #11154
@pgavlin was also helping investigate.

[2017-04-22 05:03] danmosemsft commented on #9215
@mattwarren you should get an email offering you contributor rights, when you accept that I can assign you issues like this one!

[2017-04-22 05:09] danmosemsft commented on #11111
@mellinoe can you share how they can enable dumpling for coreclr. (Which I thought it was already)

[2017-04-22 05:39] BruceForstall commented on #11128
@hseok-oh can you please investigate?

[2017-04-22 10:04] benaadams opened #11156 "Can AsyncMethodBuilder trust MoveNext?"
`AsyncXMethodBuilder Start<>` can't inline as it uses a try+finally to restore the `ExecutionContext`

However, the generated state machine will always capture any exception and set it in the Task.

So... Question is can the `MoveNext` be trusted and the the try+finally removed?

Part of investigating https://github.com/dotnet/corefx/issues/18481

/cc @stephentoub

[2017-04-22 10:20] stephentoub commented on #11156
Interesting question.

Technically, no, as any IAsyncStateMachine implementation could be used with it, including hand-written ones, ones that purposefully rely on the lack of a finally there to mess with the EC state, etc.

That said, while in desktop I think that's crucial as there's security-related state stored in the EC, in core the only state stored is that for async locals, so the impact is

[2017-04-22 10:27] benaadams commented on #11156
Change would be something like this https://github.com/dotnet/coreclr/pull/11155

Will measure

[2017-04-22 11:16] cydhaselton commented on #10997
@masonwheeler Build scripts assume Ubuntu 16.04, if you're running 14.04, upgrade and try again.

[2017-04-22 11:39] #11111 closed

[2017-04-22 11:41] #7693 closed

[2017-04-22 12:12] masonwheeler commented on #10997
@cydhaselton Oh!  In that case, [the documentation](https://github.com/dotnet/coreclr/blob/master/Documentation/building/linux-instructions.md) needs to be updated.  I got a 14 VM because it specifically says:

[2017-04-22 14:21] mazong1123 commented on #11060
@gkhanna79 The Command setting for INSTALL project (which is the startup project) is `$(SolutionDir)....\product\Windows_NT.$(Platform).$(Configuration)\corerun.exe` which is actually `E:\Personal\github\coreclr\bin\Product\Windows_NT.x64.Debug\corerun.exe`. It's strange that VS threw an exception.

[2017-04-22 15:47] cydhaselton commented on #10997
Those instructions are for building a Linux distro, not for the Android
cross-build. :-).

On Apr 22, 2017 7:12 AM, "masonwheeler" <notifications@github.com> wrote:

[2017-04-22 16:03] AndyAyersMS commented on #11156
We could also enhance the inliner so it could inline methods with EH. I've been looking for examples where this would be beneficial.

Initially we probably wouldn't have the heuristics right for these methods and so might not be able to find profitable cases automatically, but it would unblock aggressive inlining.

[2017-04-22 16:08] masonwheeler commented on #10997
After updating, the script gets further, but it fails to download several packages:

[code]

[2017-04-22 16:36] stephentoub commented on #11156
Andy, that would be excellent.

[2017-04-22 17:19] yizhang82 commented on #11005
@NikkyAI Thanks for reporting the issue. Can you provide more information, such as:
* What is the error (exception, AV, etc)
* Why do you think it's CoreCLR issue rather than issue in the application/library?

I don't think we support dllmap today - it's likely that you'll need to account for the difference in different distros at the moment.

[2017-04-22 17:24] davidfowl commented on #11005
Looks like it *might* be a packaging issue. @AArnott do you know if that package was updated to match the new RID conventions in nuget?

[2017-04-22 17:26] AArnott commented on #11005
I don't know if the libgit2sharp.nativebinaries package is using an older or newer RID convention. Here is what I see:

[code]

[2017-04-22 17:28] yizhang82 commented on #10874
Fixed with https://github.com/dotnet/coreclr/pull/11125

[2017-04-22 17:28] #10874 closed

[2017-04-22 17:40] yizhang82 commented on #10687
Personally I think allowing a p/invoke returning ref int is unsafe, since the ref int could be pointing to invalid memory, and people would only see AV when they access the ref return. It turns out that C# actually allow you to return a pointer as byref return which is rather surprising to me:

[code]
We would AV when you try to access val. From runtime perspective byref locals are simply managed

[2017-04-22 17:51] yizhang82 commented on #6446
Unfortunately memory ownership issues like this are usually difficult to detect in the runtime. There isn't a good way to tell whether a buffer is allocated by malloc, and it is impossible to detect user error where they didn't expect the free in the runtime. This is documented in https://msdn.microsoft.com/en-us/library/zah6xy75%28v=vs.110%29.aspx?f=255&MSPPError=-2147217396 (perhaps the only pie

[2017-04-22 17:51] #6446 closed

[2017-04-22 18:08] davidfowl commented on #11005
@NikkyAI you can set `COREHOST_TRACE=1` and `dotnet bin\debug\netcoreapp1.1\ lg2s.dll` to see what the host is doing for your native binaries. You can also look at the .assets file in the `obj` folder to see how nuget inferred those folders. Regardless this belongs on github.com/dotnet/core-setup.

/cc @gkhanna79

[2017-04-22 18:14] yizhang82 commented on #11005
@davidfowl Thanks. Is there anywhere we document these things? I'm planning to dig deeper into this topic (given that many people are having issues) but I find the documentation on authoring/probing native assets are a bit parse... As a runtime guy I only know what runtime does :(

[2017-04-22 18:29] cydhaselton commented on #10997
The errors are due to the fact that the termux package repo (where the supporting Android packages are downloaded from) replaces updated packages instead of keeping the older versions.

There's a TODO in the script for replacing hard-coded paths with logic that will grab the latest version, but I've not had time to implement it. You can take a stab at it if you'd like or you can navigate to the [r

[2017-04-22 18:31] jkotas commented on #10687
Right, unmanaged pointer can be converted converted to `ref`. It is not new - it was possible even before byref returns. For example, the following was possible since like C# 1.0:

[code]

If you use unsafe code, you have to know what you are doing. If you get it wrong, you can get bad AV in different part of your program. That's by design.

I agree. It is not clear for how long is the returned un

[2017-04-22 19:08] yizhang82 commented on #276
It is actually under #ifdef FEATURE_COMINTEROP now. Vim tells me there is one #ifdef FEATURE_COMINTEROP covers https://github.com/dotnet/coreclr/blob/master/src/vm/interoputil.cpp#L2001-L7034. so we are good.

[2017-04-22 19:08] #276 closed

[2017-04-22 19:12] davidfowl commented on #11005
@yizhang82 The most comprehensive guide is here. https://docs.microsoft.com/en-us/dotnet/articles/core/rid-catalog

I don't think there's anything that calls out the specific algorithm (but there should be). The general flow is:

- Run `dotnet restore` on a project
- NuGet generates a `project.assets.json` in the `obj` folder that describes the assets that build should use for both runtime and com

[2017-04-22 20:40] benaadams commented on #11156
The https://github.com/dotnet/coreclr/pull/11155 changes are significant; though split function checking for completed and not awaiting is a factor of 10 better.  However my tests on that path don't deal with ExecutionContext.

Pre
[code]

Post
[code]

Pre
[code]
Post
[code]

[2017-04-22 21:54] gregg-miskelly commented on #10717
@jkotas we turn on some ETW events, but I am not aware of anything in Visual Studio turning on anything related to managed memory. I can ask the profiler team if they know of anything.

[2017-04-22 23:47] yizhang82 commented on #6875
@ AnthonyLloyd it's been a few months so I'm closing this now. Feel free to re-open this if you are still running into issues (or open a new one). Thanks!

[2017-04-22 23:47] #6875 closed

[2017-04-23 00:36] matthid commented on #7043
Ok for anyone stumbling onto this: Sadly I couldn't reproduce this in a standalone repro. But I could verify the behavior against 1.1.1 (I downloaded the runtime and used `dotnet <scd>.dll`).

I think this problem went away after I did the following:
 - read https://github.com/dotnet/coreclr/blob/master/Documentation/design-docs/assemblyloadcontext.md
 - I noticed that I needlessly used the Resolv

[2017-04-23 00:36] #7043 closed

[2017-04-23 00:40] NikkyAI commented on #11005
thanks @davidfowl
using `export COREHOST_TRACE=1` on my laptop
the best info i can get related to the lib that it is not loading is
[code]
but i am not really sure what `Specified no roll forward matched` means and why it is failing

[2017-04-23 02:01] pharring commented on #10874
Thank you. @karolz-ms FYI