[2017-01-06 23:48] adiaaida commented on #8838
/cc: @dotnet/jit-contrib

This has been failing since (at least) Dec 16, which is the oldest run in the CI that we have.

[2017-01-06 23:59] adiaaida commented on #8838
I will try to track where this was introduced.

[2017-01-07 00:27] danmosemsft commented on #8763
@jamesqo this would make it easier for us to sync CoreCLR with CoreRT corelibs in the near future, so it would be great. Do you plan to give it a shot and if so by when do you expect?

[2017-01-07 01:28] danmosemsft commented on #4651
@jamesqo the files seem to be
[code]

Those list the API it kept, and can be compared with https://github.com/dotnet/coreclr/blob/master/src/mscorlib/model.xml.

Looking at BCL Rewriter code at https://github.com/dotnet/buildtools/tree/master/src/BinaryRewriting it does not seem to have a way to dump what it decided to strip. it could be taught to, or there are other ways. (Simply diffing the publ

[2017-01-07 01:36] danmosemsft commented on #972
@jamesqo #4651 is part of the 2nd bullet here https://github.com/dotnet/coreclr/issues/972#issuecomment-257633318 . The 1st bullet can happen in parallel as presumably types that are common with CoreRT are not in fact dead types.

[2017-01-07 02:20] CarolEidt opened #8839 "RyuJIT x86: dead lclVar in System.Text.StringBuilder:Insert"
Currently, if you crossgen System.Private.Corelib.dll, and do an ngen dump on this method, you will get an assert because it doesn't expect a `localDefUse` to also have a spill. This can happen on a dead lclVar. I am submitting a PR to fix the assert (on the principle that a dump should never assert if it doesn't assert when not dumping), but the dead nodes should be eliminated.
It occurs in the d

[2017-01-07 07:13] jamesqo commented on #8763
@danmosemsft If I do this it will probably be after fixing #4651 because that yields more gain with the same effort. In the meantime though this can probably be marked up for grabs since it won't conflict with the changes necessary to fix that issue.

[2017-01-07 08:06] mikedn commented on #8839
The dead code comes from code like
[code]
`DecomposeMul` drops the high parts of those casts and some nodes generated by cast decomposition remain behind. And cast decomposition itself could do a bit better by not unnecessarily introducing a new lclvar when the cast op is already a lclvar.

[2017-01-07 18:11] salrashid123 opened #8844 "Disable creation of debugger FIFO pipes"
I need to run dotnet in a restricted container/sandbox where 'mknod' syscall is not available (among other syscalls)

 However, dotnet always creates FIFO pipes for debuggers to attach to here in [twowaypipe.cpp]( https://github.com/dotnet/coreclr/blob/master/src/debug/debug-pal/unix/twowaypipe.cpp#L27) for both Debug and Release as described in this issue too:  #https://github.com/dotnet/coreclr/

[2017-01-07 20:10] Gentlehag opened #8845 "Missing System.Runtime when using .net standard 1.5 lib in 4.6.2 Console app"
I created a library in .net standard 1.5

now i reference the library from a .net 4.6.2 project and trying to instantiate a class. but i immediatly get:

what am I missing ? Anything i should configure or in install in the .net 4.6.2 part of the application?

When I add the netstandard library nuget package it works, but is this an intended behavior?

doesn't the classes of this nuget package conf

[2017-01-07 20:12] jkotas commented on #8844
cc @mikem8361

[2017-01-08 17:07] Gentlehag commented on #8845
btw in the meanwhile i also posted here: http://stackoverflow.com/questions/41535341/using-net-standard-1-5-lib-in-net-4-6-2-misses-system-runtime-4-1-0-0

[2017-01-08 18:55] nietras opened #8847 "gcAllowVeryLargeObjects: Add switch or allow by default in .NET Core"
Besides setting an environment variable (`COMPlus_gcAllowVeryLargeObjects=1`) there is no way to set `gcAllowVeryLargeObjects` in .NET Core like in `app.config` for .NET Framework:
[code]
Either add a switch for this, or enable this by default. Or other options that could be discussed here.

This originates in https://github.com/dotnet/corefx/pull/14396 where this switch is needed to be able to te

[2017-01-08 19:24] jkotas commented on #8847
@KevinRansom mentioned to me that they need this for F# (F# is often used to process large data sets...).

[2017-01-08 19:30] mikedn commented on #8847
Are there any downsides? It seems to me that it should be enabled by default in .NET Core.

[2017-01-08 22:59] seanshpark commented on #8817
@janvorli , great!, thank you for more detailed explanation and the code. By your code, you used `_TARGET_X86_` without `FEATURE_PAL` , so this is also for Win32?
:)

[2017-01-09 10:16] janvorli commented on #8817
@seanshpark It would be if we ever switched Win32 to use stubs as IL.

[2017-01-09 12:07] janvrany commented on #8525
@gkhanna79 I'm sorry for late answer - holiday season. No, I made no progress.

I did a quick look and there's a lot of open questions such as - how to marshal parameters? Is it OK to retain pointer to a CLR object returned by the delegate? Would it move the object around during GC or not? If yes, how to tell CLR to tell me it's new location and so on. Yet need to figure all this out.

Another ver

[2017-01-09 13:59] tmds commented on #8721
@yizhang82 how do we continue?

[2017-01-09 16:16] benaadams commented on #8542
I think the stackallocs in SslStream are [48 bytes x86 and 64 bytes x64](https://github.com/dotnet/corefx/blob/master/src/System.Net.Security/src/System/Net/Security/SslStreamPal.Windows.cs#L155-L156) (4 x `sizeof(SecBuffer)`) - though I don't think Encrypt and Decrypt are inlinable.

[2017-01-09 17:09] adiaaida commented on #8838
I sync'd back to a change on Dec 16, and this test passes, but is EXTREMELY slow. It is possible this is simply a timeout issue, not a silent bad codegen. If this passes at head of tree, we may need to modify the test or increase the timeout (significantly) to get this running on x86.

[2017-01-09 17:53] adiaaida commented on #8838
@JosephTremoulet It appears this test runs super slowly on x86 release builds (for example, it's been running for 40 minutes at this point and is only done with Index 11). For lab builds, this means that this test times out and makes it appear we are failing when really it's just a super long running test. Is there a way we can modify the test to make it run for less time? Should we just look into

[2017-01-09 18:04] redknightlois commented on #1166
@AndyAyersMS There are potentially other cases where exposing the Derived class instead of the Base could improve the code generation. I am thinking on calling virtual methods on ```T``` where we had constraints on types.

[2017-01-09 18:54] AlexGhiondea commented on #8565
@joperezr do you have any tips on how to figure out where that reference is coming from?

[2017-01-09 18:59] weshaggard commented on #8565
@nicolasr75 unfortunately you will not be able to use the new APIs while referencing Microsoft.NETCore.App 1.1.0. You will need to reference a Microsoft.NETCore.App 1.2.0-beta<something> in order to use the newer APIs. Also to reference that newer versions you will need to have a newer set of CLI tools at least preview 4 version of the tools.

@terrajobst is working on writing up how to consume ou

[2017-01-09 19:48] AlexGhiondea commented on #4651
@jamesqo I did a diff of the APIs in S.P.CoreLib before and after BCLRewriter runs and I have attached the results to this issue.

That list is the list of members that can be safely removed from code as they get stripped away by the rewriter anyway.
[APIsRemovedByBCLRewriter.xlsx](https://github.com/dotnet/coreclr/files/694464/APIsRemovedByBCLRewriter.xlsx)

[2017-01-09 20:08] danmosemsft opened #8857 "Remove desktop-only code from corelib"
We do not need to retain the ability for coreclr's corelib to build for desktop. It has probably rotted anyway.

Diffing the defines I see in \src\mscorlib with the defines I see going to the compiler, code marked with these defines seems eligible for removal (either the code, or the define from code)

- [x] FEATURE_ADVANCED_MANAGED_ETW_CHANNELS
- [x] FEATURE_CASE_SENSITIVE_FILESYSTEM
- [x] FEATUR

[2017-01-09 20:15] danmosemsft commented on #8857
Removed the reference to https://github.com/dotnet/coreclr/blob/master/clr.desktop.props above, that's relevant to the native side as well so let's ignore it for this issue.

[2017-01-09 20:18] jkotas commented on #8857
Some of the above ifdefs are set differently for Windows/Unix - they should stay:

[code]

Otherwise, it should be generally correct.

This file is not used on the unmanaged side. All unmanaged builds are done via cmake. It is safe to assume that anything msbuild has to do with managed code.

Also, it would be nice to cleanup these from both managed and unmanaged sides at the same time for sanity.

[2017-01-09 20:33] JosephTremoulet commented on #8838
Running time of this test is controlled by setting [InnerIterations] (https://github.com/dotnet/coreclr/blob/master/tests/src/JIT/Performance/CodeQuality/SIMD/SeekUnroll/SeekUnroll.cs#L62-L68).  Clearly it should be lower here. Probably best to un-const it and set it in cctor or Main to 1 if `! Vector<long>. IsHardwareAccelerated`.  Also fine with me to change ifdefs in some appropriate way.

[2017-01-09 20:35] RussKeldorph opened #8860 "[GCStress=C] Assert failure(PID 20160 [0x00004ec0], Thread: 10876 [0x2a7c]): !CREATE_CHECK_STRING(!"Detected use of a corrupted OBJECTREF. Possible GC hole.")"
https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_windows_nt_gcstress0xc/13/testReport/

**Configuration**
Windows x64 Checked
COMPlus_GCStress=C

**Affected tests**
JIT\SIMD\StoreElement_r
JIT\SIMD\BoxUnbox_r
JIT\SIMD\AbsGeneric_ro
JIT\SIMD\AbsGeneric_r

**Output**
[code]

[2017-01-09 20:40] adiaaida commented on #8838
Thanks!

[2017-01-09 21:00] Ziflin commented on #7902
Is there any indication of when this might be fixed?

[2017-01-09 21:07] janvorli commented on #7902
cc: @noahfalk

[2017-01-09 21:19] nicolasr75 commented on #8565
@weshaggard thanks for these informations. I updated everything as you say and also switched from project.json to msbuild. Finally it runs. Here is the final code:

	using System;
	using System.Threading;

	namespace ConsoleApplication
	{
		public class Program
		{
			public static void Log(string s)
			{
				using(var sw = System.IO.File.AppendText("log.txt"))
				{
					sw.WriteLine(s);
				}

[2017-01-09 21:47] RussKeldorph commented on #8860
@dotnet/jit-contrib

[2017-01-09 21:56] weshaggard commented on #8565
Good to hear that the code is running now. As for the behavior of ProcessExit I'm not sure. @rahku do you know what the expected behavior is for this case?

[2017-01-09 23:14] jkotas commented on #8683
I am hitting with MusicStore on debug builds.

1. Download https://dotnetcli.blob.core.windows.net/dotnet/preview/Binaries/1.0.0-preview2-1-003180/dotnet-dev-win-x64.1.0.0-preview2-1-003180.zip and extract it somewhere. I have extracted it to \dotnet-003180 so that's why I am going to use in the next steps.

2. Download https://dotnetcli.blob.core.windows.net/dotnet/master/Binaries/1.2.0-beta-0012

[2017-01-10 00:22] gkhanna79 commented on #8525
Marshalling should be taken careof by the interop layer automatically and this aspect should be consistent between .NET Core and Desktop .NET FX. @yizhang82 can help with the specifics if required.

Getting the initial entrypoint is the key difference between the two runtimes.

[2017-01-10 01:13] noahfalk commented on #7902
@gregg-miskelly - is something you guys were aware of?

[2017-01-10 01:18] gregg-miskelly commented on #7902
@treziac Do you know if you are using portable PDBs? I believe it is the default for the VS templates (see https://github.com/OmniSharp/omnisharp-vscode/wiki/Portable-PDBs for more information).

If so - I believe this is fixed in 2017 RC.3 when that comes out: https://github.com/dotnet/roslyn/pull/16197.
If not - I am not sure why this isn't working for you. I can give it a try.

[2017-01-10 03:18] leemgs commented on #3805
@galvesribeiro , Could you check the azure storage of _**dncorerepo**_ id? It seems that we cannot connect to the azure storage with the existing azure name & key that was provided by you.

[code]

[2017-01-10 03:30] leemgs commented on #3805
@brucehoult , Could you upload the up-to-date linux-arm-emulator binary in your server (e.g. http://hoult.org/coreclr/)?

 * Default packages:
linux-arm-emulator-20160610.4.tar.pbz2
linux-arm-emulator-20160610.4.tar.pbz2.md5

 * Optional packages:
rootfs-u1404.20160607.ext4.tar.pbz2
rootfs-u1404.20160607.ext4.tar.pbz2.md5

\CC: @sjsinju

[2017-01-10 05:00] #8847 closed

[2017-01-10 05:02] hseok-oh opened #8872 "arm emulator test fail: CI script problem"
CoreFX native build binary directory for arm softfp changed: dotnet/corefx#14843
We need to fix CI script to apply this.

[2017-01-10 15:35] 47th opened #8873 "ConditionalWeakTable becomes invalid after asynchronous exception"
Methods Add and Remove in ConditionalWeakTable set _invalid flag, which may remain set after asynchronous exception, like ThreadAbortException. In a web application, where ThreadAbortException is thrown on request timeout, any static ConditionalWeakTable object may accidentally become invalid.

[code]

[2017-01-10 17:58] AndyAyersMS commented on #8872
This is causing every PR test to fail. We should get it fixed ASAP.

[2017-01-10 18:36] #8872 closed

[2017-01-10 19:04] Thaina opened #8877 "Can reflection consume generic and return ref for field?"
Since roslyn has a plan for return ref. Is it would possible to return ref from reflection?

Something like
[code]

ps. This is moved from dotnet/roslyn#16383

[2017-01-10 19:15] neurospeech opened #8878 "[Feature Request] CLR Object Pooling"
Various classes such as `Task<T>`, `StringBuilder`, ASP.NET MVC  `Controller` etc are constantly created and destroyed.

It would be great if we could setup some configuration where such classes are pooled instead of creating/destroying which does take sometime. Although destruction is moved into GC, but creation takes significant time.

Writing own object pool is not solution for existing classes

[2017-01-10 20:55] JohnChen0 commented on #8669
Resolved with #8859.

[2017-01-10 20:55] #8669 closed

[2017-01-10 21:13] danmosemsft commented on #8857
I've removed those 3 from the list.

For sure we should remove from the native side also but it seems reasonable to split into 2 pieces of work. The native can be later if we need to as it's not needed to sync code.

[2017-01-10 21:21] jkotas commented on #8857
Deleting the code under defines in a few more files should cost next to nothing extra and it is nice to maintain self-consistency ... but if you prefer to do it in two passes, I do not have a problem with it.

[2017-01-10 22:18] czifro commented on #8790
@piotrpMSFT, I am still struggling with this issue. I am certain I'm not doing something right, but I have no idea what it is.

[2017-01-10 22:20] jkotas commented on #8877
It would require reflection APIs that are able to take and return references instead of objects. This proposal is discussed in https://github.com/dotnet/corefx/issues/14021

[2017-01-10 22:26] jkotas commented on #8878
The finalizer is not free. It is way cheaper to create a new fresh small object than to try to find existing instance to reuse. Check the discussion in https://github.com/dotnet/coreclr/issues/8423 - it is very similar to what you are proposing.

[2017-01-10 22:27] jkotas commented on #8873
.NET Core does not support thread abort. The .NET Core libraries are not hardened against thread abort.

[2017-01-10 23:48] mikem8361 commented on #8844
Not sure if we will get this in for 2.0.  If you want to build coreclr without the debugging support/pipe creation, remove DEBUGGING_SUPPORTED defined from clrdefinitions.cmake. You may have to fix some build issues because building for xplat without this defined hasn't been tested.

[2017-01-10 23:50] mikem8361 commented on #8844
We will probably add another environment variable to disable debugging (and pipe creation).

[2017-01-10 23:56] rahku commented on #8565
I don't it will be invoked in case of rude termination of process.

[2017-01-10 23:58] neurospeech commented on #8878
@jkotas StringBuilder isn't single small class, it is compound, it will require reallocating StringBuilder as well as its corresponding buffer. Resetting Position to zero makes entire object reusable. Creating character buffer requires resetting array and initialize with zeros. Unless we do some performance test we wouldn't know real benefits.

[2017-01-11 00:09] nicolasr75 commented on #8565
It looks like Linux does by default warn the user if there is still an active process running in a terminal. This is a great feature! Unfortunately Windows does not seem to support this :-( Maybe I could handle this by pinvoking SetConsoleCtrlHandler but in my case I will switch to a service application on Windows anyway which should give me better control. So from my side this issue could be clos

[2017-01-11 00:48] #8631 closed

[2017-01-11 00:54] danmosemsft opened #8883 "Remove unnecessary defines from CoreCLR CoreLib"
The following are always defined when building the CoreCLR Corelib. Since we are not maintaining multiple builds, we should not need the defines in the code (they are always true).

- [x] FEATURE_APPDOMAIN_RESOURCEMONITORING
- [x] FEATURE_COLLECTIBLE_TYPES
- [x] FEATURE_CORECLR
- [x] FEATURE_CORESYSTEM
- [x] FEATURE_CORRUPTING_EXCEPTIONS
- [x] FEATURE_EXCEPTIONDISPATCHINFO
- [x] FEATURE_EXCEPTION_

[2017-01-11 00:54] danmosemsft commented on #8883
I need to double check this list on a Unix build.

[2017-01-11 00:56] danmosemsft commented on #8857
Flip side of this (removing define, not removing code) is https://github.com/dotnet/coreclr/issues/8883.

[2017-01-11 01:01] danmosemsft commented on #8883
These ones are also present in CoreRT so presumably could be cut from there

[code]

[2017-01-11 01:02] danmosemsft commented on #8857
These are also present in CoreRT code, so would have the same change there

FEATURE_LINK_DEMAND
FEATURE_RELIABILITY_CONTRACTS
FEATURE_SERIALIZATION
FEATURE_UNSAFE_CONTRACTS

[2017-01-11 01:16] danmosemsft opened #8884 "Audit use of #if FEATURE_SERIALIZATION"
We never define this in CoreCLR. There's a bunch of code behind #if FEATURE_SERIALIZATION and I wonder whether some of it should be being compiled now we support binary serialization. (If not we will remove it - https://github.com/dotnet/coreclr/issues/8857)

For example stuff in https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Exception.cs#L496 and a lot in https://github.com

[2017-01-11 01:20] hseok-oh commented on #8746
fixed by #8771

[2017-01-11 01:20] #8746 closed

[2017-01-11 01:21] hseok-oh commented on #8685
fixed by #8687, #8722

[2017-01-11 01:21] #8685 closed

[2017-01-11 01:49] jkotas commented on #8884
Yes, this should be removed. The two examples you have mentioned has been done intentionally the way they were done.

[2017-01-11 01:51] jkotas commented on #8883
We do support a good chunk of COM interop on Windows (except COM interop activation and IDispatch).

[2017-01-11 02:01] jkotas commented on #8883
I do not think so.

`FEATURE_RANDOMIZED_STRING_HASHING`  can use some scrutiny - some of it should be kept and some of it deleted.

Yes, also different platforms defined these differently. E.g.:

- `FEATURE_USE_LCID` is defined on Windows and not defined on Unix today. Though, it will go away if you switch the CoreCLR globalization implementation to CoreRT version on both Windows and Unix.

- `FEA

[2017-01-11 02:11] seanshpark commented on #8590
// I think it's better to add status here than in PR...
With c918315 patch, including spilled registers, almost it seems working execpt for this case.
With `gentogen01.exe` unit test case, `System.AppDomain:SetupDomain(bool,ref,ref,ref,ref):this` is compile to have a `push 0` in the middle before a call.
[code]
This also needs to be fixed in some way.

[2017-01-11 03:12] danmosemsft commented on #8884
OK, then this is redundant as we have #8857

[2017-01-11 03:12] #8884 closed

[2017-01-11 03:59] hseok-oh opened #8885 "[ARM32/Linux] cross architecture build error by confusion of T_CONTEXT and CONTEXT"
build command:
./build.sh release skiptests cross arm crosscomponent

Error message

[code]

There are many build errors by confusion of T_CONTEXT and CONTEXT in cross architecture build for Linux ARM32. We need to fix these build errors carefully.

[2017-01-11 06:27] mikedn commented on #8648
@RussKeldorph bug label?

[2017-01-11 07:04] 47th commented on #8873
Is there a possibility that it will be fixed to support .NET 4.6.2 users? ASP.NET framework currently uses Thread.Abort quite heavily and ConditionalWeakTable is not handling ThreadAbortException unlike other concurrent collections.

[2017-01-11 07:42] maartenmensink commented on #4332
@janvorli sadly the 32bits gives the same result

`sudo apt-get install binutils-arm-linux-gnueabihf` results in

`pi@raspberrypi:~ $ sudo apt-get install binutils-arm-linux-gnueabihf
Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate package binutils-arm-linux-gnueabihf
`

[2017-01-11 07:50] parjong opened #8887 "[x86/Linux] Support Simple Exception Catch"
I attempted to execute the following program with x86/Linux port:
[code]

CoreCLR currently shows the following assert failure for the above example:
[code]

[2017-01-11 07:50] parjong commented on #8887
\CC @seanshpark

[2017-01-11 07:51] seanshpark commented on #4332
@maartenmensink , If you are trying to build inside RPi3 (running in 32bit raspbian or ubuntu mate or any other linux) it wouldn't build. It is not ready yet. Please try in x86-64 host (I use Ubuntu 16.04, 64 bit) cross compilation.

[2017-01-11 08:10] seanshpark commented on #4332
@maartenmensink , sorry for wrong explanation. I also had same problem with `binutils-arm-linux-gnueabihf` (I'm using Ubuntu mate 16.04). I think you need to install `clang-3.6` or above. I'm trying with cross built `clang 3.8` in my RPi3 and waiting the build...
[code]

[2017-01-11 08:41] maartenmensink commented on #4332
@seanshpark After checking out the repo and running `./build.sh skipnuget skiptests` i had to install

`sudo apt-get cmake clang-3.5 libicu-dev`

but there is another roadblock `lldb-3.6-dev` isnt available.

`pi@raspberrypi:~/projects/coreclr $ ./build.sh skipnuget skiptests
Commencing CoreCLR Repo build
Unsupported CPU armv7l detected, build might not succeed!
Setting up directories for build
Ch

[2017-01-11 08:56] seanshpark commented on #4332
@maartenmensink , SOS is for debugging. You can try (1) disable SOS, (2) build your own clang and lldb.
To disable SOS comment three lines like below. I'm not sure disabling SOS will stop asking lldb.
[code]
BTW, which Linux are you using?

[2017-01-11 09:21] parjong commented on #8887
I could reach ``RtlVirtualUnwind`` (NYI) with #8889:
[code]

[2017-01-11 09:30] maartenmensink commented on #4332
@seanshpark i am using `RASPBIAN JESSIE LITE`

[2017-01-11 10:00] seanshpark commented on #4332
@maartenmensink , I've got CoreCLR build success in RPi3. To run any program with this, next step would be to build CoreFX. But unfortunately building native ARM CoreFX may not be possible (or this also I may be wrong?) inside RPi3. For this you may need to build from x86-64 cross compilation.

[2017-01-11 10:52] janvorli commented on #4332
I am using clang 3.7 / lldb-3.7-dev to build stuff on my RPI3 with Raspbian jessie.

For corefx native components:
src/Native/build-native.sh arm clang3.7

For coreclr, I needed to patch the build files to support clang3.7 / lldb-3.7 like this:
[code]
And then build:
./build.sh arm skipgenerateversion skipmscorlib clang3.7

[2017-01-11 12:56] tmds opened #8891 "Support building coreclr tests on Linux"
cfr https://github.com/dotnet/coreclr/issues/4437, a Windows machine is needed to build artifacts used by the Linux test.

How far are the tests from being buildable on Linux? What are the steps to take?

[2017-01-11 14:44] stephentoub opened #8893 "Remove SetType usage in EnumEqualityComparer's serialization implementation"
See https://github.com/dotnet/coreclr/pull/8892#discussion_r95586366 discussion for details.  We need to remove this usage of SetType, add the other deserialization ctors to the model.xml, etc.

[2017-01-11 15:48] stephentoub opened #8894 "Loader._classloader_regressions_452707_b452707_b452707_ test failed in CI"
https://ci.dot.net/job/dotnet_coreclr/job/master/job/debug_windows_nt_prtest/1681/
[code]

[2017-01-11 15:51] maartenmensink commented on #4332
I have been able to get the build working with on RPi3 raspbian jessie

I used the following packages

[code]

and the based on the instructions of @janvorli to include clang-3.7 in de CMakeList.txt

I have create a fork with the changes from the instructions so anybody change use it.

[code]

p.s. dont use a 8gb sd last build failed at 98% no more disk space *oops fail*

[2017-01-11 15:52] JosephTremoulet commented on #8130
I'm not sure why adding `localpkg` was fine in #8791/#8882 when it wasn't fine in #8343... are we happy with this fix, should this issue be closed, or do we want to come back with a different fix?

/cc @janvorli @jkotas

[2017-01-11 16:10] janvorli commented on #4332
@maartenmensink the qemu qemu-user-static binfmt-support and debootstrap are not needed. These are for the cross build on x64 Linux, I believe.

[2017-01-11 16:15] JosephTremoulet commented on #8838
Fixed in #8861

[2017-01-11 16:15] #8838 closed

[2017-01-11 16:41] roterdam commented on #4332
How about building for aarch64. Should that work? It seems Microsoft Windows has AArch64 support which means theoretically it should work since the ABI is same.

[2017-01-11 16:47] janvorli commented on #4332
aarch64 doesn't work for Linux yet. There is some work done here https://github.com/cydhaselton/coreclr/issues/1 to enable ARM64 on Android from where we could pull out some of the missing ASM helpers and possibly few other changes and take that as a starting point for enabling aarch64 Linux. I can selectively move those changes to the main branch if there is someone interested in working on the b

[2017-01-11 16:48] danmosemsft commented on #8884
@stephentoub since he did most of the binary serialization work.

[2017-01-11 16:55] janvorli commented on #8130
@JosephTremoulet my comment in #8343 described the reason. I was thinking that we should fix the problem of the files being generated into the source folder rather than just hiding it by adding the git ignore. The comment here indicated the possible fix that already happened in the tools repo:
https://github.com/dotnet/coreclr/pull/8791/files#r94514279

However, I have found in the meanwhile that

[2017-01-11 17:19] badre429 opened #8895 "Support for oracle solaris on SPARC 64bit processor"
is there any plane to support Oracle Solaris on SPARC 64bit processor

[2017-01-11 17:38] adiaaida opened #8896 "[JitStress][OSX][Unix] Assertion failed 'varDsc->lvSize() == 16'"
JIT/Regression/JitBlue/GitHub_8220/GitHub_8220 fails with COMPlus_JitStress=1, COMPlus_JitStress=2 on unix/osx x64

[code]

[2017-01-11 17:44] adiaaida commented on #8896
@CarolEidt It looks like this test has been failing jit stress modes on unix/osx since you added it. Do you have any background on the bug the test was meant to test against?

[2017-01-11 17:51] gkhanna79 commented on #8130
@wtgodbe PTAL at this when you can.

[2017-01-11 18:00] CarolEidt commented on #8896
The bug was that we were incorrectly using the upper bits of Vector3 in the dot product and boolean equality intrinsics. I'm not sure what would cause this to fail in stress modes; it would require some investigation.

[2017-01-11 18:02] swgillespie commented on #8359
fixed by #8605 and #8568

[2017-01-11 18:02] #8359 closed

[2017-01-11 18:19] RussKeldorph commented on #6713
Unclear this is a codegen issue at this point.

[2017-01-11 18:22] adiaaida commented on #8896
It looks like a TYP_SIMD12 var has a size of 0, when it should have a size of 16 on x64.

[2017-01-11 18:42] RussKeldorph commented on #8760
@CarolEidt Can you suggest the right way to resolve this inconsistency?

[2017-01-11 18:45] RussKeldorph commented on #8828
@dotnet/jit-contrib

[2017-01-11 18:50] RussKeldorph commented on #8896
Duplicate of #8550.  Please use that instead.

[2017-01-11 18:56] adiaaida commented on #8550
It looks like this issue is that the var is a shadowVar, and when we copy the varDsc's info to the shadowVar, we don't copy over lvExactSize, which is needed for SIMD12 vars.

[2017-01-11 19:28] janvorli commented on #8130
I have actually given it a quick look and experimented a bit. And the reason for the problem is simple. In the ./Tools/Packaging.targets, $(BaseOutputPath) is used as the target folder for the localpkg folder. But, the $(BaseOutputPath) is not defined! I have verified that by putting hardcoded path there instead, which resulted in the localpkg being created in that folder and I have also sticked t

[2017-01-11 19:45] CarolEidt commented on #8760
But the instruction format shows that it is expecting an unsigned int 32:

**III.3.66 switch – table switch based on value**

| Format | Assembly Format | Description
|---|---|---
|45 \<unsigned int32\> \<int32\>… \<int32\> | switch ( t1, t2 … tN ) | Jump to one of n values.

So I think that @mikedn is right and we should be zero-extending.

[2017-01-11 20:36] jashook opened #8898 "[arm64] Unable to Crossgen System.Private.CoreLib"
First failing occurance was [09c95bfa26420b7f29d04b5d47a06cf52f430ffe](https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm64_cross_debug_windows_nt/360/).

[2017-01-11 20:38] jashook commented on #8898
/cc @dotnet/arm64-contrib

[2017-01-11 20:50] maartenmensink commented on #4332
The build pipeline seems to be working properly on the RPi3.

Now it's just compile errors. source based on commit https://github.com/dotnet/coreclr/commit/fb3270f7756830f8f055b4c76831f684908463cb

[code]

[2017-01-11 20:53] janvorli commented on #4332
@maartenmensink ah, I am sorry, I've forgotten to mention that I have also removed the line
__FakePrologName="DelayLoad_Helper_Obj_FakeProlog"
It should not be there. If you remove it, you'll get a successful build.

[2017-01-11 21:21] #1505 closed

[2017-01-11 21:21] #8065 closed

[2017-01-11 21:49] ektrah opened #8902 "DllImport does not find DLL without specifying the .dll extension"
I've created a nupkg with the following contents:

    └── runtimes
        ├── fedora.23-x64
        │   └── native
        │       └── runtime.native.MyNativeLibrary.so
        ├── ubuntu.16.04-x64
        │   └── native
        │       └── runtime.native.MyNativeLibrary.so
        └── win10-x64
            └── native
                └── runtime.native.MyNativeLibrary.dll

I'm p/invoking into th

[2017-01-11 22:10] maartenmensink commented on #4332
I was able to do a full build of coreclr based on the above input with commit https://github.com/SpringIT/coreclr/commit/5bb296a8484c8d04bcc196fecaf932b88aa096ac

I will create a clean setup script for raspian jessie based on the input and experience above so other people can have a go at it.

i can recommend the option `skiptests` to improve build speed. Next up corefx

[2017-01-11 22:13] janvorli commented on #4332
I would also like to commit both the changes (support for clang3.7 and the `__FakePrologName="DelayLoad_Helper_Obj_FakeProlog"` thing) to master. Would you be willing to create a PR for that or would you prefer me doing it?

[2017-01-11 22:15] maartenmensink commented on #4332
Yeah i am willing to help out!

What are the PR guidelines i have to conform to?

[2017-01-11 22:16] cesarbs opened #8903 "XmmYmmStateSupport executes xgetbv without checking if instruction is available first"
We're seeing test failures on Mac on Travis (and my own personal Mac) on Kestrel test runs. The dotnet process is exiting with exit code 132, which means the process was killed with `SIGILL` meaning it attempted to execute an illegal instruction.

On lldb I see that [`XmmYmmStateSupport`](https://github.com/dotnet/coreclr/blob/85c0a5641d60aabe028a9e4b4ef07a7b58a2181b/src/pal/src/arch/amd64/process

[2017-01-11 22:18] gkhanna79 commented on #8898
Assert failure(PID 11804 [0x00002e1c], Thread: 6556 [0x199c]): Assertion failed '(node->gtLsraInfo.dstCount == 0) || node->IsValue()' in 'System.Activator:CreateInstance(ref,ref):ref' (IL size 28)

    File: d:\a\_work\100\s\src\jit\lower.cpp Line: 4327
    Image: D:\A\_work\100\s\bin\Product\Windows_NT.arm64.Debug\x64\crossgen.exe

[2017-01-11 22:18] janvorli commented on #4332
Just create a PR with those changes, I will review and merge it after the CI lab tests finish. If it is your first commit, it would ask you to electronically sign CLA and that's all.

[2017-01-11 22:34] maartenmensink commented on #4332
PR submitted and CLA signed https://github.com/dotnet/coreclr/pull/8904

[2017-01-11 23:06] #8550 closed

[2017-01-11 23:14] danmosemsft commented on #8857
Discovered a tool that will remove this stuff for us (at least simple cases)

Build https://github.com/dotnet/codeformatter then eg `C:\git\codeformatter\bin\DeadRegions\Debug\DeadRegions.exe System.ComponentModel.TypeConverter.csproj /disable VERIFY_REFLECTION_CHANGE /edit`

will remove all regions active only when VERIFY_REFLECTION_CHANGE  is defined

[2017-01-11 23:27] sivarv opened #8906 "[RyuJIT] Unnecessary moves in method prolog in pi-digits benchmark methods"
Here is the prolog of next_term() method from pi-digits benchmark:

[code]

These unnecessary moves materialize in prolog whenever zero-init of the frame needs to use block-init (rep stosd).  In this case, rcx is preserved by moving to rsi and later restored.  Later LSRA could set entry point conditions of the first basic block to have rcx param moved to rsi.

Such unnecessary moves are present in

[2017-01-11 23:44] #8860 closed

[2017-01-12 00:41] mikem8361 commented on #8139
Fixed.

[2017-01-12 00:41] #8139 closed

[2017-01-12 01:02] danmosemsft commented on #1505
@AndyAyersMS @mikedn what about empty try? There are plenty in CoreFX I believe as a leftover from thread abort support. They aren't removed yet.

Some are nested, eg

https://github.com/dotnet/corefx/blob/master/src/System.Data.SqlClient/src/System/Data/ProviderBase/DbConnectionPool.cs#L453

[code]

Do those need special treatment also?

[2017-01-12 01:08] AndyAyersMS commented on #1505
Yeah, these may be something the jit needs to clean up better -- let me take a look. Pointers to other examples welcome.

[2017-01-12 02:28] yizhang82 commented on #8525
@janvrany

Parameters are either converted/copied to native format, copied as-is (if it is blittable/identical), or pinned (so that it won't move).
One gotcha is that you need to also keep the delegate alive - otherwise calling the delegate would AV.

[2017-01-12 02:37] AndyAyersMS commented on #1505
Some experimenting shows that the current CSC will eliminate `try {} finally {}` even when such constructs are nested. But an empty try with a non-empty finally (as in the examples above) is not simplified.

Haven't looked at a `try {} catch` example yet.

It should be fairly simple to construct a recognizer for empty-try non-empty-finallys and see if they're common enough that the jit should opti

[2017-01-12 02:37] cesarbs commented on #8903
Got curious and was looking a bit more into this. It's not that my processor (and likely Travis' agents' processors) don't have that instruction, but the OS needs to enable its use.

[2017-01-12 03:47] parjong commented on #8887
#8911 makes some progress. Now, Core CLR shows the following assert failure:
[code]

[2017-01-12 06:29] parjong commented on #8887
#8912 made another progress:
[code]

[2017-01-12 06:53] parjong commented on #8887
With #8913, CLR shows the following message:
[code]

[2017-01-12 07:04] parjong commented on #8887
Core CLR with #8914 shows the following assert failure:
[code]

[2017-01-12 07:11] #7240 closed

[2017-01-12 07:17] parjong commented on #8887
#8915 now allows us to resume, but incurs segfault:
[code]

[2017-01-12 07:22] AndyAyersMS commented on #6574
Another instance: https://ci.dot.net/job/dotnet_coreclr/job/master/job/checked_ubuntu_tst_prtest/1570/

[2017-01-12 07:26] parjong commented on #8887
#8916 finally allows us to execute the above example:
[code]

[2017-01-12 09:02] seanshpark commented on #8590
`FEATURE_FIXED_OUT_ARGS` seems to enable preallocate and not use `push`. But got some compile errors. While looking to the problems I wasn't sure... so,
1) Can enabling `FEATURE_FIXED_OUT_ARGS` a good idea? or it would be better to add additional push before pushing arguments if stack is misaligned?
2) Is this block valid in `src/jit/CMakeLists.txt` ?
[code]
this will include `legacyjit` and defin

[2017-01-12 09:32] tmds commented on #8721
To give an idea of the tedious nature of maintaining the shim:
It means writing code like this:
[code]
Then the magic of symver ensures things don't break with newer versions the library.
However, when compiling the shim, you will need to link it with the exact version of the lib (step 2). This is a burden as your OS may now come with a newer version of the library.

[2017-01-12 09:59] tapanrami opened #8919 "System.Private.CoreLib.csproj gives error during opening project and project loading fail."
I clone the repo and then i try to open System.Private.CoreLib.csproj but i am getting error " The imported project "<local_path>\coreclr-master\coreclr-master\Tools\net45\roslyn\build\Microsoft.Net.Compilers.props" was not found. Confirm that the path in the <Import> declaration is correct, and that the file exists on disk. "

[2017-01-12 10:54] janvorli commented on #6397
Occured again:
https://ci.dot.net/job/dotnet_coreclr/job/master/job/x64_release_windows_nt_pri1_prtest/1719/testReport/junit/baseservices/_threading_mutex_misc_waitone2_waitone2_/_threading_mutex_misc_waitone2_waitone2_cmd/

[2017-01-12 10:55] janvorli commented on #6397
@kouvel could you please take a look at what could be causing the issue?

[2017-01-12 11:52] migueldeicaza commented on #8721
I am familiar with symbol versioning, but didn't know we  oils specify a specific version to link against.   This is very useful to have.

It seems like the glibc developers did not want to overload the meaning of the symbol, perhaps because it could have broken code in ways that were described above, so they made the version an explicit separate parameter.

It looks to me that supporting this fea

[2017-01-12 15:43] #8887 closed

[2017-01-12 15:54] cstyle opened #8920 "Compiler does not referring to another file"
When I create new two classes in different name space and it to two file then it cause compile error.
However When I merge source code both classes to one file and keep different name space then there is not compile error.
Is this compiler bug ?

<img width="1626" alt="different file" src="https://cloud.githubusercontent.com/assets/2171088/21896749/63636126-d922-11e6-843a-d4135b6f2ef3.png">
<img w

[2017-01-12 15:58] kvochko opened #8921 "[Win 7, Linux/x64] Tests fail with COMPlus_JitELTHookEnabled"
The following tests fail in Windows and Linux (with PR #7719) builds of CoreCLR when `COMPlus_JitELTHookEnabled` environment variable is set to 1:

[code]

If we look at the KeepAlive test, after line 59 (https://github.com/dotnet/coreclr/blob/033b11d631f346a55c4d7c453bca1f49f77a44d5/tests/src/GC/API/GC/KeepAlive.cs#L59) object `obj2` can be collected by GC. Without the `COMPlus_JitELTHookEnabled`

[2017-01-12 16:16] janvorli commented on #8921
Could you please generate jitdump of the method using COMPlus_JitDump for both cases? the dump includes local variable liveness details that might give us a clue.

[2017-01-12 16:25] mskvortsov opened #8922 "[RyuJIT/ARM32] Implementing multi-reg arguments"
Suppose we have an id function on `long`:
[code]
I managed to get some implementation of codegen which produces some incorrect code for that method, but I don't know where to look next and I am stuck. Here is the code being produced (full JitDump is [here](https://gist.github.com/mskvortsov/e4e922e8ff160bec5ae6194dd22badcc)):
[code]
[code]
From the dump I see the evolution of local variable assign

[2017-01-12 16:47] kvochko commented on #8921
@janvorli here are the jitdumps for both cases
[COMPlus_JitELTHookDisabled.txt](https://github.com/dotnet/coreclr/files/702291/COMPlus_JitELTHookDisabled.txt)
[COMPlus_JitELTHookEnabled.txt](https://github.com/dotnet/coreclr/files/702292/COMPlus_JitELTHookEnabled.txt)

[2017-01-12 16:54] #8824 closed

[2017-01-12 18:11] danmosemsft commented on #1505
@AndyAyersMS if you grep the CoreFX repo for "try { }" you should find 23 matches. That's with a space between curlies, there may be other forms

[2017-01-12 18:13] danmosemsft opened #8924 "JIT should eliminate empty try with non empty finally"
See https://github.com/dotnet/coreclr/issues/1505#issuecomment-272045324

In CoreFX there are 20+ instances of code like this
[code]
In some cases these are [heavily nested](https://github.com/dotnet/corefx/blob/master/src/System.Data.SqlClient/src/System/Data/ProviderBase/DbConnectionPool.cs#L453) for some reason.

This is a hangover from support for thread abort, which CoreCLR does not support.

[2017-01-12 18:13] danmosemsft commented on #1505
I created an issue https://github.com/dotnet/coreclr/issues/8924

[2017-01-12 18:15] #8896 closed

[2017-01-12 18:31] VSadov commented on #8924
FWIW. C# compiler can elide some EH regions.

- empty finally can be dropped
- try with no catches and empty finally can be unwrapped
- if try is empty, catches are pointless and can be removed

We do keep nonempty finallies, because on some runtimes entering/exiting finally is observable due to CER/Thread.Abort

[2017-01-12 18:41] surejam commented on #8895
Yes

[2017-01-12 18:42] surejam commented on #8895
Yes, it already is.

[2017-01-12 18:47] danmosemsft commented on #8924
@VSadov right, which is why I assumed this has to happen at codegen level, where presumably it knows what runtime it's on - unlike the compiler.

[2017-01-12 18:48] danmosemsft commented on #8924
I assume you mean "does" or does this need a Roslyn issue to suggest it?

[2017-01-12 18:49] wtgodbe commented on #8130
@janvorli did you put up a fix for this yesterday? I can put together a PR if not.

[2017-01-12 18:50] danmosemsft commented on #8920
Check the compiler command line, are both files getting passed to it?

[2017-01-12 18:56] gkhanna79 commented on #8130
I just did a build on Mac and I dont see this issue. Is this Linux specific?

[2017-01-12 19:00] jkotas commented on #8924
Correct, the try/finally can be elided for non-desktop ABIs.

[2017-01-12 19:04] jkotas commented on #8130
I see it on Windows all the time. nuget packaging build step creates these.

[2017-01-12 19:05] gkhanna79 commented on #7669
What are the next steps for this as it blocks https://github.com/dotnet/coreclr/issues/8158?

[2017-01-12 19:07] janvorli commented on #8130
The issue is not visible because someone has already added the lockapkg to the .gitignore. You just need to remove it and you'll see it right away.

[2017-01-12 19:08] gkhanna79 commented on #5823
@dleeapho Do you know what VS version and Update is being used for Windows builds?

[2017-01-12 19:16] gkhanna79 commented on #7234
@lt72 What are the next steps on this?

[2017-01-12 19:24] qmfrederik opened #8927 "Alpine Linux ARM64 bring up"
Opening an issue to track the efforts to bring up coreclr/corefx on Alpine Linux ARM.

Related threads:
* #917
* coreclr on Android cydhaselton/coreclr#1

Current approach is to use a docker container on an ARM device for building coreclr; that one is stored here https://github.com/qmfrederik/dotnet-alpine-arm

Building the native components for Alpine arm64:
- [x] Compile coreclr: `./build.sh arm

[2017-01-12 19:28] qmfrederik commented on #8927
Copying relevant comments:

@janvorli

@janvorli

This would get you the native components for coreclr and corefx.
Once you have this building correctly, we will need to build libuv and stuff from core-setup repo.
Finally, I would recommend getting existing dotnet sdk tarball for ARM32 Linux and just replace the native components in it with the newly built stuff.

@janvorli

@janvorli

@qmfrederik

[2017-01-12 19:33] VSadov commented on #8924
@danmosemsft  - yes, it _does_ elide when compiling with /o+

The definition of "empty" is a bit weak though.
I.E. if you have a bunch of non-sideeffecting garbage, it may not be smart enough to fgure that out.

[code]

[2017-01-12 19:33] qmfrederik commented on #8927
@am11 re: libunwind on Alpine:

I replicated the build script as good as I could, including the parameters passed to `./configure` and the patches. I applied the gist of `10-disable-tests.patch` through a `sed` statement and `force-enable-man.patch` does not seem to be relevant.
You can find the build script for libunwind here: https://github.com/qmfrederik/dotnet-alpine-arm/blob/master/Dockerfile

[2017-01-12 19:48] am11 commented on #8927
@qmfrederik, perhaps this is because nobody has asked for AARCH64 package. I have only tested building libsass and some other native libraries on Alpine (x86_64) in past. One approach is to send a message on their mailing list or IRC channel of aports to add the package or (like in this case) to support particular architecture. We can also send a PR to aports repo, and our changes will be verified

[2017-01-12 20:16] danmosemsft commented on #8924
@VSadov maybe you could open a Roslyn issue for that? I think you have more context.

[2017-01-12 20:26] janvorli commented on #8921
@kvochko,  thank you. I can see several differences in the local variable lifetimes.
They start to occur after IN000d. Right after this line, the version without the hook has this:
[code]
While the other has nothing there.
The same case happens a bit later again after IN0015:
[code]

Then the version with the hook has this after IN001d while the version without the hook has nothing in there:
[code

[2017-01-12 20:36] qmfrederik commented on #8927
@am11 Nope, it looks like it's `libunwind.so` which references the getcontext symbol:

[code]

[2017-01-12 20:51] danmosemsft commented on #8873
@47th we don't track issues here specific to Desktop. There currently isn't a good place to do that (unless raised through support channels)

[2017-01-12 20:51] danmosemsft commented on #8873
I will close this feel free to reopen if you believe we need to discuss more or I misunderstood.

[2017-01-12 20:51] #8873 closed

[2017-01-12 20:53] janvorli commented on #8927
I believe the symbol is defined in the libunwind-aarch64.so. On Amd64, we link to libunwind.so, libunwind-x86_64.so and libunwind-generic.so. On aarch 64, the CMakeLists was missing the architecture specific file.

[2017-01-12 20:57] am11 commented on #8927
@qmfrederik, can you try making this kind of patch for libunwind: https://github.com/alpinelinux/aports/blob/f82ed56f8dd3e5a8ab11a39e75d7c37922cd3691/community/chromium/no-getcontext.patch Basically ifdef it out for GLIBC. Also you may want to use specific version: http://download.savannah.gnu.org/releases/libunwind/libunwind-1.2_rc1, same one that is used by `APKBUILD` script.

[2017-01-12 20:57] muratg commented on #8903
cc @gkhanna79

[2017-01-12 20:59] qmfrederik commented on #8927
@janvorli You are correct:

[code]

It looks like somehow the CoreCLR build managed to reference `libunwind.so` instead of `libunwind-aarch64.so`. I'll double-check `CMakeLists` and let you know.

[2017-01-12 21:01] janvorli commented on #8927
@qmfrederik it needs to reference all of the three. The libunwind-aarch64.so is missing, as I've said  before.

[2017-01-12 21:02] gkhanna79 commented on #8903
@muratg This change is only in master. What is it blocking? What is the OSX version on the machines in question?

[2017-01-12 21:06] qmfrederik commented on #8927
@janvorli I added the reference to `libunwind-aarch64`, see [this commit](https://github.com/qmfrederik/coreclr/commit/1020409ef86bbd79b11f95f6609c13b61c5e5307)

Just to be sure - since you say "it needs to reference all of the three", does this mean that coreclr will also link against `libunwind.so` and if `ldd libunwind.so` yields errors, the build will fail?

[2017-01-12 21:13] janvorli commented on #8927
It won't fail, the libunwind-aarch64.so will satisfy the symbol need for the libunwind.so. Actually, the libunwind-generic.so seems to not to be needed, but it doesn't hurt.
Look at what we have on amd64:
[code]

[2017-01-12 21:22] lt72 commented on #7234
I guess integrate the work Intel carried out for Clang. Addding Russ & Russell that, I believe, own such work item.

[2017-01-12 21:23] sivarv commented on #7761
This is longer required with PR https://github.com/dotnet/coreclr/pull/8588
Now JIT is generating vzeroupper in the following cases:
1) just before a PInvoke if the method is known to contain 256-bit AVX instructions.
2) in method prolog if the method is known to contain 128-bit or 256-bit AVX instructions so that when  Reverse PInvoked by a native routine that uses legacy SSE will not incur trans

[2017-01-12 21:23] #7761 closed

[2017-01-12 22:03] #8077 closed

[2017-01-12 22:10] cesarbs commented on #8903
@gkhanna79 We've seen it on 10.11 and 10.12. But it's more about the processor than the OS. I think OS X only enables XSAVE on newer machines.

I'm already working on a fix for it, will submit a PR as soon as I test it.

[2017-01-12 22:13] gkhanna79 commented on #8903
Thank you @cesarbs. I will assign this issue to you in that case :)

[2017-01-12 22:13] gkhanna79 commented on #8903
CC @janvorli

[2017-01-12 22:15] pgavlin opened #8932 "Assert failure(PID 2748 [0x00000abc], Thread: 2664 [0x0a68]): Assertion failed 'StateMatchedCounts[stateID] < _UI16_MAX' in 'Tests.ThousandMoreField:.ctor():this'"
This assertion is hit when crosgenning `bin\tests\Windows_NT.x64.Checked\JIT\Regression\CLR-x86-JIT\V2.0-Beta2\b399444\b399444b\b399444b` with `COMPlus_JitStress=2` (see e.g. https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_windows_nt_r2r_jitstress2/lastCompletedBuild/testReport/JIT/_Regression_CLR_x86_JIT_V2_0_Beta2_b399444_b399444b_b399444b_/_Regression_CLR_x86_JIT_

[2017-01-12 22:18] qmfrederik commented on #8927
@janvorli I'm relatively sure the issue is in `libunwind` itself.

libunwind defines `unw_tdep_getcontext`. On arm a stub is defined in [libunwind-arm.h#L262](https://github.com/dropbox/libunwind/blob/master/include/libunwind-arm.h#L262); for aarch64 it is simply defined as `getcontext` in [libunwind-aarch64.h#L17](https://github.com/dropbox/libunwind/blob/master/include/libunwind-aarch64.h#L178)

[2017-01-12 22:31] danmosemsft commented on #2086
MemberInfo's constructor is now protected. I guess that resolves this.

[2017-01-12 22:31] #2086 closed

[2017-01-12 22:34] danmosemsft commented on #1224
We will delete model.xml
https://github.com/dotnet/coreclr/issues/4651

[2017-01-12 22:34] #1224 closed

[2017-01-12 22:35] danmosemsft commented on #1223
Should be removed in https://github.com/dotnet/coreclr/issues/8857

[2017-01-12 22:35] #1223 closed

[2017-01-12 22:35] danmosemsft commented on #1203
Binary serialization is now available in .NET Core - in upcoming 2.0

[2017-01-12 22:39] seanshpark commented on #8590
@jkotas, @janvorli , could you please tell me difference of JITs named `protojit`, `legacyjit` and `compatjit` that are in `src/jit/CMakeLists.txt` file ? It seems CoreCLR builds and run simple helloworld program without them for current x86/Linux.

[2017-01-12 22:43] janvorli commented on #8927
@qmfrederik ok, thanks for the explanation. As for copying the code it won't be as simple as that. The aarch64 uses different registers and instructions. You may get some idea on how to do that in the LLVM libunwind below:
https://github.com/llvm-mirror/libunwind/blob/master/src/UnwindRegistersSave.S#L252

[2017-01-12 22:45] danmosemsft commented on #8919
Have you run "build" at least once from the root?

[2017-01-12 22:46] pgavlin commented on #8590
- protojit is a separate build of RyuJIT that can be used as an alt JIT (i.e. a JIT that is loaded alongside the usual JIT for purposes of testing/experimentation and platform bring-up)
- legacyjit is a build of the JIT that uses the legacy backend for code generation, and is used as an alt JIT
- compatjit is similar to legacyjit in that is uses the legacy backend, but it is not built as an alt JI

[2017-01-12 23:00] qmfrederik commented on #8927
@janvorli Thanks for the pointer. Is llvm libunwind supposed to be API-compatible with libunwind? I had a cursory look at the header, and the declarations seem to be identical.

Yes, it seems the file you referenced basically implements `unw_tdep_getcontext` for aarch64, so it _should_ work.

I have to admin I've taken the easy path for now, and just stubbed the function as `{ return -1; }`. That

[2017-01-12 23:06] danmosemsft commented on #8884
I've gone through the others and I think I've stisfied myself that indeed they're dead code. All the CAS stuff we don't care about serializing in any intersting way. As for FormatterServices.cs that is masked in Corefx.

[2017-01-12 23:32] seanshpark commented on #8590
@pgavlin , thanks a lot!

[2017-01-12 23:35] janvorli commented on #8927
You can run the PAL tests. After building coreclr (without skiptests argument), run
src/pal/tests/palsuite/runpaltests.sh bin/obj/Linux.arm64.Debug/

[2017-01-12 23:36] #8898 closed

[2017-01-12 23:47] qmfrederik commented on #8927
Thanks, I"ll run the PAL tests and post back the results.

Meanwhile, I also attempted to build the native part of corefx, but some standard C++ includes like `limits` are not found:
[code]

I can `export CPLUS_INCLUDE_PATH=/usr/include/c+\+/6.3.0/` only to encounter the next error:

[code]

Which C++ package did you use for Alpine x64?

[2017-01-12 23:51] RussKeldorph commented on #8891
As a non-expert, my approach would be "figure out what dotnet/corefx does and port that."

@gkhanna79 Do you happen to have a more detailed list of steps or otherwise more useful advice?

[2017-01-12 23:52] janvorli commented on #8927
This is a dockerfile I was using:
[code]
I remember having issue with the limits as well and I think one of these packages have fixed it

[2017-01-13 00:11] AndyAyersMS commented on #8932
JitStress=2 enables the random inliner in the method `Tests.ThousandMoreField:.ctor():this` which has on the order of 240,000 repetitions of the IL sequence `ldarg; ldc; stsfld`. Evaluation of this method as an inline includes running the inline state machine pattern matcher over the IL. The repetitive pattern is one of the recognized patterns and so for each match the state machine increments a c

[2017-01-13 00:18] qmfrederik commented on #8927
@janvorli the native corefx components build fine, so that's one more step ahead - both coreclr & corefx are now compiling on Alpine ARM64.

Regarding the coreclr pal tests, they seem to hang. Running  src/pal/tests/palsuite/runpaltests.sh /home/coreclr/bin/obj/Linux.arm64.Debug gives the following output:

[code]

(note the single dot). I've left it running for about 5 minutes, but no additional

[2017-01-13 00:36] wtgodbe commented on #8130
https://github.com/dotnet/coreclr/pull/8934 should resolve

[2017-01-13 01:42] ellismg opened #8937 "React to CoreFX layout changes"
dotnet/corefx#15135 is introducing changes in how both their build is driven, the layout on disk of their artifacts, and how tests are run.

In CI we have jobs that depend on all of the above which would be broken by this change.  We are fixing the version we depend on in CI to before this change, but we need to go back and then update CI to use the new layouts so we can continue to pick up new ve

[2017-01-13 08:40] sergign60 commented on #8921
@janvorli
CC: @kvochko @Dmitri-Botcharnikov

Thank you very much for your explanation. Another question was: Is it correct to run this test with profiling enabled? Is such behaviour of the test correct or it should be fixed? If it should be fixed could you describe possible ways of fixing.

[2017-01-13 10:44] tapanrami commented on #8919
Thank you for your kind support. It is now working.

[2017-01-13 10:44] #8919 closed

[2017-01-13 10:56] janvorli commented on #8927
Hmm, when I run it on my RPI3 with ARM32 Linux, the dots appear with a cadence of about 4 per second, so there is obviously something wrong.
Can you try to run just the first test to see if it hangs?
`/home/coreclr/bin/obj/Linux.arm.Debug/src/pal/tests/palsuite/c_runtime/abs/test1/paltest_abs_test1`

[2017-01-13 14:39] qmfrederik commented on #8927
Thx, I'll try it later today. Are there steps I can take to enabke some kind of verbose logging, so we can get an idea of where it is stuck?

[2017-01-13 14:52] janvorli commented on #8927
If you look at https://github.com/dotnet/coreclr/blob/master/src/pal/tests/palsuite/runpaltests.sh, you'd see that we print a dot before executing each test. You can instrument that file e.g. by adding `echo "Test done"` at line 133 and you'd see if the test has hung or if something after that did.

[2017-01-13 16:52] dleeapho commented on #5823
They should be using VS2015 Update 3 already.

[2017-01-13 16:52] DmitryDzuba opened #8943 "List<T>.Sort(Comparison<T>) don't throw InvalidOperationException when called in a foreach loop"
We know, if we change a collection in a `foreach` loop, the following exception is thrown:

But there is a method that behaves differently: [`List<T>.Sort(Comparison<T>)`](https://msdn.microsoft.com/en-us/library/w56d4y5z).

For example ([dotnetfiddle.net](https://dotnetfiddle.net/PnRrAi)):

    List<int> list = new List<int> { 2, 1 } ;
    foreach (int i in list)
    {
        //list.Sort(Compare

[2017-01-13 16:55] gkhanna79 commented on #5823
Is there a way to confirm? I would like to close this if it is already the case.

[2017-01-13 17:18] janvorli commented on #8921
@BruceForstall do you have any idea why would the fact that the COMPlus_JitELTHookEnabled is set cause the extension of the lifetime of the variable at [rbp-0x30], which causes the KeepAlive test to fail on both Windows and Unix AMD64? The added profiler hook calling code doesn't use or access those locals.
Links to jitdump with and without the hook are above.

[2017-01-13 17:21] DemiMarie opened #8945 "Profiling, profile-guided optimization, and deoptimization"
This is a proposal for profile-guided optimization and deoptimization, much as is performed by the JVM.  This will allow all of the following:

- Devirtualization when (given the currently loaded classes) only one type could be the target of the method invocation.
- Speculative branch analysis: If profiling data shows that a branch is always/never taken, it is possible to assume that the branch wi

[2017-01-13 17:31] mikedn commented on #8943
Duplicate of #8071

[2017-01-13 18:12] #8943 closed

[2017-01-13 18:21] #8932 closed

[2017-01-13 18:28] benaadams commented on #8945
Related issue https://github.com/dotnet/coreclr/issues/8819

[2017-01-13 19:50] AndyAyersMS commented on #8924
Have a version of empty try removal working pretty well. Will send a PR out in a bit. There are about 130 impacted methods in the usual set of assemblies we examine (coreclr + some part of corefx).

[2017-01-13 19:54] ciplogic opened #8948 "Use the .Net Core RegAllocator for specific use cases"
I've noticed looking into RyuJIT code that .Net uses a LSRA algorithm and it is all fine. But for some use-cases a full register allocator (which I understand is supported by .Net Core) could be really nice.

Support a way to use the .Net Core's  (maybe it is already possible, yet I have no clue how) code gen for a specific method and allow a way of calling with minimal overhead between these two

[2017-01-13 19:58] jkotas commented on #8924
cc @kouvel Could you please get the Interrupt handling corner case you talked to me about yesterday  removed as part of this change so that this optimization does not affect behavior?

[2017-01-13 20:21] qmfrederik commented on #8927
@janvorli I cherry-picked 2f441cfcb9ceb01d877ba4f66b9a8f451c959987 onto my branch, rebuilt CoreCLR and ran the `/home/coreclr/bin/obj/Linux.arm64.Debug/src/pal/tests/palsuite/c_runtime/abs/test1/paltest_abs_test1` test from the command line.

The result is the same - the process hangs (waited for ~ 1 minute) with no console output.

Is there anything we can do to find out what `paltest_abs_test1`

[2017-01-13 20:24] janvorli commented on #8927
@qmfrederik can you run it under lldb? it has full debug info if you built it as debug, so you can run it and when it hangs, break in and see what the call stack looks like.

[2017-01-13 20:32] dleeapho commented on #5823
DDIT has confirmed. I've also looked at VSTS Agent capability configs.

[2017-01-13 20:33] qmfrederik commented on #8927
@janvorli

Looks like the hang is in `InterlockedCompareExchange` / `__sync_val_compare_and_swap`.

I tried with the `sqrt` and `tan` and `malloc` tests and they all fail at the same place.

[code]

[code]

[2017-01-13 20:37] janvorli commented on #8927
What is the call stack at that point (`bt` command)? This interlocked operation is likely part of some spinlock.

[2017-01-13 20:38] qmfrederik commented on #8927
[code]

[2017-01-13 20:43] janvorli commented on #8927
This is really strange. There is no loop at that place, so it looks like it has hung in the call to __sync_val_compare_and_swap. Can you try to step in the debugger after you break in to see if it is the case?

[2017-01-13 20:55] qmfrederik commented on #8927
@janvorli got sidetracked because I noticed that call was within an `#if _DEBUG` statement, so I ran the pal tests in release mode:

[code]

Thought that was worth sharing, I'll now step in the debugger for the tests compiled in debug mode.

[2017-01-13 20:57] qmfrederik commented on #8927
@janvorli so here's the `lldb` output. `lldb` does not return when I run the step into (`s`) command, so I guess that confirms this is where we're stuck?

[code]

[2017-01-13 20:59] mikedn commented on #8948
What's that? It's not like LSRA is half of a register allocator.

Not sure what you mean by supported and what that has to do with .NET Core. What's for sure is that RyuJIT has a single register allocator - LSRA - and that both .NET Framework and .NET Core use the same JIT (on x64 at least) and thus the same register allocator.

There's https://github.com/dotnet/llilc which uses LLVM. However, the

[2017-01-13 21:12] AndyAyersMS commented on #6574
And another: https://ci.dot.net/job/dotnet_coreclr/job/master/job/checked_ubuntu_tst_prtest/1632/

[2017-01-13 21:30] janvorli commented on #8927
@qmfrederik I guess that's the case then. It is pretty strange. Could you please do the following two things:
1. Disass the function at frame 0
2. dump memory at the Destination

[2017-01-13 21:50] qmfrederik commented on #8927
Here you go:

[code]
### Disass function at frame 0

[code]

### Memory at Destination
[code]

[2017-01-13 22:27] AndyAyersMS commented on #8924
@jkotas Note #8551 has already stripped protection in CoreCLR for most finallys.

[2017-01-13 22:33] janvorli commented on #8927
@qmfrederik can you actually step through that code using `si` command to step instruction by instruction? Does it also hang the debugger or would it actually step through the loop (you would just see the address changing, lldb doesn't show you the asm code if there is a source).
The generated code is extremely ugly, but it seems correct.
Btw, which clang version do you use?

[2017-01-13 22:35] qmfrederik commented on #8927
@janvorli fyi - I built on Debian Jessie arm64 and get the same behavior, `/home/coreclr/bin/obj/Linux.arm64.Debug/src/pal/tests/palsuite/c_runtime/abs/test1/paltest_abs_test1` hangs; `/home/coreclr/bin/obj/Linux.arm64.Release/src/pal/tests/palsuite/c_runtime/abs/test1/paltest_abs_test1` works.

I'll get back to your comment right now.

[2017-01-13 22:39] qmfrederik commented on #8927
@janhenke Yes, I can `si`; it will step through the loop, the address changes:

[code]

and so on.

As to the version of clang, I'm on Alpine Edge:

[code]

[2017-01-13 22:51] janvorli commented on #8927
Could you please try to replace the InterlockedCompareExchange function definition in src/pal/inc/pal.h around line 5108 with the following (taken from what GCC generates):
[code]

[2017-01-13 22:52] janvorli commented on #8927
Oh, I've made a mistake, will edit the code above.

[2017-01-13 22:54] janvorli commented on #8927
Updated.

[2017-01-13 22:59] janvorli commented on #8927
Hmm, I am worried the label stuff in there won't work correctly. The inline asm is funny.

[2017-01-13 23:01] qmfrederik commented on #8927
@janhenke I think we're missing return statement:

[code]

[2017-01-13 23:46] janvorli commented on #8927
I hope I finally got it right:
[code]

[2017-01-13 23:50] mikem8361 commented on #8844
We are little hesitant to add an environment to disable debugging because it would be yet another cause for complains that debugging/launch/attach isn't working if it was set by mistake or started being used widespread.

[2017-01-14 00:03] qmfrederik commented on #8927
Here's the output:

[code]

[2017-01-14 00:05] janvorli commented on #8927
I was testing it with GCC, seems like clang is more picky. Could you please add the "w" at all the places where the compiler indicates so?

[2017-01-14 00:05] qmfrederik commented on #8927
Yup, at it :)

[2017-01-14 00:09] #8903 closed

[2017-01-14 00:12] qmfrederik commented on #8927
We're getting closer:

[code]

Here's the code I'm compiling from: [c39fd33](https://github.com/qmfrederik/coreclr/commit/c39fd33217468b0eebfd3a5ff8009c92120fac40)

[2017-01-14 00:17] janvorli commented on #8927
The problem is that you have added the "w" to the Destination too. It should not be there, the destination is 64 bit (w means 32 bit)

[2017-01-14 00:41] qmfrederik commented on #8927
@janvorli ok, that got us one step further, the code now hangs at `InterlockedCompareExchange64` (see below)

Looking at `pal.h`, `__sync_val_compare_and_swap` is called in `InterlockedCompareExchange`, `InterlockedCompareExchangeAcquire`, `InterlockedCompareExchangeRelease` and `InterlockedCompareExchange64`.

That method is also called in `seh-unwind.cpp` and `gcenv.interlocked.inl`.

I guess we

[2017-01-14 00:42] qmfrederik commented on #8927
ps: signing off for today, happy to continue (probably) tomorrow, though!

[2017-01-14 00:54] janvorli commented on #8927
Ok, so it is confirmed it is a clang bug. Please note that the InterlockedCompareExchange64 is different from the others, since it works with 64 bit comparand / exchange, so it will need to have a separate implementation like this:
[code]

The remaining functions could all just call the InterlockedCompareExchange.

[2017-01-14 00:57] janvorli commented on #8927
Ah, sorry, I've made a mistake again. Now I've fixed it by editing the source above in place.

[2017-01-14 08:57] qmfrederik commented on #8927
@janvorli I had to change `%[result]` to `%w[result]` (which seems fine as it's defined as `LONG`), but the compiler still barks at some of the assembly:

[code]

The [913b1b2](https://github.com/qmfrederik/coreclr/commit/913b1b25d3ddbc5bb84eb1fb22b90ed96c227182) contains the updated code.

[2017-01-14 09:30] qmfrederik commented on #8927
Looking at the original code, it seems the result of `InterlockedCompareExchange64` should be `LONGLONG`, not `LONG`, I changed the declaration of `result` accordingly.

That resulted in
[code]

so I changed the labels in the 64-bit version: `LA`->`LC` and `LB`->`LD`.

That seemed to do the trick, though I guess we should come up with better names for those labels. The tests are running now in Deb

[2017-01-14 09:40] qmfrederik commented on #8927
... and the results are in:

[code]

and here's some additional information about the failing tests

[code]

[code]

[2017-01-14 09:42] qmfrederik commented on #8927
... the squashed code is here: [aab20a5](https://github.com/qmfrederik/coreclr/commit/aab20a5ee13726d233a27173c08383edf35e467c)

[2017-01-14 12:06] mikedn commented on #8895
Nope. There's no mention of SPAR 64bit anywhere in the [roadmap](https://github.com/dotnet/core/blob/master/roadmap.md) or anywhere else.

[2017-01-14 14:36] wintersteiger commented on #7376
I still see the same errors on FreeBSD with ICU 58.2:

[code]
throws
[code]
Plus the deprecation errors:
[code]

[2017-01-14 16:11] ciplogic commented on #8948
Thank you @mikedn !
I am surprised, but you are right and thank you for clarification. I would assume that .Net Core did what I confused with .Net Core.

I opened this bug for a pragmatic reason: I wanted to make a kind of simple OpenGL game and I noticed that the bindings are really ... (I would use a bad word here) but on the plain .Net side (or Mono, and so on) there are many wrappers (like Ope

[2017-01-14 17:22] AndyAyersMS commented on #8837
There was some email discussion about a related fix -- the inliner should arguably try and limit the GC liveness of inlinee locals. This is probably worth its own issue but I'll just put notes here for now.

For instance the inliner could null out GC ref locals (and perhaps GC-ref fields of local value types) in the inlinee after the body of the inline. This is essentially an extension of the unpi

[2017-01-14 20:25] janvorli commented on #8927
@qmfrederik I am sorry for the incorrect return type (LONG instead of LONGLONG) and the redefined labels.
As for the first error, the place that you've caught in the LLDB is actually not the point of the problem. The sigsegv at that place is intentional and if you continue at that point, we should handle the error. And in that handling, there is the real problem. I am actually not surprised, the k

[2017-01-14 21:56] qmfrederik commented on #8927
@janvorli Sure, sounds good. Here's what I've done so far:

- On Alpine arm64, built coreclr using `./build.sh arm64 skipgenerateversion skipmscorlib`
- On Alpine arm64, built corefx using `CPLUS_INCLUDE_PATH=/usr/include/c++/6.3.0/aarch64-alpine-linux-musl/:/usr/include/c++/6.3.0/ src/Native/build-native.sh arm64`
- On Ubuntu 16.10 x64, created a sample "coreapp", published it for Ubuntu 16.10 x6

[2017-01-14 21:59] qmfrederik commented on #8927
... hmm, could it be as simple as a missing `cross` parameter being passed to `./build.sh`? Let me try.

[2017-01-14 22:02] qmfrederik commented on #8927
... nope: `./build.sh cross arm64 debug verbose -rebuild`:

[code]

I'll wait for your guidance.

[2017-01-14 22:04] janvorli commented on #8927
@qmfrederik you should build just the mscorlib, so you should pass `skipnative` to the build.sh.
Btw, I've found the bug and the reason why the function spins in a loop described here more than a year ago:
https://llvm.org/bugs/show_bug.cgi?id=25611.
Since the bug, based on the bug report, happens only when the function is not optimized (which  explains why the PAL tests work in release builds), c

[2017-01-14 22:08] janvorli commented on #8927
As for the mscorlib.dll, you also need to copy the System.Private.CoreLib.dll, the mscorlib is just a facade for the System.Private.CoreLib.dll. And don't copy the *.ni.dll for either of these, they would not work and they are not needed (they are basically pre-jitted versions of the files without ni).

[2017-01-14 22:09] janvorli commented on #8927
Just out of curiosity, are you running that on RPI3 or some other hardware?

[2017-01-14 22:18] qmfrederik commented on #8927
@janvorli

- re: the llvm bug, let me try `__attribute__((minsize))` get back to you. The bug is marked as a duplicate and the original is marked as fixed, so I'll also check which version of llvm Alpine edge is using
- re: mscorlib, OK, I've rebuilt using `./build.sh skipnative arm64 debug verbose -rebuild` and copied over `bin/Product/Linux.arm64.Debug/mscorlib.dll` and `bin/Product/Linux.arm64.

[2017-01-14 22:33] qmfrederik commented on #8927
@janvorli A bit to my surprise, Alpine edge includes clang 3.8.1 which may not include that fix. @am11 any idea how to figure out when Alpine would ship with clang/llvm 3.9 or 3.9.1?

[2017-01-14 22:55] qmfrederik commented on #8927
@janvorli negative, `__attribute__((minsize))` does not seem to work.
I ran `git clean -xfd` just to be sure, added the attribute to the function declaration, removed the assembly code, recompiled and ran the `paltest_abs_test1` to no avail - the test hangs once more at `__sync_val_compare_and_swap`.

[2017-01-14 22:55] janvorli commented on #8927
@qmfrederik as for the hang above, it looks like the same kind of hang we were fixing with the InterlockedXXX ops, but this time in the code generated by the jitter. Could you please disass the whole loop code when it hangs? In your disass above, it would mean starting at 0xffffb7472320.

[2017-01-14 23:22] qmfrederik commented on #8927
@janvorli I'm sorry, you'll have to give me a bit more guidance here, assembly is not quite my cup of tea.

I can step through the loop allright via `si` commands, but i'm not quite sure how to determine at which address you want me to disass the function (not sure how you determined `0xffffb7472320` was the address to start at, from the `bnz` command?).

For now I've disassembled frame 0, while l

[2017-01-14 23:39] janvorli commented on #8927
@qmfrederik yes, starting at the address of the cbnz was what I wanted. It looks like the code generated by the jit has exactly the same problem.as the one that clang generated. There is a str between the ldaxr and stlxr, writing to the same cache line. The clang issue description says it is causing troubles on some hardware only. That could explain why we were not hitting the problem on the Andro

[2017-01-14 23:49] am11 commented on #8927
Great progress @qmfrederik, @janvorli ! :)

Regarding clang v3.8.1, it's the latest version available for all architectures: https://github.com/alpinelinux/aports/blob/d6529c8/main/clang/APKBUILD#7 and there is no higher version available in testing or community directories.

If I have understood it correctly, the current workaround is to build with release configuration in order to pass the test

[2017-01-14 23:55] qmfrederik commented on #8927
@am11 The way I understand @janvorli 's summary, the same bug that is present in llvm is also present in the JIT'er. So building in release mode will work around llvm's bug, but not the JIT bug.

As to llvm/clang, it appears that I can at least build llvm 3.9.1 on Alpine aarch64, so building from source is an option.

@janvorli / @dotnet/jit-contrib: The [LLVM 25526](https://llvm.org/bugs/show_bug

[2017-01-15 00:11] janvorli commented on #8927
@qmfrederik it is possible that it applies to ARM too. I have never looked at the code generated on ARM for these things.

[2017-01-15 00:36] janvorli commented on #8927
Update: I have scanned through ARM32 docs and I've found this for Cortex A9, A17, A5, A7:

In cases where there is an intervening STR operation in an LDREX/STREX code sequence, the intermediate STR does not produce any effect on the internal exclusive monitor. The local monitor is in the Exclusive Access state after the LDREX, remains in the Exclusive Access state after the STR, and returns to the

[2017-01-15 14:43] mikedn commented on #8920
I'm not familiar with MongDB but it seems that there's no Find method in the IMongoCollection interface. That would mean that the Find method you are using is an extension method and as such its availability depends on the existing using directives. Try copying the usings from the file where it works to the file where it doesn't work.

[2017-01-15 15:14] cstyle commented on #8920
Finally, I could fix it. But I do not know what was problem.
What I did is that I just removed Repositories directly which includes the error file. Then Create it and AcommodationRepository.cs again. Then When I did 'dotnet build' Then nothing error which means build is succeed.

Thank you for all helps.

[2017-01-15 15:14] #8920 closed

[2017-01-16 00:42] seanshpark commented on #8590
@jkotas , @pgavlin , could you help this problem?
I'm trying to make it work with `FEATURE_FIXED_OUT_ARGS` enabled.
Before the change, assembly generates with `push` comamnd, it generates like for example,
[code]
and with `FEATURE_FIXED_OUT_ARGS` to 1, and some other changes, now it uses `mov` command,
[code]
code order with variables are same but the arguments in the stack are reversed.
Could you

[2017-01-16 00:52] salrashid123 commented on #8844
You mean no environment variable but there would an explicit,clear command arg to disable this though (eg. dotnet --no-debug run  or something like that).

(FWIW, i tried disabling the debugging_supported flag and recompiling.  i got to about 33% of the way through but fixing the rest of the builds was a bit involved.  I'm hoping 2.0.0 has someway to disable the pipe).

[2017-01-16 01:13] surejam commented on #8895
I'm sorry, I misunderstood the question.

[2017-01-16 02:03] anass-b opened #8958 "Expression is evaluated as true where it should be false"
Hello,

As the screenshot shows bellow, the expression `myVariable == true` is evaluated as `true` where it should normally be `false`.

![screenshot](https://cloud.githubusercontent.com/assets/8070594/21968575/47389342-db96-11e6-94b8-3f16c869d7ca.png)

If `MyMethodAsync()` is not async and returns void, the expression evaluates to `false` as expected.

Is this a normal thing that can happen when

[2017-01-16 05:15] hqueue commented on #8639
@gkhanna79 I observed that you set milestone this for `Furture`.  I'm curious that when do you think this is available with `Future` mileston ?

[2017-01-16 06:31] 303248153 opened #8959 "Question about pGenGCHeap"
Hello, I'm reading source code of GC, and I have a question about pGenGCHeap in GCHeap class
read below part

code taken from gcimpl.h
[code]

code taken from gc.cpp
[code]

so if `MULTIPLE_HEAPS` is not defined, pGenGCHeap will always be NULL, why the second part still use pGenGCHeap? Shouldn't that cause null pointer error?

[2017-01-16 07:27] mikedn commented on #8959
Not necessarily. It depends on what `find_segment_per_heap` is doing, if it doesn't access any data members or virtual member functions then it works fine. Calling a member function on a null object pointer is basically undefined behavior but it works on all current compilers.

[2017-01-16 07:29] mikedn commented on #8958
I tried a few things but I wasn't able to reproduce this. Perhaps you can put together a self-contained project that exhibits this problem?

Note that if this is indeed a bug then it could be a bug in either the JIT compiler or in the C# compiler (Roslyn).

[2017-01-16 07:38] 303248153 commented on #8959
Thanks, I found members of gc_heap is prefixed by PER_HEAP which is `static` if `MULTIPLE_HEAPS` not defined.
It looks wired but yeah it work :|

[2017-01-16 07:38] #8959 closed

[2017-01-16 11:41] sergign60 commented on #8921
@janvorli @BruceForstall
CC: @kvochko @Dmitri-Botcharnikov

I removed profiling hook calls generating and saving r14&r15 that are used for argument passing into profiling hooks, and got the following dumps:
[JitELTHookDisabled.txt](https://github.com/dotnet/coreclr/files/708210/JitELTHookDisabled.txt)
[JitELTHookEnabled.txt](https://github.com/dotnet/coreclr/files/708211/JitELTHookEnabled.txt)

[2017-01-16 11:49] janvorli commented on #8921
@sergign60 I am not sure I understand the purpose of this change. Could you please explain it? I am also not sure why the registers were changed from R12, 13 to R14, 15.

[2017-01-16 11:49] Ravenheart commented on #8958
I've had this happen when the project is run in Release mode with the debugger attached. The actual code that is being run is correct, just stepping into it with the debugger visualizes wrong in VS.

[2017-01-16 12:01] sergign60 commented on #8921
@janvorli  There are some codes in the generator where R12&R13 (src/jit/codegencommon.cpp) are used for other purposes.

[2017-01-16 12:19] janvorli commented on #8921
@sergign60 so if I read the dumps it correctly, just setting the COMPlus_JitELTHookEnabled without actually generating any profiling hooks, the lifetime of those locals is still extended, right?

[2017-01-16 12:21] sergign60 commented on #8921
@janvorli
Yes, the result is the same: with COMPlus_JitELTHookEnabled=1 test fails, with COMPlus_JitELTHookEnabled=0 - passes.

[2017-01-16 12:57] janvorli commented on #8921
Then JIT folks will need to explain if that's intended or unintended behavior. I can imagine that there could be some reason why during profiling, the lifetime would get extended - e.g. to allow the profiler to see the locals on the call stack.

[2017-01-16 13:40] tmds commented on #8891
@RussKeldorph @gkhanna79

This is probably one of challenges, From https://github.com/dotnet/coreclr/issues/4437#issuecomment-262424688

[2017-01-16 14:50] airbreather commented on #5851
Just throwing this out there... are memory-mapped files enough of a use case to justify `long` instead of `int` for the "length" values at this point?

[2017-01-16 15:04] janvorli commented on #8927
@qmfrederik I was wrong with saying the other occurence was in the jitted code. I was mislead by the fact that there were no function names on that part of the stack trace. Now I can see though that that part of the stack trace actually belongs to libcoreclr.so and lldb doesn't show the debugging info for some reason. Maybe the symbols are not visible due to the fact that we load the libcoreclr.so

[2017-01-16 15:33] janvorli commented on #8927
Here are the implementations (made blindly, so I may have missed something)
[code]

[2017-01-16 15:35] qmfrederik commented on #8927
@janvorli Thx! I'll give this a try as soon as I can - it may take a day or two though.

[2017-01-16 15:37] janvorli commented on #8927
No problem :-)

[2017-01-16 15:53] ayuckhulk opened #8960 "[Linux] Using DAC interfaces from outside CoreCLR build"
I'm trying to create LLDB plugin for CoreCLR which uses DAC interfaces (`IXCLRDataProcess` and friends).

There is code in Strike to load DAC interface (function `LoadClrDebugDll` in `util.cpp`):

    IXCLRDataProcess* s_clrDataProcess;

    PAL_InitializeDLL();
    hdac = LoadLibrary("mscordaccore");
    pfn = GetProcAddress(hdac, "CLRDataCreateInstance");
    pfn(__uuidof(IXCLRDataProcess), &clr

[2017-01-16 17:30] janvorli commented on #8960
@ayuckhulk I wonder why are you creating another plugin for LLDB when we already have one for managed code debugging - the libsosplugin.so? What is the goal of your work?

[2017-01-16 18:19] ayuckhulk commented on #8960
@janvorli  Actually I am investigating about adding proper C#/CoreCLR language runtime plugin to LLDB (similar to ObjC).

Currently there are 2 ways of working with managed code through LLDB:
1. `GDB JIT` Enables LLDB to undestand native/source mappings and some method or variable types
2. `SOS Plugin` Adds commands to view internal CoreCLR structures/info and managed stack traces.

But none of th

[2017-01-16 18:29] mikem8361 commented on #5029
I think we have done all of the above items.  More tests can be added in the future but I think there are enough of all three categories now to close this issue.

[2017-01-16 18:29] #5029 closed

[2017-01-16 18:33] mikem8361 commented on #8844
We could add a hosting API to disable debugging and modify the hosts like dotnet to have that option.  It will take a little research and some coordination between the projects to make this happen.  But a host command line option would be the "safest" way.

[2017-01-16 18:55] qmfrederik commented on #8927
@janvorli I couldn't resist and gave it a spin. There were some compiler errors, unfortunately.

[code]

The [updated `pal.h](https://github.com/qmfrederik/coreclr/blob/features/alpine-arm-64/src/pal/inc/pal.h#L4990) is on my GitHub repo, that should help with finding the corresponding lines in the file.

[2017-01-16 19:00] sergign60 commented on #8921
I think there is inaccuracy in live range analysis

[code]
I don't understand why BB5 OUT is  4, not 2

[2017-01-16 19:03] janvorli commented on #8927
I am sorry. The %w[Addend] should be just %[Addend] everywhere.

[2017-01-16 19:44] qmfrederik commented on #8927
@janvorli

That compiled, `corerun` still hangs though and here is the `lldb` output. It's, once more, an infinite loop:

[code]

[2017-01-16 21:07] janvorli commented on #8927
@qmfrederik the problem with libcoreclr.so not being in the modules is strange. It doesn't happen on other Linux platforms. When the coreclr startup hangs, could you please try to find its process number from another shell window and then drup /proc/nnnnn/maps where the nnnn is the process number? I wonder if the libcoreclr.so is in this dump either.

[2017-01-16 22:40] janvorli commented on #8927
As for the hang, there are actually more usages of the `__sync_xxxx` intrinsics in the pal.h and also in the seh-unwind.cpp and gcenv.interlocked.inl.
I think that it would probably be the easiest then to create alternative versions of the `__sync_xxx` functions and then #define the original versions as these alternative ones. We need to handle 32 and 64 bit operations separately, since the functi

[2017-01-16 22:53] anass-b commented on #8958
@mikedn I would like to create a self-contained project that reproduces the issue, hope I can get some free time soon to do that.
@Ravenheart In my case it happens even in debug mode, and the content of the `if {}` block runs regardless of whether the debugger is attached or not.

[2017-01-16 23:53] anass-b commented on #8958
@mikedn I could make a self-contained project that reproduces the issue.
Here is the line of code that matches the issue I mentioned: https://github.com/anass-b/ReproduceExpressionBug/blob/master/ReproduceExpressionBug/Library.cs#L27, you can step in with the debugger until that line to see the problem.

[2017-01-17 07:46] tmds commented on #8721
The current API proposal is:

[code]

@yizhang82 @jkotas how do we continue?

[2017-01-17 10:29] scrambler86 opened #8965 "Tutorial to compile NetCore on Raspberry 3?"
Hello!

I would like to compile NetCore for Raspberry 3, I have read most issues, but there is no tutorial step by step.

Please can anyone post a tutorial to compile it?

Example:
1.- $ mkdir / git
2.- $> git clone https://github.com/dotnet/coreclr
3.- $> git clone https://github.com/dotnet/corefx
etc..

[2017-01-17 11:00] janvorli commented on #8965
You can only build the native parts of coreclr and corefx directly on RPI3 now. The managed parts of coreclr (mscorlib.dll and System.Private.CoreLib.dll) and managed parts corefx need to be built on x64 Linux at the moment due to the fact that dotnet cli tools are not available for ARM32 Linux yet.
See the #4332 for details on the native build and prerequisities.

[2017-01-17 12:56] lemmaa commented on #8960
cc: @richlander

[2017-01-17 13:19] janvorli commented on #8960
@ayuckhulk I was thinking about it a bit. It may be that a good way would be to extend libsos.so / libsosplugin.so by the functionality needed. But to be sure, I would need some more details on how the new functionality will work. Will it register some callback with LLDB that LLDB will call when it needs to unwind a stack frame or something like that?

[2017-01-17 14:13] tsolarin opened #8967 "Use nameof in place of hardcoded variable names"
To keep CoreCLR consistent with changes made in dotnet/corert#2483, some code needs to be updated to use `nameof` instead of passing hardcoded parameter names

[2017-01-17 14:17] ayuckhulk commented on #8960
@janvorli Thank you for your response! As I understand, you are suggesting not to use DAC directly and instead try to use it from inside `libsosplugin.so`. I am not sure that existing API for loadable LLDB plugins would be enough to implement all the functionality related to correct stepping/variable/method viewing. It needs further investigation.

[2017-01-17 14:20] janvorli commented on #8960
@ayuckhulk yes, that was my idea.

[2017-01-17 14:28] jkotas commented on #8721
DllImport is hard to extend. C# syntax makes you believe that it is a custom attribute, but it is not actually encoded as custom attribute in the binary for historic reasons. E.g. if you run ildasm on the binary, you won't see the DllImport metadata as custom attribute. Extending the DllImport attribute would be a IL format breaking change and all tools that produce or read IL would need to update

[2017-01-17 15:30] JosephTremoulet commented on #8130
Yes, fixed in #8934, thanks.

[2017-01-17 15:30] #8130 closed

[2017-01-17 16:20] KrzysztofCwalina commented on #5851
We decided against long length. See https://github.com/dotnet/apireviews/tree/master/2016/11-04-SpanOfT#spant-and-64-bit

[2017-01-17 16:39] #8967 closed

[2017-01-17 16:51] qmfrederik commented on #8965
@scrambler86 If you're running Ubuntu on your RPi, there are pre-built binaries available here: core-setup#725

[2017-01-17 16:52] qmfrederik commented on #8965
#6321 also contains some additional info related to cross-compiling

[2017-01-17 16:56] airbreather commented on #5851
@KrzysztofCwalina: thanks for the link.  I came to roughly the same conclusion as you guys did when thinking about it myself, **until** I realized that memory-mapped files could be exposed as a `Span<byte>` the "unsafe" way and everything would "just work"...

...unless the file happens to be over 2 GiB in size (not uncommon, I imagine), in which case it's pretty much impossible to make that inter

[2017-01-17 17:12] jkotas commented on #8895
If you would like to run .NET Core on SPARC processors, the closest thing that we is CppCodeGen option in https://github.com/dotnet/corert project.

[2017-01-17 17:48] sergign60 commented on #8921
Actually, we have the different computations of GCvars: below are their dumps on call instructions

COMPlus_JitELTHookEnabled=0:
[code]
COMPlus_JitELTHookEnabled=1:
[code]

[2017-01-17 17:56] benaadams commented on #5851
Span is a stack space window on the data; its easy enough to create a span window beyond 2GiB on it:

`new Span(memStream.PositionPointer + longOffset, length)`

The extra interop would be in creating a new span every 2GiB. Bear in mind that the Span is ephemeral and is a stack-only window; so the question on how much issue it would cause is how often is >2GB is processed in a single loop, with no

[2017-01-17 18:45] yizhang82 commented on #8721
I'd prefer the pre-processing tool approach since it can be shared across all our runtime/toolchain. It's a good opportunity for us to add more x-plat support as well (such as dllmap-like functionality, etc). I'm currently collecting requirements to see what x-plat support would be good candidates to include in the tool and I've put this in the list of potential candidates as well.

[2017-01-17 19:14] tmds commented on #8721
This is a very good point.

Looking at the fields currently available in the `DllImportAttribute`, `ExactSpelling` is an interesting one. When set, the lookup must exactly match the symbol name. Most compilers set this flag to false. When this is the case, after looking for an exact match is not found, the name is suffixed with A/W depending on the CharSet and then a lookup is performed once more.

[2017-01-17 19:29] danmosemsft commented on #8883
OK, updated the list above.

[2017-01-17 19:52] airbreather commented on #5851
@benaadams agreed that creating windows of up to 2GiB each is how that use case would have to work; this kind of thing is what I was referring to when I said "building extra infrastructure around it".

At the risk of sounding overly contrarian or even **particularly** attached to this point, you don't have to actually **process** >2GiB in the stack-only lifetime of a single `Span<T>` instance to r

[2017-01-17 20:27] #5823 closed

[2017-01-17 21:10] gkhanna79 commented on #8639
Future is being used to park workitems that we do not immediately need to bringup for the identified milestones. That said, it does not mean that they will not be actioned upon :)

[2017-01-17 21:19] TheXenocide commented on #3977
@ayende Looking at your binary package, I see some install script stuff and the compiled binaries in the dotnet package, but I'm still early days on this. Any chance you or someone else here can give me a step by step on how to get my own code running on this binary runtime? I'm not as personally concerned with building from source as I am with kicking the wheels on the running system and there's

[2017-01-17 21:24] TheXenocide commented on #3977
Apologies, I think I must have scrolled too far, I didn't see corerun/coreconsole in the package at first. I may be able to play around without help; I'll report back if I'm still confused when I get back to my Pi

[2017-01-17 21:29] Gonkers commented on #3977
@TheXenocide I am able to run console apps, but [not aspnet web apps yet](https://github.com/aspnet/Mvc/issues/5690) with the build from @ayende.

Also you will need to use [Ubuntu 16.04 image](https://wiki.ubuntu.com/ARM/RaspberryPi) and the setup script will ensure you have the required packages installed.

From your compiled app directory (I just copied mine over via scp) and run `../path_to/Ra

[2017-01-17 23:10] cesarbs opened #8974 "Add version.txt file to CoreCLR packages"
CoreFX packages contain a version.txt with the commit the package was built from. This is really useful to determine if a given change was included in the package.

CoreCLR packages don't have that file, making it hard to determine if a change made it to a recent build. Would be nice to have it there too.

[2017-01-17 23:10] weshaggard commented on #8974
@chcosta is this something we just haven't enabled in coreclr yet?

[2017-01-17 23:23] qmfrederik commented on #8927
@janvorli I tried to do that, but I must have messed some things up, because my tests now fail. Iǘe attached the output below.

You can find all the changes I made [in this commit](https://github.com/qmfrederik/coreclr/commit/639d4a11d6f5a446238e83c0b6aed8a0ff1d08e4).

I created `pal_`-prefixed methods for all the `__sync` methods; on non-aarch64 they are just `#define`'ed as the original ones; on

[2017-01-17 23:40] chcosta commented on #8974
There will need to be some slight refactoring to make this work for CoreFx and CoreClr.  Currently, the code path is based on execution of a "BuildAllProjects" target.

https://github.com/dotnet/buildtools/blob/a3c0637b9ae8d322078aff64fae97ee2dbcfecab/src/Microsoft.DotNet.Build.Tasks/PackageFiles/versioning.targets#L218

This should be refactored in some other way so that it is guaranteed to run b

[2017-01-17 23:54] halter73 commented on #8974
FWIW, I found that coreclr.dll has the commit SHA in its "Product version". I don't know if libcoreclr.so also has the also SHA embedded somehow.

[2017-01-17 23:59] BruceForstall commented on #8590
@seanshpark Just to understand the requirements: at what points is it required that the stack is 16 byte aligned? Is it that on entry to a function the stack was 16 byte aligned before the 'call' instruction pushed the 4-byte return address? So the callee knows to `sub esp,12` to get back to 16 byte alignment? In your example above of pushing 8 bytes of arguments, would an alternative be to push 8

[2017-01-18 00:03] janvorli commented on #8927
@qmfrederik I am deleting some of my comments on your  commit - I was wrong

[2017-01-18 00:36] janvorli commented on #8927
Ok, now the comments should be ok

[2017-01-18 00:41] janvorli commented on #8927
I don't want to randomize you now, but looking at the change and realizing that we always compile everything as C++, I would eventually want to clean this up so that we don't change any other sources than the pal.h.
That would mean:
* instead of adding "64" to the function name, use the same name and just overload it by the version with different types of parameters.
* #define the original names t

[2017-01-18 00:46] janvorli commented on #8974
The libcoreclr.so has the version and hash embedded in it, so there is no need to add the version.txt. You can get it this way:
strings libcoreclr.so | grep "@(#)"

[2017-01-18 01:26] chcosta commented on #8974
Thanks @janvorli .  CoreFx does a similar thing and bakes in commit hash information into it's dll's (managed dll's for sure, i'd have to look to see if it's happening in native binaries as well).  I think there's value in having a consistent way to find this information, so that you don't have to remember to check the embedded information or a txt file.  Whether that consistent way is binary embe

[2017-01-18 04:36] hqueue commented on #3977
@Gonkers @TheXenocide @ayende FYI. We have built whole .NET Core runtime from core-setup, coreclr and corefx for Ubuntu 14.04 ARM and Ubuntu 16.04. It works at Pi2 and Pi3. For more information, please visit https://github.com/dotnet/core-setup/issues/725#issuecomment-268705518

[2017-01-18 06:04] AlexGhiondea commented on #8893
@ianhays could you take a look?

[2017-01-18 07:06] parjong opened #8980 "[x86/Linux] Catch exceptions thrown from unsafe code"
CoreCLR with recent PRs (#8889, #8911, #8913, #8914, #8916, #8964) begins to support exception handling for x86/Linux. (It can run very simple example presented in #8887).

Unfortunately, CLR cannot catch an exception thrown from unsafe code. For example, let us consider the following code:
[code]

We except to see the following output for the above code:
[code]
Currently, however, we get the foll

[2017-01-18 07:16] parjong commented on #8980
\CC @seanshpark

[2017-01-18 08:03] sergign60 commented on #8921
Actually, we have the different computations of GCvars: below are their dumps on call instructions

COMPlus_JitELTHookEnabled=0:
[code]
COMPlus_JitELTHookEnabled=1:
[code]

[2017-01-18 09:42] janvorli commented on #6574
One more here:
https://ci.dot.net/job/dotnet_coreclr/job/master/job/checked_ubuntu_tst_prtest/1704/

[2017-01-18 09:59] janvorli commented on #8980
@parjong I think it would be the case for all hardware exceptions. You can try to make a test with null reference or division by zero.
Hardware exceptions are handled in a special way and I think that code path doesn't work yet.
For example:
[code]

[2017-01-18 11:38] valeri2 opened #8983 "FreeBSD 11.0 x86 build issue"
Hello.
I'm trying to build CORECLR for x86 platforms on FreeBSD 11.0 x64.

`./build.sh clang3.7 x86 skiptests`.

But at the end I get **ELF 64-bit LSB executable:**

`~/coreclr/bin/Product/FreeBSD.x86.Debug# file ./corerun`
`./corerun: ELF 64-bit LSB executable, x86-64, version 1 (FreeBSD),
dynamically linked, interpreter /libexec/ld-elf.so.1, for FreeBSD 11.0
(1100122), FreeBSD-style, not strippe

[2017-01-18 11:56] janvorli commented on #8983
Since you are cross building (building for x86 on x86-64), you need to add `cross` to the build.sh command line.

[2017-01-18 13:31] parjong commented on #8980
@janvoli There is another issue related with try region (which is almost same as #4496), but that issue seems te be irrelevant.

This issue comes from the folloing code in ``ExceptionTracker::ProcessOSExceptionNotification```:
[code]

For the above example, the return value of ``EECodeManager::GetGSCookieAddr`` comes from the following code:
[code]

The current implementation does not initialize `

[2017-01-18 13:36] stephentoub commented on #8893
I can actually take care of it... already on my todo list.

[2017-01-18 13:52] parjong commented on #8980
@janvorli Here is the result when running the code that you mentioned (it is a bit different from what I expected):
[code]

[2017-01-18 14:04] valeri2 commented on #8983
` ./build.sh clang3.7 x86 skiptests cross`

Right?

Then I get:

/usr/local/bin/clang37 -Wall -std=c11 -m32
  --sysroot=/root/coreclr/cross/rootfs/x86
  -Wno-error=unused-command-line-argument -o
  CMakeFiles/cmTC_664a3.dir/testCCompiler.c.o -c
  /root/coreclr/bin/obj/FreeBSD.x86.Debug/CMakeFiles/CMakeTmp/testCCompiler.c

  Linking C executable cmTC_664a3

  /usr/local/bin/cmake -E cmake_link_scri

[2017-01-18 14:11] janvorli commented on #8983
I have forgotten to mention that you need to generate the crossfs first using the cross/build-rootfs.sh. But we support only Ubuntu in that script now.
So to build for x86 FreeBSD, you would either need to build it on native x86 FreeBSD installation or add support for building crossfs for FreeBSD.

[2017-01-18 14:12] janvorli commented on #8983
Btw, the x86 support for Unix is currently being worked on, it is not complete yet. While executing simple Hello World already works, exception handling is not working yet.

[2017-01-18 14:15] janvorli commented on #8980
@parjong as I've asked in your other issue, could you please dump the stack trace at the point where you git the sigsegv in EECodeManager::GetGSCookieAddr? There are two possible callers of this method and possibly multiple codepaths that can get you there.

[2017-01-18 17:33] gkhanna79 opened #8988 "Crossgen failure should terminate the build"
This does not happen today as evidenced in https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build?_a=summary&buildId=526522 where build.cmd passes even when crossgen failed:

[code]

[2017-01-18 17:59] gkhanna79 opened #8989 "Win Arm64 and Arm32 crossgen fails due to JIT asserts"
https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build?_a=summary&buildId=525330&tab=details (arm)
 
[code]
 
https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build?_a=summary&buildId=525329&tab=details (arm64)
 
[code]

Also reported in today's (1/18) build - https://devdiv.visualstudio.com/DevDiv/_build?buildId=526476.

[2017-01-18 18:08] #8893 closed

[2017-01-18 18:16] CarolEidt commented on #7255
I am currently working on the following:
- Create a regreqts{arch}.cpp (e.g. regreqtsxarch.cpp) for each target.
- Move all the TreeNodeInfoInit methods out of lower{arch}.cpp into regreqts{arch}.cpp (this will leave only methods that are called during the first phase of Lowering).

Then I propose to (in some number of steps yet to be determined):
- Move non-register-requirements-related functiona

[2017-01-18 18:23] sivarv commented on #7255
Proposed plan sounds good to me.

[2017-01-18 18:27] mikedn commented on #7255
lsra{arch}.cpp? "regreqts" is unreadable.

That will conflict with my #8672 which is sort of by accident part of "Move non-register-requirements-related functionality out of the TreeNodeInfoInit methods into the first phase of Lowering"

Using a hashtable? I've tried something like that a long time ago and it seemed to be a regression in terms of performance. Though I never quite finished my exper

[2017-01-18 18:34] CarolEidt commented on #7255
Sounds like a reasonable alternative to me.

There is already a hashtable that does essentially this - `operandToLocationInfoMap`. This would simply set and get the node info directly from there.

[2017-01-18 18:34] pgavlin commented on #7255
When you do this, I would suggest leaving/moving any architecture-specific code in the `lower{arch}.cpp` files.

+1

If the number of nodes in flight is relatively small, the `SmallHashTable` should be pretty good: we get good performance using this type for a map from `GenTree*` to `LocationInfoList` when building ref positions, during which only a small number of mappings are needed at any given

[2017-01-18 18:43] mikedn commented on #7255
Sounds good. My old experiment placed ALL the nodes in a SmallHashTable.

[2017-01-18 18:43] CarolEidt commented on #7255
I'm not sure I understand what you're suggesting. I think that the architecture-specific code is the precise reason to have the (newly-proposed-name) lsra{arch}.cpp files. Defining register requirements is quintessentially architecture-specific. However, the proposal is to separate the `Lowering` functionality from the register requirements specifications. So we have:
- `Lowering` which modifies t

[2017-01-18 18:45] pgavlin commented on #7255
This is exactly what I was suggesting. I simply wanted to make sure that we don't move any (more) architecture-specific code into lower.cpp.

[2017-01-18 18:46] CarolEidt commented on #7255
Yes, and I'm afraid it will also conflict with the `Lowering` work that is currently being done for arm32. I don't think there's a way to embark on this kind of refactoring and restructuring without stepping on each others' toes.
And I'm not sure I would really call it "by accident" - it's an area ripe for refactoring!

[2017-01-18 18:47] pgavlin commented on #7255
Ah, yeah--that probably wouldn't work out so well without some tweaks to the policy used for resizing. When the number of nodes in a `SmallHashTable` is large, it will probably be overloaded under the current scheme.

[2017-01-18 19:54] sivarv commented on #8906
It turns out that pi-digits benchmark in turn exercises lot of methods of System.Numerics.BigInteger and BigIntegerBuilder.  Even the prolog of those methods have unecessary reg-to-reg moves.

[2017-01-18 19:56] kouvel opened #8990 "AppDomain::m_ForceTrivialWaitOperations is not initialized"
This sometimes causes waits in STA threads to call `WaitForMultipleObjectsEx` instead of `CoWaitForMultipleHandles`

[2017-01-18 20:40] janvorli commented on #8990
@kouvel I can see it initialized in the AppDomain constructor to false. Am I missing something?

[2017-01-18 20:43] kouvel commented on #8990
Ack, don't know how I missed that, thanks :)

[2017-01-18 20:43] #8990 closed

[2017-01-18 21:24] scrambler86 commented on #8965
Thank you

[2017-01-18 21:25] #8965 closed

[2017-01-18 22:05] qmfrederik commented on #8927
@janvorli Thx for the feedback & your patience!

I attempted to apply all of your changes - net, making changes only to `pal.h` and overloading the various methods. The updated commit is [6e512f4](https://github.com/qmfrederik/coreclr/commit/6e512f4638b9aac0736abc2a1025287d4b5d1211)

I have to admit there's a certain elegance to it :), but compiling this code results in this:

[code]

which I find

[2017-01-18 22:09] qmfrederik commented on #8927
would this be a possible explanation: http://infocenter.arm.com/help/index.jsp?topic=/com.arm.doc.den0024a/ch08s02.html?

[2017-01-18 22:10] qmfrederik commented on #8927
sorry, meant to link here: http://infocenter.arm.com/help/topic/com.arm.doc.den0024a/ch05s01s03.html#BHABJGIF

[2017-01-18 22:14] janvorli commented on #8927
No, the LONG is defined as int and LONGLONG as __int64 on Unix:
https://github.com/dotnet/coreclr/blob/master/src/pal/inc/pal_mstypes.h#L242
https://github.com/dotnet/coreclr/blob/master/src/pal/inc/pal_mstypes.h#L246

[2017-01-18 22:21] janvorli commented on #8927
I guess I can see the problem. The pal.h has this at line 49:
#ifdef  __cplusplus
extern "C" {
#endif

So basically, it wraps all of its contents in extern "C" and so no overloads are enabled. The error message is just misleading. We need to move all the  new pal_xxx functions before that. We could put them into a standalone file later.

[2017-01-18 23:15] parjong commented on #8980
@janvorli Sorry for late response. Here is the stack dump at segfault:
[code]

At this point, ``pFirstGSCookie`` has the following value:
[code]

Here is the value of related variables at the frame 2:
``
(gdb) frame 2
#2  0xf71117b6 in ExceptionTracker::ProcessOSExceptionNotification (this=0x8084870, pExceptionRecord=0x80e2f94, pContextRecord=0x80e2cc8, pDispatcherContext=0xffffb4a8, dwExceptionFl

[2017-01-18 23:22] seanshpark commented on #8590
@BruceForstall, thank you for the reply!

I understand that before calling the function stack should be aligned to 16 byte as you mentioned with additonal questions and I also think so.

Yes, I think this would do the align. But not sure this is a good approach. I've tried some but that was not enough and didn't run as expected. I think there are lots of knowledge to catch up.

`ARG_ORDER_L2R`. Th

[2017-01-19 00:36] parjong commented on #8980
@janvorli FYI, here is the prolog of ``Localloc``:
[code]

As I understand, it updates GSCookie at ``ebp - 38H`` via the following instruction:
[code]

[2017-01-19 00:40] CarolEidt commented on #8989
The second assert (arm64) has been fixed with #8991. @jashook is looking at the arm one.

[2017-01-19 01:10] 303248153 opened #8995 "[Question] How many GCHeap and gc_heap instances per .net process?"
Hello, I'm trying to understand gc in coreclr,
and my question is simple: how many GCHeap and gc_heap instances per .net process?

As I read there 3 global veriables
`IGCHeap g_pGCHeap` defined in gcheaputilities.h
`IGCHeapInternal g_theGCHeap` defined in gccommon.cpp
`gc_heap[] g_heaps` defined in gcpriv.h

`g_pGCHeap` and `g_theGCHeap` point to same instance created by `SVR::CreateGCHeap` or `WK

[2017-01-19 02:03] jkotas commented on #8995
cc @swgillespie

[2017-01-19 02:08] chunseoklee opened #8999 "ETA for porting mdbg to coreclr"
realted issue : https://github.com/dotnet/coreclr/issues/1145
Is there any information(ETA or repo) for porting mdbg to dotnet core(coreclr) ?

[2017-01-19 03:31] seanshpark commented on #8590
Using `ARG_ORDER_R2L` turns out that input arguments are assigned to reverse order and there seems to be other places to touch, like stub functions. And doesn't seem to affect parameter order when calling to another function which I'm looking for.

[2017-01-19 05:43] Gonkers commented on #3977
@TheXenocide I just found this guide made by @Petermarcu that you might helpful.
https://github.com/dotnet/core/blob/RaspberryPi/samples/RaspberryPiInstructions.md

[2017-01-19 08:17] qmfrederik commented on #8927
@janvorli OK, that got us here:

[code]

I've pushed the updated [pal.h](https://github.com/qmfrederik/coreclr/blob/d0e64aa70fb8d7effbe15b221b8769c6578b75c4/src/pal/inc/pal.h) to GitHub.

[2017-01-19 09:45] janvorli commented on #8927
I think the problem is that the pal_mstypes.h is included after the new functions are defined, so it doesn't have definitions for the LONG and LONGLONG. I suggest changing the signature of the new functions to use standard C types int and long and remove the OUT and IN annotation.

[2017-01-19 11:04] hqueue commented on #8679
#8678 is merged.

[2017-01-19 11:04] #8679 closed

[2017-01-19 11:20] qmfrederik commented on #8927
@janvorli Looks like we're getting closer.

I moved the new functions to below the `#include` of `pal_mstypes.h` and some `#defines` out of the `extern C` block; that way those errors went away.

That said, I had to add an overload for `pal_sync_val_compare_and_swap` which takes a `ULONGLONG` instead of `LONGLONG` (because `size_t` was being passed which is unsigned); I casted `ULONGLONG` to `LONG

[2017-01-19 11:30] janvorli commented on #8927
@qmfrederik I've added comments to the commit. You had %w2 / %x2 at multiple places instead of w2 and x2. and [%w[Addend]] instead of [%[Addend]]

[2017-01-19 12:00] AlekseevAlexander opened #9003 "Does CLR suspend EE only if MULTIPLE_HEAPS was defined?"
According to [CLR Threading Overview](https://github.com/dotnet/coreclr/blob/master/Documentation/botr/threading.md) and [Garbage Collection Design](https://github.com/dotnet/coreclr/blob/master/Documentation/botr/garbage-collection.md) the code flow for GC is:
[code]

But according to [gc.cpp](https://raw.githubusercontent.com/dotnet/coreclr/master/src/gc/gc.cpp) source code it is correct only if

[2017-01-19 13:38] tmds commented on #8721
TIL: symbols generated by gcc never contain an '@'. This is described in the [gas manual](https://sourceware.org/binutils/docs/as/Symbol-Intro.html#Symbol-Intro):

clang's mangling is kept in sync with gcc.

[2017-01-19 15:39] jkotas commented on #8721
Doesn't this just describe the syntax of asm files? The same link also says:

[2017-01-19 15:46] jkotas commented on #9003
This is not correct. `GCToEEInterface::SuspendEE` is called in multiple places. The path you are looking at calls it for `!MULTIPLE_HEAPS`, other paths call it for `MULTIPLE_HEAPS`.

[2017-01-19 15:47] #9003 closed

[2017-01-19 16:32] qmfrederik commented on #8927
@janvorli

I perhaps was a bit too enthusiastic about this, because now that I've made the change to use function overloading, I've noticed that at least some objects are being compiled as C:

[code]

Doing a quick search seems to indicate that there are only a few `.c` files in the repo and they all seem to be tests; would it be OK to change them to `.cpp`?

Alternatively, we can go back to the `

[2017-01-19 16:32] tmds commented on #8721
@jkotas haven't found anything more specific, taking the irc route:

Quoting [Jason Merrill](https://github.com/gcc-mirror/gcc/blob/master/MAINTAINERS#L146)

[2017-01-19 16:35] janvorli commented on #8927
Can you actually try to wrap all the pal_xxx definitions in a single extern "C++" {  ........... } block?

[2017-01-19 16:54] janvorli commented on #8927
Ah, I am sorry, that would not work, since the C compiler doesn't recognize this.  But I am still hesitant to go to the _64 and _ptr suffixes. Let me see if we can force all the tests to be built as C++.

[2017-01-19 16:57] qmfrederik commented on #8927
ok, let's give that a try.

(Yes, `extern C++` doesn't work:

[code]

[2017-01-19 17:12] janvorli commented on #8927
Actually, there is one more way. The latest C11 language has a feature _Generic that allows you to let the compiler pick one of the implementations based on input data types.
So we can do something like:
[code]

[2017-01-19 17:13] gkhanna79 commented on #8989
@CarolEidt Thank you. Today's build confirms the issue is addressed and the only outstanding issue is that for WinArm32. @jashook How is that looking since this build break is preventing publishing of nuget packages from the official builds?

[2017-01-19 18:00] swgillespie commented on #8995
and if gc feature is unavailable, there 1 GCHeap instance and 0 gc_heap instance (because all gc_heap member mark static).

This is correct. The "original" GCHeap instance (the one created by `SVR::CreateGCHeap` or `WKS::CreateGCHeap`) is the one that serves as the interface between the runtime and the GC - both the runtime and the GC have a reference to this instance (`g_pGCHeap` and `g_theGCHeap

[2017-01-19 18:12] janvorli commented on #8927
@qmfrederik I've verified that the _Generic approach works. On my amd64 Linux, I have reim implemented the __sync_val_compare_and_swap experimentally.
I had to fix one place in the src/gc/env/gcenv.interlocked.inl to cast comparand and exchange pointer to void*, but that was all.
Here is what I tried:
[code]

[2017-01-19 18:19] qmfrederik commented on #8927
Using `_Generic` seems to cause more errors as apparently we'd need to account for all data types being passed to that function:

[code]

So I'm backing moving tests to C++ & trying to get everything to build, for now.

[2017-01-19 18:21] janvorli commented on #8927
@qmfrederik this is the only place where it causes problem - that's the one I had to modify.

[2017-01-19 18:23] qmfrederik commented on #8927
@janvorli Sorry about that, I missed your last comment! I'll make the modification & try again.

[2017-01-19 18:58] qmfrederik commented on #8927
@janvorli OK, it looks like we're getting closer. I had to make some additional changes to `gcenv.interlocked.inl` but they seem straightforward. I'm also assuming `void *` and `sizeof_t` are 64-bit on aarch64, so I used the `LONGLONG` overloads.

When compiling, the only errors that pop up are related to the assembly code:

[code]

You can inspect the changes here: [278231f](https://github.com/qm

[2017-01-19 19:29] nattress opened #9007 "Allow custom runner for CoreCLR test unix scripts"
Each CoreCLR test has a Windows `test.cmd` and Unix `test.sh` script that runs the test. The Windows scripts allow a custom test runner so that CoreRun can be switched out (ie, with CoreRT). The Unix scripts need the same feature.

On Windows:
[code]

What Unix currently has:
[code]

[2017-01-19 21:57] sivarv commented on #4766
This is an issue on Linux codegen because of the way structs are treated.

[2017-01-19 22:08] yosefd opened #9011 "Exponential slowdown in task execution when using WhenAny"
@kouvel @alexperovich @stephentoub

The bug we found causes exponential slowdown, so it is pretty severe. I wouldn’t classify it as a performance problem. This practically kills process for all practical purposes, which what happened to our product.  As far as I can see in sources, the bug is in all versions of .net.

This is the repro (run release version, not attached to debugger):

[2017-01-19 22:26] jashook commented on #8989
#9013 should fix the crossgen assertion, but it does not address the root cause. Will open a new issue and assign it to Andy after #9013 is in.

[2017-01-19 22:53] ole1986 opened #9014 "Could not load file or assembly 'mscorlib on Linux using Jailkit"
When trying to execute `dotnet --version` I get the below error.
Also `dotnet new` does not work (with same error).

I already copied several libraries, like:

/lib/x86_64-linux-gnu/librt.so.*
/usr/lib/x86_64-linux-gnu/libunwind.so.*
/usr/lib/x86_64-linux-gnu/libicu*.so.*

Is there anything else missing? Language files?

**Attached: complete STDOUT**
[error.txt](https://github.com/dotnet/coreclr/f

[2017-01-20 00:18] 303248153 commented on #8995
Thank you very much for your answer!
I hope to have more documents about internal released.

[2017-01-20 00:18] #8995 closed

[2017-01-20 00:31] jashook opened #9015 "fgRemoveEmptyFinally disabled on ARM32"
The EH model on ARM requires requires predecessors to have been computed in order to sucessfully leave the bit unset for cases where there are multiple CALLFINALLY / BBJ_ALWAYS pairs that point to the same finally target.

The following example demonstrates the problem.

<pre>
--------------------------------------------------------------------------------------------------------------------------

[2017-01-20 00:36] jashook commented on #8989
Build break is fixed with #9013. #9015 is opened to address the root issue. /cc @AndyAyersMS

[2017-01-20 00:36] #8989 closed

[2017-01-20 00:46] swgillespie opened #9016 "[Local GC] Remove all references to symbols defined by CoreCLR"
The following symbols are undefined when building the GC as a shared library in a standalone manner today on OSX:

[code]

Many of these should go away when handling the handle table (https://github.com/dotnet/coreclr/issues/8358) and others should go away when CoreCLR headers aren't included. Others will need to be rectified by duplicating some headers between CoreCLR and the GC or by duplicating

[2017-01-20 00:48] swgillespie commented on #8995
Feel free to email me if you have any other questions! Perhaps it would be good to start aggregating some more documentation about GC internals.

[2017-01-20 00:49] swgillespie commented on #9016
cc @sergiy-k @Maoni0 @adityamandaleeka

[2017-01-20 01:01] swgillespie opened #9017 "[Local GC] Remove from the EE references to symbols defined by the GC"
The GC defines the following symbols that are referenced by the EE:

[code]

Some of these are dacvars and many of them are related to the handle table. Also, some of these are by design (in particular `InitializeGarbageCollector`, which will ultimately be loaded through `dlsym`/`GetProcAddress`).

[2017-01-20 01:16] izaaz opened #9018 "webHost.Dispose() does not complete"
Hi,

We have a dot net core WebListener service deployed in Service Fabric. When we upgrade the service version, SF tries to stop the application by calling CloseAsync before it upgrades it to the new version. This is our implementation for that.

            Task ICommunicationListener.CloseAsync(CancellationToken cancellationToken)
            {
                etwEventSource.ServiceMessage(serv

[2017-01-20 02:05] sivarv opened #9019 "RyuJIT: Eliminate unnecessary struct copies that materialize after in-lining a method"
This issue surfaced while analyzing knucleotide benchmark on Windows.

One of its hot methods `KFrequency() `calls into `Dictionary<Struct, ref>.TryGetValue(struct)` passing it a struct `key` as param.  `TryGetValue()` is a simple wrapper method that passes its struct param to `Dictionary.FindEntry(Struct, ref, bool)`.

`Call Chain: KFrequency() --> TryGetValue() --> FindEntry()`

Before in-lining

[2017-01-20 02:24] #7508 closed

[2017-01-20 04:40] benaadams commented on #9018
Might want to open this issue here https://github.com/aspnet/Hosting

[2017-01-20 05:56] hqueue commented on #9015
/cc: @mskvortsov @YongseopKim

[2017-01-20 05:59] hqueue commented on #8770
Closing, because #8771 was merged.

[2017-01-20 05:59] #8770 closed

[2017-01-20 06:01] hqueue commented on #8718
@mskvortsov Can we close this issue ?

[2017-01-20 07:42] mskvortsov commented on #8718
I tried to reproduce, but something has changed apparently.
Closing for now.

[2017-01-20 07:42] #8718 closed

[2017-01-20 11:13] qmfrederik commented on #8927
@janvorli Let me know if there's anything else you need from me to investigate the issues with the assembly code.

[2017-01-20 11:19] janvorli commented on #8927
@qmfrederik I've added comment to your commit with description of what's wrong.

[2017-01-20 12:22] #8983 closed

[2017-01-20 14:11] janvorli commented on #6574
And again:
https://ci.dot.net/job/dotnet_coreclr/job/master/job/checked_ubuntu_tst_prtest/1791

[2017-01-20 14:24] tmds commented on #8721
Based on what was discussed, this is a viable option for versioned symbol (dlvsym) lookup:
[code]
The use of the `@` is okay since it does not conflict with gcc/clang mangling.
It also works within the constraint that the `DllImportAttribute` is difficult to extend.

In the unlikely case this syntax would cause trouble, it could be disabled via the `DllImport.ExactSpelling` flag.

[code]

I have u

[2017-01-20 15:00] mattwarren commented on #8995
<shameless plug> I have a [few articles on my blog that look at the .NET GC internals](http://mattwarren.org/tags/#Garbage-Collectors).

I must admit that for most of the posts I started by looking at the [GC BOTR page](https://github.com/dotnet/coreclr/blob/master/Documentation/botr/garbage-collection.md) linked above and then when I had more questions I grepped the source (gc.cpp)

[2017-01-20 17:41] qmfrederik commented on #8927
@janvorli Thanks, that got the code back to a point where it compiles.

Running the PAL test fails, though; all tests now exit with error code

[code]

Here's some lldb output:

[code]

And running the process manually:

[code]

And with `gdb`:

[code]

[2017-01-20 17:42] qmfrederik commented on #8927
@janvorli I was wondering, is there an easy way to write unit tests/test programs for those `pal_sync` methods? It may make it a bit easier to pinpoint issues to a specific method.

[2017-01-20 18:05] janvorli commented on #8927
Well, you can write a simple standalone C++ program that would test the functions.
The errors are weird though, the fact that it has failed during the launch means something very suspicious.
Can you try to do this in gdb before running the test?:
`set startup-with-shell off`
I've found some doc here https://sourceware.org/gdb/onlinedocs/gdb/Starting.html that says that this can help debugging erro

[2017-01-20 18:20] izaaz commented on #9018
Thanks @benaadams. Moved it there!

[2017-01-20 18:20] #9018 closed

[2017-01-20 18:49] qmfrederik commented on #8927
@janvorli the `set startup-with-shell off` didn't work, unfortunately.

Here's some things I tried to pinpoint the problem:
- Removing the call to `PAL_Initialize` in the test case made the error disappear (so it seems to be an issue within `PAL_Initialize`
- Removing the `pal_` alternative for `__sync_val_compare_and_swap` made the test hang (so the behavior changed from a segfault to a hang); th

[2017-01-20 18:49] qmfrederik commented on #8927
The latest commit is here: https://github.com/qmfrederik/coreclr/commit/7bd02405d318aee24b5f577468986fb0f2be5233

[2017-01-20 18:57] swgillespie commented on #8995
@303248153 So I re-read my response and realized there's a bit I missed - the choice of whether or not the GC uses Workstation GC or Server GC is made at startup time:

At least on CoreCLR, the GC is always capable of using either Workstation GC or Server GC, and it's up to whomever is hosting the CLR which to do. (Practically, the dotnet CLI uses a json file to indicate which GC variant to use).

[2017-01-20 19:16] janvorli commented on #8927
@qmfrederik it seems like a problem with GDB that it doesn't break on the sigsegv. You could set a breakpoint to main, run the test and then step through the PAL_Initialize to see where it hits the problem.
In the meanwhile I will carefully scan the changes you've made to see if I can spot something.

[2017-01-20 19:44] janvorli commented on #8927
@qmfrederik I have added few comments. There were two bugs in the casts and one potential issue with the moved #ifdef  __cplusplus

[2017-01-20 19:52] stephentoub commented on #9011
@kouvel, are you saying you believe there are race conditions in the existing implementation that can manifest problems (unrelated to this issue) today?  Can you elaborate?

How?  FinishContinuations takes the lock in order to synchronize with AddTaskContinuationComplex:
https://source.dot.net/#System.Private.CoreLib/src/System/Threading/Tasks/Task.cs,3607
After that lock has exited, since prior t

[2017-01-20 21:13] cameron-elliott opened #9026 "Download page LTS/Win/X64 links broken"
On this page, at this moment, the LTS/Win/X64 links are broken.

https://www.microsoft.com/net/download/core/#/runtime

[2017-01-20 21:16] kouvel commented on #9011
Regarding the races in Finish/Add, you're right of course, I missed it

[2017-01-20 21:21] qmfrederik commented on #8927
@janvorli I applied the changes you made and added a few asserts related to sizeofs, thanks!

That didn't fix the issue, unfortunately, so I proceeded & tried to write some basic tests for those methods.

In this piece of code:

[code]

the last execution of `pal_sync_val_compare_and_swap` causes a segmentation fault.

Perhaps the test is wrong, let me know if I missed anything.

[2017-01-20 21:33] janvorli commented on #8927
@qmfrederik could you please get me a disass of this test? I wonder if the inline assembler is generating a correct code.

[2017-01-20 21:40] qmfrederik commented on #8927
sure, via `objdump -d paltest_abs_test1` (that's the test I recycled):

here's `pal_sync_val_compare_and_swap`:

[code]

and here's what main looks like:

[code]

[2017-01-20 21:50] janvorli commented on #8927
The code looks ok. I don't see how it could sigsegv. Could you please step through the code of the pal_sync_val_compare_and_swap using "si" to see which instruction causes the sigsegv?

[2017-01-20 22:47] qmfrederik commented on #8927
@janvorli So, both gdb and lldb fail to correctly launch (and attach to) the process.

That said, either I misread the output of the program or I'm missing something, but the test actually fails because the assert fails.

Based on [the GCC docs](https://gcc.gnu.org/onlinedocs/gcc-4.1.0/gcc/Atomic-Builtins.html) and https://github.com/qmfrederik/coreclr/commit/59d52edbdf6b5d5cdc17c1486c169b6f0aa9b5

[2017-01-20 22:51] janvorli commented on #8927
Oh great. I keep forgetting that these functions have the order of the last two arguments opposite to the windows interlocked functions.

[2017-01-20 22:52] davjohna opened #9030 "AssemblyLoadContext : issue with dynamic assemblies and custom ALC"
There appears to be a problem with using a custom AssemblyLoadContext combined with dynamic assemblies that have a dependency on a custom ALC-loaded assembly. This issue was tested and found in .NET Core 1.0.0, 1.0.3 (LTS), and 1.1.0. A good example is using the XmlSerializer, since it generates a dynamic assembly to serialize types.

Steps to reproduce:

1. Setup two projects: XmlTest, and BadAlc

[2017-01-20 23:15] jamesqo opened #9031 "[From xunit/xunit] Structs passed via [MemberData(...)] may be corrupted on Ubuntu"
I found this issue at https://github.com/xunit/xunit/issues/1069 and it looks like it might be of interest to people here.

## Original text

When running xUnit tests on the .Net CLI using the public Travis CI servers (running Ubuntu), data held within a simple struct containing four float fields is corrupted when passed to theory using the `[MemberData(...)]` attribute. When running the same test

[2017-01-20 23:17] jamesqo commented on #9031
/cc @Andy-Wilkinson, @onovotny

[2017-01-20 23:29] qmfrederik commented on #8927
Hmm, running my test app with `./corerun coreapp.dll` still seems to hang; `lldb` returns `error: process launch failed: 'A' packet returned an error: 8` when launching the process and `gdb` doesn't want to break.

Let me see what I can try to do about that tomorrow. Meanwhile, the updated code is available here: https://github.com/qmfrederik/coreclr/commit/5621ac5087d923ce6cb2595480af8d8f1a065ee7

[2017-01-21 00:09] janvorli commented on #8927
@qmfrederik it could be one of the __sync_xxx that we have not implemented in asm yet.

[2017-01-21 00:18] janvorli commented on #9031
@jamesqo, @Andy-Wilkinson, I have tried to repro the issue using the simple repro on my Ubuntu 14.04, building it using the latest CLI tools available here:
https://dotnetcli.blob.core.windows.net/dotnet/Sdk/rel-1.0.0/dotnet-dev-ubuntu-x64.latest.tar.gz
I cannot repro the issue, the app completes successfuly.

[2017-01-21 00:18] jkotas commented on #9030
cc @gkhanna79 @rahku

[2017-01-21 00:26] kouvel opened #9032 "Span: VM side of GC reporting for `Span<T>` - slow tail calls"
Fix the following places on the VM side to do proper GC reporting for `Span<T>`:
- `StubLinkerCPU::CreateTailCallCopyArgsThunk`, or slow tailcalls have to be disabled for calls with `Span<T>` arguments

Slow tail calls may not currently be an issue, but apparently, that could change.

Forked from #8517

[2017-01-21 00:26] kouvel commented on #8517
Created #9032 to track tail call issue, removed inline from main list

[2017-01-21 00:30] kouvel opened #9033 "Span: VM side of GC reporting for `Span<T>` - investigate struct passing in regs on Unix"
Investigate if there is an issue with structs being passed in registers on Unix:
- Passing a span as an argument in registers (potentially fix ReportPointersFromStructInRegisters to cover ByRefLike types)
- Returning a span in registers during GC suspension

[2017-01-21 00:31] kouvel commented on #8517
Created #9033 to track potential issues with structs passed in registers on Unix, removed inline from main list

[2017-01-21 00:35] janvorli commented on #8927
Here are the implementations of the remaining ones:
[code]

[2017-01-21 00:36] janvorli commented on #8927
Please note that I have named registers in the modified registers list of those instructions differently than before - by the register names instead of just indexes. I've found that the compiler seems to accept that and it is easier to read.

[2017-01-21 01:55] sivarv opened #9036 "RyuJIt: Loop hoist invariant struct field accesses"
Knucleotide benchmark heavily uses Dictionary lookups.  It uses the following struct as key into hash table

[code]

Call Chain:
`Dictionary.TryGetValue() --> FindEntry() --> calls GetHashCode() and Equals() methods on ByteString.`

In case of Equals() or GetHashCode() methods, ByteString accessed is either "thisptr" or argument passed to the method.  Struct args on Windows are considered implicit

[2017-01-21 04:09] ygc369 opened #9037 "Please add new syntax keyword "ref?" to represent that "ref return" result might be null"
Now the C#7.0 feature "ref return" doesn't allow null as return value, but null as return value is sometimes useful. For example:
static ref? int findvalue(int[] arr, int value){
    int i;
    for(i=0;i<arr.Length;i++){
        if(value==arr[i])return ref arr[i];
    }
    return null; //not found
}

int[] array=new int[]{1,2,3};
ref? int e=findvalue(array, 4);
if(e!=null)e=5;
ref? int e1=fineval

[2017-01-21 05:51] jkotas commented on #9037
You are asking for a new C# language feature - it belongs to https://github.com/dotnet/roslyn repo

[2017-01-21 08:14] tn0502 opened #9038 "Support for Mono's DllImport(@"__Internal") ?"
Can we add support for loading symbols within the hosting application as [documented here](http://www.mono-project.com/docs/advanced/pinvoke/)?

This will make it easier for existing applications to expose method symbols to managed code without having to 1) separating desired methods to a separate dynamic library or 2) passing tables of function pointers to managed code on initialization.

[2017-01-21 08:59] ygc369 commented on #9037
@jkotas
I know this is a new C# feature, but it maybe need CLR support.

[2017-01-21 14:29] qmfrederik commented on #8927
@janvorli Thanks!

Here's the status
- I added the implementations for the missing `__sync` methods to my branch. I've had to make some changes left and right; the final commit is here: https://github.com/qmfrederik/coreclr/commit/6cbd16ea9e606db13b9712a8c3999581fd981e0c
- The behavior on Alpine ARM64 remains the same:
  * `./coreclr coreapp.dll` hangs (100% usage of one CPU)
  * lldb fails to sta

[2017-01-21 14:34] jkotas commented on #9037
It may or may not depending on the design. If it does, then it would be added to https://github.com/dotnet/roslyn/issues/420.

The null refs are possible in IL today so there is nothing fundamentally needed.

[2017-01-21 15:11] jkotas commented on #9038
cc @yizhang82

[2017-01-21 16:15] gitchomik commented on #3977
I try Ubuntu 16.04 ARM build on Orange Pi PC board (ARM Cortex-A7 Quad-Core, H3 Allwinner CPU) and it also works great.

[2017-01-21 16:53] qmfrederik commented on #8927
@janvorli OK, I was finally able to get something which resembles a stack trace:

[code]

[2017-01-21 17:35] neyromant commented on #3977
@Gonkers, Page https://github.com/dotnet/core/blob/RaspberryPi/samples/RaspberryPiInstructions.md returns 404 Not Found

[2017-01-21 17:45] anass-b commented on #8958
any updates on this issue ?

[2017-01-21 18:13] mikedn commented on #8958
Sorry, I missed your previous post. I tried now your project and I see that the debugger steps into the if statement but the code isn't actually executed, that exception isn't actually thrown and test passes as expected. Is that what you are seeing?

[2017-01-21 18:17] anass-b commented on #8958
That's true, my sample project can reproduce just the part where the debugger steps in to the wrong place, but the exception isn't executed. On the other side, in my real project, the exception is executed and the test fails. This is something I couldn't build a sample project that can reproduce it.

[2017-01-21 18:36] jnm2 commented on #8958
@anass-b Does this repro running VS in safe mode? I ask because this week I was using NCrunch to debug a test and I was stepping through `var x = Method();` and witnessing the fact that `x` did not end up set to the return value from `Method`. It turned out that NCrunch was modifying the IL in order to calculate the line-by-line coverage markers and was literally glitching in a way that changed th

[2017-01-21 19:26] mikedn commented on #8958
Hmm, maybe there are different bugs.

In your repro I suspect that the problem is bad debugging information produced by the C# compiler. The IL of that `if` statement is:
[code]
And the PDB seems to contain these sequence points (according to Pdb2Xml):
[code]
Line 27 contains the `if` statement and it's mapped to offset 0x8f which seems OK. But then offset 0x97 is also part of the `if` statement b

[2017-01-21 19:37] anass-b commented on #8958
@mikedn That makes a lot of sense.

The sample project is an exact mirror of the buggy part in the actual project, so I'm wondering how we can reproduce the code generation issue.

@jnm2 my VS is vanilla, it has no extensions installed besides the ones from Microsoft that belongs to VS itself, so I don't think there is an extension that changes the IL. I anyways run `devenv.exe /SafeMode` but that

[2017-01-21 19:40] mikedn commented on #8958
Here's a simpler repro, when dealing with potential compiler bugs it's best to keep things as simple as possible:
[code]
I can reproduce the issue compiling with either VS2015 or VS2017 and running with any of the available JITs (JIT32, JIT64, RyuJIT).

[2017-01-21 19:44] anass-b commented on #8958
@mikedn Great, now we are sure this is a bug in Roslyn and/or the JIT compiler.

[2017-01-21 19:46] Petermarcu commented on #3977
Here is the link https://github.com/dotnet/core/blob/master/samples/RaspberryPiInstructions.md

[2017-01-21 19:51] mikedn commented on #8958
Well, if a compile the code with the old C# compiler (pre-Roslyn) then debugger stepping works fine. I suppose that there's a good chance that the problem is in the Roslyn compiler.

Have you checked if the value is indeed `false` in the actual project? Maybe there's another issue and you end up with `true` unexpectedly. Try logging the value to the console or something to be sure.

[2017-01-21 20:01] benaadams opened #9039 "[RyuJIT] Double CORINFO_HELP_ASSIGN_BYREF?"
Outputting the jit dasm for Kestrel `FrameResponseHeaders:SetValueFast(ref,struct):this`

I'm seeing blocks like this:
[code]
I assume one `call CORINFO_HELP_ASSIGN_BYREF` is just as good as two in a row?

Is this a double call to `JIT_ByRefWriteBarrier`?

Block would be in C#
[code]

`_bits` is a heap `long`
`_headers` is a heap `struct`
`_KeepAlive` is a `struct` of `_headers`

All private class

[2017-01-21 20:03] anass-b commented on #8958
In the actual project, the value is every time false.

It's a boolean variable which is initialized with `false`, the value is then fetched from the database using dapper, after logging the variable's value, it shows false, when looking on the database with SSMS, the field is false before and after the debugging session and there is nobody touching that field, it's an isolated unit test. So we can

[2017-01-21 20:06] mikedn commented on #8958
Can you run the actual code in debugger, stop at the `if` statement and post some disassembly code from VS's disassembly view?

[2017-01-21 20:15] anass-b commented on #8958
![screenshot0](https://cloud.githubusercontent.com/assets/8070594/22177481/ae9d898e-e01e-11e6-9b4b-942da6bd7de1.png)

![screenshot1](https://cloud.githubusercontent.com/assets/8070594/22177466/6ba7b726-e01e-11e6-9ea1-65850daa0eed.png)

[2017-01-21 20:19] omariom commented on #9039
What is it in C#?

[2017-01-21 20:19] benaadams commented on #9039
Added more details (including C#)

[2017-01-21 20:36] stephentoub opened #9040 "Delegate's hash code is poor"
Delegate's GetHashCode just returns the hash code of the delegate type.  For a scenario where delegates are used as keys in a dictionary, this leads to obvious performance problems.  We should look at coming up with a better GetHashCode that properly factors in the target object and method, in all of the various forms a delegate can take.

[2017-01-21 20:48] mikedn commented on #8958
Well, this looks correct. You have `cmp dword ptr [ebp-50], 0` and `je 0a2b573` which means `jump if equals 0`. That is, if not isDeleted then jump over exception throwing code.

The value at [ebp-50] can be traced back through a long stream of copies to `call 717C0EA0` which is likely the call to `TaskAwaiter<bool>.GetResult()`.

In general, the code looks pretty much identical to the code your r

[2017-01-21 20:53] mikedn commented on #9039
Yes, they copy the two reference fields from `StringValues`.

[2017-01-21 20:56] anass-b commented on #8958
What is even more weird is: when in debugging mode and while the debugging cursor stands in the line `throw new ServiceException();`, I press F10 it quits the current method, so far so good, while on the parent method, the execution continues line by line like no exception was thrown, at some point the code will start running slow until the test crashes/fails with "ServiceException was thrown".

W

[2017-01-21 20:58] benaadams commented on #9039
Yeah is a two field struct
[code]
So by design?

[2017-01-21 21:00] mikedn commented on #8958
Let's try one more thing: when in disassembly step until those cmp/je instructions and then look in the Registers window (see the Debug\Windows menu) to see what value EAX register has.

[2017-01-21 21:04] mikedn commented on #9039
By design in the sense that the generated code is correct. I suppose it might be improved to be a single call with an additional argument to indicate the numbers of fields to copy. Though that trades a call for a loop so it might actually be worse...

[2017-01-21 21:12] benaadams commented on #9039
Ah, yeah, copying two reference pointers...

[2017-01-21 21:12] #9039 closed

[2017-01-21 21:23] anass-b commented on #8958
I made a small screen capture of the debugging session starting from the if: [debug.zip](https://github.com/dotnet/coreclr/files/721485/debug.zip)

[2017-01-21 21:34] anass-b commented on #8958
it's very odd that it jumps from `0A845437  mov         dword ptr [ebp-50h],eax` to `0A84545E  nop` without going through `0A84543A  cmp         dword ptr [ebp-50h],0` and `0A84543E  je          0A84545E`

[2017-01-21 22:54] qmfrederik commented on #8927
OK, I got gdb running inside the container; I've inspected the call stack three times (waiting ~ 10 sec in between) and it looks like we're stuck inside a loop in `Thread::StackWalkFramesEx`:

[code]

[code]

[code]

[2017-01-22 00:14] janvorli commented on #8927
@qmfrederik I think that the inability to break in when running under debugger can be related to the docker. I am not sure, but I think I had similar problems with debugging in a docker container on x64.
Anyways, the stack trace indicates there is an exception handling going on and there is likely something wrong with the stack unwinding that causes it to spin indefinitely.
I would keep fixing the

[2017-01-22 04:04] 303248153 commented on #8995
@swgillespie @mattwarren
Thank you both for your enthusiastic response.
Yes `FEATURE_SVR_GC` is a static flag enabled by default, and the choice is made at startup time in `ceemain.cpp: InitializeStartupFlags`.
I'm writing blog about coreclr internals (in chinese) so if I have another question I'll ask again :)

[2017-01-22 04:09] danmosemsft commented on #9037
I'm closing this as it's not a CLR issue. Good luck in the Roslyn repo.

[2017-01-22 04:09] #9037 closed

[2017-01-22 04:41] benaadams opened #9041 "[RyuJIT]Struct stack scoping/reuse is poor"
Assigning heap value to a newed struct in a function subscope (e.g. if block) allocates and zeros stack space at the function level for that.

If this happens in multiple blocks; the stack space assigned is cumulative and can add up quite a lot.

e.g. this change https://github.com/aspnet/KestrelHttpServer/pull/1313/commits/e330a9c01c2f21ffb7113713f85e4a9105243e91 cuts the stack space for `Append(

[2017-01-22 04:51] benaadams commented on #9041
asm for `AppendNonPrimaryHeaders`

Before
<details>
[code]
</details>

[2017-01-22 04:51] benaadams commented on #9041
After

<details>
[code]
</details>

[2017-01-22 06:04] yizhang82 commented on #8721
@tmds I agree this feature is useful, however as folks have already pointed out, it is not clear whether overloading the function name is a good idea. There are many platform specific conventions, and we should be mindful when adding those policies into the runtime. Using additional attribute or putting it in a separate configuration (such as dllmap) to make the intention clear might be more desir

[2017-01-22 07:08] mikedn commented on #8958
Thanks! You can see that the EAX register really contains 0 so the `je` should be executed and thus an exception should not be thrown. I'm not sure what else we can try.

Yes, that's a symptom of bad source code stepping, it also affects disassembly stepping.

[2017-01-22 08:20] tmds commented on #8721
I find it a good idea, that's clear. Especially since we've mitigated the name mangling issue and the EntryPoint would have exactly the same format as the asm sym directives.

Right. The PR shows the impact for the runtime.

Since you are proposing an alternate API and implementation. Can you work this out further?
Can you show a code snippit how this would look for foo@VERS_1.1?
What would it ent

[2017-01-22 12:26] jnm2 commented on #9011
Can this be tagged to port to netfx?

[2017-01-22 13:34] qmfrederik commented on #8927
@janvorli OK, sounds good. Do you think there's a way we can modify the source so that an exception would still be thrown, but without call stack information? That may make it a bit easier to troubleshoot.

I managed to add a breakpoint with `gdb catch throw`. The first failure was because some of the corefx native libraries were not copied over correctly; I fixed that.

Next, however, I'm getting

[2017-01-22 15:53] qmfrederik commented on #8927
@janvorli As a side-note, I've noticed Android ships with libunwind, and they provide an implementation of `getcontext` for aarch64.

Taken from [libunwind-aarch64.h](https://android.googlesource.com/platform/external/libunwind/+/master/include/libunwind-aarch64.h#186), it looks like this:

[code]

Does this implementation look like it will also work on Alpine arm64?

[2017-01-22 17:20] miloush commented on #8958
Hmm... I think this might be happening to me too...

![untitled](https://cloud.githubusercontent.com/assets/10546952/22184226/800d9c92-e0c5-11e6-9d3b-4a87601c6842.png)

it gets to the last `mov` before `je`:
[code]
and the next step jumps to `nop` after the condition body rather than entering it.

Note I am running on full .NET Framework 4.5, debug configuration. This code is in a library referenc

[2017-01-22 17:37] miloush commented on #8958
Or maybe not. My problem was probably just bad source stepping. When I tried to rebuild, the library code got a lock and a star as if the file was not saved. Saving did not do anything. Closing the file asked me whether to save the file and when I said yes, nothing happened. Checking out the file manually did nothing. I have restarted VS which allowed me to save the file and now it steps as expect

[2017-01-22 17:55] anass-b commented on #8958
@miloush I tried the Re-Save/Rebuild/Restart VS procedure but I didn't help solve the issue for me. Could you try that with the snippet of code provided by @mikedn:
[code]

[2017-01-22 18:10] miloush commented on #8958
Yes I can reproduce that, I think there is a couple of different issues here
- debugger not showing what it is debugging - even when the condition is true, it jumps on `mov`
- the jump location is interpreted as inside the if body; that is incorrect - for example if you add Console.WriteLine after the if, it steps as expected
- your 'real' code actually executing what it shouldn't, for which we do

[2017-01-22 18:48] anass-b commented on #8958
I could finally make a reproduction code that shows that the program actually runs within the `if` block and executes the exception, you can find the code [here](https://github.com/anass-b/ReproduceExpressionBug2/blob/master/UnitTest1.cs#L40).
I wrote some comments in the code that explains what happens, but in short; calling the problematic method a second time will make the exception throw and t

[2017-01-22 19:03] mikedn commented on #8958
Hmm, I tried your project but I don't see anything wrong with it. There's no exception thrown and the assert fires accordingly because `exceptionCaught` is false.

[2017-01-22 19:04] anass-b commented on #8958
@mikedn did the test pass or fail in your case ?

[2017-01-22 19:12] mikedn commented on #8958
It failed.

[2017-01-22 19:14] anass-b commented on #8958
You're right, the example still doesn't prove that the exception was thrown, in my actual project, the unit test fails with "ServiceException thrown". This is something I will try to get it happen in the repro code.

[2017-01-23 01:46] anass-b commented on #8958
After a lot of digging, I found out that the bad source code stepping confused me into believing that the `if` content was executing and the exception was thrown, but it's not.
It was really hard to find this out because of the large code base I had to deal with, in an environment where you have bad source code stepping info and you cannot trust the debugger.

So I settle down with the same conclu

[2017-01-23 03:14] wang9563 commented on #3977
I can not run at Raspbian...   I try “debian.8-armel” and “ubuntu.16.04-arm”

[2017-01-23 03:33] myungjoo commented on #3977
@wang9563 Check the calling convention. You probably are not using armel, but armhf format in your Ubuntu.

[2017-01-23 03:52] YongseopKim commented on #8496
CoreCLR: 9a870919addaf32de0e6b89e4bf23a893cb42085 + https://github.com/dotnet/coreclr/pull/8724

Test result of JIT/CodeGenBringUpTests with COMPlus_JitDisasm=BringUpTest:* COMPlus_AltJit=BringUpTest:* is as follow.
[code]

[2017-01-23 03:57] parjong opened #9042 "[x86/Linux] EH Region Mismatch"
The following program is expected to print "Hello, World":
[code]

In x86/Linux, however, Core CLR shows the following message:
[code]

[2017-01-23 03:58] parjong commented on #9042
This issue seems to be related with #4496 and #6074.

[2017-01-23 04:00] parjong commented on #9042
\CC @seanshpark @wateret

[2017-01-23 07:10] #8517 closed

[2017-01-23 07:17] jkotas opened #9045 "Strip corrupted state exceptions handling"
We should never handle corrupted state exceptions in .NET Core. Corrupted state exception should always fail fast.

Some of the code to handle corrupted state exceptions seems to be reachable after the NS2.0 work. We should make sure to not ship it.

[2017-01-23 07:17] jkotas commented on #9045
cc @gkhanna79

[2017-01-23 07:30] jkotas opened #9047 "Assembly.ReflectionOnlyLoad should throw PNSE"
Reflection-only loads are not supported in CoreCLR. (`FEATURE_REFLECTION_ONLY_LOAD`)

`Assembly.ReflectionOnlyLoad` are doing full loads instead of reflection-only loads. They should throw PNSE instead.

The matching corefx tests should be updated: https://github.com/dotnet/corefx/blob/f9efc9625f795673c5c17d0791d8c79710a267b9/src/System.Runtime/tests/System/Reflection/AssemblyTests.cs#L161

[2017-01-23 07:38] jkotas commented on #9047
Note that other ReflectionOnly APIs like `AppDomain.ReflectionOnlyGetAssemblies()` are doing the right thing already.

[2017-01-23 08:09] jkotas commented on #9047
ReflectionOnlyGetType also - we do not seem to have any tests for it.

[2017-01-23 08:37] sergign60 opened #9051 "[ubuntu x64] many coreclr tests fails because of "Unable to load DLL 'kernel32.dll'""
The latest version of coreclr with the latest version of corefx gives many coreclr test fails with the message:

[code]
First of all the latest version of corefx doesn't create directory
[code]
that is required by the coreclr/tests/runtest.sh script but
[code]
So the testing command
[code]
fails with the message
[code]
So I have been forced to create the link 'Native' to corefx/bin/Linux.x64.Debug

[2017-01-23 08:43] sergign60 commented on #9051
CC: @Dmitri-Botcharnikov

[2017-01-23 09:09] 303248153 opened #9053 "[Question] What's the relationship of GCHeap, gc_heap, heap_segment, alloc_context and generation?"
As I asked in previous issue #8995, now I want to known the relationship of these classes.
I made a graph and several conclusions, please help me determine they're correct or wrong.

![dia](https://cloud.githubusercontent.com/assets/16222094/22197685/178bc440-e18e-11e6-931f-d1a0c899e38e.jpg)

- There one GCHeap instance used for interface between GC and EE, it didn't hold gc_heap instance.
- There

[2017-01-23 10:20] sergign60 commented on #9051
CC: @janvorli @sivarv

[2017-01-23 10:42] janvorli commented on #8927
@qmfrederik as for the issue with the TextWriter, how did you collected the assemblies that you've copied over to the ARM64 Linux to use?

As for the getcontext, the one from llvm libunwind would not work with the other libunwind library, it also stores floating point registers which the other one doesn't. I would try to use the one from Android, it seems it should work.

And one more detail I hav

[2017-01-23 11:15] janvorli commented on #9051
I have hit the same issue in my local testing on Friday. There was a breaking change in the folder structure that corefx generates compiled assemblies into. I was actually suprised that it works fine in the CI lab and I was thinking that someone has already fixed the test invocation in there. So it turns out the CI just picked the corefx change a bit later.
@gkhanna79, @weshaggard  the tests/runte

[2017-01-23 13:13] qmfrederik commented on #8927
@janvorli

- `TextWriter`:  Here's how I assembled the program:
   * I compiled [this simple program](https://github.com/qmfrederik/dotnet-alpine-arm/tree/master/coreapp), ran `dotnet publish` for `ubuntu.16.04-x64`, and copied the files over. The output is in [coreapp.tar.gz](https://github.com/qmfrederik/dotnet-alpine-arm/blob/master/coreapp.tar.gz)
   * I cross-compiled [System.Private.CoreLib.

[2017-01-23 13:57] janvorli commented on #8927
@qmfrederik I believe the issue is caused by the fact that the dotnet tool you are using is based on much older sources and so some types were migrated between mscorlib and corefx assemblies. So you are mixing incompatible mscorlib and corefx assemblies.
As a nice coincidence, just today I was notified about this new doc that describes how to patch dotnet cli with the latest corefx, which is exact

[2017-01-23 14:00] janvorli commented on #8927
As for merging in the __sync_xxx changes into master, I would like to first test if the latest clang still has this problem. If it does not, then I would prefer making the new clang a requirement instead of making this change. Could you please give it a try?
Anyways, if you think that requiring the latest clang has some catch, please let me know.

[2017-01-23 14:02] qmfrederik commented on #8927
@janvorli
- re: dogfooding: OK, I'll update my test app & give it a try later today
- re: clang: only catch is that Alpine linux doesn't have clang 3.9 yet; ubuntu 17.04 does so I can try both configurations and let you know.

[2017-01-23 15:11] TAGC commented on #3977
Hm, I can get a simple "hello world" .NET Core application to run on a Raspberry Pi with Ubuntu MATE 16.04 using the linked instructions, but unfortunately I can't get my ASP.NET Core application to work. This is the latest I've got:

[code]

[2017-01-23 15:13] gkhanna79 commented on #9051
I believe @ellismg was looking into ensuring that CoreCLR test infrastructure will work with the new layout that CoreFX dev/eng changes brought in, since he originally pinned the build of CoreFX used by CoreCLR testing.

@ellismg do you have an ETA for this?

[2017-01-23 15:14] gkhanna79 commented on #9045
@rahku PTAL at this issue at the earliest.

[2017-01-23 15:20] markrendle opened #9055 "Support for ClearLinux?"
Just been reading up on [ClearLinux](https://clearlinux.org/) after an official VM image for Azure was published. It looks great, an Intel-optimized Linux designed for (a) running containers and (b) being the base image for containers.

Obviously I can run the existing Debian-based `microsoft/dotnet` image on a ClearLinux host, possibly to great effect, but I guess the CoreCLR build and native-com

[2017-01-23 15:28] mburbea commented on #9040
When does it make sense to use delegates as keys to a dictionary? I guess it'd be best to just remove the `GetHashCode` impelementation and rely on the built-in object one. That's probably a breaking change.

[2017-01-23 15:31] stephentoub commented on #9040
This came from a reported performance problem from a developer. I don't have details on their exact scenario.

That would mean that delegates to the same method could have different hash codes. As you say, it'd be a big breaking change.

[2017-01-23 15:34] gkhanna79 commented on #8639
As mentioned in https://github.com/dotnet/core-setup/issues/725#issuecomment-274379440, I have been working through issues to get this to build in our official build infrastructure. Given that, I will assign this to myself.

[2017-01-23 15:35] gkhanna79 commented on #8549
https://github.com/dotnet/core-setup/issues/725#issuecomment-274379440 explains the current status of CoreCLR Linux Arm32 pipeline build status.

[2017-01-23 15:48] mburbea commented on #9040
Well, it's still an improvement over delegates of the same type have the same key. (Unless your dictionary is literally keyed by `Delegate`. A key like `Func<int,int>` means every key hashes the same.)

I'd have to assume that delegates used for this purpose are cached, as creating new delegates isn't particularly cheap.

[2017-01-23 16:06] shahid-pk commented on #9055
👍   for the last question.

[2017-01-23 16:38] jkotas commented on #9040
A significant breaking change is never an improvement.

[2017-01-23 16:50] mburbea commented on #9040
@jkotas, I don't follow. Changing anything about it would be a "significant" breaking change. Equality would still work, and the usual case (cached delegates being used as keys) would see a performance improvement.

[2017-01-23 16:57] stephentoub commented on #9040
Code like:
[code]
would stop working, due to the delegate instances created for SomeMethod not being the same object and thus very likely having different hash codes.

While such a code example may not have great performance, such code exists.  The fact that at least one real-world app was experiencing slow downs as a result of this issue highlights that people do rely on delegates being used as k

[2017-01-23 17:38] mikem8361 opened #9057 ".NET Core apps occassionally hangs before running any user code (1.1)"
Launch on Windows has (and looks like always) a race condition between the time the coreclr.dll module is loaded and when g_hContinueStartupEvent is initialized causing the debuggee to randomly hang.

https://devdiv.visualstudio.com/web/wi.aspx?pcguid=011b8bdf-6d56-4f87-be0d-0092136884d9&id=367402&projectId=0bdbc590-a062-4c3f-b0f6-9383f67865ee&src=alerts&src-action=summary_id_link&fullScreen=true

[2017-01-23 17:40] mikem8361 commented on #9057
Fixed in master in PR: https://github.com/dotnet/coreclr/pull/8951

[2017-01-23 17:41] mikem8361 commented on #8606
Fixed in master in PR: https://github.com/dotnet/coreclr/pull/8951

[2017-01-23 17:48] mburbea commented on #9040
Thanks for the example, you're correct such code would fail if we changed to the default method.

Building a proper hashcode for a delegate would be tricky as you'd have to consider the invocation lists as well.

[2017-01-23 18:03] jkotas commented on #9040
The current delegate hashcode algorithm does consider the invocation list: https://github.com/dotnet/coreclr/blob/b1f5c6acca00ca471818237d698baca317851b1f/src/mscorlib/src/System/MulticastDelegate.cs#L506 . I do not see a problem there.

[2017-01-23 18:26] #8883 closed

[2017-01-23 18:58] swgillespie commented on #9053
That's correct. Whenever a `gc_heap` is constructed (Server GC only - Workstation GC doesn't create a new `gc_heap` because everything of interest is static), a new `GCHeap` instance is created to wrap it.

The `pGenGCHeap` field of a `GCHeap` class refers to a `gc_heap` instance, and the `vm_heap` field of a `gc_heap` class refers to a `GCHeap`.

But why generation_table have 5(NUMBERGENERATIONS+

[2017-01-23 19:06] qmfrederik commented on #8927
@janvorli I rebased my branch off coreclr/master, it looks like there's a regression in how pal is initialized.

This is on Ubuntu 17.04 aarch64

[code]

[2017-01-23 19:26] sivarv commented on #9036
The reason RyuJIT doesn't hoist the field accesses is that these reads from By-ref through indir are given unique value numbers.  Note that these methods (Equals and GetHashCode) are pure methods in the sense that they only read from heap and no writes to it.

[2017-01-23 19:37] qmfrederik commented on #8927
fyi, the same behavior on Alpine edge arm64

[2017-01-23 19:39] qmfrederik commented on #8927
One correction; I did not rebase the branch I used for this issue; I did that for the Android one. So it's either a new issue, or related to one of the latest changes we made to the assembly code.

[2017-01-23 19:46] gkhanna79 commented on #9030
Why are you trying to load FX assemblies? They are automatically loaded/resolved for you if your Load implementation returns null.

[2017-01-23 20:20] gokarnm commented on #9030
Hi @gkhanna79, the reason we are loading FX assemblies in the custom ALC, is for isolating the statics of a FX assembly in default ALC vs. statics of the same FX assembly in custom ALC. Without this, they would share the same statics. If the static is modified by code loaded in custom ALC it would have a side effect on code in default ALC and vice versa.

[2017-01-23 20:28] rahku commented on #9045
is the work to disable FEATURE_CORRUPTING_EXCEPTIONS for coreclr build?

[2017-01-23 21:01] jkotas commented on #9045
We should make sure that the "state corrupting exceptions" are not converted to managed exceptions at all. They should fail fast or remain unhandled.

Stripping the code for `FEATURE_CORRUPTING_EXCEPTIONS` would be nice too, but it is just a nice-to-have cleanup.

[2017-01-23 21:24] gkhanna79 commented on #9030
@gokarnm I get the statics/load context implication. Is your application dependent upon state of statics that are part of assemblies external to your application (i.e. SharedFX)? If so, can you please help me understand why is that the case?

[2017-01-23 21:25] khionu commented on #3977
@TAGC that would be a separate issue to this.

[2017-01-23 21:25] gkhanna79 commented on #9030
Also, there were bunch of issues around dynamically emitted assemblies in 1.0.x that were fixed in 1.1.0. Can you please share details of the repro for 1.1.0 as that would be a better baseline for discussion?

[2017-01-23 22:26] kouvel commented on #9011
Filed an internal issue to track porting the fix

[2017-01-23 22:26] swgillespie opened #9064 "GC/Coverage/delete_next_card_table/delete_next_card_table failure in CI"
From https://ci.dot.net/job/dotnet_coreclr/job/master/job/debug_windows_nt_prtest/2004/console:

[code]
See https://github.com/dotnet/coreclr/pull/8910 for an occurrence.

[2017-01-23 22:31] weshaggard commented on #9051
I believe that @RussKeldorph was also looking into updating this.

[2017-01-23 23:00] benaadams opened #9066 "[RyuJit] Stackspace reservation is for pre-optimized code"
Optimized code reserves stack space for pre-optimized stack

e.g. The following code reserves 1000 bytes of stack even though it only uses registers
[code]
Code
[code]
Asm produced
[code]

[2017-01-23 23:13] danmosemsft commented on #8857
Completed by 6fca5f4

[2017-01-23 23:13] #8857 closed

[2017-01-23 23:16] danmosemsft opened #9067 "Remove redundant defines from native part of CoreCLR"
From the native code, remove all defines that are always defined (across platforms, architectures, and flavors) both in the build infrastructure and from the code itself.
Also remove all defines that are never defined again from the build infrastructure and the code itself.

See these two equivalent PR's already complete for the corelib.
https://github.com/dotnet/coreclr/pull/9044
https://github.c

[2017-01-23 23:17] benaadams opened #9068 "[RyuJit] Declaring vars causes stackspace spilling"
Optimized code reserves stack space for pre-optimized stack

e.g. The following code reserves 136 bytes of stack, and zeros out 24 bytes (which it uses) even though I'd reason its output and output from https://github.com/dotnet/coreclr/issues/9066 should be identical
[code]
Code
[code]
Asm produced
[code]

[2017-01-23 23:18] danmosemsft opened #9069 "Remove desktop build where not relevant to CoreCLR (native parts)"
Is there any unnecessary desktop build going on in the native code?

@jkotas - you mentioned GC and JIT still build for desktop, is there any build cleanup still worth doing here.

We already removed desktop build for corelib in https://github.com/dotnet/coreclr/commit/6fca5f4b27deb845ae793cc887b8d631c5a56271.

[2017-01-23 23:25] jkotas commented on #9069
The desktop build system was removed in #8723. I do not think there is much to cleanup around desktop build system.

The cleanup on the native side is about deleting the ifdefs, unused files and otherwise dead code.

[2017-01-24 00:05] danmosemsft commented on #9069
OK that's sufficiently covered in https://github.com/dotnet/coreclr/issues/9067 then.

[2017-01-24 00:05] #9069 closed

[2017-01-24 00:16] mikedn commented on #9064
Here's a slightly older instance: https://ci.dot.net/job/dotnet_coreclr/job/master/job/debug_windows_nt_prtest/1892/

[2017-01-24 01:34] RussKeldorph commented on #9051
@weshaggard, I'm working on the coreclr jobs that run corefx tests.  If there is a fix required to coreclr's runtests.sh, that hasn't been on my radar up to this point. I'm not necessarily opposed to fixing it, but there's probably a better person since I'm so slow.

[2017-01-24 01:47] weshaggard commented on #9051
@gkhanna79 is this something that @wtgodbe might be able to assist with?

[2017-01-24 01:48] benaadams commented on #9041
This may be "Declaring many vars causes stackspace spilling" https://github.com/dotnet/coreclr/issues/9068 ?

If so simpler repo there

[2017-01-24 02:34] gokarnm commented on #9030
@gkhanna79, returning null from custom ALC's Load method will cause the default ALC to resolve the assembly. This means that loaded assembly is associated with the default ALC, so the statics are not isolated. Is my understanding correct?

We have a host which loads plugins. We need isolation of statics present in dependencies of host code and plugin code. E.g. If the host code sets a static prope

[2017-01-24 04:05] AndyAyersMS commented on #9064
Another instance:
https://ci.dot.net/job/dotnet_coreclr/job/master/job/debug_windows_nt_prtest/2022/

[2017-01-24 05:19] hifi opened #9080 "Clearing up licensing of CoreCLR"
The root of CoreCLR has the MIT license but https://github.com/dotnet/coreclr/blob/master/src/.nuget/dotnet_library_license.txt seems to be some kind of generic Microsoft EULA for published .NET components which is included in the NuGet packages built from this repo AFAIK.

Could this be cleared up?

[2017-01-24 05:27] gkhanna79 commented on #9051
Yes, @wtgodbe will help take a look at this tomorrow.

[2017-01-24 06:00] gkhanna79 commented on #9030
The statics will live in Default Load context. If that is what you meant by the above statement, then yes, that is correct.

To workaround the 1.1.0 exception issue above about loading native images multiple times, can you please try creating a copy of SharedFX folder and make your custom ALC load from this location and share what happens?

[2017-01-24 07:12] twgraham commented on #445
Is anyone able to give an update on the status of this issue? @kspawa I notice that the status doc hasn't been updated for a while.

[2017-01-24 08:55] sergign60 commented on #9051
@gkhanna79 @wtgodbe
CC: @Dmitri-Botcharnikov

please review these diffs:

[code]

[2017-01-24 10:58] janvorli commented on #9080
CC: @richlander

[2017-01-24 11:32] janvorli commented on #9051
@sergign60 , @gkhanna79, @wtgodbe It looks like all the CoreFX binaries needed for the tests are collected in bin/runtime/netcoreapp-Linux-Debug-x64 folder. So it seems that we could change the script to use those instead of the files from $testRootDir/Tests/Core_Root subfolder of the tests and get rid of this loop that tries to find and copy the binaries from the various bin subfolders completely

[2017-01-24 11:42] seanshpark commented on #8590
I've updated #8849 with adding ESP adjustment before pushing arguments and after the call.
As this is my first changes to the JIT, it may look strange. I'm ready for any comments :)
I didn't want to change `GenTreePutArgStk` structure so used `slotNum` to hold alinment padding in the first argument. If adding a member is ok then I will change.

I wanted to use `FEATURE_FIXED_OUT_ARGS` but couldn't

[2017-01-24 12:37] janvorli commented on #8927
@qmfrederik there were no recent changes in that area. What I can see from your stack trace is that the InternalEnterCriticalSection is called with pCriticalSection set to NULL, which results in the issue.
The value passed to the function is created right before the call:
[code]
So it looks as if the InterlockedCompareExchangePointer didn't set the init_critsec as it was supposed to do.
I wonder i

[2017-01-24 12:39] #9042 closed

[2017-01-24 16:16] gkhanna79 commented on #9051
Thank you @janvorli. @wtgodbe will drive validating the fix with this.

[2017-01-24 16:28] JosephTremoulet commented on #7903
Sounds like #9036 is an instance of this, as well as #7914.

[2017-01-24 16:31] benaadams commented on #7903
Also https://github.com/dotnet/coreclr/issues/9041 ?

[2017-01-24 17:00] JosephTremoulet commented on #7903
@benaadams, #9041 sounds more like stack-packing to me

[2017-01-24 17:12] danmosemsft opened #9087 "Delete old mscorlib facade"
Delete
src/mscorlib/ref/mscorlib.csproj
src/mscorlib/facade/mscorlib.csproj

They are replaced by a facade coming out of corefx/src/shims

Issues:
1)	@RussKeldorph is updating CoreClr testing to use flat package
2)	I suspect the old mscorlib façade and the new one might not be 100% compatible.
a.	Old one might have different identity (version and key)
b.	Old one had some internal APIs which I’m no

[2017-01-24 17:24] danmosemsft commented on #4651
We may want to use a rewriter for this as there are just so many types and methods that it will be a long time doing it piecewise.

[2017-01-24 17:34] richlander commented on #9080
Thanks for reporting. We don't want that.

@ellismg - Matt was looking at this general issue. Can you take care of this one, too, or point to other folks who should?

[2017-01-24 17:47] weshaggard commented on #9051
@janvorli that is correct. Now in stead of needing to hunt through all the directories they are in the one flat runtime folder.

[2017-01-24 18:32] sivarv commented on #9036
Please note that ByteString struct used by knucleotide benchmark is similar in concept to Span<T>.  Getting this right for ByteString would is also likely to benefit Span<T> scenarios where Span<T> accessed is an argument.

[2017-01-24 18:53] JosephTremoulet commented on #9036
The [changes](https://github.com/dotnet/coreclr/compare/master...JosephTremoulet:UntrackedMem) I have in flight to address #7903 currently produce [these diffs](https://gist.github.com/JosephTremoulet/1dce85b79961b78766b780b661827f10) on these methods.  Looks like the only loads we're leaving in the loops are the variant ones and the array lengths in the bounds-checks.  I'll look into why we're no

[2017-01-24 18:57] sivarv opened #9088 "Document list of methods or patterns that are not Ngen'ed or R2R Crossgen'ed"

[2017-01-24 19:02] BruceForstall opened #9089 "Unexpected dead code in GT_FIELD SIMD morphing"
The following code exists in gtMorphField():
[code]
the condition is statically known to be false because `objRef->OperIsSIMD()` is equivalent to `objRef->OperGet() == GT_SIMD`, which obviously can't be true at the same time it is also equal to `GT_ADDR`. Originally, the code read:
[code]
but was changed to its current form during a refactoring. It probably should be:
[code]
but it should be inves

[2017-01-24 19:07] JosephTremoulet commented on #9036
The failure to hoist the array lengths is an instance of #6902; opt repeat with count of 3 hoists them out of the loop (and with count of 2 eliminates the extra reg-reg copy/ies in the loop), just like the repro case at the bottom of #6902.

[2017-01-24 19:38] briansull commented on #7903
I mention to Siva when he was investigating  #9036 that I believed that you were already investigating this issue "addressing the value number assigned for repeated identical loads from memory using a byref pointer"

[2017-01-24 19:51] briansull commented on #7903
My thinking is that in addition to the "global heap" value number which tracks changes made to the managed heap , we also need another "global everything" state value number which tracks both kinds of changes, to the heap and to other non-heap memory (I.e. byrefs into possible stack locations).

Read indirections through byrefs would be a function of the memory loaded from (i.e "global everything"

[2017-01-24 19:58] gkhanna79 commented on #9051
@ellismg I had heard that you had pinned the version of CoreFX to be used. Is that something that will no longer be needed once @wtgodbe fixes this? If so, can you please share more details about it?

[2017-01-24 20:01] JosephTremoulet commented on #7903
Great, that's the direction I've been pursuing.

Ah, so any local that can be read/written through a byref, even if untracked, must be "address exposed"?  I've been including all untracked locals in "global everything", but can change it to exclude non-address-exposed (untracked) locals and see how the diffs change.

[2017-01-24 20:06] wtgodbe commented on #9051
@sergign60 I believe you want to copy all .dll's and .$libExtension's from bin/runtime/netcoreapp-Linux-Debug-x64, instead of copying `"$currDir/$dirName/netstandard/$dirName.dll"` and `"$currDir/$dirName/netstandard/$dirName.dll"` - @weshaggard does that sound right to you?

[2017-01-24 20:10] JosephTremoulet commented on #7903
Or the check might have to be some combination of tracked-ness and address-exposed-ness... is it possible to have a tracked address-exposed local?  Looks like [they cannot](https://github.com/dotnet/coreclr/blob/6a3c584b80dde7752a595344b3dc727918c94183/src/jit/lclvars.cpp#L2805-L2816), but I'm not sure what state we expect to be set on locals in the `IndirAssignMap`... do those not get marked addr

[2017-01-24 20:11] janvorli commented on #9051
@wtgodbe we should just copy everything from that folder. No need to filter it. The files that need to come from the coreclr will just overwrite the existing ones.

[2017-01-24 20:14] wtgodbe commented on #9051
@janvorli do we need the .PDB's as well?

[2017-01-24 20:15] janvorli commented on #9051
@wtgodbe I think they can be useful for debugging the tests.

[2017-01-24 20:54] weshaggard commented on #9051
Correct you should just copy everything.

@wtgodbe you shouldn't need anything from the any netstandard directories. For running all that should be needed is the bin/runtime/netcoreap-Linux-Debug-x64 where those options match what build flavor and want. It is way easier then it used to be.

[2017-01-24 20:55] wtgodbe commented on #9051
Sweet, I'll put together a PR.

[2017-01-24 20:58] gokarnm commented on #9030
Hi @gkhanna79 , I tried the workaround of loading from a copy of SharedFX folder, the exception about loading native images multiple times goes away. Subsequently the XmlSerializer.Deserialize fails with a MissingMethodException.

We develop on .NET Core 1.0 LTS (1.0.3) , I would appreciate if you could share the commits for these fixes on 1.1.0, I'll try to back port them to 1.0.3 and create a lo

[2017-01-24 21:19] ianhays commented on #8071
resolved by @DmitryDzuba in https://github.com/dotnet/coreclr/pull/8944

[2017-01-24 21:19] #8071 closed

[2017-01-24 22:42] AndyAyersMS commented on #9015
Couple of thoughts on how to fix this:

1. Keep with the current practice of setting the flag in the importer. Have the finally optimizations toggle a flag if they modify any finallys. If the flag is set, run a cleanup phase after they've run to reset the finally target flag appropriately.

2. Stop setting the bit early and bothering to maintain it... instead when we're lowering the callfinally bl

[2017-01-24 22:53] AndyAyersMS commented on #9015
Option 2 will require a prepass since there is no guarantee that in block order, a given continuation block comes after all corresponding callfinally/always pairs. So codegen might run across the continuation first. We might as well go with option 1 and just fix the bit there...

[2017-01-24 23:04] qmfrederik commented on #8927
@janvorli Sorry, didn't have much time today; I'll give it a try in the coming days. Yes, it's probably one of the asm changes so I"ll try to pinpoint it.

In other news, the `getcontext` issue is merged/fixed in upstream libunwind: https://github.com/libunwind/libunwind/commit/cf6382643efd133e617c2cf1dba7e53868ccd690

@am11 you think you can ask for Alpine to create a aarch64 libunwind package ba

[2017-01-24 23:08] alexwiese opened #9093 "Struct with Explicit layout not honouring ANSI CharSet"
**Environment/version**

Microsoft.NETCore.App 1.1.0
Microsoft.NETCore.Runtime.CoreCLR 1.1.0
Windows 10 x64 (Build 1607)

**Description of problem**

I have the following structure that works as expected with sequential layout. The characters are populated correctly (using ANSI CharSet), when marshalled from unmanaged memory, with the value of a single byte (rather than 2-byte Unicode values).

[2017-01-24 23:10] alexwiese commented on #9093
Minimal repro on GitHub -> https://github.com/alexwiese/StructLayoutRepo

[2017-01-24 23:11] CarolEidt opened #9094 "JIT: Optimize "and" of small type with larger constant"
Prior to #8672, for this code:
[code]
The JIT was generating this:
[code]
And now it is generating this:
[code]
This is probably an optimization that should be done prior to `Lowering`, but it may just be that it is not frequent enough to matter. However, the code has been captured in tests/src/JIT/Regression/JitBlue/DevDiv_1206929/DevDiv_1206929.cs (which was derived from a customer bug), just in

[2017-01-24 23:28] am11 commented on #8927
Excellent news @qmfrederik! 👌 Will request on their mailing list. I would have prepared a PR for aports, but I don't have the access to aarch64 system with Alpine installed at this point.

@djwatson, by any chance, would there be a next release soon with the aarch64 `getcontext` fix? Perhaps with a patch version bump (v1.2.1)? That would make things straightforward for [aports](https://github.com/

[2017-01-24 23:29] sivarv opened #9097 "RyuJIT: redundant array bounds checks are not eliminated in fannkuch-redux bechmark hot method"
Here is the hot method of fannkuch-redux

[code]

In the above method, there are three places (as indicated above in code) where array bounds check could be eliminated but RyuJIT doesn't eliminate them. Looking at the jit dump, this.pp is cse'd into a local and Value Number has assigned the same VN to array-bounds-check and its operands in each of the case where bounds check is redundant.

[2017-01-25 00:08] mikem8361 opened #9098 "Add DumpHeapStat code to SOS."
The SOS!DumpHeap implementation has two main perf hot spots: there is a check for break in AddStat function for each step in searching a binary tree, there is a linear search in allocation context array every time moving from one object to next one.

I'm adding more stat information. The latest addition is adding where certain type in certain generation appears most in a heap segment. HeapDumpW ha

[2017-01-25 00:13] wtgodbe commented on #9051
https://github.com/dotnet/coreclr/pull/9092 should fix - see the description of that PR for why the Ubuntu/OSX test legs are failing

[2017-01-25 00:46] danmosemsft commented on #9098
UPloaded file and removed internal link
[DumpHeapStat.cs.txt](https://github.com/dotnet/coreclr/files/728336/DumpHeapStat.cs.txt)

[2017-01-25 03:22] danmosemsft commented on #9093
Does it repro on desktop?

[2017-01-25 03:22] alexwiese commented on #9093
@danmosemsft yes.

[2017-01-25 06:39] mikedn commented on #9094
A perhaps more realistic example:
[code]
Due to integral promotion `~(B1 | B2 | B3)` is not 0xF8 but rather 0xFFFFFFF8.
However, I don't recall ever seeing/needing this in practice. & ~ is mostly used when resetting bits

[2017-01-25 06:56] Thealexbarney opened #9105 "Performance decrease when using interfaces"
The general guidelines that I see for writing in C# usually say something like, "Accept as general of an object as you can for your parameters." For example, instead of requiring a List<T> as a parameter when you don't actually use List<T> specific methods, accept an IList<T>, or even an IEnumerable<T> if you can. This way you're not tied to a specific implementation. The basic concept of interfac

[2017-01-25 07:26] mikedn commented on #9105
Such guidelines need to be taken with a grain of salt. They usually make sense in public APIs but beyond that collection interfaces should be used only when needed. It makes no sense whatsoever to have a private method taking `IList<T>` when all its callers use `List<T>`.

Not really. JIT improvements could help here and there but in the general case there's not much that can be done.

[2017-01-25 09:39] jakobbotsch commented on #9093
`sizeof(char) == 2` in .NET, so the explicit layout version should look like this to be equivalent:
[code]

As it is the write to `B` will overwrite the last byte of `A`.

[2017-01-25 09:47] jakobbotsch commented on #9093
`FieldOffset` is concerned with the physical layout of the structure, that is it will affect how the actual struct `MyStructExplicit` is laid out in memory. Specifying `CharSet = CharSet.Ansi` will not cause `char` fields to be 1-byte; instead it will just specify that, when marshalling, the `char` fields should use 1-byte ANSI.

So in your explicit structure the offset of `B` will be 1, but the s

[2017-01-25 12:00] stephentoub opened #9107 "CoreMangLib._cti_system_string_StringConcat8_StringConcat8_ test failure"
https://ci.dot.net/job/dotnet_coreclr/job/master/job/x64_release_windows_nt_pri1_prtest/1942/consoleText
[code]

[2017-01-25 12:32] anass-b commented on #8958
Any updates on this issue ?
Maybe someone has an idea about a workaround ? or using Visual Studio 2013 is the only way at the moment ?

[2017-01-25 12:47] alexwiese commented on #9093
If that was the case then how does the struct with sequential layout marshal to/from a byte array with only two bytes (and have the fields populated with just a single byte value each).

It seems to me that there should, in practice, be no difference between a struct with fields set sequentially and one with fields set explicitly (if the explicit offsets match the sequential ones).

[2017-01-25 14:19] jakobbotsch commented on #9093
Marshalling is a process that happens on top of the structure; it is not an actual 1-to-1 translation of the structure as laid out in memory to bytes.
As an example you can try comparing `sizeof(MyStructExplicit)` to `Marshal.SizeOf<MyStructExplicit>()`.

[2017-01-25 14:32] #9011 closed

[2017-01-25 14:34] benaadams commented on #9105
@Thealexbarney you can optimise specific cases with tight loops by casting; for example changing your `SumIList` method to the following would allow the the inlines when ilist is a list

[code]

[2017-01-25 14:57] anass-b commented on #8958
Here are some findings that can maybe help:

In the following code:
[code]
1) Replacing the line `throw new Exception();` with anything, let's say with `Console.WriteLine("test");` will fix the issue.
2) Adding any line of code after the `if` like this:
[code]
or even this:
[code]
will also fix the issue.

[2017-01-25 15:42] kuacci commented on #6602
Thanks for your excellent work! When can we expect this fix to release?

[2017-01-25 16:18] bartonjs commented on #8660
Fixed (for .NET Core 2.0) in https://github.com/dotnet/corefx/pull/15432.

[2017-01-25 16:18] #8660 closed

[2017-01-25 17:48] jkotas commented on #9105
Abstractions have performance costs. Pretty much all runtime abstractions - interfaces, generics, async, linq, ... - have extra performance costs compared to their less abstract equivalents. This overhead does not matter for most of the code and it is often worth paying to get the productivity benefits that there abstractions provide. However, one has to be careful about this overhead for the perf

[2017-01-25 18:04] mikedn commented on #8958
Probably you should open an issue in the Roslyn repository. Though I'm not sure what's wrong with the debug information (if anything) the fact that it works fine with the old C# compiler seem to indicate that the Roslyn compiler is the source of the problem.

[2017-01-25 18:06] pgavlin opened #9108 "JIT/Performance/CodeQuality/SIMD/RayTracer failing under JITStress=2"
See e.g. https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_windows_nt_jitstress2/68/

[2017-01-25 18:06] pgavlin commented on #9108
@CarolEidt @sivarv can one of you take a look?

[2017-01-25 18:17] stephentoub opened #9109 "Infinite loop causing hang in System.Numerics.Vectors.Tests on Windows"
I've now seen two hangs today in different CoreFx PR CIs in the System.Numerics.Vectors.Tests tests on Windows release:
https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_release_prtest/2495/
https://ci.dot.net/job/dotnet_corefx/job/master/job/windows_nt_release_prtest/2487/
I was able to catch one and attach a debugger.  It looks like it's stuck in the JIT in an infinite tail call loo

[2017-01-25 18:38] Buyduck opened #9110 "[x64/Linux] Segmentation fault in infinite inheritance"
Segmentation fault:
[code]
While running such source:
[code]
Visual Studio throwing System.StackOverflowException on this code

[2017-01-25 18:43] CarolEidt commented on #9109
This seems to be the same method that is dying with a seg fault in https://github.com/dotnet/corefx/issues/15309.

[2017-01-25 18:56] sivarv commented on #9097
CC @JosephTremoulet

[2017-01-25 19:07] anass-b commented on #8958
Done: https://github.com/dotnet/roslyn/issues/16747.

[2017-01-25 19:09] stephentoub commented on #9110
This is expected: the code overflows the stack.

Is the concern then just that there isn't a better error message output when the stack overflow causes the process to crash?

[2017-01-25 19:15] sivarv commented on #9097
With optRepeatCount=3, RyuJIt eliminates the above mentioned redundant bounds checks.

[2017-01-25 19:15] sivarv commented on #9097
Issue #https://github.com/dotnet/coreclr/issues/5371 is related to this.

[2017-01-25 19:22] vancem commented on #9105
As Jan points out, abstractions often have costs.    This is part of what makes design hard, because you have to make tradeoffs.      We have problems with people going 'overboard' both ways.  We often have people designing things without any concern for perf, often with really bad consequences.   More rarely, we have people who try to optimize 'everything' and end up making hard-to-maintain code.

[2017-01-25 19:30] sivarv commented on #9108
I will take a look at this.

[2017-01-25 20:16] sivarv commented on #9097
Another hot method of fannkuch-redux benchmark NextPermutation suffers from redundant bounds checks and not loop hoisting invariant field accesses https://github.com/dotnet/coreclr/issues/9036

[code]

[2017-01-25 21:19] #8958 closed

[2017-01-25 21:57] qmfrederik commented on #8927
@janvorli I removed the `, "+rm" (*lpAddend)` (and similar) code we added in the `[result]` block and the PAL tests appear to be succeeding again.

[2017-01-25 22:11] qmfrederik commented on #8927
@janvorli So, the changes from above plus dogfooding the latest version of `netstandard2.0` seems to get us a bit further; there now is a sigsev when executing what appears to be managed code:

[code]

[2017-01-25 22:13] janvorli commented on #8927
@qmfrederik no, this is not managed code. It is libcoreclr.so and we are back at the problem of lldb not seeing the libcoreclr.so module for some reason.

[2017-01-25 22:15] janvorli commented on #8927
@qmfrederik I have just tried to compile the code with the "+rm" (*lpAddend) annotation and I can see that it has a completely different effect from what I expected. What it did is that the compiler then stored the value at *lpAddend at the beginning of the function to a register and restored it at the end from that register, effectively removing the effect of the function code completely. The pro

[2017-01-25 22:16] qmfrederik commented on #8927
@janvorli This appears to be a Docker issue, if I run `cat /proc/<pid>/maps` I get this output:

[code]

[2017-01-25 22:17] janvorli commented on #8927
@qmfrederik I also have had very bad experience with debugging coreclr stuff in a docker container on amd64, especially when debugging core dumps.

[2017-01-25 22:19] janvorli commented on #8927
Hmm, but looking at the process map, I can actually see that you are probably right with the crash in the managed code. While part of the unannotated stack is libcoreclr.so, the addresses starting with ffff316 seem to likely be jitted code.

[2017-01-25 22:20] qmfrederik commented on #8927
@janvorli Would it help if I compile the code on the host (so not in a docker container)? The host is running Ubuntu 16.04 arm64; so we can first get the app up & running on Ubuntu 16.04 arm64 and then try Alpine. Does that make sense?

[2017-01-25 22:21] janvorli commented on #8927
Yes, that would be much better for debugging issues.

[2017-01-25 22:23] gkhanna79 commented on #8639
CoreCLR pipeline build is now publishing Arm32 (armhf) packages for Ubuntu 14.04 and Ubuntu 16.04 on myget! Here are the first set of packages that got published today from the repo:

https://dotnet.myget.org/feed/dotnet-core/package/nuget/runtime.ubuntu.14.04-arm.Microsoft.NETCore.Runtime.CoreCLR

https://dotnet.myget.org/feed/dotnet-core/package/nuget/runtime.ubuntu.16.04-arm.Microsoft.NETCore.R

[2017-01-25 22:23] #8639 closed

[2017-01-25 22:25] gkhanna79 commented on #8647
Assigned it to @hqueue

[2017-01-25 22:25] gkhanna79 commented on #8549
CoreCLR pipeline build is now publishing Arm32 (armhf) packages for Ubuntu 14.04 and Ubuntu 16.04 on myget! Here are the first set of packages that got published today from the repo:

https://dotnet.myget.org/feed/dotnet-core/package/nuget/runtime.ubuntu.14.04-arm.Microsoft.NETCore.Runtime.CoreCLR

https://dotnet.myget.org/feed/dotnet-core/package/nuget/runtime.ubuntu.16.04-arm.Microsoft.NETCore.R

[2017-01-25 22:50] eerhardt opened #9118 "Crossgen'd NuGet.LibraryModel produces MissingMethodException: Method not found: '?'."
Using the following project:

[code]

[code]

Steps to repro:

1. dotnet restore and publish the above project.  (You may need to add `https://dotnet.myget.org/F/cli-deps/api/v3/index.json` to your nuget.config to restore these packages)
2. Cross gen the NuGet.LibraryModel.dll assembly
 a. I used the following command:
[code]
3. Replace the NuGet.LibraryModel.dll in your app's publish directory wi

[2017-01-25 23:22] qmfrederik commented on #8927
OK, I realized lldb isn't available on Ubuntu 16.04 arm64 so I had to upgrade to Ubuntu 16.10 arm64.

Finally, this is what I get:

[code]

[2017-01-25 23:30] qmfrederik commented on #8927
@janvorli BTW, this has the added advantage of using llvm 3.9 which is available on Ubuntu 16.10.
I've `#ifdef`-ed our `pal_sync` functions so that they are not used with llvm 3.9.

Good news: all PAL tests complete, except for the usual suspects: `exception_handling/pal_sxs/test1/paltest_pal_sxs_test1` and `
filemapping_memmgt/ProbeMemory/ProbeMemory_neg1/paltest_probememory_probememory_neg1`.

S

[2017-01-25 23:40] gkhanna79 commented on #9118
CC @jkotas

[2017-01-25 23:51] jkotas commented on #9087
Dups: https://github.com/dotnet/coreclr/issues/7607 https://github.com/dotnet/coreclr/issues/5739

[2017-01-25 23:59] #8643 closed

[2017-01-26 00:43] JosephTremoulet commented on #9097
The failure to hoist `this.count` and its length is not an instance of #9036 (as this is a method on a class rather than a struct).  What actually happens is that [this code](https://github.com/dotnet/coreclr/blob/6f7baa9e1ec9a848c1b98a4af8d9d8c2851ef023/src/jit/optimizer.cpp#L3483-L3490) refuses to create a copy of the `++count[i]` statement (which is a statement in our IR despite being an expres

[2017-01-26 01:06] sivarv opened #9128 "RyuJIT: Loop hoisting doesn't work for loops whose entry is not at the top"
We have an instance of that in hot method NextPermutation() of fannkuch-redux benchmark.

[code]

Look at @JosephTremoulet's comments in this issue https://github.com/dotnet/coreclr/issues/9097 for more context on this issue.

[2017-01-26 01:07] sivarv commented on #9097
Thanks for the analysis.  I have opened a separate issue to track this one https://github.com/dotnet/coreclr/issues/9128

[2017-01-26 01:17] Thealexbarney commented on #9105
Yes, abstractions have costs, but a 10x increase in execution time for this example doesn't seem very reasonable to me. I'm not very knowledgeable about the inner workings of the CLR's code generation, so somebody correct me if I'm wrong, but isn't one of the advantages of compiling at run-time the fact that the JIT compiler knows the type behind the interface, and can optimize accordingly?

I've

[2017-01-26 05:58] jkotas commented on #9105
Yes, it would be nice for CLR to have the optimizations you are asking about. They are not easy to build, but it is certainly doable with enough effort. They have not been built yet because of people working on CLR did not find them to be the best bang for the buck when choosing areas to improve.

[2017-01-26 07:13] jkotas commented on #9118
This is regression introduced by https://github.com/dotnet/coreclr/pull/7895

cc @MichalStrehovsky

Simple repro - crossgen and run using corerun:

[code]

[2017-01-26 07:31] Buyduck commented on #9110
Thanks for response!
Usually, if there is an error in managed code - corerun throws exception, which shows exception type and line, that raises it. But with this sample corerun crashed and didn't show the reason of this crash. Is this expected behavior for corerun?

[2017-01-26 09:31] tmds commented on #5853
@janvorli @ellismg I think this feature has been tied to the linux-x64 rid. Does that imply something for libraries with native components that provide binaries for linux-x64 (e.g. libuv, sqllite). Should they be linked with a specific version of glibc? For example, SQLite has a GLIBC_2.4 symbol:
[code]
Would it make sense to include the c library in the rid to make this more explicit (e.g. linux-

[2017-01-26 10:03] fatalerrorx commented on #9105
I agree with @Thealexbarney 10x increase is unreasonable. I very often use IReadOnlyList instead of List for safety and code correctness.

[2017-01-26 11:01] mattwarren commented on #9105
If anyone is interested in understanding 'why interface calls are more expensive', this [BOTR page is an interesting read](https://github.com/dotnet/coreclr/blob/master/Documentation/botr/virtual-stub-dispatch.md). Despite the title it is about interface dispatch, from the page:

[2017-01-26 13:27] stephentoub commented on #9110
@janvorli, is this behaving as you'd expect?

[2017-01-26 14:45] janvorli commented on #9110
There are cases where the stack overflow cannot be handled in a nice way. When we physically get out of stack, the SIGSEGV handler cannot even be called by the kernel, since there is no stack space for executing it. And even if the stack overflow is detected by probing in the jitted code and there is some stack left, we still just display a simple message in the SIGSEGV handler ("Process is termin

[2017-01-26 15:21] eerhardt commented on #9118
I'm also seeing this error in the compiler as well:

[code]

The odd thing about the compiler exception is that I am only seeing it on non-Windows.  The exact same test passes on Windows.  I ran into the above "NuGet.LibraryModel" error on Windows (I didn't test non-Windows).  It might just be that Roslyn doesn't get into this code path on Windows,

[2017-01-26 17:55] mikem8361 commented on #4094
Fixed with PR: https://github.com/dotnet/coreclr/pull/9122

[2017-01-26 17:55] #4094 closed

[2017-01-26 18:26] NickStrupat commented on #9105
Hi all,

Correct me if I'm wrong, but don't generic constraints alleviate the need to maintain the code of multiple overloaded `IList`-derived methods?

[code]

[2017-01-26 19:01] mikedn commented on #9105
Your example code still uses `IList<int>`.

This only happens when `TList` is a struct type. If it's a reference type then the same code is used for arrays, `List<int>` etc.

[2017-01-26 19:02] vancem commented on #9105
I don't want to get into sound too defensive about optimization the .NET runtime does, but I do want to clarify two things that are important in deciding how important various optimization are.

I think you tested the worst case since the operation being done was literally one instruction.   Thus I do think it is not fair to use the 10x as the representative increase.    Of those cases where you a

[2017-01-26 19:39] NickStrupat commented on #9105
@mikedn, wow I assumed it did that work for us. I must have misinterpreted something I read somewhere. I just took @Thealexbarney 's demo program and tried my change; same as not using generic. I'm kind of disappointed.

[2017-01-26 19:44] tmds commented on #8891
@gkhanna79 can you give some advice?

[2017-01-26 19:46] NickStrupat commented on #9105
Now it makes sense why the LINQ operators don't use this (non)-"trick". I wish they would have added that to the JIT compiler to support the LINQ implementation using that optimization.

[2017-01-26 20:22] wtgodbe opened #9144 "Refactor publishdepency.targets"
Many of the targets starting at https://github.com/dotnet/coreclr/blob/master/tests/publishdependency.targets#L47 duplicate some code - these targets should be parameterized.

[2017-01-26 20:23] wtgodbe opened #9145 "Use run command in runtest.cmd"
runtest.cmd doesn't use the run command today, unlike our other .cmd/.sh scripts. We should do this for consistency, and so we can use the binclashlogger in that script.

[2017-01-26 20:25] wtgodbe opened #9146 "Use buildtools targets in helixprep.proj and helixpublish.proj"
These 2 files are used for prepping a test drop for Helix & sending a job there. There are already targets in Buildtools to do this, but they don't plug in to CoreCLR very well. Once those have been refactored, we should use them in these files.

[2017-01-26 20:28] wtgodbe opened #9147 "Use CoreClr.Testwrapper for all CoreCLR test runs"
Currently we use Desktop.Coreclr.Testwrapper for Dev runs & in the CI, but Coreclr.Testwrapper in Helix - see https://github.com/dotnet/coreclr/blob/master/tests/runtest.proj#L104 and https://github.com/dotnet/coreclr/blob/master/tests/src/dirs.proj#L20. We should always use Coreclr.Testwrapper

[2017-01-26 20:29] wtgodbe opened #9148 "Improve sync times when downloading test native bins from Azure"
Currently sync.cmd -ab takes a very long time, because it downloads test native bins for all Linux distros + OSX. We should add an option to download only test native bins, and allow the user to specify which distro they want to download binaries for.

[2017-01-26 20:41] #9118 closed

[2017-01-26 21:01] #7669 closed

[2017-01-26 21:03] karelz commented on #7669
Do we want to port it to 1.1 to reduce the test failure noise there?

[2017-01-26 22:36] wtgodbe commented on #9148
https://github.com/dotnet/coreclr/pull/9152

[2017-01-26 22:43] mikem8361 commented on #8474
@tmds I have fixed/implemented #4094 and have some 1.0.x coreclr binaries you could try if you have time. The zip file containing these binaries is too big for GitHub (over the 10MB limit at 89MB). Not sure how to get them to you.

The source for the changes are in one of my branches: https://github.com/mikem8361/coreclr/tree/probemem1.0