[2016-11-16 23:16] JohnChen0 commented on #8148
I'll take a look.

[2016-11-16 23:45] swgillespie commented on #8034
From an allocation perspective this all looks reasonable and good to me. I'm wondering if we can use a Span instead of char* and length pair for the separator array, though? I see that it's used in MakeSeparatorList but I don't think I see any uses in there that prevent a Span from being used in its place, which would prevent a pin.

[2016-11-16 23:54] RussKeldorph opened #8150 "RyuJIT/x86: CoreFx System.Threading.Tasks.Dataflow.Tests hangs"
**Repro steps:**

coreclr *(assuming root=c:\git\coreclr)*
[code]
corefx *(assuming root=c:\git\corefx)*
[code]
**Output**
[code]

[2016-11-17 00:20] adiaaida opened #8152 "RyuJIT x86: Investigate mismatch32/mismatch64 failures"
We are seeing the following failures in mismatch32 and mismatch64:

[code]

To run:
build.cmd x86 Checked

set complus_altjit=*
set complus_altjitname=protojit.dll

[2016-11-17 00:25] jashook opened #8153 "Arm64 [2-Failures]: Value was either too large or too small for a UInt16"
The following tests are affected.

JIT/Methodical/fp/exgen/1000w1d_cs_ro/1000w1d_cs_ro.cmd
JIT/Methodical/divrem/div/overlddiv_cs_ro/overlddiv_cs_ro.cmd

[2016-11-17 00:31] jashook opened #8154 "Arm64 [10-Failures]: Decimal byte array constructor requires an array of length four"
The following tests are effected:

JIT/Methodical/divrem/rem/i4rem_cs_do/i4rem_cs_do.cmd
JIT/Methodical/divrem/rem/i4rem_cs_ro/i4rem_cs_ro.cmd
JIT/Methodical/divrem/rem/i8rem_cs_do/i8rem_cs_do.cmd
JIT/Methodical/divrem/rem/i8rem_cs_ro/i8rem_cs_ro.cmd
JIT/Methodical/divrem/rem/overldrem_cs_do/overldrem_cs_do.cmd
JIT/Methodical/divrem/rem/overldrem_cs_ro/overldrem_cs_ro.cmd
JIT/Methodical/divrem/rem

[2016-11-17 00:35] jashook opened #8155 "Arm64 [21-Failures]: Div test failures"
The following tests fail.

JIT/Methodical/divrem/div/decimaldiv_cs_do/decimaldiv_cs_do.cmd
JIT/Methodical/divrem/div/decimaldiv_cs_ro/decimaldiv_cs_ro.cmd
JIT/Methodical/divrem/rem/decimalrem_cs_do/decimalrem_cs_do.cmd
JIT/Methodical/divrem/rem/decimalrem_cs_ro/decimalrem_cs_ro.cmd
JIT/Methodical/divrem/div/i4div_cs_do/i4div_cs_do.cmd
JIT/Methodical/divrem/div/i4div_cs_ro/i4div_cs_ro.cmd
JIT/Metho

[2016-11-17 00:37] jashook opened #8156 "Arm64 [9-Failures]: Generic failures"
The following tests fail in checked/release with no output.

JIT/Regression/JitBlue/DevDiv_359736/DevDiv_359736_ro/DevDiv_359736_ro.cmd
Loader/classloader/generics/GenericMethods/VSW491668/VSW491668.cmd

[2016-11-17 00:38] jashook opened #8157 "Arm64 [1 Failure]: Value was either too large or too small for a Decimal"
The following tests with the output below.

[code]

JIT/Methodical/divrem/div/overlddiv_cs_ro/overlddiv_cs_ro.cmd

[2016-11-17 00:40] RussKeldorph opened #8158 "RyuJIT/x86: CoreFx System.Reflection.Emit.Tests.dll Exit code = -2146233022"
**Repro steps:**

coreclr *(assuming root=c:\git\coreclr)*
[code]
corefx *(assuming root=c:\git\corefx)*
[code]
**Output**
[code]

[2016-11-17 00:49] RussKeldorph opened #8159 "RyuJIT/x86: CoreFx System.IO.UnmanagedMemoryStream.TestsExit code = -2146233022"
**Repro steps:**

coreclr *(assuming root=c:\git\coreclr)*
[code]
corefx *(assuming root=c:\git\corefx)*
[code]
**Output**
[code]

[2016-11-17 00:58] RussKeldorph opened #8160 "RyuJIT/x86: CoreFx System.Runtime.Tests Exit code = -2146233022"
coreclr *(assuming root=c:\git\coreclr)*
[code]
corefx *(assuming root=c:\git\corefx)*
[code]
**Output**
[code]

[2016-11-17 01:02] RussKeldorph opened #8161 "RyuJIT/x86: CoreFx System.Threading.Tasks.Tests Unhandled Exception: System.NullReferenceException: Object reference not set to an instance of an object."
**Repro steps:**

coreclr *(assuming root=c:\git\coreclr)*
[code]
corefx *(assuming root=c:\git\corefx)*
[code]
**Output**
[code]

[2016-11-17 01:10] RussKeldorph opened #8163 "RyuJIT/x86: CoreFx System.Linq.Tests failure"
**Repro steps:**

coreclr *(assuming root=c:\git\coreclr)*
[code]
corefx *(assuming root=c:\git\corefx)*
[code]
**Output**
[code]

[2016-11-17 01:13] RussKeldorph opened #8165 "RyuJIT/x86: CoreFx System.Xml.XmlSerializer.Tests"
**Repro steps:**

coreclr *(assuming root=c:\git\coreclr)*
[code]
corefx *(assuming root=c:\git\corefx)*
[code]
**Output**
[code]

[2016-11-17 01:38] jkotas commented on #7747
It may be also interesting to look into per-thread (or even better per-core) caches of the memory blocks. It was hard to do well when ArrayPool was standalone, but it may be more feasible now that the ArrayPool is in corelib.

[2016-11-17 01:41] RussKeldorph opened #8167 "RyuJIT/x86: CoreFx System.Runtime.Serialization.Json.Tests System.OverflowException"
**Repro steps:**

coreclr *(assuming root=c:\git\coreclr)*
[code]
corefx *(assuming root=c:\git\corefx)*
[code]
**Output**
[code]

[2016-11-17 01:47] RussKeldorph opened #8168 "RyuJIT/x86: CoreFx System.Runtime.Serialization.Json.ReflectionOnly.Tests System.OverflowException"
**Repro steps:**

coreclr *(assuming root=c:\git\coreclr)*
[code]
corefx *(assuming root=c:\git\corefx)*
[code]
**Output**
[code]

[2016-11-17 01:49] jamesqo commented on #8034
@swgillespie Good point, I didn't think of using `Span` for this. I'll update the code to use it before submitting a PR. Thanks!

[2016-11-17 01:51] RussKeldorph opened #8169 "RyuJIT/x86: CoreFx System.Runtime.Serialization.Xml.Tests System.OverflowException"
**Repro steps:**

coreclr *(assuming root=c:\git\coreclr)*
[code]
corefx *(assuming root=c:\git\corefx)*
[code]
**Output**
[code]

[2016-11-17 01:55] RussKeldorph opened #8170 "RyuJIT/x86: CoreFx System.Runtime.Serialization.Xml.ReflectionOnly.Tests System.OverflowException"
**Repro steps:**

coreclr *(assuming root=c:\git\coreclr)*
[code]
corefx *(assuming root=c:\git\corefx)*
[code]
**Output**
[code]

[2016-11-17 02:01] RussKeldorph opened #8171 "RyuJIT/x86: CoreFx System.Runtime.Numerics.Tests bad output"
**Repro steps:**

coreclr *(assuming root=c:\git\coreclr)*
[code]
corefx *(assuming root=c:\git\corefx)*
[code]
**Output**
<details>
[code]
</details>

[2016-11-17 02:02] RussKeldorph opened #8172 "RyuJIT/x86: CoreFx System.Threading.Tasks.Parallel.Tests hangs"
**Repro steps:**

coreclr *(assuming root=c:\git\coreclr)*
[code]
corefx *(assuming root=c:\git\corefx)*
[code]
**Output**
[code]

[2016-11-17 03:04] parjong opened #8173 "Core FX "System.Tests.StringTests.Join_ObjectArray" Unittest Failure"
I encountered the following test failure while running Core FX System.Runtime.Tests in Ubuntu 14.04 (x64):
[code]

[2016-11-17 03:05] parjong commented on #8173
976519d243e28ced430efddbfc932390f3b37528 seems to be related with this issue. Do we need to rewrite this test itself?

[2016-11-17 07:44] MichalStrehovsky commented on #8143
@jamesqo What CoreCLR are you running with? I would have expected #7895 to avoid the boxing.

[2016-11-17 09:30] saberone commented on #917
But is anyone working on an alpine dotnetcore docker image? If so what is the status? If not what is needed to get that done?

[2016-11-17 11:27] MartinErskine commented on #3977
Great Job! Well done guys...! Soon as this is ready I can get back to my R PI3 based, heating system controller :)

[2016-11-17 12:51] ww898 opened #8175 "Discussion: The portable PDB support"
Hi,
I would to open the discussion about portable PDB support in CoreCLR. Now our product JetBrains profiler is using the COM object from `diasymreader.dll` (interfaces `ISymUnmanagedReader` / `ISymUnmanagedBinder2`) for windows PDB format (`Microsoft C/C++ MSF 7.00`). Now it possible to select what type of PDB will be generated for CoreCLR project due `debugType` option in `project.json` : `full`

[2016-11-17 13:56] Yves57 commented on #3184
@davidfowl has the same request in aspnet/AspLabs#3

I tried to add the missing methods in [Number.cs](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Number.cs):
[code]

They are just copy/paste of the existing methods with very few modifications, and it works very well. The best is that nothing has to be changed in the complex `Number.ParseNumber()` method.

So I think it c

[2016-11-17 14:34] MichaelSimons commented on #917
@saberone - https://github.com/dotnet/dotnet-docker/issues/22 is tracking the work to create the alpine based images for .NET core.  This work won't start until alpine is fully supported.

[2016-11-17 16:13] cydhaselton commented on #917
@janvorli I re-started the build using an earlier version of the source and encountered the same issue with TEXTRELs and missing symbols.

I'm currently trying a hack fix in an attempt to resolve this; if it does not work I won't be able to move forward without significant efforts expended elsewhere (i.e. building PAX tools from source and researching TEXTRELs elimination)

[2016-11-17 16:49] ranma42 commented on #2305
Would it be ok if the parser was generated using [byacc](https://en.wikipedia.org/wiki/Berkeley_Yacc) instead of Bison? It generates a parser that almost works, except for requiring `realloc()`.
I experimented with injecting a (kind of hackish, as it is based on `new[]`/`delete[]`, but simple and working) C++ reimplementation of `realloc`, but better options might be possible.

I would be happy to

[2016-11-17 17:16] rchiodo opened #8177 "SemaphoreSlim can throw an ArgumentNullException during a cancel"
I'm using a BlockingCollection<ConcurrentQueue> and a call to TryTake(out value, timeout, cancelToken) will crash with an ArgumentNullException during a cancel.

It looks to me like SemaphoreSlim is not handling cancel after it's been disposed.

The callstack of the crash is like so:

  at System.Threading.Monitor.ReliableEnter(Object obj, Boolean& lockTaken)
   at System.Threading.SemaphoreSlim.C

[2016-11-17 18:01] RussKeldorph opened #8179 "RyuJIT/x86: Assert failure(PID 14212 [0x00003784], Thread: 6096 [0x17d0]): m_CodeHeader == 0..."
**Repro (windows):**
[code]

**Output:**
<details>
BEGIN EXECUTION
 "c:\git\coreclr\tests\..\bin\tests\Windows_NT.x86.Checked\Tests\Core_Root\corerun.exe" StructABI.exe

Assert failure(PID 14212 [0x00003784], Thread: 6096 [0x17d0]): m_CodeHeader == 0 && "Note that this may fire if the JITCompiler tries to recompile a method"

CORECLR! CEEJitInfo::allocMem + 0x189 (0x656ed259)
PROTOJIT! emitter::em

[2016-11-17 18:04] GSPP commented on #1754
This would immediately create a maximum amount of threads with the following code:

Enumerable.Range(0, 100000).Select(_ => Task.Run(() => File.ReadAllBytes("..."))).ToList();

Because all those tasks immediately block, causing another thread to be spawned.

Holding a thread at the end of a blocking operation can lead to deadlocks or catastrophically low throughput if that thread was holding any l

[2016-11-17 18:15] mikedn commented on #8170
Looks like long div/mod handling is broken. Code like
[code]
generates
[code]
For large dividend values `div` throws an overflow exception because the result doesn't fit into 32 bit. But the result is supposed to be 64 bit here, a correct implementation shouldn't throw.

[2016-11-17 18:17] mikedn commented on #8169
Likely a dupe of #8170. `XsdDuration..ctor` doesn't contain any other code that could throw `OverflowException`.

[2016-11-17 18:17] mikedn commented on #8168
Likely a dupe of #8170. `XsdDuration..ctor` doesn't contain any other code that could throw `OverflowException`.

[2016-11-17 18:17] mikedn commented on #8167
Likely a dupe of #8170. `XsdDuration..ctor` doesn't contain any other code that could throw `OverflowException`.

[2016-11-17 18:31] mikedn commented on #8170
JIT32 generates this:
[code]
This won't be an easy fix if we want to continue not using a helper. The BB needs to be split in two and we don't currently have any utility to do that. Such expansion will probably need to be deferred to codegen.

[2016-11-17 18:32] rchiodo commented on #8177
In the debugger the m_lock is null:

 private static void CancellationTokenCanceledEventHandler(object obj)
        {
            SemaphoreSlim semaphore = obj as SemaphoreSlim;
            Contract.Assert(semaphore != null, "Expected a SemaphoreSlim");
            lock (semaphore.m_lockObj)
            {
                Monitor.PulseAll(semaphore.m_lockObj); //wake up all waiters.
            }

[2016-11-17 18:37] stephentoub commented on #8177
@rchiodo, it sounds like something in your code disposed the BlockingCollection while it was still being used?

[2016-11-17 18:42] rchiodo commented on #8177
Yes. It looks like the canceltoken has a registered callback that disposes the BlockingCollection. So it depends upon the order that the cancel callbacks are called.

Shouldn't the semaphoreslim be throwing an ObjectDisposedException in this case?

[2016-11-17 18:45] mikedn commented on #8165
Likely a dupe of #8170. The stack trace is different but the `OverflowException` is thrown from the same
`XsdDuration..ctor` like in the other test.

[2016-11-17 18:56] jbayardo opened #8181 "SIMD EqualsAll and Equals generate inefficient code"
We have the following snippet of code (and corresponding generated assembler):

[code]

EqualsAll generates similar code for `Vector.EqualsAll(modifiedData, Vector<byte>.Zero)`. Shouldn't the same result be achievable through xor and ptest (sse4.1), or even phadd (ssse3.1)?. Also, the loading could be done using `movdqa`/`movdqu` instead of `movaps` and avoid the floating point conversion altogeth

[2016-11-17 19:07] redknightlois commented on #8181
This is related to ```System.Numerics``` being designed over the idea of floating point calculations. Relates to https://github.com/dotnet/coreclr/issues/6906

cc @mellinoe @terrajobst

[2016-11-17 19:08] mellinoe commented on #8181
It's not; `Vector<T>` supports all of the primitive numeric types. Could you explain what you mean by that?

[2016-11-17 19:08] kae commented on #8148
Is there a possibility of some workaround that is more subtle than loading some random pfx from disk at start of the program?

[2016-11-17 19:29] RussKeldorph commented on #8170
@mikedn Thanks for the analysis!
/cc @dotnet/jit-contrib

[2016-11-17 19:30] RussKeldorph commented on #8165
Closing as dup.

[2016-11-17 19:30] #8165 closed

[2016-11-17 19:30] RussKeldorph commented on #8167
Closing as dup.

[2016-11-17 19:30] #8167 closed

[2016-11-17 19:30] RussKeldorph commented on #8168
Closing as dup.

[2016-11-17 19:30] #8168 closed

[2016-11-17 19:30] RussKeldorph commented on #8169
Closing as dup.

[2016-11-17 19:30] #8169 closed

[2016-11-17 19:32] redknightlois commented on #8181
That it makes sense that loads being done as floating point because of the usual use case for `System.Numerics` and from there, most codegen takes that assumption over.

If that is not the case, why a `Vector<byte>` gets loaded with a floating point operation is beyond my understanding. Reciprocal throughput and latency looks like to be better on `movdqa` than on `movaps` for most of the usual arc

[2016-11-17 19:54] mikedn commented on #8181
Weird assumption.

`movups` is one byte shorter.

Depends on what you mean by "usual". Is, say, Haswell usual? Then they have exactly the same latency, throughput and port usage.

What floating point conversions?!?

[2016-11-17 20:17] redknightlois commented on #8181
@mikedn That makes much more sense, being `movups` a byte shorter is a net win there. Read wrongly the latency tables (dont understand where I mixed up, now I copied into notepad and yes they are equal). Having said that, even accounting for that small difference I err on, wouldnt offset being a byte shorter anyways.

[2016-11-17 20:53] kouvel commented on #1754
There would need to be some limit on how many threads are added to compensate for blocked threads, such that this type of worst-case scenario caps out the number of threads at a reasonable amount. There are several pieces of information available to make reasonable heuristics for this case.

Yea that's a good point, especially if threads returning from blocked state are many and the queue gets bac

[2016-11-17 21:06] mikedn commented on #8163
Looks like `CodeGen::genCompareLong` is broken. LINQ's `Max` has this code:
[code]
and the JIT generates:
[code]
There's a long compare that produces a result and it spills it to `[ebp-98h]`. But it does that only on one branch, in IG13 `edx` is not spilled and then it is killed at the start of IG14.

That's probably because codegen calls `genProduceReg` twice:
[code]

I'll try to make a fix.

[2016-11-17 21:07] GSPP commented on #1754
Maybe a tunable settings for app developers to alter the injection speed? It seems we need two settings:

1. The maximum thread count that we want to converge to over time.
2. The speed at which we would want to inject.

To illustrate:

* The red line is the old behavior.
* The other lines show different maximum values and speeds. They all converge to a maximum but at different speeds.

![image](h

[2016-11-17 21:19] terrajobst commented on #8181
Looping in @CarolEidt

[2016-11-17 21:27] kouvel commented on #1754
Configuring the minimum and maximum worker thread count produces an approximation of the green line above, though not as nice:

![image](https://cloud.githubusercontent.com/assets/13499639/20408197/4149964e-acc9-11e6-957e-d117f21178ac.png)

I'm not sure that it is always beneficial to have a curve. It should get to the right number of threads quickly. The type of work could also be changing, and i

[2016-11-17 21:28] kouvel commented on #1754
An issue with that is often times a min thread count closer to the max typically required for the app will be configured, and the app may not run as efficiently.

[2016-11-17 21:29] mikedn commented on #8163
Yep, all LINQ tests pass with the fix in #8182.

[2016-11-17 22:02] RussKeldorph commented on #8163
@dotnet/jit-contrib

[2016-11-17 22:15] jamesqo commented on #8143
@MichalStrehovsky, nice! That dump was from a couple of months ago, when I was working on the ValueTuple PR. It looks like your change exactly addresses this issue:

[code]

Happily closing.

[2016-11-17 22:15] #8143 closed

[2016-11-17 22:21] omariom commented on #8143
@jamesqo  Now you can get rid of `EqualityComparer<T>.Default.GetHashCode` in HashSet and Dictionaries :)

[2016-11-17 22:23] MichalStrehovsky commented on #8143
@omariom @jamesqo But note that other runtimes might not have the optimization (specifically, the desktop CLR, or the .NET Native for UWP apps compiler), so CoreFX code that is expected to run elsewhere should probably still not rely on it.

[2016-11-17 22:38] jamesqo commented on #8143
@MichalStrehovsky I see, ok. Do you know when this optimization might be implemented on those platforms you mentioned (desktop, .NET Native for UWP)?

[2016-11-17 22:49] mikedn commented on #8158
When run in debugger this shows an assert, not sure if it's related or a red herring:
[code]

[2016-11-17 22:54] mikedn commented on #8159
This doesn't appear to be JIT related. `System.Private.CoreLib` is missing a resource string and asserts, `-2146233022` is `COR_E_CODECONTRACTFAILED`. I'll send a PR tomorrow to add the missing string.

[2016-11-17 22:58] MichalStrehovsky commented on #8143
Desktop has been shipping with this for the past 14 years and the checkin bar is really high. "Never" would be a safe answer since this is just a perf improvement that can be worked around.

I have a PR out to fix it in CoreRT some time soon. There are no specific plans for .NET Native for UWP, but that should pick up the CoreRT fix at some point. Hard to give time estimates.

[2016-11-17 22:59] RussKeldorph commented on #8159
@mikedn Thanks.  I admit I didn't compare exactly the same commits between JIT32 and RyuJIT, so it's possible this is a recent regression (due to corelib refactoring?).  Presumably #8158 and #8160 are dups?

@dotnet/jit-contrib

[2016-11-17 23:16] mikedn commented on #8160
When run in debugger it asserts:
[code]

[2016-11-17 23:19] jamesqo commented on #8143
@MichalStrehovsky Thanks for this info. Do you think I should ever submit the PR then? Technically, it would not "rely" on this optimization; it would just perform worse for a (minority) use case on certain runtimes. Although, I could see a tuple with enums as the key in a dictionary being a plausible scenario.

[2016-11-17 23:20] mikedn commented on #8159
The other 2 appear to be unrelated. It's odd, they show asserts but only when run with a debugger attached.

Not sure what's going on this the missing resource string from this one. Supposedly this was fixed in #7673 but it looks to me that the string was added to the wrong file - mscorlib.txt instead of System.Private.CoreLib.txt.

[2016-11-17 23:22] RussKeldorph commented on #8159
@alexperovich Any insights?

[2016-11-17 23:56] jashook opened #8186 "Windows Arm64/Arm32 infrastructure: server crash due to dotnet refusing to exit"
If dotnet does not finish executing, it will keep file handles around to certain directories used by the CI. The next run will fail because it cannot clean up these directories.

[2016-11-17 23:59] seanshpark opened #8188 "[x86/Linux] Cross building for x86 32bit on Linux"
I would like to enable CoreCLR for 32bit x86 Linux based on the base with current Windows x86 codes.
I'm thinking this task to be in two stages. First is to fix all build errors and then to make it work properly with unit tests. Task items to do will be added to below lists. I hope compile will be done in both 32bit host native and 64bit host cross building.

Fix build error
- [x] fix and add for

[2016-11-17 23:59] parjong commented on #8173
I'll close as https://github.com/dotnet/corefx/pull/13747 seems to be more appropriate for this issue.

[2016-11-17 23:59] #8173 closed

[2016-11-18 00:00] jashook opened #8189 "Windows Arm64/Arm32 infrastructure: path not found while iterating through smarty directory"
The arm64 client occasionally crashes due to a missing file, when iterating over all the files of a certain directory.

[2016-11-18 00:01] danmosemsft opened #8190 "Two members missing virtual"
These should be virtual like Desktop

[code]

[2016-11-18 00:02] danmosemsft commented on #8190
Uh, this should be in CoreFX ..

[2016-11-18 00:02] #8190 closed

[2016-11-18 00:02] danmosemsft commented on #8190
Issue moved to [dotnet/corefx #13784](https://github.com/dotnet/corefx/issues/13784) via [**ZenHub**](https://www.zenhub.com/)

[2016-11-18 00:12] jashook opened #8192 "Windows Arm64 infrastructure: Update the lstFile to get GCStress and JitStress job green"

[2016-11-18 00:15] jashook opened #8193 "Windows Arm64/Arm32 infrastructure: auto updating arm64_client"

[2016-11-18 00:20] cydhaselton commented on #917
@janvorli and others with asm experience:
Ran into the same textrels/missing symbols with earlier source version. Built PAX utils during one of the rebuilds and ran the commands as mentioned in the[ Hardened Textrels Guide](https://wiki.gentoo.org/wiki/Hardened/Textrels_Guide).  Posting the output here in case anyone is motivated to look into this.
libcoreclr scanelf output: http://pastebin.com/hS

[2016-11-18 03:07] pgavlin commented on #8161
This is a dup of #8150.

[2016-11-18 03:07] #8161 closed

[2016-11-18 03:07] pgavlin commented on #8172
This is a dup of #8150.

[2016-11-18 03:07] #8172 closed

[2016-11-18 03:10] pgavlin commented on #8158
@mikedn: that failure does correspond with the HRESULT that is being returned as the exit code for corerun.

@jkotas: this looks like a runtime issue. Who should we route this to?

[2016-11-18 03:11] pgavlin commented on #8160
@jkotas: this looks like a runtime issue. Who should we route this to?

[2016-11-18 03:13] pgavlin commented on #8170
Seconded :)

I can take this one.

[2016-11-18 03:24] #8163 closed

[2016-11-18 03:44] sivarv commented on #8181
@jbayardo - Right now RyuJIT supports SSE2 and AVX2 instruction set for SIMD codegen.  With PR https://github.com/dotnet/coreclr/pull/7367  I have fixed `Equals` against `Vector<T>.Zero `to use ptest.  since ptest is available in SSE4.1 and above, you will see the benefit when running on an AVX2 machine.

Regardings `Vector.EqualsAll(modifiedData, Vector<byte>.Zero)`, Can you paste what is the cod

[2016-11-18 03:53] jkotas commented on #8188
@seanshpark Thanks a lot for getting the Linux x86 port started!

https://github.com/dotnet/coreclr/issues/1264 has earlier discussion on this. Look for replies that contain x86 - there are some useful tidbits.

cc @janvorli @gkhanna79

[2016-11-18 03:54] jkotas commented on #1264
Tracked by number of more concrete issues.

[2016-11-18 03:54] #1264 closed

[2016-11-18 03:55] jkotas commented on #6162
Let's use https://github.com/dotnet/coreclr/issues/8188 to track the Linux x86 port.

[2016-11-18 03:55] #6162 closed

[2016-11-18 04:00] gkhanna79 commented on #8188
Thanks for looping me in @jkotas @seanshpark I took the liberty of adding few more specific items that I had followed when bringing up WinArm32 build.

[2016-11-18 04:02] gkhanna79 commented on #8188
Needless to say, I will be happy to help with bunch of these things.

[2016-11-18 04:37] jkotas commented on #8158
I see two different failures modes with CoreCLR debug x86:

- Deterministic failure with -2146233022 exit code. It is duplicate of https://github.com/dotnet/corefx/issues/13238:

[code]

- Intermittent assert failure at SigPointer::GetTypeVariable (above stacktrace). Let's use this issue to track this intermittent failure.

[2016-11-18 04:37] #8150 closed

[2016-11-18 04:45] weshaggard commented on #4506
@AlexGhiondea we don't have the netfx tags in the coreclr repo what is the best way to get this tracked for desktop?

[2016-11-18 04:48] jkotas commented on #8158
The intermittent assert failure at `SigPointer::GetTypeVariable` is caused by invalid metadata signature produced by reflection.emit. My guess is that it is likely a silent bad codegen, or GC hole somewhere in the corelib reflection emit code.

[2016-11-18 05:06] AlexGhiondea commented on #4506
@weshaggard the easiest way is to create an issue in the CoreFx repo and tag that with Netflix-port-consider.

[2016-11-18 05:35] pgavlin commented on #8170
After further investigation, this is indeed specific to trees with either of the following forms:
- `(mod ulong (x ulong) (cast ulong (const int const_val)))`
- `(mod ulong (x ulong) (const ulong const_val))`
where `const_val` is in the range `[2, 0x3ffffffff]`. All other long-typed div/mod trees use a helper.

I see two options here:
1. Just use a helper in these cases. We will give up a bit of c

[2016-11-18 05:39] pgavlin commented on #8170
Of course, there is also the third option: add an LIR utility to allow splitting a block at an arbitrary point and change decomposition to use it in this case. This is not terribly difficult, but the split operation is non-trivial as it involves finding all SDSU temps that would be live across the block boundary and spilling them to lclVars.

[2016-11-18 06:14] mikedn commented on #8170
I'd go with the helper call for now. This seems kind of rare (and the team seems to think the same way as they didn't implement magic division for unsigned types :grin:) and there are other CQ issues related to long on x86 that are probably more worthwhile to spend time on.

[2016-11-18 06:52] pgavlin commented on #8170
@mikedn: it ended up being pretty trivial to expand this correctly in codegen. https://github.com/dotnet/coreclr/pull/8198 has the changes.

[2016-11-18 10:21] janvorli commented on #917
@cydhaselton I am sorry, I have somehow not realized the obvious - that you are building for ARM (which I should have realized from the fact that you are building it for Android). I was doing the analysis of TEXTRELs on AMD64.
On ARM, we have different ASM helpers and so it probably creates a real TEXTREL issue.
However, it is not clear where the problem is from the dump - it seems there are just

[2016-11-18 11:01] RussKeldorph commented on #8160
Updated the repro steps.  There appear to be two failures for System.Runtime.Tests, one under the default.netcoreapp1.1 folder, and one under netcoreapp1.1.netcoreapp1.1.  For former results in what @mikedn saw (my original steps) and the latter results in my original output.

Also, this repros for x64, so I have removed CodeGen and x86 labels.

[2016-11-18 11:02] janvorli commented on #8188
@seanshpark awesome! Please feel free to ping me if you have any questions or need help with solving problems with coreclr, its PAL or native parts of CoreFX.

[2016-11-18 11:12] RussKeldorph commented on #7697
@adiaaida Fixed by #8178?  Re-open if not.

[2016-11-18 11:12] #7697 closed

[2016-11-18 12:36] Drawaes commented on #7421
While maybe not Kestrel directly, a way to do a greater than search on something like a float or double returns ints and longs. Anyway to pack that down to bytes with intrinsics so I can find the lsb hsb quickly

[2016-11-18 13:16] jkotas commented on #8160
@rahku Could you please take a look at this assert? It looks related to the reflection loader APIs:

[code]

[2016-11-18 13:47] jphellemons opened #8200 "MSBuild error MSB4025 with .net core 1.1 and 1.0.1"
Hi, I cross posted this from [SO ](http://stackoverflow.com/questions/40676096/msbuild-error-msb4025-in-visual-studio-code) because I think that this has a better reach for .net core related things. Please forgive me if it is in the wrong repo. Just point me to the right one.
I keep getting the message that my project.json is broken but a SO user has verified that it is valid. So I have no idea ho

[2016-11-18 13:57] jbayardo commented on #8181
@sivarv The code being generated when using EqualsAll:

[code]

The same issue appears when using == between non-necessarily-zero vectors:

[code]

I have been looking through the Intel manual and have a few ideas, maybe they'll save you some time:

- Load up the 128 bits altogether in memory (`movdqa` or `movdqu` are both supported in SSE2)
- `pxor` (also sse2) supports `xmm1, xmm2/m128`, so stri

[2016-11-18 14:19] #8159 closed

[2016-11-18 14:27] redknightlois opened #8201 "Add the ability to find out which instruction set is being used at System.Numerics"
If there such big differences into code-gen between AVX2 and SSE2 then IsHardwareAccelerated is not enough granularity to make it viable to optimize using SIMD. We need to be able to detect which of the code-gen paths are being used in order to take appropriate action.

Per comment by @sivarv at https://github.com/dotnet/coreclr/issues/8181

[code]

The JIT should also treat IsSupported return as

[2016-11-18 15:01] stephentoub opened #8203 "Investigate locked-free implementations of ArrayPool"
ArrayPool currently uses a SpinLock per bucket to protect each bucket's state.  The lock covers only a small number of instructions and generally performs well.  However, if a thread happens to be interrupted while holding the spin lock, all other threads can be prevented indefinitely from making forward progress.

[2016-11-18 15:02] mburbea commented on #8143
Can't this be solved with `#ifdef`? If you're on CoreCLR use the simple gethashcode, and if you're not use the comparer?

[2016-11-18 15:15] benaadams commented on #8203
Lower contention would be good too; whether that's multiple pools per bucket based on bounded Interlocked.Increment or a ThreadLocal/Static

[2016-11-18 15:16] stephentoub commented on #8203
Potentially, but that's a separate issue, involving a different set of tradeoffs.

[2016-11-18 15:19] benaadams commented on #8203
Ah, yeah is mentioned here https://github.com/dotnet/coreclr/issues/7747#issuecomment-261129073

[2016-11-18 15:22] mikedn commented on #8181
As already mentioned this isn't very useful.

To be precise that saves a `movdqa`, not a `movdqu`. That makes this useless in this particular case.

Floating point operations on non-floating point data?!?

There seems to be a confusion between `Equals` and `EqualsAll` throughout this issue. `==`, `bool Vector<T>.Equals(Vector<T> v)` and `bool Vector.EqualsAll<T>(Vector<T> v1, Vector<T> v2)` are ex

[2016-11-18 15:27] redknightlois commented on #8203
We use a tiered structure which works pretty well in practice without the needs of locks for the lower most immediate part.

We distribute the arrays into their own thread based storages and only when we are going to evict an array we move it to the higher global level (which requires the locks). In that design, it doesnt matter if someone rents an array on one thread and returns it in a different

[2016-11-18 15:31] stephentoub commented on #8203
@redknightlois, can you elaborate?  How does one thread get at an array that's stored in another thread's local data structure?  What you describe sounds slightly similar to a work-stealing data structure, but even there locks are necessary even for local access when the number of items in the local queue is sufficiently low that there could be a conflict between the local thread accessing an elem

[2016-11-18 15:48] redknightlois commented on #8203
Probably I didn't explain correctly, there is no work-stealing kind of data structure.

- Each thread has its own local thread storage.
- There is a global storage.

Say thread-1 rented an array, life goes on and then that object was moved to thread-2 (we have worker and writers, so that happens a lot here). Then thread-2 is done with it and returns the array. All this can be done without needing

[2016-11-18 16:00] stephentoub commented on #8203
Yes, thanks for the explanation. This is a fairly typical tiered strategy.  And it has some of the tradeoffs I hinted at in my initial response to Ben.  For example, the more threads you have, the more arrays you can end up caching, potentially unbounded (without additional synchronization), and arrays that are valid and created can be completely unavailable to other threads.  That may be an entir

[2016-11-18 16:02] #8152 closed

[2016-11-18 16:08] redknightlois commented on #8203
Ahhh, OK. If you need something bounded, you should look into a cache line optimized ring-buffer. In that way you can do lock-free acquisition and release in a bounded environment. It is very good limiting the false-sharing (usual cause of contention) and fairly easy to implement correctly (discounting the it's multithreaded code multiplier, that is).

[2016-11-18 16:11] stephentoub commented on #8203
That's essentially what I have ;)

[2016-11-18 16:16] omajid commented on #4318
Would adding a math library that has matching results on all platforms be worth it?  Java has a `StrictMath` (separate from the regular `Math`) class that requires implementations to return values that match published algorithms.

[2016-11-18 16:24] janvorli commented on #7728
@litichevskiydv so if I read it correctly, it behaves as if it was calling ToString from the base class?
Can you try to add  GetType(this) into the exception message to see what the runtime thinks about the type of the object at the failure point?

[2016-11-18 16:29] adiaaida commented on #8171
This seems to be happening in the function Is_Zero. With RyuJIT we generate:

[code]

But with legacy backend, we generate:

[code]

[2016-11-18 16:29] adiaaida commented on #8171
The only difference I can see is in RyuJIT, we generate a test instruction to compare to zero, while in legacy backend, we generate a cmp.

[2016-11-18 16:35] BertanAygun opened #8204 "Changing AsyncLocal value allocates a new Dictionary object each time"
When using AsyncLocal in desktop CLR (both 4.6.1 and 4.6.2), each time value is changed from user code a new dictionary object is allocated to clone the current local values in execution context. This causes large number of allocations in scenarios where async local value is changed frequently and may trigger additional GCs. For applications that have few async local instances, is it possible to u

[2016-11-18 16:35] BertanAygun commented on #8204
@ericstj FYI

[2016-11-18 16:41] pgavlin commented on #8171
@adiaaida: the difference you've pointed out could be the bug, as the behavior of the `test` and the `cmp` instructions are different w.r.t. the flags that each sets. In particular, the `test` instruction performs a bitwise and and derives the flags from the result, while the `cmp` instruction performs a bitwise subtract. This results in different behavior if the flags are used for much other than

[2016-11-18 16:49] adiaaida commented on #8171
No, it turned out i had a wildcard in my altjit. Not the bug.

[2016-11-18 16:52] ericstj commented on #8204
Relevant code is here: https://github.com/dotnet/coreclr/blob/2246c1ff94cbd84df83e5308c81a1d1018c3f154/src/mscorlib/src/System/Threading/ExecutionContext.cs#L297

It looks like its already seen [some improvements](https://github.com/dotnet/coreclr/commit/9bc06f7e534a1989911d795528737d767c2b408d) over desktop which we should look at porting back.

I wonder if we could have a pool of dictionaries to

[2016-11-18 17:05] pgavlin commented on #8171
@adiaaida: yeah, after more thought I believe that `test` can be used as part of a `x <= 0` check. Sorry for the noise.

[2016-11-18 17:13] jbayardo commented on #8181
I'm sorry, I missed on that, it should have been `pcmpeqd` and `pshufd`.

The `bool` returning equality functions could be implemented as mentioned, while the `Vector<int/byte/word>` returning ones could be just pcmpeq(d|b|w) accordingly. As-is, the `bool` returning functions are implemented in terms of pcmpeq, which ends up taking more instructions.

We have been looking into a possible sse2 vers

[2016-11-18 17:17] adiaaida commented on #8171
No problem. I found the actual function that has the bad codegen. It's Square. RyuJIT:

[code]

Legacy Backend:

[code]

There are a couple of things that seem wrong to me. 1) We generate adc followed by add, which is wrong, and 2) we appear to overwrite the result of the shld, which I'm not sure how wrong it is. For the add, which is definitely wrong, I'm not sure where we would be swapping the o

[2016-11-18 17:28] adiaaida commented on #8171
For the add issue, this seems to stem from DecomposeShift, which potentially swaps the order of its operands, which seems to swap the order of the add calculation.

[2016-11-18 17:29] pgavlin commented on #8158
@jkotas: are you looking into the intermittent assert? If not, who should? If you're pretty confident that this is SBCG or a GC hole in the JIT-generated code, I'm happy to take this one.

[2016-11-18 17:43] jkotas commented on #8158
I am not planning to look into this. I think the first step should be to fix the more deterministic failure with -2146233022 exit code (dotnet/corefx#13238), so that it does not interfere with debugging the less deterministic failure.

[2016-11-18 18:45] pgavlin commented on #7669
@AtsushiKan: are you looking into this one? It's currently largely blocking the investigation into #8158.

[2016-11-18 18:46] #8170 closed

[2016-11-18 18:49] mikedn commented on #8181
This might be a bit better:
[code]

[2016-11-18 19:10] karelz commented on #7669
Didn't we decide that these are bad tests? I think we just need to delete them.

[2016-11-18 19:16] hughbe commented on #7669
@karelz how come

[2016-11-18 19:23] karelz commented on #7669
@hughbe internal emails from 1.1 shipping when it hit JIT team hard, sorry for leaving out context. It seems to be kicking us again. Previously the easiest thing was just to disable the tests temporarily.

Re-reading the old emails again, @AtsushiKan agreed this is a product bug:

[2016-11-18 23:50] choikwa commented on #6024
I think several things that RyuJIT currently doesn't do have been said here. Namely:
- Profile Feedback
- Partial Inlining
- Inlining in presence of EH
- Induction variable promotion

Does anyone like to see them made into GH issues (if not already) for tracking purposes?

[2016-11-19 00:06] cydhaselton commented on #917
@janvorli Done. Here's the scanelf and objdump output for the debug libcoreclr.so

scanelf output: http://pastebin.com/ZL2qDczt
objdump of textrel offset: http://pastebin.com/2AZ9dLak
objdump of function offset: http://pastebin.com/gfrYHCYv

Hopefully this is helpful. As mentioned before I've zero knowledge of ASM bits

[2016-11-19 00:54] jkotas commented on #917
@cydhaselton From the logs, it looks like the problem is caused by `b C_FUNC(JIT_CheckedWriteBarrier)` asm instruction.

Reordering the methods in the file may help. Could you please try something like: https://github.com/jkotas/coreclr/commit/359abe2cae1a433164b94653d73438acfd227e4b

If it does not help, you try to comment out this line for now - to see what other issues are you going to hit - an

[2016-11-19 01:12] karelz commented on #1150
Closing as nebulous issue - see https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md#when-we-close-issues

[2016-11-19 01:12] #1150 closed

[2016-11-19 01:19] adityamandaleeka commented on #8130
@wtgodbe Is this related to the package build stuff you worked on?

[2016-11-19 01:27] cydhaselton commented on #917
@jkotas Thanks for the input. Is it necessary to re-build with 'clean' after making the change?

[2016-11-19 01:34] jkotas commented on #917
The incremental build (without clean) should work fine.

[2016-11-19 01:57] cydhaselton commented on #917
Thanks. Build still produced textrels, even after commenting out the lines.  Here's the output:

scanelf:  http://pastebin.com/Ysjancgi
objdump textrel offset: http://pastebin.com/5s7JxiPX
objdump function offset: http://pastebin.com/HkHDL7Ms

[2016-11-19 02:22] #7396 closed

[2016-11-19 02:31] #6309 closed

[2016-11-19 02:37] #6681 closed

[2016-11-19 02:49] jkotas commented on #917
It looks like the `EMIT_BREAKPOINT` is the next place that's causing problems. Could you please take try: https://github.com/jkotas/coreclr/commit/9a30fc7b31d1bd8f451def624980ad21c70c0a6f

[2016-11-19 03:40] MichalStrehovsky commented on #8126
`Microsoft.CSharp.RuntimeBinder.RuntimeBinderException` is thrown from System.Dynamic.Runtime and has to do with handling of the C# `dynamic` keyword. If you believe this is a bug in dynamic runtime's method binding, please open an issue in the [dotnet/corefx](https://github.com/dotnet/corefx) repo - that's where the runtime binder lives.

[2016-11-19 03:40] #8126 closed

[2016-11-19 04:38] lggomez commented on #6681
I was just taking a look at the behavior of this code and I noticed that in addition of having a different outcome in coreclr vs desktop, it also doesn't crash for the intended reason

The invocation itself is failing because it's exceeding the allocation limit, instead of failing to invoke by design as @jkotas mentioned.
Please correct me if I'm wrong, but for large strings it seems that it falls

[2016-11-19 06:11] jkotas commented on #8203
Note that we have runtime tricks to play with now that ArrayPool is in corelib. For example, if there are arrays in thread-local caches that are not getting a good use for a while, it should be pretty straightforward to flush them when the GC kicks in. These kind of optimizations is what I have in mind with #7747.

[2016-11-19 08:28] litichevskiydv commented on #7728
@janvorli, yes you right. I added changes you suggested and updated code on server.
Yesterday I've updated dotnet version on server, now it is 1.0.0-preview2-1-003177, and program uses .NET Core 1.1.
Now I'm waiting :smiley:

[2016-11-19 09:33] xoofx commented on #5851
Is the problem of the smart field pointer "object or native memory pointer" is solved or what is the current plan?

I was wondering if we could introduce a new kind of "smart" pointer type which would be recognized by the GC to scan it safely and efficiently. For example, would it be possible to assume that we reserve 1 bit for this smart pointer (from example, from the lower bit where we don't al

[2016-11-19 11:18] cydhaselton commented on #917
@jkotas Done. Still has TEXTRELs. Output below:

scanelf:  http://pastebin.com/HM5HHZ2K
textrel offset: http://pastebin.com/v6SN5Wxw
function offset: http://pastebin.com/iK55KdyL

[2016-11-19 11:24] benaadams commented on #5851
@xoofx I think the `Memory<T>` component which can be on heap and you can surface `Span<T>` from might cover this? Its still in [corefxlab](https://github.com/dotnet/corefxlab/tree/master/src/System.Slices/System/Buffers) as the design isn't finalised.

[2016-11-19 13:38] stephentoub commented on #8203
Great, that'll be cool.  This is essentially why I kept this issue (#8203) separate from #7747.  I see this as two separate things:
- Improve the global pool
- Add local pools with whatever tricks we can muster
It's also why in #8209 I separated the implementations into two concrete derivations of ArrayPool, so that we can then take it to the next step and apply local pools to the shared one witho

[2016-11-19 15:54] gkhanna79 commented on #8200
Thank for filing this @jphellemons.

@piotrpMSFT Is CLI the right repo to move this issue for the right folks to look at?

[2016-11-19 15:59] gkhanna79 commented on #8148
Workaround is described in https://github.com/dotnet/corefx/issues/13814 and appears to help.

@JohnChen0 is looking into a fix for 1.2.0 and will also look into bringing it in for 1.1.1.

[2016-11-19 16:00] gkhanna79 commented on #8130
@wtgodbe PTAL.

[2016-11-19 17:05] piotrpMSFT commented on #8200
This is a fairly well known issue. Please look at https://github.com/dotnet/cli/blob/rel/1.0.0/Documentation/ProjectJsonToCSProj.md. I hope the doc helps, but if there are still concerns please do reopen this at https://github.com/dotnet/cli

[2016-11-19 17:05] #8200 closed

[2016-11-19 18:29] #6599 closed

[2016-11-19 18:38] karelz commented on #6771
Can you please report it in [dotnet/core-setup](https://github.com/dotnet/core-setup) repo?
cc: @schellap @gkhanna79

[2016-11-19 18:38] #6771 closed

[2016-11-19 18:46] lggomez commented on #6681
So basically making FCall invocations in user code via reflection is forbidden (although not enforced by the runtime), it can be considered unexpected behavior and no one in their right mind should do it. Makes sense

Thanks for the clarification

[2016-11-19 18:52] karelz commented on #4438
No follow up in a long time, closing.
Feel free to reopen if you have more info available.

[2016-11-19 18:52] #4438 closed

[2016-11-19 18:53] #4407 closed

[2016-11-19 18:56] karelz commented on #4271
Should be resolved by now

[2016-11-19 18:56] #4271 closed

[2016-11-19 18:59] karelz commented on #4265
Please follow @svick's guidance and file API proposal in corefx repo.

[2016-11-19 18:59] #4265 closed

[2016-11-19 19:04] karelz commented on #4201
@Priya91 should we move the bug to corefx repo under System.Diagnostics.Process?

[2016-11-19 19:11] dmccaffery commented on #4201
As an FYI: I believe this issue is related to the default child process limit on macOS. I was able to work around this by creating a property list at: /Library/LaunchDaemons/limit.maxproc.plist

[code]

Might also need to up the max files limits at: /Library/LaunchDaemons/limit.maxproc.plist

[code]

A reboot is required after making these changes and it does not require disabling secure boot on O

[2016-11-19 19:12] karelz commented on #970
This is in progress -- labels are already a little bit aligned and we are creating the right coreclr areas.
See corefx [issue guide](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/issue-guide.md) for general idea.

[2016-11-19 19:12] #970 closed

[2016-11-19 19:25] #1447 closed

[2016-11-19 19:29] karelz commented on #1728
Looks explained. Closing.

[2016-11-19 19:29] #1728 closed

[2016-11-19 21:08] gkhanna79 commented on #6771
This set is either coming from CLI or VSTools. @piotrpMSFT @barrytang Which repo should the bug be filed in?

[2016-11-19 21:12] wtgodbe commented on #8130
I don't think this is related to my change, that only affected how we restore packages, this looks more related to how we build them. I can take a closer look when I'm back from vacation in a week.

[2016-11-19 22:57] piotrpMSFT commented on #6771
This belongs in the Aspnet/tooling tepo

[2016-11-19 23:17] jkotas commented on #8175
cc @tmat

[2016-11-19 23:56] tmat commented on #8175
1. Windows PDBs are not supported on Linux/MacOS. You are right, ```Microsoft.DiaSymReader.Native.*.dll``` packages a standalone build of DiaSymReader that provides DLL entry points and doesn't require COM registration. It's used by and distributed with Roslyn compilers and dotnet cli. DiaSymReader is not open source.
2. We don't currently have plans to implement a native version of Portable PDB r

[2016-11-19 23:56] tmat commented on #8175
cc @noahfalk

[2016-11-20 01:47] jkotas commented on #917
Yes, it looks like there is something in the asm file that it causing these problems, but it is hard to tell from these logs what it is precisely.

You can try to commenting out parts of the asm methods implementations to see what it will make it go away. And also once we know what exactly is causing these problems, we will need to find out alternative way to implement it.

Here is my guess what i

[2016-11-20 03:34] cydhaselton commented on #917
@jkotas Thanks. Implemented changes in the commit you posted and rebuilding now.

If TEXTRELs persist I'll post logs back here. Alternatively, I can keep commenting out methods in arm64/asmhelpers.S and post back when TEXTRELs have been resolved…if I can get an idea of which ones I should eliminate

[2016-11-20 03:55] cydhaselton commented on #917
@jkotas TEXTRELs persist.

textrel offset: http://pastebin.com/awZXfWGX

[2016-11-20 10:03] mikedn commented on #6574
Here's another instance in case you need it: https://ci.dot.net/job/dotnet_coreclr/job/master/job/checked_ubuntu_flow_prtest/238/

[2016-11-20 12:53] cydhaselton commented on #917
Think I may have made some progress. Commenting out parts of the JIT_WriteBarrier implementation in arm64/asmhelpers.S resulted in one TEXTREL in the scanelf output:

`scanelf -T $PREFIX/bin/Product/Linux.arm64.Debug/libcoreclr.so                             TYPE   TEXTRELS FILE                                                                         libcoreclr.so: (memory/data?) [0x44FCC8] in (opt

[2016-11-20 14:48] cydhaselton commented on #917
Output after commenting out UMThunkStub related lines

textrel offset: http://pastebin.com/07tbQ4a0
function offset: http://pastebin.com/33Ek5qTj

[2016-11-20 15:09] jkotas commented on #917
Yes, less `scanelf -T` output should be a good thing.

The one thing that WriteBarrier and UMThunkStub have in common is that they access global variables. Global variable  access done incorrectly can lead to TEXTREL problems.

Could you please common out all static variable access and see whether it makes the problem go away? They are the `ldr <register>, =<name>` instructions: https://github.com

[2016-11-20 15:20] jkotas commented on #917
The proper fix for the static variable access should be to use PREPARE_EXTERNAL_VAR, like we are using on amd64: https://github.com/jkotas/coreclr/commit/c3c0448ce38c0651b98d7145edb01148be8f3300

[2016-11-20 15:35] cydhaselton commented on #917
Rebuilding now…however all static variable access was already commented out…with the exception of TrapReturningThreads.

[2016-11-20 16:46] cydhaselton commented on #917
Commenting out related static variable access lines in arm64/asmhelper.asm did not resolve the issue; scanelf still reporting TEXTREL markings but no real TEXTRELs.  Any ideas on where to look next?

[2016-11-20 17:16] ww898 commented on #8175
Does it mean that .NET executables which was compiled with Windows PDB can properly work on Linux / MacOS, but, at the same time, a CoreCLR profiler can't instrument IL code, because there is no official way to excavate per statement IL offsets from Windows PDB?

[2016-11-20 17:23] jkotas commented on #917
Random ideas:
- It may be compiler or linker bug. Try latest or different version.
- It may be interesting to find out whether the problem is coming from asm files or somewhere else. Remove all arm64 asm files from the build and see whether the problem is still there.

[2016-11-20 18:11] gwicksted opened #8214 "Buffer.BlockCopy data corruption on last byte when used with char arrays"
NOTE: I know using `Buffer.BlockCopy` for copying `char`s like this is a bad idea (especially since the stream was UTF-8) -- this was a mistake after changing my file reading function to use a `TextReader` instead of a `Stream`.  However, all chars were within ASCII (7 bit) range with the only non-printables being '\r' and '\n' so I do not believe it conformed to spec which is why I am reporting t

[2016-11-20 18:22] stephentoub commented on #8214
StreamReader.ReadAsync returns the number of chars read, not the number of bytes read, yet BlockCopy expects the last argument to be the number of bytes, so you're only copying 496 bytes, not 496 chars (which is 992 bytes).

Looks like part of the problem here may be that the StreamReader.ReadAsync docs are wrong, as they state for the return value that it's in bytes.

[2016-11-20 18:26] cydhaselton commented on #917
Removed all arm64 and arm asm files from build and rebuilding now.
An update for compiler/linker isn't available on my system yet and I'm not sure if it's possible to roll back…I'll check

[2016-11-20 18:37] gwicksted commented on #8214
Hi @stephentoub can't believe I missed that... you're absolutely right.  Also, you are correct StreamReader's docs are misleading for newcomers.  Guess it wasn't a total bust!

[2016-11-20 18:42] tmat commented on #8175
Yes, if the profiler needs to read line info from a Windows PDB it won't work on Linux/MacOS. Portable PDBs were introduced to support x-plat debugging/tooling.

[2016-11-20 18:55] stephentoub commented on #8204
cc: @kouvel

A pool would be interesting, but I think it would be challenging here, as to my knowledge we don't have a great way to track the lifetimes of these objects and return them to the pool only when we're sure no one else is using them.

I think the proposal is a reasonable one to explore.  The current design assumes that the primary operations will be flowing values and accessing values,

[2016-11-20 18:56] mikedn commented on #8181
@sivarv Is there any technical reason why the JIT doesn't use `pmovmskb` for compares? I modified the JIT to emit `pmovmskb` and it seems to work fine but maybe I'm missing something.

[2016-11-20 19:09] stephentoub commented on #8204
@BertanAygun, can you give me a better sense for the scenario, how many AsyncLocals you typically have flowing around, etc.?

[2016-11-20 19:19] cydhaselton commented on #917
Latest result:
`dlopen failed to open the libcoreclr.so with error dlopen failed: cannot locate symbol "CallDescrWorkerInternal" referenced by "/data/data/com.termux/files/usr/bin/Product/Linux.arm64.Debug/libcoreclr.so"..`

Will start adding asm files back in one by one…

[2016-11-20 20:40] cydhaselton commented on #917
@jkotas We have a culprit: calldescrworkerarm64.S

With that file removed from the build, dlopen fails complaining of missing symbol `CallDescrWorkerInternal`. With the file in the build, scanelf reports TEXTREL markings but no TEXTRELs.

[2016-11-20 20:44] sivarv commented on #8181
@mikedn - I agree equality compare that produces bool result can be improved using pmovmskb.  I was thinking of trying it out myself.  In case if you have a PR ready,  pleasse go ahead.  Otherwise I can take over this issue.

[2016-11-20 23:12] palutz opened #8217 ".NetCore on Linux (Mint 18/Ubuntu 16.04) fails to compile just created F# project"
Hi,
trying to play a bit with F# and .NetCore (1.1). I've read F# is supported so I was trying it but with no luck.
This is my system:

and

I create my new app like this:

but when I try to run it (without any modification, just to see the classic "Hello World") I got this:

And I attached the project.json (converted to .txt) to help.

[project.json.txt](https://github.com/dotnet/coreclr/files/60

[2016-11-20 23:43] stephentoub commented on #8214
@mairaw, how do we go about fixing these docs?

[2016-11-20 23:54] mairaw commented on #8214
I'll reopen this issue so we can get the API reference docs fixed @stephentoub. The API docs are kind of a hack in the moment until we get the full open source solution in place.

[2016-11-20 23:55] mairaw commented on #8214
Ah can someone reopen this one and assign this one to me? I thought this was in the docs repo.

[2016-11-21 00:10] stephentoub commented on #8214
Done. Thanks.

[2016-11-21 00:53] seanshpark commented on #8188
Wow, thanks for the support! I got lots of things to study and learn and don't think I can do this by myself by looking at the updated task items :)
I just got the make files rough fixes so that CoreCLR builds with no errors last weekend on my local Linux machine but not executable yet. I'll try to make a PR one by one to fix the builds.
I've found some `.asm` translation needed to `.S` and also s

[2016-11-21 02:06] mellinoe opened #8220 "Vector3.Normalize(), .Distance(), and .Equals() do not return correct values in some cases"
I've been trying to track down an obscure issue with a project I am working on, and I believe I've found the root cause to be related to `Vector3.Normalize` not returning correct values. I haven't yet been able to get a very minimal repro, but the problem always occurs in the context of my project (which is fairly compex). The scenario is as follows:

* Running an anonymous delegate with one param

[2016-11-21 02:12] mellinoe commented on #8220
Another important thing: I didn't notice this for a very long time because it does not repro in Debug builds. It only repros in Release mode builds.

[2016-11-21 02:19] jkotas commented on #8217
@palutz Could you please open this issue in https://github.com/microsoft/visualfsharp instead?

cc @KevinRansom

[2016-11-21 02:58] lggomez opened #8221 "Build cannot detect CMake with both x86 and x64 versions installed"
The following line in [probe-win](https://github.com/dotnet/coreclr/blob/master/src/pal/tools/probe-win.ps1#L31) will fail to resolve the CMake path when there are multiple versions installed:

[code]

If we have installed both x86 and x64 versions of cmake, there will be 2 command definitions:

[code]

If there is no strict requirement for the cmake version to use, replacing the line by the follo

[2016-11-21 04:40] jkotas commented on #917
You can try changing UnhandledExceptionHandlerUnix to NoHandler:

[code]

Otherwise, I do not see anything wrong in CallDescrWorkerInternal. I would binary search to find the part with the problem

This TODO should not be a problem. However, `CallDescrWorkerARM64.S` needs to be brought in sync with `CallDescrWorkerARM64.asm`.  `.S` is the Unix version and `.asm` is the Windows version. The Windows

[2016-11-21 04:52] seanshpark opened #8222 "Question on _TARGET_X86_ for x86/Linux"
x86 port for Windows 32 uses `_TARGET_X86_` as compile directive. Some codes have also `_MSC_VER` but not all. I would like to know a good way to enable also for x86 Linux.
To enable also for Linux.
1. Should I use `_TARGET_X86_` and then inner block with `_MSC_VER` or else block ?
2. Or, maybe `_TARGET_X86_ && _MSC_VER` for Windows and `_TARGET_X86_ && LINUX32` for Linux after adding `LINUX32` ?

[2016-11-21 04:54] seanshpark commented on #8222
cc @janvorli , @jkotas, @gkhanna79, @lemmaa

[2016-11-21 05:37] jkotas commented on #8222
You should use `_TARGET_X86_`.

`_MSC_VER` is meant for code specific to Microsoft Visual C++ compiler. `PLATFORM_UNIX` is meant for code specific to Unix platform. Another one is `FEATURE_PAL` - it is meant for code specific to the PAL adaption layer that we use on non-Windows platforms. So which one to use depends on the context.

[2016-11-21 05:57] seanshpark commented on #8222
OK, so then I should use
- `_TARGET_X86_` and `WIN32` for Windows / `_TARGET_X86_` and `PLATFORM_UNIX` for Linux.
- use also `FEATURE_PAL` for PAL codes

[2016-11-21 06:04] mikedn commented on #8181
@sivarv OK then, I'll finish my changes and send a PR.

[2016-11-21 06:57] mellinoe commented on #8220
I tracked down a couple more places that were behaving differently in Debug and Release builds, or with `COMPLUS_FEATURESIMD=0`. These commits were what I needed to do to work around the problem:

https://github.com/mellinoe/ge-test-game/commit/78f682085d5214a62d7a353c05bce99a994cd2d6
https://github.com/mellinoe/ge-test-game/commit/98405dd6e27d62acbfd44b80a46086eef4286860

The fixes were essential

[2016-11-21 07:19] jkotas commented on #8203
If the pathological case that requires forceful load-balancing is rare, we may be able to avoid the synchronization cost for common case by using [RCU](https://en.wikipedia.org/wiki/Read-copy-update) algorithm. Either way, it may be a nice to add `Interlocked.FlushProcessWriteBuffers()` as public API. I am pretty sure that there are quite a few interesting RCU datastructures that it would encourag

[2016-11-21 07:56] palutz commented on #8217
@jkotas sure!

[2016-11-21 08:32] zwcloud commented on #641
Is it in the documentation now? I cannot find it.

I think the documentation should be something similar to [what mono has provided](http://www.mono-project.com/docs/advanced/embedding/) to host/embed coreclr in C/C++.

[2016-11-21 09:38] janvorli commented on #917
It seems very likely that the personality routime (the UnhandledExceptionHandlerUnix) could be causing the issue. The NESTED_ENTRY macro on ARM64 uses `DW_EH_PE_absptr` encoding, which represents an absolute pointer.
That means the relocation would be in the exception handling tables and would be caused by all uses of NESTED_ENTRY where the exception handler is not NoHandler. These are FuncEvalHij

[2016-11-21 10:37] janvorli commented on #8222
@seanshpark Please note that you will very likely not need to distinguish between Windows and Linux. The PAL is Unix only and the rest of the runtime should be platform agnostic (unless there is something that cannot be handled that way).

[2016-11-21 10:48] #8217 closed

[2016-11-21 11:07] Marqin commented on #641
@zwcloud here's my example: https://github.com/Marqin/simpleCoreCLRHost

[2016-11-21 12:36] lucenticus opened #8223 "[GDB-JIT/Linux] Incorrect argument type for generics"
I'm testing gdb-jit interface on coreclr tests and detected incorrect behavior with following test (reduced  test from `coreclr/tests/src/JIT/Generics/Instantiation/Classes/BaseClass01.cs`):

[code]
When I set breakpoint to GenBase.InstVerify, I get System.__Canon instead of System.String as a type argument. This test case works correctly with basic types like int, double, short etc.
Here is an ou

[2016-11-21 13:30] ayende opened #8224 "Silent crash on Raspberry PI 3"
I currently have the CoreCLR running on Raspberry PI, and I'm trying to get it to serve requests via Kesterl.

I'm using a debug version of the CoreCLR, and cross compiling everything from a Ubuntu machine (the Pi is running Ubuntu Mate).

I've managed to go all the way to Kestrel starting up properly, but it lasts a few seconds (receiving no requests), and then exit with exit code 66 (0x42).

My

[2016-11-21 13:42] cydhaselton commented on #917
@janvorli Done. Rebuilding now.  FYI, the previous macro was identical to what you posted with the exception of the personality routine: `.cfi_personality 0, C_FUNC(\Handler) // 0 == DW_EH_PE_absptr`

@jkotas `.asm` is listed in the build files for ARM64, and I don't think there's an #if restricting it to win32.

@janvorli and/or @jkotas Are there any references for the `.asm/.S` sources…either ge

[2016-11-21 13:48] janvorli commented on #917
@cydhaselton - right, only the .cfi_personality part is different.
As for the .asm files - the asm files are selected for windows build in the src/vm/CMakeLists.txt, so there is no `#if` in the source.

[2016-11-21 13:50] cydhaselton commented on #917
@janvorli Next error:
`dlopen failed to open the libcoreclr.so with error dlopen failed: cannot locate symbol "ThePreStubPatch" referenced by "/data/data/com.termux/files/usr/bin/Product/Linux.arm64.Debug/libcoreclr.so"...`

Re-including asmhelpers.S in CMakeLists.txt and re-building.

[2016-11-21 13:51] jnm2 commented on #6599
Is there a writeup on how the number 4 was chosen? Would be an interesting read.

[2016-11-21 13:57] janvorli commented on #8223
The System.__Canon represents any reference type in generic instantiation. That way, generic instantiations can share code for all reference types. The method table representing such a generalization of a type is called Canonical method table. And that's what you are getting for "this".
Method table for an instantiated generic type contains a pointer to the canonical method table. However, the can

[2016-11-21 14:49] BertanAygun commented on #8204
@stephentoub, this came up during a perf investigation in Visual Studio. We typically have 1 or 2 instances of AsyncLocal active in the scenario we were looking at.

[2016-11-21 14:52] asadsahi opened #8225 ".net core 1.1 upgrade."
I also installed VS 2017 RC and opend my project, which added csproj file. I deleted that asuming that project.json will still work but getting this error:

AspNetCoreSpa.xproj(8,3): error MSB4019: The imported project "C:\Program Files\dotnet\sdk\1.0.0-preview3-004056\Extensions
\Microsoft\VisualStudio\v14.0\DNX\Microsoft.DNX.Props" was not found. Confirm that the path in the <Import> declaration

[2016-11-21 14:54] jkotas commented on #972
The mirror is disabled, so this can be done now.

1 and 2 can be worked on in parallel. 3 should be done only after 1 and 2 are done.

[2016-11-21 15:00] stephentoub commented on #8204
Thanks

[2016-11-21 15:04] gkhanna79 commented on #8224
@kouvel @janvorli Can you PTAL?

[2016-11-21 15:29] janvorli commented on #8224
@ayende the strange thing in the stack trace is that the UTF8Encoding::GetChars shows that all the parameters are valid, but the Contract::Assert cond parameter is false and the str parameter value is 3 which doesn't make sense at all since the string is a string literal passed to the Contract::Assert.
What did GDB print besides the frame details when it has stopped inthe Contract::Assert? Also, c

[2016-11-21 15:46] cydhaselton commented on #917
Reincluding .asm files back into the build then re-running build stopped working. Dlopen is now complaining with the following:
`dlopen failed to open the libcoreclr.so with error dlopen failed: cannot locate symbol "StubDispatchFixupStub" referenced by "/data/data/com.termux/files/usr/bin/Product/Linux.arm64.Debug/libcoreclr.so"...`

I've re-included asmhelpers.S and asmhelpers.asm back into the

[2016-11-21 16:09] #8204 closed

[2016-11-21 16:32] ryanslade opened #8226 "Error compiling fresh F# project"
I see the same issue in Linux or from the Docker container.

To reproduce:

[code]

[2016-11-21 16:49] janvorli commented on #917
The StubDispatchFixupStub is not implemented for ARM64 yet. You can add it to the src/vm/arm64/asmhelpers.S.
I have tried to blindly translate the ARM version to ARM64 for you:
[code]

[2016-11-21 16:54] jkotas commented on #917
@janvorli This should be translated from Windows ARM64 version: https://github.com/dotnet/coreclr/blob/master/src/vm/arm64/asmhelpers.asm#L1262

[2016-11-21 16:58] janvorli commented on #917
@jkotas ah, I see. @cydhaselton, then it seems we can just copy the Windows version (including the surrounding #ifdef)

[2016-11-21 17:05] jamesqo commented on #972
:+1: :tada: Have been waiting this for months.

[2016-11-21 17:14] karelz commented on #972
Do you plan to grab it?

[2016-11-21 17:16] weshaggard commented on #4506
@AlexGhiondea we should probably do that for this issue if we haven't already.

[2016-11-21 17:35] rajkumar42 opened #8228 "WSL Ubuntu 16: On resume application throws AccessViolationException and quits."
Configuration:
Windows RS2 with “Bash on Ubuntu on Windows”  installed.
Install "dotnet cli" on WSL. Reproduces in preview2 and preview4.

Repro steps:
Copy clrdbg to user on WSL.
Run a simple application through VSCode, using pipe transport from windows host.
Set a breakpoint.
F5 to hit the breakpoint.
Don't remove the breakpoint. F5 to resume execution.

Expected:
Application resumed execution.

[2016-11-21 17:37] AlexGhiondea commented on #4506
I have tagged https://github.com/dotnet/corefx/pull/13747 with netfx-port-consider.

[2016-11-21 17:41] karelz commented on #4582
@leemgs what is the action item here? Adding new docs? Bug in code or infra?

[2016-11-21 17:41] #4582 closed

[2016-11-21 17:43] karelz commented on #4630
@janvorli ping?

[2016-11-21 17:53] karelz commented on #4743
It should be fixed now: https://github.com/dotnet/corefx/blob/2117bae3a6c9736033e6d1659821ff3a1069920b/src/System.Runtime.Extensions/src/System/Environment.Unix.cs#L374-L392

[2016-11-21 17:53] #4743 closed

[2016-11-21 17:56] karelz commented on #4799
Seems to be exposed now: https://github.com/dotnet/corefx/blob/1ee59d81e35fb9576ba37d0071388da0d8a6cc5e/src/System.Runtime.InteropServices/ref/System.Runtime.InteropServices.cs#L60-L61

[2016-11-21 17:56] #4799 closed

[2016-11-21 17:58] karelz commented on #4521
Looks like we dropped the ball on this question.
@piotrpMSFT any suggestion?

[2016-11-21 17:58] am11 commented on #4799
Thanks for the heads up @karelz! :)

cc @oschwald.

[2016-11-21 17:59] karelz commented on #4538
Old and likely answered. Please reopen if more info is still needed.

[2016-11-21 17:59] #4538 closed

[2016-11-21 18:45] cydhaselton commented on #917
@janvorli @jkotas Thanks. So am I adding the lines from the link to arm64/asmhelpers.S or .asm?

[2016-11-21 18:47] janvorli commented on #917
@cydhaselton .asm files are for windows only. .S are for Unix. So you copy the function source from https://github.com/dotnet/coreclr/blob/master/src/vm/arm64/asmhelpers.asm to https://github.com/dotnet/coreclr/blob/master/src/vm/arm64/asmhelpers.S
Including the #ifdef that wraps it.

[2016-11-21 18:48] #8171 closed

[2016-11-21 19:02] RussKeldorph commented on #7669
@karelz @AtsushiKan Can you just disable the assertion for now to unblock #8158 investigation?

[2016-11-21 19:07] RussKeldorph opened #8231 "RyuJIT/x86: JitStress=2 CoreFx System.Threading.Tests: Assertion failed '!"Did not find oldTarget in jumpTab[]"'"
coreclr *(assuming root=c:\git\coreclr)*
[code]
corefx *(assuming root=c:\git\corefx)*
[code]
**Output**
[code]

[2016-11-21 19:07] karelz commented on #7669
@RussKeldorph please check with @AtsushiKan decide what is the best course here now.

[2016-11-21 19:10] RussKeldorph opened #8232 "RyuJIT/x86: JitStress=2 CoreFx System.Runtime.Tests: Consistency check failed: AV in clr at this callstack: CORECLR! GetCLRRuntimeHost + 0x2A896 (0x630d35c6)"
coreclr *(assuming root=c:\git\coreclr)*
[code]
corefx *(assuming root=c:\git\corefx)*
[code]
**Output**
[code]

[2016-11-21 19:27] jkotas commented on #8223
`EECodeManager::GetParamContextType`, `EECodeManager::GetParamTypeArg` and `EECodeManager::GetExactGenericsToken` are related to this. Note that the generic context may be optimized out (e.g. if the method does not need it), so you may not be able to get the exact generic instantiation at all. If the exact generic context is not available, the diagnostic tools usually use the names of the generic

[2016-11-21 19:27] RussKeldorph opened #8234 "x86: CoreFx System.Runtime.Extensions.Tests: Precondition failure: FAILED: ExceptionNotifications::CanDeliverNotificationToCurrentAppDomain(notificationType)"
Saw this one time but couldn't repro.  Not sure x86-specific.  Logging in case it's useful.

**Commits**
f4b527dfb2ed02e268e4f1d5318fa79053ede064
dotnet/corefx@2ffdc9427def591cb7eea4541788a7b3209095c5

**Repro**
coreclr *(assuming root=c:\git\coreclr)*
[code]
corefx *(assuming root=c:\git\corefx)*
[code]
**Output**
[code]

[2016-11-21 19:33] Priya91 commented on #4201
As per @dmccaffery's investigation, seems like it's an OS enforced limitation. If the issue still persists, then we can move to corefx.

[2016-11-21 19:48] rahku commented on #8160
@RussKeldorph is any specific test failing or is this an assert during xunit runner code.  Looks like latter to me. Also does this only repro with "set COMPlus_AltJitName=protojit.dll"

[2016-11-21 19:49] cydhaselton commented on #917
@janvorli Hmmm…build failed with a bunch of errors:

`<instantiation>:3:32: error: expected identifier in directive                                       .cfi_personality 0x10,                                                                                             ^                                                            /data/data/com.termux/files/usr/tmp/asmhelpers-054e3b.s:467:9: note: w

[2016-11-21 19:56] mikedn commented on #8231
Side question/suggestion: wouldn't be useful to include the stack trace in the assert message? That may provide an early hint about what/where the problem might be and who might want to look at it.

For example this one hits in
[code]
I was thinking that maybe it has something to do with fg manipulation in, say, long compare lowering but it turns out that we don't even reach lowering, this happens

[2016-11-21 20:01] jkotas commented on #8226
Duplicate of https://github.com/Microsoft/visualfsharp/issues/1791

[2016-11-21 20:01] #8226 closed

[2016-11-21 20:02] RussKeldorph commented on #8160
@rahku I don't know the answer to your first question.  Regarding COMPlus_AltJitxxx, last week I reproduced this with x64, so the AltJit settings should not be required.  It was just that I found this while testing x86.

[2016-11-21 20:17] karelz commented on #4201
Closing for now then. If there is anything the platform can do, please open an issue in corefx repo, thanks!

[2016-11-21 20:17] #4201 closed

[2016-11-21 20:49] RussKeldorph commented on #8231
@mikedn Thanks.  Yes, absolutely useful.  I focused on getting the issues logged as quickly as possible, which is why I didn't take the time to get the stack, but it's a reasonable ask.

[2016-11-21 20:51] janvorli commented on #917
Ah, we also need to add NoHandler parameter to the NESTED_ENTRY for the StubDispatchFixupStub like this:
`NESTED_ENTRY StubDispatchFixupStub, _TEXT, NoHandler`

[2016-11-21 20:51] mikedn commented on #8231
@RussKeldorph I wasn't saying that you should have obtained the stack, I'm saying that it should be printed by default when the JIT asserts. AFAIR the runtime already does that, it's only the JIT that shows only the assert line.

[2016-11-21 20:54] #2183 closed

[2016-11-21 20:54] RussKeldorph commented on #8231
@mikedn Ah, I see.  Seems reasonable to me, especially since JIT and runtime are inconsistent.

[2016-11-21 21:20] mikedn commented on #8231
Possibly loop unroll related. After turning off various optimizations the assert moved to lower.cpp:
`assert(afterDefaultCondBlock->bbJumpSwt->bbsHasDefault);`. After disabling unrolling the assert goes away.

AFAIR a recent change enabled loop unrolling in the presence of conditional blocks and `ReaderWriterLockSlimTests:Dispose` does contain a switch in a loop that gets unrolled.

[2016-11-21 21:34] cydhaselton commented on #917
Yup, fixed.
Next error:  dlopen can't find "OnHijackScalarTripThread" symbol.  Copy this from Windows implementation as well?

[2016-11-21 21:35] pgavlin commented on #8231
cc @JosephTremoulet

[2016-11-21 21:38] pgavlin commented on #8232
Investigating this is complicated somewhat by #8160, which frequently fires before the assertion mentioned in this issue.

[2016-11-21 21:57] RussKeldorph opened #8236 "CoreFx System.Threading.ThreadPool.Tests Assert failure(PID 12444 [0x0000309c], Thread: 14068 [0x36f4]): counts.MaxWorking > 0"
Commits:
2586931da13c1c30100f999905ae356d6fd6cfa1
dotnet/corefx@fde03d52cfcfef69464923a68e28898bc977635a

Repro:
coreclr *(assuming root=c:\git\coreclr)*
[code]
corefx *(assuming root=c:\git\corefx)*
[code]
**Output**
[code]

[2016-11-21 21:57] RussKeldorph commented on #8236
@kouvel Since I believe you recently added these tests.

[2016-11-21 22:17] elw00d opened #8237 "Native interop fails with array of struct (libc.poll)"
Hello

I have some code that calls `libc.poll` http://man7.org/linux/man-pages/man2/poll.2.html

[code]

I'm trying to run it in coreclr on Ubuntu 16.04 (x64) and always get `POLLEVENTS.NONE` instead of `POLLEVENTS.POLLIN` when keyboard was pressed. This code works well in Mono, so I think there is a bug in interop mechanism when dealing with array of structs.

[2016-11-21 22:24] Petermarcu opened #8238 "Fix subsystem versions for arm, arm64, x86, and x64"
Follow up to this: https://github.com/dotnet/coreclr/pull/8211

[2016-11-21 22:28] Petermarcu commented on #8238
Needs fixes in coreclr corefx and core-setup

[2016-11-21 22:31] janvorli commented on #917
@cydhaselton Are you sure you have the latest sources? This symbol was removed quite some time ago. The currently used one is OnHijackTripThread.
Btw, can you try to run `ldd -r libcoreclr.so`? That would show you all the missing symbols.

[2016-11-21 22:48] adiaaida commented on #7693
This is no longer failing in CI: https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x86_ryujit_checked_windows_nt_gcstress0x3/2/

[2016-11-21 22:50] adiaaida commented on #7693
It is, however, failing with complus_gcstress=0xc: https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x86_ryujit_checked_windows_nt_gcstress0xc/3/

[2016-11-21 22:50] pgavlin commented on #7693
Argh. Well, at least that's easier to repro :)

[2016-11-21 23:17] cydhaselton commented on #917
@janvorli I don't; as [part of troubleshooting ](https://github.com/dotnet/coreclr/issues/917#issuecomment-261290741)I downloaded an earlier release.

I could quit troubleshooting this build and start over with the latest. I'd rather not if at all possible, given how much time I've put in with these sources.

BTW, copying from the Windows implementation for OnHijackScalarTripThread worked

[2016-11-21 23:31] seanshpark commented on #8222
I sometimes forget this important fact. Thanks for reminding :)

[2016-11-22 00:08] JohnChen0 opened #8239 "Windows R2R tests in release/1.1.0 has a failure caused by a test bug"
The `JIT/opt/Tailcall/TailcallVerifyWithPrefix` test case always fails during Windows R2R testing in release/1.1.0 branch. A fix for this should be ported from master branch to keep the testing clean.

[2016-11-22 00:09] #8179 closed

[2016-11-22 01:04] karelz commented on #8225
@gkhanna79 @weshaggard do you know who could help?

[2016-11-22 01:05] pgavlin opened #8243 "RyuJIT/x86: import non-target intrinsics as intrinsics"
As of #8235, RyuJIT/x86 imports intrinsics that are not supported by the target as calls to user functions. This has an obvious CQ downside in that it prohibits the compiler from reasoning more precisely about the behavior of the calls. Unfortunately, there is a phase ordering issue that complicates importing these intrinsics as intrinsics and allowing the rationalizer to rewrite them back into us

[2016-11-22 01:08] gkhanna79 commented on #8225
@piotrpMSFT or @barrytang should be able to help.

[2016-11-22 01:13] pgavlin commented on #8231
I have confirmed that this still repros even after #8185.

[2016-11-22 02:34] seanshpark commented on #8222
I think this issue can be closed.

[2016-11-22 02:36] #8222 closed

[2016-11-22 02:54] gokarnm commented on #7812
Hi @gkhanna79, here are the pieces of resolution logic that are interesting for someone implementing hosting/plugin scenarios.

1. In corehost , [deps_resolver_t::resolve_probe_paths](https://github.com/dotnet/core-setup/blob/master/src/corehost/cli/deps_resolver.cpp#L595) has logic that merges deps.json, applies RID precedence, and comes up with the list of paths (TPA list, native paths, resource

[2016-11-22 07:52] seanshpark opened #8248 "Q) x86/Linux, stdcall calling convention ignored on variadic function"
While working on x86/Linux, I get this error,
[code]
This code is wrapped with
[code]
so seems only for x86/Linux case.

Can I change like this?
[code]

[2016-11-22 07:52] seanshpark commented on #8248
CC @janvorli , @jkotas , @gkhanna79

[2016-11-22 10:21] cydhaselton commented on #917
@janvorli Latest error is dlopen not being able to find "s_forcedGCInProgress."  Unfortunately I don;t have ldd on my system.

At this point, would your recommendation be to start over with the latest sources?

[2016-11-22 10:44] jkotas commented on #8248
`__stdcall` needs to stay defined as `__attribute__((stdcall))`.

I would fix this by changing STDMETHODCALLTYPE to STDMETHODVCALLTYPE on the affected method in xclrdata.h.

[2016-11-22 10:45] janvorli commented on #917
@cydhaselton why would you need to start over? Would rebasing your changes using git on the latest master not work?
As for the , can you try to wrap all occurences of `extern bool s_forcedGCInProgress;` in #ifdef FEATURE_EVENT_TRACE? All usages of the s_forcedGCInProgress are already ifdefed this way, so maybe Android linker requires that extern declarations must also have definitions even if they

[2016-11-22 11:25] seanshpark commented on #8248
Thanks, I'll use `STDMETHODVCALLTYPE` for variadic functions.

[2016-11-22 11:43] seanshpark commented on #8248
There's a line
[code]
on top of the file. Is it ok to change manually?

[2016-11-22 11:48] jkotas commented on #8248
This fix requires exception from this rule - there is no better way.

In case that this file needs to be regenerated in future, the change will need to be reapplied manually. I believe that we have a few other similar places in these auto-generated files.

[2016-11-22 11:49] seanshpark commented on #8248
OK, got it. Thank you.

[2016-11-22 11:49] #8248 closed

[2016-11-22 13:15] zidad commented on #8225
I have the same, VS2017 broke the build for my current .NET core projects.

[2016-11-22 13:18] cydhaselton commented on #917
@janvorli I didn't clone the sources, I downloaded the 1.0.0 release tarball from the site.  Therefore the build tree I'm working with is local only, and not a repo

I could probably establish it as a repo, push it to github and rebase it, but I'd need to do some research first.  In the meantime I'll apply your suggestion and re-build

[2016-11-22 13:44] asadsahi commented on #8225
Another observation is that vs2017 isn't upgrading .net 1.0+ to 1.1 projects properly. Gives an error.

Also, question for some experts, Is .net 1.1 replacing project.json to csproj? The reason I asked if we create a new .net core web application in VS 2017, it doesn't create a project.json, instead puts all the dependencies inside .csproj file. Another dilima for VS code users at thint point in t

[2016-11-22 14:27] ayende commented on #8224
Okay, this is really strange.
Running
[code]

Starts the program and work for a short while before it dies without a sign why.

I tried starting it under gdb, and I'm getting:

[code]

This happens immediately, and consistently.

`disass` gives an error (`No function contains program counter for selected frame.`)

And `info registers` gives:

[code]

Note that I can _attach_ to the process using g

[2016-11-22 14:33] ayende commented on #8224
When attaching, I'm seeing:

[code]

Note that nothing in my code can generate exit code 66 (octal 0102), so I'm pretty sure that this indicative of some error.
But I'm not getting any signals, or seeing anything, really, no errors or anything like that.
Using `strace` also shows me nothing interesting.

Any ideas on how to approach figuring out what is going on here?

[2016-11-22 14:54] ayende commented on #8224
More info, I'm seeing:

[code]

I assume that this is used for something (likely GC?) and this is normal. So I hit continue, I got this a few times, then this:

[code]

I got a lot of both of those, so I skipped them:

[code]

I think that the traps are because of this:

https://github.com/dotnet/coreclr/blob/master/src/vm/threadsuspend.cpp#L5299

And it looks like the problem is that this is too

[2016-11-22 15:04] janvorli commented on #8224
SIG34 is used by GC, so it is expected. And based on the call stack you are right with the SIGTRAP. However, it is very strange that even on PI, we would not be able to suspend a thread in 40 seconds, which is the default value of g_pConfig->SuspendDeadlockTimeout(). It rather seems as if the thread we are trying to interrupt was in an infinite loop or something.

The fact that you cannot see reas

[2016-11-22 16:45] RussKeldorph commented on #8220
@dotnet/jit-contrib

[2016-11-22 16:51] RussKeldorph commented on #8053
@dotnet/jit-contrib

[2016-11-22 17:20] pgavlin commented on #7693
@adiaaida: it looks like this fails with all of RyuJIT/x86, the x86 legacy backend, and JIT32. I suspect that this test is simply GC stress incompatible on x86.

cc @swgillespie

[2016-11-22 17:35] pgavlin commented on #8232
CLosed by #8242.

[2016-11-22 17:35] #8232 closed

[2016-11-22 17:38] adiaaida commented on #7693
That is what I concluded too.

[2016-11-22 17:39] #5413 closed

[2016-11-22 17:43] #8231 closed

[2016-11-22 17:48] natemcmaster commented on #8225
If you want to stick with project.json for now, use the .NET Core SDK preview2. Preview3 replaced project.json with MSBuild (.csproj).

You can still use project.json. See https://blogs.msdn.microsoft.com/dotnet/2016/11/16/announcing-net-core-1-1/. This shows how to upgrade to .NET Core 1.1 with project.json tooling.

Hopefully this overview will help: https://blogs.msdn.microsoft.com/dotnet/2016/

[2016-11-22 18:05] cydhaselton commented on #917
@janvorli After applying the fix and addressing a similar issue with dlopen not finding `JIT_ByRefWriteBarrier` I'm able to run corerun without dlopen throwing errors, but now corerun is throwing this error:

``which corerun` $PREFIX/opt/microsoft/powershell/6.0.0-alpha.12/powershell                coreclr_initialize failed - status: 0x80004005``

At this point, since `which corerun` runs without

[2016-11-22 18:09] asadsahi commented on #8225
Thanks @natemcmaster a little comforting after reading these articles.

Any way to update/add nuget packages in VS code after migrating to csproj or work in progress? Will start migration now.

[2016-11-22 18:15] natemcmaster commented on #8225
The feature has been requested but is not implemented yet. cref https://github.com/Microsoft/vscode/issues/9211

[2016-11-22 18:19] janvorli commented on #917
The status 0x80004005 means that the System.Private.CorLib.dll and mscorlib.dll don't match the libcoreclr.so. They need to be built from the same version of the sources. They also need to match the build type (Release / Debug).
You can build these on Windows or amd64 Linux. On amd64 Linux, you can build them as follows:
`./build.sh arm64 debug skipnative` (or replace debug with release if you wan

[2016-11-22 18:19] jashook opened #8255 "Windows Arm64/Arm32 infrastructure: add more telemetry to runs for better debugging"
Currently, a lot of information is dropped, such as which machine the tests ran on. Which is necessary to machine specific problems.

[2016-11-22 18:45] cydhaselton commented on #917
I've already built System.Private.Corelib.dll and mscorlib.dll in a separate step;  Which folder should the files be copied from…bin/Product/Linux.arm64.Debug to the powershell folder?  Also, by same version, do you mean same point version or same source download and/or git clone?

[2016-11-22 18:48] swgillespie commented on #7693
will investigate, thanks!

[2016-11-22 18:51] ayende commented on #8224
@janvorli When starting with GDB, if I'm continuing on the SIGSEGV, the process crashes.

At any rate, we managed to narrow down the issue to our use of TcpListener.
I'm currently working on trying to reproduce the issue on a standalone program.

[2016-11-22 19:01] ayende commented on #8224
Okay, I have a repro for this.

See the code here:
https://gist.github.com/ayende/2a1472515ebf2895521aafcfbb8e13c7

Compiling this on Ubuntu 16.04 and then bringing this to the PI generate the exact same result we have seen.
The process dies with exit code 66 and when running this via gdb we are seeing:

[code]

This is 100% reproducible, both the crash resulting in 66 and the gdb SIGSEGV that ter

[2016-11-22 19:13] janvorli commented on #917
@cydhaselton I am not sure what the powershell folder structure looks like. They need to go to the place where the same named files are located.
By the same version I mean exactly the same sources.

[2016-11-22 19:15] joperezr commented on #2317
This was completed already.

[2016-11-22 19:15] #2317 closed

[2016-11-22 19:27] janvorli commented on #8224
@ayende it is great you were able to create a small repro. One more thing you can try is to build coreclr and pass -DFEATURE_GDBJIT as a parameter to build.sh. Then you can set CORECLR_GDBJIT environment variable to your exe name and use lldb instead of GDB. You should be able to see managed stack and locals on your stack when setup this way.
Btw, I have bought Raspberry PI 3 few days ago, so I ca

[2016-11-22 20:42] qmfrederik commented on #917
@cydhaselton I'm following this thread because I've done some attempts to run .NET Core on Ubuntu on ARM, and having an ARM/Alpine version running in a docker container seems like something which will make my life easier. Great stuff you're doing here!

In my experience, once I got `coreclr` building, the first thing I tried was to get my app running on ARM. Turns out, there are quite a lot of thi

[2016-11-22 22:02] CarolEidt commented on #7954
This fix for this was incorporated into the (fixed) StructOpts changes #8057

[2016-11-22 22:02] #7954 closed

[2016-11-22 22:34] AtsushiKan commented on #7669
I doubt we'll ever fix this corner case so I have no objection to removing the assert.

[2016-11-22 22:53] seanshpark commented on #8222
For the record, it is better to use `!defined(FEATURE_PAL)` for x86/Linux (https://github.com/dotnet/coreclr/pull/8246#discussion_r89155930)

[2016-11-22 23:01] janvorli commented on #8222
@seanshpark right, I am sorry for not mentioning it in my reply to your question here.

[2016-11-22 23:11] cydhaselton commented on #917
Thanks @qmfrederik. Encouraging words as I'm slogging through a rebuild of System,Private.Corelib.dll and mscorlib.dll.

My main goal is to get powershell up and running rather than develop right away, and given the time and difficulty in getting all of the moving parts in place I'd rather get right to powershell than working up to it. That said, you're right: I likely have to slow down and work u

[2016-11-22 23:33] RussKeldorph opened #8258 "RyuJIT/x86: CoreFx System.Dynamic.Runtime.Tests Assertion failed '!"We should never encounter a reference to a lclVar that has a zero refCnt.""
Commits:
dbf8ce1173faf78b176771946b0bca9f9863bc9b
dotnet/corefx@0d623b5b5e110a336eb743b6d9066f336a5177b4

Repro:
coreclr *(assuming root=c:\git\coreclr)*
[code]
corefx *(assuming root=c:\git\corefx)*
[code]
**Output**
[code]

[2016-11-22 23:34] RussKeldorph commented on #8258
@dotnet/jit-contrib

[2016-11-23 01:08] chunseoklee opened #8261 "coreclr(including corefx) contains GPL3.0 ?"
I am running black duck protex tool to figure out open source licenses on coreclr/fx.
Protex said that some files have GPL(including LGPL) snippets.
Is there any code of coreclr/fx which has been relicensed to MIT without checking GPL relicense issues ?

[2016-11-23 01:28] jkotas commented on #8261
cc @richlander @martinwoodward

[2016-11-23 01:34] richlander commented on #8261
We want to take a look at that. Please start a conversation with me on mail so that we can move forward quickly.

[2016-11-23 01:53] jamesqo commented on #8130
This is also happening for me...

[2016-11-23 01:57] pgavlin commented on #8258
This appears to be an issue with `fgMorphCopyBlock`, which does not appear to be properly updating ref counts when performing a field-by-field assignment.

cc @CarolEidt

[2016-11-23 02:24] lemmaa commented on #8261
For reference, in some cases it was determined that someone used source code published by Microsoft in SDK format for their own software and applied the GPL license. This is not a problem in this case. I think most will be false alarms. However, there are too many GPL cases and it is difficult to identify each one with outdated code, so we asked the coreclr team for help.

[2016-11-23 02:55] hseok-oh commented on #8224
@ayende Did you install lib6-dbg package? You need to install this package in Raspberry Pi 3 to use GDB with launching program. (not need for attaching to process).
reference document: https://bugs.launchpad.net/gdb/+bug/1576432/comments/6

[2016-11-23 02:56] parjong commented on #4437
I could build .dll and .exe files with #8264 via the following command:
[code]
The current result does not include .sh and .cmd files; ``CodeTaskFactory`` is required to generate those files, but MSBuild currently does not support it (@jyoungyun already mentioned before).

[2016-11-23 03:36] jamesqo opened #8266 "Replacing dotnet publish-ed binaries with locally built coreclr ones results in a TypeLoadException."
I have not been able to get a console app working with locally-built binaries since I rebuilt coreclr a week ago... running the app after `dotnet publish` works fine, but after copying over a build of the repo I get a TypeLoadException if the app has a `Console.WriteLine`.

[code]

Not sure what's causing this. I tried a bunch of different things, including using the version of the CLI that comes

[2016-11-23 03:47] richlander commented on #8261
OK. Thanks. Thanks for investigating this case. Going forward, we'll work with you on any other cases you find. Thanks.

[2016-11-23 03:47] #8261 closed

[2016-11-23 03:52] Maoni0 opened #8267 "Local GC: consolidate the data types on the GC interface"
this includes -

use portable types, eg, no BOOL
for opaque contexts like profiling/ETW contexts, use one data type (it uses both void* and size_t).

[2016-11-23 04:06] Maoni0 opened #8268 "Local GC: make the rest of diagnostics work"
items left -

DAC - currently the dac vars' RVAs in clr.dll/coreclr.dll are computed and embedded in mscordacwks.dll. this needs to be done for gc.dll as well.

stress log - formatOffset needs to be taken care of for gc.dll.

ETW - need the GC event manifest to be defined on the gc side and need to have the function that actually fires the ETW event exposed on the IGCToCLR interface.

perf counter

[2016-11-23 04:16] parjong commented on #8224
@ayende I attempted to repro your issue on my side (with other Linux-distro with ARM (soft-fp), but it works well:
[code]
I just tried to connect to the server via curl as follows:
[code]

[2016-11-23 04:23] jkotas commented on #8266
Could you please try project.json linked in step 3 in https://github.com/dotnet/coreclr/blob/master/Documentation/workflow/UsingYourBuild.md?

There is no good published build of Microsoft.NETCore.App metapackage for netcoreapp1.1 currently, so there needs to be explicit list of assemblies.

[2016-11-23 06:25] ayende commented on #8224
@hseok-oh No, I didn't. Wasn't aware of this. Installing it seems to fix the SIGSEGV issue when starting the process, thanks.

[2016-11-23 06:26] ayende commented on #8224
Here is the output on my small repro when starting from gdb after installing

[code]

I'll try building with FEATURE_GDBJIT and see how it goes

[2016-11-23 11:52] nietras commented on #1135
In https://github.com/dotnet/corefx/issues/13427 we discussed this too, and @jkotas suggested we add `ContainsReference<T>` to `RuntimeHelpers`. Whether this should be called `IsReferenceFree<T>` or not is an open question too. So the proposal for an API for this could be:
[code]
OR
[code]

[2016-11-23 12:41] masonwheeler commented on #1135
@nietras I would prefer `ContainsReferences`.  As your code snippet explicitly points out, `IsReferenceFree` is a negative, which means you can end up with double negatives.  It's cleaner to just use a positive notation.

[2016-11-23 12:51] cydhaselton commented on #917
@janvorli:  One last question...do you know if there's a version requirement for corefx as well?

[2016-11-23 12:58] omariom commented on #1135
@nietras
In the cases we have now `ContainsReferences` is more natural:
[code]

[2016-11-23 13:02] janvorli commented on #917
@cydhaselton it is much more loose, but from time to time there are dependent changes on both sides.

[2016-11-23 13:05] cydhaselton commented on #1097
Update on the above two comments:

1. The issues with wchar.h and pthread.h were solved by renaming conflicting variables in the coreclr source;  I used __prefix_reserved when renaming...example: __sal_reserved.

2. The TEXTREL issue required more source modifications and extensive help from @janvorli  and @jkotas for the assembly modifications.  Details can be found in [this thread](https://githu

[2016-11-23 14:08] Esidar opened #8277 "Add new GetValue method to System.Reflection"
This new method would accept an "object" to which a Value could be copied instead of being unnecessarily boxed. Example of use would look like this:

[code]
Boxing of the value would occur only once. This would eliminate unnecessarily memory allocations in situations when GetValue is called many times. When method is used on a class types, copying would not occur and stored object would be returne

[2016-11-23 14:20] RussKeldorph opened #8278 "RyuJIT/x86: JitStress1/2 CoreFx System.Linq.Expressions Assertion failed 'lvRefCnt'"
This repros under both JitStress=1 and JitStress=2 in different methods.

Commits:
dbf8ce1173faf78b176771946b0bca9f9863bc9b
dotnet/corefx@0d623b5b5e110a336eb743b6d9066f336a5177b4

Repro:
coreclr *(assuming root=c:\git\coreclr)*
[code]
corefx *(assuming root=c:\git\corefx)*
[code]
**Output**
[code]

[2016-11-23 14:21] RussKeldorph commented on #8278
@dotnet/jit-contrib

[2016-11-23 14:31] sahithreddyk opened #8279 "Getting error while installing the VSTS Agent on Linux RedHat"
Hello,
1. Copied locally downloaded "vsts-agent-rhel.7.2-x64-2.109.1.tar.gz" to the Linux and extracted the contents
2. Executed, ~/$ mkdir myagent && cd myagent
~/myagent$ tar xzf ~/Downloads/vsts-agent-rhel.7.2-x64-2.109.1.tar.gz
3. while running ./config.sh, getting below error and i dint downloaded "libunwind.x86_64"

Failed to load $/bin/libcoreclr.so, error: libunwind.so.8: cannot open share

[2016-11-23 14:40] janvorli commented on #8279
@sahithreddyk it seems you have notinstalled the prerequisities as described below:
https://github.com/Microsoft/vsts-agent/blob/master/docs/start/envredhat.md

[2016-11-23 14:57] gkhanna79 commented on #7899
@JPBlanc Do you have any further questions on this or can we close this issue?

[2016-11-23 15:41] RussKeldorph commented on #8258
This hits on x64 as well.  Removing x86 label.

[2016-11-23 16:03] RussKeldorph opened #8280 "RyuJIT/x86 JitStressRegs=8 CoreFx System.Reflection.Metadata.Tests.BlobTests.WritePrimitive [FAIL]"
Commits:
dbf8ce1173faf78b176771946b0bca9f9863bc9b
dotnet/corefx@0d623b5b5e110a336eb743b6d9066f336a5177b4

Repro:
coreclr *(assuming root=c:\git\coreclr)*
[code]
corefx *(assuming root=c:\git\corefx)*
[code]
**Output**
[code]

[2016-11-23 16:42] joperezr commented on #3649
Are we still planning on doing this eventually or not anymore? if not, then I can close this issue.

[2016-11-23 16:43] gkhanna79 commented on #3649
It is marked for us to look into for future.

[2016-11-23 16:43] joperezr commented on #4395
looks like this has been fixed from a while back.

[2016-11-23 16:43] #4395 closed

[2016-11-23 17:36] pgavlin commented on #8258
`fgMorphCopyBlock` turned out to be a red herring: `fgMarkLocalVars` runs after global morphing, so transformations that only occur as part of global morph do not need to update ref counts.

It appears that the issue is morph-related, but is due to remorphing that occurs after performing VN-based constant propagation. The remorph in question duplicates a lclVar node but does not appear to update t

[2016-11-23 18:36] #8181 closed

[2016-11-23 19:04] redknightlois commented on #8181
Is this going to be released on a service release for 1.1 or we wanna wait until 2.0?

[2016-11-23 19:12] sivarv commented on #8181
This will go in 2.0

[2016-11-23 19:23] nietras commented on #1135
This depends on your perspective, but I agree that in `Span<T>` https://github.com/dotnet/corefx/blob/master/src/System.Memory/src/System/Span.cs#L114 this inverted check is weird and less readable. When the method could easily have been called `ContainsReference` here.

However, in my use case I would write something like:
[code]
But of course this can be moved around. I would also hope you cache

[2016-11-23 20:00] jkotas commented on #1135
This method is really about GC pointers. I am wondering whether the name should reflect it. What about `ContainsGCPointers<T>`?

[2016-11-23 20:07] omariom commented on #1135
We, high level C# devs, call them references :)
`GcPointers` is a too low level and runtime name.

[2016-11-23 20:08] nietras commented on #1135
@jkotas if you don't mind, what exactly is the difference between "reference" and "GC pointers" in your mind?

I understand that from a native view reference is something entirely different, but I though `ref` is used to differentiate on .NET. Anywhere the lingo is defined? Have actually been thinking about starting a discussion on how we could coin a term that would exactly convey that something

[2016-11-23 21:08] AtsushiKan commented on #1135
Just a thought... in ECMA lingo, the term we're looking for is a union of "reference" (pointer to an object-as-a-whole) and "managed pointer" (the types denoted by the "ref" keyword in C#), or more practically, things that implicitly contain managed pointers (e.g. Span.)

But perhaps instead of the name enumerating the kind of types you can have inside, the name can talk about the motivating restr

[2016-11-23 21:23] RussKeldorph opened #8285 "RyuJIT/x86: JitStress=1/2: CoreFx System.Numerics.Tests.GenericVectorTests.CopyToWithOffsetReflectionUInt32 [FAIL]"
This repros under both JitStress=1 and JitStress=2.

Commits:
dbf8ce1173faf78b176771946b0bca9f9863bc9b
dotnet/corefx@0d623b5b5e110a336eb743b6d9066f336a5177b4

Repro:
coreclr *(assuming root=c:\git\coreclr)*
[code]
corefx *(assuming root=c:\git\corefx)*
[code]
**Output**
[code]

[2016-11-23 21:30] benaadams commented on #1135
GC managed items are non-value types?

`ContainsClassReference<T>` or `ContainsObjectReference<T>` or `ContainsHeapReference<T>`

[2016-11-23 21:31] omariom commented on #1135
\cc @KrzysztofCwalina

[2016-11-23 21:47] RussKeldorph opened #8286 "RyuJIT/x86: JitStressRegs=4 CoreFx: System.Runtime.CompilerServices.UnsafeTests.InitBlockUnalignedUIntPtrUnmanaged [FAIL]"
Commits:
dbf8ce1173faf78b176771946b0bca9f9863bc9b
dotnet/corefx@0d623b5b5e110a336eb743b6d9066f336a5177b4

Repro:
coreclr *(assuming root=c:\git\coreclr)*
[code]
corefx *(assuming root=c:\git\corefx)*
[code]
**Output**
[code]

[2016-11-23 21:52] RussKeldorph opened #8287 "RyuJIT/x86: JitStressRegs=8 CoreFx: System.Text.Tests.EncodingTest.TestRoundtrippingSpecificCodepageEncoding(encodingName: \"GB18030\", bytes: [129, 48, 137, 55, 129, ...], expected: \"├₧├ƒ├á├í├ó├ú\") [FAIL]"
Commits:
9a29a6e868f4abd8b733891faa0b3f3209853248
dotnet/corefx@0d623b5b5e110a336eb743b6d9066f336a5177b4

Repro:
coreclr *(assuming root=c:\git\coreclr)*
[code]
corefx *(assuming root=c:\git\corefx)*
[code]
**Output**
[code]

[2016-11-23 21:54] pgavlin opened #8288 "Revisit lclVar ref count updates when remorphing."
Remorphing a tree can introduce or remove references to existing lclVars, but the morpher is not designed to update lclVar ref counts (as global morphing happens before lclVar refcounts have been initialized). This can cause assertions later on in the pipeline (see e.g. #8258). #8284 contains a conservative fix for remorphing that happens via `fgMorphBlockStmt`, but it may be advantageous to chang

[2016-11-23 21:55] RussKeldorph commented on #8280
@dotnet/jit-contrib

[2016-11-23 21:56] AtsushiKan commented on #7669
Unsubscribing from thread as I'll be on vacation for the rest of the year.

[2016-11-23 21:59] CarolEidt opened #8289 "x86: improve code generation for passing promoted structs"
A number of issues remain in the handling of promoted struct arguments (`GT_FIELD_LIST`) after PR #7847:
* We currently push the fields in reverse order, which is what we want to do for pointer-sized fields. However, for smaller fields we should keep them in the list order so that we can push the first field in the slot as 32-bits, and then store the remaining fields.
* We don’t require the byte f

[2016-11-23 22:16] #8258 closed

[2016-11-23 22:29] svick commented on #1135
@benaadams I think two of your proposals are not accurate names:

* `ContainsClassReference<T>`: `interface`s are reference types that are not `class`es (and the value can be a boxed value type, so that doesn't have to be a `class` either)
* `ContainsHeapReference<T>`: heap is an implementation detail (and there actually seems to be some work being done to allocate reference types on the stack: ht

[2016-11-23 22:38] cydhaselton commented on #917
@janvorli I built a simple Hello World program, using  dotnet cli tools downloaded to my workstation, and transferred it to the folder containing the coreclr/corefx assemblies/executables.  Running it threw the same error.

 I turned on tracing (`export PAL_DBG_CHANNELS="+all.ERROR"`) and re-ran the Hello World exe. Output was as follows:

`{0x4038-0x7f93ad957c} ERROR [VIRTUAL] at ReserveVirtualMe

[2016-11-23 22:43] pgavlin commented on #8278
I can't repro this. Perhaps #8284 fixed this.

[2016-11-23 22:43] #8278 closed

[2016-11-23 22:45] janvorli commented on #917
@cydhaselton it is interesting, I am currently debugging similar problem on amd64 Debian. Could you please try to run:
`strace dotnet exec bin/Debug/netcoreapp1.0/programname.dll`
where programname is the name of the folder you ran `dotnet new` in.
Getting me the strace output would help me to see if it is the same issue.

[2016-11-23 22:53] cydhaselton commented on #917
@janvorli I don't have dotnet on the target platform. The output of `dotnet build` was an `.exe` file, not `.dll`.

Would strace output from `corerun helloworld.exe` help?

[2016-11-23 22:55] janvorli commented on #917
@cydhaselton yes, that would get me the same info.

[2016-11-23 22:59] jkotas commented on #1135
No real difference - they are often used interchangeably. I was just wondering about the best name to use for this API.

For reference, here are the existing names used internally in the runtime implementations for similar concept (the runtime concept is slightly different - it always describes the fields even for non-valuetypes, but I assume that what is getting proposed here should always return

[2016-11-23 23:00] benaadams commented on #1135
@svick narrowing down my suggestions then `ContainsObjectReference<T>` 😄

[2016-11-23 23:08] cydhaselton commented on #917
Here's the output: http://pastebin.com/EGVH9B0K

Oddly I don't get the `ReserveVirtualMemory` error every time I run the hello world exe.

[2016-11-23 23:15] janvorli commented on #917
So this is different from the Debian issue. I can see the problem in the log:
mknodat(AT_FDCWD, "/tmp/clr-debug-pipe-19736-529194861-in", S_IFIFO|0700) = -1 ENOENT (No such file or directory)
That's what causes the initialization to fail.
Do you have /tmp folder on Android?

[2016-11-23 23:25] AtsushiKan commented on #1135
Unsubscribing from thread as my year-end vacation is about to start. See 'yall in January.

[2016-11-23 23:26] RussKeldorph commented on #8287
@dotnet/jit-contrib

[2016-11-23 23:27] RussKeldorph commented on #8286
@dotnet/jit-contrib

[2016-11-23 23:27] RussKeldorph commented on #8285
@dotnet/jit-contrib

[2016-11-23 23:48] #4437 closed

[2016-11-23 23:54] briansull commented on #8288
Is the issue that in the initial global morph phase we don't want to inc/dec the counts, but in subsequent re-morph calls we do want to inc/dec the counts?

[2016-11-23 23:59] jamesqo opened #8290 "Optimize implementation of Array.Fill."
The `Array.Fill` api which was just added is a very naive implementation. We should look into the perf benefits of implementing it in C++ and doing things like memset for bytes/avoiding multiple type-checks for reference types. Relevant comment: https://github.com/dotnet/coreclr/pull/8137#discussion_r88143551

[2016-11-24 03:23] cydhaselton commented on #917
I do not…tmp is located at /data/data/com.termux/files/usr/tmp.
There's an env variable set: `TMPDIR=/data/data/com.termux/files/usr/tmp`

[2016-11-24 06:30] litian2025 opened #8300 "RyuJIT debug dump displays YMM registers on 128 bit AVX instruction instead of XMM registers"
Currently by setting COMPlus_JITDump or COMPlus_JITDisasm on debug build, the RyuJIT debug dump displays YMM registers instead of XMM registers on 128 bit AVX instruction. To be consistent with Intel Architecture manual and WinDbg/SOS output, the JIT debug dump should print YMM registers on 256 bit AVX instruction and XMM registers on 128 bit AVX instruction.

For example, following C# code:

[2016-11-24 09:19] janvorli commented on #917
@cydhaselton Just to try to see if there are more issues, you can modify the path here:
https://github.com/dotnet/coreclr/blob/master/src/pal/src/thread/process.cpp#L1456
to contain your TMPDIR path.
@mikem8361 do you remember if there was any reason for using fixed /tmp/ instead of trying to get it from the TMPDIR environment variable in the PipeNameFormat?

[2016-11-24 10:32] davidfowl opened #8302 "Give more detailed information when assemblies fail to load"
I'm running into a problem:

[code]

It would be great if this exception could tell me:
- What version of System.Runtime.CompilerServices.Unsafe was referenced
- What assembly referencing System.Runtime.CompilerServices.Unsafe triggered the load
- What the version of the reference to System.Runtime.CompilerServices.Unsafe is that is causing the mismatch

That would save me so much time....

/cc @g

[2016-11-24 11:56] aviviadi commented on #6321
I had success with building coreclr (+corefx) in Debug and running complex program.
However, building coreclr in 'release' gives failure (seg fault) when trying to run a program.
I read https://github.com/dotnet/coreclr/issues/4583 and https://github.com/dotnet/coreclr/pull/5396/files?diff=unified

1. Do we _have_ to use the above w/a ?
2. Can cross compilation of coreclr be used with higher clang

[2016-11-24 12:52] cydhaselton commented on #917
@janvorli Rebuilt after correcting /tmp and reran. Got a SEGFAULT

`$ `which corerun` `which hello.exe`                                                  {0x55df-0x7f8c2d957c} ASSERT [PROCESS] at /data/data/com.termux/files/pkg/ps/coreclr/src/pal/src/thread/process.cpp.2099: Expression: chars > 0 && chars < MAX_DEBUGGER_TRANSPORT_PIPE_NAME_LENGTH`

Additionally @akoeplinger pointed out another hard

[2016-11-24 13:10] janvorli commented on #917
You'll need to enlarge the MAX_DEBUGGER_TRANSPORT_PIPE_NAME_LENGTH so that the path fits in even with your long temp path.
We should obviously convert our code to get the temp path from TMPDIR and use /tmp as a fallback if the env var doesn't exist or doesn't contain valid path. But for your testing, it is simpler to just modify the built in paths.

[2016-11-24 13:32] RussKeldorph commented on #8300
@dotnet/jit-contrib

[2016-11-24 13:33] Drawaes commented on #8302
Agreed this causes nightmares when it happens in production

[2016-11-24 14:21] ThomasBombadil commented on #8302
Where is the like button for this issue? +1

[2016-11-24 14:33] jbayardo commented on #6014
Hello. Is this going to be in 2.0, or are we getting it in 1.1?.

Thanks.

[2016-11-24 15:05] cydhaselton commented on #917
Thanks @janvorli, rebuilding now.

There's `GetTempPathA` in `src/pal/src/file/path.cpp`, could that be re-used?

[2016-11-24 15:11] janvorli commented on #917
@cydhaselton no, that's too heavy - it is an API mimicking Windows API. We should use the plain getenv Unix API instead.

[2016-11-24 16:52] slawomirbrys commented on #8302
Worse case is below, which dependent library couldn't load, never know:
System.IO.FileNotFoundException: Could not load file or assembly 'ServiceFabricServiceModel, Version=5.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35' or one of its dependencies.

[2016-11-24 18:00] AndyAyersMS commented on #6014
It is there in 1.1, along with the must-throw/no-return changes.

[2016-11-24 19:55] ReubenBond commented on #8302
I've been hitting issues like this, too. I found that binding redirects weren't being correctly set despite my best efforts to have them generated. I solved the issues for myself using some ~~duct tape~~ PowerShell + ReGex, like so:
From the output directory:
[code]
Then with that list of "binaries which are actually present at runtime", search/replace:
Find: `([^,]+), Version=([^,]+), Culture=neu

[2016-11-24 20:49] cydhaselton commented on #917
@janvorli Latest strace on corerun, which is throwing the original error, here: http://pastebin.com/NFY18j2M

[2016-11-24 21:57] bendono commented on #8302
In full Desktop, I enable Fusion logging for failures on all development and QA machines, and occasionally for onsite customer support as well. I know that Core does not have Fusion, but enabling a similar logging for load failures would be a great help. Of course some changes such as configuration would need to be done outside of the registry, though.

[2016-11-24 22:00] janvorli commented on #917
@cydhaselton it looks like we got quite far this time, the code is trying to load System.Private.CoreLib.dll, the file was successfuly opened and mapped into memory, but then all of a sudden we fail and there is no indication why visible in the log.

[2016-11-24 22:06] janvorli commented on #4630
@AlekseyVereshchagin I am sorry, I have missed your additional question back in April. You can find details on various ways of deploying CoreCLR apps here:
https://docs.microsoft.com/en-us/dotnet/articles/core/preview3/deploying/

[2016-11-24 22:13] thiennn commented on #8302
Yeah, The same code
[code]
Before upgrading to 1.1, I got the error "_Assembly with same name is already loaded_" which is nice.

After 1.1, I got "_System.IO.FileLoadException: Could not load file or assembly 'SimplCommerce.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null'.\r\n   at System.Runtime.Loader.AssemblyLoadContext.LoadFromPath(IntPtr ptrNativeAssemblyLoadContext, St

[2016-11-24 23:14] cydhaselton commented on #917
@janvorli There are hardcoded `/dev` paths in the code. I fixed them and then re-ran the build.
The original error still occurs. The strace is here: http://pastebin.com/2EiC4H5F

[2016-11-24 23:17] janvorli commented on #917
@cydhaselton so dev/zero, /dev/null and /dev/random /dev/urandom are somewhere else on Android?

[2016-11-24 23:25] janvorli commented on #917
It is strange, since /dev/zero was opened successfuly in the previous log, so it is obviously present.
And looking at your last log, it is actually worse than the previous one, it didn't make it even to mapping the System.Private.CoreLib.dll. And before, it was cleanly failing with the error code reported by the corerun, now it crashes instead with SIGBUS.

[2016-11-24 23:27] cydhaselton commented on #917
No…actually they are at those locations, and read-only accessible from Termux. But, I get the error from the previous pastebin when I run `corerun helloworld.` Unfortunately, when I created a symlink from /dev to dev within Termux, I still got an error.

Should I change the hardcoded paths back to the originals?

[2016-11-24 23:30] janvorli commented on #917
@cydhaselton it seems that for the bringup, it might be better to just create the missing folders  instead of replacing them in the sources to lower the number of variables. Once things work, you can get back to that and fix the source.

[2016-11-24 23:37] cydhaselton commented on #917
@janvorli I was incorrect: Re-creating the symlink in Termux, to /dev, I get a result closer to the first strace.  Creating the folders manually, in Termux, results in the SIGBUS.

Here's the strace: http://pastebin.com/RwF4LLd2

[2016-11-24 23:39] janvorli commented on #917
This looks exactly like the first trace.

[2016-11-24 23:43] cydhaselton commented on #917
Yes. I may be wrong, but I think the problem is here:
`openat(AT_FDCWD, "/data/data/com.termux/files/usr/dev/zero", **O_RDWR**) = 11`
If that means what I think it means, the program is trying to open `/dev/zero` with read/write privileges…and that path is readonly on Android.

[2016-11-24 23:49] janvorli commented on #917
But it looks like the open has succeeded (the return code is 11, which is a valid file descriptor). And really /dev/zero can be used to write stuff - see https://en.wikipedia.org/wiki//dev/zero.

[2016-11-24 23:59] cydhaselton commented on #917
True, but not on Android. On Android, /dev is RW by root only. Which I have on this device, but I'd prefer not to use it to run programs if at all possible.

[2016-11-25 00:10] janvorli commented on #917
Can you actually try to run the test with sudo to see if access rights can possibly be the culprit?

[2016-11-25 00:15] janvorli commented on #917
And I still wonder, since the /dev/zero was successfuly opened for RW, according to the log, is it possible that /dev is RO for non-superusers, but /dev/zero is an exception?

[2016-11-25 00:16] janvorli commented on #917
Ah, sorry, I've missed the fact that you've said that running with root rights doesn't change anything.

[2016-11-25 00:16] cydhaselton commented on #917
No sudo, but I did run it as root. Same problem.

Not sure if it matters but the `/proc/<number>` locations in strace don;t exist.
Example: `openat(AT_FDCWD, "/proc/13160/stat", O_RDONLY) = 8`
That location does not exist

[2016-11-25 00:18] janvorli commented on #917
But is still got opened ok - the return value was 8.
The doc says:
On success, openat() returns a new file descriptor. On error, -1 is returned and errno is set to indicate the error.

[2016-11-25 00:21] cydhaselton commented on #917
So the puzzle is why did the program fail?
What does the return value mean?

[2016-11-25 00:29] janvorli commented on #917
The error code 0x80004005 reported by the coreclr_initialize is unfortunatelly "E_FAIL", so we cannot get any information from it. Something has failed. There are 1288 places where we fail with this nonspecific error code. These are places where there is no HRESULT code that would be close to the cause of the failure.
One more thing you can try is to enable logging from PAL.
You can try `export PA

[2016-11-25 00:30] danwalmsley opened #8304 "Possible to license or use a version of clrdbg outside vscode or visual studio?"
Hi,

    I am working on cross platform open source IDE, we mainly support c++ development.

https://github.com/VitalElement/AvalonStudio

Iv been using omnisharp to integrate and support C#. I came to start on the debugging work and was met with..

[code]

Is there likely a way this might change in the future?

[2016-11-25 01:08] cydhaselton commented on #917
Ouch. Well, here's the output from setting those variables: http://pastebin.com/xg02yG1b

I'll start wading through it tonight but will probably have to finish up tomorrow

[2016-11-25 01:20] janvorli commented on #917
Actually, I've just realized there is a way to let coreclr break at the point when a bad HRESULT is generated. You need to set env var COMPlus_BreakOnHR=1. Then you'd run it under gdb and when it breaks in, run "bt" command to get the call stack.

[2016-11-25 01:22] janvorli commented on #8304
cc: @richlander

[2016-11-25 01:24] janvorli commented on #917
Ah, I am sorry, little correction. The env var should be set to the error code, that means `COMPlus_BreakOnHR=80004005`. Please note there is no 0x here, the values are in hex by default.

[2016-11-25 01:57] jamesqo commented on #8266
@jkotas Thank you for answering. I followed the instructions in the guide carefully and step-by-step. However, it seems to only yield a different exception when I try `dotnet run`:

[code]

[2016-11-25 08:12] lucenticus commented on #8223
@janvorli, @jkotas thanks a lot for clarifying!
I've tried to use `GetParamTypeArg`, but it seems I get REGDISPLAY incorrectly, because `GetParamTypeArg` crashed in `EECodeInfo::GetFunctionEntry`

[code]
Here is a code for getting generics type:
[code]
Could you share any idea what I'm doing wrong?

[2016-11-25 08:19] jkotas commented on #8223
You can only do this when the method is actually running, not when it is getting compiled.

[2016-11-25 08:21] jkotas commented on #8266
This problem is caused by old System.Runtime. I am not sure how you are getting it - either project.json wrong; or there is something wrong with `dotnet restore`.

Anyway, here is something else that you can try:

1. Run release build, including tests, and start the test run. You can abort it before all tests are finished, but wait for the tests start running and finishing.

[code]

2. `\coreclr\b

[2016-11-25 08:59] lucenticus commented on #8223
Is there a way to get this argument from the caller function?

[2016-11-25 09:00] jaen commented on #8016
Are there any updates on this front? Our team wants to move over 1.1 and it would be nice if I could keep running the application.

[2016-11-25 09:44] janvorli commented on #8016
@jaen I will try to figure it out. But I am not sure how it is related to 1.1, the code with the InterpoSafeXXX has not changed since January 2015. It is not a bug, it is just the new clang being more strict.

[2016-11-25 10:17] jaen commented on #8016
Sure, thanks for looking into it!
Hm, yeah, you're right about it not being related to 1.1, I kind of conflated the two, because it happened for me when I tried to upgrade to 1.1.

[2016-11-25 12:55] cydhaselton commented on #917
@janvorli Env var is set, however in gdb the run exits immediately after the bad HRESULT is generated.  I could print out the bt after each stepi if that helps.

Example:
Here's the stack immediately before the HRESULT: http://pastebin.com/20eDsCGg
Running stepi after results in this: http://pastebin.com/AX9bBPAS

[2016-11-25 12:56] AlekseyVereshchagin commented on #4630
@janvorli I think, good answer to original question now available in project documentation: [UsingYourBuild.md](https://github.com/dotnet/coreclr/blob/master/Documentation/workflow/UsingYourBuild.md) and [UsingCoreRun.md](https://github.com/dotnet/coreclr/blob/master/Documentation/workflow/UsingCoreRun.md). And ".NET Core Application Deployment" article you refer is useful too. Thank you for answe

[2016-11-25 12:56] #4630 closed

[2016-11-25 13:16] lemmaa commented on #6321
1. Yes.
2. We are now using clang 3.8 for arm build with debugging support. Please reference the https://github.com/lemmaa/help/wiki/Building-llvm-3.8.1-for-CoreCLR-development to get the necessary toolchain.

[2016-11-25 14:16] cydhaselton commented on #917
Looks like the bad hresult is from a SIGSEGV: http://pastebin.com/0jJB1fxN.
Could it be something with the hello.exe?

[2016-11-25 14:58] jkotas commented on #8223
Only if you are right at the call instruction in the caller function when the function with the hidden argument is getting called - take a look at `GetParamTypeArgOffset()::GetParamTypeArgOffset()` or `TransitionFrame::GetParamTypeArg`.

[2016-11-25 15:10] jkotas commented on #8016
https://github.com/dotnet/coreclr/pull/8309 has attempt to fix it by disabling the warning.

[2016-11-25 17:49] jamesqo commented on #8266
@jkotas Thanks for your responses. I combined both of your suggestions-- using the CLI from `Tools\dotnetcli\` and using the provided project.json. Seems to work now, thanks!

[2016-11-25 17:49] #8266 closed

[2016-11-25 17:50] janvorli commented on #917
@cydhaselton the SIGSEGV is somehow caused by the debugger break on the HR, not the other way. Anyways, the stack dump looks pretty strange, but it would help if you could tell me which version of sources you are using - the line number in unixinterface.cpp doesn't seem to make sense for the current source I have. Or you can just show me what's in your sources around line 209 in src/dlls/mscoree/u

[2016-11-25 17:56] janvorli commented on #8016
@jkotas I am finishing a trivial fix that doesn't disable any warnings.

[2016-11-25 18:37] cydhaselton commented on #917
@janvorli I'm using version 1.0.0 of the sources. FYI I'm currently working on getting the local build dir pushed to github so that I can update it against the current master.

Here's the entire unixinterface.cpp file: http://pastebin.com/rFzF8iBY

[2016-11-25 18:55] janvorli commented on #8016
@jaen, @jkotas the PR for the clang 3.9 build fix is #8311

[2016-11-25 22:38] qmfrederik commented on #917
I know I seem to run a bit behind the others on this thread, but I'm attempting to get corefx to build on x64 Alpine Linux and I'm a bit unsure on how to proceed. My build is failing because `xmmintrin.h` cannot be found:

[code]

Here's what I've done so far:

#### Installed Alpine Linux in a Vagrant box
Using this vagrantfile:

[code]

and running

[code]

#### Update Alpine and install the core

[2016-11-25 22:42] cydhaselton commented on #917
I think I found the problem
`managedAssemblyAbsolutePath=0x7fb584a0f8 "/data/data/com.termux/files/usr/bin/Product/Linux.arm64.Debug/hello.exe", managedAssemblyArgc=0, managedAssemblyArgv=0x0`

`managedAssemblyArgv` is null because `argv=0x7ffffff758)` from stack number 5.  Running `x 0x7fffff758` returns Cannot access memory.

Should `argv` be `argv[]`?

[2016-11-25 22:44] davidfowl commented on #3305
@janvorli is this in a doc? We should doc this.

/cc @richlander @terrajobst

[2016-11-25 22:54] janvorli commented on #917
@qmfrederik I think you need to install the **gcc** package.I remember I have had the same issue when I was bringing up Alpine Linux support.
This is a docker file that should show you all the things that need to be installed (you can just use all the apk commands from there and set the env variable)
[code]

[2016-11-25 22:56] mattwarren commented on #5851
Currently the source for [Span.cs](https://github.com/dotnet/coreclr/blob/9059610008205ac6c7c88e2a2651f61b94558ffc/src/mscorlib/src/System/Span.cs) doesn't have the following ctor overload, which is included in the [API Review for `Span<T>`](https://github.com/dotnet/apireviews/tree/master/2016/11-04-SpanOfT#api-review-for-spant)

[code]

It has [`public Span(T[] array)`](https://github.com/dotnet

[2016-11-26 01:16] jkotas commented on #5851
Yes, the public surface of the coreclr builtin Span needs to be updated for the most recent design iteration. There are a few more methods in addition to the constructor you have mentioned. @AtsushiKan is OOF till end of the year. If somebody would like to do it sooner, PR with the update will be welcomed.

[2016-11-26 03:58] ygc369 opened #8313 "Will escape analysis and reference count as alternative GC appear in C# 8.0?"
As C# 7.0 will be released soon, there's no time to add more features. But there are still many good ideas that has not come true in C# 7.0, so I wonder which of them would be in the roadmap of C# 8.0, such as escape analysis and reference count as alternative GC.

[2016-11-26 04:51] masonwheeler commented on #8313
That's not a language-level issue.  Replacing the GC would require massive, fundamental changes to the runtime, and to the runtime specification.

[2016-11-26 07:33] jkotas commented on #8313
Dup of https://github.com/dotnet/coreclr/issues/430 and https://github.com/dotnet/coreclr/issues/1784. You can follow the discussion about these ideas in the existing issues.

[2016-11-26 07:33] #8313 closed

[2016-11-26 09:30] qmfrederik commented on #917
@janvorli Thanks! I've installed the packages from your dockerfile (and updated the Vagrant instructions above), and coreclr now compiles correctly on Alpine for me.

The install phase, however, doesn't seem to complete yet:

[code]

Is this an error you encountered?

[2016-11-26 10:07] nietras commented on #1135
Aren't **managed pointer**s disallowed as fields? Hence, these are not relevant to this functionality? At least that is how I read the ECMA, see I.8.2.1.1 "Managed pointer types are only allowed for local variable (§I.8.6.1.3) and parameter signatures (§I.8.6.1.4)". And this is also the reason for the design of `Span<T>`.

`Object` is superfluous in my view. And perhaps even wrong since this appli

[2016-11-26 11:04] omariom commented on #1135
`DangerousGetPinnableManagedPointer`?

[2016-11-26 12:15] cydhaselton commented on #917
UPDATE: Still struggling with fixing the sigsegv that occurs when `argv` is passed to `managedAssemblyArgv` as my C++ knowledge is rudimental at best.  Given that I've moved far from the subject of TEXTRELs at this point, should I move this discussion to a new thread…or chat?

[2016-11-26 12:34] nietras commented on #1135
Yes, or `DangerousGetPinnableByRef`. At least from the ECMA it says:

However, not sure this means they are necessarily interchangeable.

`DangeruousGetPinnableRef` probably doesn't work since this is more C# speak than anything, I think F# uses `ref` to make a `Ref<T>` reference type, so that is not the same. VB.NET uses `ByRef` I think.

[2016-11-26 13:05] janvorli commented on #917
@cydhaselton I believe this is not a bug and it is intentional. When the argc is zero, there is no need to allocate any argv.
And I haven't seen any sigsegv, only the coreclr_initialize failed with error code message, so I am not sure what sigsegv you are referring to.

[2016-11-26 13:44] omariom commented on #1135
At least we don't have to invalidate a cache :)

[2016-11-26 13:47] janvorli commented on #917
@qmfrederik this is not an error, It is just a problem with the verification that the System.Globalization.Native.so doesn't have any undefined symbols - the ldd -r doesn't work on Alpine. I will need to change the verification to use different way than ldd -r on Alpine.
So your build of native components completed ok. We don't support build of managed components on Alpine yet (coming soon). So yo

[2016-11-26 14:57] jkotas commented on #1135
There is definition of "reference type", "object reference", "typed reference" or "member reference". I do not think there is a clear definition of "reference" alone.

Similar for pointer, there is definition of "managed pointer", "pointer type" or "this pointer"; but no "pointer" alone.

Yes, they are disallowed. It may be interesting to consider what this method should return and be called if th

[2016-11-26 16:17] cydhaselton commented on #917
@janvorli Did you see my previous messages regarding `argv` and it's reference?

[2016-11-26 17:25] nietras commented on #1135
Ah yes, I should have written **reference type** in fact the method in question is checking for that i.e.
[code]
but that seems unnecessary given the input is type `T`, if it had been on `Type` like `IsPrimitive` (not `IsPrimitiveType`) then of course it would be without `Type` in the name.

And yes, overall "reference", "pointer" all have existing meanings both in managed and unmanaged cases, but

[2016-11-26 20:54] janvorli commented on #917
You have used a wrong address when trying to dump the memory at argv. There is one more 'f' in the address. And the SIGSEGV is caused by the break on HR, not caught by that.

[2016-11-26 21:23] MichalStrehovsky commented on #8277
A box-free way to do `GetValue`/`SetValue` would be an interesting addition to `FieldInfo`, but I wonder if adding `T GetValue<T>(object)` with a corresponding `void SetValue<T>(object, T)` wouldn't be a cleaner API surface to achieve that.

That said, this issue is unlikely to get traction in the CoreCLR repo - API addition proposals should follow the [API review process](https://github.com/dotne

[2016-11-26 21:23] #8277 closed

[2016-11-26 21:31] cydhaselton commented on #917
@janvorli You are right, I left out an `f`To be fair, I've been looking at this for hours.

Just to clarify, and before I continue troubleshooting, are you saying that setting COMPlus_BreakOnHR=80004005 does not reveal the problem behind the `coreclr_initialize 0x80004005` but causes it instead? So, basically it's useless?

[2016-11-27 08:34] jaen commented on #8016
@janvorli the current `master` head is building correctly for me. Thanks a lot!

[2016-11-27 09:50] aviviadi commented on #6321
@lemmaa Thanks. I'll give 3.8 a chance after I'll have success with building coreclr in release mode (I'll try first with -O1 instead of -O3 and later on I'll give the w/a a try).

[2016-11-27 11:08] Janiels commented on #1135
Managed pointers are allowed to point to unmanaged memory (see II.14.4.2 in ECMA-335). It is also possible with C# today:
[code]
`fixed` just adds a local managed pointer marked as pinned, so the GC should ignore these when they do not point to managed memory.

[2016-11-27 11:14] nietras commented on #1135
Yes, but how does the GC know that a given pointer can be ignored? That is, that the pointer does not point to managed memory? Is it the same as for `ref` in that it checks each `ref` against each managed memory segment or similar?

[2016-11-27 12:52] DragonSA opened #8316 "Cannot run dotnetcli (aka SDK) on FreeBSD: System.BadImageFormatException: Could not load file or assembly"
# Background
While trying to create a FreeBSD Port (aka package) of dotnet I followed the recommendations of @mellinoe in [dotnet/corefx#10610](https://github.com/dotnet/corefx/issues/10610#issuecomment-237944753) however the resulting dotnetcli does not work due to an unhandled exception of System.BadImageFormatException.  My understanding is managed code (aka .dll files) should be platform agnos

[2016-11-27 13:01] DragonSA commented on #6115
Hi, to introduce myself: I am a FreeBSD Ports committer (handle: dbn) and a member for the FreeBSD/Mono team.  I have been working on a port (aka package) of dotnet however I have encountered an problem that I have not been able to resolve or overcome.  Please see #8316 for details.

Some more details on my efforts:
1. I decided to take a different approach than @brunolauze.  I'm trying to stick a

[2016-11-27 15:39] jkotas commented on #8316
This is not correct assumption, especially for lower level components of the system.

Are you building it using `build.cmd freebsdmscorlib` ?

[2016-11-27 15:53] jkotas commented on #1135
`ref` is the thing being pinned, so it is the same thing.

BTW: This logic is in `GCHeap::Promote`:
1. Ignore null pointers
2. If it is ref (`GC_CALL_INTERIOR`), find the object that it belongs to. If it does not belong to any object, we are done.
3. If is pinned (`GC_CALL_PINNED`), pin the object for current GC.
4. Mark the object graph as alive

[2016-11-27 16:30] DragonSA commented on #8316
On Sunday, 27 November 2016 07:39:32 Jan Kotas wrote:

For example System.Private.CoreLib.dll, mscorlib.dll, or anything using .NET's
equivalent of CFFI?  Wouldn't that be the content of the dlls, not the format
or encoding?

Yes, I used `build.cmd freebsdmscorlib`:
[code]

When the two dlls were not for FreeBSD I got a coreclr initialisation error of
0x8004005 (or something), or the data size mis

[2016-11-27 16:32] DragonSA commented on #8316
For example System.Private.CoreLib.dll, mscorlib.dll, or anything using .NET's
equivalent of CFFI?  Wouldn't that be the content of the dlls, not the format
or encoding?

Yes, I used `build.cmd freebsdmscorlib`:
[code]

When the two dlls were not for FreeBSD I got a coreclr initialisation error of
0x8004005 (or something), or the data size mismatch error.

[2016-11-27 18:09] jkotas commented on #8316
The managed .dlls in the SDK are AOT-compiled for given platform to get better performance. It makes them not usable on other platforms.

[2016-11-27 19:11] raininja opened #8317 "build error in arch linux with 1.0.4"
[  3%] Building CXX object src/pal/src/CMakeFiles/coreclrpal.dir/sharedmemory/sharedmemory.cpp.o
In file included from /home/raijin/build/aur/dotnet-cli/src/coreclr-1.0.4/src/pal/src/sharedmemory/sharedmemory.cpp:9:
/home/raijin/build/aur/dotnet-cli/src/coreclr-1.0.4/src/pal/src/include/pal/malloc.hpp:139:13: error: destructor called on non-final 'SharedMemoryProcessDataBase' that has virtual func

[2016-11-27 22:06] abrodersen commented on #7822
Can someone link me to the pull request that fixed this issue? I

[2016-11-28 04:27] DragonSA commented on #8316
Ah, I see.  It all makes sense now:
[code]
(`file` is a bit strange here, showing the pure managed code having "Intel 80386" and the AOT not having any architecture indicator)

This does make bootstrapping a new architecture more difficult.  Does an SDK without AOT-compilation exist?

Closing issue, this isn't a bug.

[2016-11-28 04:27] #8316 closed

[2016-11-28 04:43] jkotas commented on #8316
@bryanar and @ellismg are working on making bootstrapping new architectures easier: https://github.com/dotnet/core/pull/326 . SDK without AOT should be part of the solution.

[2016-11-28 05:08] jkotas commented on #1135
Ok, I have created issue in the corefx repo to get this launched into the API review process https://github.com/dotnet/corefx/issues/14047

[2016-11-28 05:56] ayende commented on #8224
Any luck diagnosing why it is crashing on TCP usage?

[2016-11-28 09:31] janvorli commented on #7822
@abrodersen #8311

[2016-11-28 12:04] cydhaselton commented on #917
feature-android, updated from master, built successfully. Working through TEXTRELs and missing symbols now, by re-adding `.S` files back into the build one by one

[2016-11-28 13:01] janvorli commented on #917
@cydhaselton the point of setting the COMPlus_BreakOnHR=80004005 was to make it break into the debugger at or close to the point where the error code 80004005 was generated. But it didn't reveal much since the COMPlus_BreakOnHR causes break at places where the error code is checked for. And in this case, the first place where it happened was coreclr_initialize itself. So it didn't move us closer t

[2016-11-28 13:29] jnm2 commented on #8290
Afaik this is the most optimal solution with purely managed code:

[code]

A non-buffering overlapping copy would be even better.

[2016-11-28 14:00] janvorli opened #8321 "Failing threading.SleepEx.test2"
The test has failed in the CI test run below with the following error:
`Expected thread to sleep for 2000 ms (and not be interrupted). Average delta: 858993393 ms, acceptable delta: 150`
https://ci.dot.net/job/dotnet_coreclr/job/master/job/debug_centos7.1_prtest/436/
It seems we have a bug in the delta computation. Based on the test start times in the log, there was no delay in test execution.

[2016-11-28 14:00] janvorli commented on #8321
@kount, can you take a look please?

[2016-11-28 14:03] cydhaselton commented on #917
@janvorli See message prior to yours. I'm hoping that using current sources will yield more info or, kmock on wood, resolve the issue entirely. If it does not, I'll proceed with code debug and get you the results as soon as I can

[2016-11-28 14:54] janvorli commented on #8317
@raininja are you sure you have recent sources? The SharedMemoryProcessDataBase was missing the virtual destructor in the past, but it was fixed on September 21.

[2016-11-28 14:54] jamesqo commented on #8290
@jnm2 It is going to be done in unmanaged code.

[2016-11-28 16:39] litian2025 commented on #8300
I like the alternative solution in #8315 since it covers this issue and some other JIT_Disasm issues, once #8315 is merged we can close this issue too.

[2016-11-28 16:56] RussKeldorph opened #8322 "RyuJIT is now the default x86 JIT. Update relevant documentation."
As of aad84026d7c5dc10b877bec263f4456a31584772, RyuJIT is now the default x86 JIT, replacing the LEGACY_BACKEND JIT (built from these sources) and JIT32, which shows up in the official x86 packages from Microsoft.  For now, setting `COMPlus_UseWindowsX86CoreLegacyJit=1` in the environment will make CoreCLR load the older JIT (LEGACY_BACKEND or JIT32) instead.

Update relevant documentation in this

[2016-11-28 18:41] svick opened #8323 "Can't open System.Private.CoreLib.csproj in VS2017RC"
When I open System.Private.CoreLib.sln in VS2017RC,  System.Private.CoreLib.csproj fails to load, with the following error:

Removing the offending elements does let me load and build the project successfully (but I don't know if it breaks something else).

The project also works fine unmodified in VS2015, so I don't know if this is an issue in coreclr or in VS2017.

[2016-11-28 22:58] pgavlin commented on #8280
@RussKeldorph: the title claims this is x86 with JitStressRegs=8, but the repro steps seem to use x64 with JitStressRegs=1. Which is correct? I can't repro any mix of those scenarios.

[2016-11-28 23:33] RussKeldorph commented on #8280
@pgavlin Sorry, copy-paste error.  I believe I intended that to be x86+jsr=8 per the title.  Incidentally, I seem to have unintentionally deleted the log this was based on, and my latest log doesn't show it.  If it doesn't repro, I may have opened this in error, and we should close it out.

[2016-11-28 23:49] svick opened #8326 "Test in readytorun/generics fails on cs-CZ culture"
When running readytorun/generics tests on my machine with the cs-CZ culture (where the decimal separator is comma), I get the following failures:

[code]

[2016-11-28 23:58] #8280 closed

[2016-11-29 00:05] litian2025 opened #8328 "SIMD Scalar move instruction should encoded VEX.L = 0 instead of VEX.L = 1"
Currently in RyuJIT genSIMDScalarMove() when it's on an AVX system and useAVX() is enabled, SIMD scalar move instructions such as such as vmovlpd, vmovlps, vmovhps, vmovhps and vmovss are been encoded as VEX.L to be 1, however, JIT should ensure VEX.L is 0 for those SIMD Scalar move instructions.

For example, following instruction:

vmovss xmm4, xmm4, xmm0

Currently it is encoded as: C4E1**5E**1

[2016-11-29 00:57] pgavlin commented on #8286
@sivarv @CarolEidt can one of you take a look at this one? This is a case of a lclVar being allocated to `eax` during an interval in which `eax` needs to hold a different value but the allocated lclVar is not spilled. I've posted a log of the affected method (`System.Runtime.CompilerServices.UnsafeTests:InitBlockUIntPtrUnmanaged`) [here](https://gist.github.com/pgavlin/2d766092fe48006fa7b4acbe660e

[2016-11-29 00:58] #8285 closed

[2016-11-29 01:13] sivarv commented on #8286
I will take a look at this.

[2016-11-29 01:14] janvorli commented on #3305
@davidfowl I am sorry for the late reply, I've missed your comment before. I am not sure what would you like to have in a doc - the fact that we don't block any signals?

[2016-11-29 02:51] seanshpark opened #8331 "RyuJIT/x86: encoder uses size_t to accumulate encoding bits, but that's not big enough"
While enabling x86/Linux, I get this error
[code]
This code is assumed to run in AMD64 and block is surrounded with `#ifdef FEATURE_AVX_SUPPORT`

My question is,
1) Can I get any information about shifting 35 bits is about and how to solve this for x86/Linux?
2) Can I disable `FEATURE_AVX_SUPPORT` for x86/Linux?

Thanks in advance.

[2016-11-29 06:29] AlexRadch opened #8341 "New files in src/.nuget folder"
After I executed build in root folder many files was created in `src/.nuget` folder.
Should these file be added to ignore list?
All of them was created in `localpkg` and `win/localpkg` folders.
[code]

[2016-11-29 06:44] parjong opened #8342 "[x86/Linux] build failure on comdelegate.cpp"
I encountered the following build errors while building Core CLR for x86/Linux:
[code]

[2016-11-29 07:47] mikedn commented on #8331
It looks like that code assumes that `size_t` is 64 bits, if that's the case then this will likely affect Windows x86 as well. Probably nobody noticed any ill effects until now because enabling SSE/AVX on x86 is work in progress.

[2016-11-29 10:33] janvorli commented on #8331
cc: @dotnet/jit-contrib

[2016-11-29 10:53] FransBouma commented on #8322
Are there any performance metrics available for RyuJIT in x86 mode? As x86's JIT was faster than RyuJIT for a long time (e.g. at startup of apps, x86 builds are much faster than x64 builds).

[2016-11-29 11:11] cydhaselton commented on #917
@janvorli @jkotas Is/was `FuncEvalHijack` implemented for arm64? I've removed all TEXTRELs after building current sources, but dlopen is complaining about a missing `FuncEvalHijack` when executing corerun

[2016-11-29 12:05] janvorli commented on #8341
Dup of #8130

[2016-11-29 12:05] #8341 closed

[2016-11-29 12:55] janvorli opened #8348 "AutoResetEventCtor test fails intermittently on Windows x64"
The same issue was already seen in the past (#6105)
[code]

[2016-11-29 13:11] janvorli commented on #917
@cydhaselton for ARM64, yes. For Unix ARM64, no. You need to create new src/debug/ee/arm64/dbghelpers.S and put a clone of the FuncEvalHijack from dbghelpers.asm there. You'll need to modify the NESTED_ENTRY and NESTED_END parameters - make it the same as in src/debug/ee/arm/dbghelpers.S.
You'll need to put
[code]
and a copy of the license header at the beginning of the new file.

[2016-11-29 14:28] cydhaselton commented on #917
@janvorli Thanks.  Question: shouldn't it be `#include "unixasmmacrosARM64.inc"` ?

[2016-11-29 14:30] janvorli commented on #917
@cydhaselton no, the `unixasmmacros.inc` includes an architecture specific one, as you can see at the end of the file:
[code]

[2016-11-29 16:21] litian2025 commented on #8328
@russellhadley @CarolEidt @sivarv

[2016-11-29 16:42] janvorli commented on #8016
Fixed by #8311

[2016-11-29 16:42] #8016 closed

[2016-11-29 16:43] karelz commented on #4506
Updated PR # in @AlexGhiondea's comment to the new one (dotnet/corefx#14083).

@AlexRadch please consider all impact of your PR switches in future.

[2016-11-29 17:06] #8326 closed

[2016-11-29 17:13] danrozenberg opened #8352 ""Could not load file or assembly: System.Runtime” error when net462 app references a netstandard1.5 library"
I have posted this question on Stack Overflow, but perhaps on Github it would be more appropriate. I don't know if this is the best Dotnet repo to post this, though, so apologies in case I am wrong. Here is my original post:

I am trying to figure out what I could be doing wrong in this sample project. I am getting an error when my ``net462`` application references a ``netstandard1.5`` library. Th

[2016-11-29 17:15] danrozenberg commented on #8352
Here is my ``dotnet --info``

.NET Command Line Tools (1.0.0-preview2-003131)

[code]

[2016-11-29 17:19] BruceForstall commented on #8331
@seanshpark There's a pretty pervasive problem in the emitter where it uses `size_t` to accumulate the encoding, but that's too small for AVX (and maybe more?). Temporarily, for bring-up, you can disable `FEATURE_AVX_SUPPORT` (and `FEATURE_SIMD` as well). I'll look into fixing the encoder for x86.

[2016-11-29 17:21] janvorli commented on #8224
@ayende I have just setup everything on my Raspberry PI3, built your test and I can repro the problem. I am looking into it now. Putting a breakpoint at the exit function in GDB, I can see that the exit code is in fact 32 bits - 0x80131542 (GDB prints just the low 8 bits)
That means:
"A managed code contract (ie, precondition, postcondition, invariant, or assert) failed."
I don't have more details

[2016-11-29 17:26] danmosemsft opened #8353 "Fix CLR startup issues provided by Clang sanitizer"
@steveharter commented on [Thu Dec 03 2015](https://github.com/dotnet/corefx/issues/4804)

As part of #3501, attempt fix the clr startup issues so that test-specific sanitizer output can be determined and evaluated.

Currently, when the sanitizers are enabled, several messages from the undefined behavior sanitizer are displayed when any program is run:
/src/inc/clrhost.h:137:30: runtime error: cal

[2016-11-29 18:19] mattwarren commented on #5851
@jkotas, I just sent a PR, see https://github.com/dotnet/coreclr/pull/8354

[2016-11-29 19:35] cydhaselton commented on #917
@janvorli Thanks.

Can `OnHijackTripThread()` be copied safely from `amd64/asmhelpers.asm`? There doesn't seem to be a Windows ARM64 implementation

[2016-11-29 19:38] jkotas commented on #917
The Windows ARM64 implementation is here: https://github.com/dotnet/coreclr/blob/master/src/vm/arm64/asmhelpers.asm#L936

[2016-11-29 20:11] sivarv opened #8356 "[JitStressRegs=3][AVX2][SIMD] VectorArrayInit_ro test fails in case of Vector<float> and Vector<double>"
[code]

[2016-11-29 20:16] josteink commented on #8316
That would very much be a welcome addition. Currently it feels like all the work we invested in *trying* to land proper FreeBSD-support went under the rug the second donet CLI was introduced.

I really like dotnet CLI and consider it a huge improvement for most parts, but that particular issue has had me bugged ever since. Getting it fixed would be a major milestone IMO.

[2016-11-29 20:19] pgavlin commented on #8287
@RussKeldorph: the CoreCLR commit you've referenced above does not seem to exist:

[code]

[2016-11-29 20:44] RussKeldorph commented on #8287
@pgavlin Confirmed I'm a Git n00b.  Updated with closest likely commit.

[2016-11-29 20:49] JohnChen0 commented on #8148
Fixed with PR #8230.

[2016-11-29 20:49] #8148 closed

[2016-11-29 20:50] JohnChen0 commented on #7526
Fixed with PR #8218.

[2016-11-29 20:50] #7526 closed

[2016-11-29 21:14] JohnChen0 commented on #8239
Fixed with PR #8240.

[2016-11-29 21:14] #8239 closed

[2016-11-29 21:36] swgillespie opened #8358 "[Local GC] Handle table"
The GC contains the handle table, which the VM needs to be able to interact with. Currently, the VM interacts with the handle table directly and doesn't go through an interface.

The handle table defined in `src\gc\ObjectHandle.h` is used in two places: one from within the GC, and one by the VM when creating and destroying handles and handle tables. We should assess the performance impact of addin

[2016-11-29 21:38] Maoni0 opened #8359 "Local GC: stop sharing GC globals between GC and write barrier"
As part of the LocalGC project I’d like to stop sharing the GC globals between the GC code and the WB (Write Barrier) code. The globals are (note I am not including things that don’t run on customers machines by default like debug only code or GCShadow stuff):

`g_card_table`
`g_lowest_address`
`g_highest_address`
`g_ephemeral_low`
`g_ephemeral_high`

The last 2 are only changed when EE is suspend

[2016-11-29 21:47] swgillespie commented on #8359
With regards to SWW, the address of the write watch table can be communicated in the same manner as `g_card_table` above. Today, the non-assembly write barriers call `SoftwareWriteWatch::SetDirty` to mark a page as dirty, while the assembly write barriers do it manually in the same manner as the card table. We can either expose `SetDirty` on the interface, or we can do what the the assembly does t

[2016-11-29 21:51] pgavlin commented on #8287
I can repro this using the CoreFX commit mentioned in the description and the latest bits from CoreCLR.

[2016-11-29 21:51] swgillespie opened #8360 "Local GC: Implementation of GCToOSInterface for Unixes"
As part of the Local GC effort, the GC provides its own implementation of `GCToOSInterface` instead of delegating to the VM's PAL as is done today. This is partially implemented on windows and not implemented at all on Unix. See (https://github.com/dotnet/coreclr/blob/master/src/gc/gcenv.unix.cpp).

The GC's dependency on VM headers complicates this on Unixes, since the VM itself forbids the inclu

[2016-11-29 21:57] swgillespie opened #8362 "Local GC: GCToOSInterface platform detection"
The Windows implementation of `GCToOSInterface` is complete enough to pass tests, but it is not complete - in particular, it does not attempt to do any kind of platform detection or detection of processor capabilities (e.g. [1](https://github.com/dotnet/coreclr/blob/master/src/gc/gcenv.windows.cpp#L49), [2](https://github.com/dotnet/coreclr/blob/master/src/gc/gcenv.windows.cpp#L274), [3](https://g

[2016-11-29 22:07] mikem8361 opened #8363 "Question: what remaining SOS commands need to be ported to Linux/OS X"
This issue is a general catch all for comments, etc. on the remaining SOS commands not ported to Linux/OS X. Comments on how important you think these at

Remaining unsupported commands:

- [ ] DumpPermissionSet
- [ ] TraverseHeap
- [ ] VerifyObj
- [ ] ListNearObj
- [ ] GCHeapStat
- [ ] SyncBlk
- [ ] FinalizeQueue
- [ ] ThreadPool
- [ ] DumpGCLog
- [ ] DumpGCConfigLog
- [ ] EEVersion
- [ ] ProcInf

[2016-11-29 22:08] mikem8361 commented on #8363
@cmckinsey @lt72

[2016-11-29 22:34] swgillespie commented on #8359
Related: https://github.com/dotnet/coreclr/issues/5741

[2016-11-29 22:34] seanshpark commented on #8331
Thanks @BruceForstall

[2016-11-29 22:37] pgavlin commented on #8287
The problematic method is `System.Text.GB18030Encoding:GetBytes(int,int,int,int,ref):int:this`.

In this case, LRSA decides to unspill a local that is assigned to a register that contains a live value:

[code]

Here, `I261` is the result of a right shift. At location 1985, it is copied into `ecx` s.t. it is in a byte-addressable register that will be used as the source operand to a byte-sized indi

[2016-11-29 22:40] pgavlin commented on #8287
There is another issue of interest here in that `Lowering::TreeNodeInfoInitCheckByteable` is over-constraining the address operand to indirect stores to byte-addressable registers. This is not necessary, and should be fixed. Although fixing the over-constraint may keep this specific issue from occurring, I do not believe that this is the root cause.

[2016-11-29 22:43] sivarv commented on #8287
I am assigning this to myself.

[2016-11-29 22:49] sivarv commented on #8356
This turns out be a LSRA issue.

[code]
Above lower-half of ymm1 (actually xmm1) contains arg to call CheckValue().  Afterwards, ymm1/xmm1 is allocated to SIMDVectorUpperSave also.  But the register that was marked for spilling is SIMDVectorUpperSave instead of putarg_reg.

CC @CarolEidt

[2016-11-29 23:29] danwalmsley commented on #8304
Bump

[2016-11-30 00:19] seanshpark opened #8369 "x86/Linux: compile error "Dacp structs cannot be modified due to backwards compatibility""
`DacpXXXX` structure seems size difference in x86/Linux compilation. I think elements are assumed to be 8 byte aligned but does not solve with adding `__attribute__((aligned(8)))` for the structure
Error message is like this;
[code]

If I force add a padding DWORD it seems to work, for example for `DacpThreadData`
[code]
Does anyone know how to solve this kind of problem? I couldn't find how ARM32

[2016-11-30 00:19] seanshpark commented on #8369
CC @parjong

[2016-11-30 00:24] #8300 closed

[2016-11-30 00:25] cydhaselton commented on #917
@janvorli Got it and added it.

Have removed all TEXTRELs and missing objects and am now getting the following error when attempting to run `which corerun` `which hello.exe`

`0x283b-0x7f8af5bf30} ASSERT [PROCESS] at /data/data/com.termux/files/pkg/ps/coreclr/src/pal/src/thread/process.cpp.2101: Expression: chars > 0 && chars < MAX_DEBUGGER_TRANSPORT_PIPE_NAME_LENGTH

[2016-11-30 01:15] seanshpark commented on #8369
@BruceForstall, could you help?

[2016-11-30 01:18] janvorli commented on #8224
So I have found the culprit, although I have no idea about how to fix it yet. Here is the important part of call stack at the time the app exits:
[code]
I have dumped strings on the stack and this is the assertion message:
 Assertion failed.  Unrecognized Target Framework Moniker in our Binary Compatibility class.  Framework name: ".NETCoreApp,Version=v1.0". The function ParseTargetFrameworkMonike

[2016-11-30 01:28] BruceForstall commented on #8369
@seanshpark What you've done looks correct to me.

@noahfalk What do you think?

[2016-11-30 03:25] cnblogs-dudu opened #8383 "Memory usage and thread count constantly grow even without workload"
It's an ASP.NET Core application. After it run on IIS for a period of time(one day or more), it stoped working and returned 503.
Memory usage of the process had grown up to over 1G(Normally it is about 40M). Thread count of  the process had grown up to over 8000(Normally it is about 20).
When taken the workload off(no request comes in), Memory usage and thread count of the process were constantly

[2016-11-30 04:06] JohnChen0 commented on #8116
Fixed with PR #8365.

[2016-11-30 04:06] #8116 closed

[2016-11-30 05:53] ellismg commented on #8224
/cc @AlexGhiondea @weshaggard for System.Runtime.Versioning.BinaryCompatability

[2016-11-30 06:26] DragonSA commented on #8316
Thanks for the link to "rover".  I see that work has been successfully
merged into dotnet/core :-).

We already had the equivalent functionality for FreeBSD (DragonSA/dotnet,
see dotnet-sdk) however the limiter remains the SDK used.  The approach
used by dotnet/core#326 relies on a Linux-x64 based SDK (we used the same
approach) and will only work when bootstrapping for Linux-x64 systems and
exclu

[2016-11-30 06:56] ayende commented on #8224
a) That is great, and it explains why we were able to proceed further when using release mode.
b) Aside from the obvious assert issue, is there a way to actually get the assertion errors as we would normally would?

[2016-11-30 07:20] AlexGhiondea commented on #8224
A bit of context first:
The BinaryCompatibility class was used before AppContext to enable quirks for in-place upgrade of the framework.
The way it works is by having a static set of frameworks that it knows about and using the value from the AppDomain.CurrentDomain.SetupInformation.TargetFrameworkName to set some flags true/false. Those flags are then used to make compat decisions in the framewor

[2016-11-30 07:25] jkotas commented on #8224
Sounds good to me.

[2016-11-30 07:53] janvorli commented on #8224
@AlexGhiondea thanks for the details. Btw, the assembly was compiled using the dotnet tools on Linux, not by VS. And it doesn't have the TargetFrameworkMoniker attribute, only TargetFramework attribute:
`[assembly: TargetFramework(".NETCoreApp,Version=v1.0", FrameworkDisplayName = "")]`

@ayende, regarding the assert errors not being shown, I was also surprised. We need to fix that. It is caused b

[2016-11-30 10:22] cydhaselton commented on #917
@janvorli

Setting the breakpoint at MapViewOfFileEx doesn;t stop the debugger before coreclr_initialize.  On a hunch, I set a breakpoint at process.cpp:2101 and doing so does stop the debugger before coreclr_initialize. I'll start the step out there and dump the output

[2016-11-30 10:33] Ozonni commented on #3305
Is it possible to override the default behavior e.g. SIGUSR1 doesn't terminate the process?

[2016-11-30 10:38] janvorli commented on #917
I didn't want it to stop before coreclr_initialize. I wanted to stop as close to the point where the issue happens.

[2016-11-30 10:39] janvorli commented on #917
Ah, sorry, I've read your response in the email before you've corrected it.

[2016-11-30 10:40] janvorli commented on #917
But, I am confused - what sigsegv are you talking about? Are you still setting the COMPlus_BreakOnHR? You should not do that anymore, it was just for that experiment.

[2016-11-30 10:43] janvorli commented on #917
And looking at your former log with PAL logging enabled (http://pastebin.com/xg02yG1b), the MapViewOfFileEx was called twice before the issue occured.

[2016-11-30 10:49] janvorli commented on #3305
@Ozonni I think you could be able to do that using a small native shared library that would mask the signal. In your managed code, you would use interop to call a function in this library that would mask the signal.

[2016-11-30 11:00] christianhuening opened #8398 "AssemblyLoadContext throws System.InvalidOperationException: Resolved assembly's simple name should be the same as of the requested assembly."
I am trying to load some plugin style DLLs from a folder with a custom AssemblyLoadContext implementation like so:
[code]

Now for every DLL that is attempted to be loaded an exception is thrown like so:
[code]
originating from here at line 247: https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Runtime/Loader/AssemblyLoadContext.cs#L247

Everything is on .NET Core 1.1 , also th

[2016-11-30 11:02] christianhuening commented on #8398
I guess cc @gkhanna79

[2016-11-30 12:42] cydhaselton commented on #917
@janvorli Output from setting breakpoint is here: http://pastebin.com/q6Nf3636

Basically running `fin` after the breakpoint did not exit `PAL_GetTransportPipeName` before throwing SIGBUS.

[2016-11-30 12:47] janvorli commented on #917
@cydhaselton That would mean that you have not fixed the buffer size enough and the assert still fires, I guess.

[2016-11-30 13:28] cydhaselton commented on #917
@janvorli

I've rebuilt using current sources. Do you want me to dump another PAL log?

Buffer size…or `MAX_DEBUGGER_TRANSPORT_PIPE_NAME_LENGTH` was increased from 64 to 128. Shoukd I increase more?

I'll unset this.

[2016-11-30 14:11] janvorli commented on #917
Ok, can you please generate another PAL log? It seems that things have changed with the current sources. I was wondering - could you create a PR now that you have moved to the current sources? It would be easier for me to reason about changes that I can see.

[2016-11-30 14:27] cydhaselton commented on #917
PAL log here: http://pastebin.com/0n2wiC7r

I've not done a PR before so I'll need a bit to get feature-android merged up my fork and figure out the PR procedure. However, shouldn't I hold off until the issue is fixed before submitting a PR?

[2016-11-30 14:30] cnblogs-dudu commented on #8383
Download the dump file: http://files.cnblogs.com/files/cmt/aspnetcore-app-dump.zip

[2016-11-30 14:31] janvorli commented on #917
The log says that System.Private.CoreLib.dll was not found. You can see the path it was trying to load it from below:
[code]

[2016-11-30 14:33] cydhaselton commented on #917
You;re faster than I; was just updating previous msg to tell you to ignore log.
Will update when both are built and I have a new log

[2016-11-30 14:33] janvorli commented on #917
As for PR, for porting stuff like this, we can mark the PR as work in progress in the title ([WIP]).

[2016-11-30 14:50] janvorli commented on #8224
@ayende I have just created #8399 that adds printing the assert message and stack trace to console. For your case, it prints:
[code]

[2016-11-30 14:53] ayende commented on #8224
That is great, thanks.

[2016-11-30 16:27] janvorli commented on #8369
Clang is expected to align structure members to their natural alignment, which for basic integer elements is their size, unless the struct is marked as packed. I can see that even in their unit tests - see `https://llvm.org/svn/llvm-project/cfe/branches/eh-experiment/test/Sema/struct-packed-align.c`. So I am really curious on what's going on here.

[2016-11-30 17:57] danrozenberg commented on #8352
Further analysis of my issue shows that ``System.Collections.Immutable`` brings in extra dependencies not listed on Nuget. One of them is ``"System.Runtime": "4.0.20"`` (see this issue: https://github.com/dotnet/corefx/issues/2984)

Thus, the following project.json for the app also has the same issues:

[code]

But then, ``"NETStandard.Library": "1.6.0"`` has a dependency on ``System.Runtime 4.1.0

[2016-11-30 18:46] AlexGhiondea commented on #8224
@janvorli yup -- that's the attribute I meant :smile.

FYI -- I am removing that type in PR #8396.

[2016-11-30 20:04] janvorli opened #8403 "Investigate possibility of excluding sortversioning.cpp on Unix"
Based on @ellismg suggestion:
It would interesting to explore (or file a follow up work item) to see if we can remove the need to include sortversioning.cpp and sortversioning.h on *nix entirely. IIRC, these are only relevant for windows where we implement sorting and such over the Win32 APIs.

[2016-11-30 21:09] christianhuening commented on #8398
Actualy when using the AssemblyLoadContext.Default loader I am able to get the correct results without the InvalidOperationException bing thrown.

I eventually run into a StackOverflowError inside of the AssemblyLoadContext.Resolve Handler then though...

[2016-11-30 21:40] cydhaselton commented on #917
Just FYI, currently struggling with ref keyword errors in the System.Private.Corlib.dll build

[2016-11-30 21:42] janvorli commented on #917
@cydhaselton what do you mean? You should not need to modify anything in the managed code.

[2016-11-30 22:01] janvorli commented on #8369
I have done some investigations and it seems that I was wrong in one aspect. What I've said about the alignment is true, but only for types with size <= sizeof(void*), in other words, for sizes <= natural integer size. For larger sizes, the members are aligned to the natural integer size, which for x86 is 4 bytes.
But there is an attribute that can be attached to the members we want to have aligne

[2016-11-30 22:02] janvorli commented on #8369
I've verified that it works using a simple testing app.

[2016-11-30 22:03] jkotas commented on #917
What is the C# compiler that you are using to compile?

[2016-11-30 22:11] janvorli commented on #8369
Actually, I have found even easier way. Apply `__attribute__((ms_struct))` to these structures when `__clang__` is defined. That works too.

[2016-11-30 22:15] janvorli commented on #8369
Actually, there is define MSLAYOUT that can be used here. It is defined as empty for MSVC.

[2016-12-01 00:47] #8331 closed

[2016-12-01 01:16] #8203 closed

[2016-12-01 01:21] benaadams commented on #7017
Another example, removed IndexOfAny from MVC as it was taking a significant portion of the runtime https://github.com/aspnet/Mvc/issues/5362

[2016-12-01 02:00] DemiMarie commented on #4331
Have there been any more thoughts on this? @russellhadley CoreCLR has been released and RyuJIT has been ported to (at least) x86 – what is next on the roadmap?

[2016-12-01 02:03] DemiMarie commented on #5870
@CarolEldt So I assume that unsafe downcasts of discriminated union types (after having already verified that the cast is safe) are okay?

[2016-12-01 03:40] CarolEidt commented on #5870
@DemiMarie - Yes, at least from the JIT's perspective. Any value types that have overlapping fields are treated conservatively by the JIT.

[2016-12-01 09:08] christianhuening opened #8416 "AssemblyLoadContext tries to load assembly System.IO.FileSystem.resources which cannot be found"
I am loading a couple of plugin style assemblies. One of which is using the System.IO namespace.
The load of this particular Assembly crashes into a StackOverflowException while trying to find an assembly with the FullName of:
`System.IO.FileSystem.resources, Version=4.0.2.0, Culture=de-DE, PublicKeyToken=b03f5f7f11d50a3a `

I searched NuGet, the CoreFX and CoreCLR repos etc. but could not find an

[2016-12-01 09:23] gokarnm commented on #7812
@gkhanna79, @piotrpMSFT and @livarcocc, I would appreciate your thoughts on this.

[2016-12-01 09:28] janvorli commented on #917
@cydhaselton as for the PR, I've realized that it would actually be better to not to create the PR yet. Just create a branch, commit the changes, push them to the origin and share the name of the branch here. I can then fetch your changes. This way we won't trigger CI jobs by every change you'll make.

[2016-12-01 12:23] cydhaselton commented on #917
@janvorli: I'm using the Roslyn compiler with the mono runtime. I was able to build System.Private.Corelib and mscorlib before using this method, so I'm not sure why I'm having problems now.

[2016-12-01 17:17] cydhaselton commented on #917
I think I've found the problem; the build is using `/usr/lib/mono/4.5/Microsoft.CSharp.targets (CoreCompile target) ->` which…if the errors immediately following are related…do not support the `ref` keyword.

Working on re-pointing that reference now

[2016-12-01 17:21] gkhanna79 commented on #8398
@christianhuening The "Load" override is always invoked before the Resolving event - to allow the custom load context to override what the default context may want to load. Are you sure you wish to have the same implementation for Resolving handler and Load override or simply want the Resolving event handler?

Also, I presume that you have confirmed that, in case of the repro, the Load override go

[2016-12-01 17:23] gkhanna79 commented on #8416
FX assemblies are not localized, so you should skip attempting to resolve them.

CC @weshaggard

[2016-12-01 18:04] RussKeldorph commented on #8322
@FransBouma We have some preliminary measurements but aren't ready to publish anything yet.  As we get the correctness issues under control, our focus will shift to measuring the performance differences between RyuJIT/x86 and JIT32 and mitigating the regressions as much as we can.

If you have specific examples of performance regressions, we've love to hear about them, especially if they are easy

[2016-12-01 19:12] christianhuening commented on #8416
@gkhanna79 Sorry don't get that. Could you explain that a bit more? I am not trying to resolve a FX assembly intentionally, but attempt to load an assembly I have written as a plugin against my APIs. Inside of that (rather simple) plugin, I download a file from an API and load it, which is why it uses the System.IO Namespace. As it seems when loading that assembly, the above mentioned assembly is

[2016-12-01 19:31] gkhanna79 commented on #8416
What I am saying is that localized assemblies for FX components do not exist. Thus, if you see a request to load a resources file for a FX assembly, you should just return null.

[2016-12-01 19:32] FransBouma commented on #8322
@RussKeldorph I have an AnyCPU compiled complex winforms app and if I start it on x64 windows 8.1 it takes much longer to get up and running than when I start the same app through an x86 compiled stub to make it run on the 32bit CLR. (.NET 4.x both). Is this the kind of difference that will go away (for the better, so x64 performance will get close to x86 perf as it is now) eventually?

[2016-12-01 20:06] mikedn commented on #8322
I think you are confusing RyuJIT x64 with JIT64, the old x64 JIT. It is JIT64 that sometimes has serious performance problems, not RyuJIT.

[2016-12-01 20:32] FransBouma commented on #8322
@mikedn afaik, RyuJIT is the JIT in .NET 4.6+? i.o.w: if you have that installed (I do) the JIT used is RyuJIT on x64.

[2016-12-01 21:14] JPBlanc commented on #7899
Thanks that' what I was looking for.
Sorry for the delay.

[2016-12-01 21:15] #7899 closed

[2016-12-01 21:18] mikedn commented on #8322
Yes, it should be enabled in .NET 4.6. But the scenario you are describing (complex winforms app slow to start) seems similar to one that was causing problems in JIT64. It would be interesting if you could profile the application to see what exactly is going on, if it uses RyuJIT and what exactly is slow about it.

[2016-12-01 21:33] jkotas opened #8418 "ildasm roundtrip failing for JIT\opt\perf\doublealign\Locals\Locals"
This test started failing after recent corefx update

[2016-12-01 21:48] FransBouma commented on #8322
@mikedn Profiling it doesn't really reveal what's slow other than that things take longer to complete, which suggests a CLR/JIT slowdown (but I'm not a CLR expert). RyuJIT is enabled through the registry (HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\.NETFramework UseRyuJIT is set to 1)

[2016-12-01 22:44] christianhuening commented on #8398
@gkhanna79 Well thanks! I indeed just wanted to have the Resolving Handler, I think.

[2016-12-01 22:44] #8398 closed

[2016-12-01 23:39] benaadams commented on #4700
Its surfaced via the clr C++ and is used much more after this change https://github.com/dotnet/coreclr/pull/6645

[2016-12-01 23:52] parjong commented on #8342
This build error occurs only when WIN64EXCEPTIONS is enabled. I'll close this issue as we decide to disable it for x86/Linux.

[2016-12-02 04:54] jkotas commented on #8418
https://github.com/dotnet/coreclr/pull/8419/commits/28e4d0d2422cd88839944686c550529904915b5b should be rolled back once this is fixed.

[2016-12-02 06:07] benaadams opened #8423 "Boxing Cache?"
Revisiting https://github.com/dotnet/coreclr/issues/111

Using repo [example manged code](https://github.com/benaadams/PerfTesting); shows pre-cached boxes for common values can improve the performance of boxing (see below). Is there a way of building this into the jit or runtime?

Or is this just madness?

Integer Box Caching

[code]

Boolean Box Caching

[code]

Suggestion, cache boxes for:

boo

[2016-12-02 06:19] mikedn commented on #8423
I would guess that this makes boxing slower. Who's benefiting from that? 👽s?

[2016-12-02 11:02] Janiels commented on #8423
Even if it was faster, it is a bad idea since boxed value types can have their values modified. Not expressible in C# (without interface tricks), but possible in IL and C++/CLI:
[code]

[2016-12-02 11:03] jkotas commented on #8423
Right, I was about the write the same comment as @Janiels

[code]

!!!

[2016-12-02 11:13] 0xd4d opened #8436 "x64 + EnC in method returning struct >= 9 bytes results in FatalExecutionEngineError"
Version: .NET Framework 4.6.2
VS2015.3 / VS2017RC

- Create a new C#, .NET 4.6 project in VS
- Use the code below
- Switch to x64 build
- Step into `M()`
- Uncomment `System.Console.WriteLine();`
- Step

[code]

[code]

[2016-12-02 11:48] mikedn commented on #8423
Or reflection:
[code]

[2016-12-02 12:09] benaadams commented on #8423
Is that common?

To prevent subtle errors, could allocate boxes from a single page, then mark them as `PAGE_READONLY` (using [`VirtualProtect`](http://msdn.microsoft.com/en-us/library/windows/desktop/aa366898(v=vs.85).aspx) or [`mprotect`](https://linux.die.net/man/2/mprotect)) and you'd get an access violation if you tried... 😉

Obviously if its common practice then couldn't do that...

[2016-12-02 12:24] mikedn commented on #8423
I'd say not. But is it worth the risk? What kind of code does a lot of boxing, uses a limited enough range of numeric values and expects good performance?

[2016-12-02 12:29] Janiels commented on #8423
`unbox` is actually specced to return a controlled-mutability managed pointer in ECMA-335. Reading about those it means that the unboxed pointer is actually read-only for the types you outlined, so that makes this slightly more interesting...

[2016-12-02 12:36] benaadams commented on #8423
String.Format 😄

Well, that works both ways; introducing a cache would likely slow down boxing slightly; but ease up on GC.

Is [common practice in Java](http://stackoverflow.com/questions/1700081/why-does-128-128-return-false-but-127-127-return-true-when-converting-to-integ); so
[code]

[2016-12-02 12:43] benaadams commented on #8423
For reference I think the asm [`JIT_BoxFastMP_InlineGetThread`](https://github.com/dotnet/coreclr/blob/master/src/vm/amd64/JitHelpers_InlineGetThread.asm#L86-L148) is the fastest version of boxing?

[2016-12-02 13:04] mikedn commented on #8423
`String.Format` is far from having stellar performance anyway. And not because of boxing. If you try something like:
[code]
and change the type of x from `int` to `object` you won't notice any difference.

Eh, the old story about GC. Let's cache everything because GC can't handle it. But GC handles short lived objects pretty well so it's not clear how much this will "ease up on GC".

Considering t

[2016-12-02 13:57] benaadams commented on #8423
Added a few more examples; longer lived would be typed documents in memory; Json, Csv, Xaml etc as your example of WPF

And people create their own boxing caches again and again https://github.com/dotnet/corefx/issues/6533

[2016-12-02 13:57] cnblogs-dudu commented on #8383
windbg
[code]

[2016-12-02 15:36] jkotas commented on #8423
Exactly. You do not actually care whether there are thousands GCs or no GC. What you care about is how fast a thing runs and what the GC pauses are. And caching short-lived objects does not improve either.

People who do not measure do...

[2016-12-02 16:45] benaadams commented on #8423
Maybe I should have led with a [repo you can try locally](https://github.com/benaadams/PerfTesting) and some metrics for it

Integer Box Caching

[code]

Boolean Box Caching

[code]

[2016-12-02 17:17] jkotas commented on #8423
Microbenchmark is good, but it does not tell the full story. This would need to be looked at in the context of real workloads like Roslyn or ASP.NET.

[2016-12-02 18:16] christianhuening commented on #8416
well, ok. I just check for ".resources" now and return null if it is requested.
That seems to work! Thanks
//closed

[2016-12-02 18:16] #8416 closed

[2016-12-02 20:48] cydhaselton commented on #917
UPDATE: Still working on these errors in the mscorlib/System.Private.CoreLib.dll build.
`CSC: error CS1504: Source file '/pkg/ps/coreclr/src/mscorlib/src/System/Resources/ResourceFallbackManager.cs' could not be opened -- api-ms-win-core-localization-l1-2-0.dll
 CSC: error CS1504: Source file '/pkg/ps/coreclr/src/mscorlib/src/System/Convert.cs' could not be opened -- api-ms-win-core-localization-l

[2016-12-02 21:15] paultechguy commented on #3977
Excited to see official ARM release as well!

[2016-12-02 22:01] davjohna commented on #1504
1. Is the change still looking like it'll make it into 1.1.0?
2. Will this change fix the error message for all the ways a StackOverflowException could occur, or just a small subset of them?

[2016-12-03 01:46] benaadams commented on #8423
Roslyn caches boxes for true, false, all zeros, int32 1, chars 0 - 127 https://github.com/dotnet/roslyn/blob/master/src/Compilers/Core/Portable/Collections/Boxes.cs

[2016-12-03 19:34] robertmclaws opened #8439 "Collection<T> does not support Ranges"
Based on the discussion in https://github.com/dotnet/corefx/issues/10752, I'm opening up an issue here to track the PR that will be required to enable the approved changes to ObservableCollection<T>.

[2016-12-03 20:18] mikedn commented on #8423
That might mean that the framework should provide some kind of mechanism to help with this issue. But it doesn't necessarily mean that the mechanism should be built into the boxing operation itself. A `Box` method that can be called from user code as needed might be just enough. People who need this and are happy with what it offers will use it. Those who aren't happy with what it offers may still

[2016-12-03 20:49] benaadams commented on #8423
From my benchmark tests; what I was attempting to do was the wrong approach as it was a (virtual) call in the runtime; and about half of the gain is already lost if its not inlined.

So (if automatic) it would either need to be a code replace in jit or something like a Roslyn generator - depending how that plays out?

And... I'd guess the second would be preferred as it would be a user choice/refe

[2016-12-03 21:36] galvesribeiro opened #8440 "Missing NanoServer MSBuild docker image"
Hello folks...

Looking for the latest image of dotnet runtime and sdk on Docker hub, I found out that there isn't one for nanoserver. The only one available is for Debian...

I know that we can easily build our own but, is there a plan to ship an "official" one for nanoserver?

Thanks!

[2016-12-03 21:45] benaadams commented on #8440
https://hub.docker.com/r/microsoft/dotnet/

Not available as `microsoft/dotnet:<version>-nanoserver` ?

[2016-12-03 21:56] galvesribeiro commented on #8440
https://github.com/dotnet/dotnet-docker/blob/master/1.1/nanoserver/sdk/projectjson/Dockerfile

It is for projectjson, now MSBuild :( The MSBuild is only for Debian https://github.com/dotnet/dotnet-docker/blob/master/1.1/debian/sdk/msbuild/Dockerfile

(links from docker hub)

[2016-12-03 21:57] benaadams commented on #8440
Ah, gotcha!

[2016-12-04 01:39] cnblogs-dudu commented on #8383
This deadlock can be reproduced when end process of the ASP.NET Core application  in production that many requests are coming in. See the following screen recording:

![deadlock-in-dotnet-core](https://cloud.githubusercontent.com/assets/3196961/20863420/b552b73a-ba04-11e6-85b6-0514cb6a05ed.gif)

[2016-12-04 02:15] roterdam opened #8441 "CoreCLR does not build with Visual Studio 2017 RC"
I installed Visual Studio 2017 RC and tried to follow build instructions for CoreCLR it does not build.

It does build if I install Visual Studio 2015.

[2016-12-04 02:16] roterdam commented on #8441
It complains about something called DIA SDK. And also it must be launched from the developer prompt, otherwise it tries to find VS 2015 and fails out right.

[2016-12-04 05:00] cnblogs-dudu commented on #8383
The deadlock is caused by the following mistaken code in EnyimMemcachedCore.
[code]
It is fixed by the following code. But Resolving host name to IP address in concurrent requests has not been fixed.
[code]

[2016-12-04 05:00] #8383 closed

[2016-12-04 06:32] robertmclaws commented on #8439
My initial work is [here](https://github.com/robertmclaws/coreclr/commit/841672090c9245ab961bf25cb682833ef599c358). Feel free to follow along. Would love feedback before the PR, or you can wait till after.

[2016-12-04 11:49] benaadams commented on #8383
Can you await instead?

[code]

[2016-12-04 12:38] cnblogs-dudu commented on #8383
It is called in constructor.

[2016-12-04 12:51] benaadams commented on #8383
Delay the eval? Set up the tasks in the constructor

[code]
Then resolve/await them later when you need them?

[2016-12-04 13:30] cnblogs-dudu commented on #8383
EnyimMemcachedCore creates a socket pool in the constructor.

[2016-12-04 13:35] benaadams commented on #8383
Can you link to the code?

[2016-12-04 14:01] cnblogs-dudu commented on #8383
Please see [MemcachedClient](https://github.com/cnblogs/EnyimMemcachedCore/blob/dotnetcore/Enyim.Caching/MemcachedClient.cs). Call System.Net.Dns.GetHostAddressesAsync(host) in [ConfigurationHelper](https://github.com/cnblogs/EnyimMemcachedCore/blob/dotnetcore/Enyim.Caching/Configuration/ConfigurationHelper.cs).

[2016-12-04 14:43] cnblogs-dudu commented on #8383
There is a synchronous `System.Net.Dns.GetHostEntry(string hostNameOrAddress)` for netstandard 2.0 ( dotnet/corefx@0539e53). How to use it?

[2016-12-04 18:35] cydhaselton commented on #917
@janvorli @jkotas I'm currently stuck on the System.Private.CoreLib.dll/mscorlib.dll build; all invalid character issues have been resolved but now the compiler keeps crashing with the unhelpful error code 1 and no addutional information.

Perhaps this would be a good time to move future troubleshooting to a conversation/issue in the feature-android branch?

[2016-12-04 19:20] jkotas commented on #917
Roslyn running Mono has known issues - they are being worked on. In the mean time, I would recommend compiling Android CoreLib on x64 machine using Roslyn running on .NET Core, and copy it over to Android machine.

Splitting the discussion into separate issues sounds good. Also, if you have some good sets of changes that would be worth integrating to master, we will be happy to take them. We prefe

[2016-12-04 21:38] cydhaselton commented on #917
@janvorli After leaving the prior message I managed to build System.Private.CoreLib.dll.  You can find an updated PAL log here: http://pastebin.com/CknrzKBp

Regarding splitting the conversation; would it be less messy to continue troubleshooting in a feature-android issue and save the PR until resolved? If so, let me know and I'll open one and tag you.

[2016-12-05 03:18] JohnCSimon commented on #8441
You can modify build-native.cmd to contain
[code]

but it'll also bomb out with
[code]

[2016-12-05 04:00] seanshpark commented on #8369
@janvorli , thank you for the guide. I've updated #8377

[2016-12-05 04:02] #7762 closed

[2016-12-05 09:44] mikedn commented on #2188
As seen in the above PR attempt adding such an overload is problematic because it introduces ambiguity in overload resolution. `null` is a valid value for `comparer` so code like `list.BinarySearch(42, null)` won't compile anymore because the compiler doesn't know if `null` is a comparer or a comparison.

The presence of the up-for-grabs label seems unfortunate on this issue. I suppose one could "

[2016-12-05 10:15] AlexRadch commented on #2188
@mikedn  What is `p` in code that does not work?

[2016-12-05 10:17] janvorli commented on #1504
@davjohna - it is not planned for 1.1.0. We already generate error message for StackOverflowException in cases where we can detect it before we actually get out of the stack. These are cases where jit inserts explicit checks for stack space. It happens when a function has locals larger than 4kB.
So this remaining case is when there are no explicit checks and we physically run out of stack.

[2016-12-05 10:28] lucenticus commented on #8188
@seanshpark I just would like to share my brief investigation: I've succesfully built with your pull requests + disabled tests (with `skiptests`) + disabled libsosplugin + some hacks. But when I tried to run simple helloworld.exe, I got undefined symbol error for some symbols located in *.asm files. Probably, this information could be useful for you.

[2016-12-05 10:57] AlexRadch commented on #2188
If this issue about Adding API, I sagest add to Array<T> an List<T> many methods with `Func<T, TValue> select` as selector for items values

[code]

[2016-12-05 11:02] George1205 opened #8457 "Huge performance difference with "Prefer 32-bit" on"
Hi,

According to github.com/dotnet/coreclr/issues/993 , a bug in .Net causes a slow down of certain operations. The item is marked as fixed.

However, after investigating some other code, I have found that either the issue is not fixed (in production), or I have found a similar bug.

Specifically, I have created the attached solution to reproduce the problem. This is consistent on 3 computers, a

[2016-12-05 11:31] seanshpark commented on #8188
@lucenticus , yes, there are lots of undefined symbols to fix and @parjong is currently working on it. Thanks for the share :) . I'll be working on the SOS.

[2016-12-05 11:54] mikedn commented on #2188
`p` is supposed to be the item in the list that's passed to the comparer. As already stated, I'm talking about cases where I don't already have a person object. Since you're searching for objects it's pretty common that you don't already have an object.

Yes, it's not possible to reuse the existing implementation to provide such an API. And that may actually be a good thing performance wise, the e

[2016-12-05 12:00] seanshpark opened #8458 "Q) What are the DBG_TARGET_XXX used for?"
When looking around SOS codes, I can see lots of `DBG_TARGET_xxxx` defines. Is there any documents here in github or other places that I could reference while working on Linux/x86 port?
And also for `SOS_TARGET_XXX`.
Thanks in advance.

[2016-12-05 12:45] cnblogs-dudu commented on #8383
Final fix:
[code]

[2016-12-05 12:48] AlexRadch commented on #2188
@mikedn You want have such method `list.BinarySearch(42, p=> p.Age)`. This is search by select function.
So if you have only select function, it would be nice to Sort by this function also.

[2016-12-05 12:56] mikedn commented on #8457
993 was a very specific issue and affected only floating point conversions. It is certainly fixed and it has nothing to do with your code.

I took a quick look at the generated assembly code and it seems that are multiple CQ issues. Some are specific to 64 bit (the way static fields are accessed, the way arrays indices are sign extended) and some are RyuJIT specific. Some things that caught my eye

[2016-12-05 13:19] mikedn commented on #2188
Not really, I don't want that because a select function doesn't include a compare. And it's not only about performance, the select version would need an additional overload that allows you to specify a comparer/comparison to be used to compare the selected values.

Note that lists and arrays already have search facilities that allow you to search for an object when an object isn't already availabl

[2016-12-05 13:20] George1205 commented on #8457
Thank you for looking into this.

I don't know if this is relevant, but you've mentioned range checking. I have also tested the code (all those assignments) by putting it within "unchecked", but it makes no difference (performance wise) whether in 32 or 64 bit.

[2016-12-05 13:30] mikedn commented on #8457
`unchecked` doesn't affect array range checks, currently the only way to avoid those is to use `unsafe` and pointers (BTW I wanted to suggest that as a possible workaround but forgot).

Anyway, not that the JIT32 version has range checks as well and works pretty well. In my experience range checks aren't as bad (performance wise) as some may think. For the sake of completeness I'll update the post

[2016-12-05 15:24] AlexRadch commented on #2188
@mikedn Ok. You want next overload for BinarySearch ``
[code]

It have more performance than next
[code]

But I think second is more flexible and more simple to understand and to write. In many cases default comparison is suitable. Also it looks like like linq.

[2016-12-05 16:47] #7674 closed

[2016-12-05 17:14] karelz commented on #2188
@AlexRadch just a reminder: if you want to save wasted efforts, it would be best to first ping the issue (feel free to mention me) and ask for it to be assigned to you, before you start working on it ...

[2016-12-05 18:00] AndyAyersMS opened #8459 "Windows exception interop support"
Jit codegen for inline pinvoke is currently more restricted than necessary for CoreCLR, since it is working around issues that arise with exception interop on windows.

We should remove the support and the restrictions on jit codegen.

See notes for #8263.

[2016-12-05 18:15] AlexRadch commented on #2188
Ok. It was easy code.

[2016-12-05 18:19] AlexRadch commented on #2188
What about my suggestion to add linq like Sort add BinarySearch ? See https://github.com/dotnet/coreclr/issues/2188#issuecomment-264824711

[2016-12-05 18:40] janvorli commented on #8458
I believe DBG_TARGET_XXX represents the target architecture being debugged. So you have have debugger running on AMD64, but debugging remote ARM instance or core dump.
I am not sure about SOS_TARGET_XXX, but my guess it serves the same purpose, but for SOS only.
@mikem8361, please correct me if I am wrong.

[2016-12-05 18:44] mikem8361 commented on #8458
You are correct on both defines.

[2016-12-05 19:22] ianhays commented on #2188
@AlexRadch if you've got a separate API you want to add, please do a search for existing issues and then open a new issue for that API if you cannot find one. It's better not to have too many conversations at once in one issue.

[2016-12-05 19:22] mikedn commented on #8457
; load and then run out of registers and spilled? But then it reloads in rdx...

This is actually caused by `fgMorphArrayIndex` which has to ensure that the range check and the array access use the same array and index values so it puts them in temporaries.

And the duplicate shift is also generated by `fgMorphArrayIndex` which prefers to clone simple expressions instead of introducing new tempora

[2016-12-05 19:43] sivarv opened #8460 "RyuJIT: Bad codegen while short circuiting compare against zero involving a shift operation"
Repro program:

[code]

Here is the generated code on RyuJIT amd64:

[code]

SAL/SAR/SHL/SHR do not modify flags if the shift count is zero. In the above repro, the very first iteration through the loop attempts a shift-right by zero and doesn't execute loop body.

[2016-12-05 20:11] jamesgibbs100 commented on #3977
I'd love to see an official ARM release also - is there any idea on the next steps that are necessary to make this happen ?

[Congratulations to all involved in making this happen - great work guys]

[2016-12-05 20:28] karelz commented on #2188
Do we still think this API is a good idea? (Skimming through the text it seems it introduces ambiguity we don't want)
If we want to discuss the API and its shape, please file issue in corefx repo.

Closing for now (please speak up if I missed anything and shouldn't have done that ...)

[2016-12-05 20:28] #2188 closed

[2016-12-05 20:29] janvorli commented on #6574
Yet another instance:
https://ci.dot.net/job/dotnet_coreclr/job/master/job/checked_ubuntu_flow_prtest/668/
@swgillespie - this time on checked Ubuntu build, you might want to look at the crashdump:
http://dotnetrp.azurewebsites.net/dumpling/download/2168

[2016-12-05 20:32] ayende commented on #3977
Just to let you know, if you want to run it on the Pi3, we have a compiled version available [here](http://ravendb.net/promo/xmas-win-raspberry-pi) (packaged with our software)

[2016-12-05 20:43] janvorli commented on #917
@cydhaselton so now is a good time to try again the debugging I have suggested before (setting breakpoint at MapViewOfFileEx etc).
And as for your question, let's move to the feature-android issue.

[2016-12-05 20:44] swgillespie commented on #6574
thanks!

[2016-12-05 21:21] paultechguy commented on #3977
Thanks ayende!  Do you know if this will also execute on the Pi2?

[2016-12-05 21:26] janvorli commented on #3977
@paultechguy my guess it it should work on Pi 2 just fine.

[2016-12-05 21:34] ayende commented on #3977
We haven't tested that, but I'm fairly certain that it should.

That said, it might be arm7 vs. arm6.

*Hibernating Rhinos Ltd  *

Oren Eini* l CEO l *Mobile: + 972-52-548-6969

Office: +972-4-622-7811 *l *Fax: +972-153-4-622-7811

On Mon, Dec 5, 2016 at 11:22 PM, paultechguy <notifications@github.com>
wrote:

[2016-12-05 21:43] masonwheeler commented on #3977
The Pi2 is ARM7

[2016-12-05 21:58] paultechguy commented on #3977
Yea, I just searched and found that ARM7 note.  It would still be awesome to get just a normal install of .NET core for ARM when available.  It looks like folks are rock'n it so hopefully soon.

[2016-12-05 22:33] #7863 closed

[2016-12-05 22:58] sivarv opened #8462 "RyuJIT: optimize test instruction in case of GT_EQ/NE(shift, 0)"
PR https://github.com/dotnet/coreclr/pull/8461 disabled compare opt that optimizes 'test' instruction in case of GT_EQ/NE(shift, 0).

On xarch, hardware depending on the operand size masks upper bits to derive shift count. If the resulting shift count is zero then flags are not modified.  Compare opt can be done in cases where shift count is non-zero and known to be in the range depending on the o

[2016-12-05 23:08] seanshpark commented on #8458
Thank you both! :)
One more question, maybe @mikem8361, could you explain more about "same purpose, but for SOS only" means? Is SOS something like a HOST?

[2016-12-05 23:36] sivarv commented on #8462
SPMI asm diffs show that there are not many methods with IR pattern GT_EQ_NE(shift, 0).  In entire CQPErf suite just one method and across all FX assemblies just 5 methods have such an IR pattern.

[2016-12-05 23:43] janvorli commented on #8458
SOS is a plugin for debugger (WinDBG / VisualStudio on Windows, lldb on Unix) that extends the debugger with some commands for managed code debugging - dumping managed stack trace, disassembling jitted methods, dumping stack objects and heap etc. It runs on top of the lower level mscordaccore.

[2016-12-06 00:01] schaabs opened #8465 "SIGSEGV_libcoreclr.so!DomainFile::IsIntrospectionOnly"
**The notes  included in this bug refer tot the dump [20161130-11_001C.zip](https://dumpling.azurewebsites.net/api/dumplings/archived/17579a7c89ee0d476efd449eb9e79eaa5a6e2bf0).  A full list of all the dumps collected for this issue in the past 90 days can be found [here](https://dumpling.azurewebsites.net/90?FAILURE_HASH=SIGSEGV_libcoreclr.so%21DomainFile%3A%3AIsIntrospectionOnly).**

        LAST

[2016-12-06 00:02] seanshpark commented on #8458
So that means, `SOS_TARGET_XXX` means, this code block is running when SOS target architecture is XXX, I guess :)

[2016-12-06 00:04] janvorli commented on #8458
@seanshpark yes, that's the case.

[2016-12-06 00:06] mikem8361 commented on #8458
It means this block of SOS code (in src/ToolBox/SOS/Strike) is compiled into the SOS module (i.e. libsos.so) for this target architecture.

[2016-12-06 00:23] seanshpark commented on #8458
Thank you again :)
I think I can close this issue.

[2016-12-06 00:23] #8458 closed

[2016-12-06 00:28] #8460 closed

[2016-12-06 01:37] schellap opened #8469 "Setup assembly probe paths before managed code runs"
The discussion is captured in PR #8333

The problem is:

1. Host sets `NATIVE_DLL_SEARCH_DIRECTORIES` pointing to `System.Native.so` root directory.
2. Runtime needs to find `System.Native.so` during `AppDomain::DoSetup` to resolve mscorlib `System.Path` PInvoke references.
3. Naturally, it looks up the native DLL search directories in `NDirect::LoadFromNativeDllSearchDirectories`
4. But the https

[2016-12-06 01:40] swgillespie commented on #6574
So, what all of these dumps have in common is that, after the second induced GC after `WaitForPendingFinalizers`, there are objects live in the finalizer queue.

In Stephen's dump:
* DLinkNode at 0x7fb6a00335b0 is rooted by the finalizer queue:

[code]

* Looking at the order of messages in the stress log, it looks like this object was marked through the finalize queue since it is the last promote

[2016-12-06 08:04] AndyAyersMS commented on #8065
I have a [prototype](https://github.com/AndyAyersMS/coreclr/tree/FinallyCloning) underway.

[2016-12-06 13:49] tmds opened #8474 "App throws SEHException during debug session in Docker container"
I am running a dotnet application in a Docker container. As part of the image I included clrdbg. I setup vscode to open a pipe to the container, launch clrdbg and attach to the running dotnet process.

This working fine on my local machine. When I deploy this image in the cloud, I get a different behavior.
After attaching to the process, I add a breakpoint. The breakpoint gets hit. Then when I pre

[2016-12-06 15:29] ChrisWarner-Sage opened #8477 "Unhandled exception in 1.1.0"
We have come across an issue that only presents itself in a particular situation in 1.1.0

The issue occurs when a redis distributed cache is configured, session is enabled and an x509 certificate store is opened. **This only happens when SSL is enabled for the redis cache connection.**

This issue does not occur in 1.0.1.

Each of the three parts can be enabled in isolation without issue.

The er

[2016-12-06 15:44] rvfernandes opened #8478 "CPU goes up after exception and does not come back"
I made a small router in .Net Core and noticed that some machines from one hour to the other had a cpu jump. When this happens the CPU stays high, although the application responds without problems. I have noticed that this happens when I have a large number of exceptions of type (System.Net.Http.HttpRequestException: Error while copying content to a stream. ---> System.IO.IOException: The read op

[2016-12-06 15:46] janvorli commented on #8477
@bartonjs do you know who would be the right one to look into this issue on Windows?

[2016-12-06 16:00] bartonjs commented on #8477
This is a duplicate of #8148.  That issue links to an issue in corefx that has a diagnostic step which has a benefit of being a temporary workaround.

[2016-12-06 16:00] #8477 closed

[2016-12-06 21:41] #8236 closed

[2016-12-06 21:42] janvorli opened #8480 "Make CoreCLR work properly on GRSEC/PAX enabled Linuxes"
When GRSEC/PAX has RANDMMAP enabled, it never honors the address passed to mmap unless the MAP_FIXED option is passed in. But there are two parts of CoreCLR that rely on the fact that mmap honors the address unless there is an overlapping mapping. First part is the executable allocator in PAL that tries to  reserve memory range in close vicinity of the libcoreclr.so (within 2GB range) to make sure

[2016-12-06 21:43] janvorli commented on #8480
cc: @gkhanna79, @Petermarcu