[2017-10-13 01:13] jkotas commented on #9745
These are quite a bit bigger, and we do not have any extensive testing for this config - it is pretty likely you will hit different bugs.

[2017-10-13 01:23] remcomulder commented on #14263
This is an absolute gem.  Thank you so much for sharing this.  Is there any way this trace output can be redirected somewhere?  When I use this, it always seems to be dumped into the open console window and can't seem to be piped to file.  If I can capture this data programmatically, the results would be very exciting.

[2017-10-13 01:40] jorive commented on #14463
Those tests are passing, the initial error cascaded down as we kept appending to the file instead of bailing out.

[2017-10-13 01:48] jorive opened #14477 "[legacy x86 ryujit][Windows] Perf harness fails to download the JitBench repo."
Repro steps:
[code]

This is the exception:
[code]

This is a smaller repro:
[code]

[2017-10-13 01:48] JeffCyr commented on #5195
@hanblee

I don't see how changing to 8-bytes alignment in x86 could increase the memory usage significantly. The worst case is +4 bytes per object, so 4MB per million objects.

I meant that nowadays, all x86 application run on a x64 CPU. So if all objects base address is 8-byte aligned, it guarantees that all 8 byte types are 8-byte aligned matching the underlying x64 CPU natural alignment.

Anyw

[2017-10-13 01:50] mazong1123 opened #14478 "Consider implementing Grisu3 algorithm for double.ToString()"
As we have implemented Dragon4 in https://github.com/dotnet/coreclr/pull/12894 , we have a good start to improve the performance of `double.ToString()`.

Although Dragon4 makes current `double.ToString()` much faster than previous implementation, we could do better. The algorithm Grisu3 introduced in [this paper](http://www.cs.tufts.edu/~nr/cs257/archive/florian-loitsch/printf.pdf) eliminated the

[2017-10-13 02:02] parjong commented on #9265
@philippweidhas @ryukinix https://github.com/dotnet/coreclr/issues/13192#issuecomment-320188913 may be helpful.

You also need to build Core FX (https://github.com/dotnet/corefx) to run an C# application. https://github.com/dotnet/coreclr/issues/9265#issuecomment-280519593 and https://github.com/dotnet/coreclr/issues/9265#issuecomment-280521257 may be helpful.

Unfortunately, ``dotnet`` is not sup

[2017-10-13 02:19] jkotas commented on #14263
The trace prints to stdout/stderr only: https://github.com/dotnet/core-setup/blob/master/src/corehost/common/trace.cpp . If you would like to see more options for it, please open an issue in https://github.com/dotnet/core-setup/ .

[2017-10-13 02:21] ibocon opened #14482 "How to debug System.IO.FileNotFoundException in System.Private.CoreLib.dll?"
[StackOverFlow](https://stackoverflow.com/questions/46721530/c-sharp-net-core-how-to-debug-system-io-filenotfoundexception-in-system-private)

When I run .NET Core Web API Application on VS 2017,
In Output's Debug panel, keep showing me Exception throw:

'System.IO.FileNotFoundException' in System.Private.CoreLib.dll

However, application runs well without stoping or malfunctioning.
I know Excepti

[2017-10-13 02:45] dotnet-mc-bot opened #14483 "Several Interop tests failing with "System.DllNotFoundException""
Opened on behalf of @Jiayili1

The test `Interop_ArrayMarshalling._BoolArray_MarshalBoolArrayTest_MarshalBoolArrayTest_/_BoolArray_MarshalBoolArrayTest_MarshalBoolArrayTest_cmd` has failed.

    Unhandled Exception: System.DllNotFoundException: Unable to load DLL 'MarshalBoolArrayNative': The specified module or one of its dependencies could not be found.
     (Exception from HRESULT: 0x8007007E)

[2017-10-13 02:48] Jiayili1 commented on #12507
failed again in Core Tests: https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171013.01/workItem/Interop.BestFitMapping.XUnitWrapper/analysis/xunit/Interop_BestFitMapping._BestFitMapping_BestFitMapping_~2F_BestFitMapping_BestFitMapping_cmd

[2017-10-13 02:57] jkotas commented on #14482
Go to Debug/Windows/Exception Settings and check FileNotFoundException under Common Language Runtime Exceptions.

[2017-10-13 03:05] Jiayili1 commented on #14483
The following Interop tests are failing:
Interop_BestFitMapping._BestFitMapping_BestFitMapping_/_BestFitMapping_BestFitMapping_cmd
Interop_FuncPtrAsDelegateParam._FuncPtrAsDelegateParam_FuncPtrAsDelegateParam_/_FuncPtrAsDelegateParam_FuncPtrAsDelegateParam_cmd
Interop_NativeCallable._NativeCallableTest_NativeCallableTest_/_NativeCallableTest_NativeCallableTest_cmd
Interop_PrimitiveMarshalling._Boo

[2017-10-13 03:05] Jiayili1 commented on #14483
Closed issue: https://github.com/dotnet/coreclr/issues/12488

[2017-10-13 03:14] Jiayili1 commented on #13740
Now it fails with following issue on windows.10.arm64-arm, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171013.01/workItem/JIT.Methodical.XUnitWrapper/analysis/xunit/JIT_Methodical._divrem_div_u4div_cs_d_u4div_cs_d_~2F_divrem_div_u4div_cs_d_u4div_cs_d_cmd

The test `JIT_Methodical._divrem_div_u4div_cs_d_u4div_cs_d

[2017-10-13 03:36] #14421 closed

[2017-10-13 04:07] rartemev commented on #13740
@Jiayili1 the original problem is runtime issue on Linux.2.6.32 for x86-64. The problem your last comment about is crossgenned different test on Windows for arm64. I believe it has to be another issue.

[2017-10-13 04:41] ibocon commented on #14482
Exception tells me 'Microsoft.AspNetCore.DataProtection.resources' file is missing.
But, I installed 'Microsoft.AspNetCore.DataProtection' Nuget Package.
Exception does not give me a specific path to look into...
Also, What is "System.Private.CoreLib.dll"?

[2017-10-13 05:04] jkotas commented on #14482
What is the stacktrace of the exception?

System.Private.CoreLib.dll is assembly that contains the implementation of the lowest level types like `System.String` in .NET Core.

[2017-10-13 05:34] ibocon commented on #14482
System.IO.FileNotFoundException occurred
  HResult=0x80070002
  Message=Could not load the specified file.
  Source=System.Private.CoreLib
  StackTrace:
   at System.Runtime.Loader.AssemblyLoadContext.ResolveUsingEvent(AssemblyName assemblyName) in E:\A\_work\376\s\src\mscorlib\src\System\Runtime\Loader\AssemblyLoadContext.cs:line 269

[2017-10-13 05:41] wateret opened #14485 "[Question] Native Image and PDB"
When I run this code with pdb file:

[code]

Before crossgen

[code]

After crossgen

[code]

I found out that if I run with `a.ni.dll` file the runtime looks for `a.ni.pdb`. However even if I change the filename from `a.pdb` to `a.ni.pdb`, source file and line number is still not shown because the pdb file and dll's GUID does not match. I also found `/CreatePDB` option from `crossgen` so I assume

[2017-10-13 05:48] Jiayili1 commented on #13740
@rartemev Thanks, I will create a new issue for it.

[2017-10-13 05:49] dotnet-mc-bot opened #14486 "Test failure: JIT_Methodical._divrem_div_u4div_cs_d_u4div_cs_d_/_divrem_div_u4div_cs_d_u4div_cs_d_cmd"
Opened on behalf of @Jiayili1

The test `JIT_Methodical._divrem_div_u4div_cs_d_u4div_cs_d_/_divrem_div_u4div_cs_d_u4div_cs_d_cmd` has failed.

    Return code:      1
    Raw output file:      C:\dotnetbuild\work\e1e1b706-e0c3-458e-ac84-fabffc02ad3f\Work\6fa88b0f-3ac0-4bd4-aa62-cf2e10f374c7\Unzip\Reports\JIT.Methodical\divrem\div\u4div_cs_d\u4div_cs_d.output.txt
    Raw output:
    BEGIN EXECUTION

[2017-10-13 05:53] mikedn commented on #14485
The `.ni.pdb` contains information about the native code generated by crossgen. PDB files are generated using Windows specific libraries, crossgen itself does not know how to write a PDB file.

[2017-10-13 05:57] AndyAyersMS commented on #10731
All this may be particularly relevant for improving the speed of a Tier0 jit. Presumably prejitting has punted on most generic cases and those are the ones amenable to fairly radical jit-time simplification via early type opts, so enabling those opts in Tier0 would seem to hit a sweet spot.

[2017-10-13 06:21] dotnet-mc-bot opened #14487 "Test failure: baseservices_exceptions._unittests_EHPatternTests_EHPatternTests_/_unittests_EHPatternTests_EHPatternTests_cmd"
Opened on behalf of @Jiayili1

The test `baseservices_exceptions._unittests_EHPatternTests_EHPatternTests_/_unittests_EHPatternTests_EHPatternTests_cmd` has failed.

    Return code:      1
    Raw output file:      C:\dotnetbuild\work\e1e1b706-e0c3-458e-ac84-fabffc02ad3f\Work\ba4662a3-969c-4f79-9b61-da09c96f8124\Unzip\Reports\baseservices.exceptions\unittests\EHPatternTests\EHPatternTests.output.

[2017-10-13 06:40] wateret commented on #14485
@mikedn Thank you. So is it like `.ni.pdb` equals to `.pdb` + "native code info" ?
What I'd like to do is just showing source file name and line number when printing stack trace while running some `.ni.dll`.

[2017-10-13 07:10] hseok-oh commented on #14377
@BruceForstall In my environment (linux/arm32), I got different assertion.

[code]

Anyway, I'll check this assertion.

[2017-10-13 07:45] hqueue commented on #11640
@BruceForstall Yes, it is still observed from recent master branch (4cf4202f113439b4dd99bea0cb6c8618760e55d4)

[2017-10-13 08:37] janvorli commented on #14113
As an interesting coincidence, I was helping @rartemev today to debug a test crashing on RHEL 6. The interesting part is that sigsegv handler was called when we did a stack probe, but the location was in the middle of the stack range. When we have disabled the stack probes by commenting out the piece of jit code that inserts them in CodeGen::genAllocLclFrame, the test have passed ok.
Is is known t

[2017-10-13 09:12] janvorli commented on #14113
@RussKeldorph, @sdmaclea please forget my suggestion to not do the probes. I have realized we still need them, please see the discussion here: https://github.com/dotnet/coreclr/pull/14481

[2017-10-13 09:40] alpencolt commented on #14453
@jkotas thank you!
Not a problem, I've tried to fix it but didn't found information about this `FEATURE_STUBS_AS_IL` so asked you to help.

[2017-10-13 10:19] ashishnegi opened #14490 "Debugging linux dump"
Hi
I am trying to debug a crash dump on Linux. But I am not able to load any symbols.

Here are the steps I tried :

1. I downloaded coreclr symbols from : [2.0.0 download](https://github.com/dotnet/core/blob/master/release-notes/download-archives/2.0.0-download.md) which are [symbols](https://download.microsoft.com/download/D/E/B/DEB55D32-4CC3-46B0-A241-1A5BF2BB533C/coreclr-2.0-symbols.zip).

2.

[2017-10-13 13:51] ForNeVeR commented on #2555
@jkotas could you please clarify the rulings about the memory model used by .NET (Core) today?

You said that

There's some information on the web about so-called ".NET / CLR 2.0 Memory Model" (e.g. [here](http://joeduffyblog.com/2007/11/10/clr-20-memory-model/)), most of the time people referring [this](https://web.archive.org/web/20080215140007/http://msdn.microsoft.com/msdnmag/issues/05/10/Memo

[2017-10-13 14:13] jkotas commented on #2555
I do not think so. E.g. I do think that `All stores have release semantics` rule holds on .NET Core on ARM. Also, I doubt that Mono guarantees this accross all their platforms.

The simple rule is: use volatile for anything lock free.

[2017-10-13 14:25] jkotas commented on #14485
You should not need `.ni.pdb` for this to work. `.ni.pdb` is only needed by tools on Windows that can only work with unmanaged pdbs, like stack sampling profilers.

Does it work if you rename this file to `a.dll`? (ie replace the original IL file with the crossgened file)

We have stopped using the .ni.dll suffix for the crossgen images in the shipping configs. We just use the .dll suffix for them

[2017-10-13 14:29] jkotas commented on #14490
cc @lt72

[2017-10-13 15:09] AndyAyersMS commented on #13969
@cscer we will need more information from you to make progress on this. Do you have a repro case you can share?

[2017-10-13 15:28] AndyAyersMS commented on #13814
Also see #12461

[2017-10-13 15:32] pavrosa commented on #14007
Does anybody have an idea how to escalate the problem? It's almost a month and it seams there is no activity. At the moment we live without updates, but...

[2017-10-13 15:49] AndyAyersMS opened #14491 "JIT: automate release/check jit codegen comparison"
We should be verifying that release and checked jits produce the same code.

Currently this requires some ad-hoc testing. We could leverage the information in the jit event stream to automate this. The current event stream includes a method length which can be used as a first indicator of diffs. It can miss detecting some kinds of diffs. but it should work out fairly well.

#14458 contains some id

[2017-10-13 15:55] AndyAyersMS commented on #14491
I should point out that there are cases wheres the jit codegen for some methods can vary from run to run or build to build (even if "nothing" changes). For instance multiple threads can trigger class initialization via different methods, or tests may execute methods based on some build-to-build or cross-platform unstable ordering (say depending on token values, or changes in the of reflection enum

[2017-10-13 15:58] AndyAyersMS commented on #12093
@briansull is this still relevant?

[2017-10-13 16:07] dgrunwald opened #14492 "Weird inconsistency in types on IL evaluation stack"
Ecma-335 claims:

Unfortunately the reality of the runtime seems to be completely different.

The following function demonstrates how weird things can get:  ([full IL program](https://gist.github.com/dgrunwald/fa35f8ea2bf48a2c20c2a9a8a5d88921))
[code]

Calling `Int32OrNative(int.MaxValue)` returns 2147483648.
But if you comment out the `stloc/ldloc` pair at the start of the function, the return va

[2017-10-13 16:07] AndyAyersMS commented on #14007
@briansull can you update with latest status? Do we have a servicing fix for this in the works?

[2017-10-13 17:09] tarekgh commented on #14478
@mazong1123 we can give it a try and have the implementation and measurement ready then we can decide if it is worth to have it if proven there is noticeable perf improvement.

Is there any source talking about how much perf improvement comparing Grisu3 with Dargon4?

[2017-10-13 17:12] mikedn commented on #14492
Eh, the dangers of optimizing while importing IL. The importer figures out that the conditional branch is useless and removes it. Now the basic block that loads a native int on the evaluation stack is never imported so the addition is never converted to a native int addition.

[2017-10-13 17:25] jkotas commented on #14482
Are you able to see the whole stack trace (e.g. in the debugger stacktrace window)?

`Microsoft.AspNetCore.DataProtection.resources` suggests that the exception is related to localized resource probing.

[2017-10-13 17:28] mikem8361 commented on #14490
Try adding `-O "settings set target.exec-search-paths $HOME/ryu/ryu/coreclr/runtimes/linux-x64/native" ` to your lldb command line. This is neccessary if the .dbg files are not in the same place as the where they were in the core dump.  If "target modules list -s" still doesn't show the .dbg file for libcoreclr.so then it maybe that *.dbg is the wrong version some how. You can use readelf on the l

[2017-10-13 17:31] tannergooding commented on #14478
The paper claims Grisu is up to 4x faster. I'm not sure if Grisu3 is faster or slower than that (although I would imagine slightly slower since it appears to use 11 additional bits, instead of just 2, and validates the answer is correct).

The paper also claims to be correct for 99.5% of numbers and needs to fallback for the remaining .5% (those will definitely be slower, since they will need to b

[2017-10-13 18:11] AndyAyersMS commented on #14492
We can probably add in some fairly cheap defensive checks to catch cases like this, without abandoning the TP and CQ benefits from importer branch folding.

For instance when import folding a branch, if the target native int is not 32 bits and the stack at the branch and contains a 32 bit integer, the jit should go ahead and import the other path as well even though the code there is unreachable.

[2017-10-13 18:25] mikedn commented on #14492
Yeah, this issue has a similar impact on floating point operations when SSE2 is used (always in the case of RyuJIT). You end up with either `addss` or `addsd` so it's possible to get different results for certain fp operations and numbers.

It's interesting how this never affected JIT32 - native int was 32 bit and its use of x87 probably also means that fp operations aren't affected as well.

Too

[2017-10-13 18:37] briansull commented on #14007
The fix for this is in our upcoming release of .NET 4.7.1

It will be in the Windows 10 Fall Creators Update that is schedule to be available this month.
We should also have a standalone update to .NET  4.7.1 available later on this month. (this update is expected to launch on October 17, 2017)

Currently a pre-release of .NET 4.7.1 is available here:
https://blogs.msdn.microsoft.com/dotnet/2017/0

[2017-10-13 20:08] AndyAyersMS commented on #14458
Yes, in the short term this would mainly be used to validate that the jit is creating the code we expect, and facilitate and speed up our ability to detect "diffs" in jit codegen relatively quickly.

For the latter, note our current "diff" technology relies heavily on either prejitting (as in the jit-diff tooling) or on capture and replay of jit-vm interface traffic (as in SPMI).

The former curre

[2017-10-13 20:11] AndyAyersMS commented on #13827
Also note `stos` kills `rcx` which is almost always live and so we are forced to shuffle it out and back. Since we then generally copy `rcx` into a caller-saved register we often see 2 redundant moves after the `stos`.

[2017-10-13 20:12] AndyAyersMS commented on #14474
Also:
* #13589 use more compact IR representation for array access
* #13280 change approach in the jit to maintaining local var ref counts

[2017-10-13 20:35] karelz commented on #2813
This feels like duplicate of https://github.com/dotnet/corefx/issues/1370, closing.

I think it is worthwhile to track the request in just one issue.
If it is subtly different from #1370, please let me know.

[2017-10-13 20:35] #2813 closed

[2017-10-13 22:21] AndyAyersMS commented on #13827
On SysV both `rdi` and `rcx` are incoming arg regs, so things are even worse there.

[2017-10-13 22:55] #12877 closed

[2017-10-14 12:55] stephentoub commented on #14462
In my experience the comment at the beginning of Timer.cs is right, and creating/destroying timers is significantly more common than timers actually firing. This the lock contention for add/remove is the primary concern, and we should start just by partitioning to reduce lock contention.

[2017-10-14 19:55] jnm2 opened #14508 "Guarantee that newly allocated memory can't be stale for any thread"
Is it possible for another thread to have a stale view of the memory containing the fields that a constructor just initialized?

I would guess for safety there would have to be a runtime guarantee of a write barrier every time an instance is allocated, or some other guarantee that there's no way the memory could be stale for other threads, but I'm not sure and I would like a definitive answer.

Th

[2017-10-14 20:24] jnm2 commented on #14508
@Drawaes informed me that `Volatile.Write` is for ordering and adds a read barrier, but all writes use a write barrier.

So staleness is definitively not a problem and we're only talking about reordering. Is there any way writes could be reordered so that a second thread could observe the new instance reference and dereference it to read the field and observe the stale `null`?

[2017-10-14 20:29] Drawaes commented on #14508
On Intel CPU's :) and the as I understand it, ARM I am not sure about :)

[2017-10-15 12:43] benaadams commented on #14508
GC would have also written to the location to zero it out?

Aside: Wouldn't it be easier to mark `_x` as `volatile` in the above?

May help? [The C# Memory Model in Theory and Practice, Part 2](https://msdn.microsoft.com/en-gb/magazine/jj883956.aspx)

[2017-10-15 12:56] jnm2 commented on #14508
Yes, and same ordering question applies.

If I'm reading http://joeduffyblog.com/2008/06/13/volatile-reads-and-writes-and-timeliness/ right, the `volatile` keyword causes only write fences on writes and so is a no-op because all writes are write-fenced anyway, while `Volatile.Write` causes a full fence for ordering guarantees.

[2017-10-15 13:08] omariom commented on #14508
I would rely on formal CLI specifications. Every compiler - C#, JIT or AOT - will adhere to them.

[2017-10-15 13:16] benaadams commented on #14508
Looks like there's your answer then

and without proper user synchronization, objects are allocated in a manner that prevents
unauthorized memory access and prevents invalid operations from occurring. In particular, on
multiprocessor memory systems where explicit synchronization is required to ensure that all
relevant data structures are visible (for example, vtable pointers) the Execution Engine

[2017-10-15 13:33] benaadams commented on #14508
CLI spec says:

and without proper user synchronization, objects are allocated in a manner that prevents
unauthorized memory access and prevents invalid operations from occurring. In particular, on
multiprocessor memory systems where explicit synchronization is required to ensure that all
relevant data structures are visible (for example, vtable pointers) the Execution Engine shall be
responsible

[2017-10-15 13:37] jnm2 commented on #14508
Thanks Ben. That does sound pretty conclusive. Especially considering C# may run on multiple runtimes, I wouldn't want to depend on something that isn't a guarantee in all of them. We have CLR, CoreCLR, CoreRT, Mono, Unity, Blazor, etc.

And since I can see that the CIL generator (Roslyn) is not emitting a barrier or volatile write operation in IL, that means I do indeed need the `Volatile.Write`

[2017-10-15 13:41] benaadams commented on #14508
I looked at:
Standard ECMA-335 Common Language Infrastructure (CLI) 6th edition (June 2012)
http://www.ecma-international.org/publications/standards/Ecma-335.htm

Don't know if later one

[2017-10-15 14:41] jkotas commented on #14508
Both of these, as well as `volatile.` IL prefix, work the same. There is no difference in the guarantees that they provide.

[2017-10-15 14:59] benaadams commented on #14508
`private volatile Action action;` :)

[2017-10-15 15:01] jnm2 commented on #14508
@benaadams I can't name `Action` volatile or the compiler yells at me for using `ref` on it for `Interlocked.Exchange`.

[2017-10-15 15:04] benaadams commented on #14508
There's a pragma for that ;)

[2017-10-15 15:04] jnm2 commented on #14508
Plus to me it's counter-intuitive that you'd mark he storage location as volatile rather than the load/store operation. I wish the `volatile` keyword did nothing more or less than force you to access it only as a `Volatile` or `Interlocked` ref target.

[2017-10-15 15:32] Drawaes commented on #14508
Do what Duffy suggested. Write a struct wrapper where you can only access
or update the values via barriers;)

On 15/10/2017 16:05, "Joseph Musser" <notifications@github.com> wrote:

[2017-10-15 15:42] omariom commented on #14508
This is not enough as `Volatile.Write` is a store-release barrier  and such write can still be reordered with the subsequent normal store of  the `OnDisposeAction` object.

[2017-10-15 15:51] svick commented on #14508
@jnm2

[It doesn't yell](https://sharplab.io/#v2:D4AQDABCCMDcCwAocVoDoAqALATgUwEMATASwDsBzBRJEAZggGdCAbPIqAJggHkyAREowAOAe2YxuALggBJQSPEEARmyQBvJBG0RhOEgDcCAFzwQDoliZJtU3AgGNjJUWWpadAek8Rs+YhDQEESieIwQxlhCUh7a9LwCQmIS0JwAFJIQjs6uAJSxEJqIOiURUYxo2S5kEAC8WU7V1CUAvkgF3nJkpjgsog4A1uwQyngOBACuzEyiALZ4zvPhsxMszsK2kf5E4TiOZgBmojhlQgA0HT7KE8YQRyeRZsITOMlhEKIHp+EAjhNhOTIZw+ZBYAE8ytsINw8AY8CdxiwWOFItECvEQAA

[2017-10-15 16:35] jnm2 commented on #14508
❤️ https://sharplab.io/#v2:EYLgtghgzgLgpgJwD4AEAMACFBGAdAFQAsE4IATASwDsBzAbgFgAoZlAZiwCYMBhZgb2YZhGAA4IKANwjwMkgPYAbGRUVwM1GBgAejJiIxCR7LABYMAWQAUASiPDB+gyICSVeAkXyAxgGs4ZLgAotrehBC0cFYkAGY6ADQY2DZ6BgC+zGlAA

[2017-10-15 18:52] 4creators opened #14512 "[Arm64/Windows] REM TODO, remove once the toolset is open - arm64 builds currently use private toolset"
Seems that Arm64 build tools have been released by MSFT with Windows SDK 10.0.16299.15. Is it possible to unblock this build leg in build.cmd and other tools?

[2017-10-15 21:30] 4creators commented on #14512
Too early 😃

[2017-10-15 21:30] #14512 closed

[2017-10-16 00:12] 4creators opened #14514 "[arm/Windows] Build is broken by PR #14228"
PR #14228 introduced two bugs into build.cmd script which prevent successful cross build for Windows arm target.

First issue is caused by configuration of vswhere script which detects only RTM installations of Visual Studio.  In case only preview installation would have arm VC tools installed building with build.cmd will be impossible.

Second error masked by the first one is that execution of  V

[2017-10-16 02:23] #11520 closed

[2017-10-16 02:24] #12880 closed

[2017-10-16 03:04] YongseopKim commented on #13604
With the latest commit(8c7049aabe4bd2d5332a795bfa61a37077ba39bc)

[code]

[code]

[code]

And the failed tests seem to be failed because of OOM.

[2017-10-16 03:44] BruceForstall commented on #14477
@jorive Does this same code work when not using legacy x86 backend? Why would this code, which looks like harness code, ever be run by legacy backend? the "testEnv" environment should only apply to running the test, not any harness code.

[2017-10-16 03:48] BruceForstall commented on #14477
@RussKeldorph I'm inclined not to fix this.

[2017-10-16 03:51] ibocon commented on #14482
System.Private.CoreLib.dll!System.Runtime.Loader.AssemblyLoadContext.ResolveUsingEvent(System.Reflection.AssemblyName assemblyName) Line 266	C#	Symbols loaded.
System.Private.CoreLib.dll!System.Runtime.Loader.AssemblyLoadContext.ResolveUsingResolvingEvent(System.IntPtr gchManagedAssemblyLoadContext, System.Reflection.AssemblyName assemblyName) Line 188	C#	Symbols loaded.
[Native to Managed Transit

[2017-10-16 05:12] wateret commented on #14485
@jkotas I tried that(renaming `.ni.dll` to `.dll`), but I get `BadImageFormatException`. Similar to #13776.

And I think it would fail using data of `.pdb` file even if it was loaded. Since GUIDs do not match. The code for that is here. https://github.com/dotnet/corefx/blob/5f083c7ac0d8ab35f48e7ff9176e05af894c4562/src/System.Reflection.Metadata/src/System/Reflection/PortableExecutable/PEReader.cs#

[2017-10-16 05:18] wateret commented on #14485
FYI I'm talking about fragile-non-versionable images. It is still strange that the NI image was generated by the exactly same runtime.

[2017-10-16 05:40] jkotas commented on #14485
These look like bugs in handling of fragile-non-versionable images.

Still, `/CreatePDB` option is not needed to make the managed exception stacktraces to be printed.

[2017-10-16 05:45] jkotas commented on #14482
This is exception is expected and handled.

(System.Reflection.RuntimeAssembly.InternalGetSatelliteAssembly has `throwOnFileNotFound` argument, and it achieves the non-throwing behavior by catching the file not found exceptions thrown internally.

https://github.com/dotnet/corefx/issues/19928 has a long discussion about exceptions thrown and caught as part regular program flow that is related to t

[2017-10-16 05:45] #14482 closed

[2017-10-16 06:30] YongseopKim commented on #14200
With the latest commit(8c7049aabe4bd2d5332a795bfa61a37077ba39bc) + PRI2

[code]

[code]

[code]

Now only GitHub_13056 is failed in linux_arm32_ryujit.

[2017-10-16 06:40] Horusiath opened #14517 "API Proposal: generic Type variants"
## Motivation

A .NET `Type` class is often used to configure some of the system properties at runtime. However you may often find them lacking of static type safety features. This often leads to runtime checks like `typeof(T).IsAssignableFrom(configuredType)` that may end in runtime exceptions.

To show this better, lets talk on an example. Say, we have a library which allows to configure user-de

[2017-10-16 06:53] mikedn commented on #14517
That won't fly. There are internal types that inherit from `Type`, `RuntimeType` in particular. The instance you get from something like `typeof(string)` is actually a `RuntimeType`, not `Type`.

[2017-10-16 10:31] svick commented on #14517
[All API addition proposals belong to the CoreFX repo](https://github.com/dotnet/coreclr/blob/027180/Documentation/workflow/IssuesFeedbackEngagement.md), so this issue should be moved there.

---

My main issue with this is that I don't see any advantage of `UserSerializerAttribute(Type<ISerializer> serializerType)` over using generic parameter with constraints: `UserSerializerAttribute<TSerialize

[2017-10-16 14:31] ibocon commented on #14482
Thanks! I will follow up [dotnet/corefx#19928](https://github.com/dotnet/corefx/issues/19928) from now on.

[2017-10-16 15:14] jorive commented on #14477
@BruceForstall Yes, this work on non-legacy x64 and x86.

[2017-10-16 15:40] tmds commented on #14327
@brianrob I haven't heard from you, so I'm wondering if you saw I'd like to contribute.

[2017-10-16 15:42] AndyAyersMS commented on #12713
Believe this was fixed by #13756. @mjsabby can you confirm and close?

[2017-10-16 15:47] #13435 closed

[2017-10-16 16:04] RussKeldorph commented on #14477
@BruceForstall Not terribly surprising.  We do need to resolve the failure one way or another, however.

[2017-10-16 16:13] jorive commented on #14477
@BruceForstall @RussKeldorph I have disabled the perf scenario runs on legacy due to this bug (There is no reason to use machine time at this point).

[2017-10-16 18:37] JensNordenbro commented on #14150
closing this in favor of this [core-setup #3314](https://github.com/dotnet/core-setup/issues/3314)

[2017-10-16 18:37] #14150 closed

[2017-10-16 19:18] CarolEidt opened #14523 "Refactor `emitter::instrDesc` and supporting code for XARCH"
As new instructions have been added for SSE and AVX, the existing encoding tables aren't adequately expressive, resulting in a great deal of conditional code that impacts throughput. This should be refactored both for throughput, as well as to avoid complex conditional code that is harder to maintain.
This will contribute to the resolution of #7454.

[2017-10-16 19:29] ThadHouse opened #14524 "Bad element type in SizeOf with generic calli instruction"
I am trying to write a cross platform library that interops with native code, and was planning on using raw IL and the `calli` instruction to call into my native functions, to allow me to at runtime select the native library to load. I have used this in the past, where I would create individual shim functions for every call, and this worked. However, I was thinking, and reading through the IL spec

[2017-10-16 19:36] dagood opened #14525 "Create OverridePackageSource property and use it for build-from-packages source"
Currently the intermediate location is added as a restore source directly:

https://github.com/dotnet/coreclr/blob/a78940216170cdf5f9b97ccbf6edaca2ac0758c9/tests/dir.props#L92

CoreFX has a [`OverridePackageSource`](https://github.com/dotnet/corefx/blob/71761de5f8deb0c332f62622f71f94f27252c624/dir.props#L73) property that's used when an override is needed, and it would be nice to use this approach

[2017-10-16 19:39] sywhang opened #14526 "Blocking issues for profiler APIs on ARM32/64"
Below is a list of issues I identified while testing the profiler APIs on arm32/64 on both Windows/Linux.

- ReJIT is not enabled on arm32
- Profiler ELT hooks haven't been tested yet (this is in progress)

Debugger APIs haven't been tested yet, but will update as more issues are identified as I get to testing those.

[2017-10-16 19:40] sywhang commented on #14526
@lt72

[2017-10-16 19:54] AndyAyersMS commented on #14492
Thinking about this some more, we can't detect this problem at the point we fold the branch.

Consider an ABCD diamond where A's branch is foldable and A is stack emtpy at the branch. If B pushes `int32` and C pushes `native int` then type on the stack at entry to D will depend on whether the jit folded the branch in A.

Detection has to occur via an examination of the incoming evaluation stack at

[2017-10-16 20:37] fiigii commented on #14523
@CarolEidt Thank you for opening this issue. If nobody is working on this, please assign to me. I think implementing the new AVX/SSE hardware intrinsics is a good opportunity to investigate and refactor the instruction encoding tables.

[2017-10-16 20:39] mikedn commented on #14523
I looked a bit at this back when adding `INS_bt` and it looks like one possible solution is to extend instruction formats so that each format maps to a emission code sequence that needs no or little conditional code. Mapping from the instruction format to the emission code is already done using a `switch` that produces a jump table so adding more cases to it should not hurt.

Then the instruction

[2017-10-16 21:07] fiigii commented on #14523
@mikedn This is a good idea, but the current format mechanism is already so complex. Shall we add a new "format" type rather than extend the current mechanism?

[2017-10-16 21:13] mikedn commented on #14523
I can only guess that adding a new format would be worse from a performance perspective. But it still should be better than what we have now.

Even if we only get rid of `IsSSEOrAVXInstruction` & co. we still might get an improvement.

[2017-10-16 21:15] mikedn commented on #14523
Speaking of `IsSSEOrAVXInstruction`, I recently tried to add SHLX/SHRX/SARX and ran into some problems because they use VEX encoding but they aren't exactly AVX instructions...

[2017-10-16 21:21] CarolEidt commented on #14523
I'm not sure what you mean by a new "format" type - would that be like a secondary format?
If so, I would agree with @mikedn that adding formats would probably be a better approach - and I would hope that the current complexity of the format mechanism would  actually be ameliorated by eliminating some of the conditional handling of the different cases covered by a single format.
That said, I can't

[2017-10-16 21:25] fiigii commented on #14523
Besides `IsSSEOrAVXInstruction`, we should encode certain REX/VEX prefix bits, VEX non-destructive source (NDS) info, instruction size, and maybe more.  Encoding VEX.NDS can get rid of `IsDstSrcSrcAVXInstruction`.

[2017-10-16 21:40] mapitman commented on #13489
Any ideas on when or if we will see this as part of a .NET Core 2.0.x release?

[2017-10-16 21:42] fiigii commented on #14523
Yes. It would be really good to ameliorate complexity of the format mechanism. Let me investigate more emitter code and instruction encoding rules.

[2017-10-16 21:52] jkotas commented on #13489
It should show up in .NET Core 2.0.3 update.

[2017-10-16 21:57] #14406 closed

[2017-10-16 22:01] rartemev commented on #14383
Required env
set COMPlus_GCStress=4
set COMPlus_AltJit=*
set COMPlus_AltJitNgen=*
set COMPlus_AltJitName=protojit.dll
set COMPlus_NoGuiOnAssert=1
set COMPlus_AltJitAssertOnNYI=1
set COMPlus_AltJitSkipOnAssert=0
set COMPlus_ContinueOnAssert=0

[2017-10-16 22:09] jkotas commented on #14524
Unmanaged calli is not supported with generic arguments. It is the same underlying reasons why DllImport is not supported with generics.

[2017-10-16 22:12] brianrob commented on #14327
@tmds, apologies, this slipped by me.  Thank you for offering to contribute.

Unfortunately, as I review this area, removal of the environment variable is more complex than I remembered.  The calls to tracepoint_enabled are actually already present in much of the codebase, but they are still guarded for the most part by the environment variable check.  There are a couple of issues here:

1. There

[2017-10-16 22:18] #14426 closed

[2017-10-16 22:33] adityamandaleeka commented on #9745
@SteveL-MSFT @daxian-dbw Update on this: I have [a PR](https://github.com/dotnet/coreclr/pull/14529) out with a fix in master. Once that's in, I'll go through the process to get it ported to the release/2.0.0 branch.

[2017-10-16 22:42] daxian-dbw commented on #9745
@adityamandaleeka Thanks for the fix! When will we have a servicing package that includes the fix? Could you please point me to any docs about how .NET Core servicing works?

[2017-10-16 23:21] rartemev commented on #13740
Fixed

[2017-10-16 23:21] sandreenko commented on #9422
Decided not to move anywhere #13440.

[2017-10-16 23:21] #9422 closed

[2017-10-17 00:32] chunseoklee commented on #14485
@jkotas You mean that line number printing is possible with ni image and pdb(from non-ni dll) ? Thus, it seems like a bug ?

[2017-10-17 00:56] jkotas commented on #14485
Right.

[2017-10-17 01:48] Jiayili1 opened #14532 "CancelKeyPressTests.CanAddAndRemoveHandler_Remote failed with "Exit code was 131 but it should have been 42""
failed test: CancelKeyPressTests.CanAddAndRemoveHandler_Remote
Configuration: oxs10.12_release

Detail: https://ci.dot.net/job/dotnet_corefx/job/master/job/osx10.12_release/3358/testReport/(root)/CancelKeyPressTests/CanAddAndRemoveHandler_Remote/

MESSAGE:
[code]
STACK TRACE:
[code]

[2017-10-17 01:49] Jiayili1 commented on #14532
It should be corefx issue.

[2017-10-17 01:49] #14532 closed

[2017-10-17 02:22] #14462 closed

[2017-10-17 02:26] benaadams commented on #6155
Resolved by Reduce Timer lock contention #14527 ?

[2017-10-17 02:26] benaadams commented on #13083
Resolved by Reduce Timer lock contention #14527 ?

[2017-10-17 02:37] AndyAyersMS commented on #14492
Have started in on fixing this -- one complication that comes up is that the "before" stack state contribution for a given predecessor only exists at the end of importing the predecessor . So when folding, we need to act like we're going to import both successors and capture this state in a pending block descriptor, but defer actual importation of the block that is unreachable.

[2017-10-17 02:37] stephentoub commented on #6155
On my quad core, the repro in https://github.com/dotnet/coreclr/issues/6155#issue-164160917 yields:
[code]
After my change in #14527, it yields:
[code]

[2017-10-17 02:42] benaadams commented on #13083
Also Improve Monitor scaling https://github.com/dotnet/coreclr/pull/14216 though that's not be merged yet

[2017-10-17 02:52] stephentoub commented on #13083
Is there a repro for this we could try with the fixes?

[2017-10-17 03:06] Jiayili1 commented on #13740
still failed, detail: https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/test~2Ffunctional~2Fr2r~2Fcli~2F/build/20171017.01/workItem/JIT.Methodical.XUnitWrapper/analysis/xunit/JIT_Methodical._divrem_div_decimaldiv_cs_d_decimaldiv_cs_d_~2F_divrem_div_decimaldiv_cs_d_decimaldiv_cs_d_cmd

The test `JIT_Methodical._divrem_div_decimaldiv_cs_d_decimaldiv_cs_d_/_divrem

[2017-10-17 03:33] kouvel commented on #14017
I believe reducing the number of thread requests is going to require some more interlocked operations on the main paths (at least one more per enqueue, at least one more per dequeue) that will (as of my last testing) reduce throughput a noticeable amount from the current state.

I'm actually not convinced that interlocked operations are not necessary now. Though issuing a thread request on enqueue

[2017-10-17 03:35] Drawaes commented on #5195
Worst case, if its 4 byte aligned and the law of large numbers kicks in then its 2 bytes average so ~ 5.7% still possibly significant...

[2017-10-17 06:11] wateret commented on #14485
Source and line number info is not shown with R2R too. I meant that `BadImageFormatException` issue was only for fragile non-versionable images.

[2017-10-17 06:11] wateret commented on #14485
Should PDB GUID for dll file and its crossgened file be the same? Currently the crossgened file(`.ni.dll`)'s PDB GUID is different.

[2017-10-17 06:26] jkotas commented on #14485
R2R images should have two PDB records - one with the original IL PDB guid and one with the native PDB guid. The IL PDB record is copied over by `ZapImage::CopyDebugDirEntry`. The stack trace formatter should pick up the IL PDB record.

[2017-10-17 06:31] mikedn commented on #14485
Where is the native code offset to IL offset mapping stored? In the .ni image itself?

[2017-10-17 06:32] YongseopKim commented on #14200
CodeGen
[code]

The regnum `f1` causes the assertion.

[code]

[2017-10-17 06:34] YongseopKim commented on #14200
In LSRA,
[code]

[2017-10-17 06:36] YongseopKim commented on #14200
The process of the reg alloc for `COPY` has something wrong.

[2017-10-17 06:55] wateret commented on #14485
@joktas Thank you. I checked two different RSDS records exist.

[2017-10-17 06:57] jkotas commented on #14485
Right. `READYTORUN_SECTION_DEBUG_INFO`

[2017-10-17 08:30] sjsinju commented on #14200
@YongseopKim I think it can be fixed https://github.com/dotnet/coreclr/pull/14536

[2017-10-17 10:51] YongseopKim commented on #14200
@sjsinju Yes, I've seen the above tcs are passed with #14536 . @BruceForstall ,  this issue can be closed after merging #14536 .

[2017-10-17 13:44] naasking commented on #2385
The hard work of how this could be achieved has already been done. See the paper ["Stream Fusion, to Completeness"](https://arxiv.org/abs/1612.06668). This describes a technique that provably eliminates all abstraction overhead from arbitrarily long enumerable pipelines, to the point where the generated code looks like hand-optimized tight loops, and it even eliminates intermediate data structures

[2017-10-17 14:34] mikedn commented on #2385
Note that the paper you link to actually describe a library implementation, not a JIT implementation. There's even a paragraph in the paper talking about this implementation choice.

So while the described work may be more advanced than LinqOptimizer it's really no different in its overall approach.

[2017-10-17 15:25] naasking commented on #2385
The technique depends primarily on binding-time analysis which can be done by a JIT as well. The distinction you're trying to make between library and JIT approaches isn't meaningful. The question is what information the JIT needs to guarantee a set of optimizations. The paper provides this, just like I said.

[2017-10-17 15:50] 4creators commented on #14514
Build output with current script run on machine with both VS 2017 RTM and Preview installed by using Preview developer command prompt is shown below. From this run it is visible that only VS RTM is selected and current working directory of the script is changed to default source directory set in VS which is `C:\Users\developer\Source` while repo root is at `e:\src\ms\dotnet\coreclr`.

[code]

[2017-10-17 16:26] RussKeldorph commented on #13740
Build 20171017.01 does not include @rartemev's fix (#14481).

[2017-10-17 16:26] #13740 closed

[2017-10-17 16:30] RussKeldorph opened #14539 "ARM64 BUILD BREAK: Assertion failed 'info->dstCount == (tree->OperIs(GT_LOCKADD) ? 0 : 1)'"
**Repro:**
build arm64 checked -toolset_dir <dir>

[code]

[2017-10-17 16:31] RussKeldorph commented on #14539
@CarolEidt @dotnet/jit-contrib @dotnet/arm64-contrib

[2017-10-17 16:55] sdmaclea commented on #14332
I am making some progress.

Some things are relatively easy : Changes to import, simd.cpp, lowering, codegen, and emiitters.

The parts I will find more challenging will be Local Variables, Stack Frame Allocation, Calling conventions.  This code is less familiar and therefore seems more complex.  There are also lots of special cases handled by `#if` which makes it difficult to understand.

`Compil

[2017-10-17 17:00] Buyduck commented on #11318
Still got this assert on ARM32 with next assembly:
[code]
[code]

[2017-10-17 17:15] sdmaclea commented on #14539
My local bisect info...
Exists on d5f7e467d0
Did not exist on 5bf81284d08

[2017-10-17 18:31] BruceForstall commented on #14332
Great to hear it! The complexity of fgMorphArgs is all too well known. It has long been a goal to refactor it.

[2017-10-17 18:56] sdmaclea commented on #14539
git bisect leads to this being introduced by #14350

[2017-10-17 19:00] sdmaclea commented on #14539
The assert could now be bogus.
It was based on the old assumption that GT_LOCKADD never produced a value.
@CarolEidt Your commit has this comment indicates this may no longer be true:
[code]

[2017-10-17 19:02] sdmaclea commented on #14539
Producing an unused useless value will require an extra register allocation for `GT_LOCKADD`.  Probably will not impact performance significantly

[2017-10-17 19:39] CarolEidt commented on #14539
So we should either have the type of `GT_LOCKADD` by `TYP_VOID` on ARM64, or define it to be `GTK_NOVALUE` on that target.

[2017-10-17 19:45] sdmaclea commented on #14539
Wasn't it TYP_VOID on all targets.  when I was writing the code, it was functionally equivalent to GT_XADD, except the result was not used.  Otherwise it is not clear to me why we have two nodes which do the same thing.

@CarolEidt Let me know if you are not planning on fixing this.  I can look at it.

[2017-10-17 19:50] CarolEidt commented on #14539
Interestingly, this code: https://github.com/dotnet/coreclr/blob/master/src/jit/gentree.cpp#L15294 is #ifdef'd out for arm64. I'm not sure why.

[2017-10-17 19:53] sdmaclea commented on #14539
I added the `#ifdef` because I needed the sizeof the pointer, which seems to be destroyed by that assignment.

Other codegen is using the addend to guess the sizeof the pointer.  On ARM64 it was not matching.

[2017-10-17 19:54] 4creators opened #14540 "[Infrastructure/Windows] Review usage of VsDevCmd. bat script in build and run scripts"
Code review for PR #14515 led to conclusion that usage of VsDevCmd.bat script in build.cmd and run.cmd needs further review as in some places it may be not required. This issue is created to track work on this problem.

[2017-10-17 19:55] CarolEidt commented on #14539
Why is it not matching? That's problematic if we don't want the `GT_LOCKADD` to define a register.

[2017-10-17 19:56] ahsonkhan commented on #5851
Is this work item related to IsReferenceOrContainsReferences?

If so, we already have the implementation of that check in place ([here](https://github.com/dotnet/corefx/blob/master/src/System.Memory/src/System/SpanHelpers.cs#L129) and [here](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Runtime/CompilerServices/RuntimeHelpers.cs#L173)). Is there any additional context for t

[2017-10-17 20:09] sdmaclea commented on #14539
This line is depending on the type of the node rather than the type of op2 in other code generators.

https://github.com/dotnet/coreclr/blob/6741b800cce8663f4fb9995f21398915c6c7397f/src/jit/codegenarm64.cpp#L2725

I'm not sure, it could be a function of the call signature for the intrinsic.  It is possible the importer should be changing the type of the constants.

The LOCKADD intrinsics are comin

[2017-10-17 20:16] jkotas commented on #5851
It is about calling methods on Span or that take Span arguments via reflection:
- It is not possible to do it via existing reflection methods. We should have test to verify that e.g. `typeof(SpanExtensions).GetMethod("AsReadOnlySpan", new Type[] { typeof(string) }).Invoke(null, new object[] { "Hello" });` fails gracefully.
- We may want to look into adding new reflection APIs that allow calling th

[2017-10-17 20:21] BruceForstall opened #14542 "[RyuJIT/arm32][JitStress=1] Assertion failed '((consume == 0) && (produce == 0)) || (ComputeAvailableSrcCount(tree) == consume)'"
From corefx x86_arm_altjit run, e.g. "@dotnet-bot test Windows_NT x86_arm_altjit Checked corefx_jitstress1".

Happens with `COMPlus_JitStress=1` (or `COMPlus_JitStress=2`).

Found in System.Drawing.Primitives.Tests:
[code]

Full repro:
[code]

[2017-10-17 20:22] BruceForstall commented on #14542
@dotnet/arm32-contrib @CarolEidt

[2017-10-17 20:26] 4creators opened #14543 "[Infrastructure/Windows] Free -ExtraParameters command line option in run.cmd script for use by invokers"
The issue was created by PR #14509. See coment by @BruceForstall https://github.com/dotnet/coreclr/pull/14509#issuecomment-337323436.

Currently passing -ExtraParameters option to script will result in error:

[code]

[2017-10-17 20:29] weshaggard commented on #14543
I suspect the best way is to figure out how to make CMake automatically include a common props files when it generates the projects.

[2017-10-17 20:30] BruceForstall opened #14544 "[RyuJIT/arm32] Assertion failed 'initBlkNode->AsDynBlk()->gtDynamicSize->gtRegNum == REG_ARG_2'"
From corefx x86_arm_altjit run, e.g. "@dotnet-bot test Windows_NT x86_arm_altjit Checked corefx_baseline".

Found in System.Runtime.CompilerServices.Unsafe.Tests:
[code]

Full repro:
[code]

[2017-10-17 20:31] weshaggard commented on #14540
Thanks @4creators for helping improve our build infrastructure.

[2017-10-17 20:34] 4creators commented on #14543
@weshaggard  Will research this and thnx for suggestions. Pls assign me to this issue as well.

[2017-10-17 20:35] BruceForstall opened #14546 "[RyuJIT/arm32] Assertion failed 'recentAssignedRef->delayRegFree'"
From corefx x86_arm_altjit run, e.g. "@dotnet-bot test Windows_NT x86_arm_altjit Checked corefx_baseline".

Found in System.Numerics.Vectors.Tests:
[code]

Full repro:
[code]

[2017-10-17 20:35] BruceForstall commented on #14546
@dotnet/arm32-contrib @CarolEidt

[2017-10-17 20:36] BruceForstall commented on #14544
@dotnet/arm32-contrib

[2017-10-17 20:52] BruceForstall opened #14548 "[RyuJIT/arm32][JitStress=1] Assertion failed 'dsc->lvTracked'"
From corefx x86_arm_altjit run, e.g. "@dotnet-bot test Windows_NT x86_arm_altjit Checked corefx_jitstress1".

Happens with `COMPlus_JitStress=1`.

Found in System.Reflection.Metadata.Tests:
[code]

Full repro:
[code]

[2017-10-17 20:52] BruceForstall commented on #14548
@dotnet/arm32-contrib

[2017-10-17 20:55] BruceForstall opened #14549 "[RyuJIT/arm32][JitStress=1] Assertion failed 'arg->OperGet() == GT_OBJ || arg->OperGet() == GT_FIELD_LIST'"
From corefx x86_arm_altjit run, e.g. "@dotnet-bot test Windows_NT x86_arm_altjit Checked corefx_jitstress1".

Happens with `COMPlus_JitStress=1`.

Found in System.Runtime.Numerics.Tests:
[code]

Full repro:
[code]

[2017-10-17 20:56] BruceForstall commented on #14549
@dotnet/arm32-contrib

[2017-10-17 20:59] BruceForstall opened #14550 "[RyuJIT/arm32][JitStress=1] Assertion failed 'firstILBlock->hasProfileWeight()'"
From corefx x86_arm_altjit run, e.g. "@dotnet-bot test Windows_NT x86_arm_altjit Checked corefx_jitstress1".

Happens with `COMPlus_JitStress=1`.

Found in System.Threading.Tasks.Dataflow.Tests:
[code]

Full repro:
[code]

[2017-10-17 20:59] BruceForstall commented on #14550
@dotnet/arm32-contrib @briansull

[2017-10-17 21:09] adityamandaleeka commented on #9745
@daxian-dbw This will go into the next release after 2.0.3. There will be a pre-release build soon if you're interested in trying that out.

[2017-10-17 21:30] BruceForstall commented on #13751
I also see this with corefx tests in System.Runtime.Serialization.Xml.Tests (`COMPlus_JitStress=2`)

[2017-10-17 21:38] BruceForstall commented on #14373
Also seen in a corefx x86_arm_altjit run with `COMPlus_JitStressRegs=3` (no `COMPlus_JitStress` required), in  System.Drawing.Common.Tests.

[2017-10-17 21:41] BruceForstall commented on #13752
Also seen 36 times in "Windows_NT x86_arm_altjit Checked corefx_jitstressregs4" CI test leg.

[2017-10-17 21:47] BruceForstall opened #14551 "[RyuJIT/arm32][JitStressRegs=8] Assertion failed 'this->gtOper == GT_LIST || this->gtOper == GT_FIELD_LIST'"
From corefx x86_arm_altjit run, e.g. "@dotnet-bot test Windows_NT x86_arm_altjit Checked corefx_jitstressregs8".

Happens with `COMPlus_JitStressRegs=8`.

Found in System.Diagnostics.FileVersionInfo.Tests:
[code]

Full repro:
[code]

[2017-10-17 21:54] BruceForstall commented on #8496
The corefx altjit jobs now work. I've opened 7 new issues found running these tests. The jobs are:

[code]

and can be triggered with any dotnet/coreclr PR. None of the jobs pass right now; besides the asserts, there appear to be some runtime failures that only occur when the altjit is invoked. E.g., you can see all the test runs in this PR: https://github.com/dotnet/coreclr/pull/14334 (choose "Vi

[2017-10-17 21:56] BruceForstall commented on #14551
@dotnet/arm32-contrib

[2017-10-17 22:00] vancem opened #14552 "CoreCLR or CoreFX Build fails with No CMAKE_C_COMPILER CMAKE_CXX_COMPILER could be found"
This is me, simply documenting something that took me way to long to debug, and I want to give others a fighting chance of debugging it.

My scenario is simple: I reinstall a new Win 10 OS, install Visual Studio 2017 install, CMake and Git and Python as the instructions tell me to and try to build CoreCLR.

It fails with the text below complaining about that fact that it cannot find the C and C++

[2017-10-17 22:01] vancem commented on #14552
I have listed the fix in the initial issue.  I created the issue just to allow others to find this work-around.

[2017-10-17 22:01] #14552 closed

[2017-10-17 22:09] danmosemsft commented on #14539
@sdmaclea @RussKeldorph Is there a way to temporarily unblock the build meantime -- eg direct submit a change to comment out the assert? That way we can get a corelib built and into corefx, eg.,

[2017-10-17 22:10] danmosemsft commented on #14539
cc @stephentoub @ViktorHofer

[2017-10-17 22:13] huoyaoyuan opened #14556 "[Win][Build]C4819: Non-ASCII character in source"
Position: `src\classlibnative\bcltype\number.cpp` L289-294
Character: `∗`
Windows Version: 16299.19
Code Page: 936(Simplified Chinese)
Visual Studio Version: 15.4.0 (msvc 19.11.25547)

The characters are in comment, so can be safely removed anyway.
Quite strange about this issue, because the same issue was reported and fixed 2 years ago, and no longer reported. Doubting about VS2017/vc141.

_a bet

[2017-10-17 22:34] AndyAyersMS commented on #14492
Still searching for an approach that fits in well with the existing code. There are a number of crosscutting concerns (in particular verifier mode) that are not easy to test properly  in CoreCLR.

I have one line of attack that creates a second import block list, for "deferred" import blocks -- the  blocks that are former targets of the now-folded conditional branches. The deferral lets the jit ca

[2017-10-17 23:46] RussKeldorph commented on #14539
@danmosemsft @CarolEidt will have to comment on whether there is a good option to unblock the build.  We could also back out the offending change, but that may not be without risk.

@CarolEidt, do you think your fix will be merged tonight?  If not, we should consider backing out #14350.

[2017-10-17 23:51] CarolEidt commented on #14539
I am hoping that it will be merged tonight. I think it would be better to disable the assert than to back out #14350.

I have verified that the arm64 cross Checked build succeeds with my fix.

[2017-10-18 00:28] AndyAyersMS commented on #14492
Overall, there are 743 instances where the problem detector fires in the 142915 methods in the jit-diffs fx set, so when jitting, about one method in 200 would trigger the recovery process.

[2017-10-18 00:46] CarolEidt opened #14557 "Modify interlocked nodes to take an indirection"
The op1 of an interlocked instruction is an address. The instructions implicitly do an indirection. This makes sense because interlocked instructions are fundamentally operands on  memory locations. However, this complicates codegen. First, because op1 doesn't hold the type of the memory location (see issues #14539), the type must either be on the interlocked instruction, which is problematic if t

[2017-10-18 00:48] CarolEidt commented on #14539
@dotnet/jit-contrib ping - it would be good to get this build break fixed today.
Also, FYI, I have opened #14557 because I think the implementation of the interlocked operations would be cleaner and less error-prone if they took an indirection as their op1.

[2017-10-18 02:43] ahsonkhan commented on #8516
@kouvel, any updates on this issue?

[2017-10-18 02:43] ahsonkhan commented on #9032
@kouvel, any updates on this issue?

[2017-10-18 02:47] kouvel commented on #8516
Nope, haven't had the time to look at my issues

[2017-10-18 02:50] kouvel commented on #9032
Last I remember from talking with @jkotas about this is that this was something that is not currently an issue but could be in the future (at the time, the future was earlier in time), I don't remember the details. @jkotas, is there something here that has a potential for failure that needs to be investigated?

[2017-10-18 02:56] hqueue commented on #14374
This is reproduced in `Checked` and `Debug`. I will take a look at this.

@BruceForstall Please assign this to me.

[2017-10-18 03:00] #14539 closed

[2017-10-18 03:51] jkotas commented on #9032
Repro:

[code]

Result on Windows x64: prints FAILED occasionally

[2017-10-18 04:00] KKhurin opened #14561 "Expose System.SizedReference in coreclr"

[2017-10-18 04:02] jkotas commented on #14561
This should be exposed as proper public API (https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md )

[2017-10-18 04:33] danmosemsft commented on #14539
Thanks @CarolEidt !

[2017-10-18 05:53] MelbourneDeveloper commented on #8352
I'm getting this when trying to access isolated storage...

[2017-10-18 06:06] kbaladurin commented on #14339
Could anyone explain how JIT guarantees sequence point preserving (especially for return blocks)? Thanks!

[2017-10-18 06:43] sunnycase opened #14562 "[Local GC] Decouple Object & ArrayBase layout"
We are writing a wrapper between coreclr and mono api to make Unity games running on top of coreclr. [(repo link)](https://github.com/dotnetGame/coreclr/tree/test-unity-empty-modfiy-object-model)
But now we have encountered some issues about object model conflicts between mono and coreclr.

## Object
### Issue
In mono, an object header is inside of the object.
[code]
- The first field of an object

[2017-10-18 08:06] mmayr-at commented on #12719
I can confirm that the IMetadataImport::GetMemberRefProps is also working for profiler generated member refs (at least for the desktop CLR). I've written a small WinDbg extension (will be published soon) to show the profiler generated IL code. I will integrate the results here, when I can find the time for it.

I haven't managed to retrieve the EH clauses though. Looking at the [source](https://gi

[2017-10-18 08:41] tmds commented on #14327
@brianrob `XplatEventLogger::IsEventLoggingEnabled` is inlined and `EventXplatEnabledSomeEvent()` isn't.
Is the goal to be capable of inlining the latter? To do that, the caller of EventXplatEnabledSomeEvent needs to take a direct dependency on lttng. I believe this is currently an indirect dependency. _runtime_ depends on _eventprovider_ which depends on _lttng_.
What are your thoughts on this?

[2017-10-18 11:14] ShalokShalom opened #14563 "[ReadMe] RyuJIT = Microsoft.NETCore.Jit = ?"
Is the mentioned Microsoft.NETCore.Jit RyuJIT?

If so, name it so.

Otherwise, the already confusing situation with a lot of different compilers gets one step more confusing.

Thanks a lot

[2017-10-18 11:20] ShalokShalom commented on #14563
And where is the actual source code?

All I can find is the nuget package, Microsoft.NETCore.Jit in "Find file" here at Github brings us nothing else.

[2017-10-18 11:24] mikedn commented on #14563
Name what so? Microsoft.NETCore.Jit is the NuGet package name, it's unlikely that someone will go and change that now. RyuJIT is the codename of the current .NET Core (and partially .NET Framework too) JIT. The 2 names represent different things.

[2017-10-18 12:01] xoofx commented on #14562
@sunnycase FYI, during the hackweek at Unity last May, we did a prototype of Unity running with CoreCLR (I announced it here https://twitter.com/xoofx/status/867903250649034756). I still have to write a blog post about it so you will be able to understand how we were able to achieve this...

About our approach, we simulated the Mono API on top of the CoreCLR API, so it looks similar to what you ar

[2017-10-18 12:54] jkotas commented on #14563
Also, we prefer to not use codenames in the package names.

[2017-10-18 13:07] ShalokShalom commented on #14563
So, where can I find RyuJIT? And why is this the name which is used everywhere - except in the actual source code?

[2017-10-18 13:08] ShalokShalom commented on #14563
And why this: https://github.com/dotnet/corefx#net-core-libraries-corefx

The corresponding .NET Core Runtime repo (called "CoreCLR") contains the runtime implementation for .NET Core. It includes RyuJIT, the .NET GC, and many other components.

And then no mention about it here in this repo?

[2017-10-18 13:09] jkotas commented on #14563
https://github.com/dotnet/coreclr/tree/master/src/jit

[2017-10-18 13:15] ShalokShalom commented on #14563
So, what is the package name of RyuJIT?

[2017-10-18 13:27] mikedn commented on #14563
Microsoft.NETCore.Jit.

It's not very irrelevant. Much like the name of the class that implements an interface is not relevant to the consumers of the interface.

There's also the little detail that the current ARM32 JIT is a sort of Frankenstein that uses the RyuJIT optimization phases and the legacy JIT32 register allocator and codegen.

And the little detail that .NET Framework uses RyuJIT only

[2017-10-18 13:31] ShalokShalom commented on #14563
So, you write its something different and then that it is the same?

This whole thing feels like somebody is sitting in a room for hours, figuring out how to name it so complicate as possible.

[2017-10-18 13:37] jkotas commented on #14562
The layout of object or array, encoding of object layout, or write barriers are part of the GC/EE contract. This done for performance reasons. Abstracting these away would make the GC many times slower.

[2017-10-18 14:03] brianrob commented on #14327
@tmds, you are right, EventXplatEnabledSomeEvent is not inlined, as it is implemented in the PAL.  Last I checked, the VM (where this code is called from) can't take a dependency directly on LTTng, but instead must go through the PAL.  It would be nice to be able to inline the checks, as it's certainly going to be cheaper.  @janvorli, is it still the case that we can't call LTTng from the VM direc

[2017-10-18 15:06] AndyAyersMS commented on #14339
Generally speaking, when generating debuggable code, the jit will not do any optimizations or flow transformations. So the sequence point information that is captured initially when the jit IR is created is preserved in the IR throughout compilation.

However return merging is a special case as the jit must also honor the constraints imposed by the runtime. So for this case some flow transformatio

[2017-10-18 15:13] kbaladurin commented on #14339
@AndyAyersMS Thank you for explanation!

[2017-10-18 15:42] jkotas commented on #14563
You are right that people often sit in a ~~room~~ pub for hours to come up with a good [codename]( https://en.wikipedia.org/wiki/Code_name).

[2017-10-18 15:43] rfrancisco commented on #445
Can you give us a status update of this?

[2017-10-18 15:50] JosephTremoulet commented on #10051
I suppose @AndyAyersMS or @RussKeldorph would be in the best position to answer that.

[2017-10-18 16:11] kouvel commented on #9032
Thanks, I'll take a look

[2017-10-18 16:33] CarolEidt commented on #14557
As @sdmaclea pointed out, there may be an issue for 64 bit atomics if the addend is an indirect small type, when there should be a carry into the high 32 bits.

We should improve the test coverage especially for 64-bit atomics.

[2017-10-18 17:03] BruceForstall commented on #14544
@dotnet/arm64-contrib This issue also exists for arm64.

[2017-10-18 17:15] BruceForstall commented on #13882
@dotnet/arm64-contrib This affects arm64 minopts, including CI minopts jobs.

[2017-10-18 17:28] BruceForstall opened #14567 "[arm64] Assertion failed '!BitVecOps::IsMember(&nodesVecTraits, uniqueNodes, gtTreeID)'"
From an x64_arm64_altjit JitStress=1 run.

E.g.,
[code]

tests:
[code]

[2017-10-18 17:29] BruceForstall commented on #14567
@sandreenko @dotnet/arm64-contrib

[2017-10-18 17:36] BruceForstall opened #14568 "[arm64] Assertion failed 'emitCurIG != emitPrologIG'"
Found in an x64_arm64_altjit JitStress=2 JitStressRegs=1 run.

E.g.,
[code]

Tests:
[code]

[2017-10-18 17:36] BruceForstall commented on #14568
@dotnet/arm64-contrib

[2017-10-18 17:41] BruceForstall commented on #14550
@dotnet/arm64-contrib This assert also exists in arm64.

[2017-10-18 19:04] kouvel opened #14571 "Monitor fast path perf"
Try to improve the monitor fast path code generation to get it to get closer to asm fast path perf by either force-inlining spin loops or moving spin loops to the slow path, such that the slow path call at the end is the only call.

- Depends on https://github.com/dotnet/coreclr/issues/13980

[2017-10-18 19:10] kouvel commented on #13277
Looks similar to https://github.com/dotnet/coreclr/issues/12707. CC @russellhadley

[2017-10-18 20:49] noahfalk commented on #12719
Yeah that appears correct. I had forgotten about it but it looks like we still have a gap if you are using the older SetILFunctionBody IL instrumentation mechanism at module load time (guessing that is your case?).

[2017-10-18 21:37] jkotas commented on #14571
GetThread is inlined after https://github.com/dotnet/coreclr/pull/14398

[2017-10-18 21:40] AndyAyersMS opened #14574 "JIT: avoid store covariance check for ref-type ldelem from same array"
The jit optimizes `stelem.ref` to avoid the store covariance check when the value being stored is from the same array (at least for obvious cases like `a[i] = a[j]`) or the value being stored is null.

But it doesn't do the same for `stelem` with a ref type. Looks like it easily could.

[2017-10-18 22:01] AndyAyersMS commented on #14492
I have a prospective fix for this: [master...AndyAyersMS:ReimportAllWhenFoldingIsRisky](https://github.com/dotnet/coreclr/compare/master...AndyAyersMS:ReimportAllWhenFoldingIsRisky). Have not tested it extensively so it may still need work.

It causes some diffs in jit-diffs:
[code]
(and as noted above reimportation is triggered 743 times total, sometimes more than once in a root method because of

[2017-10-18 22:38] brianrob commented on #14327
@nategraf

[2017-10-18 22:44] AndyAyersMS commented on #14574
Also note that in the typical array element "swap" idiom the jit only optimizes one of the store checks, eg
[code]

[2017-10-18 22:52] AndyAyersMS commented on #13589
I wonder if we should take this even further and just use helper calls for array loads and stores in debuggable and perhaps in Tier0 codegen. This would factor out the null check, bounds check, exception throw and address calculations and should further reduce the JIT's IR volume.

Likely we'd need to fix the diagnostic aspect so the exceptions look like they were thrown by the caller, but I assum

[2017-10-18 23:46] noahfalk opened #14579 "Multiple JITCompilationFinished events should not be generated"
While doing some code review I noticed that the new code paths in the prestub appear to have a race condition that would allow JITCompilationFinished to be invoked more than once for the same method. This looks like it could happen whenever we hit the circular static class constructor race that bypasses the jit lock. Previously when the prestub ultimately called SetNativeCodeInterlocked we would s

[2017-10-19 00:30] AndyAyersMS commented on #14492
Hmm, for JIT32 we probably can't see these issues since native int/int32 have the same representation, and the use of x87 masks the float/double case. So instead I'll look at the legacy JIT64's behavior.

[2017-10-19 00:50] jkotas opened #14581 "Exception handling broken on CentOS"
Many tests in CI are failing with:

[code]

[2017-10-19 01:14] jkotas commented on #14556
cc @mazong1123

[2017-10-19 01:26] mazong1123 commented on #14556
@huoyaoyuan Thanks for reporting it.

It's interesting. Those comments are copied from the original paper. I guess my PDF reader interpreted the character `*` as Chinese character because my locale is Chinese.

I'd like to fix it soon.

[2017-10-19 01:39] BruceForstall commented on #14236
Closing this, since the regression change has been reverted.

[2017-10-19 01:39] #14236 closed

[2017-10-19 02:05] dotnet-mc-bot opened #14583 "Test failure: JIT_Directed._coverage_oldtests_lclflddiv_cs_d_lclflddiv_cs_d_/_coverage_oldtests_lclflddiv_cs_d_lclflddiv_cs_d_cmd"
Opened on behalf of @Sunny-pu

The test `JIT_Directed._coverage_oldtests_lclflddiv_cs_d_lclflddiv_cs_d_/_coverage_oldtests_lclflddiv_cs_d_lclflddiv_cs_d_cmd` has failed.

    Return code:      1
    Raw output file:      C:\dotnetbuild\work\c4b42376-cea4-46bd-be93-0fcfe113c7de\Work\4299f860-fdb7-4789-8e71-770b3c3a9fe3\Unzip\Reports\JIT.Directed\coverage\oldtests\lclflddiv_cs_d\lclflddiv_cs_d.outpu

[2017-10-19 02:12] Sunny-pu commented on #14486
failed again:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171018.04/workItem/JIT.Methodical.XUnitWrapper/analysis/xunit/JIT_Methodical._divrem_div_u4div_cs_d_u4div_cs_d_~2F_divrem_div_u4div_cs_d_u4div_cs_d_cmd

[2017-10-19 02:13] sunnycase commented on #14562
@xoofx

Actually we have considered this approach. But we can't afford a Unity source code lincense and we can't modify and redistribute Unity as that would conflict with Unity's terms of service.

[2017-10-19 02:32] Sunny-pu commented on #14487
failed again:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171018.04/workItem/baseservices.exceptions.XUnitWrapper/analysis/xunit/baseservices_exceptions._unittests_EHPatternTests_EHPatternTests_~2F_unittests_EHPatternTests_EHPatternTests_cmd

[2017-10-19 03:00] AndyAyersMS commented on #14492
JIT64 seems to always produce -2147483648.

[2017-10-19 03:01] leohawke commented on #14562
Have you ever listen of an idiom?
“历外拉同”
You're better because you're a foreigner
I'm garbage because I'm your compatriot

@xoofx   We don't have Unity Source ,We Can't change Unity Source,We don't care Unity Source.
@jkotas  can you give us more information about it?

[2017-10-19 03:06] crazii commented on #14562
@xoofx
Could it be a general case/requirement that can be applied to more scenarios no just like Unity?

[2017-10-19 03:20] Sunny-pu commented on #13161
failed again:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171018.04/workItem/readytorun.tests.XUnitWrapper/analysis/xunit/readytorun_tests._mainv1_mainv1_~2F_mainv1_mainv1_cmd

[2017-10-19 03:39] AndyAyersMS commented on #14492
Looking at ECMA-335 it appears that the order in which branch targets are considered during type merging is unspecified. And since int32 is verifier-assignable to native int and vice versa (via I.8.7.3 (4)), it looks like conforming implementations can arrive at different answers for the type of the element on the stack in cases like the ABCD diamond or the example code above.

The text of III.1.7

[2017-10-19 03:49] #13751 closed

[2017-10-19 04:05] jkotas commented on #14562
@leohawke

If you would like to propose refactorings that do not affect performance of the default CoreCLR build and make your life easier, we can discuss those on case-by-case basis. We are pretty open to changes that make the code more flexible or better factored.

However, the performance affecting changes such as adding padding fields to object layout are not going to fly well - you will alway

[2017-10-19 04:11] CarolEidt commented on #14200
Fixed with #14573

[2017-10-19 04:11] #14200 closed

[2017-10-19 04:59] xoofx commented on #14562
What I was implying is that without these changes in Unity, you won't be able to run anything. Unity is for example accessing managed objects fields directly without going through mono API...

Sure. But again, in that case, you would barely have to change things in coreclr (and typically the change of this issue doesn't make sense)

[2017-10-19 05:03] #14556 closed

[2017-10-19 05:12] YongseopKim commented on #14549
@BruceForstall `set COMPlus_AltJitName=protononjit.dll` always should be set ? I have no idea where I can get it.
Except for that,
[code]

[2017-10-19 05:14] YongseopKim commented on #14551
On linux/arm32,
[code]

[2017-10-19 05:15] YongseopKim commented on #14551
[code]

[code]

[2017-10-19 05:16] YongseopKim commented on #14549
[code]

[code]

[2017-10-19 05:27] BruceForstall commented on #14549
On Windows, protononjit.dll in an x86 build is an arm-targeting cross JIT. On Linux, use protojit.dll (which is the default for `COMPlus_AltJitName`)

[2017-10-19 05:28] BruceForstall commented on #14567
@sandreenko It appears this affects arm32 as well, cc @dotnet/arm32-contrib

[2017-10-19 05:28] BruceForstall commented on #14549
This is a recent regression: https://github.com/dotnet/coreclr/issues/14567

[2017-10-19 05:32] BruceForstall commented on #14551
@YongseopKim You used:
[code]

you need to use:
[code]

[2017-10-19 06:49] sunnycase commented on #14562
@xoofx

That's why we change the object model to align with mono.

[2017-10-19 08:28] benaadams opened #14585 "JIT: Allow CALLEE_IS_FORCE_INLINE precedent over CALLEE_DOES_NOT_RETURN"
Currently `CALLEE_DOES_NOT_RETURN` will take precedent over `CALLEE_IS_FORCE_INLINE` this can be undesirable as there is no way to get a non-returning method to then inline.

[2017-10-19 09:24] xoofx commented on #14562
I understood, but for example Unity doesn't do write barriers yet, so it won't work until it is done on Unity, no matter how hard you try to align with mono.

Bottom line, if you want to align the runtime with mono, surely you can try to upstream some changes to coreclr if it makes sense (as @jkotas suggested), but many will still require a hard fork, and not only coreclr but also for some corefx

[2017-10-19 12:16] mmayr-at commented on #12719
Yeah I am using the SetILFunctionBody mechanism in this case. Thanks for that information.

[2017-10-19 14:10] janvorli commented on #14327
@brianrob VM can never include any platform headers, because it would collide with our private declarations / implementations of some functions that also exist in the platform headers.
You've said that the EventXplatEnabledSomeEvent is implemented in PAL, but isn't it actually in the libcoreclrtraceptprovider.so?

[2017-10-19 14:24] janvorli commented on #14581
I guess that likely some of the EH functions in PAL marked with __attribute__((noinline) __attribute__((optnone)) got optimized / inlined due to the PGO.

[2017-10-19 14:32] tmds commented on #14327
@janvorli does that mean it must remain separate as-is, and we shouldn't try to inline the lttng event enabled checks?

[2017-10-19 14:36] hqueue commented on #14374
PR #14588 fixes `JIT\Regression\CLR-x86-JIT\V1-M12-Beta2\b60142\b60142\b60142.cmd`.

And there is another bug related to `JIT\Regression\CLR-x86-JIT\V1-M12-Beta2\b59782\b59782\b59782.cmd` which still raises the assertion.

[2017-10-19 14:46] compudj commented on #14327
FWIW, the lttng-ust public headers symbols are "namespaced" with a prefix to every symbol. So colliding with lttng-ust's public declarations would have to be done intentionally.

[2017-10-19 14:47] markusschaber commented on #7083
Just my few thoughts:

1. For the question whether to use ASCII or LATIN-1 for the "byte strings": The type tag could differentiate three types (ASCII, LATIN-1 and UTF-16). Thus, LATIN-1 could still profit from the smaller storage, while we could also exploit the fact that ASCII is an UTF-8 subset. We could even distinguish a fourth kind for Strings which exceed LATIN-1, but do stay within the BMP

[2017-10-19 15:14] pgavlin commented on #13589
That's an interesting idea... I can't recall offhand whether or not there were any gotchas beyond the optimizer changes that would make implementing such a change especially difficult. My intuition says it should be relatively straightforward, though.

[2017-10-19 16:46] AndyAyersMS commented on #8542
Revived here: [master...AndyAyersMS:ReviveOptLocalloc](https://github.com/dotnet/coreclr/compare/master...AndyAyersMS:ReviveOptLocalloc)

Some thoughts:
* If the inline call site is in a loop, the inline could lead to unbounded growth in caller stack, and potential stack overflows. There currently is no "unstackalloc" we can pend to the end of the inlined code.
* It might be interesting to see if

[2017-10-19 16:54] benaadams commented on #8542
There's also the new C# 7.2 safe span stackalloc; which might make it more widespread

e.g. in [IPAddressExtensions](https://github.com/dotnet/corefx/blob/a7f6f470cb2c4cdaafdc3ad85e2520992a8db265/src/Common/src/System/Net/Internals/IPAddressExtensions.cs#L21)

[code]

[2017-10-19 16:58] sdmaclea commented on #14400
@jkotas FYI

[2017-10-19 17:08] sdmaclea opened #14591 "[Arm64] Lsra breaking tip"
New change was merge which is causing 33 new test failures

[code]

Looking at a few failures seems an assert is firing in lsra.

[code]

@CarolEidt @dotnet/jit-contrib

git bisect info
bad  138f0b7
good 29865c3

[2017-10-19 17:22] CarolEidt commented on #14591
Sorry about that. I am also seeing that on an arm alt-jit stress test that was passing before. I'll have a look.

[2017-10-19 17:24] sdmaclea commented on #14591
@CarolEidt Thank.  No problem, standard cost of refactoring.

[2017-10-19 17:46] brianrob commented on #14327
@janvorli, I had to go back and check this to be sure.

EventXplatEnabledSomeEvent is implemented in the PAL.  It is generated at build time and dropped in bin/obj/Linux.x64.<flavor>/Generated/eventprovider/LTTng (see eventprovdotnetruntime.cpp in this directory for some examples).  These are included in the PAL via a generated CMakeLists.txt here: https://github.com/dotnet/coreclr/blob/master/src

[2017-10-19 18:06] AndyAyersMS opened #14592 "JIT: look into some small CQ issues in ValueTuple.GetHashCode"
Couple of things to investigate here:
* why an explicit null check remains after we've dereferenced `rcx`
* what causes the shuffling back and forth between `esi` and `edx`
[code]
test source
[code]

[2017-10-19 18:07] compudj commented on #14327
Considering that the do_tracepoint() call should only happen when tracepoint_enabled() evaluates to true, you can indeed assume that do_tracepoint() is never called when the tracepoint is disabled, and therefore the whole cost boils down to checking an in-proc state variable, and doing a predicted branch, when the tracepoint is disabled.

[2017-10-19 18:07] janvorli commented on #14327
@brianrob I wonder, since the PAL is part of libcoreclr.so, the linker could be able to inline the calls when generating the final code.

[2017-10-19 18:57] mikedn opened #14593 "WIP bot?!"
The WIP bot that was added recently seems like a bad idea. Well, a good idea implemented badly. It should add a NO MERGE tag, not fail the build. It's annoying to see that a PR build fails instantly after a commit...

[2017-10-19 18:58] janvorli commented on #14581
I was able to repro it locally in a centos 7 VM. I am looking into it to see what causes the trouble. It looks like it has broken even the software exceptions handling. Since it occurs on CentOS 7 only and not on other Linuxes, I wonder if our own build of clang 3.9 that we use there is resulting in this issue.

[2017-10-19 19:33] 4creators opened #14594 "[Infrastructure/Windows] Optimize test build on Windows"
Code review in #14509 led to proposal to optimize test build on Windows: see https://github.com/dotnet/coreclr/pull/14509#issuecomment-337055756

This issue is created to track that work.

Pls assign it to me.

[2017-10-19 19:38] lt72 commented on #445
Profiler has now been tested on Linux and Windows for x64/x86. ARM32 testing is in progress and going well, with a few known areas to be completed that are currently being worked on. For tracking ARM32 progress, see #14526, #13992, and #13993.

[2017-10-19 19:39] 4creators opened #14596 "[Infrastructure/Windows] Remove spmi artifacts from cross component mscorlib builds on Windows."
The problem was discovered during code review for PR #14578: the conclusion was that superpmi binaries do not belong to cross components. See comment: https://github.com/dotnet/coreclr/pull/14578#issuecomment-337929416

Pls assign this issue to me.

[2017-10-19 21:21] jkotas commented on #14593
@terrajobst @richlander Is there a way to control these behaviors?

[2017-10-19 21:48] terrajobst commented on #14593
Can you point me to a PR?

I agree that this shouldn't fail the build. In general, we don't want to use labels and instead us the GitHub status API to mark the PR as not ready so we don't actually click merge. The status area will inform you of any checks that have failed, CI being just one of them. Others include missing reviewers, CLA or if the PR is marked as WIP.

[2017-10-19 21:54] janvorli commented on #14581
So, the issue is that there is no unwind info for our function RtlpRaiseException, which is the one that throws exceptions in the runtime. The exception unwinder starts in __cxa_throw frame, then unwinds to our RtlpRaiseException that's next on the stack. Since there is no unwind info, the unwinder decides that it is an end of stack - and so no handler was found and the app aborts with unhandled e

[2017-10-19 22:54] Foda opened #14599 "ICustomMarshaler not supported in UWP/WinRT"
`UnmanagedType.CustomMarshaler `and `ICustomMarshaler ` are both [supported ](https://github.com/dotnet/coreclr/commit/e8c4f5499136e137fdb3e3c5fb798b2637b21996) by .Net Core 2.0/.Net Standard 2.0, but not supported in UWP/WinRT. I can't seem to find any documentation that lists specific  .Net Standard APIs not supported in UWP/WinRT, but I would think this isn't the only case.

See [mtypes.h](http

[2017-10-19 22:57] tijoytom commented on #14599
@russellhadley @luqunl

[2017-10-19 23:50] zhuman commented on #14599
The code pointed to that does the `IsAppXProcess` check also raises a larger question: does the CoreCLR differentiate between a Centennial (full-trust) process running from an AppX versus a UWP app-container process? It would appear not, which is a bit concerning. You should be able to take a CoreCLR full-trust desktop console app and deploy it in an AppX package without changing its behavior. Thi

[2017-10-19 23:53] AndyAyersMS commented on #8542
Realized that there's often a cast between the fixed size and the localloc. Fixing that we see things firing in more cases:
[code]
(this is with 32 bytes).

Updated my fork to support inlining of these methods. EG
[code]
[code]

[2017-10-20 00:17] janvorli commented on #14581
Ok, so it seems that with PGO enabled, it is missing almost all the EH info, See the "Size" column:
[code]

[2017-10-20 00:20] jkotas commented on #14599
It does not. IsAppXProcess is going to return false in .NET Core apps running as Centennial.

[2017-10-20 00:52] rartemev commented on #14383
It seems like there are other people how desire so much to work on this issue so I am not going to interfere with them and remove my assignment.

[2017-10-20 01:37] jkotas commented on #14593
E.g. https://github.com/dotnet/corefx/pull/24756

![image](https://user-images.githubusercontent.com/6668460/31801326-3cf1e0ba-b4fc-11e7-9209-5e143ed8d05d.png)

![image](https://user-images.githubusercontent.com/6668460/31800999-f5a9ec18-b4f9-11e7-8c6d-7d0ab381eda4.png)

It does not really fail the build. But it makes places that signal build failures red so your initial reaction is "ok, have to g

[2017-10-20 01:46] jkotas commented on #14599
The differentiation happens in the host .exe that is used to launch the process. The UWP host used to run UWP apps sets the `STARTUP_APPX_APP_MODEL` flag that turns on the special UWP restrictions (https://github.com/dotnet/core-setup/blob/master/src/uwp/Host/UWPHost/UWPHost.cpp). The regular console `dotnet.exe` host does not set this flag.

[2017-10-20 01:59] jkotas commented on #14599
Right. Work on progress to make these differences more discoverable: https://github.com/dotnet/corefx/issues/18405

[2017-10-20 02:42] davmason opened #14605 "build.cmd fails native build on a virtual machine"
I do my development in a VM hosted through hyper-v. On this VM, WMI does not return a value for NumberOfEnabledCore. #14509 introduced a dependency on it for the native build.

[code]

This causes the recent build.cmd changes to fail with a bunch of these errors:
[code]

It seems like NumberOfEnabledCore isn't guaranteed to have a value, so an extra check is necessary with a default value for when

[2017-10-20 03:33] CarolEidt opened #14607 "[RyuJIT/arm64] Determine treatment of special regs"
Issue #14591 was caused by an inconsistency in the register sets used by LSRA. In particular, the "special" registers IP0, IP1, PR, FP, andLR. In PR #14606 I have added IP0 and IP1 to the set of registers in `REG_VAR_ORDER`, and excluded the others in `availableIntRegs`. This needs to be revisited by someone more intimately familiar with the ABI to ensure that this is the correct treatment.

[2017-10-20 03:51] BruceForstall commented on #14383
Of the tests above, after #14600 there are 122 failures in GCStress=4. However, almost all the ones I looked at (maybe half) have `No output was generated!`, and no obvious GCStress assert.

[2017-10-20 04:43] sdmaclea commented on #14607
The ABI suggests the platform independent code should treat the platform register as if it does not exist.

It is therefore not included in `RBM_ALLINT`  and should not be in the VAR ORDER.

[2017-10-20 04:53] sdmaclea commented on #14607
`IP0` and `IP1` are intended to be used by to help linkers.  They are allowed to be trashed by any call or linkage branch, but are otherwise treated as temporaries.

The CoreCLR arm64 assembly sometimes use these registers without preserving them.  GCWriteBarrier for instance.  I would hesitate before allowing them to be allocated w/o understanding the allocator lifetime rules.  They are in the CA

[2017-10-20 05:07] noahfalk commented on #12617
All of the known sub-issues have been resolved, work complete!

[2017-10-20 05:07] #12617 closed

[2017-10-20 05:08] sdmaclea commented on #14607
LR is the link return register.  It is trashed by the `bl` branch and link assembly instruction.  It needs to be caller preserved so caller can return to its parent.

arm32 includes it in var order., but It is best to keep it as the LR register to simplify debugging.  Or it could be added to the end of the order.

[2017-10-20 05:09] noahfalk commented on #12613
This has been handled now so closing the issue now.

[2017-10-20 05:09] #12613 closed

[2017-10-20 05:11] sdmaclea commented on #14607
FP is not included in ALLINT.  It is preserved by the callee.  But lsra should never allocate

[2017-10-20 05:12] noahfalk commented on #10334
@leculver confirmed to me offline a little while ago that .Net Core minidumps are working now so resolving this issue.

[2017-10-20 05:12] #10334 closed

[2017-10-20 05:14] noahfalk commented on #7426
@mjsabby - Oops typo prevented you from getting the earlier notification. Sorry about that.

[2017-10-20 06:25] wateret commented on #14485
@jkotas @mikedn I was using the older version of CoreCLR. And it seems like this (065a5216c1d16ff519bf18c5b559c8eda276f580) resolves what I'm asking. Sorry about that.

[2017-10-20 06:25] #14485 closed

[2017-10-20 06:53] nathanaeljones opened #14611 "How to locate executables in nuget packages"
I'm looking for a way to access a nuget-packaged native executable (similar to how unmanaged dlls are loaded from the `runtimes/[rid]/native` folders of nuget packages because the DLL search path is modified).

If there's a way to determine or access these search paths, then it should be possible to locate an executable from a (or any) NuGet package.

Hopefully this is the right repo?

[2017-10-20 10:51] janvorli commented on #14581
@adiaaida - since the issue is clearly related to the PGO, could you please revert the change #14554 that has re-enabled PGO until we figure out why the clang 3.9 compiler that we build ourselves is misbehaving? Otherwise I believe all official builds will be broken (and the lab tests will be failing) since we build them all with this clang 3.9 compiler on CentOS 7.

[2017-10-20 12:02] et1975 opened #14613 "dotnet process crash on OSX"
While trying to compile a SDK 2.0 console project, targeting net462 the process crashes with this:

[code]

MSBuild (I guess from mono 5.4) compiles it, no problem.
I can provide the project link, if needed.

[2017-10-20 12:17] mikedn commented on #14593
Hmm, that makes sense. I guess it's the GitHub UI that's the problem after all. As @jkotas mentions above, as soon as one check fails all places that indicate the build status turn red. Besides the "crap, something failed again" this also prevents you from seeing that building is still in progress unless you open the PR page.

Eh, it works but it's slightly annoying. And I'm not sure what value it

[2017-10-20 12:25] 4creators commented on #14605
It is fixed in #14578 since CL parallelism control is moved to CMake script. Actually I have verified that NumberOfEnabledCore value never returns any value on VM guest so this is really a problem - it is undoceumented in MSDN/docs as well.

[2017-10-20 12:36] svick commented on #14593
Would it help if the bot set the status to "in progres" (yellow) instead of error (red)?

[2017-10-20 12:38] mikedn commented on #14593
I don't know. As mentioned above, I'm not sure what problem the bot is supposed to solve.

[2017-10-20 13:32] adiaaida commented on #14581
I can, yes.

[2017-10-20 13:38] adiaaida commented on #14581
Also note that the changes to revert #14554 isn't going to change anything for official builds. It only applies to ci builds/testing.

[2017-10-20 15:23] benaadams opened #14615 "[Jit x86] Strange property inlining (Desktop CLR v4.7.2053.00)"
Moving the property `Value` below the method `RaiseValue` stops it being inlined

Live example available on [sharplab.io](https://sharplab.io/#v2:C4LghgzgtgPglgO2AUwE4LAGwAQAEBM2AsssABYD2AJgELKYUDuAsAFADeb232ADqnABuYFNioUArgCNMybAH1hmCcgDcbLj1wBmYqUq16TABTjps7EoCUm7p1Y9H2cnAgA6AGpYV2ALyWsdQceAF8NYO4dMUkZOS9lZFtseyceAHNSPwA+BSUVINTuCEzfHMVvOX88tSSw1iSo3AAWbAAlMFdkeJVTGIteNABjZCQwDJsI5KTHF3duuQBqf3n

[2017-10-20 15:38] sharwell commented on #14593
It helps prevent accidental merges of a pull request marked as "is progress".

[2017-10-20 15:43] tmds commented on #14327
@brianrob @janvorli I will try to implement some of these changes (without the inlining) next week.

[2017-10-20 15:52] jkotas commented on #14593
How does it prevent that?

[2017-10-20 15:57] AndyAyersMS commented on #8542
Tried setting the threshold to 128 and 256. The latter gets a few more cases but we also start to see code size regressions because of larger stack offsets.

This optimization often allows RSP based addressing for locals in methods that were using RBP based addressing before. The potential downside is that if the stackalloc local ends up closer to RSP than the other locals then their offsets grow,

[2017-10-20 16:15] sharwell commented on #14593
It only blocks merges if it's set as required check for the target protected branch. Also, if you are an administrator then you can override the requirement, but administrators already know that they are in a position to break everything if they make a mistake.

[2017-10-20 16:44] AndyAyersMS commented on #8542
Looks like over in `lvaAssignVirtualFrameOffsetsToLocals` we could indeed influence frame layout, as the locals introduced by stackalloc conversion are marked as "unsafe buffers" (since they're accssed via pointer math), however there are lots of other considerations that feed into layout. Given the smallish number of > 32 byte fixed offsets perhaps it's best to just keep with 32 for now.

[2017-10-20 16:56] BruceForstall commented on #14615
@dotnet/jit-contrib

[2017-10-20 17:09] BruceForstall opened #14617 "[RyuJIT/arm32] Assertion failed 'tgtReg != tmpReg'"
This seems like a recent regression.

[code]

Tests:
[code]

[2017-10-20 17:09] BruceForstall commented on #14617
@dotnet/arm32-contrib @CarolEidt

[2017-10-20 17:12] BruceForstall opened #14618 "[RyuJIT/arm32] Assertion failed 'recentAssignedRefWeight == farthestRefPosWeight'"
This is a recent regression.

[code]

Test:
[code]

[2017-10-20 17:12] BruceForstall commented on #14618
@dotnet/arm32-contrib @CarolEidt

[2017-10-20 17:17] terrajobst commented on #14593
@svick

That is actually a really good idea. I'll try to find the repo for the bot and suggest that.

@jkotas @mikedn

The idea of the bot is to use the GitHub status API to centralize the prerequisites into a single piece of the page. "WIP" is a common convention. However, in larger PRs the title is often overlooked and so are the labels.

[2017-10-20 17:24] MichalStrehovsky commented on #14593
@terrajobst How common is it that a PR marked WIP gets merged by accident? For the CoreRT repo, I can with certainty say that never happened - so just curious about the experience in other repos.

[2017-10-20 17:26] terrajobst commented on #14593
@MichalStrehovsky

I'm not trying to defend the bot. I've asked on our .NET OSS admin team alias whether we should be using this because it seems like a good idea. I've heard the documentation team loves this bot. The bot is supposed to make the repo maintainer's life simpler. If it's in the way, we should just disable it.

[2017-10-20 18:01] mikedn commented on #14593
Funnily enough, some of my PRs were merged with a WIP title. But not by accident. The team reviewed them, we agreed that they can be merged and then they did not wait for me to update the title. I just can't imagine a PR being merged without proper review, unless someone clicks the merge button (I assume there is a button, I've never seen the PR merge UI) by accident.

That sounds fine to me. Sign

[2017-10-20 18:11] CarolEidt commented on #14618
Yes, this is a regression from my refactor checkin. I believe I have a fix.

[2017-10-20 18:20] #14591 closed

[2017-10-20 18:22] CarolEidt commented on #14607
@sdmaclea also commented on #14606:

CALLEE_TRASH & ~ CALLEE_TRASH_NOGC
CALLEE_TRASH_NOGC
RBM_CALLEE_SAVED

[2017-10-20 18:32] #14375 closed

[2017-10-20 19:10] benaadams commented on #14581
https://github.com/dotnet/coreclr/pull/14622

[2017-10-20 19:20] brianrob commented on #14327
Thanks @tmds.  Let me know if you have any questions.

@janvorli, I don't think that it can unless they are part of the same module.  I'm not 100% sure on LLVM, but I know this is not possible with VC++.

[2017-10-20 19:33] alexandrnikitin commented on #14615
It seems it's not actual for the latest CoreCLR x86 and x64 (checked  85819d322a72636eb65128aa2e5dfedc8843e073). I got the following asm code for both classes:
[code]
I posted full JIT Dumps of x86 and x64 [to this gist](https://gist.github.com/alexandrnikitin/2a1a8d345c68d6557330b186c0a326cb)

[2017-10-20 19:56] BruceForstall commented on #11838
@sjsinju Are you still looking at this?

[2017-10-20 19:59] BruceForstall commented on #13828
@hseok-oh What else is left to implement (if anything)?

[2017-10-20 19:59] CarolEidt opened #14624 "[RyuJIT/arm32][JitStressRegs=8] Assertion failed 'refPosition->isFixedRegRef || (refPosition->nextRefPosition != nullptr && refPosition->nextRefPosition->isFixedRegRef)'"
There are a number of these failures in arm altjit jitstressregs=8, due to my refactoring checkin.

[2017-10-20 20:00] BruceForstall commented on #13752
@sjsinju Are you still looking at this?

[2017-10-20 20:21] sdmaclea opened #14626 "[Arm64] Tests still failing on tip"
[code]

Tests are failing with SEG Fault or
[code]

Many of these were also failing on #14591 and may still be related to LSRA refactoring.

Symptoms also lead me to suspect GCInfo is broken.

@dotnet/arm64-contrib @dotnet/jit-contrib

Tested version ae991c3a60

[2017-10-20 20:29] vancem commented on #14327
Ideally we have a model where the LTTng logging system will call back into the runtime when it issues 'commands' (state changes).  That allows the runtime to create a local data structure that knows how to filter at least in the common cases.

Even if LTTng does not support this, we can 'fake it' by doing polling at some interval (e.g. every GC, if one has not happened in the last second), until t

[2017-10-20 20:46] brianrob commented on #14327
Thanks @vancem.  Agreed.  We should look into working on the prototype that @compudj did to allow callbacks into the application when starting tracing.

@compudj, one thing that would be needed in order to make this work would be callbacks on both start and stop.  Do you think this is a reasonable extension of the prototype that you did for the StateDumpOnStart notifiers?

[2017-10-20 20:47] brianrob commented on #14327
Also, @compudj thanks for confirming my understanding of do_tracepoint.

[2017-10-20 22:30] sdmaclea commented on #14332
I have uploaded most of my work in progress.  The code is in relatively good shape, but it is getting unmanageable to keep it all from being checked in.  While all tests are not passing, I believe some of the code can be checked in because most of it is disabled by FEATURE_SIMD (directly or indirectly via varTypeIsSIMD).

I would appreciate a review.

Of the 116 SIMD tests, most are still failing.

[2017-10-20 22:33] sdmaclea commented on #14332
If anyone is interested, I have uploaded my working tree here

https://github.com/sdmaclea/coreclr/tree/PR-ARM64-SIMD-WIP

[2017-10-20 23:31] #14544 closed

[2017-10-20 23:56] terrajobst commented on #14593
I'm happy to remove the bot. We can't improve it ourselves as we don't own it but I filed the issue against the community project.

@jkotas You effectively own this repo. It's your call: I can just disable the WIP bot here or we can leave it as-is until and reconfigure the bot, assuming the bot gets the feature allowing us to set the status to orange.

[2017-10-21 02:41] benaadams commented on #14581
Don't think its PGO, reversed for Centos, the reversed the whole PR and Centos still fails in the same way https://github.com/dotnet/coreclr/pull/14622

[2017-10-21 02:54] jkotas commented on #14581
The change was in the CI script. Changes in the CI scripts are not picked up for the PR that contains them ...

[2017-10-21 02:57] benaadams commented on #14581
:-o

Well is a PR waiting then; can back out last commit that moved from Centos to all linuxes?

[2017-10-21 03:05] jkotas commented on #14581
Let's see whether the full revert will fix the problem. We can then tweak the conditions to be more specific.

[2017-10-21 04:16] #14617 closed

[2017-10-21 04:16] #14618 closed

[2017-10-21 04:41] noahfalk commented on #445
FYI I've got a PR out to update the status page: #14644

Separately, I haven't found a good way to create a group that could be used in @ mentions unless all the people belong to the same organization, but it does seem like there was interest in the general idea above. Does anyone have a good suggestion about how to construct something? Currently my best thought would be to create an issue that is

[2017-10-21 04:48] jaredcnance commented on #445
Makes sense. If the goal is an announcements page, I would recommend locking the issue to prevent unofficial conversation. It's similar to the main announcements repo: https://github.com/dotnet/announcements

which may even be a better place for it, I don't know.

[2017-10-21 15:07] #14301 closed

[2017-10-21 15:09] jkotas commented on #14593
@terrajobst Could you please disable the bot for https://github.com/dotnet/coreclr/ and https://github.com/dotnet/corert/ repos? I do not think it adds value for these repos.

[2017-10-21 15:09] BruceForstall commented on #13882
@jashook Is this something you are still looking at, or is it poachable? It's the only arm64 minopts failure right now (probably due to the x64 fallback JIT).

[2017-10-22 08:09] Joe4evr commented on #14517
@svick The main problem with `UserSerializerAttribute<TSerializer>()` is that attributes can't be generic (at this time).

[2017-10-22 10:32] #13081 closed

[2017-10-22 11:16] svick commented on #14517
@Joe4evr Then I think this proposal is a very big hammer for such a small nail, especially since https://github.com/dotnet/csharplang/issues/124 is a championed issue, so there's a decent chance it's going to be implemented.

[2017-10-22 12:06] Joe4evr commented on #14517
Yep, that's why I said "at this time", because I have the same use-case as here posted in that issue. ;)

[2017-10-23 01:33] hseok-oh commented on #13828
@BruceForstall Remain implementation to enable fast tail call is `fgCanFastTailCall` on morphing phase check callee can optimize using fast tail call. I'll update PR #14056 for this.

[2017-10-23 01:51] #13479 closed

[2017-10-23 10:32] hqueue commented on #11838
@BruceForstall @sjsinju is out-of-office until the first week of Nov.

[2017-10-23 12:37] janvorli commented on #14327
@brianrob I am not sure I understand. PAL is part of libcoreclr.so, so the stuff from PAL and the runtime form one module.

[2017-10-23 14:39] janvorli commented on #14581
I've experimentally installed clang 3.9 from an unofficial source and the unwind info was present even with PGO enabled. So it is clearly a problem of how we build the clang 3.9 compiler for CentOS 7. I suspect the `LLVM_ENABLE_EH` build option that we don't explicitly set and it is set to false by default, but it is just a quick idea. I'm still looking into it.

[2017-10-23 15:42] #14339 closed

[2017-10-23 15:47] brianrob commented on #14327
@janvorli, you're right, they do form one module.  However, they are produced from two libs, right?  One for the VM and one for the PAL.  The calls cross the VM --> PAL boundary, and so they are declared as extern functions.  To my knowledge, extern functions can be called from outside the lib, but they cannot be inlined into another lib.

[2017-10-23 17:00] jashook commented on #13882
I have a fix untested which I should get cycles to do today. So it is probably worth waiting :)

[2017-10-23 18:30] fiigii commented on #8089
This issue is fixed by https://github.com/dotnet/coreclr/pull/14456 on CoreCLR.

[2017-10-23 19:07] janvorli opened #14659 "Refactor build scripts to have common code in a common script file"
Currently, the build.sh, init-tools.sh, build-packages.sh and build-test.sh contains copies of the same code e.g. for host rid detection. We should move the shared code to a shared shell script file so that we have just one copy of that code.
Later on, it would be ideal to share that code even between all of our repos.

[2017-10-23 19:07] janvorli commented on #14659
cc: @eerhardt

[2017-10-23 21:33] fiigii commented on #12940
@AndyAyersMS As I understand, the first step should be folding addressing mode of `PREPARE_EXTERNAL_VAR` into the subsequent instructions, which avoids killing `rax` in Unix implementations. Then we can modify the computing kill set code in LSRA and codgen. Is it right? If yes, could you assign this to me?

[2017-10-23 22:10] janvorli commented on #12940
@AndyAyersMS, @fiigii we cannot fold the addressing mode as you've suggest.
The `PREPARE_EXTERNAL_VAR` is defined as:
[code]
So the
[code]
is
[code]
As you can see, there is one more indirection than you've expected. The address of the
g_lowest_address is stored at rip relative address, not its value.

[2017-10-23 22:19] AndyAyersMS commented on #12940
Hmm, that's too bad. What is it that leads to this extra indirection? Some artifact of PIC?

[2017-10-23 22:32] jkotas commented on #12940
It is PIC in combination with compiling with default visibility. https://github.com/dotnet/coreclr/issues/2484 talks about fixing it.

It was fixed it in CoreRT and seem to be working great there. You can see that the WriteBarriers in CoreRT do not have the extra indirections: https://github.com/dotnet/corert/blob/master/src/Native/Runtime/amd64/WriteBarriers.S

[2017-10-23 22:57] AndyAyersMS commented on #12940
@fiigii seems like this is still possible. Still want to give it a try?

I would focus on the runtime side first, the jit part may be somewhat involved. @BruceForstall  has more context on how call kill sets are modeled.

It doesn't look like I can assign this to you myself...maybe somebody else has that ability.

[2017-10-23 23:00] fiigii commented on #12940
Of course. Will try to port @jkotas 's visibility change to CoreCLR at first.

[2017-10-23 23:15] jkotas commented on #12940
@fiigii I have sent you collaborator invite for CoreCLR so the issue can get assigned to you. Once you accept, make sure to unwatch CoreCLR repo - the git notifications will spam your email otherwise.

[2017-10-23 23:15] janvorli commented on #12940
@fiigii I have already spent some time trying to make the visibility change for CoreCLR in the past and I have the changes in my private branch. I believe I have that almost complete. You can check the last 4 commits here: https://github.com/janvorli/coreclr/commits/use-hidden-visibility-as-default-2 if you are interested.
I have done some testing with that change and I was not seeing the benefits

[2017-10-23 23:20] fiigii commented on #12940
Thank you for the reminder 😄 , I did.

[2017-10-23 23:22] fiigii commented on #12940
@janvorli I will investigate into your code. Thank you so much!

[2017-10-24 06:30] YongseopKim commented on #14551
@BruceForstall I used `export COMPlus_JitStressRegs=8` and the result is that the tc passed

[code]

[code]

It also passed if coreoverlay's clr is built with release mode.

[2017-10-24 06:37] YongseopKim commented on #14542
On linux/arm32,
[code]
It is also affected by https://github.com/dotnet/coreclr/issues/14567 like #14549 .

[code]

[2017-10-24 06:46] YongseopKim commented on #14546
Different assert failure on linux/arm32

[code]

[code]

[2017-10-24 06:50] YongseopKim opened #14665 "[RyuJIT/ARM32] Assertion failed '(op2 == idx) || (op2->gtEffectiveVal() == idx)'"
tests
- System.Numerics.Vectors.Tests

env
[code]

[code]

[2017-10-24 06:50] YongseopKim commented on #14665
/cc @dotnet/arm32-contrib

[2017-10-24 06:52] YongseopKim commented on #14665
@BruceForstall could you assign this to me?

[2017-10-24 07:16] hseok-oh opened #14666 "[RyuJIT/ARM32] [JitNoInline=1] Test fail: JIT.Regression.Dev11.External.dev11_27971.UninitializedHighWord"
On RyuJIT/ARM32 Linux environment,

JIT.Regression.Dev11.External.dev11_27971.UninitializedHighWord with JitNoInline

[code]

[code]

@dotnet/arm32-contrib

[2017-10-24 10:04] hqueue commented on #14666
FYI. In `Release` and `Checked` build,  same failure observed with only `COMPlus_AltJit=*`.

[2017-10-24 11:22] dlandi commented on #2193
Any progress on this?

[2017-10-24 13:57] philippweidhas commented on #9265
@parjong @ryukinix i could succesfully build coreclr for x86 but im struggling to build Core FX with:

sudo apt-get install debootstrap
sudo apt-get install qemu-user-static
sudo ./cross/build-rootfs.sh x86
sudo apt-get install cmake
sudo apt-get install clang-3.8 lldb-3.8
./build.sh cross x86 skipnuget debug cmakeargs "-DSKIP_LLDBPLUGIN=true" clang3.8

do i have to build the CoreFX project on ano

[2017-10-24 16:04] myarichuk opened #14672 "In certain cases, IEnumerator::MoveNext() throws System.InvalidProgramException"
Reproduction of this exception is in the following **gist**:
https://gist.github.com/myarichuk/db2a290ec8ae5ea0faf2698b0c5b02c2

In this case, **InvalidProgramException** exception is thrown when the anonymous object in in the **Map_0()** function has more than 43 fields.

The code in the **gist** runs fine in a .Net 4.7 project.

[2017-10-24 16:14] AndyAyersMS commented on #14615
First impression is that this is probably related to the use of `PrepareMethod` to force jitting. Let me dig in a bit more.

[2017-10-24 17:08] 0xd4d commented on #14672
It only crashes if it's run as a 64-bit process. It' doesn't matter if it's .NET Core 2.0 or .NET Framework 4.7.1.

[2017-10-24 17:38] mikedn commented on #14672
The exception originates in this JIT code:
https://github.com/dotnet/coreclr/blob/15e1472aab7ed42dafde0331ed6cece465a0763d/src/jit/emit.cpp#L567-L582

I haven't checked yet the IL but it looks like a method contains a large number of locals. Or the JIT generates a ton of locals when importing it...

[2017-10-24 17:53] AndyAyersMS commented on #14672
Maybe related to #12480?

[2017-10-24 18:04] mikedn commented on #14672
Yup, it looks very similar. The IL method has only 4 locals but the IL code itself contains an unfortunate pattern - load a bunch of stuff onto the stack and then branch. The net result - an avalanche of spill temps.

[2017-10-24 18:16] MkazemAkhgary opened #14675 "[Proposal] Catch StackOverflow with special attribute"
Originally posted at : https://github.com/dotnet/roslyn/issues/22829#issuecomment-339082122

**Proposal**

Why make it hard for users to deal with SO?

Some methods are prone to SO exception, not by infinite recursive, but simply because recursion becomes too deep, some times `stackalloc` can cause this exception too.

attaching special attribute should make this possible and user is aware of perf

[2017-10-24 18:40] janvorli commented on #14581
That was a red herring. The clang 3.9 I got from the unofficial source doesn't support PGO and so that's the reason why it "worked".
But I have finally found the real reason. The ld.gold linker version installed on the CentOS 7 was outdated. Updating it fixed the problem. So I will update the CentOS 7 docker image to fix the issue.

[2017-10-24 18:54] mikedn commented on #14672
Some numbers:
lva count = 56129
bb count = 2194
il size = 68941
dynamic call sites = 858

I suppose it would be nice for the JIT to handle such a monster but the code is as horrible as it gets. Hopefully the sample code is just that, sample code, and not actual production code.

[2017-10-24 19:06] AndyAyersMS commented on #14615
Invoking `PrepareMethod` on a given method marks that method as not inlinable. So the results of jit codegen when using `PrepareMethod` are highly order-dependent. If you jit callees before callers, no inlining will happen; if you jit callers before callees, the jit will use its inlining heuristics.

Method enumeration order seen via reflection likely reflects declaration order or something simila

[2017-10-24 19:26] myarichuk commented on #14672
The sample code came from an index compiled by RavenDB 4.0 - it is part of an issue investigation here - http://issues.hibernatingrhinos.com/issue/RavenDB-9040

The code that I wrote in the sample is what came out from index compiler (which uses Roslyn)
(index compiler code can be seen here: https://github.com/ravendb/ravendb/blob/v4.0/src/Raven.Server/Documents/Indexes/Static/IndexCompiler.cs)

I

[2017-10-24 19:38] myarichuk commented on #14672
@0xd4d you are right - since I tested that on AnyCpu, haven't noticed that.

[2017-10-24 19:42] benaadams commented on #14615
So its from the observation rather than what would happen at runtime?

[2017-10-24 19:46] ayende commented on #14672
@mikedn the code is something that went through multiple translation stages to get where it did.
The actual originating code isn't too hot either, though much simpler.

[2017-10-24 19:47] 4creators commented on #14659
This same is true for cmd scripts: build.cmd, build-test.cmd, run.cmd, init-tools.cmd and tests\runtest.cmd all have duplicated functionality. Perhaps it would be good to do the same for windows scripts as well.

[2017-10-24 20:09] szehetner commented on #14615
That's bad news for an analysis tool that can't actually run the code.

If I remember correctly ngen places the native assembly into the global Native Image Cache (which I wouldn't touch for that purpose) and crossgen is CoreCLR only.

If I use PrepareMethod for a single method only, which would then always be the caller and guaranteed to be the first method jitted, I shouldn't hit this ordering i

[2017-10-24 20:11] AndyAyersMS commented on #14615
`PrepareMethod` tunnels down into the runtime, and the in runtime marks the method being prepared as noinline before invoking the jit. So it's an artifact of how `PrepareMethod` is implemented.

Why the method is marked this way by `PrepareMethod` is less obvious. There is this comment in the code. My guess is that in a CER, if we end up jitting, we prefer not to inline a method if it's already be

[2017-10-24 20:26] mikedn commented on #14672
The actual originating code isn't too hot either, though much simpler.

Presumably moving `doc.NumVals.ContainsKey("Value001") && doc.NumVals["Value001"] != null ? (doc.NumVals["Value001"]).Value1 : ((double?)null),` to a `double? GetValue(dynamic values, string name)` isn't an option?

Yep, works on x86 and requires over 200 kbytes of stack :)

[2017-10-24 20:29] AndyAyersMS commented on #14615
@szehetner I don't know of any other downsides to `PrepareMethod` as far as jitted code is concerned, though there may be some.

A couple of thoughts on how you can get reasonable results:

First, if you're willing to do a two-pass algorithm you can prescan all method IL in your target method range and build up a call graph fragment for those methods. Then call `PrepareMethod` in a top-down fashio

[2017-10-24 20:35] AndyAyersMS commented on #14672
Also it may be that disabling CSC's optimizer here (assuming it is on) will lessen CSC's appetite for pending things on the eval stack across branches.

[2017-10-24 20:37] jkotas commented on #14659
FWIW, CoreRT solved this problem by having the common setup in https://github.com/dotnet/corert/blob/master/buildscripts/buildvars-setup.cmd

[2017-10-24 20:38] ayende commented on #14672
How do I do that?

[2017-10-24 20:40] mikedn commented on #14672
Tried, no effect. It's quite possible that the CSC optimizer isn't involved in this, that's just how CSC generates dynamic callsites.

[2017-10-24 20:57] szehetner commented on #14615
I would like to avoid calling the methods, as they could contain any number of unwanted side effects. E.g. a DeleteCurrentDirectory() helper method doesn't sound safe to invoke for analysis and the user may not even be aware that his code is executed.

The call graph sounds like a good compromise though. I anyway build such a graph from the jit ETW events, i could use that for a second pass in a n

[2017-10-24 21:00] AndyAyersMS commented on #14213
I have a prototype of this in the works, see [master...AndyAyersMS:DevirtUnboxStub](https://github.com/dotnet/coreclr/compare/master...AndyAyersMS:DevirtUnboxStub?expand=1). It should be able to remove the box but will still need to make a local copy of the value class, since the jit does not know if the target method will modify the value class or not.

Even when the target method is then inlined

[2017-10-24 21:03] stephentoub commented on #14213
Thanks, Andy.  That's great, and should address my case.  If it can subsequently be made to eliminate the copy when inlined, all the better, but not having that won't block me.

[2017-10-24 22:24] #14562 closed

[2017-10-24 22:24] #14567 closed

[2017-10-24 22:28] stephentoub commented on #14213
@AndyAyersMS, this is essentially the change I'd like to be able to make:
https://github.com/stephentoub/coreclr/commit/bd1003c25f8a06be0b6b1bb739ecc15c38498f95

[2017-10-24 22:37] bagzli opened #14680 "AppDomain.CurrentDomain.GetAssemblies() Problem"
Hello,

I am using the function `AppDomain.CurrentDomain.GetAssemblies()` to load all the assemblies that are in my project. Based on that I have further logic to do some stuff which is not important for purpose of this problem.

I call this in Startup class under ConfigureServices method. I have a nuget package added to my project called MyProject.Email (1.0.0). When I debug and look at the list

[2017-10-24 23:04] masonwheeler opened #14681 "[Proposal] Provide a "logical stacktrace" when assemblies fail to load."
We've all had it happen.  We go to load a program, or load an assembly into our program, and it fails with an "assembly not found" error on some assembly we didn't ask for, that doesn't look at first glance like it has anything to do with what we're trying to load.  Generally it's a dependency of a dependency of a dependency of a dependency of what we actually care about, and the actual problem to

[2017-10-24 23:13] bagzli opened #14682 "Assembly.GetTypes() will crash if referencing assembly is not found"
Please consider the following:

I have three dlls:

- Common.dll
- Error.dll
- Email.dll

Email.dll References Common.dll (1.0.0)
Error.dll References Common.dll (1.0.2)

For argument sake, we will say there are no code differences between these 2 versions. Also, the assembly version and assembly file version is 1.0.0.0 in both versions of Common.dll

The main project that calls both Email and Err

[2017-10-24 23:16] AndyAyersMS commented on #14213
Had something like that in my fork AndyAyersMS/coreclr@435eb72.

Looking at diffs now....

[2017-10-24 23:28] CarolEidt commented on #14626
@sdmaclea - I have examined the code diffs for one of those tests, and the only source of diffs was the change to use IP0 and IP1. I have a PR #14677 to basically revert that change (though we must allow for the case where the register turns up in `allocateBusyReg()` because it is the candidate register for a fast tail call target). If this addresses the issue, we have issue #14607 to figure out w

[2017-10-24 23:41] sandreenko commented on #14376
I checked many commits but I can't repro this issue. Do you know the git hash that can repro it?

[2017-10-24 23:59] CarolEidt commented on #14492
@AndyAyersMS sorry for the delay. I don't think you're missing anything. It has previously been pointed out that the order in which the branches are considered is unspecified (and this can also impact the type of class objects sitting on the stack, not just integers). When this issue has come up before, the conclusion has been that there is no good way to tighten this up without changing existing

[2017-10-25 01:22] YongseopKim commented on #14542
With d780f9a1327344bfc8e06737497b703cdbfba804, the tc passes on linux/arm32.

[code]

[2017-10-25 01:48] YongseopKim commented on #14549
With d780f9a1327344bfc8e06737497b703cdbfba804, the tc passes on linux/arm32.

[code]

[2017-10-25 02:54] jkotas commented on #14680
`AppDomain.CurrentDomain.GetAssemblies()` does not load any assemblies. It will only return assemblies that are loaded already. https://docs.microsoft.com/en-us/dotnet/api/system.appdomain.getassemblies?view=netcore-2.0#System_AppDomain_GetAssemblies

[2017-10-25 03:26] jkotas commented on #14680
To enumerate all assemblies that the app is composed from, look at `Microsoft.Extensions.DependencyModel`.  E.g. `foreach (var l in Microsoft.Extensions.DependencyModel.DependencyContext.Default.RuntimeLibraries) Console.WriteLine(l.Name);` will print names of all assemblies that the app is composed from. However, loading all assemblies that the app is composed from tends to scale poorly with size

[2017-10-25 03:27] #14680 closed

[2017-10-25 03:29] jkotas commented on #14682
Can you provide a project with a simple repro of the problem? You are most likely trying to load multiple copies of the same assembly into the default context - it does not work by design.

[2017-10-25 03:37] jkotas commented on #14681
Related to https://github.com/dotnet/coreclr/issues/8302

[2017-10-25 03:38] jkotas commented on #14675
@MkazemAkhgary How would you propose to implement this? The hard part about stack overflow handling is to ensure that there is enough stack left to run the handler.

[2017-10-25 03:40] jkotas commented on #14672
Duplicate of https://github.com/dotnet/coreclr/issues/14103

[2017-10-25 03:44] jkotas commented on #10753
@janvorli has done it as https://github.com/dotnet/coreclr/pull/14389

[2017-10-25 03:44] #10753 closed

[2017-10-25 03:47] #11012 closed

[2017-10-25 03:49] jkotas commented on #11760
LoadModule is used to load multi-module assemblies. Multi-module assemblies are not supported by .NET Core.

[2017-10-25 03:49] #11760 closed

[2017-10-25 03:50] Petermarcu commented on #10753
I was talking to some folks in ASP.NET and in some cases, even though the assemblies are crossgen'd they want to enable an application to opt certain sets of assemblies into JIT'ing mode to ensure throughput is what is being optimized for over startup. I'm trying to figure out what a natural gesture might be to opt a certain set (a metapackage maybe) out of R2R.

[2017-10-25 03:53] bendono commented on #14675
Are you able to handle these cases? Other than logging, I can't think of any reasonable way to handle such cases, which indicates crashing is preferable. A concrete example would be useful for discussion.

[2017-10-25 03:56] jkotas commented on #13168
https://github.com/dotnet/cli/blob/master/Documentation/specs/runtime-configuration-file.md

That's the way to do this in .NET Core. There is no declarative mechanism to compensate for packaging errors.

[2017-10-25 03:56] #13168 closed

[2017-10-25 03:57] #13996 closed

[2017-10-25 03:58] #11498 closed

[2017-10-25 04:02] jkotas commented on #11498
Also see https://github.com/dotnet/core-setup/pull/2717#issuecomment-310539999

[2017-10-25 04:04] jkotas commented on #13778
I cannot think of any.

[2017-10-25 04:04] #13778 closed

[2017-10-25 04:17] jkotas commented on #10753
You can set `COMPlus_ReadyToRunExcludeList` to the list of simple names to not use R2R for.

[2017-10-25 06:15] MkazemAkhgary commented on #14675
[Here is the actual problem that I had](https://github.com/dotnet/csharplang/issues/1040#issuecomment-339159749). and it led me to thing about this issue too. ([and this one too.](https://github.com/dotnet/roslyn/issues/22825#issuecomment-339172919))

[2017-10-25 06:31] MkazemAkhgary commented on #14675
@jkotas if stack size is 1MB, then you will have `N` extra space preserved. I cant say how much `N` would be, that's out of my knowledge. cant this size be dynamic after all? I guess in lower level not everything is same as I think so.

Another proposal is to pop every thing from top of stack (and all information will be lost, only user knows that exception happened somewhere.), a little informati

[2017-10-25 08:21] janvorli commented on #14581
@mikem8361, @mmitche we need to update the binutils on the CentOS 7.1 that we use for building coreclr in CI. I have first thought we use the docker image I have created, but that one seems to already have the more recent binutils 2.25.1 that work fine. So I assume that we are using a CentOS 7.1 VM in the CI, right?

[2017-10-25 09:05] hseok-oh commented on #14666
I'll check this bug

[2017-10-25 09:11] benaadams opened #14686 "JENKINS-19022: warning: possible memory leak due to Git plugin usage"
Warning in CI Logs

JENKINS-19022: warning: possible memory leak due to Git plugin usage;
see: https://wiki.jenkins-ci.org/display/JENKINS/Remove+Git+Plugin+BuildsByBranch+BuildData

01:20:22  > git fetch --tags --progress https://github.com/dotnet/coreclr +refs/pull/14655/*:refs/remotes/origin/pr/14655/* # timeout=90
01:20:23  > git rev-parse refs/remotes/origin/pr/14655/merge^{commit} # timeout=

[2017-10-25 09:15] tmds opened #14687 "Missing lttng jit inline success/failed events"
Program.cs:
[code]
lttng session:
[code]
complete babeltrace log:
[code]

These 6 DotNETRuntime:MethodJitInliningFailed are all for dynamicClass.IL_STUB_UnboxingStub.
I was expecting events for console.Program.Inlined and console.Program.NotInlined. Probably there should be more events.

Perhaps events are not flushed on application shutdown?

CC @brianrob @vancem

[2017-10-25 09:18] benaadams opened #14688 "CI Failures: OSX (fatal: unable to write new index file)"
[code]

[2017-10-25 09:25] benaadams opened #14689 "Many CI Perf Tests Correctness Warnings: about targeting .NETFramework,Version=v4.0"
Build **Windows_NT x64 full_opt ryujit CoreCLR Perf Tests Correctness**

perf_perflab_Windows_NT_x64_full_opt_ryujit_smoketest_prtest

[code]
etc

Followed by

[code]

[2017-10-25 09:34] benaadams commented on #14688
Error in https://github.com/dotnet/coreclr/pull/14684
Error in https://github.com/dotnet/coreclr/pull/14655

[2017-10-25 10:20] seanshpark commented on #9265
Could you paste what the problem(error) is?

[2017-10-25 10:35] seanshpark commented on #9265
This is how I've checked with latest master as of writing this;
[code]
These commands are from some time ago and not sure it's the latest.

[2017-10-25 10:40] ryukinix commented on #9265
I think it's better, since this issue thread is only about the development progress of x86.

[2017-10-25 12:15] iburman opened #14690 "Failed to create memory dump /mA - GenInvokeEnumStackProviders failed, 0x8007007f"
I posted this in the windbg public forum a few days ago but didn't get any reply so far. As it seems that the issue is caused by some .Net component, I'm posting it here, may be someone can help.

Below is my original post:
Trying to troubleshoot a high cpu issue and we fail to create memory dumps with windbg with the following messages:

0:000> .dump -u /mA /c HangMode  ${AdpDumpDir}\FULLDUMP_Han

[2017-10-25 12:34] Petermarcu commented on #10753
Ok, I wonder if we can have a more official feature/way of doing this where the setting is persisted with the application based on something in the users project.

[2017-10-25 13:25] mhalenar commented on #13699
hi guys, is there any plan for LXD (lxc) cgroup limits fixes?

[2017-10-25 14:20] poizan42 commented on #14675
@jkotas What are the actual issues encountered with the previous support for catching them? I'd imagine not having enough stack to run the (managed) handler means necessary cleanup would not be run - so just kill the process then. Was there complications in the native part, e.g. with avoiding the managed heap and MethodDesc's etc. to end in a corrupted stated?

[2017-10-25 14:40] jkotas commented on #14688
@dotnet/dnceng We are seeing a lot of `stderr: fatal: unable to write new index file` failures in CI

[2017-10-25 14:43] ravimeda commented on #14688
`dci-mac-build-086` that is low on disk space. Clearing up now...

[2017-10-25 14:47] jkotas commented on #10753
I do not see a reason why we cannot have it. It would be about getting the set flowing through the tooling and dotnet host - https://github.com/dotnet/cli, https://github.com/dotnet/sdk and https://github.com/dotnet/core-setup. No or very minimal changes required in the runtime.

cc @karelz

[2017-10-25 14:48] janvorli commented on #13699
@mhalenar the cgroups limits fixes already made should not be specific to docker, so if it doesn't work with lxd, please let me know. Please note that the official 2.0 runtime in the released 2.0 cli doesn't contain the fix yet, so you'd need to use prerelease 2.0.3 or higher runtime to get the fix.

[2017-10-25 14:48] ravimeda commented on #14688
Started OSX job on https://github.com/dotnet/coreclr/pull/14684 and https://github.com/dotnet/coreclr/pull/14655

[2017-10-25 14:51] Petermarcu commented on #10753
Ok, I'm working with asp.net on some things that may require this. Will circle back if we need to do anything.

[2017-10-25 14:52] mmitche commented on #14581
@janvorli Not for coreclr.  For corefx, the docker container is used.

[2017-10-25 14:56] jkotas commented on #14675
It was very unreliable.

[2017-10-25 15:31] terrajobst commented on #14593
Quick update: the WIP bot no longer marks the PR as failed but as "in progress". Does this help?

I was under the impression that I can disable the bot for certain repos. Turns out that's not how GitHub works. I can either enable the bot for the entire org or explicitly add the bot to specific repos, which seems like a recipe for a maintenance disaster. I'm not opposed to doing this, but at that t

[2017-10-25 15:35] jkotas commented on #14593
I think marking it as yellow is good enough. Thanks!

[2017-10-25 15:35] #14593 closed

[2017-10-25 15:38] jkotas commented on #14675
`RuntimeHelpers.EnsureSufficientExecutionStack` is the reliable solution for handling stackoverflow that we have come up with at the end. Basically, methods that want to handle stack oveflow should to this method. Actually, it looks very similar to the attribute proposed here - just a method call vs. attribute cosmetic difference.

[2017-10-25 15:58] ravimeda commented on #14688
Both OSX jobs succeeded.

[2017-10-25 16:05] ravimeda commented on #14688
@benaadams thanks for reporting the issue. Fix https://github.com/dotnet/dotnet-ci/commit/9c6484a632e29755e15a32feda81abae12f42d75 ensures CI jobs on OSX machines will cleanup correctly so that sufficient disk space is available.

[2017-10-25 16:07] benaadams commented on #14688
Thank you!

[2017-10-25 16:07] #14688 closed

[2017-10-25 16:18] sdmaclea commented on #14626
@CarolEidt  I would expect the "test Windows arm64 cross checked and test" leg to run all those tests.

[2017-10-25 16:41] jkotas commented on #14686
cc @dotnet/dnceng

[2017-10-25 16:50] mmitche commented on #14686
@benaadams The memoryleak warning has nothing to do with the actual error.  Do have a link to the run? i suspect it's probably an out of disk space issue.  Maybe OSX.

[2017-10-25 16:53] BruceForstall commented on #14626
The current job is "Windows_NT arm64 Cross Checked Innerloop Build and Test" -- unfortunately, there is no way to trigger an arm64 pri1 test run right now. cc @jashook .

[2017-10-25 16:58] benaadams commented on #14686
I reported the failure error separately https://github.com/dotnet/coreclr/issues/14688 and it was fixed with https://github.com/dotnet/dotnet-ci/commit/9c6484a632e29755e15a32feda81abae12f42d75

[2017-10-25 17:03] mikem8361 commented on #14581
Point me at a Centos 7.1 VM and I’ll update it.

[2017-10-25 17:44] #13843 closed

[2017-10-25 17:44] jkotas commented on #13843
Fixed by #14674

[2017-10-25 19:32] sdmaclea commented on #14626
I can run it on Monday on Linux when I am back in the office.

[2017-10-25 19:45] AndyAyersMS commented on #14492
@dgrunwald, given ambiguities in the spec, the low frequency of these cases, the risk of a changes, and fact that RyuJit diverged from Jit64 in this area without causing any noticeable problems, we are unlikely to change the RyuJit's behavior.

[2017-10-25 20:15] BruceForstall commented on #13746
Fails a lot in JitStress=1, e.g.
[code]

[2017-10-25 20:18] BruceForstall commented on #14549
I see a failure with JitStress=2 with altjit on:
[code]
https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x86_arm_altjit_checked_windows_nt_jitstress2_prtest/6/consoleText

[2017-10-25 20:24] BruceForstall commented on #14624
Looks like basically all tests fail now with jitstressregs8:

https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x86_arm_altjit_checked_windows_nt_jitstressregs8_prtest/7/consoleText

[2017-10-25 20:33] sandreenko commented on #14376
Can't repro.

[2017-10-25 22:01] bagzli commented on #14682
I'll try to find some time this weekend to make a sample repo.

[2017-10-25 23:31] swgillespie opened #14701 "[Local GC] Compile without FEATURE_REDHAWK"
Accomplishing this will produce a GC largely equivalent to the one that is linked-in to `coreclr.dll` by default. Today, `clrgc.dll` compiles with `FEATURE_REDHAWK` to paper over some problems, namely:

* Use of `_ASSERTE`
* Use of `nativeoverlapped.h` in the handle table for Overlapped I/O
* Use of `S_SIZE_T`
* `Ref_InitializeHandleTableBucket` making use of `NewHolder`

Final milestone of https:

[2017-10-25 23:33] swgillespie commented on #11518
Update:

The GC does build as a shared library now and is mostly functional, pending a few bug fixes. The remaining work is to ensure that the GC can build without `FEATURE_REDHAWK` and that all diagnostics retain feature parity with a non-local GC. All of this must be done without regressing the performance or correctness of non-standalone GCs.

[2017-10-26 00:11] CarolEidt commented on #14626
That would be great. I attempted to build & run today with a loaned system, but was not successful (can't find System.Native).

[2017-10-26 08:31] tmds commented on #14327
This means you need to wait for your target platforms to have an updated lttng.
Perhaps it is possible to signal all EventSources they are enabled? And wire EventSource.IsEnabled to the tracepoint?
Currently all EventSources are mapped to the same tracepoint. Will this change? Does lttng allow to register additional tracepoints dynamically?
Do you have some thoughts on handling EventLevels?

There

[2017-10-26 09:23] YvonneArnoldus opened #14707 "Path.GetFullPath difference between Windows and Linux"
I have written some code that uses Path.GetFullPath().  I have found some different results for the same paths between Windows and Linux in my Docker image.

Windows:
input:  a\b\\..\\..\c.\ -> output: C:\code\fontoxml-sdk-schemacompiler\test\FontoXml.Server.Utils.XmlCatalog.Tests\bin\Debug\netcoreapp2.0\c\

Linux:  a/b/../../c./ -> output: /app/test/FontoXml.Server.Utils.XmlCatalog.Tests/bin/Rele

[2017-10-26 18:19] steve-todorov commented on #14444
We are also having the same issue in an OpenSUSE docker image we created for testing purposes.  Is there any progress or timeline on this?

[2017-10-26 18:22] RussKeldorph commented on #14523
@dotnet/jit-contrib

[2017-10-26 18:46] janvorli commented on #14444
I am sorry, I've missed the issue when it was created. The problem I can see in the log is that System.Globalization.Native.so is trying to load ICU libraries version 50 only while it is supposed to scan for supported versions. That is pretty strange and it looks as if the /root/publishcentos/System.Globalization.Native.so was actually from some old pre-2.0.0 version of .NET core.
To see if that's

[2017-10-26 20:36] RussKeldorph opened #14711 "ARM JIT support for "jump stamps" to support ReJIT"
ReJIT sometimes needs to replace the first bytes of a JIT-generated method's prologue with a branch to replacement code.  We need to decide what branch looks like, resulting in the minimum size of a prologue when ReJIT support is required.  Also, enable support for generating said minimum-sized prologues.

[2017-10-26 20:36] RussKeldorph commented on #14711
@dotnet/jit-contrib

[2017-10-26 20:37] RussKeldorph commented on #14711
@dotnet/arm32-contrib

[2017-10-26 20:44] Maoni0 commented on #12987
since we haven't heard back on this I will close it for now. please reopen if you believe you still need help.

[2017-10-26 20:44] #12987 closed

[2017-10-26 20:46] Maoni0 commented on #13112
@paya-cz haven't heard from you in a while. I will close the issue for now. if you still need help please re-open it.

[2017-10-26 20:47] Maoni0 commented on #13135
no further action is needed on this issue so I am closing.

[2017-10-26 20:47] #13135 closed

[2017-10-26 20:48] Maoni0 commented on #13224
@gregolsky haven't heard from you in a while. I will close the issue for now. if you still need help please re-open it.

[2017-10-26 20:48] #13224 closed

[2017-10-26 20:48] Maoni0 commented on #14387
@cicciopage haven't heard from you in a while. I will close the issue for now. if you still need help please re-open it.

[2017-10-26 20:48] #14387 closed

[2017-10-26 20:50] swgillespie commented on #11661
This doesn't repro now thanks to some Windows updates.

[2017-10-26 20:50] #11661 closed

[2017-10-26 20:54] sywhang commented on #14526
Profiler ELT hooks have been all tested on both Windows/Linux on ARM32

[2017-10-26 22:30] danmosemsft commented on #14707
Issue moved to [dotnet/corefx #24907](https://github.com/dotnet/corefx/issues/24907) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-26 22:30] #14707 closed

[2017-10-26 22:31] danmosemsft commented on #14605
@davmason can you close this then?

[2017-10-26 22:35] danmosemsft commented on #14599
I'm going to close this as it seems answered. All .NET Standard API is available on UWP now and the vast majority of it will work as expected. There are some limitations due to the platform.

[2017-10-26 22:35] #14599 closed

[2017-10-26 22:37] danmosemsft commented on #14490
@ashishnegi is this resolved for you now? If so, let's close it.

[2017-10-26 23:02] zhuman commented on #14599
I think there is still an open question of whether .NET Core should allow ICustomMarshaler on UWP or not. .NET Core appears to support it on non-UWP platforms. The conversation so far established that there may be functional differences with .NET 2.0 Standard APIs, but it's not clear what the reason is for blocking this particular API if that's intended (the other marshaler types blocked for UWP s

[2017-10-26 23:30] paya-cz commented on #13112
@Maoni0 So has this been fixed anywhere? I still observe the same bug in .NET 4.7

[2017-10-26 23:34] BruceForstall commented on #13746
I'm seeing this fail for x86_arm_altjit, with no stress modes, for
[code]

The assert is:

[code]

but I'm seeing:

[code]

When processing the CALL, it sees the PUTARG_STK, and the t3168 node child, and asserts.

The comment above says, "The `double` types have been transformed to `long` on arm". Question: what code enforces this? Should this assert just be loosened to allow for double constants?

[2017-10-27 00:18] paya-cz commented on #13112
@Maoni0 I can reproduce the bug on .NET 4.7.1 also ...

[2017-10-27 00:28] paya-cz commented on #13135
After I installed .NET 4.7.1, I can no longer reproduce the bug. Seems to be fixed, even when targeting the older frameworks.

[2017-10-27 02:46] Maoni0 commented on #13112
@paya-cz sorry I should have mentioned - it was too late for 4.7.1 so it will be in 4.7.2. I should check in the fix to coreclr too. I will do that very soon.

[2017-10-27 04:38] Maoni0 commented on #13112
oh and I will leave this open for the core checkin.

[2017-10-27 07:06] rartemev commented on #13993
Implemented in #14713

[2017-10-27 07:06] #13993 closed

[2017-10-27 13:05] CarolEidt commented on #14624
This (at least the first few that I checked) were actually asserting in the x86 compilation.

[2017-10-27 13:30] tmds commented on #14687
@vancem ok, probably lttng is then not the issue here. Why would the jit not emit either DotNETRuntime:MethodJitInliningFailed or DotNETRuntime:MethodJitInliningSucceeded for the methods?

[2017-10-27 13:31] jkotas commented on #14007
Fixed in https://blogs.msdn.microsoft.com/dotnet/2017/10/17/announcing-the-net-framework-4-7-1/

[2017-10-27 13:31] #14007 closed

[2017-10-27 13:40] #5155 closed

[2017-10-27 13:43] jkotas commented on #14675
Duplicate of https://github.com/dotnet/coreclr/issues/652

[2017-10-27 13:43] #14675 closed

[2017-10-27 13:46] jkotas commented on #4756
Fixed by #4786

[2017-10-27 13:46] #4756 closed

[2017-10-27 13:56] steve-todorov commented on #14444
@janvorli sure, I've created a gist with a `strace.log` and also the `Dockerfile` we're using to build the docker image. Hope that helps. Let me know if you need anything more.

[2017-10-27 16:35] Petermarcu opened #14720 "How to debug StackOverflowException"
@Daniel15 commented on [Wed Oct 25 2017](https://github.com/dotnet/core/issues/1047)

I'm getting this error while moving a site from ASP.NET Core 1.1 on Mono to ASP.NET Core 2.0 on .NET Core 2.0:
[code]

How do I get a full stack trace for the `StackOverflowException` to determine where it's coming from?

[2017-10-27 16:42] janvorli commented on #14444
@steve-todorov thanks for the trace and dockerfile, it reveals the problem. You are installing ICU package that is not usable by dotnet core. The minimum version that can work with our stuff is version 50.1, you are installing version 42.1. Please note that the version has nothing to do with suse version, it is just a coincidence.
In dotnet version 1.0.3, the ICU version is fixed to the version of

[2017-10-27 17:10] vancem commented on #14687
My main point is that if you are suspicious of the logging system doing something wrong, you need to be very certain that the events are being emitted.     At this point I am not saying the JIT is not emitting the events, I merely point out it is a possibility.  I certainly can imagine that the JIT does not attempt to inline EVERY method, and thus there will be many methods that it neither fails n

[2017-10-27 17:15] steve-todorov commented on #14444
@janvorli thank you very much for looking into this! I confirm that after I installed the `libicu52_1` package everything seems to be working properly now. Thanks!

[2017-10-27 17:23] janvorli commented on #14444
@steve-todorov you're welcome.

[2017-10-27 17:53] mikem8361 commented on #14581
@janvorli, I did a "yum install binutils.x86_64" which installed version "2.25.1-32.base.el7_4.1". Is that good enough?

[2017-10-27 17:55] janvorli commented on #14581
@mikem8361 thank you! Yes, that's enough.

[2017-10-27 18:28] AndyAyersMS commented on #10456
Considering this for 2.1, so changing milestone.

[2017-10-27 18:30] AndyAyersMS commented on #14174
Considering this for 2.1.

[2017-10-27 18:32] AndyAyersMS commented on #14223
Have some data that indicates that default comparers seem to predominate, so if we can speed them up a bit without slowing down the non-default comparers we may have something.

Considering this for 2.1.

[2017-10-27 18:33] AndyAyersMS commented on #14441
Should fix this for 2.1.

[2017-10-27 18:33] AndyAyersMS commented on #14471
Considering for 2.1.

[2017-10-27 18:34] AndyAyersMS commented on #14472
Considering for 2.1.

[2017-10-27 18:34] AndyAyersMS commented on #14473
Considering for 2.1

[2017-10-27 18:35] AndyAyersMS commented on #14474
Considering for 2.1.

[2017-10-27 18:35] AndyAyersMS commented on #9066
Considering for 2.1.

[2017-10-27 18:36] AndyAyersMS commented on #11121
Considering for 2.1.

[2017-10-27 18:37] AndyAyersMS commented on #13097
Consider addressing for 2.1.

[2017-10-27 18:38] AndyAyersMS commented on #14213
PR for this is out for review: #14698.

[2017-10-27 18:39] AndyAyersMS commented on #13280
Consider for 2.1.

[2017-10-27 18:39] AndyAyersMS commented on #13589
Consider for 2.1

[2017-10-27 18:55] sywhang opened #14724 "Test ARM32 tailcalls for profiler"
Profiler ELT hooks for ARM32 tailcall has not been tested yet, because JIT optimizations for tailcall is missing on ARM32. The tailcall hook for arm32 has already been added by @rartemev with #14713, so once JIT optimizations are added in, we need to test this hook.

[2017-10-27 18:55] sywhang commented on #14724
@rartemev @davmason @lt72 FYI

[2017-10-27 19:07] AndyAyersMS commented on #14672
I looked at fixing #12480 in the jit by re-using spill temps across multiple joins, but it quickly turns into solving a general pre-import dataflow problem over the entire flow graph where we'd first need to scan the IL to figure out the stack behavior of each block. Today the jit only "solves" a constrained version of this for spill cliques.

Wonder how hard it would be to fix this in the encoder

[2017-10-27 19:19] mikedn commented on #14672
Perhaps it would better if managed compilers refrain from generating this kind of IL. Issues like this and #14492 seem to indicate that it's just too much trouble to deal with this aspect of the IL stack. And it's quite possible that managed compilers think that they're doing the JIT a favor by keeping things on the stack instead of spilling to locals...

[2017-10-27 19:58] briansull commented on #14550
Running using    `-parallel none -showprogress`

[code]

[2017-10-27 20:04] RussKeldorph commented on #1184
Windows/x86 is supported, and Linux/x86 can be tracked with arch-x86 and os-linux labels, e.g. #9265.

[2017-10-27 20:04] #1184 closed

[2017-10-27 20:18] RussKeldorph commented on #11933
In case this is still an issue, dotnet/coreclr probably isn't the best place to raise it.  @weshaggard @karelz Can you suggest better places?

[2017-10-27 20:18] #11933 closed

[2017-10-27 20:25] tmds commented on #14687
@vancem I checked with the lttng devs. I learned lttng immediately writes to a shared buffer and doesn't need to flush. I then checked with the author of https://github.com/szehetner/InliningAnalyzer and on Windows he hasn't seen a case that didn't produce a Failed/Succeeded event for a method. So my expectation is to see these events and my observation is they are not there. Can we find out why t

[2017-10-27 20:30] AndyAyersMS commented on #6844
@dotnet/jit-contrib should we re-enable Roslyn collection in the superpmi test now that this is fixed?

[2017-10-27 20:31] brianrob commented on #14687
@tmds, I'll see if I can debug this and let you know what I find.

[2017-10-27 20:54] BruceForstall commented on #6844
It wouldn't hurt, although the superpmi test collection only used Rosyln because it is large and diverse. In general, the set of superpmi test collection test assets was chosen to be "a few large tests", nothing more sophisticated than that.

[2017-10-27 21:04] vancem opened #14728 "EventSource executes deferred commands in the wrong order."
In the attached program that uses EventSource  [Program.cs.txt](https://github.com/dotnet/coreclr/files/1423398/Program.cs.txt) should emit the message 'Hey!'  but does not.

The reason is that EventSource has the concept of a 'deferred' command and these commands are executed in the wrong order (they are executed last first).    Basically if an EventListener exists before an EventSource exists, t

[2017-10-27 21:07] vancem commented on #14728
We should also add regression test for this.

[2017-10-27 21:36] AndyAyersMS commented on #7679
Seeing this happen more often lately, eg here: https://ci.dot.net/job/dotnet_coreclr/job/master/job/armel_cross_checked_tizen_prtest/86/console

[2017-10-27 22:09] 4creators commented on #14605
It should be resolved now as #14515 has been merged.

[2017-10-27 22:11] 4creators commented on #14540
Fixed with #14515

[2017-10-27 22:11] #14540 closed

[2017-10-27 22:12] 4creators commented on #14514
Closing - fixed with #14515

[2017-10-27 22:12] #14514 closed

[2017-10-27 23:40] BruceForstall commented on #13746
@hqueue Did you test on an ARM_SOFTFP / armel environment?

[2017-10-28 01:50] #14624 closed

[2017-10-28 01:53] CarolEidt opened #14732 "[RyuJIT/x86][JitStressRegs=8] Assertion failed '!nextRefPosition->RequiresRegister()'"
This is similar to #14624. It is an overly aggressive assert that needs to be loosened when the register candidates have been constrained for stress testing.
It appeared in the ARM altjit stress testing, but is actually an x86 failure.

[2017-10-28 10:11] mikedn commented on #14592
The cost of the `static readonly RandomSeed` is likely far higher than those extra moves and the null check. Without it the generated code looks like:
[code]
I wonder if this warrants turning RandomSeed into an intrinsic.

The extra moves are gone but the nullcheck is still present. There's also the pesky LEA that can't be removed due to the lack of some kind of forward propagation. Otherwise the

[2017-10-28 10:23] mikedn commented on #14592
And what do you know - the extra moves are caused by a well known importer problem:

After register allocation:
[code]
Node 77 and 91 are originally created in the importer:
[code]
In some cases the RA manages to allocate the same register to both variables involved in such an assignment and then no code is generated. But in some case different registers are allocated and we get those moves. Not s

[2017-10-28 11:00] mikedn commented on #14592
The redundant NULLCHECK is generated by morph for a `ldflda Item2`:
[code]

It's not clear why assertionprop doesn't handle this null check. It refuses to generate non-null assertions for byrefs that cannot be tracked back to an object reference but it's not readily obvious why:
https://github.com/dotnet/coreclr/blob/dff79fceb970f9b93f038edaa0016e4a18007b0d/src/jit/assertionprop.cpp#L933-L974

See

[2017-10-28 14:48] dgrunwald commented on #14492
Well, I'm looking for an explanation of how to infer IL stack types in ILSpy. I just came up with this IL code while looking for edge cases in the runtime's behavior.
It's not clear whether the single-pass logic in the spec is good enough for real-world IL code. C++/CLI-generated IL seems potentially problematic; and then of course there's obfuscators that like to re-order blocks and stuff invalid

[2017-10-28 17:09] brianrob commented on #14687
@tmds, when I run your sample with .NET Core 2.0, I get different results than you have above:

[code]

When I run these through PerfView, I get:

InliningFailed:
[code]

InliningSucceeded:

[code]

Do you get these same results with the shipped bits for .NET Core 2.0?

[2017-10-28 17:50] tmds commented on #14687
@brianrob thank you for trying this! I'm glad you are seeing these events. The result is the same with the shipped bits.

Did you manually create the lttng session? Or use the perfcollect script?

[2017-10-28 17:52] brianrob commented on #14687
I manually created the session using the same steps you used above just to make sure we were both trying the same thing.

Are you seeing missing events with a clean build of CoreCLR/master, or does the runtime contain some of your changes?

[2017-10-28 18:06] brianrob commented on #14728
@vancem, I just tried this on desktop and it does not repro.  This implies that the EventSource is fully initialized (or thinks that it is).  I will debug this to see if I can figure out where the behavior difference is.  In the meantime, I think the change in #14729 is a good thing to be doing anyway.

[2017-10-28 18:07] tmds commented on #14687
Aha. Figured out the difference.
When I run a Release build, I also get 14 events.
When I run a Debug build, I only get 6 events.

Probably this is expected behavior. I'm going to close the issue.
Thanks again for looking into this!

[2017-10-28 18:07] #14687 closed

[2017-10-28 18:16] brianrob commented on #14687
Ok, yes, I believe the JIT is less aggressive about inlining on Debug builds.

[2017-10-28 18:51] shravan2x opened #14738 "High virtual memory usage on Ubuntu 16"
_This is a cross post from https://github.com/aspnet/Home/issues/2052 and https://github.com/aspnet/KestrelHttpServer/issues/2141. I am also posting here under the recommendation of @benaadams._

I run a number of ASP .NET Core 1.1 servers on Ubuntu. This is the `htop` view of one of the processes:

![image](https://user-images.githubusercontent.com/4096676/27004803-bad831ac-4dd5-11e7-8bc0-e54871e

[2017-10-29 06:53] ashishnegi commented on #14490
Hi, I will be able to update on this thread in next 3 days.
Thanks for your support.

[2017-10-29 08:06] ashishnegi opened #14740 "Running dotnet as low priviledge process"
Hi

On our test servers, we want to run dotnet with `Network Service` account, which has low privileges.
 However, `dotnet testapp.dll` gives us `Access Denied`.

I tried setting `set DOTNET_SKIP_FIRST_TIME_EXPERIENCE=true` and `set NUGET_FALLBACK_PACKAGES=%cd%\fallback_folder` and then run `dotnet`.

This does not help.

dotnet version is `2.0.2`.

I tried `set COREHOST_TRACE=1` to see if i get a

[2017-10-29 10:54] valerysntx commented on #14740
actually You can try "Process Monitor" ([procmon](https://docs.microsoft.com/en-us/sysinternals/downloads/procmon)), it can observe file and registry usage of a particular app, producing live detailed log, that can be studied for 'Access Deny' errors

[2017-10-29 21:55] ligue commented on #13489
I confirm that our microservices deployed in AWS ECS Docker instances (.NET Core 2.0 runtimes) are affected by this.

[2017-10-29 22:25] CarolEidt commented on #14626
These two tests are passing with my PR #14677:
JIT/Methodical/Arrays/huge/_il_relhuge_struct/_il_relhuge_struct.sh
JIT/Methodical/VT/port/_il_relhuge_gcref/_il_relhuge_gcref.sh

The others (apparently pri1 tests) I am unable to test.

[2017-10-30 04:16] #14732 closed

[2017-10-30 05:52] ashishnegi commented on #14490
I see that build id is different for me :
[code]

and in `target modules list` :
[code]

`target modules list -s` does not show any libcoreclr.so.dbg.
I see one `libcoreclrtraceptprovider.so.dbg` in `target moduels list -s`. readelf shows same target id as that of `target modules list`.

so, I think my symbols are not right. This is right inference ?
Also,  I think lldb-3.9 will not be able to hel

[2017-10-30 08:48] wateret commented on #13746
@BruceForstall

To answer for @hqueue, we run only ubuntu(armhf) on RPi3 so it is not armel environment.

As far as I remember, none of stack args are transformed. We transform float/double type arg regs to int/long when armel calling convention. Not 100% sure though.
https://github.com/dotnet/coreclr/blob/ffcb0127f247372b25e231470517cec272dca659/src/jit/lower.cpp#L1324-L1351

[2017-10-30 10:00] hqueue commented on #14711
Is there code related to REJIT branch in ARM64 ?
If so, please let us know, it would be helpful for this discussion :)

[2017-10-30 10:03] hqueue commented on #13746
@hseok-oh Any idea for this ?

[2017-10-30 10:58] weltkante opened #14742 "DynamicMethod does not work with ref-return"
When using ref-return with DynamicMethod I'm getting a `NotSupportedException: The return Type contains some invalid type (i.e. null, ByRef)`.

However ByRef is clearly not invalid since the C# Compiler added ref-returns as a language feature and generating such IL into a DynamicAssembly also works without complaining; I think the restriction of DynamicMethod should be lifted. Here's some [example

[2017-10-30 11:34] weltkante commented on #14615
Just a random thought: would it work to dynamically generate a method (via DynamicAssembly) which calls the to-be-analyzed method and then do `PrepareMethod` on that instead, to avoid marking the actual target method as no-inline?

[2017-10-30 13:32] ashishnegi commented on #14740
@valerysntx  Thanks for the suggestion.
I downloaded latest dotnet zip file and extracted to `D:\Users\testadm\dotnet` folder.
I filtered on events from `process name dotnet.exe` in procmon.
As before, I have set the `DOTNET_SKIP_FIRST_TIME_EXPERIENCE=true`.
I ran `dotnet --version` so as to reduce surface area to dotnet code base.
Procmon gives access denied in :
[code]
Full logs are at [dotnet_p

[2017-10-30 14:08] ashishnegi commented on #14490
One question :
In lldb, executing `target modules list` gives me `FC9AA4F0-E049-E703-DA1B-0108018007F6-17295119` as build id. This is same as my local installed dotnet's build id. This dotnet has version : 2.0.0.

Is lldb showing build id of dotnet which was crashed on the remote machine Or build id of dotnet present in my local machine ?

[2017-10-30 14:10] jkotas commented on #14742
This should be easy fix:
- Remove the superfluous check for ByRef: https://github.com/dotnet/coreclr/blob/da8b7181dbe362fbfe64c7ef72ff3a4a7db68f24/src/mscorlib/src/System/Reflection/Emit/DynamicMethod.cs#L301
- Adjust error message: https://github.com/dotnet/coreclr/blob/e46a52864447e8037746cca83928d61ba8623edc/src/mscorlib/Resources/Strings.resx#L415
- Adjust test: https://github.com/dotnet/coref

[2017-10-30 15:49] vancem commented on #14728
I had a hunch on why it does not repro on Desktop.   The issue is that Desktop is more aggressive about running class constructors early (the EventSource needs to be created after the EventListener to repro).  Changing the program so that we don't initialize the 'Log' in a class constructor but in the body of main (as shown below).
[code]
causes it to repro on .NET Desktop.

This kind of things is

[2017-10-30 17:35] vancem opened #14746 "COMException"

[2017-10-30 17:35] #14746 closed

[2017-10-30 18:05] sdmaclea commented on #14626
These 4 are still failing w/ #14677
[code]

I think #14677 is still a logical step and could be submitted as is...  The remaining tests are failing with segfaults.

[2017-10-30 18:10] mikem8361 commented on #14490
"target modules list -u -s" is giving you the build id of the modules in the core dump not what is on your local machine. Your build id of the libcoreclr.so in the dump doesn't match libcoreclr.so.dbg so lldb doesn't load it. What version of .NET Core was on the remote machine that the core dump was generated? It could be either 1.x or maybe a 2.0.x service release which could be the reason for th

[2017-10-30 19:29] AndyAyersMS commented on #9066
This doesn't seem to repro anymore (from CHK jit in REL build):
[code]
Frame size of 40 is what one would expect from a non-leaf with no locals (8 bytes for align, 32 for out arg area).

Not sure what changed things, maybe struct promotion kicking in now where it didn't before?

[2017-10-30 19:40] AndyAyersMS commented on #9068
Now seeing similar stack size to #9066's example:
[code]

[2017-10-30 19:44] RussKeldorph commented on #12028
Apologies for the lack of response, but I suspect we would need more information to reproduce the issue and investigate.  If this is still an issue, feel free to reopen if you can provide repro details.

[2017-10-30 19:44] #12028 closed

[2017-10-30 19:55] RussKeldorph commented on #12266
Not sure which area this belongs to.  Feel free to change.

[2017-10-30 19:58] sywhang commented on #13992
FYI, ELT callbacks for Windows already exist in src/vm/arm/asmhelpers.arm, and have been tested as of 10/27/2017.

[2017-10-30 20:21] rartemev commented on #13992
Thank you @sywhang.
I think we are done with with this issue.

[2017-10-30 20:21] #13992 closed

[2017-10-30 20:36] CarolEidt commented on #14368
These failures are no longer reproducible.
However, this test:
JIT\Regression\CLR-x86-JIT\V1-M12-Beta2\b59782\b59782\b59782.cmd

Is now failing with the same error as in #14374

[2017-10-30 20:42] CarolEidt commented on #14368
@BruceForstall - are you OK with closing this, since it no longer repros?

[2017-10-30 20:44] BruceForstall commented on #14368
Yes

[2017-10-30 20:44] #14368 closed

[2017-10-30 21:36] #14213 closed

[2017-10-30 21:45] benaadams commented on #9066
2 field Span vs 3 field Span? Was before the runtime has the two field Span so was using the three field Span. Will see if can repo

[2017-10-30 22:13] mikem8361 commented on #14490
It does look like the symbol zip files don't match the product. I'm looking into a solution. Not sure what time frame they will be fixed.

[2017-10-30 22:34] BruceForstall commented on #14548
This repros with plain x86, e.g., https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x86_checked_windows_nt_corefx_jitstress1/289/consoleText

[2017-10-30 23:56] kasper3 opened #14757 "Failed to compile with clang 5"
I am trying to build coreclr on ubuntu with llvm 5.0 and getting an error given below

coreclr/src/inc/cor.h:2210:1: error: __declspec attribute 'selectany' is not supported [-Werror,-Wignored-attributes]

is the latest version of llvm/clang officially supported?

[2017-10-31 00:07] wateret commented on #14757
According to `build.sh`, 4.0 looks the latest version officially supported.
https://github.com/dotnet/coreclr/blob/463c5b0e005e1fe779a1de855bcb350c0a7709ab/build.sh#L733-L760

FYI the default version is 3.9

[2017-10-31 00:32] kasper3 commented on #14757
Hm, I actually passed that step as it seems like these conditions only apply if we pass clangx.y as script argument? This system I am using has all the latest build tools installed.

final condition in build.sh that checks minimum version looks like this:

Compilation begins (after checking all the required dependencies) then fails with the error mentioned above.

Is 5.0 too strict / missing featu

[2017-10-31 00:40] RussKeldorph commented on #12638
I don't think this is the right forum to ask this question, which probably explains the lack of response.  @karelz Can you suggest a better place?

[2017-10-31 00:40] #12638 closed

[2017-10-31 00:50] #12643 closed

[2017-10-31 01:10] wateret commented on #14757
@kasper3 Probably if you don't specify `clangx.y` option, it will try find the default version(`clang-3.9` and `clang3.9`) then just `clang` if not found. I guess you have `clang`(of verson 5.0) in your path. This is how you passed that step.

When we introduce new compliers, there is chance that the source cannot be compiled since compilers contains non-stanard stuff like `__declspec` which is AF

[2017-10-31 02:05] hseok-oh commented on #13746
@BruceForstall @hqueue @wateret I can reproduce same failure on my environment with Altjit, nostress.
[code]

For example,
[code]

But no failure on release build. I'll check this on my environment.

[2017-10-31 03:20] ashishnegi commented on #14490
@mikem8361 `FC9AA4F0-E049-E703-DA1B-0108018007F6-17295119` is build id for libcoreclr.so for 2.0.0.
My local install has 2.0.0 and same build id.

So, to confirm, Does it mean that symbols for linux 2.0.0 are not right in [coreclr's download archives of 2.0.0](https://github.com/dotnet/core/blob/master/release-notes/download-archives/2.0.0-download.md) ?

I will try building coreclr locally on lin

[2017-10-31 04:20] mikem8361 commented on #14490
We are working on fixing them now.

-------- Original message --------
From: Ashish Negi <notifications@github.com>
Date: 10/30/17 8:21 PM (GMT-08:00)
To: dotnet/coreclr <coreclr@noreply.github.com>
Cc: Mike McLaughlin <mikem@microsoft.com>, Mention <mention@noreply.github.com>
Subject: Re: [dotnet/coreclr] Debugging linux dump (#14490)

@mikem8361<https://na01.safelinks.protection.outlook.com/?ur

[2017-10-31 05:13] hseok-oh commented on #13746
@BruceForstall As @wateret said, there is no tranfrom from double to long for arm hardfp PutArgStk.

[2017-10-31 06:48] GetCodeTrack opened #14763 "Stackoverflowexception when tracing Finalizer"
When tracing the sample below the profiler gets in an infinite loop (keeps entering in the EnterMethod callback). Eventually resulting in a stackoverflow exception.

If you remove the finalizer, everything works fine. Tried it on my own profiler (www.getcodetrack.com), but also on Jetbrains Dottrace. Same result.
In .NET 4.0 and 2.0 it works fine.

[code]

[2017-10-31 09:51] benaadams commented on #14763
/cc @vancem

[2017-10-31 11:25] benaadams commented on #9068
Still does it using a three field "SpanLike" [StackSpace.cs](https://gist.github.com/benaadams/deeb4add5c9b5e647449e3d0ed90eea8) though interestingly #9068 and #9066 have switched output [StackSpace.asm](https://gist.github.com/benaadams/6bdf1142733697ad556eee4ade8e71ed)

[2017-10-31 11:25] benaadams commented on #9066
Still does it using a three field "SpanLike" [StackSpace.cs](https://gist.github.com/benaadams/deeb4add5c9b5e647449e3d0ed90eea8) though interestingly #9068 and #9066 have switched output [StackSpace.asm](https://gist.github.com/benaadams/6bdf1142733697ad556eee4ade8e71ed)

[2017-10-31 11:29] benaadams commented on #9068
This sample now reserves and zeros a large amount of stack space it doesn't use static byte `LotsOfSpans(byte[] array)` (in above cs and asm)
[code]

[2017-10-31 11:32] benaadams commented on #9066
This sample now does a bunch of redundant `mov`s  (in above cs and asm)

`byte OneSpantype(byte[] array)`
[code]

[2017-10-31 12:34] jkotas commented on #14763
cc @sywhang

[2017-10-31 12:45] jkotas commented on #14740
This issue was moved to dotnet/core-setup#3373

[2017-10-31 12:45] #14740 closed

[2017-10-31 12:45] jkotas commented on #14740
`dotnet.exe` lives in core-setup repo.

[2017-10-31 14:03] AndyAyersMS commented on #9066
The register shuffling could be something similar to #11390.

[2017-10-31 17:42] AndyAyersMS commented on #11390
Seems a bit clunky to get at this one.

Morph notices a cast out of GC and introduces a comma temp assign to hold the result. If this comma is under a regular assign we now have a short lifetime temp that wasn't needed, and this extra temp allows RA the freedom to shuffle. So in morph post pass we could look for
[code]
and optimized to
[code]
but we'd need to know that the temp was otherwise unuse

[2017-10-31 18:49] stephentoub opened #14770 "Coalescing calls to non-returning throw helpers?"
Repro:
[code]

The generated asm includes this at the end:
[code]

Can/should these be coalesced into a common call point?

category:cq
theme:basic-cq
skill-level:expert
cost:medium

[2017-10-31 18:51] mikem8361 commented on #14490
For now if you get the runtime.linux-x64.Microsoft.NETCore.App.2.0.0.symbols.nupkg package from the core-setup symbol [zip](https://download.microsoft.com/download/D/E/B/DEB55D32-4CC3-46B0-A241-1A5BF2BB533C/core-setup-2.0-symbols.zip), it will match the 2.0.0 binaries in your core dump.

[2017-10-31 18:56] AndyAyersMS commented on #9068
In this version the excess stack looks like it is caused by local ref counts being too high. Eg V37 has final ref count of 1 but is actually unreferenced. Let me see if I can spot where the ref counts go wrong.

[2017-10-31 19:21] CarolEidt opened #14771 "[RyuJIT/x86][JitStressRegs=0x80] Assertion failed 'emitVerifyEncodable(ins, size, reg1, reg2)'"
This assert occurs in this recently-added test:
JIT\HardwareIntrinsics\Crc32_r\Crc32_r.exe

This impedes arm altjit stress testing.

[2017-10-31 19:22] AndyAyersMS commented on #9068
The culprit seems to be `fgMorphBlockStmt` which will unconditionally increment ref counts.

This method potentially modifies a statement's expression in unspecified ways, so the safe way to handle ref count updates is:
* decrement ref counts in the input tree
* output tree = fgMorph(input tree)
* increment ref counts in the output tree
(assuming no expression morphing messes with counts).

It is

[2017-10-31 20:12] lt72 commented on #12823
@mikem8361: is this still relevant after recent dump debugging improvements? if not please close.

[2017-10-31 20:24] sandreenko opened #14773 "[RyuJit/Arm32/JitStress=1]Assertion failed '!GenTree::IsExOp(tree->OperKind()) && tree->OperIsSimple()'"
There are 4 new failures in [arm32 JitStress leg](https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x86_arm_altjit_checked_windows_nt_jitstress1_prtest/9/#showFailuresLink):
[code]

This is presumably due to #14456.

[2017-10-31 20:37] #14666 closed

[2017-10-31 20:45] fiigii commented on #14773
@sandreenko Thanks for pointing this out! Will fix.

[2017-10-31 20:47] fiigii commented on #14773
Why does the test fail on ARM32? cc @CarolEidt

[2017-10-31 20:53] fiigii commented on #14771
Thanks for pointing out! I will fix this in `emitter::emitVerifyEncodable`.

[2017-10-31 20:53] mikem8361 commented on #12823
Yes it is.  We should change dumpling to use createdump for Linux to better test createdump

[2017-10-31 20:57] CarolEidt commented on #14773
It is not actually failing on ARM32. When we do arm altjit stress testing, it actually compiles and runs the x86 code, and then, for each method, it also calls the arm altjit. So any x86 stress failures also show up on the arm altjit stress testing.

[2017-10-31 21:00] fiigii commented on #14773
I see. Thank you for explaining.

[2017-10-31 21:02] benaadams commented on #6028
@redknightlois This now is resolved?

@mikedn your non returning method with multiple throws can be resolved throw a second method, which also resolves too much being inlined on older runtimes? e.g.
[code]

[2017-10-31 21:10] fiigii commented on #14771
Hmm, this is not caused by `emitter::emitVerifyEncodable`. Something similar to https://github.com/dotnet/coreclr/pull/7122?

[2017-10-31 21:14] kouvel commented on #6155
Appears to be resolved, closing

[2017-10-31 21:14] #6155 closed

[2017-10-31 21:22] benaadams commented on #14770
I think it would break line numbers in pdbs? (might be more?)

@AndyAyersMS said in https://github.com/dotnet/coreclr/pull/7580#issuecomment-253334878

[code]

[2017-10-31 21:42] AndyAyersMS commented on #9068
There was at least one example where morph directly modifies ref counts (in the `GT_COMMA` case in `fgMorphSmpOp`).

"Fixing" this and updating `fgMorphBlockStmt` as above leads to the following diffs in corelib (more than methods than shown below since many diffs are size preserving which jit-diffs doesn't pick up):
[code]
By and large the big size wins are from smaller local offsets as the stack

[2017-10-31 22:07] BruceForstall commented on #14773
Note that this is causing most or all x86 and x64 stress modes to fail. See https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/

[2017-10-31 22:15] redknightlois commented on #6028
Uffff, this is old!!! ```ThrowException``` now is marked as cold, so JIT is moving the code outside (or I got too automated to deal with that code and do not see the issue anymore). AFAIK @mikedn code is not automatically picked up yet (haven't checked though on 2.1 branch).

[2017-10-31 22:34] AndyAyersMS commented on #14770
Too bad we can't just pass the IL offset as an argument.

Also in the example there are a lot of redundant branches. Kind of surprised that some part of the optimizer can't sort this out. For instance:
[code]

[2017-10-31 23:03] AndyAyersMS commented on #14770
Actually I should say that when the jit is optimizing it generally won't take pains to maintain unique IL offsets. So coalescing those calls would be something we'd consider to be fair game. And something like this already happens now for jit-induced throws, e.g. array bounds checks, and also with the recently introduced constant return value merging.

However generalizing this to user-provided th

[2017-10-31 23:23] danmosemsft commented on #14208
Just wanted to note this is marked as up-for-grabs as we believe this is something that need not require someone on the .NET team. Anyone interested? Could be rewarding/interesting.

[2017-10-31 23:29] BruceForstall opened #14780 "Assertion failed 'unboxResolvedToken.hClass != resolvedToken.hClass'"
x64 R2R tests all fail with this assert, e.g.:
[code]

Job: `Windows_NT x64 Checked R2R Build & Test`, and all the stress variations.

Tests:
[code]

[2017-10-31 23:29] BruceForstall commented on #14780
@dotnet/jit-contrib

[2017-10-31 23:30] lt72 commented on #11490
@mikem8361: can you provide an update and close the issue?

[2017-10-31 23:52] BruceForstall opened #14783 "Assertion failed 'retExpr->gtOper == GT_RETURN'"
Failure in x64 checked corefx jitstress1 job:

[code]

https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_windows_nt_corefx_jitstress1_prtest/1/

Failure in `System.Security.Cryptography.Xml.Tests` test.

[2017-10-31 23:53] BruceForstall commented on #14783
@dotnet/jit-contrib

[2017-11-01 00:31] dgrunwald opened #14784 "Truncation during `stloc` also affects duplicated value"
IL code ([full program](https://gist.github.com/dgrunwald/b0ca8412cd0ce4ebd1ad202427886129)):

[code]

With `COMPLUS_useLegacyJit=1`, I get the output I expect:
[code]

Output with RyuJit:
[code]

Somehow the implicit truncation in the `stloc` got moved in front of the `dup`???

Context: I found this while trying to write a failing testcase for ILSpy, which incorrectly(?) transforms the above IL i

[2017-11-01 00:52] AndyAyersMS commented on #9068
Full set of jit-diff data from the prospective change. Something odd going on in the trace event code. Will take a closer look.
[code]

[2017-11-01 00:55] sywhang commented on #14763
Hi @GetCodeTrack, thanks for reporting this issue. While I'm investigating this issue, I had some trouble repro the issue with the sample you provided. It would be great if you could tell us a little bit more about your current setup to help us investigate this issue!

- Are you using the latest master branch of coreclr to implement your profiler?
- If not, which version of .NET Core are you using

[2017-11-01 03:57] Salty-Sailor opened #14786 "How To Build My Own .Net Core Profiler"
I have written a .NetCore(2.0) App and want to do some profile work. Based on the .NetCore  Profiling Overview docs(https://github.com/dotnet/coreclr/blob/master/Documentation/botr/profiling.md),
it seems like that I just need to implement the Profiler DLL and add into my .NetCore Project(is that right?).But I have no experience on writing code like this(what I only know is that I need to implemen

[2017-11-01 04:12] jkotas commented on #14786
@sywhang

[2017-11-01 04:56] #14373 closed

[2017-11-01 04:57] sywhang commented on #14786
Hi @Salty-Sailor, thank you for your inquiry.

We do have a very minimal, but working sample profiler available at https://github.com/Microsoft/clr-samples/tree/master/ProfilingAPI/ReJITEnterLeaveHooks. There are already instructions on how to build it and use it, for Windows/Linux/MacOS. You can feel free to use this as your starting point on how to implement your own .NET Core profiler.

Please

[2017-11-01 05:34] mikedn commented on #14784
InlineAssignByte: WriteLine(local = 44)
InlineAssignByte: local is 44

I'm unable to reproduce this with the current RyuJIT build. However, I did get this result when running the exe using .NET 4.7.1 x86. The generated code is:
[code]

[2017-11-01 05:40] mikedn commented on #6028
I haven't tried that but yes, it looks like it should work.

[2017-11-01 05:48] mikedn commented on #6028
I'm not sure what you mean. The PR was merged into master back in Aug 5 2016, 2.x branches have been created after that.

It's also present in .NET 4.7.1 x64 (x86 doesn't use RyuJIT)

[2017-11-01 05:56] mikedn commented on #14784
It's possible that this was fixed in #9959 by @AndyAyersMS

[2017-11-01 06:15] mikedn commented on #14770
In theory this should be easy, those blocks are produced during inlining by importing the same block from the same method. So they should be identical. But in practice it's probably "yeah, good luck with guaranteeing that the importer generates identical IR from the same IL block" unfortunately.

[2017-11-01 06:17] mikedn commented on #14770
Not sure how you got that code. When I try this the result is even funnier:
[code]
I'll take a look, it's just too lame to ignore this :)

[2017-11-01 06:40] mikedn commented on #14770
There are probably more ways to look at this but one way goes like this:
* Morph has `fgFoldConditional` that can eliminate such branches
* It's called during global morph but at that point relop operands aren't all constant.
* EarlyProp propagates the constant array length but doesn't attempt to morph or otherwise optimize the resulting trees (though recently I changed it to eliminate useless ran

[2017-11-01 06:56] BruceForstall commented on #14376
@sandreenko I've reopened this issue; it still repros. Additional info:
1. It repros on x86; it does not require arm32.
2. It only repros with Checked Core_Root; it doesn't repro when using Debug Core_Root. It still repros with a Debug clrjit.dll copied to the Checked Core_Root.

Example failure: https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x86_checked_windows_nt_tailcallstre

[2017-11-01 07:00] Salty-Sailor commented on #14786
That's truly what I want, thanks!!!

[2017-11-01 07:32] AndyAyersMS commented on #14780
The assertion is probably too strong. I'll fix it.

[2017-11-01 07:42] AndyAyersMS commented on #14770
@mikedn I was looking at a slightly different example case:
[code]

[2017-11-01 07:45] AndyAyersMS commented on #13280
Data from #9068 which has partially corrected ref counts indicates that there's also a CS win here, mainly from reducing the local offsets.

It should also give us a somewhat saner basis for using counts to help direct register allocation, since the counts today are somewhat inflated.

[2017-11-01 09:52] benaadams commented on #9041
Can't simple repo this

[2017-11-01 09:52] #9041 closed

[2017-11-01 15:02] janvorli commented on #14738
@shravan2x please note that the high virtual memory usage is not an issue. It doesn't cost you anything (except for a bit of memory for the processor page tables), since this space is private to each process. So even if it was using hundreds of gigabytes of VM or more, it would still be ok. Is there any specific reason why you are worried about the VM space usage?

[2017-11-01 15:18] janvorli commented on #14757
@kasper3 the 5.0 is not supported yet, we haven't tried to make it work. From time to time, I go and make it work on newer clang versions. There are almost always some details that need to be fixed due to the compiler being more strict etc.
@wateret the __declspec selectany should work with clang 5.0 and clang 6.0, it is described here: https://clang.llvm.org/docs/AttributeReference.html#selectany

[2017-11-01 15:20] shravan2x commented on #14738
No, I am primarily just curious to know why this is so. Does .NET Core have some unusual memory usage pattern that leads to this?

[2017-11-01 15:24] redknightlois commented on #6028
My bad, it is picked too on 2.0 branch even if you have conditionals; wasn't on the 1.x branch when I tested that. Closing afaik this is done.

[2017-11-01 15:24] #6028 closed

[2017-11-01 15:36] lt72 commented on #9166
This should now be fixed, please re-open if not.

[2017-11-01 15:36] #9166 closed

[2017-11-01 16:19] GetCodeTrack commented on #14763
Hi @sywhang ,

I'm really sorry but I don't seem to be able to reproduce it again either. I might have been doing something terribly wrong before.

Nevertheless, I do get an exception., and I think I know the reason:
Whenever ThreadCreated goes off I create a thread static context (using TLS).
If I get in the EnterMethod I try to use this context, which normally is ok since a thread created has al

[2017-11-01 16:30] lt72 commented on #1146
Completed

[2017-11-01 16:30] #1146 closed

[2017-11-01 16:31] lt72 commented on #1321
This shipped with 2.0

[2017-11-01 16:31] #1321 closed

[2017-11-01 16:33] #2089 closed

[2017-11-01 16:34] lt72 commented on #2656
@mikem8361: I believe this is completed already...

[2017-11-01 16:41] sdmaclea opened #14793 "SIMD VectorGetIndexerOutOfRange add negative index test."
VectorGetIndexerOutOfRange does not check for negative index range check.

[2017-11-01 17:00] lt72 opened #14794 "Add command to dotnet CLI to download symbols for runtime and libraries"
How about something like:

```dotnet get-runtime-symbols``` (defaults to runtime and libraries that best match the CLI version)
```dotnet get-runtime-symbols 2.0.3```

[2017-11-01 17:19] sywhang commented on #14763
Hi @GetCodeTrack,

That's completely fine. Thanks for verifying that for me.

Would there be any chance that your issue is related to #13499 ? If so, this issue has been fixed with this: https://github.com/dotnet/coreclr/pull/13663, and this fix should've been included in the 2.0.2 servicing release.

Could you please try downloading the latest .NET Core SDK (https://www.microsoft.com/net/download

[2017-11-01 17:21] mikedn commented on #14770
Right, assertion prop could likely catch these but currently it only handles EQ and NE:
https://github.com/dotnet/coreclr/blob/dc5d41fd993d29c68be304f1bfefe38e7e61e7bd/src/jit/assertionprop.cpp#L1923-L1936

Hmm, maybe I'll play a bit with it. I'm curious what CQ improvements handling additional relops could provide and at what cost.

[2017-11-01 17:23] mikem8361 commented on #2656
This is completed for Linux but not OS X. Fixing this on OS X will take a long time (2-3 sprints) because the unwind info for macho is different and the libunwind used for OS X doesn't support "remote" or out of process unwinding.

[2017-11-01 17:26] mikem8361 commented on #14490
The download site symbol link has been fixed for 2.0.0 and 2.0.2.

[2017-11-01 17:32] AndyAyersMS commented on #14784
Interesting. `dup` has been something of a troublemaker lately.

@dgrunwald thanks for running across these, and please keep them coming.

Jit32 has the same kind of `dup` handling that RyuJit had before my change, so not surprising that it has this bug.

RyuJit fixes should be there in Core2.0 and Desktop 4.7.1.

[2017-11-01 17:36] #14773 closed

[2017-11-01 17:45] mikedn commented on #14784
Perhaps a test should be added for this?

[2017-11-01 17:48] GetCodeTrack commented on #14763
Hi @sywhang ,

That ( #13499 ) sounds exactly like my case. I installed 2.0.2 with the link you gave but the issue is still there.
Dotnet -version returned 2.0.2 so it is installed correctly I guess...

Gr,
Nico

[2017-11-01 17:58] #13882 closed

[2017-11-01 18:01] BruceForstall commented on #14626
These 4 are failing on Windows in the CI:

https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm64_cross_checked_windows_nt/

[2017-11-01 18:20] BruceForstall opened #14798 "[RyuJIT/x64][JitStressRegs=8] Assertion failed 'farthestRefPhysRegRecord != nullptr'"
From x64 JitStressRegs=8 testing, e.g., https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_windows_nt_jitstressregs8/

Failure:
[code]

Test:
[code]

Possibly the same as #11838?

[2017-11-01 18:28] BruceForstall opened #14800 "Assert failure: newCounts.countOfWaitersSignaledToWake <= newCounts.waiterCount"
I've seen this in a couple different unrelated test runs, but am unable to reproduce it locally.

https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_windows_nt_jitsse2only_prtest/8/consoleText
https://ci.dot.net/job/dotnet_coreclr/job/master/job/x64_checked_windows_nt_r2r_prtest/39/consoleText

From the first link:
[code]

[2017-11-01 18:28] #13746 closed

[2017-11-01 18:34] Suchiman commented on #14738
I'm not sure if this is the same thing, but i can observe similiar behavior on my raspberry pi 2 with ubuntu 17.04 and 17.10. Virtual memory steadily increases until it dies due to OutOfMemory above 2GB (working set raising from 50MB initial to about 120MB when it dies). I couldn't really diagnose this since loading libsosplugin in lldb just segfaults but i've noticed that it appears to be leaking

[2017-11-01 18:38] AndyAyersMS commented on #14770
Wonder how hard it would be to change assertion prop from a forward dense to a backward sparse or on demand approach, especially given that we have SSA and that relatively few operations benefit from or generate assertions.

Trying to guess which facts might matter later seems inevitably suboptimal.

[2017-11-01 19:08] sandreenko commented on #14377
Fixed in #14753

[2017-11-01 19:08] #14377 closed

[2017-11-01 19:08] sandreenko commented on #14549
Fixed in #14753

[2017-11-01 19:08] #14549 closed

[2017-11-01 19:24] BruceForstall commented on #14800
Another case:

https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x86_checked_windows_nt_jitstressregs0x80_prtest/25/consoleText

[2017-11-01 19:25] #14771 closed

[2017-11-01 19:40] AndyAyersMS commented on #14784
@dgrunwald any objections to me adding this as test?

[2017-11-01 19:42] dgrunwald commented on #14784
@AndyAyersMS No objections.

[2017-11-01 20:38] Rattenkrieg opened #14806 "Referencing types defined in gcenv.object.h outside of gc.cpp"
Below are assumptions based on results of my experiments with codebase:
I understand that in order to decouple GC from EE there is no inclusion of `src/vm/*` stuff nowhere in `src/gc/*` path. Except for `src/vm/gcenv.ee.h`. But GC relies on some primitives such as `MethodTable`, `SyncBlock`, `Object`, `ArrayBase` etc. Minimal definitions of those are repeated (with respect to fields layout) in `sr

[2017-11-01 20:42] Rattenkrieg commented on #14208
@danmosemsft actually I have been working on it already about a month on evenings :p

[2017-11-01 20:48] BruceForstall commented on #11822
@wateret What is the current status? Is it still worthwhile to keep this issue open?

[2017-11-01 20:59] RussKeldorph commented on #13099
I assume this should have been closed when #13114 was merged.  Re-open if I misunderstood.

[2017-11-01 20:59] #13099 closed

[2017-11-01 21:04] philippweidhas commented on #9265
@parjong @seanshpark @ryukinix Hi guys i opened an  [new Issue ](https://github.com/dotnet/corefx/issues/25002) for the x86 build for CoreFX in the CoreFX repository, i think that is the better place to discuss this problem.

[2017-11-01 21:49] CarolEidt commented on #14542
This was the case of a `BITCAST` above a `FIELD_LIST`, and was fixed by #14753

[2017-11-01 21:49] #14542 closed

[2017-11-01 22:15] BruceForstall opened #14810 "corefx XsltCompiler.Tests fails under altjit"
e.g., "Windows_NT x86_arm_altjit Checked corefx_baseline"

[code]

Output:
[code]

Altjit shouldn't affect x86 runtime behavior.

[2017-11-01 22:17] #8542 closed

[2017-11-01 22:29] #14780 closed

[2017-11-01 22:50] janvorli commented on #14581
@adiaaida it seems we can enable the PGO now, the CentOS 7 issue should be gone after @mikem8361 updated the binutils on the build VM.

[2017-11-01 23:57] AndyAyersMS commented on #14441
Looking over the code, there are a number of observations (like a method being a wrapper) that are explicitly ignored by the LegacyPolicy for prejit roots, and we haven't yet overriden this in the EnhancedLegacyPolicy.

While we could add the overrides, it seems to me that the LegacyPolicy has outlived its usefulness. The EnhancedLegacyPolicy has now shipped as the default for desktop in both 4.7

[2017-11-02 00:02] AndyAyersMS commented on #14441
Doing this should also address #3482 -- which was mainly about preserving the discrepancies between prejit and jit analysis that we now would like to eliminate.

[2017-11-02 00:06] jkotas commented on #14806
cc @swgillespie

[2017-11-02 00:11] BruceForstall commented on #14810
The problem is these tests invoke the .NET xslt compiler:
[code]
Which loads this CLR:
[code]
and that CLR sees the `COMPlus_AltJit=*` / `COMPlus_AltJitName=protononjit.dll` variables, but fails to find and load a protononjit.dll, so it fails fast.

We need a way to not run these tests for altjit, e.g., pass some `-notrait category=noaltjit` option.

[2017-11-02 00:42] janvorli commented on #14757
I have tried it locally and I can repro the problem. It turns out it is a bug in clang 5.0:
https://reviews.llvm.org/D33852

[2017-11-02 00:50] sywhang commented on #14763
Hi @GetCodeTrack,

I quickly tried re-running the tests I made while verifying the fix for #13499, and it seems like the profiler is still getting ThreadCreated callbacks on finalizer threads. I'll try to take a deeper look later tonight and get back to you.

In the meantime can you please make sure you're using the correct version of the SDK?

[2017-11-02 00:57] sywhang commented on #14786
Glad to hear that it was what you were looking for.
I'll close this issue for now, but feel free to reopen if you run into any issues :)

[2017-11-02 00:57] #14786 closed

[2017-11-02 01:03] chcosta commented on #14552
You just saved me a lot of time.  Thanks!

[2017-11-02 01:16] wateret commented on #11822
Now we have armel passing all pri2 tests. Although it seems we have jitstress fails but I think we can close this.

[2017-11-02 01:16] #11822 closed

[2017-11-02 01:19] CarolEidt commented on #14546
This was a problem with the assert in the case where we are spilling the odd half of a double (which has a float in it), and the assert was incorrect.
It was fixed by #14534

[2017-11-02 01:19] #14546 closed

[2017-11-02 06:13] LYP951018 opened #14818 "Add -utf-8 to compileoptions.cmake?"
When compiling CoreCLR under Windows with locales other than America (such as China), MSVC generates warnings that some of files contain characters are not representable under the code page (such as 936).

[2017-11-02 06:28] mikedn commented on #14770
I was wondering the same thing recently, but from the perspective of RangeCheck. That one is mostly demand driven (it does have a "build SSA def map" pre-pass but that's actually unnecessary) but it relies on AssertionProp doing a lot of work upfront and every time it merges assertions it has to scan all live assertions looking for the one(s) that are suitable for merging.  And after all this work

[2017-11-02 10:11] jkotas commented on #14818
@LYP951018 This sounds like a good idea. Would you be interested in submitting PR with the fix?

[2017-11-02 10:51] jayaranigarg commented on #4506
@danmosemsft : Is this ported to netfx yet?

[2017-11-02 11:19] LYP951018 commented on #14818
@jkotas Yes! I'll submit a pr soon.

[2017-11-02 11:31] hqueue commented on #14374
@BruceForstall I think we can close this issue now, because two PR #14588 and #14614 merged.
I also ran above two tests with the latest master and confirmed tests are passed.

[2017-11-02 12:16] hqueue commented on #13752
@BruceForstall Sorry, I'm late to this thread. @sjsinju was out-of-office for about 2 weeks and will be available from next week.

And for failed tests, I've ran above failed tests with recent coreclr and they all passed.
I think various PR related to LSRA also fixed this bug.

Environment: Raspberry Pi (Ubuntu 16.04) and coreclr (fe8ce77cf9d) `Checked` build.

[code]

[2017-11-02 13:02] ashishnegi commented on #14490
Hi @mikem8361 Thanks for sosplugin.
I made good progress.
I installed lldb-3.9 on Ubuntu 16.04 and used your libsosplugin.so.
`sos Threads` shows real os thread id.
I switched to it. I can use `sos PrintException` and it works.

I am still not able to get any stack on `sos ClrStack`. Can you help understand why that's happening ?
[code]

Here is my full debug session :

[code]

[2017-11-02 15:34] #14374 closed

[2017-11-02 15:34] #13752 closed

[2017-11-02 15:36] lt72 opened #14819 "Debugging instructions should clearly carry information as to how acquire symbols"
[Debugging instructions](https://github.com/dotnet/coreclr/blob/master/Documentation/building/debugging-instructions.md) should carry the information on how to acquire symbols. Whether that happens through a tool, or by manual download, or both, all locations of the symbols should be clearly documented.
E.g.: the debugging instruction page should carry a link to the [core-setup](https://github.com

[2017-11-02 15:48] BruceForstall commented on #14206
e.g., https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_arm64_altjit_checked_windows_nt_jitstress2_jitstressregs3/1/

[2017-11-02 16:46] sdmaclea commented on #14332
Progress continues.  On my local tree ~50% of SIMD tests are passing.

There are still issues with ABI, lsra, liveness...

For the ABI, callers are passing the SIMD arguments correctly (same as underlying struct type).  However managed callees are consuming the arguments incorrectly.  I have been trying to find the relevant code, but so far it has eluded me.  @dotnet/jit-contrib I am sure I will f

[2017-11-02 17:11] RussKeldorph commented on #13170
Dup of #/6298

[2017-11-02 17:11] #13170 closed

[2017-11-02 17:13] RussKeldorph commented on #13201
Lower priority unless repros on RyuJIT.  Keeping open unless/until we know we won't need.

[2017-11-02 17:20] RussKeldorph commented on #13329
@AndyAyersMS Not clear this is actionable at this point, but assigning since you started looking.  Feel free to un-assign or close if there is nothing to do.

[2017-11-02 19:15] mmitche commented on #9793
@danmosemsft I don't think this is a CI bug.  In order for it to be a CI bug, the Java JDK would have to have the same bug as https://github.com/dotnet/corefx/issues/16766.  If it was truly unlimited it should fail there first.  My take is that .NET is incorrectly limiting the size of the environment block.

[2017-11-02 19:25] CarolEidt commented on #11838
I am currently unable to reproduce any of these.

[2017-11-02 19:50] AndyAyersMS commented on #14441
I have the remainder of this implemented and it looks (unsurprisingly) like it will lead to slightly larger code size when prejitting. However it does not immediately follow that there is a commensurate TP increase.

While it is likely that this change will increase both code size and throughput (while hopefully improving code quality) the upshot is that this change makes the prejit inliner about

[2017-11-02 19:55] swgillespie commented on #14806
Sounds like there are two issues here: the use of VM's PCH when compiling the GC and the GC needing to be aware of string objects when deduping strings on the heap.

The first issue sounds like something we should probably address to avoid bad c++ error messages like the ones you saw and general good build hygiene. The second, though, I'm not so sure about. We should really think carefully about w

[2017-11-02 20:06] #14818 closed

[2017-11-02 20:10] janvorli commented on #14738
@shravan2x GC reserves a continuous range of virtual memory for the heap. Actual allocations from that heap then just commit segments of that virtual memory. The GC heap needs to be in a continuous range of virtual memory so that we can quickly find if an address belongs to the heap or not. GC code maintains g_lowest_address and g_highest_address global variables that represent the GC heap range.

[2017-11-02 20:28] RussKeldorph commented on #13655
Assuming this is resolved.  @jorive @DrewScoggins @adiaaida

[2017-11-02 20:28] #13655 closed

[2017-11-02 20:28] danmosemsft commented on #14720
@janvorli your stack overflow work was in 2.0 I think.?

[2017-11-02 20:31] adiaaida commented on #13655
Failures like this should resolve themselves within about 24hrs when we autoupload new profile data. If you're hitting it, your best bet is to just pass the nopgooptimize flag.

[2017-11-02 20:36] jkotas commented on #14806
This happened 10 years ago last time.

I do not see a problem with it. Layout of both strings and arrays is non-versionable, and GC is not the only component that depends on it. [Ready-to-Run](https://github.com/dotnet/coreclr/blob/master/Documentation/botr/readytorun-overview.md) depends on it as well.

[2017-11-02 20:49] #14800 closed

[2017-11-02 21:06] BruceForstall commented on #11838
I'll go ahead and close it for now, and reopen it if/when we see it again.

[2017-11-02 21:06] #11838 closed

[2017-11-02 21:17] #14793 closed

[2017-11-02 21:30] MichalStrehovsky commented on #13810
David fixed this in #14001.

[2017-11-02 21:30] #13810 closed

[2017-11-02 21:42] #14605 closed

[2017-11-02 21:43] sywhang commented on #14763
Hi @GetCodeTrack,

Sorry, I directed you to a wrong path. I meant you should download the 2.0.2 servicing version of the **runtime**, not the SDK. Just installing the 2.0.2 version of the SDK does not mean that you have 2.0.2 version of the runtime. You can download the official daily build of servicing here: https://github.com/dotnet/core-setup/blob/release/2.0.0/README.md#officially-released-bui

[2017-11-02 22:06] BruceForstall commented on #14332
Maybe lvaAssignVirtualFrameOffsetToArg?

[2017-11-02 22:10] sdmaclea commented on #14332
I think I just found it.  Morph was marking the arg as implicit byref, because `Compiler::lvaIsMultiregStruct` was not using `varTypeIsStruct`, so was failing on SIMD args.

[2017-11-02 22:20] CarolEidt commented on #14372
This no longer seems to be failing in the above-mentioned tests, but is now occurring in:
[code]

[2017-11-02 22:21] BruceForstall opened #14830 "[RyuJIT/arm64][JitMinOpts] Assertion failed 'size > INITBLK_UNROLL_LIMIT'"
From an x64_arm64_altjit JITMinOpts=1 run.

https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_arm64_altjit_checked_windows_nt_minopts/lastFailedBuild/

[code]

test:
[code]

[2017-11-02 22:22] BruceForstall commented on #14830
@dotnet/arm64-contrib

[2017-11-02 22:23] BruceForstall opened #14831 "[RyuJIT/arm64][JITMinOpts] Assertion failed 'bbLabel->bbEmitCookie != nullptr'"
From an x64_arm64_altjit JITMinOpts=1 run:

https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_arm64_altjit_checked_windows_nt_minopts/lastFailedBuild/

[code]

Test:
[code]

[2017-11-02 22:24] BruceForstall commented on #14831
@dotnet/arm64-contrib

[2017-11-02 22:48] BruceForstall commented on #14626
The crash is here:
[code]

Data:
[code]

The relevant code in isSpillCandidate:
[code]

It's the assert, above, where the crash is (nextPhysRegPosition is nullptr).

@CarolEidt

[2017-11-02 23:42] tamlin-mike commented on #12480
@AndyAyersMS For your example from Aug 3, instead of all that jumping (2 jmp's for each branch), what about instead using cmp/mov reg, .../jX/add y, when both terms are (integral-only?) constants?

While I haven't profiled it, to see if add to a reg assigned-to two instructions earlier would introduce a pipeline stall, at first blush it seems it could possibly be faster (in addition to smaller - w

[2017-11-03 00:04] AndyAyersMS commented on #12480
@tamlin-mike agree, it would be better. There are lots of clever ways to manifest literal integers, especially if you have similar integers "nearby" already or can create some values cheaply. Unfortunately the jit doesn't do this kind of thing.

We have debated the idea of creating a post-lower machine-dependent "peephole" optimizer that would provide a natural home for this kind of optimization,

[2017-11-03 00:35] tamlin-mike commented on #12480
I think such an optimizer, or simply architecture, would be beneficial. Maybe especially for hot-spots (provided there is a hot-spot finder).

Doing it that way (loosely decoupled from main JIT code) could also
* enable way easier testing, of
  * correctness
  * performance of generated code
  * performance of generator/optimizer
*  provide a playground to actually try out ideas without affecting

[2017-11-03 02:07] briansull commented on #14550
Fixed with #14801

[2017-11-03 02:07] #14550 closed

[2017-11-03 03:08] #14376 closed

[2017-11-03 06:02] #14551 closed

[2017-11-03 06:08] BruceForstall commented on #14665
@YongseopKim Have you investigated this yet? Do you expect to investigate soon?

[2017-11-03 06:11] BruceForstall opened #14842 "ARM64 Windows build: warning D9002: ignoring unknown option '/diagnostics:classic'"
Something is causing the `/diagnostics:classic` switch to be thrown for the ARM64 Windows build, and the old toolset we use apparently doesn't understand it, leading to thousands of these warnings.

[2017-11-03 06:11] BruceForstall commented on #14842
@dotnet/arm64-contrib

[2017-11-03 06:18] mikedn commented on #12480
`L > 0 ? 1 : 3` is just
[code]
That's something that if-conversion could handle. Ironically, in my experiment if-conversion was sometimes blocked by this particular importing issue. I worked around it, at least partially, by detecting identical lclvar assignments and hoisting them out of the blocks subjected to if-conversion.

[2017-11-03 10:13] hqueue commented on #13952
@sjsinju I know you are now out-of-office.
Please check this and let us know whether can we close this issue.

[2017-11-03 10:19] hqueue commented on #13653
@sjsinju Can we close this ? Let us know when you come back.

[2017-11-03 12:13] wizofaus opened #14843 "Enum.ToString() for flags-enums can produce inconsistent results"
[Flags]
        enum TestEnum
        {
            A = 3, B = 4
        }
        [Flags]
        enum TestEnum2
        {
            A = 3, B = 4, C = 5
        }
        static void Main(string[] args)
        {
            Console.WriteLine(TestEnum.A|TestEnum.B);
            Console.WriteLine(TestEnum2.A|TestEnum2.B);
        }

Expected output would surely be
A,B
A,B
But actual output is:
A

[2017-11-03 12:55] murbanowicz commented on #917
@Petermarcu @janvorli when you will success with builds for Alpine, will they be available as tags within main docker image for .net core?

[2017-11-03 13:37] #14798 closed

[2017-11-03 13:37] RussKeldorph commented on #14400
@CarolEidt

[2017-11-03 13:51] RussKeldorph commented on #14454
I assume this should have been closed when #14457 was merged.  Please re-open if not.

[2017-11-03 13:51] #14454 closed

[2017-11-03 14:04] MichaelSimons commented on #917
@murbanowicz - yes the plan is to create Apline based Docker images for .NET Core.  https://github.com/dotnet/dotnet-docker/issues/22 tracks this work.