[2017-11-29 06:29] #15264 closed

[2017-11-29 06:29] #15265 closed

[2017-11-29 06:55] mikedn commented on #13501
Yes but that results in casts being required in the most common case - when adding a `int`. `uint` is not commonly used in .NET. Oh well, it doesn't really matter now since managed compilers have to insert casts to workaround JIT behavior differences.

You can assign this issue to me, I'll make the necessary code changes.

[2017-11-29 06:57] BruceForstall commented on #15259
@sdmaclea Can you try enabling the code in `Compiler::lvaStressLclFldCB` under `_TARGET_ARM_` for `_TARGET_ARMARCH_` instead and see if that fixes the problem?

https://github.com/dotnet/coreclr/blob/832adb747a7d83c6928a94076463c2ca37152d10/src/jit/lclvars.cpp#L7303

[2017-11-29 07:12] mikedn commented on #15256
Hmm, the second branch is from a range check. I don't see how the JIT could eliminate since it doesn't know that `i` is positive. They could change their code to use the unsigned comparison trick, it doesn't always work in loops but in this case it works.

It would be easier for them to change the code not to use `ref`. And it may also improve CQ in the callers.

[code]
generates
[code]

[2017-11-29 09:37] HppZ commented on #12850
@cshung I need your help, please please.

[2017-11-29 12:07] pgodeq commented on #15224
I created a debug build, to capture LOG statements by setting following variables (suggested on other issue comment):
set COMPLUS_LogEnable=1
set COMPLUS_LOGLEVEL=6
set COMPLUS_LogToFile=1
set COMPLUS_LogFile=clr_log.txt

This generates log for all threads activity, which seems to be too much information to analyze.
I tried bifurcating the log for each thread, which still doesn't help much.

@dotn

[2017-11-29 14:31] jkotas commented on #15224
Since the same code works everywhere else, you are probably looking at ARM64-specific low-level race condition (e.g. there can be memory barrier missing somewhere), or memory corruption (e.g. GC hole).

You need to analyze the crash dump to make progress on it.

If you share the crash dump (w/ symbols), others can help you with it.

Also, how long does it take to hit the crash? How deterministic i

[2017-11-29 16:04] jeffschwMSFT opened #15271 "ETW method/jitstarting events for dynamic methods"
Currently ETW method/jitstarting events are not fired for dynamic methods, though the corresponding method/loadverbose are fired.  Having a matching pair of events is important since the start event indicates the IL size, the end event indicates the native size, and the pair provide insight into how long it took to JIT.

[2017-11-29 17:18] TyOverby opened #15273 "Debugging Instructions docs don't say which versions of dotnet core work with lldb"
I've followed the instructions from https://github.com/dotnet/coreclr/blob/master/Documentation/building/debugging-instructions.md and installed llvm-3.9

Typing any SOS command into lldb after attaching to a process causes lldb to segfault.

[2017-11-29 17:20] Buyduck commented on #15074
If I cross comple next c++ program with clang3.9
[code]
With next command:
[code]
__sync_val_compare_and_swap() working wrong:
[code]
And if I build it with clang4.0 - I get the correct result:
[code]

[2017-11-29 17:21] TyOverby commented on #15273
[code]

[2017-11-29 17:22] TyOverby commented on #15273
[code]

[2017-11-29 17:23] TyOverby commented on #15273
I work in building 25.  Please email tyoverby@microsoft.com if an engineer wants to come down and use my machine to do more debugging.

[2017-11-29 17:23] alpencolt commented on #15074
Dump for 3.9:
[code]

for 4.0:
[code]

Difference in one command:
[code]

[2017-11-29 17:31] mikedn commented on #15256
If the workaround I described in #914 is applied to the relevant `Char` methods then the generated code is:
[code]
This is 1.5-2x faster than the original code.

[2017-11-29 18:14] janvorli commented on #15273
@TyOverby the SOS plugin in the 2.0.x runtime requires lldb 3.6. The 2.1.x runtimes require 3.9

[2017-11-29 18:17] TyOverby commented on #15273
Could the wiki be changed to reflect this?

[2017-11-29 18:20] TyOverby commented on #15273
Right now the wiki just says

And doesn't mention anything about older versions of the netcoreapp dll

[2017-11-29 18:24] TyOverby commented on #15273
Ideally there would be a table mapping Net Core App Version => LLDB Version.

[2017-11-29 18:28] janvorli commented on #15273
@TyOverby the page you are referring to is a doc for the current most up to date version. If you want to see how to debug the older versions, just view the same doc for e.g. release/2.0.0 and you'll see the details you need:
https://github.com/dotnet/coreclr/blob/release/2.0.0/Documentation/building/debugging-instructions.md

[2017-11-29 18:29] TyOverby commented on #15273
People searching for "debug dotnet core on linux" won't know to do that.

[2017-11-29 19:51] swgillespie commented on #14915
@jkotas @janvorli

I've been thinking about this (I hit it often when developing) and I've thought of two possible solutions, which differ philosophically on *who* is responsible for dealing with unhandled exceptions:

1. We could change the module check to include the module of a standalone GC, if one is loaded. This check is here: https://github.com/dotnet/coreclr/blob/master/src/vm/excep.cpp#L7

[2017-11-29 19:51] swgillespie commented on #14915
cc @sergiy-k @Maoni0

[2017-11-29 20:58] lt72 commented on #12074
@mikem8361: can you please take a look to this one?

[2017-11-29 21:39] danmosemsft commented on #9474
Work continues on this and much progress was made; however it is not aligned with 2.1 per se.

[2017-11-29 21:39] BruceForstall opened #15280 "ARM testing: enable more GCStress combinations"
The following combinations are currently disabled for arm/armlb/arm64 in netci.groovy. Enable them, to be consistent with other platforms.
[code]

[2017-11-29 21:41] danmosemsft commented on #11874
@agonzalezm this issue is stale a long time, I 'm going to assume it is resolved. Please reopen if not.

[2017-11-29 21:41] #11874 closed

[2017-11-29 21:48] jkotas commented on #14915
Fine with me.

BTW: This is Windows-specific problem. The faults in the libclrgc.so should be turned into process abort on Unix already because of there is no exception handling interop on Unix.

[2017-11-29 21:57] danmosemsft commented on #13789
Moving to CoreFX to track more easily.

[2017-11-29 21:57] custarddog commented on #13789
Issue moved to [dotnet/corefx #25582](https://github.com/dotnet/corefx/issues/25582) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-29 22:02] #13789 closed

[2017-11-29 22:04] danmosemsft commented on #12118
@stephentoub @vancem is there still work here? This is marked 2.1 and I wonder whether it is superseded or should be marked future etc.

[2017-11-29 22:09] BruceForstall commented on #14916
This is partially done: RyuJIT ARM builds now crossgen System.Private.CoreLib.dll using RyuJIT. We still need to test (and automate testing) of crossgen of all framework assemblies.

[2017-11-29 22:11] stephentoub commented on #12118
It's still relevant.

[2017-11-29 22:14] BruceForstall opened #15283 "[RyuJIT/arm32/arm64] Enable ReadyToRun testing in CI"
ReadyToRun testing dotnet/coreclr is implemented in the generated CMD files (on Windows), harnessed by xunit. For arm/armlb/arm64, we use smarty to execute tests. We need to enable ReadyToRun testing for ARM under smarty, or else switch to xunit, including all R2R stress modes currently defined:
[code]

[2017-11-29 22:18] janvorli commented on #15273
@TyOverby I understand your point. The reason I am little hesitant to add that to the doc is that using the lldb + sos plugin for debugging is useful mostly for debugging the native part of the runtime and related stuff in the managed parts of coreclr. If you want to debug just the managed stuff, then the experience will be most likely very painful.
And when you debug the runtime, you most likely

[2017-11-29 22:21] BruceForstall opened #15284 "[RyuJIT/arm32/arm64] Enable corefx testing in CI"
Enable corefx testing for arm/armlb/arm64 in Jenkins CI, specifically these flavors (to be consistent with other platforms):
[code]

[2017-11-29 22:42] BruceForstall opened #15286 "[RyuJIT/arm32/arm64] Enable illink testing"
This has similar issues to https://github.com/dotnet/coreclr/issues/15283: The current illink testing has significant scripting in the generated test wrappers.

Also, need to make sure the ILLINK tool is available on arm32/arm64.

[2017-11-29 22:46] BruceForstall opened #15287 "[RyuJIT/arm32/arm64] Enable additional GC mode testing in CI"
The following GC jobs need to be enabled for arm/armlb/arm64:
[code]

This is similar to #15283 in that the generated test wrappers contain scripting related to this, e.g.:
[code]

[2017-11-29 22:48] ahsonkhan commented on #14097
When span is boxed (or otherwise used incorrectly), the runtime throws the following exception:
[code]

Essentially, this issue is suggesting a more information exception be thrown (see https://github.com/xunit/xunit/issues/1457#issuecomment-330795410).

@RussKeldorph, can you please point me to someone that can help with this?

From: https://github.com/xunit/xunit/issues/1457#issuecomment-3306146

[2017-11-29 23:01] VSadov commented on #14097
You should be getting an error, not a mere warning with the most recent version of Span.
 Notice the `true` argument in the `[Obsolete]`

[code]

[2017-11-29 23:02] VSadov commented on #14097
I do not think this issue is very relevant now.

[2017-11-29 23:17] BruceForstall opened #15289 "[RyuJIT/arm32/arm64] Enable IL asm round-trip testing in CI"
The following job needs to be enabled for arm/armlb/arm64:

[code]

This is a similar issue to #15283.

[2017-11-29 23:22] sergiy-k commented on #14915
I'm fine with Option 1 too.

[2017-11-29 23:45] janvorli commented on #15273
@TyOverby yes, the LLDB + SOS is like windbg + SOS

[2017-11-29 23:45] mikem8361 commented on #15273
Yes, LLDB + SOS should be pretty close in parity with windbg + SOS on Windows.  We will add some more info about what versions of coreclr/lldb/lldbsosplugin work together to the doc.

[2017-11-29 23:50] TyOverby commented on #15273
@mikem8361: I've changed the title of the issue to better reflect the conclusion that we've come to

[2017-11-30 00:00] ahsonkhan commented on #14097
Yep. Updated to the latest runtime `<RuntimeFrameworkVersion>2.1.0-preview1-25929-01</RuntimeFrameworkVersion>` and I see the messages as errors now.

[2017-11-30 00:09] Suchiman commented on #15273
@janvorli is that supposed to work right now? I have lldb-3.9 installed and a project deployed to a raspberry pi 2 with the todays daily SDK build which uses the `2.1.0-preview2-25624-02` runtime.
Then i'm using
[code]

[2017-11-30 00:14] mikem8361 commented on #15273
If the libsosplugin.so you loaded was built or from the 2.1.0 preview runtime, then the problem is probably is lldb on arm.  We have seen some problems with lldb on arm where gdb works fine.  Of course that doesn’t help because gdb doesn’t support extensions like sos.

[2017-11-30 00:29] sdmaclea opened #15291 "JITMinOpts=1 Assertion on LSH w/ negative shift"
When running Arm64 with JITMinOpts=1, the following test is asserting
JIT/Methodical/flowgraph/dev10_bug679955/indexMinusOne/indexMinusOne.sh

My initial analysis indicates the issue is not platform specific.

[code]

When running w/o MinOpts the offending statement is removed.

[code]

With Minopts, the statement remains and the above assert fires.

Offending code is as follows
[code]

The assert

[2017-11-30 00:32] Suchiman commented on #15273
The `libsosplugin.so` was copied as part of
`dotnet publish -c Relase -r linux-arm -f netcoreapp2.1 -o raspberryPi`
Looking closer at `libsosplugin.so`
[code]

[2017-11-30 00:34] cshung commented on #12850
HppZ, can you please share a dump?

[2017-11-30 00:39] sdmaclea commented on #15291
@dotnet/jit-contrib

[2017-11-30 00:54] sdmaclea opened #15293 "[Arm64] JITMinopts=1 GC/LargeMemory/Allocation/finalizertest/finalizertest failing"
GC/LargeMemory/Allocation/finalizertest/finalizertest.sh

[code]

[2017-11-30 01:02] AndyAyersMS commented on #15291
Hmm, I just added this assert.

ECMA-355 doesn't quite come out and say it, but I suspect negative shift values give rise to undefined behavior. Probably going via `canPushCast = false` route is safest here, eg remove the assert and modify the `else` to be `else if (shiftAmount >= 0)`.

[2017-11-30 01:12] #15280 closed

[2017-11-30 01:14] briansull commented on #15291
I believe that whatever the shift amount is (positive or negative) the shifter masks off teh lowest 4 or 5 bits and shift by that amount.  When other bits are set, the result is "undefined" but it shouldn't result in an assert.

App-compat may require us not to disturb this behavior by changing the results.

So to preserve "app-compat" shifting  65 bits would continue to produce the same result as

[2017-11-30 01:40] HppZ commented on #12850
@cshung thank you.
onedrive link: https://1drv.ms/u/s!AuaHm_T1yhYsjhsdbyVcedf0IePb

[2017-11-30 01:43] mikem8361 commented on #12074
.NET Core really doesn't use the registry so I purpose that coreclr uses an environment variable like COMPlus_AeDebug that works like the AeDebug registry key so you could set it to something like ""C:\WINDOWS\system32\vsjitdebugger.exe" -p %ld -e %ld" and end up with similar behavior to the desktop.

The default if the environment variable doesn't exists is the current behavior.

I worry about th

[2017-11-30 01:51] AndyAyersMS commented on #15291
We can avoid the > 64 case too easily enough... guess I'll fix this.

[2017-11-30 02:47] gregg-miskelly commented on #12074
I don't think you want to use an environment variable for this -- this is a system setting, so it should really be in the registry on Windows, and as a configuration file on other OSs.

I would like to suggest that we:
* Use a registry key on Windows
* Do NOT use AeDebug\Debugger, so that we can use a different command line format from native exceptions and so we aren't just launching a native deb

[2017-11-30 04:42] danmosemsft commented on #12074
If you invent a new mechanism I hope there is a way to make it work with existing VS and native debuggers...that should technically work I assume? It is sometimes useful to launch a native debugger possibly to use SOS.

[2017-11-30 04:43] danmosemsft commented on #12074
Perhaps if the new key is not set it can fall back to AeDebug?

[2017-11-30 05:21] gregg-miskelly commented on #12074
No. VS will need to do work to support any .NET Core JIT debugging scheme.

Windbg could do something, but I think it would be a poor trade-off to fall back AeDebug when the 99% case is that it will not work. Just write the new key with the Windbg command line if you want Windbg.

[2017-11-30 05:25] #14915 closed

[2017-11-30 06:56] cod7alex commented on #6136
I would like to give it a try if nobody is looking

[2017-11-30 07:15] 4real commented on #6136
Hello, feel free to take it over, I've just realized how much time this has been resting. My attention has been shifted elsewhere unfortunately and I wouldn't start working on this within reasonable time.

[2017-11-30 09:37] MichalStrehovsky opened #15299 "Define the behavior of ILAsm for unspported features"
The existing behaviors are inconsistent with each other and frustrating at best:

- [ ] Command line argument asking to produce a PDB is silently ignored
- [ ] Command line argument asking to strong name sign an assembly produces an error
- [ ] Security directives (`.permission`) fail with a cryptic error message (`Failed to define security attribute set for 0x20000001`).

ILAsm should either stic

[2017-11-30 16:45] karelz commented on #6136
@cod7alex I sent you Collaborator invite - that will allow to assign the issue to you (GH limitation). Ping me when you accept.
ProTip: Accepting will automatically subscribe you to all notifications. There's plenty (500+ per day). We recommend to disable them and use just notifications for your mentions and explicit subscriptions to issues.

[2017-11-30 17:39] danmosemsft commented on #6136
@cod7alex to restate the above, we typically use [PerfView](https://www.microsoft.com/en-us/download/details.aspx?id=28567) to profile, Benchmark.NET to prove the win (post results here).

To run corefx tests (where most tests are) against changes made in coreclr (where string is) look at https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/developer-guide.md#testing-with-privat

[2017-11-30 17:50] xiaomi7732 opened #15302 "EventPipe doesn't catch ActivityId set by EventSource"
The following issue is reproduced on .NET Core for Linux.

**Reproduce steps:**
1. Enable eventpipe. (referenced control code: https://github.com/dotnet/coreclr/blob/bac965ea8d3977a08257ee6758e14ccda34547e3/tests/src/tracing/common/TraceControl.cs)
2. Set a new activity id for current thread upon EventSource:
[code]
3. Inspect the generated trace log file.

**Expected:** AcitivityID will be on the

[2017-11-30 18:15] sdmaclea opened #15303 "[Arm64] Design Implement Intrinsic Support"
Design and implement intrinsics

category:cq
theme:intrinsics
skill-level:expert
cost:large

[2017-11-30 18:18] sdmaclea commented on #15303
@dotnet/arm64-contrib @dotnet/jit-contrib I plan to begin working on this next week.  Please assign to me.

The approach will probably be phased.  Implementing features as needed.  Please let me know if there are any particular priorities.

[2017-11-30 18:25] cod7alex commented on #6136
thank you @danmosemsft

[2017-11-30 19:06] RussKeldorph commented on #14097
So can this issue be closed?

[2017-11-30 19:47] mikem8361 commented on #12074
@jkotas, would you recommend using a registry key in .NET Core?

[2017-11-30 19:49] BruceForstall commented on #15293
Also fails in arm32, with slightly different output: #14860.

[2017-11-30 19:52] BruceForstall opened #15304 "[RyuJIT/arm32] Make altjit corefx runs clean"
The x86_arm_altjit corefx runs have errors that are not asserts. Fix any issues that prevent these runs from being clean.

For example, we already needed to disable XSLT tests when running the altjit: https://github.com/dotnet/coreclr/pull/14873.

[2017-11-30 19:54] BruceForstall commented on #15304
Current set of corefx jobs with failures:
[code]

[2017-11-30 19:56] VSadov commented on #14097
I think this one can be closed.

C# compiler will prevent misuse of ref-like types that could put them on heap or in generics or in other invalid situations. And we have blocked the use of such types from the old compilers.

There are still ways to get around the compiler restrictions by using `dynamic`, reflection, RefEmit, and so on. Some of these cases seem unlikely and self-inflicted. There is

[2017-11-30 19:57] BruceForstall commented on #15304
Example failures:
[code]

[code]

[2017-11-30 20:02] ViktorHofer commented on #6136
BenchmarkDotNet instructions not yet reviewed available here: https://github.com/dotnet/corefx/pull/25612

[2017-11-30 20:07] jkotas commented on #12074
I assume that this registry key will be set by the VS debugger machine global installer. Is this correct? If it is the case, then I do not see a problem with it.

There are cases where .NET Core depends on machine global state whether it is via registry or by other means. There is not problem with that. The problem is when .NET Core its own SxS state is stored in machine global location.

[2017-11-30 20:28] adiaaida opened #15306 "[Perf][Infrastructure] Move slicing of perf legs in pipeline job to config file"
We want to move the determination of what is run in a particular slice to a config file and out of the groovy code so it can be more easily modified.

1. Have the perf pipeline job spawn N jobs, each of which will execute a slice of total set of tests. Each job knows its slice number (its passed in as a parameter).
2. Check-in a configuration file into the repo that has mapping from slice number t

[2017-11-30 20:32] adiaaida opened #15307 "[Perf][Infrastructure] Add final accountability leg to perf pipeline pr job"
We want to make sure that all slices are within a certain runtime, so we would do something like:

1. During the run of the test, get a start timestamp and end timestamp and write them to a file, which is then stashed.
2. In a final stage, unstash all the timestamp files and parse them in another script.
3. If any test leg was longer than some threshold, fail the job so we know we need to reapport

[2017-11-30 20:35] gregg-miskelly commented on #12074
Correct, the registry key would be set by the VS installer.

[2017-11-30 20:35] BruceForstall commented on #14856
After https://github.com/dotnet/coreclr/pull/15269, the following are the GCStress=C failures:
[code]
https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm_cross_checked_windows_nt_gcstress0xc_tst_prtest/2/

Note that GCStress=C + JitStress=1,2 has slightly different failures:
https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm_cross_checked_windows_nt_gcstress0

[2017-11-30 20:36] adiaaida opened #15308 "[Perf][Infrastructure] Short-circuit perf job to only run on changes where src or test assets have been changed"
We do not want to run the perf job on PRs where src or test assets have not been modified (ie non-pipeline build groovy changes, doc changes, etc). Add short-circuiting to the pipeline job such that if we haven't modified src or test files we do not do the build/test.

[2017-11-30 20:37] BruceForstall opened #15309 "[RyuJIT/arm32][GCStress=3] Failures in GCStress=3 runs"
It's not clear these are JIT bugs or other issues; generally GCStress=3 failures does not imply JIT bugs.
[code]
https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm_cross_checked_windows_nt_gcstress0x3_tst_prtest/2/

[2017-11-30 20:45] lt72 opened #15310 "Fix misnamed DAC"
Current DAC name is incorrectly formatted as
   <LongNameSuffix>_$(LongNamePlatform)_$(LongNamePlatform)_$(MajorVersion).$(MinorVersion).$(BuildNumberMajor).0$(BuildNumberMinor)</LongNameSuffix>

the zero (0) before the minor build number should be removed for debugger/Watson to work properly.

[2017-11-30 20:55] danmosemsft commented on #13688
@tannergooding this should be marked 2.1 .. as Jan pointed out we would not take it in servicing. LMK if you are expecting in servicing.

[2017-11-30 21:03] mikedn commented on #15108
@dotnet/jit-contrib Is anyone familiar with `IndirectAssignmentAnnotation`?

It appears that this annotation is useless. If I change `fgMorphCopyBlock` to not create such annotations there are no framework diffs. At least in corelib, `SsaBuilder` never manages to create a def from these (more than 2000) annotations  because the corresponding local variable has its address taken and thus it is excl

[2017-11-30 21:09] ahsonkhan commented on #14097
Closing this issue.

If there is a desire to make such errors better ...
... then another issue should be logged - specifically to improve the error

@lextm, @stephentoub - let me know if this is still a concern and if you want to see better runtime errors.

[2017-11-30 21:09] #14097 closed

[2017-11-30 21:33] danmosemsft commented on #13688
Re respecting the [STAThread] attribute -- the relevant code seems to be this (in full FX) appdomain.cpp in SystemDomain::ExecuteMainMethod
[code]

In CoreCLR this method does not exist and the correct place to put this code looks like Assembly::ExecuteMainMethod.

That much seems all agreed.

[2017-11-30 21:48] danmosemsft commented on #13688
Currently:
### Main thread:
* On Core, starts off uninitialized, but GetApartmentState returns MTA (should be Unknown). Because it's uninitialized, you can successfully SetApartmentState to STA.
* On Full FX, starts off as specified in attribute, else MTA. GAS returns the value accurately and because it is already initialized you can't SAS to a different value.

### Secondary threads:
* On both pl

[2017-11-30 21:53] tannergooding commented on #13688
You aren't actually starting the thread.

Try:
[code]

It will print:
[code]

[2017-11-30 21:55] tannergooding commented on #13688
The approach to fixing it sounds reasonable to me. I am guessing making it mirror Desktop would be too breaking at this point?

We should ensure the documents are accurately updated as well.

[2017-11-30 22:00] danmosemsft commented on #13688
@tannergooding ah I see. So Unknown should be interpreted as "not CoInitialized" rather than "thread will remain not CoInitialized unless told otherwise". Can't change that now.

Re mirroring desktop, which part -- we should make the attributes work, but per @jkotas above, we don't want to automatically initialize the main thread to MTA in the absence of any attributes. There are no other discrepa

[2017-11-30 22:05] tannergooding commented on #13688
The Main thread, on Desktop, is initialized to `MTA` if there are no attributes. This matches the behavior of additional threads the user creates on both Desktop and Core (when they don't manually call `SetApartmentState` before calling `Start`).

As such, I think having `Core` mimic that makes the most sense (not only does it match Desktop, but it also matches any other thread they explicitly cre

[2017-11-30 22:12] danmosemsft commented on #13688
Right.

[2017-11-30 22:13] danmosemsft commented on #13688
@russellhadley I think you own vm\* - mind if @Anipik does this one as a learning exercise?

[2017-11-30 22:15] lt72 commented on #5660
This work item requires at least a few preliminary explorations and activities
- [ ] frame exactly what is working and what is not working for profiling on *MacOS*
- [ ] define a target and add appropriate test set
- [ ] implement missing features as needed, ELT callbacks being one of them

[2017-11-30 23:10] sdmaclea commented on #15293
For reference `d6e04d3a52` is a recent version which shows this issue

[2017-12-01 00:30] cshung commented on #12850
The dump indicates that you are using .NET native to run the application.
Your module list does not contain coreclr.dll, but it contains mrt100_app.dll instead.

If you are looking for the SOS for the .NET native runtime, this is where you should be able to find it on the computer you have Visual Studio installed.

C:\Program Files (x86)\Microsoft SDKs\Windows Kits\10\ExtensionSDKs\Microsoft.NET.N

[2017-12-01 00:48] sandreenko commented on #14206
Was fixed by #14914.

[2017-12-01 00:48] #14206 closed

[2017-12-01 01:11] ahsonkhan commented on #15096
@jashook, I see #15230 got merged. Has the issue been resolved?

[2017-12-01 01:24] jashook commented on #15096
This issue is still open, I have a few changes being tested in a different branch: dev/unit_test_workflow.

[2017-12-01 01:49] HppZ commented on #12850
@cshung
Yes, and then I found NestedExceptionType is 0 and NestedException  is null.

[2017-12-01 02:21] MohanVijayakumar commented on #13542
Had a same problem on vm server debian 8.
.Net core sdk installed version was 2.0.2 . on server and published version from windows machine is 2.0.3
After doing **apt-get install .net-sdk-2.0.3** on server my problem was solved

[2017-12-01 03:17] crozone opened #15316 "DateTimeParse.Parse lacks full ISO8601 support"
`DateTimeParse.Parse()` (which powers `DateTime.Parse()` and `DateTimeOffset.Parse()`) currently only partially supports the ISO8601 standard. ISO8601 is heavily used in industry and having greater support for it significantly increases the usability of the `DateTime.Parse` methods.

Currently, the bits of ISO8601 that are supported are:

* Sortable date/time pattern ("s"). **2009-06-15T13:45:30**

[2017-12-01 07:19] dotnet-mc-bot opened #15318 "Test failure: baseservices_threading._generics_Monitor_TryEnter01_TryEnter01_/_generics_Monitor_TryEnter01_TryEnter01_cmd"
Opened on behalf of @Sunny-pu

The test `baseservices_threading._generics_Monitor_TryEnter01_TryEnter01_/_generics_Monitor_TryEnter01_TryEnter01_cmd` has failed.

    Unhandled Exception: System.Threading.SynchronizationLockException: Object synchronization method was called from an unsynchronized block of code.\r
       at System.Threading.Monitor.Exit(Object obj)\r
       at TestHelper.ConsumerT

[2017-12-01 07:21] #14995 closed

[2017-12-01 07:21] #14996 closed

[2017-12-01 08:02] tmds commented on #14991
@swgillespie Thanks for taking time to explain these things.

When I start a 100MB container on a 64-bit system, it doesn't crash. So the runtime is not actually trying to ensure those amounts of memory are available.

I've been looking a bit in gc.cpp, one function caught my attention because it is using `GetPhysicalMemoryLimit`:
[code]

There are two things I find interesting here:
* Workstation

[2017-12-01 09:42] Happi-cat commented on #12098
Hi! Trying to use lldb for netcoreapp2.0 debugging on odroid-xu3 device (linux, armv7). Which version of lldb should I use?  The problem is when Ive tried to use 3.9 got a segfault, when Ive tried to use 3.6 got a message:
dlopen(./libsos.so) failed ./libsos.so: undefined symbol: g_diagnostics

[2017-12-01 11:38] ans-ashkan opened #15319 "Different code behavior in Release and Debug mode."
Executing the following code:

[code]
The result in Debug mode is: 100,100,100,100,100 but in Release mode is: 100,100,100,100,0

Tested on .net framework 4.7.1 and .net core 2.0.0

Also posted to Stack Overflow (https://stackoverflow.com/questions/47591915/why-code-behavior-is-different-in-release-debug-mode).

[2017-12-01 12:33] mgravell commented on #15319
(comment aimed at the repo maintainers, not OP)  for categorisation: this looks to be a recent RyuJIT bug; see the answer on the SO question for context.

[2017-12-01 12:45] mikedn commented on #15319
The code generated for the first for loop is busted:
[code]
Where `N - Old.Length + i` should be we instead have `0 + i`. `N - Old.Length` is computed and stored in `ebx` only after that loop.

[2017-12-01 13:03] jeroen-mostert commented on #15319
If `FillTo1` is modified to this:

[code]

and called with `FillTo1(ref ar, ref ar, 5);` the problem disappears. It reappears when `dx` is changed to `dd`. The only IL difference in that case is `ldarg.1` vs. `ldarg.0`.

[2017-12-01 13:14] mikedn commented on #15319
If you want a workaround the best one is to stop using `ref`. Not only that it avoids the bug but it also results in slightly better code being generated. Something like:
[code]

[2017-12-01 13:25] equiman opened #15320 "ConsoleColor.White isn't white on macosx"
I'm working in a console project in dotnet core.
But white color on mac is represented as lighter gray and not as white color.

Example img: https://ibb.co/kKoXPb
1) is background color in terminal by default.
2) is `Console.BackgroundColor = ConsoleColor.White; ` but is represented as lighter gray.

I'm using default terminal application on macos.

$> dotnet --version
2.0.0

$> sw_vers
ProductNam

[2017-12-01 14:10] ans-ashkan commented on #15319
@mikedn just reported to help getting this bug fixed.
There are multiple workarounds including Console.WriteLine(), Thread.Sleep(1), declaring var len=Old.Length and using len instead of Old.Length everywhere and not using ref as you mentioned.

[2017-12-01 14:17] jkotas commented on #15320
This issue was moved to dotnet/corefx#25634

[2017-12-01 14:17] #15320 closed

[2017-12-01 14:55] pgodeq commented on #15224
I have collected the crash dump and I will share it across.
The crash is deterministic and happens when wrk is executed with 16 threads and 16 connections.
We execute 'wrk' for total 60 seconds, and the crash is observed after 6 seconds or so.

[2017-12-01 15:19] mikedn commented on #15319
A rather interesting bug.

Loop hoisting creates a copy of `N - Old.Length` in the pre-header of the first loop to allow CSE to pick it up. This copy is almost dead, its result is not used anywhere at this point. But it can't be removed during morphing because `Old.Length` has an exception side-effect.

The second loop is turned into a do/while loop and in the process a copy of loop's condition -

[2017-12-01 16:41] RussKeldorph commented on #15243
@janvorli FYI.  Not sure where this lands.  Feel free to change area.

[2017-12-01 16:53] AndyAyersMS commented on #15319
Looks like CSE#03 `N - Old.Length` has *two* defs and has uses of CSE#02 `Old.Length` nested inside. When CSE#02 is processed we decrement def counts for the first def of CSE#03ut we don't do this same decrement for the second def.

So after processing CSE#02, CSE#03 still looks viable despite its def having been removed, and things go off the rails there.

Some possible fixes:
*  do not remove CS

[2017-12-01 17:00] mikedn commented on #15319
In this particular case it seems that we should not remove the def because doing so defeats loop hoisting.

[2017-12-01 17:08] RussKeldorph commented on #12176
Fixed by dotnet/buildtools#1558 after we picked up the right buildtools version.

[2017-12-01 17:08] #12176 closed

[2017-12-01 17:11] RussKeldorph commented on #12268
Duplicate of #12176.

[2017-12-01 17:11] #12268 closed

[2017-12-01 17:16] alpencolt commented on #15150
There is the same error on Linux.
Could you assign this issue to me?

[2017-12-01 17:36] mikedn commented on #15319
Or perhaps postpone morphing until CSE is complete? It's not clear why should the same statement be morphed multiple times (apart from wasting cycles...)

[2017-12-01 18:00] RussKeldorph commented on #12276
Deferring this to dotnet/buildtools#1709

[2017-12-01 18:00] #12276 closed

[2017-12-01 18:06] RussKeldorph commented on #12386
@MattGal Please reopen if I misunderstood and this hasn't been superceded by ProdCon work.

@jashook

[2017-12-01 18:06] #12386 closed

[2017-12-01 18:11] MattGal commented on #12386
I think that's reasonable; as long as your Run.sh calls into the common bootstrapping code and we make sure that said script/whatever does "the right thing" in the case of an incomplete install (not super hard... i.e. use some kind of file semaphore and only clear this when we can actually run the tools as restored)

[2017-12-01 18:12] swgillespie commented on #14991
@tmds The runtime reserves (in the virtual memory sense) that amount of memory on startup. Linux is happy to hand out 4GB of virtual address space on startup even if your container has a 100MB resident memory limit; it'll only complain when your resident set starts bumping up against 100MB.

It is really interesting to me that workstation GC doesn't ever look at `GetPhysicalMemoryLimit`, though; t

[2017-12-01 18:20] dagood commented on #12386
@MattGal Is this reply on the right thread? It sounds like you're talking about init-tools rather than disabling publish.

[2017-12-01 18:20] RussKeldorph commented on #12394
I assume this is no longer an issues.  Please re-open if it is.

[2017-12-01 18:20] #12394 closed

[2017-12-01 18:21] tmds commented on #14991
@swgillespie thoughts on this?

[2017-12-01 18:21] swgillespie commented on #14991
@tmds That's what I'm saying here:

[2017-12-01 18:23] mburbea commented on #15316
Also of note is lacking support for `24:00:00`. Which is an alternative form of midnight.
E.g. `2009-06-15T24:00:00Z` currently throws an exception.

[2017-12-01 18:26] MattGal commented on #12386
This is totally the wrong thread.  Russ closed a different thing about bootstrapping shortly before, I ... haven't had enough coffee.  Regardless, we've already solved this in better ways since since June there's support for conditional build steps, so between that and the transport feeds this can totally be closed.

[2017-12-01 18:49] AndyAyersMS commented on #15319
Looks like just not removing statements during CSE is the way to go; it is simple and doesn't have much CQ impact. Also should easily backport to 2.0... Will have a PR up in a sec.

[2017-12-01 18:53] RussKeldorph commented on #12548
I believe this is dotnet/cli#296.  Feel free to open this issue in that repo if you disagree with the earlier conclusion.

[2017-12-01 18:53] #12548 closed

[2017-12-01 18:56] tmds commented on #14991
What are typical values of `GetLargestOnDieCacheSize(TRUE/FALSE)`?

[2017-12-01 18:58] mikem8361 commented on #12098
If you are using version 2.0.x of coreclr/.NET Core, then the libsosplugin.so will only work/load with lldb 3.6.

If you are using/building 2.1 of coreclr (from the master branch) or one of the 2.1.0-preview's, then it you need to use lldb 3.9.

What command exactly are you using to load sos? libsos.so is loaded by libsosplugin.so which should be loaded with the "plugin load libsosplugin.so" comma

[2017-12-01 19:00] RussKeldorph commented on #12989
Please re-open if this is still an issue.

[2017-12-01 19:00] #12989 closed

[2017-12-01 19:02] #13025 closed

[2017-12-01 19:03] BruceForstall opened #15325 "[RyuJIT/arm32][JitStress=1] Assertion failed '((consume == 0) && (produce == 0)) || (ComputeAvailableSrcCount(tree) == consume)'"
In the CoreFX x86_arm_altjit JitStress=1 test run:

[code]

https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x86_arm_altjit_checked_windows_nt_corefx_jitstress1/29/consoleText

Same assert: #14542

[2017-12-01 19:13] RussKeldorph commented on #13173
@ChadNedzlek Is this still a problem?  I can't find 16.10 builds anywhere, but I may not be looking in the right place.

@weshaggard @danmosemsft

[2017-12-01 19:14] tmds commented on #14991
e.g. if this is 45MB, then a container with 1 CPU (GetLogicalCpuCount) and 100MB (GetPhysicalMemoryLimit) will have Workstation gen0 of 36MB and Server gen0 of 22.5MB.

[2017-12-01 19:14] Happi-cat commented on #12098
@mikem8361 I'm using netcore 2.0.2

Here is how I'm running lldb with a dump from my app:
[code]

[2017-12-01 19:19] RussKeldorph commented on #13623
Please re-open if there is something actionable on this issue.

[2017-12-01 19:19] #13623 closed

[2017-12-01 19:20] swgillespie commented on #14991
@tmds I just tried it on the beefiest machine I could find and got 30MB for `GetLargestOnDieCacheSize(TRUE)`. Also I'm realizing that I typo'd 256k above, I'm pretty sure the above units are megabytes, so max of 256mb (which jives with the table in one of my earlier comments).

[2017-12-01 19:21] RussKeldorph commented on #13671
@wtgodbe Are you still planning to handle this?  If not, could you describe the necessary work and remove your assignment?

[2017-12-01 19:21] sdmaclea opened #15328 "[XARCH] Verify crossgen traps SIMD code"
The intent is for SIMD codegen to be deferred during crossgen.

Audit of current SIMD code indicates SIMD is disabled during crossgen.  However, it is not clear if the SIMD candidate code is properly being trapped to defer generation.

Verify functionality is correct.

@CarolEidt

[2017-12-01 19:24] RussKeldorph commented on #13726
It's not obvious the benefit is worth the cost unless we can replace an existing let.  CentOS7.1 maybe?

[2017-12-01 19:29] wtgodbe commented on #13671
I am not, but I believe all that would be required is to add a build on a OpenSUSE42.2 docker image in this file - https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_git/DotNet-BuildPipeline?path=%2Fsrc%2FPipeBuild%2FPipeBuild%2Fpipelines.coreclr.release.1.1.0.json&version=GBmaster&_a=contents

As well as making sure everything builds as expected on that image.

[2017-12-01 19:30] brianrob commented on #13726
@RussKeldorph, are you just saying that you don't want to increase cost on the CI per-PR, and that you'd rather just replace an existing Ubuntu leg with RHEL?  If so, that would seem fine to me.  I think we should have some reasonable per-distro coverage - it doesn't have to be "add every distro to the CI", but we should at least be covering the distro that we build on so that we can catch build i

[2017-12-01 19:32] tmds commented on #14991
I'm not sure, I think GetPhysicalMemoryLimit is a value in bytes.

I don't think they are related. The table values are in the INITIAL_ALLOC and LHEAP_ALLOC defines which get adjusted for processor count in get_valid_segment_size.

[2017-12-01 19:47] leculver opened #15330 "[Watson] Reliability crash in coreclr.dll!ClassLoader::AddAvailableClassHaveLock"
There is a crash accounting for 69.5% of our external failures in this callstack:
[code]

Despite the blamed symbol in the title, I suspect we have an issue where NGEN hashtable is corrupted.  We've seen concurrency issues here before (and recently).  It's also possible that the image was corrupted on disk, so it will be difficult to figure out which case is the root cause.

Here is a link to the

[2017-12-01 19:48] briansull commented on #15319
We do the re-morphing after introducing a CSE def so that the assignment flag gets set correctly for the new tree.

[2017-12-01 19:52] mikedn commented on #15319
`GTF_ASG`? Can't `gtUpdateSideEffects` be used instead of morphing?

[2017-12-01 19:56] leculver opened #15331 "[Watson] Reliability crash in coreclr.dll!PEFile::LoadAssembly"
There is a crash accounting for 18.5% of our external failures in this callstack:
[code]

I have not dug deeply into this issue.  I have requested heap dumps be collected for this bucket.

You can find the Watson bucket here:  https://watson/Failure?FailureSearchText=51ff1255-3178-91e0-9571-43a1f7add6b2

[2017-12-01 20:02] briansull commented on #15319
Maybe but that function is a more recent addition, and we need to update all the way up to the top of the tree.  When we have a tree with nested CSE we need the assignment flag to preserve the prior CSE defs.

[2017-12-01 20:06] swgillespie commented on #14991
Yeah, I don't know for sure. At any rate, I do think it's weird to not look at the physical memory limit at all when using workstation GC; Maoni probably has some thoughts too on that.

[2017-12-01 20:29] RussKeldorph commented on #13970
@adiaaida per #14886 should this issue be closed?

[2017-12-01 20:32] RussKeldorph commented on #14278
Feel free to re-open if the resolution is not satisfactory.

[2017-12-01 20:32] #14278 closed

[2017-12-01 20:38] adiaaida commented on #13970
Yes. This looks like the only way we are going to be able to do this for now, so it will stay, and this can be closed.

[2017-12-01 20:38] #13970 closed

[2017-12-01 20:38] RussKeldorph commented on #14348
I don't think there's enough information for us to reproduce this.  If it's still a problem, please provide more details.  If you just want the coreclr tests, they are constantly built in our CI system and can be downloaded from there; for example: https://ci.dot.net/job/dotnet_coreclr/job/release_2.0.0/job/debug_windows_nt_bld/

Choose the latest successful job and select the Build Artifacts link

[2017-12-01 20:38] #14348 closed

[2017-12-01 20:52] RussKeldorph commented on #13726
@brianrob I was suggesting replacing CentOS7.1 since that is closer to RHEL than Ubuntu.  I personally don't know enough about the various distros and distro versions to have an impression of the "right mix" for our PR-triggered jobs.  What I do understand is that we would like to limit the number of PR-triggered CI jobs to control resource costs and reduce the chance of spurious failures.

So I s

[2017-12-01 21:03] RussKeldorph commented on #14884
@dotnet/coreclr-contrib @dotnet/jit-contrib @janvorli I may not fully understand, but I assume this would increase the maintenance burden of cmake project files.  Can you guys vote (👍, 👎) on the initial comment for whether you would like @4creators to proceed?

[2017-12-01 21:14] RussKeldorph commented on #5784
Need to revisit this once we get the Unix test build sorted.

[2017-12-01 21:17] sdmaclea commented on #14332
I have run JitStress1, JitStress2, JITMinOpts.  All discovered SIMD issues have PRs.

GC stress 0xF also looks good.

I have uploaded the final optimization (getItem containment) planned for this initial implementation.

I expect to transition to working on intrinsics.  Let me know if there are any other issues I missed.

[2017-12-01 21:19] RussKeldorph commented on #10181
Closing as I suspect this may be addressed by upcoming cleanup work and, at any rate, doesn't seem to have caused many problems thus far.

[2017-12-01 21:19] #10181 closed

[2017-12-01 21:26] jcagme opened #15333 "CoreCLR build: Setup Dumpling in CoreCLR Linux builds"
@karajas commented on [Fri Nov 10 2017](https://github.com/dotnet/core-eng/issues/2074)

This would help use diagnose any seg faults that we see happening in coreclr builds. The Linux builds happen in Docker and get copied to the staging directory adjacent to the source directory on the VSTS build agent.

@DrewScoggins

---

@maririos commented on [Thu Nov 30 2017](https://github.com/dotnet/core-e

[2017-12-01 21:27] jcagme opened #15334 "CoreCLR build: Ensure all paths follow a pattern."
@karajas commented on [Fri Nov 10 2017](https://github.com/dotnet/core-eng/issues/2075)

This includes
 - All file paths should be fully qualified through msbuild.
 - Publishing search paths should be standardized on.
 - Publishing urls should follow a agreed upon schema.

[2017-12-01 21:27] RussKeldorph commented on #11621
@jcagme @karajas @chcosta Is this dotnet/core-eng#2079?

[2017-12-01 21:27] jcagme opened #15335 "CoreCLR build: Deprecate unused variables used in the build"
@karajas commented on [Fri Nov 10 2017](https://github.com/dotnet/core-eng/issues/2076)

This would include
- defaults in each leg where the value should be coming in from pipebuild
- publish.proj, syncAzure.proj
- Conditions that can be handled by VSTS conditions.
- dead variables in pipebuild and build legs

---

@karajas commented on [Fri Nov 10 2017](https://github.com/dotnet/core-eng/issues/2

[2017-12-01 21:41] chcosta commented on #11621
Yes, it's similar.  @karajas  is looking at utilizing the VSTS feature for process cleanup which should be available for investigation starting next week (12/4).  Karthik, do you want to close this as a duplicate?

[2017-12-01 21:43] karajas commented on #11621
Sounds good to me. Will update this, when the rollout is complete.

[2017-12-01 21:43] #11621 closed

[2017-12-01 21:44] sdmaclea commented on #15328
Testing with `ARM64` SIMD in #14633 showed that enabling FeatureSIMD in Zapper was sufficient to enable SIMD code generation.  No trap to disable zapper codegen was found.

@CarolEidt was also unable to find the trap which disabled crossgen of XARCH code.

@dotnet/jit-contrib FYI

[2017-12-01 21:45] RussKeldorph commented on #11682
#12114 was not included in v2.0.0-preview2 as far as I can tell, so a break would be expected.  It does appear to be in v2.0.0.

[2017-12-01 21:45] #11682 closed

[2017-12-01 21:47] RussKeldorph commented on #11729
@jorive @adiaaida @DrewScoggins Has this been fixed?

[2017-12-01 21:48] janvorli commented on #14884
@RussKeldorph you are right it would increase the maintenance burden, but I don't think it would be a significant increase due to the fact that it is very rare to add or remove a header to coreclr. But the issue I have with it is that it would bloat the CMakeLists.txt files. Especially in cases where the list of files compiled depends on target architecture and also whether we build debugger DAC s

[2017-12-01 21:54] RussKeldorph commented on #12782
- [ ] Move the baseline CoreFx jobs ([example](https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_windows_nt_corefx_baseline/)) to root
 - [ ] Make one or CoreFX job PR-triggered
 - [ ] Delete CoreMangLib tests
 - [ ] Profit

[2017-12-01 22:03] jkotas commented on #12782
The current CoreFx jobs are fragile. They fail when  CoreFX gets out of sync - it relatively often by design, or when regression sneaks into CoreFX. I do not think we want to be building upon fragile solutions like that.

I think what needs to happen before the above steps is:
[ ] CoreFX official builds should produce package with CoreFX test binaries
[ ] CoreCLR repo consumes this test package vi

[2017-12-01 22:06] RussKeldorph commented on #13798
@weshaggard @chcosta Can you comment on the right way to fix this--assuming it's still a problem?

[2017-12-01 22:07] AndyAyersMS commented on #15328
The block is in `MethodTableBuilder::CheckIfSIMDAndUpdateSize` but it is conditionally compiled under ```C++
#if defined(_TARGET_X86_) || defined(_TARGET_AMD64_)
[code]

[2017-12-01 22:08] #15291 closed

[2017-12-01 22:09] weshaggard commented on #13798
Renaming or removing the src folder would seem to be the right way to fix this. We definitely still see this issue get hit from time to time so I think it is worth fixing these transport packages to make them not look like symbol packages.

[2017-12-01 22:17] RussKeldorph commented on #14686
@mmitche Could you close if there is nothing actionable here?

[2017-12-01 22:18] #14686 closed

[2017-12-01 22:21] Auersberg commented on #14968
Dllmap? Nope.
https://github.com/dotnet/coreclr/issues/930

[2017-12-01 22:22] sdmaclea commented on #15328
@AndyAyersMS Thanks

It looks like that handles the `Vector<T>` case.  That seems to be the only place `IDS_EE_SIMD_NGEN_DISALLOWED` is used in a `throw`.  How are the `Vector3` et. al cases being handled?

For ARM64, the `Vector<T>` size does not need to change as it is always 16 bytes.  It looks therefore like the code does not need to change.  (At least until Scalable Vector Extension support i

[2017-12-01 22:23] RussKeldorph commented on #9918
@jashook ...in case this goes away with new Unix workflow.

[2017-12-01 22:33] ChadNedzlek commented on #13173
Someone's probably already done it in the last 4 months... I'm not sure who though (I can't figure out what controls what platforms are built)

[2017-12-01 22:35] RussKeldorph commented on #13798
@weshaggard Does that imply a fix to buildtools?  Can we rename `src` to `sources` [here](https://github.com/dotnet/buildtools/blob/2bd3c49e2ace5f8d9130ff07d4c7cefd033f7e64/src/Microsoft.DotNet.Build.Tasks.Packaging/src/PackageFiles/Packaging.targets#L497) or do we need to make it configurable so CoreCLR can override it?

[2017-12-01 22:36] RussKeldorph commented on #13798
@weshaggard Oops I misread: should we add an option to have CoreCLR opt out of this buildtools behavior or can we remove it altogether?

[2017-12-01 22:37] weshaggard commented on #13798
@dagood would be in a better place to answer that question, but if we may need to provide an opt-out in buildtools if one doesn't already exist.

[2017-12-01 22:42] CarolEidt commented on #15328
Thanks @AndyAyersMS - I had forgotten that it was in `MethodTableBuilder`.

Those cases are not being trapped, as their sizes don't change.

Yes, I think that's correct - it should be fine as-is until such time as we have different sized vectors on ARM64.

[2017-12-01 22:42] CarolEidt commented on #15328
@sdmaclea - I think we can close this now?

[2017-12-01 22:45] sdmaclea commented on #15328
However during crossgen, SIMD code is not being generated since the feature is disabled during XARCH crossgen.

[2017-12-01 22:46] RussKeldorph commented on #12782
@jkotas Fair enough, though arguably the fragility should be addressed regardless of this issue.  My understanding is that your solution doesn't address some of the "by design" breaks, though.  I believe we'd actually need a staging branch of CoreFx where breaking changes can be made, and have CoreCLR's tests depend on that rather than master.  Producing packages for that branch may be more comple

[2017-12-01 22:46] sdmaclea commented on #15328
This can be closed if you are OK with the suboptimal crossgen

[2017-12-01 22:49] CarolEidt commented on #15328
Right - I don't recall for sure, but I believe that's to avoid mixing AVX and SSE encodings (though that remains an issue for other floating point code, just not as significant).

I'm not sure I would call it "suboptimal" crossgen; rather, it's avoiding suboptimal crossgen IMO.

[2017-12-01 22:53] sdmaclea commented on #15328
OK, I thought you would want to trap `Vector3` et al crossgen too, to enable SIMD optimization of these methods within crossgen assemblies.

Closing since this is not considered an issue

[2017-12-01 22:53] #15328 closed

[2017-12-01 22:57] #15259 closed

[2017-12-01 22:58] #14830 closed

[2017-12-01 22:59] jkotas commented on #12782
The per-PR Windows legs do not have this fragility today. And we are fixing this fragility for the per-PR Unix legs. My point was that it would be pretty unfortunate to introduce this fragility again across both Windows and Unix.

I do not think we would need staging branch. We do not have staging branch for CoreFX product binaries either. The CoreFX test package would be always the same version a

[2017-12-01 23:07] dagood commented on #13798
I think BuildTools needs new functionality. Maybe some logic starting from this part of the code to exclude anything in `src/` (or put it in `sources/`)?
https://github.com/dotnet/buildtools/blob/2bd3c49e2ace5f8d9130ff07d4c7cefd033f7e64/src/Microsoft.DotNet.Build.Tasks.Packaging/src/NuGetPack.cs#L171-L176

@chcosta might have some other ideas here.

[2017-12-01 23:29] RussKeldorph commented on #12782
Yes, I understand there is a clear dependency of this issue on stabilizing the corefx jobs in order to change the PR triggers.  Sorry that wasn't clear and thank you for pointing that out.  I just meant to say that stabilizing corefx jobs ought to be its own issue for other reasons.

I think there may be multiple features we need to add to the CoreFx test harness in addition to packaging them.  Fo

[2017-12-01 23:41] RussKeldorph commented on #12782
Also, if we don't need the staging branch, then I believe we could achieve the proposed stability today by simply making the current CoreFX jobs discover the commit corresponding to the CoreFX product packages and use that instead of tip.  Inability to selectively disable tests and time wasted building tests would need to be addressed, though.

I'm not saying we shouldn't package the CoreFX tests;

[2017-12-01 23:46] jkotas commented on #12782
Agree that there are options. I would love to be in a place where we have consistent solution for both CoreFX product binaries and CoreFX tests (if we use package for one, we should use package for the other; if we use build from source for one, we should use build from source for the other).

[2017-12-01 23:56] #14548 closed

[2017-12-02 00:38] BruceForstall commented on #15249
Now fixed.

[2017-12-02 00:38] #15249 closed

[2017-12-02 00:39] brianrob commented on #13726
Gotcha.  I'm OK replacing CentOS7.1 with RHEL.

@dpodder, do you happen to remember the specifics of the issue and whether or not CentOS7.1 would have caught the issue or if it is RHEL specific?  I'm also wondering if the problem might be that even if we use RHEL or CentOS that the config is different (and doesn't change in lockstep) with the official builds.  Do you happen to remember the issue?

[2017-12-02 01:29] janvorli commented on #15074
@alpencolt the code generated by 3.9 is clearly wrong. But it is really strange that our tests on arm would not be crashing left and right with such a bug. What is the exact version of clang - is it 3.9 or 3.9.1? `clang --version` will show.

[2017-12-02 01:36] mikem8361 commented on #12098
Can you zip up your “MyApp” directory and post it to this issue?  It looks like it has the core dump and the 2.0.2 runtime binaries like libsos.so and libmscordaccore.so.

[2017-12-02 01:52] dpodder commented on #13726
I don't remember the specifics of what broke, but the problem is that we didn't test the config that the official Linux builds were using. We were using RHEL to build release bits to ship almost all distros, yet we weren't testing that config at all (only checked or debug, IIRC).

CentOS might not be the best choice to remove if the build for it is still separate like it used to be. Ubuntu release

[2017-12-02 05:34] jkotas commented on #14682
No repro instructions - closing. Please reactive if it is still a problem.

[2017-12-02 05:34] #14682 closed

[2017-12-02 05:50] #12957 closed

[2017-12-02 05:57] jkotas commented on #12826
If these fields contain pointers to unmanaged resources, reainitializing them will cause leaks, crashes or hangs. This methods would be pretty dangerous to use on arbitrary types. Not a a good candidate for a public framework method.

I agree with @kskjer suggestion to use instantiable configuration class in situations like these. It is a much cleaner solution.

[2017-12-02 05:57] #12826 closed

[2017-12-02 05:58] jkotas commented on #11861
Fixed by  #11886.

[2017-12-02 05:58] #11861 closed

[2017-12-02 06:10] jkotas commented on #5561
The current RPi instructions are at: https://github.com/dotnet/core/blob/master/samples/RaspberryPiInstructions.md .  It has been running on my RPi3 just fine.

[2017-12-02 06:10] #5561 closed

[2017-12-02 06:46] jkotas commented on #764
Operators == and != were added back to System.Type in .NET Core as part of .NET Standard 2.0 work.

[2017-12-02 06:46] #764 closed

[2017-12-02 06:53] jkotas commented on #10183
Duplicate of dotnet/core-setup#1599

[2017-12-02 06:53] #10183 closed

[2017-12-02 07:00] jkotas commented on #808
Packages for many different Linux distros are available now: https://www.microsoft.com/net/learn/get-started/ (official releases), https://github.com/dotnet/core-setup (nightly builds).

[2017-12-02 07:00] #808 closed

[2017-12-02 07:05] jkotas commented on #642
We have no plans to support secure sandboxing in .NET Core that would allow running arbitrary untrusted code.

AppDomain.UnhandledException event was added back in .NET Core 2.0.

[2017-12-02 07:05] #642 closed

[2017-12-02 07:13] jkotas commented on #412
Very open ended proposal. Closing for lack of traction.

[2017-12-02 07:13] #412 closed

[2017-12-02 07:20] jkotas commented on #1015
https://github.com/dotnet/corefxlab/blob/master/docs/specs/span.md is coming in .NET Core 2.1.

Sorry, it does not let you interpret one array as a different array. We did not find any reasonable way how to make that work.

[2017-12-02 07:20] #1015 closed

[2017-12-02 07:24] jkotas commented on #816
Not relevant anymore. These instructions have been done number of times since this issue was opened.

[2017-12-02 07:24] #816 closed

[2017-12-02 07:27] jkotas commented on #1190
This issue was moved to dotnet/corefx#25650

[2017-12-02 07:27] #1190 closed

[2017-12-02 07:31] jkotas commented on #1122
Fixed by #15300

[2017-12-02 07:31] #1122 closed

[2017-12-02 07:34] jkotas commented on #972
Fixed by #9726

[2017-12-02 07:34] #972 closed

[2017-12-02 07:44] #978 closed

[2017-12-02 07:50] #1556 closed

[2017-12-02 07:56] jkotas commented on #2255
Cross-compilation for arm64 works fine now (enabled in CI). Using clang3.8.

[2017-12-02 07:56] #2255 closed

[2017-12-02 08:43] jkotas commented on #11041
Fixed by https://github.com/dotnet/coreclr/pull/14683/commits/f75e211ded5c832611f140c0f4ed710425c73772

[2017-12-02 08:43] #11041 closed

[2017-12-02 08:46] #10385 closed

[2017-12-02 08:47] jkotas commented on #9912
Shipped this way. No plans to change it.

[2017-12-02 08:47] #9912 closed

[2017-12-02 08:52] jkotas commented on #2007
This issue was moved to dotnet/corefx#25651

[2017-12-02 08:53] jkotas commented on #13340
This issue was moved to dotnet/corefx#25652

[2017-12-02 08:53] #13340 closed

[2017-12-02 09:04] ilexp commented on #1015
No problem, have been following Span and it turned out pretty awesome from what I can see. Looking forward to it!

[2017-12-02 09:10] #12111 closed

[2017-12-02 09:19] jkotas commented on #10998
This is only problem with the non-shipping corerun host used for CoreCLR testing. The shipping dotnet host works fine:

[code]

[2017-12-02 09:21] #8403 closed

[2017-12-02 09:24] #3174 closed

[2017-12-02 09:26] jkotas commented on #3174
Many different Linux distros are supported now: https://www.microsoft.com/net/learn/get-started/linuxredhat

[2017-12-02 09:29] jkotas commented on #13357
.NET Core produces more precise results.

[2017-12-02 09:29] #13357 closed

[2017-12-02 09:54] cod7alex commented on #6136
@ViktorHofer this guide is very helpful, i was able to run benchmark.
First thing i have done was to use stackalloc for int array when string length is less than 512.
Results for benchmark that does 10000 string splits are the following:

Nightly corefx:
[code]
|           Method |      Mean |     Error |    StdDev |      Gen 0 | Allocated |
|----------------- |----------:|----------:|----------:|

[2017-12-02 11:41] alpencolt commented on #15074
@janvorli I use 3.9.1:
[code]
3.8.1 works well as 3.9.1 with `-01`. `sbcs  ip, r5, r3` is being inserted only in `-O0` mode. I can report this bug to LLVM but not sure that it will be fixed soon.

@Buyduck could you check your version?

[2017-12-02 17:04] jkotas commented on #1674
I suspect that the problem in dotnet/roslyn#5238 was missing System.Reflection.TypeExtensions assembly. I am not able to reproduce the problem.

BTW: We are working on a new standalone IL verifier at: https://github.com/dotnet/corert/tree/master/src/ILVerify

[2017-12-02 17:04] #1674 closed

[2017-12-02 17:05] jkotas commented on #2005
This issue was moved to dotnet/corert#5060

[2017-12-02 17:05] #2005 closed

[2017-12-02 17:06] jkotas commented on #2005
This should get addressed by https://github.com/dotnet/corert/tree/master/src/ILVerify project.

[2017-12-02 17:13] AndyAyersMS commented on #15319
Reopening since we should port this to 2.0 servicing.

[2017-12-03 00:07] jeremyVignelles commented on #15163
Hi,
As promised, I'm coming back here with results of my explorations.
Thanks to your tips, I managed to do interops for linux x86/x64. My work is open source at https://github.com/jeremyVignelles/va-list-interop-demo . If you have time, I'd appreciate that you could tell me if it's totally bullshit or not. It is mostly based on experiments, and I don't know the conditions under which it works.

T

[2017-12-03 05:32] jkotas commented on #8224
Fixed by #8396.

[2017-12-03 05:32] #8224 closed

[2017-12-03 05:39] jkotas commented on #15163
The MarshalToManagedVaList / MarshalToUnmanagedVaList methods are left overs from .NET Framework managed C++ support (#659). I do not think they are really used in .NET Core.

Thank you for your offer to contribute to CoreCLR. Could you please clarify what you would like to add support for exactly? A good way to clarify it would be to show a C# code snippet that will demonstrate what one will be a

[2017-12-03 08:56] jeremyVignelles commented on #15163
Ok, thanks for the clarification.
Just thinking out loud, I'd like something like this to exist, in a wonderful world:
`void LibvlcCallback(IntPtr data, int level, IntPtr logContext, string format, VaList args)`
I don't know if that VaList would be usable in .net, but the idea is to pass it to another native function like
[code]
for windows.
I don't know if that is even possible, but the upstream

[2017-12-03 15:45] jkotas commented on #15163
`VaList` would be a new .NET Core public API, and so it would need to go through https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md.

I think that we would just want to add back the .NET Framework [ArgIterator](https://docs.microsoft.com/en-us/dotnet/api/system.argiterator?view=netframework-4.7.1) for this, and make it usable for more than just the very n

[2017-12-03 17:43] AndyAyersMS commented on #15319
Went and looked at why this doesn't happen in 1.1.

Note CSE numbering differs, but the upshot is that the array length CSE cost went up and so the sort order changed. In 1.1 we CSE'd the outer expression first.

Haven't drilled in to what caused the cost change yet, as it seems like the outer expression should be still be more costly.

[code]

[2017-12-03 18:21] AndyAyersMS commented on #15319
Looks like in 2.0 there is an extra CSE def of the array length which we pick up and prefer. This new CSE exists because of value numbering through byrefs. Because it has an indir this def has higher cost than the other equivalent CSEs.

Normally for nested CSEs we'd expect the parent CSE to always be more costly than the child. Because of this the algorithm naturally processes nested CSEs from ou

[2017-12-04 01:24] aybe commented on #14599
How is one supposed to alleviate these non-supported calls then, rewrite perfectly working code just for UWP ?

You could have at least updated your docs, or provided an example for an alternative way.

[2017-12-04 07:10] micli opened #15352 "Cannot succeeded compile the latest coreclr on macOS."
Environment:
micl-MBP-15:coreclr micl$ cmake --version
cmake version 3.9.4
CMake suite maintained and supported by Kitware (kitware.com/cmake).
Xcode Version 9.1 (9B55)

I have been updated all software by Apple Store before I started building action.
The building progress always stops at 100% with 13 errors.

repro steps:
`
1. mkdir dot-net
2. cd dot-net
3. git clone http://www.github.com/dotnet/

[2017-12-04 09:23] micli commented on #15352
There is something else, I want to ask you guys does .NET Core support LLDB debugging on macOS? I mean can I use LLDB that installed with Xcode to debugging .NET Core apps on macOS ?

[2017-12-04 09:43] Buyduck commented on #15074
@alpencolt I use 3.9.1 too:
[code]
I've installed it with:
[code]

[2017-12-04 12:09] MichalStrehovsky opened #15353 "[Default Interfaces] Loader\classloader\DefaultInterfaceMethods\constrainedcall"
This tests is failing with an assert.

It's not clear if this test ever worked. Need an issue to block it for now.

[2017-12-04 13:07] vbcodec opened #15355 "Proposal: Add support for AOP scenarion"
AOP is increasingly used technique, and CLR should add suport for this echnique. Current AOP tools usually rely on converting assembly to add code that is called when function is starting, ending and when exception is raised.

CLR should provide these possibilities, and external tools won;t be necessary. System.Reflection is good place that can be used to register callback handlers, to notify when

[2017-12-04 14:12] jkotas commented on #15355
Thanks for the suggestion. There are number of existing issues about AOP. Let's use those to discuss this problem space:

https://github.com/dotnet/corefx/issues/1935
https://github.com/dotnet/csharplang/issues/605
https://github.com/dotnet/csharplang/issues/107

If you think there are specific APIs that would help 3rd party AOP implementations, here is how to propose them: https://github.com/dotn

[2017-12-04 14:12] #15355 closed

[2017-12-04 14:15] jkotas commented on #15352
Many macro-redefined errors:

[code]

[2017-12-04 14:18] jkotas commented on #15352
Yes, but it is pretty low-level: https://github.com/dotnet/coreclr/blob/master/Documentation/building/debugging-instructions.md#debugging-coreclr-on-os-x

[2017-12-04 16:21] omariom opened #15357 "[JIT] Range check elimination"
I don't thinks there is perf impact. Just an interesting case which may  point to something important.

The difference is in this lines:
[code]

[code]

[code]

[2017-12-04 17:02] RussKeldorph commented on #15357
@dotnet/jit-contrib

[2017-12-04 17:04] mikedn commented on #15357
Hard to say if that particular difference has any perf impact. But that difference is not the real problem, the real problem is that `lea` is not eliminated. The code should look like this:
[code]
This kind of LEA costs 3 cycles and in this context it doesn't save anything in terms of code size. Unfortunately getting the JIT to generate the proper code here isn't trivial.

[2017-12-04 17:23] CarolEidt commented on #15357
Yes, there are several issues here:
- Generally the JIT favors small code over faster code (at least, that's the historical bias)
- The code to handle addressing mode is complex, and spread out in several places.
- Finally, there's the fundamental phase-ordering problem of when the JIT should manifest the addressing modes. I have always been of the opinion that we should addressing modes early, an

[2017-12-04 17:59] Deren-Liao commented on #14348
Thanks, I only need the test binaries so that I can run the tests.

[2017-12-04 18:06] AdamSpeight2008 opened #15359 "Numeric Constraint / Attribute on Generic Types"
[Link to VB: Numeric Constraint for Generics](https://github.com/dotnet/vblang/issues/214)
If we could add an attribute or constraint to generic type parameters, we could restrict the types to those that are considered numeric. *What is to be considered Numeric is a separate discussion.*
For the purpose of the proposal we are using the definition of `NumericTypeName' (from the VB Grammar) to defin

[2017-12-04 21:31] ahsonkhan opened #15364 "Port optimizations to TryFormat and ToString from the UTF-8 formatter"
We can optimize TryFormat/ToString for 32-bit.
https://github.com/dotnet/coreclr/blob/master/src/mscorlib/shared/System/Number.Formatting.cs

Also, it is faster to first count the digits and then output backwards rather than outputting in reverse and then reversing it.

See related PRs from where we can port the optimizations:
- https://github.com/dotnet/corefx/pull/25424#issuecomment-347744346
-

[2017-12-04 22:55] vbcodec commented on #15355
I don';t think that there are any serious issues. CLR may recompile code from IL, if it detect that some handlers are registered for fiunction / event / property. For NET Native there may be two code paths, that can be composed depending on needs.  It is relative easy to achieve.

dotnet/csharplang#605 and dotnet/csharplang#107 do not apply here, as it is related to library level, not CLR

[2017-12-05 00:03] brianrob opened #15367 "EventPipe: Add Support for ActivityId and RelatedActivityId"
There is currently support in EventSource, but this does not extend to native events.

This issue tracks adding full support for ActivityId and RelatedActivityId in EventPipe.

[2017-12-05 04:40] onlyann commented on #13542
Maybe the section [how to use the Docker images](https://hub.docker.com/r/microsoft/dotnet/) should be updated with the instructions mentioned by @DamianEdwards

[2017-12-05 08:41] MkazemAkhgary opened #15368 "Proposal: Primitively Support Immutable Types"
Immutable object is an object whose state can not be changed once its created.

There is no way to explicitly declare immutable type. it can be only implied by usage but I think this is not optimal. not for functional programming or to some degree for OOP.

It would be beneficial to support immutable types strictly at CLR site. so that other languages and programmers can benefit from it. Immutabil

[2017-12-05 08:45] mikedn commented on #15368
"Immutable types" is first and foremost a language feature. It's not clear what, if anything, the runtime must provide to make such a feature feasible.

[2017-12-05 08:47] MkazemAkhgary commented on #15368
did you read `What benefits does this provide?`

[2017-12-05 08:53] mikedn commented on #15368
It's irrelevant. Immutable types is a relatively complex language feature and as such it should start in the language world. Once the language settles on a design the runtime may be asked to provide the required features (if any). And possible implement useful optimizations.

After all, you said it yourself:

[2017-12-05 09:13] MkazemAkhgary commented on #15368
Then why in c# repo when it was proposed to support covariant classes it was rejected? It was claimed that this requires CLR change. https://github.com/dotnet/roslyn/issues/171#issuecomment-239947729

May i ask where is this _language world_ so we can start from there? :)

Maybe If it starts from then language designers would less complain. Because what language is based on CLR can freely extend.

[2017-12-05 09:27] mikedn commented on #15368
What variance has to do with immutability? I mean, OK, immutability can sometimes help with that but surely variance is not the main purpose of immutability.

I don't know, the csharplang repo perhaps?

If it starts here then there's a good change that the language designers would complain more. Because what the runtime provided isn't what they need.

I'm lost. You're contradicting yourself. You c

[2017-12-05 09:37] Happi-cat commented on #12098
@mikem8361 [7z archive on dropbox](https://www.dropbox.com/s/y55g8zmnm8hshf1/MyApp.7z?dl=0)

[2017-12-05 09:58] MkazemAkhgary commented on #15368
Ok. I may seem to be condradicting my self. But what matters to me is end resulglt. I want this feature. How and where its implemented doesnt really matter to me. I just had to post it. I thought here is good place to start. Also because this is proposed on general concept of immutability its less likey to be thrown away.

If i propose it in csharplang i can speculate how it goes. Its not benefici

[2017-12-05 10:28] svick commented on #15368
The difference between immutability and class covariance is that covariance is a runtime feature and changing it would require runtime support. I don't see what benefits would runtime support have for immutability. For example, have a look at F#: it supports immutability well and it doesn't require anything special from the runtime.

[2017-12-05 10:38] MkazemAkhgary commented on #15368
@svick Well, if c# supports immutability as well, can we have immutable covariance classes/structs?

Main point is, we dont want to have smart runtime that decides wether or not a class can be covariance. With a alternative approach, immutable types can be covariant and it will be easier to implement.

other optimizations as well can be considered later.

[2017-12-05 10:45] janvorli commented on #15074
@alpencolt Thank you for confirming the versions and also mentioning again that it only happens with `-O0`. I have missed the information in the issue description that it is a debug build issue only.
@Buyduck, I would then recommend either building the debug version with clang 4.0 or using `-O1` (which would hurt debuggability though). If you cannot use clang 4.0 for some reason and need to use `-

[2017-12-05 10:56] MkazemAkhgary commented on #15368
In conclusion, this will make things to evolve faster and easier. No fancy analysis of class usage. It makes runtime simpler it can also optimize more stuff in safe manner. So thats my answer to what benefit runtime has for supporting immutability.

[2017-12-05 13:59] jkotas commented on #14968
https://github.com/dotnet/corefx/issues/17135 is pretty close to what this should be. Let's use that issue to track this.

[2017-12-05 14:00] #14968 closed

[2017-12-05 18:45] brianrob opened #15374 "Tracing Epic"

[2017-12-05 18:48] brianrob opened #15375 "Expose EventPipe Tracing API"
Currently, there isn't a supported way to control the EventPipe from in-proc.

[2017-12-05 18:50] brianrob opened #15376 "Expose Trace Files In-Proc"
Rather than forcing a trace file to be written to disk, make it possible for the in-proc controller of tracing to get at the trace in-memory.  This allows the trace creator to do whatever it wants with the trace (e.g. send it out over HTTP).

[2017-12-05 18:51] brianrob opened #15377 "Create the Concept of Multiple EventPipe Sessions"
This would allow multiple concurrent consumers with different configurations to run concurrently.  Right now, only one consumer can run concurrently, and it is easy for consumers to interfere with each other.

[2017-12-05 18:55] brianrob opened #15378 "Create a Mechanism to Get All Thread Managed Stacks"
Useful for getting a snapshot of thread count and what threads are doing.  This would used in the performance profiling controller: https://github.com/dotnet/designs/pull/26

[2017-12-05 19:00] fiigii commented on #14930
I will submit this PR after https://github.com/dotnet/coreclr/pull/15244 gets merged, which attempts to avoid code conflict.

[2017-12-05 19:06] brianrob commented on #11555
We should not need to do anything here because we have events for suspension start/stop.  The stacks that we could possibly collect in this time region are uninteresting because managed code execution is suspended.  Thus, the viewer should use the suspension start/stop markers to account for this time.

[2017-12-05 19:06] #11555 closed

[2017-12-05 19:08] brianrob commented on #11567
@nategraf, you are working on this now, right?

[2017-12-05 19:13] brianrob commented on #15123
Duplicate of #11939.

[2017-12-05 19:13] #15123 closed

[2017-12-05 19:50] nategraf commented on #11567
Yes, I'll have a couple more as part of https://github.com/dotnet/coreclr/pull/14772

[2017-12-05 22:16] lt72 commented on #6380
@mikem8361 : this seems related to #12074

[2017-12-05 22:18] lt72 commented on #12009
Re-assignig to Chris for investigation

[2017-12-05 22:42] sdmaclea opened #15379 "[Arm64/Linux] New mutex failures on tip"
The following tests are failing on the `cced4d7` tip.

[code]

Failures all follow this pattern
[code]

@dotnet/arm64-contrib FYI

[2017-12-05 22:47] sdmaclea commented on #15379
Last known good `7c56397`.  Starting bisect.

[2017-12-05 22:51] sdmaclea commented on #15379
Closing these have all been added to the tests/testsUnsupportedOutsideWindows.txt file

[2017-12-05 22:51] #15379 closed

[2017-12-05 23:01] gregg-miskelly commented on #6380
Personally I think we should merge the two issues together.

[2017-12-05 23:06] mikem8361 commented on #12074
Also see #6380

[2017-12-05 23:06] mikem8361 commented on #6380
Closing since we have #12074.

[2017-12-05 23:06] #6380 closed

[2017-12-05 23:07] mikem8361 commented on #6380
Done.

[2017-12-05 23:15] #14332 closed

[2017-12-05 23:33] BruceForstall opened #15381 "ARM64 GCStress=3 failures"
There are many failures in current Windows ARM64 GCStress=3 runs:
[code]

https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm64_cross_checked_windows_nt_gcstress0x3_tst/23/artifact/bin/tests/Windows_NT.arm64.Checked/Smarty.run.0/Smarty.0.fail.smrt/*view*/

While it appears it has never been clean, it also appears there has been a recent regression.

The CI job is here:

https://

[2017-12-05 23:34] BruceForstall commented on #15381
cc @dotnet/arm64-contrib

@sdmaclea Do you see GCStress=3 failures on Linux?

[2017-12-05 23:37] sdmaclea commented on #15381
@BruceForstall I'll trigger a run

[2017-12-06 00:11] sdmaclea commented on #15381
@BruceForstall I ran `cced4d7`.

A lot of the failing tests you listed are passing on Arm64 Ubuntu.

I see a few failures I haven't seen before (although I typically run gcStress==0xf).
[code]

I run on QDT's Amberwing with a 300" timeout.

I generally do not run tests in the `testUnsupportedOutsideWindows` or tests which fail on x64 ubuntu.

I also have a few Arm64 fails disabled for various reas

[2017-12-06 00:14] morganbr commented on #2502
Would it be possible for us to have MemoryMappedFile figure out whether something has been unmapped and avoid triggering the AV? I'm still very reluctant to expose HandleProcessCorruptedStateExceptions for general usage.

[2017-12-06 00:24] BruceForstall opened #15384 "[ARM32/ARM64] Enable periodic GCStress=C jobs"
The following periodic jobs are currently disabled for arm/armlb/arm64, and should be re-enabled.
[code]

[2017-12-06 00:30] sdmaclea commented on #15381
@BruceForstall Looks like #15231 renamed a bunch of tests, so maybe the ARM64 windows test lists need to be regenerated?

[2017-12-06 00:38] BruceForstall commented on #15381
Yes, that's it (or, that's the big regression). In fact, all arm/arm64 testing is broken because of that.

[2017-12-06 00:46] onlyann commented on #13542
Here's how I adapted the multi-stage build sample DockerFile for asp.net core 2.0.0.3.

[code]

[2017-12-06 01:41] BruceForstall commented on #15037
Maybe the issue has changed? I see this now in a JitStress=1 run:

[code]

[2017-12-06 02:11] BruceForstall opened #15389 "[ARM64] Test failures with JitStress=2, JitStressRegs=2"
On Windows, in CI:
[code]
https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm64_cross_checked_windows_nt_jitstress2_jitstressregs2_tst/3/

On repro:
[code]

[2017-12-06 02:12] BruceForstall commented on #15389
@dotnet/arm64-contrib

[2017-12-06 07:33] ayende commented on #2502
@morganbr For various reasons, we sometimes call to the native API directly, instead of going through `MemoryMappedFile`. It would be much better if we could have an API that would designate memory ranges as "turn an AV to an exception here".

[2017-12-06 08:49] mikedn commented on #2502
We should probably distinguish between "use after free" scenarios and "lost network" scenarios.

The former is dangerous and should not occur in correct code so it shouldn't be supported.

The later is not dangerous and it seems that at least on Windows it's relatively easy to handle - the exception code is `EXCEPTION_IN_PAGE_ERROR` is `EXCEPTION_ACCESS_VIOLATION` and the exception record contains

[2017-12-06 08:51] micli commented on #15352
@jkotas Can you confirm this is an issue or it's my personal mistake? Thanks!

[2017-12-06 08:54] sherlock1982 commented on #12851
I don't really understand why it's closed. It's still crashing the same way with 3.9.
I'm using version 2.0.3. Is there a way to resolve it?

[2017-12-06 10:08] micli commented on #12851
@sherlock1982
I know you situation. But only .Net Core 2.1.x support LLDB 3.9. With app under.Net Core 2.0.3, you have to use LLDB 3.6.

[2017-12-06 10:16] micli commented on #12851
I have already compiled libsosplugin.so for LLDB 3.9. If you want to debug.Net Core 2.0.3 apps by LLDB 3.9,please download my proper debugging plugin at: https://github.com/micli/netcoredebugging/tree/master/Linux.x64.SOS.3.9
Sorry about any typo due to I logged words on mobile phone.

[2017-12-06 10:18] sherlock1982 commented on #12098
Very easy way to reproduce netcore 2.0.3 on Stretch. Application is not needed.

[code]

[2017-12-06 10:21] raffaeler commented on #12098
@sherlock1982  3.9? version 3.9 works only from 2.1 on.
I used 3.6 on Ubuntu 17.1 and it worked perfectly.

Compiling lldb3.6 on CentOS failed, but this is another problem.

[2017-12-06 10:23] micli commented on #12098
Yes, as I mentioned before. Net Core libsosplugin.so supports LLDB 3.9 start from 2.1.x,not 2.0.3.
With 2.0.3 you’d better use LLDB 3.6 or use LLDB 3.9 with libsosplugin.so compiled under.Net Core 2.1.x.

[2017-12-06 10:26] sherlock1982 commented on #12851
Yes with this plugin now it works, thanks a lot.
Are there any plans to include it into 2.0.x branch?
Also I downloaded the latest build of 2.1 and plugin bundled there still not working.

[2017-12-06 10:30] Happi-cat commented on #12098
@sherlock1982 in my case I'm trying to find out why my ASP.NET core app fails with segmentation fault on linux-arm (while simple console app works ok) and why I can't use sos commands. So it differs from your example.

[2017-12-06 10:32] raffaeler commented on #12098
@Happi-cat I had segmentation faults in the past (unrelated to lldb or sos) on ARM because of wrong packages. Also verify the bitness (arm32 vs arm64).

[2017-12-06 12:33] Happi-cat commented on #12098
@raffaeler thanks for advice, but there are few odd things I've faced:
* was able to run app and got a segfault when did a first request (requested index page);
* also did some other tests, like: ran app -> did a request to API method -> no segfault -> did a request to index -> no segfault. Then I did few other requests and after N attempts only got a segfault. So suspect there might be something

[2017-12-06 13:37] raffaeler commented on #12098
@Happi-cat you are welcome.
I see your problem goes beyond the lldb story....

In my experience, I had a lot of trouble on ARM cards that use an old-fashioned style development stack like Yocto. The libraries they use are typically old (ehm ... consolidated).
For example I could run asp.net core on yocto but I received random problems (segfaults and more) on certain requests.

[2017-12-06 14:09] jkotas commented on #15352
I have not seen this error myself.

We have seen build breaks caused by XCode updates recently #15005. These errors may be a similar problem.

[2017-12-06 14:17] jkotas commented on #2502
Yes, the proposal is that the runtime is going to have a list of memory ranges where we turn the AV into exception.

[2017-12-06 16:09] AndyAyersMS opened #15392 "Have assembly/module load events report if image contains R2R codegen"
Currently it does not seem to be possible to determine if an assembly/module contains R2R codegen from the event stream. This fact is of interest to analysis tools since R2R code has distinctly different performance characteristics.

It seems like we could simply add new AssemblyFlag and ModuleFlag values to report on this directly.

It would also be nice to know if the R2R code in an image is not

[2017-12-06 16:35] alpencolt opened #15394 "[ARM32] Detection of race conditions"
There are several bugs related to multi threading (#12421, #13651, some our proprietary code also failed in this field).
@dotnet/arm32-contrib have you tried to use some tool like [ThreadSanitizer](https://a.llvm.org/docs/ThreadSanitizer.html) from clang for ARM platfrom?

[2017-12-06 16:44] BruceForstall commented on #15394
@alpencolt I'm not aware of Microsoft using such tools (fyi, we haven't tested ARM on Linux much).

Maybe @sdmaclea on arm64 has looked into this?

also, cc @janvorli

[2017-12-06 17:03] sdmaclea commented on #15394
I have not tried thread sanitizer on ARM64.

ARM64 has a few intermittent GC issues which are occasionally exposed during gcStress testing.  I have not had the time to track them down yet.

For ARM32, I would make 100% sure GC stress is perfect for all tests.  Run tests dozens of times.  Investigate and root cause every failure..

[2017-12-06 17:21] petroemil opened #15397 "Task.WhenAll support for Tuples"
`Task.WhenAll` should have a (set of) overload(s) to support returning the wrapped Tasks' results in a strongly typed `Tuple`.

An oversimplified implementation of this would look something like this
[code]
... and the usage would look something like this
[code]

I believe it would be relatively easy to implement but its value is huge as it allows to write simple but very efficient code that execu

[2017-12-06 17:21] BruceForstall commented on #15394
I agree about making sure GC stress is clean.

@alpencolt Are you talking about RyuJIT/arm32 or LEGACY_BACKEND?

For RyuJIT, we have issues tracking GCStress=4 and GCStress=C:

https://github.com/dotnet/coreclr/issues/14383
https://github.com/dotnet/coreclr/issues/14856

For LEGACY_BACKEND, there are a number of issues regarding GCStress that have never been investigated (in favor of focusing on R

[2017-12-06 17:38] #15397 closed

[2017-12-06 17:39] petroemil commented on #15397
After a bit of confusion the conversation continues in the original topic.

[2017-12-06 17:51] danmosemsft commented on #10520
@jkotas @janvorli short of literally running tools like strace, ldd etc for the user is there more information available to us that we can provide?

@adityamandaleeka mentions WRN messages in debug builds -- are these the ones he has in mind? If so could we usefully include the `dlerror()` in the exception ?
[code]

[2017-12-06 17:55] danmosemsft commented on #10520
Perhaps there are other places we could pass `dlerror()` through eg where we do dlsym like
[code]

[2017-12-06 18:09] jkotas commented on #10520
Yes.

[2017-12-06 18:22] danmosemsft commented on #10520
Looks like it would need a little wiring as currently errors are passed back through GetLastError, ie DWORD
[code]

It might also be useful to have LoadLibErrorTracker include all errors, not just what it thinks is the [highest priority](https://github.com/dotnet/coreclr/blob/master/src/vm/dllimport.cpp#L5787)

[2017-12-06 19:25] cod7alex commented on #6136
Can someone help me with Spans? If i have the code like the following, can i pass Span to function and fill it? Is it even a good idea?
[code]

[2017-12-06 19:36] lt72 commented on #15392
@brianrob FYI

[2017-12-06 20:24] brianrob commented on #15392
Sounds like a great addition to me.  @AndyAyersMS are you planning to implement this or should we mark it up-for-grabs once you find out the granularity of the R2R code use/rejection policy?

FYI @vancem.

[2017-12-06 20:28] Rattenkrieg commented on #6136
@cod7alex this is explicitly forbidden by design of `Span`. Memory it points will be reclaimed when you leave `CreateSeparatorList`'s activation record. Spans (actually anything stacalloced) can only be passed from callers to callees.

[2017-12-06 20:46] cod7alex commented on #6136
thanks @Rattenkrieg, I am not really familiar with stackalloc. So it means I should inline this everywhere it is needed?

[2017-12-06 20:48] AndyAyersMS commented on #15392
The first part looks simple enough on the producer side. I don't know what all is involved in getting event consumers to know about the new flag value(s). But it should be harmless to set extra flag bits even if consumers aren't aware of what they mean.

I'll investigate the second part further and update this note when I know more.

[2017-12-06 20:50] Rattenkrieg commented on #6136
@cod7alex if you know desired size in advance you can allocate span in top level method and pass it by ref where it will be populated.
 if you will ever hit _unexplainable_ performance degradation caused by stackalloc this may shed some light: #5719 #8534 #1279

[2017-12-06 21:30] perlun opened #15403 "'dotnet run' is slow"
Hi,

Even on a minimal console application, `dotnet run` takes about 4s on my MacBook Pro:

[code]

If I run the `.dll` from my project instead, it's much faster:

[code]

Is this expected, or is there any way to make it faster? The `.csproj` file is for a blank project I just created, I'll include it here for reference:

[code]

[2017-12-06 21:40] mikedn commented on #15357
The code generated by VC++ for the equivalent C++ code is funny:
[code]

[code]
I would guess that it has a similar problem - some early phase does some expression optimizations and a later phase builds address modes. Though it's still strange that they can't at least push the `add` into the address mode operands.

[2017-12-06 22:01] devinvisible commented on #588
Any way to enable logging via these environment variables with a non-debug version of .net core?

[2017-12-06 22:03] brianrob commented on #15392
Yes, setting the value on the producer side should be fine as long as it's done in a backwards compatible way.  I can show you what to do in TraceEvent/PerfView to make the flag consumable.

[2017-12-06 22:12] swgillespie opened #15405 "[Local GC] Standalone GC CI jobs are all timing out"
Should investigate why this is and fix it, the last few builds have all timed out. Based on the logs [(here)](https://ci.dot.net/job/dotnet_coreclr/job/master/job/x64_checked_windows_nt_standalone_gc/72/console) it looks like the standalone GC job is doing a priority 1 test build which takes forever and causes the build to time out. 1) we should not be doing a pri1 test build and 2) I'm surprised

[2017-12-06 22:21] Suchiman commented on #15357
Clang does it better on [O1](https://godbolt.org/g/XKcVQ9), and then seems to vectorize the code on [O3](https://godbolt.org/g/rwUk4A)

[2017-12-06 23:14] fiigii commented on #15403
@perlun Could you try `dotnet run -c release`? AFAIK, `dotnet run` builds programs with `debug` mode by default.

[2017-12-07 00:00] #15384 closed

[2017-12-07 00:54] CarolEidt opened #15408 "[LSRA][RyuJIT] Consider merging allocating free & busy regs"
Currently, LSRA iterates over all the free registers, and then iterates again if it has to find a register to spill. It would probably be more efficient, as well as more effective, to combine these passes. In particular, it would avoid the situation where we make a bad register choice for a critical `Interval` simply because it is the only free register, when it may be better to spill a less impor

[2017-12-07 01:05] benaadams commented on #15357
For ref

Clang O1
[code]
Clang O3
[code]

[2017-12-07 01:15] AndyAyersMS opened #15409 "JIT: don't set morphed flag in gtFoldExpr and friends"
Re #15386. Having these utility methods set the morphed flag when morph is active makes it hard to use them to precondition the code. Instead defer the flag setting to morph proper.

[2017-12-07 04:27] jkotas commented on #15403
This issue was moved to dotnet/cli#8178

[2017-12-07 04:27] #15403 closed

[2017-12-07 04:54] graemechristie commented on #8758
Are there any more updates on this @davidwrighton and @jaredpar ?

[2017-12-07 06:27] mikedn commented on #15357
Yep, saw that. And for completeness GCC generates:
[code]
Different compiler, different codegen. The GCC/VC++ versions, wile apparently worse than Clang, may have an advantage in more complex code, they minimize register use because after `add` only one register is live instead of 2.

[2017-12-07 07:16] cod7alex commented on #6136
@Rattenkrieg many thanks

[2017-12-07 09:39] fiigii commented on #12983
May I ask the status of this work?

[2017-12-07 09:42] mikedn commented on #12983
No status. I was kind of waiting for the team to comment on it...

[2017-12-07 09:45] fiigii commented on #12983
@mikedn Thanks. Let me try this tomorrow.

[2017-12-07 10:46] omariom commented on #15357
Interesting.
So CSE doesn't (always) work for  CPUs?

[2017-12-07 11:39] micli commented on #15352
@jkotas
I can confirm that the issue caused by LLDB SDK compatible. I just fully compiled LLVM3.9 Clang 3.8 and LLDB 3.9. And then I "sudo make install" these components on my macOS. Finally I tried to compile coreclr again. It works!
This article
https://github.com/dotnet/coreclr/blob/master/Documentation/building/debugging-instructions.md#debugging-coreclr-on-os-x
really useful!

[2017-12-07 11:39] #15352 closed

[2017-12-07 11:50] mikedn commented on #15357
Well, it works but one needs to be careful not to overdo it. Or to undo it in case things turn out worse (e.g. https://en.wikipedia.org/wiki/Rematerialization).

And overdoing it can be particularly problematic in this JIT because its expression optimization facilities work only on a given expression tree at a time. CSE basically splits a tree into multiple trees by introducing temporary variables

[2017-12-07 12:50] MichalStrehovsky opened #15412 "Assertion failed 'blockNode->OperIsBlk()' in Compiler::impNormStructVal"
I hit this while trying to implement more efficient statics in CoreRT, but this also has a repro with CoreCLR.

[code]

The problem is that `impNormStructVal` doesn't handle the situation when the child of the `GT_COMMA` is a `GT_FIELD`. We have a `GT_COMMA` because the static field access comes with a `CORINFO_FLG_FIELD_INITCLASS` flag.

[2017-12-07 13:52] jamesqo commented on #6136
@cod7alex By the way, you don't have to stackalloc a temporary ptr and then create a span from that. You can just stackalloc a Span directly. https://github.com/dotnet/corefx/pull/24212/files

[2017-12-07 14:15] Buyduck commented on #15074
@janvorli I was going to write a bug report to llvm, but got respond:

Also, I can currently cross build CoreCLR for arm only with 'skiptests' key, otherwise I got next error, while compiling hfa_native.cpp:
[code]
cc: @alpencolt

[2017-12-07 14:59] janvorli commented on #15074
Nice :-(. Looks like yet another bug in clang. Maybe you can just disable this test for your purpose by adding it to tests/testsFailingOutsideWindows.txt and comment out the contents of the tests/src/JIT/jit64/hfa/main/dll/CMakeLists.txt (I hope that's enough).

[2017-12-07 15:46] mmitche opened #15414 "Intermittent C1076 in official builds"
2017-12-06T23:10:58.4661810Z c1xx : fatal error C1076: compiler limit: internal heap limit reached; use /Zm to specify a higher limit [E:\A\_work\632\s\bin\obj\Windows_NT.x64.Debug\src\vm\wks\cee_wks.vcxproj]
2017-12-06T23:10:58.4661810Z c1xx : error C3859: virtual memory range for PCH exceeded; please recompile with a command line option of '-Zm70' or greater [E:\A\_work\632\s\bin\obj\Windows_NT.

[2017-12-07 16:16] alpencolt commented on #8496
@BruceForstall have you had the time to look into https://github.com/dotnet/coreclr/issues/8496#issuecomment-347195200? Is there any other big fields for work? Or it's difficult to estimate at the current moment?

Another thing which I'm interesting is it possible to generate `Linux/ARM` code like `protononjit` but on Windows host (off course 32-bit target on 32-bit host)? If it's not implemented

[2017-12-07 16:22] alpencolt commented on #15394
@sdmaclea  @BruceForstall thank you for response.
The issue is on LEGACY_BACKEND. But it looks multi-threaded issues (e.g. #12421) has the same behavior on both backends.

[2017-12-07 16:46] benaadams opened #15415 "WindowsRuntimeMarshal.EventCacheKey should implement GetHashCode, Equals"
The struct [`EventCacheKey`](https://github.com/dotnet/coreclr/blob/5304962d18bccdfe84f08c7ffb1230c3c4d1763a/src/mscorlib/src/System/Runtime/InteropServices/WindowsRuntime/WindowsRuntimeMarshal.cs#L354-L363) is used as a dictionary key so should implement `IEquatable<T>` and `GetHashCode`, `Equals`

[2017-12-07 17:47] CarolEidt commented on #8496
I believe that's what linuxnonjit.dll does.

[2017-12-07 18:40] jkotas commented on #15415
I do not see it used as key. Where is it used exactly?

[2017-12-07 18:44] benaadams commented on #15415
Sorry mean struct `EventCacheKey` is used in `Dictionary<EventCacheKey, EventCacheEntry>`

https://github.com/dotnet/coreclr/blob/5304962d18bccdfe84f08c7ffb1230c3c4d1763a/src/mscorlib/src/System/Runtime/InteropServices/WindowsRuntime/WindowsRuntimeMarshal.cs#L519-L520)

[2017-12-07 18:45] benaadams commented on #15415
hmm... uses its own `EventCacheKeyEqualityComparer`

[2017-12-07 18:47] benaadams commented on #15415
Uses its own EventCacheKeyEqualityComparer; but the methods could be moved to the struct and then it will work with the non interface devirtualization (in Dictionary CQ PR)

[2017-12-07 20:12] borrrden commented on #12503
Has this been triaged or anything?  Is the cause known?

[2017-12-07 20:22] AndyAyersMS commented on #15392
There is per-method body validation for R2R. To properly distinguish the case where crossgen did not precompile a method vs the case where the precompiled method can't be used because of breaking changes in dependent assemblies, it looks like we would need to distinguish which failure path is taken in `ReadyToRunInfo::GetEntryPoint` -- the first series of checks determines if there is an entry for

[2017-12-07 20:22] cod7alex commented on #6136
@jamesqo yes, i have found that information recently. Thank you.

[2017-12-07 20:35] sdmaclea opened #15421 "Add PAL API intended to expose ARM64/ARM32 Hardware Capabilites"
JIT will need to know which parts of the ARM64 and/or ARM32 instruction set are available.  Immediate need is for hardware intrinsics, but will be driven by other issues as well.

Linux provides this information in the auxillary vectors.  For `Arm64` use of `getauxval(AT_HWCAP)` with the flags from `#include <asm/hwcap.h>` makes this determination simple.  Note that this list is growing with each

[2017-12-07 20:46] sdmaclea opened #15422 "[Arm64/Linux] New JIT/jit64/hfa/main/testC/hfa_sf1C_r/hfa_sf1C_r failing on missing symbol"
[code]

This is a new failure.

[2017-12-07 20:53] sdmaclea commented on #15422
Test failed on a321506ee6c4.  Test passed on 2005790ff.  Looking at the logs I do not see any obvious risky commits

[2017-12-07 20:53] jkotas commented on #15421
`PAL_FLAG_HAS_AES                 = 43, // ID_AA64ISAR0_EL1.AES is 1 or better`

Why does this start with 43?

[2017-12-07 20:56] sdmaclea commented on #15421
Because I was editing on Github and I forgot to fix it. I'll correct it above.

[2017-12-07 21:01] lt72 opened #15423 "Callstacks are not available after profiler rejit"
This is a high priority for snapshot debugging testing and validation.

[2017-12-07 21:02] jashook commented on #12503
What version of UWP are you hitting this under and is this under a debug session? To my knowledge this codegen issue does not currently repro in coreclr.

[2017-12-07 21:02] jashook commented on #12503
/cc @BruceForstall

[2017-12-07 21:07] borrrden commented on #12503
Debug session or not doesn’t matter. The version is whatever the latest version of UWP was five months ago for Windows IoT (I would have remembered better then before I erased it from my Pi).

Are you saying that my attached program works correctly when using JIT on ARM?

[2017-12-07 21:09] sdmaclea commented on #15422
This was an intermittent failure.  Not reproducible

[2017-12-07 21:09] #15422 closed

[2017-12-07 21:14] jkotas commented on #15421
Would it make sense to just create the exact set of bits that the JIT/EE interface expects so that we can skip these boring layers that convert one set of bits to a different set of bits?

How is this simpler?

[2017-12-07 21:22] BruceForstall commented on #8496
@alpencolt Sorry for the slow response. Thank you for collecting the list of issues.

I agree that 1 and 4 should be fixed before we switch RyuJIT/arm32 to be the default. I would also add that "non-stress" runs should also be clean: simple Debug/Checked/Release Pri-1 runs. There are currently 3 test failures in Release. However, I'm willing to be a bit flexible, as well, as there are benefits to

[2017-12-07 21:23] tannergooding commented on #15421
I think the difference is that, unlike X86 where CPUID is available to applications, the CPU registers [on ARM] that expose these capabilities are not available to anything but the system (AFAIK).

Each OS already exposes these bits in varying manners, so the exposing them consistently through PAL makes sense.

[2017-12-07 21:29] sdmaclea commented on #15421
That would be my default approach because I hate these bucket brigades.
We would probably still need to add boring assert code to make sure the bits are in the right place.

Ultimately, I think that would be up to the PAL architects as I do not fully understand everywhere PAL is/will be used.

It may not be.  The JitFlag design needed to runtime check the structs had binary compatibility with CORJ

[2017-12-07 21:42] jashook commented on #12503
I believe this should not repro under UWP 6 and dotnet/coreclr master. We have testing to cover this case see: >https://github.com/dotnet/coreclr/blob/32f0f9721afb584b4a14d69135bea7ddc129f755/tests/src/JIT/Directed/StructABI/StructABI.c#L211

I looked into this a bit ago but am a little hazy on the conclusions I drew then. Will look into it a little more to verify my beliefs.

[2017-12-07 21:45] borrrden commented on #12503
Does UWP 6 require a minimum version of Windows?

[2017-12-07 21:55] Chrisboh opened #15426 "CoreCLR build: Unify arguments for each leg"
@karajas commented on [Fri Nov 10 2017](https://github.com/dotnet/core-eng/issues/2077)

This is feedback from the arm64 toolsets argument change.

Questions to address:
 - Is there a way to simplify the pipeline in anyway? (no. of pipelines, no. of legs, no. of jsons to maintain)
 - Is there a way to simplify the arguments passed to each build?
 - Is there a way to test any change to the argument

[2017-12-07 22:04] sdmaclea opened #15427 "Discussion: Crossgen platform capabilities SIMD/hwintrinsics and tiered compilation."
@dotnet/jit-contrib

As I think about ARM64 platform capabilities and how they will impact crossgen/R2R code.  I am thinking tiered compilation might help.

During crossgen if the minimal supported platform flags are enabled, that would allow all platforms to startup quickly.

If code which is platform dependent during crossgen is detected, the generated code would be functional but sub-optimal.

[2017-12-07 23:08] sandreenko commented on #15155
Does not repro.

[2017-12-07 23:08] #15155 closed

[2017-12-07 23:23] BruceForstall commented on #15427
This makes sense to me.

Tiered compilation is an experimental feature which has a ways to go before it is generally available and enabled.

cc @noahfalk

[2017-12-07 23:35] sdmaclea commented on #15427
Re-JIT is sufficient for this, but treating as a special case of tiered compilation might be simpler.

[2017-12-08 00:02] #15325 closed

[2017-12-08 00:04] adiaaida opened #15430 "[Perf][Infrastructure] Turn outerloop tests back on for per-commit perf testing"

[2017-12-08 00:17] sdmaclea commented on #15421
@jkotas said

@BruceForstall Could we move some part of the corjit.h header into a pal header?

Maybe corjit.h Could just have `CORJIT_FLAG_CPU_FLAG_BEGIN` and `CORJIT_FLAG_CPU_FLAG_END`.  Pal header would need to be kept in sync with jitee.h

[2017-12-08 00:21] jkotas commented on #15421
corjit.h is used in number of places. It needs to stay standalone. We should duplicate the bits, or figure out how to #include corjit.h from the PAL impl.

[2017-12-08 00:23] 4creators commented on #15359
This is a language feature request which should be moved to `dotnet/csharplang` repo.

[2017-12-08 00:47] swgillespie opened #15432 "[Local GC] AV in handle table when promoting overlapped data object"
Seen in a modified sample ASP.NET Core application:

[code]

The object in question is `System.Threading.OverlappedData`:
[code]

Only repros with Server GC. Almost certainly a regression caused by https://github.com/dotnet/coreclr/pull/14982. I'm looking into it now.

cc @Maoni0 @sergiy-k @jkotas

[2017-12-08 02:32] sdmaclea commented on #15421
If that is acceptable

I'll try to define the new API as

`void PalSetJitCpuCapabilityFlags(CORJIT_FLAGS &jitFlags);`

[2017-12-08 02:39] #15432 closed

[2017-12-08 07:44] BruceForstall commented on #15150
@alpencolt Have you had time to look at this?

[2017-12-08 09:47] mattwarren commented on #15427
From my reading of the [Code Versioning Design Doc](https://github.com/dotnet/coreclr/blob/master/Documentation/design-docs/code-versioning.md), it is meant to provide more than just tiered compilation:

So it sounds like it'll be a more general approach, that can allow different strategies for code replacement/re-compilation. See ['Future roadmap possibilities'](https://github.com/dotnet/coreclr/

[2017-12-08 10:12] alpencolt commented on #8496
@CarolEidt  great news, thank you!

@BruceForstall thank you for response. We will update our plans.

Up to you. Since Samsung use armel this issue is critical for us.

We haven't tested crossgen a lot too but I've measured launch time of Xamarin applications on Tizen platform for Fragile mode. And RyuJIT is more than 10% slower than Legacy. So I don't know about stability but there is regression

[2017-12-08 10:17] alpencolt commented on #15150
@BruceForstall little bit. It looks something wrong in crossgen...
I do it on background and will not finish this week and unfortunately next too. I don't mind if someone will start to work on this issue too but please write about it;)

[2017-12-08 11:37] tmds commented on #14991
@Maoni0 can you please take a look at this: https://github.com/dotnet/coreclr/issues/14991#issuecomment-348428003?

[2017-12-08 12:25] chunseoklee opened #15436 "EventPipe crash during DestroyThread"
Current DestroyThread function is like below.
https://github.com/dotnet/coreclr/blob/master/src/vm/threads.cpp#L907
[code]

On tizen arm machine, seg fault occurs at https://github.com/dotnet/coreclr/blob/master/src/vm/threads.cpp#L1019.
[code]

Is this normal flow during DestroyThread ? I am not familair with semantic of destroying thread.

[2017-12-08 12:25] chunseoklee commented on #15436
@janvorli @jkotas PTAL

[2017-12-08 12:30] jkotas commented on #15436
cc @brianrob

[2017-12-08 15:20] dotMorten commented on #12503
I have several customers complaining about this in Windows Phone, which AFAIK can't use v6

[2017-12-08 15:30] sdmaclea commented on #15427
@mattwarren Thanks.  It has been a while since I was looking for docs.

Since we are talking about Code Versioning and crossgen.  If we tracked some metric of JIT code quality, then code generated by an older JIT could also trigger a ReJIT.

[2017-12-08 16:50] sdmaclea commented on #15427
There may be complication with XARCH Vector<T> & ARM64 SVE Vector???<T> where the changing structure sizes prevents this approach.

Maybe we can mark all methods which use variable size structures.  And force re jit of all pseudo atomically.  (Re jit serially, but CodeManager switches them all in together)

[2017-12-08 16:53] BruceForstall commented on #14860
Current failures:
[code]
https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm_cross_checked_windows_nt_minopts_tst_prtest/12/artifact/bin/tests/Windows_NT.arm.Checked/Smarty.run.0/Smarty.0.fail.smrt/*view*/

[2017-12-08 17:01] alpencolt commented on #15150
`test.ni.dll` generated in stress mode incorrect. `GetImportSectionForRVA(rva)` returns `NULL`.

[2017-12-08 19:24] MattGal opened #15440 "CoreCLR Linux Test builds are targeting Windows"
Check Linux work item logs as seen here:
https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20171208.03/workItem/CoreMangLib.components.XUnitWrapper/wilogs

Basically the tests are failing due to apparently targeting Windows during test build.

[code]

[2017-12-08 19:24] MattGal commented on #15440
@RussKeldorph FYI.  Let me know if whoever takes this needs assistance in their investigation.

[2017-12-08 19:53] AndyAyersMS opened #15442 "JIT: x86 inconsistent behavior for overly long long shifts"
Test cases added for #15291 and #15319 are failing on x86 because the behavior of overly long left shifts is inconsistent, depending on whether the jit optimizes or not.

The 15291 test is asserting that two different ways of shifting 1LL by 64 and then casting to Int32 give the same result.

In the first case the compiler can fold the shift. RyuJit's `gtFoldExprConst` uses modulo logic here, so
[

[2017-12-08 19:56] AndyAyersMS commented on #15442
Also, the test from #15319 has IL that's not 32 bit compatible, leading to an assert. Need to add a cast.

[2017-12-08 20:24] brianrob commented on #15436
@chunseoklee, just to confirm, this is the line where the AV occurs, right?

[code]

m_pEventPipeBufferList is of type Volatile<EventPipeBufferList*>.  It looks like VolatileLoad, which is what gets called by Load has platform specific implementations.

Are you seeing this on ARM32 or ARM64?

[2017-12-08 21:17] RussKeldorph commented on #15412
@dotnet/jit-contrib

[2017-12-08 21:20] chunseoklee commented on #15436
Oh. As you mentioned, av occurs inside VolatileLoad.
And ARM32.
#15437 seems to fix this issue, now.
Thank you

[2017-12-08 21:34] brianrob commented on #15436
Thanks for the info.

And @kbaladurin thanks for the fix.

[2017-12-08 23:10] #15442 closed

[2017-12-08 23:14] AndyAyersMS commented on #15392
Here's a cut at the provider side: [master...AndyAyersMS:AddR2RFlagsToEvents](https://github.com/dotnet/coreclr/compare/master...AndyAyersMS:AddR2RFlagsToEvents).

Not super happy with the names so feel free to suggest alternatives.

Also wondering if I should split out the cases where a profiler inhibits using prejitted code from the case where R2R versioning inhibits using prejitted code.

FYI @

[2017-12-08 23:56] BruceForstall commented on #8496
How much testing has Samsung done with RyuJIT and armel?

The CI job https://ci.dot.net/job/dotnet_coreclr/job/master/job/armel_cross_checked_tizen_prtest only runs 22 tests, and it is using LEGACY_BACKEND. When we switch to RyuJIT/arm32 as the default, it will use RyuJIT. Has Samsung tested these (and more) with RyuJIT/arm32?

[2017-12-09 00:29] AndyAyersMS commented on #8534
Not sure why I didn't auto link to this when I fixed (at least some cases) of this: #14623.

Fixed sized stackallocs less than or equal to 32 bytes that are not in loops will no longer block inlining.

[2017-12-09 01:58] benaadams opened #15451 "[Jit] Odd loop behavior .NET Core 2.0"
[code]

Outputs in release and debug
[code]
Maybe my brain has gone to mush; but this isn't correct?

/cc @mikedn @AndyAyersMS @jkotas

[2017-12-09 02:14] AndyAyersMS commented on #15451
The loop iterates when `n == int.MaxValue` which is 0x7FFFFFF and so the `n++` for that iteration wraps around to 0x8000000 which is negative and still `<= int.MaxValue`. So it iterates once more and exits.

[2017-12-09 02:21] benaadams commented on #15451
D'oh

My brain has turned to mush... :flushed:

Thank you

[2017-12-09 02:21] #15451 closed

[2017-12-09 17:12] tannergooding commented on #11830
Closing this. C# 7.3 is going to ensure the attribute is added.

FYI. @OmarTawfik

[2017-12-09 17:12] #11830 closed

[2017-12-09 17:37] jkotas commented on #15414
We are passing Zm200 already: https://github.com/dotnet/coreclr/blob/master/compileoptions.cmake#L93 . It is way more than what the error message suggests.

I have seen errors like this during incremental builds, and when the build is aborted and restarted.

Was this error seen a fully clean build, or on restarted or incremental build?

[2017-12-09 18:33] hypeartist opened #15457 "Question: indexer method that returns "ref T" doesn't get inlined."
Checked under: **Release Build, .Net Framework v4.7.1, VS 2017 v15.5.1, System.Memory v4.4.0-preview1-25305-02, System.Runtime.CompilerServices.Unsafe v4.4.0**

Some data container class with indexer
[code]
Some silly  loop
[code]
IL:
[code]
Code generated by JIT :
[code]
And here is the example without using **ref T**

Some data container class with indexer
[code]
Some silly  loop
[code]
Code gen

[2017-12-09 19:19] mmitche commented on #15414
@jkotas Fully clean.

This is happening on one compile that has a ton of files.  Maybe 200 isn't enough there anymore...

[2017-12-09 19:20] jkotas commented on #15414
What is the cl version that this is happening with?

[2017-12-09 19:22] mmitche commented on #15414
Dev14

[2017-12-10 02:58] vors commented on #2176
Note: `GetTypeInfo()` is an extension method that lives in `System.Reflection`.

[2017-12-10 11:01] hypeartist commented on #15457
Just tried using **System.Runtime.CompilerServices.Unsafe**

Some data container class with indexer:

[code]
Some silly loop:
[code]
Code generated by JIT :
[code]

[2017-12-10 16:45] jkotas commented on #15457
This was code optimization issue in the JIT. This issue is fixed in .NET Core, and the fix should show up in one of the future .NET Framework updates as well.

As you have noticed, System.Runtime.CompilerServices.Unsafe has a workaround for it: https://github.com/dotnet/corefx/blob/master/src/System.Runtime.CompilerServices.Unsafe/src/System.Runtime.CompilerServices.Unsafe.il#L277

[2017-12-10 16:45] #15457 closed

[2017-12-10 22:23] mharthoorn opened #15458 "ReadOnlySpan<T> ToString() leads to System.InvalidProgramException"
Tried out System.Memory package
https://www.nuget.org/packages/System.Memory/4.4.0-preview1-25305-02

The use of ReadOnlySpan.ToString() compiles correctly, but leads to an invalid program.

*In Visual Studio 15.5:*
"Your app has entered a break state, but no code is currently executing that is supported by the
selected debug engine (e.g. only native runtime code is executing)."

*dotnet cli:*
"Un

[2017-12-11 02:24] jkotas commented on #15458
cc @ahsonkhan

[2017-12-11 03:28] ahsonkhan commented on #15458
Duplicate of https://github.com/dotnet/corefx/issues/21629?

[2017-12-11 06:38] swgillespie commented on #15405
Everything's back to normal now, closing (looks like my PR fixed the issue)

[2017-12-11 06:38] #15405 closed

[2017-12-11 08:36] Iniii commented on #4734
Same problem: I'm debugging in the .net source. I'm hovering over a predicate in System.Linq.Enumberable.Where
"Inspecting the state of an object in the debuggee of type System.Delegate is not supported in this context."

[2017-12-11 08:37] unicomp21 commented on #15073
Thanks @omariom, I didn't know GetQueuedCompletionStatus could be leverage.  Sounds like a much simpler solution.  Is there anything similar for epoll on linux?

[2017-12-11 08:43] unicomp21 commented on #15073
@benaadams thanks for the great feedback, much appreciated.  Couldn't help but notice the webgl part of your profile.  Any luck w/ the gltf thing?  I've been looking at gltf, but my perception is the mikkt support isn't spot on.  In addition, I'd love to use webassembly, from where I stand right now kotlin w/ ts2kt is looking pretty promising.  Any suggestions?

[2017-12-11 12:10] alpencolt commented on #8496
@BruceForstall we do it but not on regular basis. There are about 2 failed tests from more than 10k called for both ABI. We will rerun them and I''ll provide more detailed results.

[2017-12-11 13:29] benjaml opened #15463 "ERROR - Failed to start the runtime"
Hello,

I tried using the source to build coreclr.dll, and I got some issues. First of all I got this error

ERROR - Failed to start the runtime.
Error code:80004005

Here is a sample of my code
[code]
As I'm very new to dotnet clr, I don't really know if it is the right way to start the runtimeHost.
Feel free to ask for other informations as I don't really know what could be relevant to solve my

[2017-12-11 13:47] janvorli commented on #15463
Unless you have some very specific reason for using the COM hosting API, I would recommend using the new simple hosting API that works across all platforms. The API is declared in the following header:
https://github.com/dotnet/coreclr/blob/5e138a6d69215546e9bf4b38ec9bdd1c436fca5b/src/coreclr/hosts/inc/coreclrhost.h.
Also, you need to properly configure various paths that the runtime needs so that

[2017-12-11 14:11] benjaml commented on #15463
As I'm in a different project, I can't include coreclrhost.h directly is there a clean way to include it ?

[2017-12-11 15:21] benjaml commented on #15463
So from what I've understand, coreclr_initialize create clr and appDomain, this means that I can only have one appDomain per clr, or am I wrong ?

[2017-12-11 15:21] janvorli commented on #15463
Yes, coreclr doesn't support multiple domains.

[2017-12-11 15:25] janvorli commented on #15463
No matter which hosting API you use, to be precise.

[2017-12-11 15:28] kbaladurin opened #15465 "Better diagnostic for collected delegate"
Current version of CoreCLR contains code for supporting MDAs. It is compiled and some parts of it were removed as dead. MDAs are very useful to detect application bugs that related to transitions beetween managed and unmanaged code, for example, to detect calls of collected delegates.

I've tried to enable current implementation of MDAs in coreclr (https://github.com/dotnet/coreclr/pull/15464):
-

[2017-12-11 15:29] janvorli commented on #14757
@sandreenko any progress on this?

[2017-12-11 15:30] kbaladurin commented on #15465
cc @Dmitri-Botcharnikov @ayuckhulk

[2017-12-11 15:31] kbaladurin commented on #15465
@janvorli @jkotas PTAL

[2017-12-11 15:38] jkotas commented on #15465
What are the MDA you are really interested in? Is the CollectedDelegateMDA the only one?

[2017-12-11 15:38] jkotas commented on #15465
cc @noahfalk @lt72

[2017-12-11 15:43] kbaladurin commented on #15465
@jkotas yes, now I'm interested in CollectedDelegateMDA because we often face this problem. But there are other assistants that can be helpful, I think.

[2017-12-11 16:25] kbaladurin opened #15466 "Printing error messages in CoreCLR"
Now when unhandled exception occurs coreclr prints information about it to stderr. It is suitable for console applications but not for applications with gui (for example mobile applications).

What is the best approach to print such messages also to syslog or other OS specific log in coreclr?

Thank you!

[2017-12-11 16:27] kbaladurin commented on #15466
cc @Dmitri-Botcharnikov @ayuckhulk

[2017-12-11 16:27] kbaladurin commented on #15466
@janvorli @jkotas PTAL

[2017-12-11 16:36] AndyAyersMS commented on #15427
In principle rejitting could trigger on just about anything. The potential win from rejitting is a complex function of the cost of rejitting, the opportunity for wins, and the future frequency of calls to the method.

Having out-of-band information about any of these 3 factors can help produce a better system.

But it may also be acceptable to simply not prejit any method whose performance charact

[2017-12-11 17:38] eerhardt opened #15467 "Investigate and implement better codegen for Matrix4x4"
Using Matrix4x4 by value methods are significantly slower than using corresponding `ref` overloads.  See https://github.com/dotnet/corefx/pull/25388#issuecomment-348360835.

We've rejected adding these `ref` overloads to System.Numerics.Vectors to avoid API clutter and because the performance benefit of the `ref` overloads is not significant.

However, the benchmarks showed a benefit for Matrix4x4

[2017-12-11 18:42] BruceForstall commented on #14860
Still not fully fixed.

[2017-12-11 19:58] benaadams opened #15472 "indexing mod array.Length not recognized as bounds safe"
e.g.
[code]
Will introduce a range check, even though its always safe (though maybe not for Length == 0?)

[2017-12-11 20:01] mikedn commented on #15472
`x % 0` throws exception so the array access cannot happen anyway.

[2017-12-11 20:09] benaadams commented on #15472
Perfect then :)

[2017-12-11 20:13] mikedn commented on #15472
I have a prototype at https://github.com/mikedn/coreclr/commit/a587bd3f3b0da9513d1d41411f225f5c65e94853

The main problem is that it relies on `GT_MOD` being present when assertion propagation runs. But on ARM `GT_MOD` is morphed into `x - (x / y) * y` (because ARM doesn't have such an instruction) and that is difficult to recognize as `x % y`.

Now, it should be possible to delay the transformati

[2017-12-11 20:23] AndyAyersMS commented on #15472
I wonder if this is an opportunity to use the wrapper concept like in #14305, though it perhaps would be too clunky when the underlying tree shape varies across architectures.

But I think firing for x64/x86 only is ok here.

[2017-12-11 20:50] jkotas commented on #15465
This diagnostic for calls on collected delegates should be on by default.  There is no good reason why it needs to be a special runtime knob. @parjong started working towards it in #12731 by introducing `UMEntryThunkCode::Poison`. It will detect the calls on collected delegate, but there is no nice error message. It should be pretty straightfoward to make it better by:
- Changing it to produce bet

[2017-12-11 20:59] mikedn commented on #15472
I don't know, seems a bit too convoluted for what is otherwise a simple expression.

Yes, considering that it doesn't save much probably it's ok. Though I'm a bit concerned about future interactions with #3439 though, it seems that one possible way to implement that would be to take advantage or morph+CSE even on x64/x86. Otherwise it would problematic for lowering to find div/mod nodes that can g

[2017-12-11 21:22] BruceForstall commented on #15293
I disabled this for ARM32 since it was already disabled elsewhere for Windows: https://github.com/dotnet/coreclr/pull/15450

It also exists in the testsFailingOutsideWindows.txt file.

[2017-12-11 21:59] lt72 commented on #15465
@davmason @sywhang: let's pick this up for 2.1

[2017-12-11 22:53] benaadams opened #15476 "[Jit] Loop condition doesn't elide bounds check"
[code]

[code]

[2017-12-11 23:02] BruceForstall commented on #12902
I don't believe this problem exists anymore

[2017-12-11 23:02] #12902 closed

[2017-12-11 23:03] BruceForstall commented on #14477
Closing all x86 legacy backend bugs

[2017-12-11 23:03] #14477 closed

[2017-12-11 23:03] BruceForstall commented on #14463
Closing all x86 legacy backend bugs

[2017-12-11 23:03] #14463 closed

[2017-12-12 00:57] jkotas commented on #15466
Do you happen to know how other runtimes similar to CoreCLR deal with this problem on Unix? E.g. does Java log unhandled exceptions into a syslog?

The custom error handling seems to be app-model specific. For example, there was a recent discussion about how to handle unhandled exceptions when CoreCLR is hosted in IIS (https://github.com/dotnet/core-setup). It was worked around for now ... but the

[2017-12-12 03:05] #14757 closed

[2017-12-12 03:05] #15197 closed

[2017-12-12 03:34] benaadams commented on #15472
It should drop this PR to one range check https://github.com/dotnet/coreclr/pull/15462 (3 in PR) from 6 in dotnet/master

[2017-12-12 05:26] #15415 closed

[2017-12-12 05:51] #14860 closed

[2017-12-12 05:53] #15153 closed

[2017-12-12 07:06] mikedn commented on #15476
I looked at this in the past. The reason why this doesn't work in the `while` loop is that the loop is turned into a do/while loop with the loop condition being duplicated. Something like:
[code]
becomes
[code]
Each `if` creates the expected `OAK_NO_THROW` assertion:
[code]
But then the `i` in `entries[i]` is not the `i` from assertions, it is `PhiDef($3, $4, $202)`. And assertion propagation does

[2017-12-12 07:15] jkotas commented on #15466
Another approach is to register a custom unhandled exception handler during the UI stack initialization using `AppDomain.CurrentDomain.UnhandledException`.

[2017-12-12 09:12] jean commented on #9946
I'm anxiously waiting for the day that I can do `apt-get install dotnet-sdk-2.0.0` in [Termux](https://termux.com/).

[2017-12-12 10:42] benjaml commented on #15463
initializeCoreCLR need the path to an exe to be executed, but I don't know which

[2017-12-12 11:03] mattwarren commented on #15463
That's just the path to the exe that you actually want to run, i.e the .NET executable you want the host to execute. I guess you could just write a simple 'Hello World' app to try things out.

BTW there's some docs that might help with this, they mostly cover the COM API, but they do have a section on the new x-plat API, see ['About Hosting .NET Core on Unix'](https://docs.microsoft.com/en-us/dotn

[2017-12-12 11:08] mattwarren commented on #15463
@janvorli the docs on [Hosting .NET Core](https://docs.microsoft.com/en-us/dotnet/core/tutorials/netcore-hosting) mostly discuss the COM Api's and only have a small section ['About Hosting .NET Core on Unix'](https://docs.microsoft.com/en-us/dotnet/core/tutorials/netcore-hosting).

Should they talk out the new x-plat APIs more prominently, as per your guidance above:

[2017-12-12 11:09] janvorli commented on #15463
@mattwarren, @benjaml the initializeCoreCLR's path to exe is something different. It is a path to the current host executable.

[2017-12-12 11:10] janvorli commented on #15463
@mattwarren I agree that the doc should be updated. Moreover, it is missing several relatively recent additions to the API.

[2017-12-12 12:57] benjaml commented on #15463
I don't have a .NET executable, I just want to run a .NET dll, can I put the dll path instead of the executable ?

[2017-12-12 15:13] benjaml commented on #15463
I got this while trying to use initializeCoreCLR

Exception thrown at 0x00007FFA3DE23FB8 (KernelBase.dll) in ConsoleApplication1.exe: 0x04242420 (parameters: 0x0000000031415927, 0x00007FF9F6AA0000, 0x00000049BAEF2C30).

[2017-12-12 16:12] benjaml commented on #15463
I'm using windows, is there any example of how to use the new hosting api for windows ?

[2017-12-12 16:30] AndyAyersMS commented on #15457
For future reference: the inliner tracks the reasons for each failed inline back and these can be surfaced in a variety of ways
* Enable inlining events in ETW and view the resulting ETL. For instance via a tool like [perfview](https://github.com/Microsoft/perfview).
* The [inlining analyzer](https://github.com/szehetner/InliningAnalyzer) is a new add-in tool that can show inlining failures and su

[2017-12-12 16:50] janvorli commented on #15463
The usage should be pretty much the same as in the https://github.com/dotnet/coreclr/blob/9e3ef8eb56d5027ed96348e89911afacbccee9f0/src/coreclr/hosts/unixcoreruncommon/coreruncommon.cpp I've referenced above. You need to correctly pass it all the parameters and at least these properties:
https://github.com/dotnet/coreclr/blob/9e3ef8eb56d5027ed96348e89911afacbccee9f0/src/coreclr/hosts/unixcoreruncom

[2017-12-12 17:08] benjaml commented on #15463
I'm pretty sure they are correct, but it's the exePath of coreclr_initialize that i'm not sure about

[2017-12-12 17:23] janvorli commented on #15463
As I've mentioned above, the currentExeAbsolutePath is the path to your native executable that calls the API (that's what is call the "host").

[2017-12-12 18:26] BruceForstall opened #15488 "CI configuration problem leads to unnecessary builds"
This problem causes many unnecessary builds, which is very negatively impacting our ARM64 machine utilization, for our very limited Windows ARM64 hardware.

Basically, for every dotnet/master commit, a set of builds happens for the release/2.0.0 branch (as well as the post-commit builds for the dotnet/master branch). This is wasting precious machine resources.

In the dotnet/coreclr release/2.0.0

[2017-12-12 18:33] BruceForstall commented on #15488
Closed as dup of https://github.com/dotnet/core-eng/issues/2262

[2017-12-12 18:33] #15488 closed

[2017-12-12 20:14] fiigii opened #15490 "[up-for-grabs] Create and port more test cases for Vector128<T> and Vector256<T>"
The new SIMD types `Vector128<T>` and `Vector256<T>` have been enabled in CoreCLR https://github.com/dotnet/coreclr/pull/15244. We need more test cases to make sure they work well with other CoreCLR features.
Some language features have to be tested:
- try/catch
- typecast
- boxing/unboxing
- calling convention
- ref
- ...

CoreCLR already has certain such tests for `System.Numeric.Vectors` (e.g.,

[2017-12-12 20:15] fiigii commented on #15490
cc @jkotas @AndyAyersMS @CarolEidt @BruceForstall @tannergooding @benaadams @4creators

[2017-12-12 20:39] AndyAyersMS opened #15491 "JIT: optimize away range check in common slice patterns"
Here's an example similar to #15472 that came up in some span conversion efforts in CoreFX:
[code]
Current asm:
[code]
Slicing a span with lengths specified by suitable functions of the span length should allow the range check to be optimized away (suitable meaning mods, `&`, guarded subtracts, etc). This should be a very common case as presumably users are almost always looking at the original le

[2017-12-12 21:03] AndyAyersMS opened #15492 "JIT: optimize away overflow check in some span non portable casts"
When casting a span to a larger type via `NonPortableCast`, the result should not be able to overflow and the jit should be able to eliminate the check and throw.

This came up in some span conversion work over in CoreFx.

It might be hard to catch all cases of this since the current code for `NonPortableCast<FromType, ToType>` first multiplies  the length by `sizeof<FromType>` and then divides by

[2017-12-12 21:07] nategraf opened #15493 "FEATURE_EVENT_TRACE and FEATURE_PERFTRACING macros may be combined"
Following #14772 and as the [EventPipe design](https://github.com/dotnet/designs/blob/master/accepted/cross-platform-performance-monitoring.md) continues to be implemented the seperation of FEATURE_EVENT_TRACE and FEATURE_PERFTRACING is becoming inaccurate and potentially confusing, We may want to merge the two and create one as the implementation progresses.

[2017-12-12 21:10] nategraf commented on #11567
Two tests that should be included under this objective are one for SampleProfiler and one to confirm the functional status of end-to-end LLTng and ETW. The latter will be important when ETW and LTTng are placed behind the EventPipe and we need to confirm that code changes there do not sever that stream

[2017-12-12 21:12] nategraf opened #15494 "EventSource does not send data to EventPipe on Windows"
As part of the [EventPipe design](https://github.com/dotnet/designs/blob/master/accepted/cross-platform-performance-monitoring.md), EventSource should send it's events through to the EventPipe logging when enabled. It currently does not

[2017-12-12 21:43] ChadNedzlek opened #15495 "CoreClr publish restoring feed package to root of drive"
@chcosta commented on [Wed Dec 06 2017](https://github.com/dotnet/core-eng/issues/2229)

In an unrelated investigation, I saw that this build definition, https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build/index?buildId=1194955, is doing a `dotnet restore` of the `init-tools.msbuild` project and assets are getting generated into the root folder

Machine name: ddvsowinage041
[code]

Loo

[2017-12-12 21:45] wtgodbe commented on #15495
@ChadNedzlek I don't remember why I removed that, but I suspect it can be added back in. @karajas can you look at Chad's last comment in the issue description and see if you remember why /p:ToolsDir=xxx was removed from init-tools?

[2017-12-12 22:16] brianrob commented on #11567
Great, thanks @nategraf.

[2017-12-12 23:59] AndyAyersMS commented on #15491
Guessing that part of the problem is that struct promotion doesn't clear the `GTF_GLOBAL_REF` flags in ancestor trees, leaving us with things like:
[code]

[2017-12-13 01:55] briansull commented on #15412
Fixed with PR #15475

[2017-12-13 01:55] #15412 closed

[2017-12-13 03:24] AndyAyersMS commented on #15491
Looks like we can optimize even when those flags are set. Here are some possibly useful changes in value numbering: [master...AndyAyersMS:ValueNumCompareSubIdentities](https://github.com/dotnet/coreclr/compare/master...AndyAyersMS:ValueNumCompareSubIdentities)

Leads to a small handful of good diffs in jit-diffs. Won't have time to push these further now as I'm off on vacation for a few weeks.

cc

[2017-12-13 08:35] benjaml commented on #15463
ok so this should be ok, then I don't know why I got
Exception thrown at 0x00007FFA3DE23FB8 (KernelBase.dll) in ConsoleApplication1.exe: 0x04242420 (parameters: 0x0000000031415927, 0x00007FF9F6AA0000, 0x00000049BAEF2C30).
when I call initializeCoreCLR, even if it throws an exception it also give the return of a success, so I'm not sure of how I should interpret it

[2017-12-13 09:50] janvorli commented on #15463
@benjaml could you share your current piece of code that is trying to initialize CoreCLR? I may be able to spot something in it.

[2017-12-13 09:55] alpencolt commented on #8496
@BruceForstall sorry for delaying.
Test results for RyuJIT ARM/Linux ([failed tests](https://gist.github.com/alpencolt/93fed4f72714f22cd1f26d8fbbd02ab0)):
[code]

Test results for RyuJIT ARMEL/Linux  ([failed tests](https://gist.github.com/alpencolt/949acf29b9bb4f75ad9964b3df09768d)):
[code]
Checked versions have about 6 failed tests. There are several segmentation fault and I think some of them b

[2017-12-13 10:11] benjaml commented on #15463
[code]

[2017-12-13 10:21] janvorli commented on #15463
@benjaml I have few questions. As for the code sample above. I assume the GetEntrypointExecutableAbsolutePath returns the currentExeAbsolutePath, right?

I am not sure what you mean by that. If it returns success, it cannot throw at the same time. So is it possible that the exception is thrown after the initializeCoreCLR returns? In other words, if you run it under a debugger and step over the ini

[2017-12-13 10:52] benjaml commented on #15463
ok so maybe I'll need to be more precise.
I'm using a native exe (c++) to load a native dll (c++), that will run the clr to link with the c# assembly.

I've also change the path to the coreclr.dll as it was not the right one so now the initializeCoreCLR fail and I got :
coreclr_initialize failed - status: 0x80004005

[2017-12-13 11:05] janvorli commented on #15463
Ok, that's a really general error code which can be caused by many different things. But one thing I wonder about - from the code fragment above, it seems that you are using only files built in the coreclr repo. That's not enough, you need output of both coreclr and corefx repos.
But as a first step, I would recommend downloading a zip file with the latest dotnet core from https://dotnetcli.blob.c

[2017-12-13 11:20] benjaml commented on #15463
Ok so coreclr_initialize succeed but I got this during coreclr_initialize  :
Exception thrown at 0x00007FFA3DE23FB8 (KernelBase.dll) in ConsoleApplication1.exe: 0x04242420 (parameters: 0x0000000031415927, 0x00007FF9FA2C0000, 0x000000154E593620).

[2017-12-13 11:22] janvorli commented on #15463
I've already asked about it, but could you please clarify this? If you step over the call to coreclr_initialize in the debugger, do you get the exception?

[2017-12-13 11:26] benjaml commented on #15463
yes

[2017-12-13 11:30] janvorli commented on #15463
Ah, this looks like a benign thing. The error code 0x04242420 means CLRDBG_NOTIFICATION_EXCEPTION_CODE and the first parameter 0x0000000031415927 means CLRDBG_EXCEPTION_DATA_CHECKSUM. So it is not a failure, but a debugger notification. You can ignore it. As you've said, the coreclr_initialize has returned success.

[2017-12-13 11:32] janvorli commented on #15463
See here: https://github.com/dotnet/coreclr/blob/master/src/debug/inc/dbgipcevents.h#L34-L42

[2017-12-13 12:14] hypeartist commented on #15457
Thanks, @jkotas, @AndyAyersMS, for clarification!

[2017-12-13 13:18] benjaml commented on #15463
Ok so then I try to create delegates but I got :
ERROR - Failed to create delegate.
Error code:80070002
I've put my c# assembly in appPaths and nativeDllSearchDirectories, is it enough because it seams like it failed to open files as I got this several times :
Exception thrown at 0x00007FFA3DE23FB8 in ConsoleApplication1.exe: Microsoft C++ exception: EEFileLoadException at memory location 0x000000

[2017-12-13 13:21] benjaml commented on #15463
Here is the code of AddDelegates :
[code]

[2017-12-13 13:39] janvorli commented on #15463
Looking at the coreruncommon.cpp sources, we also add the absolute path to the C# assembly to the TRUSTED_PLATFORM_ASSEMBLIES property.

[2017-12-13 14:56] benjaml commented on #15463
It looks like it created well the delegates but I can't call them. I got :
System.Runtime.InteropServices.SEHException
Parameters looks correct I don't understand

C++ function :
[code]

C# function :
[code]

[2017-12-13 15:31] janvorli commented on #15463
@benjaml I cannot see anything obviously incorrect. If the function had parameters or it was a member, I would think that the calling convention might be wrong, but since it is a static parameterless and function with void return, that cannot be the case.
Are you familiar with amd64 assembly enough so that you'd be able to step through the code of the delegate or at least get me the disassembly of

[2017-12-13 16:34] benjaml commented on #15463
Here is the disassambly of the delegate function code

[code]

[2017-12-13 17:10] BruceForstall opened #15503 "[RyuJIT/arm32/arm64] Add current BenchmarksGame benchmarks to tests.lst files"
Change https://github.com/dotnet/coreclr/pull/13994 disabled all BenchmarksGame testing for arm32 and arm64. The new set of tests should be added by either an automated re-creation of the tests.lst file or by adding them manually.

[2017-12-13 17:13] BruceForstall commented on #8496
@alpencolt Are those test results from a Checked or Release run? It sounds like maybe Release, since you say at the end that Checked has a different set of failures.

Can you open GitHub issues for the failures, once you have verified them?

[2017-12-13 17:20] alpencolt commented on #8496
@BruceForstall release sorry that forget to mention.
Armel tests were executed on chroot and now we've started to check them on real phone and many of this fails cannot be reproduced.
So our current infrastructure isn't ideal. I will share results when check carefully.

[2017-12-13 17:27] janvorli commented on #15463
@benjaml That looks correct. Could you please wrap the body of your test method in a try / catch, catching just "Exception" and swallowing it ? I wonder if an exception is thrown from the Console.WriteLine - that would result in the System.Runtime.InteropServices.SEHException, I think.

[2017-12-13 17:31] BruceForstall commented on #8496
As of https://github.com/dotnet/coreclr/commit/d135144e76d15054d62b996e218694c19fdab9de, RyuJIT is now the default JIT for ARM32 in .NET Core!

Congratulations and Thank You to everyone who has contributed to this effort!

You can see from this issue that the RyuJIT/arm32 porting effort started almost exactly one year ago.  Starting then, building on the working legacy arm32 JIT and leveraging x86

[2017-12-13 18:35] fiigii opened #15506 "Collect Optimization Candidates for Using Intel Hardware Intrinsics in mscorlib"
## Status of Intel hardware intrinsic work
At this time (12/13/2017), we have enabled all the infrastructures for [Intel hardware intrinsic](https://github.com/dotnet/corefx/issues/22940) and certain scalar/SIMD intrinsics. The next step is to implement specific Intel hardware intrinsics.

## Optimizing mscorlib using Intel hardware intrinsic
The base class library (mscorlib) is used by every .NET

[2017-12-13 18:37] fiigii commented on #15506
cc @jkotas @CarolEidt @AndyAyersMS @stephentoub @eerhardt @tannergooding @benaadams @4creators

[2017-12-13 18:51] RussellHaley opened #15507 "Build coreclr tests for FreeBSD on Windows 10"
Hi,

I'd like to cross build the coreclr tests on my Windows 10 system. According to my reading of build-test.cmd, that should mean adding the correct runtimeid parameter? The usage listing currently does not list freebsd.

My questions are: Is there a reason it can't be added? If not, where would I find the correct ID?

Some follow on questions to satisfy my curiosity (not criticism): Why are you

[2017-12-13 19:06] tannergooding commented on #15506
I don't think they are highly used, but [System.Buffer.Memmove](https://source.dot.net/#System.Private.CoreLib/src/System/Buffer.cs,243) would likely benefit (adding non-temporal support for large buffers might also be useful).

System.Numerics.Vectors may benefit (although outside mscorlib)

Other general areas:
* System.String
* Regex
* Cryptography

[2017-12-13 19:07] stephentoub commented on #15506
This isn't a specific answer, but I expect we'd see good wins if the methods on string (e.g. IndexOf, Equals, Compare, etc.) and on array (e.g. IndexOf, Sort if possible, etc.) were optimized with these intrinsics  Those are used all over the place, including by other core types in corelib, e.g. `List<T>.IndexOf` uses `Array.IndexOf`.

[2017-12-13 19:22] benaadams commented on #15506
Not mscorlib but [`BitCount(long value)` in Kestrel](https://github.com/aspnet/KestrelHttpServer/blob/2b54b2fc91629a96b57af9dddb18f44dff53a70f/src/Kestrel.Core/Internal/Http/HttpHeaders.cs#L115-L129) and [CountBits in System.Reflection.Internal.BitArithmetic](https://github.com/dotnet/corefx/blob/bffef76f6af208e2042a2f27bc081ee908bb390b/src/System.Reflection.Metadata/src/System/Reflection/Internal

[2017-12-13 19:29] fiigii commented on #15506
@benaadams `Popcnt` is already implemented https://github.com/dotnet/coreclr/pull/14456. Would you like to give a try?

[2017-12-13 19:35] 4creators commented on #15506
There are several implementations of performance critical functions for web based on SIMD both SSE2 - SSE42 and AVX2:

1. Base64 encoding and decoding.
2. General String search - String.Contains, String.IndexOf.
3. Hash algorithms - there are specialized intrinsics like SHA but besides there are SSE/AVX2 optimized, reference implementations of major hashing algorithms including SHA3/Keccak.
4. Pop

[2017-12-13 19:49] 4creators commented on #15490
@fiigii

I would be interested in working on this issue, however, in the next 1 - 2 weeks I could allocate smaller part of my time due to time pressure from other work. If you think it is OK pls assign me to it

When do you plan to implement loading and storing intrinsics? They would be very handy for any tests.

[2017-12-13 19:49] danmosemsft commented on #10520
I guess I add something like this that wraps dlerror()
[code]
then have this code call it instead of GetLastError() - which PAL_LoadLibraryDirect doesn't set
[code]
then update LoadLibErrorTracker to accept and throw a string.

[2017-12-13 20:06] HFadeel commented on #15506
1. General String search - String.Contains, String.IndexOf
2. String encoding and decoding UTF8, UTF16, Base64
3. GetHashCode() in string and other types
4. Regex is a broad area to investigate and improve (.NET Core is 2 to 3 times slower than JVM)

[2017-12-13 20:09] benaadams commented on #15506
Encoding [`Utf8 <-> string`](https://woboq.com/blog/utf-8-processing-using-simd.html), Ascii <-> string (vector widen/narrow)

[2017-12-13 20:32] morganbr opened #15508 "Replace HashHelpers.Combine with HashCode.Combine"
```System.HashCode``` was recently added in order to make high-quality fast hashing easy. We should replace usage of ```HashHelpers.Combine```, an internal low-quality hash combiner with ```HashCode.Combine```. It should lead to better distribution in dictionaries and the hashing should be nearly as fast.

[2017-12-13 20:38] mschult2 commented on #7824
I'm able to download the symbols for clrjit.dll and lots of other Windows libraries from the Windows public symbol server.

Yet I cannot download the symbols for coreclr.dll.

Are the symbols for coreclr.dll indexed somewhere?  If not, do you have an estimate for when this issue will be resolved?

[2017-12-13 20:47] nategraf opened #15509 "Scripts which generate performance event tracing code are difficult to read and maintain"
The python scripts in src/scripts to generate C++ code for eventing have become messy and difficult to understand, or expand upon. To ease future maintenance effort and allow better open-source collaboration there scripts should go through a serious round of refactoring.

[2017-12-13 21:00] dagood commented on #7824
You should be able to find coreclr.dll there, although there are occasional hiccups where a specific release isn't archived correctly at first. For example, https://github.com/dotnet/core/issues/1112 discusses symbols for the 2.0.3 release. For the 2.0.4 release, I'm able to get symbols associated with all the files I'd expect. What version are you trying to find on the public symbol server?

This

[2017-12-13 21:00] #7824 closed

[2017-12-13 21:00] danmosemsft commented on #7824
@mikem8361

[2017-12-13 21:04] danmosemsft commented on #15506
Is that still the case if you use a build from master with RegexOptions.Compiled? In 2.0 that flag did not do anything. If so, do you have a benchmark you could share?

@ViktorHofer is considering options for regex perf.

[2017-12-13 21:04] danmosemsft commented on #15506
Should have tagged @HFadeel for question above

[2017-12-13 21:05] danmosemsft commented on #15506
fyi. @bartonjs @JeremyKuhne

[2017-12-13 21:27] fiigii commented on #15490
@4creators Thanks for your interest. I have no permission to assign issues, and this issue contains many test work for Intel hardware intrinsics. Please just go ahead to pick one test that you want to try when you get a chance. I will write more test cases as well.

That is my next step work, I hope I can check in Load/Store intrinsics after the new year. Before that, you can use `Unsafe.Read/Writ

[2017-12-13 21:54] MichalStrehovsky commented on #13344
This has been fixed in VS 2017 Update 5, but let's keep this around for a bit longer until everyone is off the buggy versions.

[2017-12-13 22:19] #12983 closed

[2017-12-14 00:32] lemmaa commented on #15466
@jkotas, Could you point out where this was discussed?

And I agree with the first suggestion. During the Tizen commercialization experience with .NET, I feel that we need to extend the CoreCLR host API. The exception related API is also one of them. This will accommodate the problem beyond the `AppDomain.CurrentDomain.UnhandledException` can handle.

@kbaladurin, any thought?

[2017-12-14 00:35] jkotas commented on #15466
Updated link above (https://github.com/dotnet/core-setup/issues/3447).

[2017-12-14 02:14] kasper3 opened #15515 "Is it possible for JIT to devirtualize object boxing in simple cases?"
I was testing out https://sharplab.io/

This code:

[code]

produces:

[code]

Is it possible to devirtualize this int->object->int boxing?

[2017-12-14 02:16] kasper3 commented on #15515
![image](https://user-images.githubusercontent.com/33230602/33972221-837f50b2-e085-11e7-90bf-4a5acff8c6ff.png)

[2017-12-14 03:20] benaadams commented on #15515
Might currently do in the current branch (on inlining)? https://github.com/dotnet/coreclr/pull/14698

/cc @AndyAyersMS

[2017-12-14 03:42] RussellHaley commented on #15507
Okay, I just got the tests to build by changing the default value for __BuildOS. I'll work backwards from there.

[2017-12-14 03:42] #15507 closed

[2017-12-14 04:58] fiigii commented on #15515
@kasper3 This website (sharply) uses JIT32 rather than RyuJIT.

[2017-12-14 05:05] kasper3 commented on #15515
Thanks. Is RuJIT output different than the one demonstrated above (forgoes boxing)?

@ashmind, would it be feasible to incorporate  RuyJIT in https://github.com/ashmind/SharpLab?

[2017-12-14 06:13] jkotas opened #15519 "JIT/HardwareIntrinsics tests failing in CI on OSX"
JIT/HardwareIntrinsics/Add_r

[code]

[code]

[2017-12-14 06:14] jkotas commented on #15519
@fiigii @dotnet/jit-contrib

[2017-12-14 06:14] jkotas commented on #15519
#15518 https://ci.dot.net/job/dotnet_coreclr/job/master/job/checked_osx10.12_tst_prtest/8196/consoleFull#2096352038c7af6a29-b465-404a-b249-90a3911e4354

[2017-12-14 06:15] jkotas commented on #15519
#15512 https://ci.dot.net/job/dotnet_coreclr/job/master/job/checked_osx10.12_tst_prtest/8178/consoleFull#2096352038c7af6a29-b465-404a-b249-90a3911e4354

[2017-12-14 06:16] fiigii commented on #15519
@jkotas I will look into this failure tomorrow. Please assign to me.

[2017-12-14 06:17] jkotas commented on #15519
Thanks!

[2017-12-14 06:23] mikedn commented on #15515
It's not clear what you mean by "devirtualize object boxing", there is no virtual call in your code. The current RyuJIT build eliminates all the code:

[code]
Presumably that's what you expect.
However, if the `foo` parameter is used then boxing is back, of course:
[code]
generates
[code]

[2017-12-14 07:23] kbaladurin commented on #15466
@jkotas Java doesn't log unhandled exception into syslog by default. User's code can setup unhandled exception handler using `Thread.setDefaultUncaughtExceptionHandler` method. If there isn't any custom handler it prints exception info to stderr (`ThreadGroup` class):
[code]

In Android this approach is used to setup unhandled exception handler during zygote initialization before calling applicati

[2017-12-14 07:25] kbaladurin commented on #15465
@jkotas thank you for suggestion! I'll try to use this approach.

[2017-12-14 08:37] TautvydasZilys commented on #7824
@dagood do you happen to have a link to symbols of CoreCLR.dll for runtime.win7-x64.Microsoft.NETCore.Runtime.CoreCLR version 1.0.2?

[2017-12-14 09:13] benjaml commented on #15463
yes this is it I got a System.Runtime.InteropServices.SEHException

[2017-12-14 09:40] benjaml commented on #15463
I tried an executeAssembly that just do :
Console.WriteLine("HelloWorld");

And it worked well

[2017-12-14 09:54] benjaml commented on #15463
I've tried to make the delegate function return an int, it gives me the same result --> System.Runtime.InteropServices.SEHException
I've also tried to make the delegate function call a dll import function of the native dll to print something. This gives me the same result --> System.Runtime.InteropServices.SEHException

[2017-12-14 10:15] benjaml commented on #15463
Even if the delegate function is empty and does nothing, I still got System.Runtime.InteropServices.SEHException

[2017-12-14 11:48] janvorli commented on #15463
@benjaml ok, thank you for testing all of these things. Let me try to debug it locally. Would you be able to get me a complete simple repro source that I can use? I can create my own based on the fragments of code you've pasted into this issue, but getting it from you would help me to do it faster.

[2017-12-14 13:33] benjaml commented on #15463
Here is a repo of my code :

https://github.com/benjaml/CppCSharpInteropSample/

[2017-12-14 14:05] janvorli commented on #15463
@benjaml thank you, I'll try to find some time today or tomorrow to debug it.

[2017-12-14 14:07] benjaml commented on #15463
ok thanks a lot for your time

[2017-12-14 14:34] tmds opened #15522 "RuntimeHelpers.PrepareDelegate/PrepareMethod should JIT the given method"
There is a comment here:

https://github.com/dotnet/coreclr/blob/b9affb49f79ed8319923c2f5b07b4aeeb04efe36/src/mscorlib/src/System/Runtime/CompilerServices/RuntimeHelpers.cs#L147-L149

But I can't figure out if it is supported or not.

In case it isn't supported, is there another way to ensure certain methods in a call graph are jitted? Or to jit a method without calling it?

[2017-12-14 14:35] HppZ commented on #12850
@mikem8361 but version of sos.dll in C:\Program Files\dotnet\shared\Microsoft.NETCore.App\2.0.0\ is not right, so how to get specific version of sos.dll?

[2017-12-14 14:42] tmds commented on #14991
@swgillespie can you please ping @Maoni0 to take a look at this issue?

[2017-12-14 15:15] HppZ commented on #12850
no sos.dll exist in C:\Program Files\WindowsApps\Microsoft.NET.CoreRuntime.1.1_1.1.25305.1_x64__8wekyb3d8bbwe, how to find specific version of sos.dll?

[2017-12-14 15:48] dagood commented on #7824
I don't, that package was from the .NET Core Runtime 1.0.0 release, before I had context on where/if symbol packages were stored. It sounds like you should upgrade to a newer version.

[2017-12-14 16:44] janvorli commented on #15463
@benjaml I've found the problem. Your code called coreclr_shutdown before calling the delegate. You rely on ExecuteManagedAssembly to initialize the coreclr. but it also calls coreclr_shutdown. So when you call the delegate later, the runtime is shut down. In such state, calling any managed code is prohibited for obvious reasons.
I have commented out that call to shutdownCoreCLR and the delegate w

[2017-12-14 16:48] benjaml commented on #15463
I feel so dumb ... Thanks a lot

[2017-12-14 16:49] jkotas commented on #15522
PrepareConstrainedRegions is no-op in .NET Core.

[2017-12-14 16:50] janvorli commented on #15463
No problem :-), I was happy to help.

[2017-12-14 16:56] jkotas commented on #15522
There is not such method today. I think it may be reasonable to fix RuntimeHelpers.PrepareDelegate / PrepareMethod to JIT the method given to it (just the single method - without the complicated limited call-graph walk done by full .NET Framework implementation).

[2017-12-14 17:03] #15515 closed

[2017-12-14 18:00] 4creators commented on #15522
This could be very useful for hardware intrinsics in R2R scenarios.

[2017-12-14 18:06] swgillespie commented on #14991
@tmds Maoni is currently out of the office; she'll be back in about a week.

[2017-12-14 18:07] jkotas commented on #15522
@4creators Could you please elaborate why you think it would be helpful?

[2017-12-14 18:14] 4creators commented on #15522
@jkotas  maybe we can move discussion on how to use it in hardware intrinsics to #15427 as it will fit the scope of that issue

[2017-12-14 18:20] 4creators commented on #15427
It seems that one of .NET Framework features or something similar could be quite useful for initiating rejiting: `PrepareConstrainedRegions`. IMO It is one the options which are worth analyzing.

[Q: Does .NET Core support PrepareConstrainedRegions?](https://github.com/dotnet/coreclr/issues/15522) discusses how to use it or implement it in .NET Core with @jkotas proposing a simplified solution:

@

[2017-12-14 18:23] jkotas commented on #15427
I does not make sense for `RuntimeHelpers.PrepareMethod` to cause the method to be rejitted (ie throw away existing code and generate a new one).

[2017-12-14 18:25] jkotas commented on #15427
This should be the simple initial implementation. Anything more complex should be only done based on measurable data that shows the benefit.

[2017-12-14 18:57] mikem8361 commented on #12850
If the dump is .NET Native, then you need to use the path @cshung suggested.

If the dump is .NET Core, then sos.dll should be in the same path as coreclr.dll.

If the dump is desktop Framework, then sos.dll should be in the same path as clr.dll.

If the dump wasn't generated on the machine you are loading it from, it more complicated finding the right version.  For the desktop and .NET Native (I

[2017-12-14 19:06] 4creators commented on #15427
Hmm it is hard to agree with that statement when one analyzes the example I have given. If developer knows that the benefit of rejiting will be around 2x faster execution for Avx2 in relation to Sse2 or even 4x faster execution for AVX512 intrinsics or even on Arm with comparison to Neon we could get in future 16x faster execetion for SVE 2048bit instructions the benfit is known at the moment deve

[2017-12-14 19:33] jkotas commented on #15427
I was just saying that PrepareMethod make sense for the case where the method does not have a code at all and you want to make sure that it has one.

The situation you are talking about is different. It would require a new API like: `RuntimeHelpers.ReoptimizeMethod`.

[2017-12-14 19:44] 4creators commented on #15427
Absolutely agree - it is something what is discussed for a very long time under the term compiler hints.

[2017-12-14 20:15] ViIvanov opened #15526 "Add "Create" method to EqualityComparer<> class"
Now we have a `Create` method in [Comparer<> class](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Collections/Generic/Comparer.cs#L21):
[code]

I think, it will be usable to have an analog in EqualityComparer<>:
[code]

[2017-12-14 21:49] jkotas commented on #15526
This issue was moved to dotnet/corefx#25928

[2017-12-14 21:49] #15526 closed

[2017-12-14 22:21] Tornhoof commented on #15506
@danmosemsft
I tried that out using @ViktorHofer's version of regex-redux https://github.com/ViktorHofer/CompiledRedux-Desktop-Vs-Core. I added the appropriate 2.1 SDK and the output is on par with the full framework.
Still it's roughly 2s slower than the original regex-redux java version from https://benchmarksgame.alioth.debian.org/u64q/program.php?test=regexredux&lang=java&id=3

[code]
| Method

[2017-12-14 22:33] danmosemsft commented on #15506
Thanks for measuring that. That's 30% slower than Java. Still plenty of room to improve, including perhaps intrinsics.

[2017-12-14 23:52] HppZ commented on #12850
I  use Windbg to debug my UWP app, lm command shows that coreclr is loaded from C:\Program Files\WindowsApps\Microsoft.NET.CoreRuntime.1.1_1.1.25305.1_x64__8wekyb3d8bbwe, but no sos.dll exist in this folder, and Windbg did not download it from MS symbol server automatically.
so is there a way to download specific version of those debugging dlls? really need it.

[2017-12-14 23:58] #15096 closed

[2017-12-15 00:15] jkotas commented on #15096
@jashook Thank you!

[2017-12-15 00:26] lt72 commented on #13828
@sywhang FYI
@BruceForstall: do you know when you will get a chance to work on this issue?

[2017-12-15 00:42] BruceForstall commented on #13828
I plan to review and (hopefully) merge the outstanding PR within the next couple days. I had been holding off until RyuJIT/arm32 became the default, which happened yesterday.

[2017-12-15 02:17] #14955 closed

[2017-12-15 04:00] benaadams opened #15537 "Assert failure: Thread::IsObjRefValid(&objref) testing checked against corefx"
Windows_NT x64 Checked corefx_baseline failure
[code]

/cc @jkotas

[2017-12-15 08:54] dotnet-mc-bot opened #15539 "Test failure: reflection_regression._dev10bugs_Dev10_629953_Dev10_629953_/_dev10bugs_Dev10_629953_Dev10_629953_cmd"
Opened on behalf of @Sunny-pu

The test `reflection_regression._dev10bugs_Dev10_629953_Dev10_629953_/_dev10bugs_Dev10_629953_Dev10_629953_cmd` has failed.

Test Infrastructure Failure: Method not found: '!0 System.ReadOnlySpan`1.get_Item(Int32)'.
    Expected: True
    Actual:   False

        Stack Trace:

Build : Master - 20171215.02 (Core Tests)
Failing configurations:
- redhat.69.amd64
  - x64

[2017-12-15 10:10] alpencolt opened #15540 "ASAN false positive"
There are a lot of false-positive cases in CoreCLR when it executed with enabled ASAN caused by custom stack unwinding and memory allocation, e.g.:
[code]

It is needed to add annotions to handle such cases correct:
https://github.com/google/sanitizers/wiki/AddressSanitizerManualPoisoning
and fake stack API: https://github.com/llvm-mirror/compiler-rt/blob/master/include/sanitizer/asan_interface.h#

[2017-12-15 11:15] bruno-garcia commented on #13542
It seems to me that this problem exists when the published application relies on a _runtime store_ which is not available at the server it was deployed.
It can be solved by installing the .NET Core SDK or not relying on runtime store by setting _PublishWithAspNetCoreTargetManifest_ to false or not using the '.All' metapackage.

What's unclear to me is if the *hosting* package alone should be enoug

[2017-12-15 11:43] mattwarren commented on #15522
Yes, this would be nice, based on [this comment](https://github.com/dotnet/coreclr/issues/14615#issuecomment-339097951) from @AndyAyersMS it currently has some limitations and [the workaround](https://github.com/dotnet/coreclr/issues/14615#issuecomment-339121183) is tricky.

Although I assume from your comment that you're not proposing to also JIT the entire call-graph, just a single method, is th

[2017-12-15 13:16] benjaml commented on #15463
I've one last problem (I hope).

I want to reload the appdomain when I modify my c# dll. I think this is not possible to only reload the appdomain here since it's not detach from the clr. So I need to reload the clr, So I've tried to shutdown then recreate the clr but it is not working.

here is my code :

[code]
I got :
coreclr_initialize failed - status: 0x80131022

Is there something else to do

[2017-12-15 14:03] benjaml commented on #15463
I've tried to change the appDomainFriendlyName, but it does not change the problem

[2017-12-15 14:19] benaadams commented on #15539
@ahsonkhan assume this is change https://github.com/dotnet/coreclr/pull/14727

[2017-12-15 15:19] jkotas commented on #15522
The problem is with finding the entire call-graph is. Static non-virtual calls are easy, but the transitive closure can be very large. In full .NET Framework, this method also consults ReliabilityContract attributes to constraint the call graph to reasonable size.

Virtual calls, generics and every other runtime feature are hard. It would basically have to do same kind of global analysis as full A

[2017-12-15 15:23] iSazonov opened #15542 "Q: How set a thread stack size?"
In PowerShell repo we catch [an recursion Issue](https://github.com/PowerShell/PowerShell/issues/4268) likely with thread stack size. PowerShell code create threads with default stack size so I tried to set a thread stack size by [COMPlus_DefaultStackSize](https://github.com/dotnet/coreclr/blob/08d39ddf02c81c99bd49c19b808c855235cbabdc/src/pal/src/init/pal.cpp#L213) env variable on Windows. But it

[2017-12-15 16:59] Imisnew2 commented on #14997
@Const-me We just upgraded to .NET Core 2.0.3 and we're also hitting this issue during CI, causing builds to fail intermittently. Has there been any update as to whether this is going to be put into a 2.0 servicing release per @brianrob on Nov 13?

I ask since the 2.0.X milestone doesn't have this (or a seemingly related issue) attached to it.

[2017-12-15 17:03] jkotas opened #15543 "dotnet report segfaults on Ubuntu 16.04 x64"
_From @Jamesxql on December 15, 2017 11:44_

Run asp.net core 2.0 app causes a Segmentation fault.

[code]

[code]

[code]

[Core file](https://s3.cn-north-1.amazonaws.com.cn/netcoredebug/core)
[code]

_Copied from original issue: dotnet/corefx#25941_

[2017-12-15 17:03] jkotas commented on #15543
cc @brianrob

[2017-12-15 17:37] brianrob commented on #14997
@lmisnew2 I need to submit this for approval for 2.0 servicing.  I will do so and report back to this thread when I get a response.

[2017-12-15 17:56] brianrob commented on #14997
PR for 2.0: https://github.com/dotnet/coreclr/pull/15444

[2017-12-15 18:17] mikem8361 commented on #12850
If this is a UWP app (using .NET Native), then you need to load mrt100sos.dll like @cshung suggested.

[2017-12-15 18:43] Imisnew2 commented on #14997
Thanks @brianrob.

[2017-12-15 19:19] maryamariyan opened #15544 "AssemblyName.GetAssemblyName on zero byte file segfaults on all unix distros"
Running the following code snippet is expected to throw with BadImageFormatException but causes segmentation fault on every unix distribution

[code]

[code]

in pedecoder.inl m_base seems to be null:
[code]

[2017-12-15 19:23] brianrob commented on #15543
@Jamesxql, do you happen to have a repro app that I can use to repro this?  I have been trying but unable to get symbols for this core file.

[2017-12-15 19:25] jkotas commented on #15544
This is regression introduced by https://github.com/dotnet/coreclr/pull/10772

cc @ruben-ayrapetyan

[2017-12-15 21:12] ahsonkhan commented on #15539
This should be resolved by the next run. It failed since the change was taking time to propagate through.

[2017-12-15 21:18] MkazemAkhgary opened #15545 "Bug inside c# dot Net Core Compiler"
this code does not compile which makes sense perfectly (because of cycling issue).

    public struct Node<T>
    {
        Node<T> Left { get; }
    }

how ever nullable member doesn't seem to cause cycling. but lets be accurate. this code explodes at runtime. this does not compile in dot net framework which is all good. but it **does** compile in dot net core and causes `type load exception` at

[2017-12-15 21:47] MichalStrehovsky commented on #15545
Thanks for reporting! This is tracked as dotnet/corefx#25251.

[2017-12-15 21:47] #15545 closed

[2017-12-15 22:09] janvorli commented on #15463
@benjaml Neither reloading the app domain nor reinitializing the runtime is possible in coreclr. There was some work done to support assembly unloading, but it is very complex and was not completed yet.
See the discussion in the issue #13612 for more details.

[2017-12-15 22:10] janvorli commented on #15463
If you have more questions, please ask @jkotas. I am starting my paternity leave on Monday.

[2017-12-15 22:37] ahsonkhan commented on #1279
@RussKeldorph, can you please triage/prioritize this issue. Ty

[2017-12-15 22:38] ahsonkhan commented on #8516
@kouvel, can you please triage/prioritize this issue. Ty

[2017-12-16 00:23] #15089 closed

[2017-12-16 00:37] RussKeldorph commented on #1279
@ahsonkhan What do you mean by triage/prioritize?  By when do you need it?  Can you summarize why it is more important now?  I'm just looking for a summary to help us weigh it against other tasks.

@dotnet/jit-contrib

[2017-12-16 00:55] #15519 closed

[2017-12-16 00:57] jkotas commented on #1279
The current plan is:
-	C# will keep zero initializing by default. Changing the default would be too breaking.
-       We have a set of issues opened to make the zero initialization done by the JIT more efficient or reduce need for it (#13827, #13823, #13825)
-	Folks who really want to the bit of performance by avoiding match C++ performance will use custom ILLinker step (https://github.com/mono/li

[2017-12-16 01:02] danmosemsft commented on #15544
Improved title. Feel free to fix.

[2017-12-16 01:08] HppZ commented on #12850
this is a UWP app in Debug mode, so it is not using .Net Native, so I need to get  specific version of sos.dll.

[2017-12-16 01:11] danmosemsft commented on #15542
What about the overloads to the Thread constructor, do they not work?

[2017-12-16 01:11] danmosemsft commented on #15542
Also is this OS specific?

[2017-12-16 01:13] danmosemsft commented on #15508
@jcdickinson any interest, since you created the API?

[2017-12-16 03:36] sdmaclea opened #15551 "Move tests/JIT/HWIntrinsics/* into XArch subdirectory"
It would be nice to keep HWIntrinsic tests in platform/namespace specific directories.

I plan to add the `Arm64` tests into `tests/JIT/HWIntrinsics/Arm64`

It would be nice to move the `XARCH` ones into a subdirectory `XArch`, `x86` or something like that.

@dotnet/jit-contrib For opinions
@fiigii Since this will likely affect your work, can you do this at your convenience?

[2017-12-16 04:05] iSazonov commented on #15542
In the Issue https://github.com/PowerShell/PowerShell/issues/4268 we haven't still understanding a root cause and is this OS specific or not. We have one report that using of the overload to the Thread constructor didn't help on MacOS.

[2017-12-16 04:17] BruceForstall opened #15552 "[RyuJIT/arm32] ReadyToRun test failures"
Newly added R2R test jobs in Jenkins show many failures.

e.g.:
1. Basic R2R run (pri-0; probably should be pri-1): https://ci.dot.net/job/dotnet_coreclr/job/master/job/arm_cross_checked_windows_nt_r2r_tst_prtest/1/. 414 failures, 1526 pass.
2. R2R minopts, pri-1. https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/arm_cross_checked_windows_nt_r2r_jitminopts_tst_prtest/1/. 688 fail,

[2017-12-16 04:17] BruceForstall commented on #15552
@dotnet/arm32-contrib

[2017-12-16 10:07] tannergooding commented on #15551
I have a PR up (https://github.com/dotnet/coreclr/pull/15538) which moves them under the X86 folder to account for this.

[2017-12-16 10:09] tannergooding commented on #15551
I can split the particular commit which moves the tests out and into a separate PR if it is currently blocking.

[2017-12-16 10:22] fiigii commented on #15551
@tannergooding Thanks for the work. However, "X86" is in .gitignore, so that we may have to "force" add each file in the future. Could you change it to other name, such as "Xarch", "Intel", or something?

[2017-12-16 10:28] tannergooding commented on #15551
The PR also explicitly adds the tests/src/JIT/HardwareIntrinsics/X86 folder to the list of paths to not ignore. I believe we already had to do a similar thing for the src/mscorlib/Sysyem/Runtime/Intrinsics/X86 folder. I know we have already done the same for some other src paths that include X86.

[2017-12-16 10:43] Jamesxql commented on #15543
@brianrob , this is my app sources

[WebAPI.zip](https://github.com/dotnet/coreclr/files/1564668/WebAPI.zip)

[2017-12-16 10:45] tannergooding commented on #15551
Note: I am not opposed to using xarch (or something other than x86) as the folder name if people feel strongly.

I just believe making the folder name line up with the name space name makes locating the tests and their organization a bit simpler.

[2017-12-16 10:48] fiigii commented on #15551
Agree, and I prefer x86 over others actually.

[2017-12-16 15:30] jkotas commented on #15551
It is not blocking, but it would make your other PR easier to review. Could you please split it into a separate PR?

[2017-12-16 19:51] ashmind commented on #15515
@kasper3

Yep and I planned this, but I can't promise any specific timeline.
(which with SharpLab/OSS might mean anything from a few weeks to a few years)

[2017-12-17 02:12] HppZ commented on #1478
I use Windbg to debug a UWP app(in Debug mode), lm command shows that coreclr 4.6.25305.1 is loaded from C:\Program Files\WindowsApps\Microsoft.NET.CoreRuntime.1.1_1.1.25305.1_x64__8wekyb3d8bbwe, but no sos.dll exist in this folder, so:

1, Is there a way to download specific version of those debugging dlls?
2, I got sos.dll 4.6.25221.1 from https://github.com/dotnet/core/blob/master/release-notes

[2017-12-17 16:06] GalSvirin1 opened #15559 "CLR profiling: DoStackSnapshot returns wrong Instruction Pointer"
I'm currently writing a CLR profiler, and I came across something very odd. When throwing two different exceptions, one from the try clause and one from the catch clause, the CLR notifies me of the same instruction pointer.

I'm registered to receive the ExceptionThrown callback
While inside that callback, I start a DoStackSnapshot on the current thread.
(https://docs.microsoft.com/en-us/dotnet/fr

[2017-12-18 01:45] benaadams commented on #15537
Raised corefx issue https://github.com/dotnet/corefx/issues/25972

[2017-12-18 04:40] benaadams commented on #11869
Also [Hybridizer from NVIDIA](https://devblogs.nvidia.com/parallelforall/hybridizer-csharp/) that converts IL to CUDA

[2017-12-18 08:11] Toxantron commented on #11869
That looks pretty much like what I had in mind - their sample code uses `Parallel.For` as well.

I still see potential of integrating it into the _CoreCLR_ and making it GPU-independent. .NET has become cross platform and it would be really great to see it become cross-GPU hardware accelerated.

I do also understand that there is lots of commercial potential and so maybe a Hybrid solution could wo

[2017-12-18 10:01] tmds commented on #15522
@jkotas I'm fine with this issue being closed or re-purposed to track support for `PrepareMethod`.

[2017-12-18 11:13] jkotas commented on #11869
GPU targeting compilers tend to be relatively big, slow and complex. Running them at build-time is better, to start with at least. If we hear from folks running the GPU targeting compilers at build-time that their product would be much better for some reason if they can run them at runtime via JIT hook instead, we can absolutely consider introducing one for them.

Also, similar IT-hook exists alre

[2017-12-18 12:04] Toxantron commented on #11869
Thanks for the reply @jkotas.

I understand that. The idea was to remain platform independent when building libraries and packages. Assume you include different packages in your application, some of which carry the _GPUAttribute_ and then deploy the resulting application to different target machines. It would be neat to just use `dotnet run --hook=altimesh-cuda myApp.dll` on a nvidia machine and `

[2017-12-18 13:54] JimBobSquarePants commented on #11869
Runtime would certainly get my vote; it's challenging enough configuration-wise shipping standard builds.

[2017-12-18 14:54] tmds opened #15561 "First try to load libicu version used at build time"
The libicu shim tries to find a libicu starting 20 versions higher than the compile time major and tries minors from 5 to 1.

I'm using a source-build dotnet on Fedora. My system looks in 4 libdirs. So only after about 400 failed open calls, dotnet finds the libicu of my system.

We could first check if we find the build icu version before doing the version sweep.

[2017-12-18 15:44] Tragetaschen commented on #15057
I just stumbled over this on full .NET framework (`<TargetFramework>net47</TargetFramecork>`):
`await memoryStream.CopyToAsync(serialPort.BaseStream)` just hung when `memoryStream.Length == 0`

[2017-12-18 16:59] mikedn commented on #12836
Similar example, with a local variable instead of a constant:
[code]
Picked up from actual corelib code:
https://github.com/dotnet/coreclr/blob/ff440aaee646319417522c11b34ab4fb668f4894/src/mscorlib/src/System/AppDomain.cs#L518-L526

[2017-12-18 17:46] mikedn opened #15564 "Q: Does Span<T>(new T[0]) work correctly?"
This produces a byref that points to the end of the object. I think I read somewhere that GC doesn't like such pointers. Maybe I misunderstood but seems like it's worth a question because it's a rather unusual case.

[2017-12-18 19:00] ChadNedzlek commented on #15495
@wtgodbe @karajas Any further information? This is messing up build machines, because the builds are placing files in random locations on the harddrive.  I can easily revert the change that removed the /p:ToolsDir set, but since I have no idea what the intent of that change was, I'm pretty hesitant to just make random changes in a codebase in which I'm not familiar.

[2017-12-18 19:04] ChadNedzlek commented on #15495
Is there someone responsible for the Core CLR builds that I could have look into this?

[2017-12-18 19:05] wtgodbe commented on #15495
My suspicion is that I initally made a change to the line that passes `/p:ToolsDir=xxx`, but then reverted the change after Karthik's comment (https://github.com/dotnet/coreclr/pull/14662/files#r146404288), and accidentally reverted it to the state of that line from an older version of the file. I don't see any reason why we wouldn't want or need `/p:ToolsDir=xxx` there, so I think it would be saf

[2017-12-18 20:13] BruceForstall opened #15566 "JIT: GitHub_15291 test failure with MinOpts"
Related to #15442

[code]

https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x86_checked_windows_nt_minopts/

[2017-12-18 21:17] mikedn commented on #15566
Looks like this comes from shift decomposition, it should do mask the shift count to 6 bits to match the updated behavior of the shift helper.

https://github.com/dotnet/coreclr/blob/46dc37a27abe79d5977a1942541b1665b61f7a17/src/jit/decomposelongs.cpp#L1090

[2017-12-18 21:18] #15495 closed

[2017-12-18 22:16] sdmaclea opened #15569 "Question: test artifacts"
@jashook With #15448, Looks like the test artifacts created by Windows Check Build and Test file shrunk by 75%.  Tests shrunk by 80%.  Is that expected?

Building on Unix is taking hours on my Skylake i7 8 core desktop.  Picking up the test artifacts from CI was saving a lot of build time on my systems.

Is there a place where the Priority 0 & Priority 1 tests artifacts are still archived  and pub

[2017-12-18 23:29] ChadNedzlek opened #15572 "implicit operator Memory<T>(T[] array) should not throw for null array"
It's very unexpected, from a callers perspective, to call a method like:
[code]
with a call like
[code]

This call throws an ArgumentNullException in the constructor of Memory.  Our published guidelines for developers, here [implicit (C# Reference)](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/implicit), says that implicit operators should not throw.  And it seems rea

[2017-12-18 23:33] bartonjs commented on #15572
Span is right (https://github.com/dotnet/coreclr/blob/master/src/mscorlib/shared/System/Span.cs#L351-L352)

ReadOnlySpan is right (https://github.com/dotnet/coreclr/blob/master/src/mscorlib/shared/System/ReadOnlySpan.cs#L263-L266)

Memory is wrong (https://github.com/dotnet/coreclr/blob/master/src/mscorlib/shared/System/Memory.cs#L104-L107), no nullcheck.

ReadOnlyMemory is wrong (https://github.c

[2017-12-19 00:02] jcdickinson commented on #15508
@danmosemsft `System.Numerics.Hashing.HashHelpers.HashHelpers::Combine` callsites:

* `ArraySegment`
* `ValueTuple`

Other hash helpers from grepping:

* `Memory` and `ReadOnlyMemory` (private static)
* `Tuple` (private static)
* `Array` (internal static)

Should I update these?

Additionally, should I update the existing methods to forward to `System.HashCode::Combine` or should I just delete the

[2017-12-19 00:04] benaadams commented on #15508
I think it will need to be matched with corefx changes?

[2017-12-19 00:33] pranavkm commented on #15254
Is there a specific 2.0.x release you're targeting for this? One of Mvc's compilation scenarios is affected by this and I wanted to track this so we can verify it being fixed from our end too

[2017-12-19 01:08] jkotas commented on #15508
@jcdickinson Delete them please.

A similar cleanup can be done in CoreFX. It can be done independently on the CoreCLR change.

[2017-12-19 01:27] jkotas commented on #15572
cc @ahsonkhan

[2017-12-19 01:52] mikem8361 commented on #15254
It should be 2.0.4 maybe 2.0.5.

[2017-12-19 04:45] jkotas commented on #15564
Byrefs like these are explicitly allowed in ECMA II.14.4.2 Managed pointers: "..., or the address where an element just past the end of an array would be stored (for pointer indexes into managed arrays).". They have been used in managed C++ for example.

A related issue is whether Span with zero length should be normalized. E.g. whether any two Spans of zero length should be equal, or whether Span

[2017-12-19 05:56] jcdickinson commented on #15508
System\Composition\TypedParts\Discovery\DiscoveredPart.cs(238,58): error CS0103: The name 'HashCode' does not exist in
the current context

I'm not sure how to get this to build, I've tried adding `mscorlib` and `System` as a reference (no effect). HashCode is available every else (everything compiles if I stub this one method). What am I doing wrong?

[2017-12-19 06:13] YongseopKim commented on #8496
@dotnet/arm32-contrib thanks for your collaborations. I'll close this because now RyuJIT is the default backend-engine. Happy hacking onwards!

[2017-12-19 06:13] #8496 closed

[2017-12-19 06:33] mikedn commented on #15564
Thanks for refreshing my memory! I now remember reading that ECMA section a long time ago...

The equality issue is interesting. Not normalizing does sound like the right choice, if only because you can't do much with an empty span anyway.

[2017-12-19 06:33] #15564 closed

[2017-12-19 10:08] tmds opened #15576 "suggestion DllImport: order and adding suffix"
The below example shows the behavior of DllImport of fakelib.
Two things that can improve:
- first try lookup including extension
- the order of lookup changes when trying variations. The first lookup tries: netcore, assembly, system; the variations use: assembly, netcore, system.

[code]

First trying the filename with extension will also result in immediate success for native libs included with

[2017-12-19 10:09] tmds commented on #15576
CC @janvorli

[2017-12-19 10:32] janvorli commented on #15576
That would be nice to modify. I wonder what causes the difference in the order of lookup.

[2017-12-19 12:09] mattwarren commented on #12612
@noahfalk

`<shameless plug>` I liked the tiered compilation feature so much that I wrote a blog post about it [A look at the internals of 'Tiered JIT Compilation' in .NET Core](http://mattwarren.org/2017/12/15/How-does-.NET-JIT-a-method-and-Tiered-Compilation/#tiered-compilation). If I've got anything horribly wrong, please let me know and I'll update the post (I know it's 'work-in-progress', so

[2017-12-19 12:19] mikedn commented on #15564
That somewhere is this comment: https://github.com/dotnet/coreclr/issues/4331#issuecomment-313179155

It's possible that my English is failing me and "managed pointers that point off the end of objects" doesn't mean what I think it means.

[2017-12-19 12:59] jkotas commented on #15564
That comment is trying to say that it is not ok for the code generator to transform this:

[code]

into this:

[code]

A similar transformation is fine in non-garbage collected languages, and C/C++ code generators will happily do this. (BTW: These are the same cases that tend to break with Boehm GC.)

It is not a problem of the GC itself. It is just a limitation of the current per-method GCInfo en

[2017-12-19 13:07] jkotas commented on #15508
Some libraries in corefx are independent NuGet packages that target older runtimes. These libraries cannot reference the current netcoreapp and thus they cannot use the improved hash code combine that exists in netcoreapp only. They should should keep using the existing one.

[2017-12-19 13:14] jashook commented on #15569
I am guessing that you are now picking up priority 0 tests. Both options should now be available as artifacts. I currently don’t have access to find the links however you are looking for the windows_nt_bld job for priorit 1 and the windows_nt_bld_prtest for priority 0.

Will post the links to artifacts tomorrow when I have access to reliable internet.

[2017-12-19 13:48] Tornhoof opened #15577 "[Q] Argument Checks in Span"
As @stephentoub's nice article for january 2018's msdn magazine is now released, I tried a few things with  ``Span<T>`` and since he explicitely talked about utf8 parsing and Span, I looked into that one.

I tried my luck with a boolean conversion routine from a JSON parser (converting 'true'/'false' to true/false respectively) and I noticed that my ``Span<byte>``

 version was actually slower tha

[2017-12-19 15:38] mikedn commented on #15577
Hmm, the assembly looks a bit weird. For example, I'm not sure what method is called by `call    coreclr!GC_VersionInfo+0xee20 (00007ffb22685180)`. Here's the disassembly output produced by the JIT compiler itself (for `ReadBooleanSpan`):
[code]
I need to stare a bit at this code to figure out what exactly is going on but the code generated for `NonPortableCast` seems pretty convoluted.

That said

[2017-12-19 16:35] AndyAyersMS commented on #15577
The codegen for non-portable cast's `checked` expression is something we could improve on, see #15492.

Could also fix most of this in source by splitting out cases that can overflow (which should be super-rare) from cases that can't.

[2017-12-19 16:40] Tornhoof commented on #15577
Thank you for your answers, I'll stay away from ``NonPortableCast`` for now. As there is already an issue for the same code generation, I'll close this one as it is a duplicate then.

[2017-12-19 16:40] #15577 closed

[2017-12-19 17:04] johnnyRose commented on #13542
I only experienced this issue when deploying a framework-dependent application. [Here are the resolutions which worked for me](https://stackoverflow.com/a/47891760/2840103). In short:

- Deploy the app as self-contained by specifying the runtime identifier
_or_
- Add `<PublishWithAspNetCoreTargetManifest>false</PublishWithAspNetCoreTargetManifest>` to the `.csproj` file
_or_
- Revert the NuGet pac

[2017-12-19 17:36] #15503 closed

[2017-12-19 17:47] mikedn commented on #15492
It should also use unsigned arithmetic, division by const (especially power of 2) is cheaper. And checked cast from `ulong` to `int` is also cheaper since it only needs to check the upper bound.

I'll give it a try, anyway I don't think the JIT will learn to optimize this code properly anytime soon...

[2017-12-19 18:17] adiaaida opened #15578 "[Perf] Correctly disable Indexer and SpanBench"
1ec48880ab3785bbcd4b0bf157afdeee1f34f9fe disabled Indexer and SpanBench perf tests by returning 100, which in the perf infrastructure does nothing. The tests need to be disabled by adding the skip benchmark attribute to failing tests:
`
[Benchmark(Skip = "Issue #")] // The issue number related to this failure.`

[2017-12-19 19:18] mikedn commented on #15492
Hmm, something like this:
[code]
A bit large but fortunately it is still inlined. The entire `NonPortableCast` from your example reduces to `shr ecx, 3`. The reverse, `long` to `byte`, generates
[code]

[2017-12-19 21:06] cshung commented on #12850
Can you share the dump?

[2017-12-19 21:59] sdmaclea commented on #15569
@jashook For reference I have been pulling the tests from addresses like this

https://ci.dot.net/job/dotnet_coreclr/job/master/job/checked_windows_nt_bld/20901/artifact/bin/tests/tests.zip

Builds >= 20824 have roughly 90MB in tests
Build <= 20820 have > 400MB

[2017-12-20 01:06] BruceForstall commented on #15569
@jashook It looks like your change also caused windows_nt_bld to build pri-0 and not pri-1. E.g.,

https://ci.dot.net/job/dotnet_coreclr/job/master/job/checked_windows_nt_bld/20824/consoleText
[code]

and the previous, https://ci.dot.net/job/dotnet_coreclr/job/master/job/checked_windows_nt_bld/20822/consoleText
[code]

I presume this means all non-Windows builds that depend on these are doing pri-

[2017-12-20 01:12] BruceForstall commented on #15569
Looks like it was due to this change to netci.groovy:
[code]

It would be trivial to back this out, with no negative consequences except for build time. But, @jashook , what was the reasoning behind adding it?

[2017-12-20 04:16] HppZ commented on #12850
https://1drv.ms/u/s!AuaHm_T1yhYsjiSXlBPomVhZrphQ
can you give pointers on where to get SOS that matches the runtime shipped for UWP?

[2017-12-20 12:42] mikedn commented on #14557
That's an interesting situation. Changing the first operand to be an indir seems easy but does this imply that these nodes should also produce a value that is consumed by a separate `GT_STOREIND`?

[2017-12-20 15:28] omariom commented on #15492
@mikedn Looks like you don't need the second `if`

[2017-12-20 15:39] mikedn commented on #15492
`else if (Unsafe.SizeOf<TFrom>() == 1)`?

Could be, need to check how well those long operations are handled on 32 bit.

It may also be possible to improve the JIT certain areas to reduce the number of special cases. One significant CQ issues is related to signed arithmetic and that may be difficult to deal with in the JIT. But other issues this code exposes might be more manageable.

[2017-12-20 15:46] CarolEidt commented on #14557
Hmmm - I don't think that would be great, as it would appear to be separate ops. Since the JIT doesn't directly model dataflow of memory (aside from non-address-exposed locals), I guess I would probably not directly model the store (i.e. the side-effect of the atomic op would be to modify the location of memory that it loads).

[2017-12-20 15:58] mikedn commented on #14557
Right, VN already treats GT_CMPXCHG specially https://github.com/dotnet/coreclr/blob/e69300f4c06684b90f93ea9dfa1ce98c0b71626d/src/jit/valuenum.cpp#L7094-L7097

It may be nice to avoid such special cases but it's not clear if it has any real benefit. It certainly makes things more complicated, at least for as long as we have assignments in IR.

[2017-12-20 18:19] jashook commented on #15569
I verified what Bruce has mentioned, that change needs to be backed out. It erroneously ended up in the pr.

[2017-12-20 18:57] jorive opened #15587 "It is hard to keep the benchmarks in sync across different branches/releases."
We need to have the benchmarks (and the infrastructure around them) in sync across different branches/releases in order to keep track of improvements/regressions during the product life cycle.

Currently, we need to manually cherry-pick changes from master to the other release branches every now and then. The amount of changes that needs to be ported to keep the branches in sync can vary. By movin

[2017-12-20 18:58] jorive commented on #15587
Adding @dotnet/rap-team to the conversation.

[2017-12-20 20:17] swgillespie opened #15589 "[Local GC] CoreFX test failure: System.Tests.GCTests.LatencyRoundtrips_LowLatency"
This is the one (!) CoreFX test failure that arises when using a standalone GC:

[code]

Will need to be fixed before shipping. cc @Maoni0 @sergiy-k

[2017-12-20 20:19] BruceForstall commented on #15098
@kouvel I've also seen this is straight x86 release runs:

https://ci.dot.net/job/dotnet_coreclr/job/master/job/x86_release_windows_nt/3361
[code]

I've seen it in other jobs as well.

[2017-12-20 20:25] MichalStrehovsky opened #15591 "[Default interfaces] Retail test failures"
[code]

tests are failing Retail builds.

[2017-12-20 20:25] BruceForstall opened #15592 "Bogus SynchronizationLockException thrown in thread intensive workloads"
In x64 Windows release testing in the CI:

https://ci.dot.net/job/dotnet_coreclr/job/master/job/release_windows_nt

There are many cases of the TryEnter01, TryEnter03, and TryEnter05 tests failing:

https://ci.dot.net/job/dotnet_coreclr/job/master/job/release_windows_nt/3556/
https://ci.dot.net/job/dotnet_coreclr/job/master/job/release_windows_nt/3553/
https://ci.dot.net/job/dotnet_coreclr/job/mas

[2017-12-20 20:26] BruceForstall commented on #15592
@kouvel Is this your area?

[2017-12-20 21:55] #15551 closed

[2017-12-20 22:32] #7255 closed

[2017-12-21 01:36] #14930 closed

[2017-12-21 07:19] jkotas commented on #13688
The fix was causing intermittent test failures - reverted in #15586 .

@Anipik Let me know if you need help investigating the intermittent test failures. Since the failures are intermittent, you will probably need to run the affected tests in a loop to reproduce them.

[2017-12-21 10:22] noahfalk commented on #12612
Hi @mattwarren! I'm flattered for the feature we've been working on to get such a nice blog post and very glad you are digging the work. Thanks! I sent you an email if you wanted to chat more technical details without taking this issue too far off topic ; )

[2017-12-21 15:03] kirpichiki commented on #14490
Hi everyone and sorry for invasion. I have another situation with debugging core dump. I can't determine how to load symbols for my own code.
<h6> `clrstack` works fine for clr libraries, but  when meets the library from my project it marks it as !Unknown</h6>
<details><summary>clrstack of thread 4b (core dump)</summary>
<pre>
OS Thread Id: 0x4b (1)
        Child SP               IP Call Site
0000

[2017-12-21 18:02] sdmaclea commented on #15569
@BruceForstall Thanks for the fix.  I assume someone knows the tip is broken https://ci.dot.net/job/dotnet_coreclr/job/master/job/checked_windows_nt_bld/ is failing recent builds.

[2017-12-21 18:02] #15569 closed

[2017-12-21 18:37] Anipik commented on #13688
I will try to reproduce it on my machine by running them in a loop to get more info about the cause of the failure, then after that we can discuss how to resolve it.

[2017-12-21 18:51] BruceForstall commented on #15569
Well, given how many people are on vacation, I wouldn't assume that :-)

Thanks for the heads-up.

[2017-12-21 19:02] nategraf opened #15606 "Python2.7 erroneously claimed as a dependency"
Due to my misunderstanding, I added a message to build.cmd to exit if python 2.7 is not installed, when python3 also works. I am working on a fix now

[2017-12-21 19:20] benaadams opened #15607 "29 System.Diagnostics.Tracing.EventSource failures testing coreclr vs corefx"
Started in last 7 days (between today's test and one 7 days previous https://github.com/dotnet/coreclr/pull/15533#issuecomment-353432734)

i.e. ` test Windows_NT x64 Checked corefx_baseline`

[code]

/cc @vancem @brianrob, @valenis

[2017-12-21 19:29] mikem8361 commented on #14490
I don't think vso has anything to do with your problem.  I think sos is having a problem finding the pdb's for your app or having problem unwinding the managed frames in the core dump.  How did you generate the core dump? sos should load the portable pdbs from the same directory as the your app assemblies/program. What was the exact command used to load it in LLDB?

Is there any way you could zip

[2017-12-21 19:47] nategraf commented on #15606
https://github.com/dotnet/coreclr/pull/15609

[2017-12-21 19:47] #15606 closed

[2017-12-21 20:08] wtgodbe commented on #9185
Closing as abandoned/non-issue, please re-open if not the case

[2017-12-21 20:08] #9185 closed

[2017-12-21 20:10] #9592 closed

[2017-12-21 20:15] #9144 closed

[2017-12-21 20:22] brianrob commented on #15587
I have wanted to put all performance tests in their own repo for some time now.  The artificial split between coreclr and corefx just doesn't feel right to me.  And of course there is the versioning issue that you point out.  Of course this kind of change comes with pros and cons and so we're going to need to weight them as we decide what to do.

I do agree with @jkotas that we should not use git

[2017-12-21 21:29] kirpichiki commented on #14490
Thanks for the answer. I am generating coredump with the `createdump` utility using default parameters. Something like:
`/usr/share/dotnet/shared/Microsoft.NETCore.App/2.0.3/createdump 6`
To start debugger I am using this command:
`lldb-4.0 -O "settings set target.exec-search-paths /app/" -o "plugin load /libsosplugin.so" --core /tmp/coredump.6 /usr/share/dotnet/dotnet`
Here `/app` - folder with m

[2017-12-21 22:13] mikem8361 commented on #14490
This may be a bug in createdump. Try building the createdump from the coreclr master branch (I can also send it to you if you want) and/or try the “--full” option.

[2017-12-21 22:52] sdmaclea opened #15613 "CI reporting two git revisions"
@jashook @jkotas @weshaggard
Recent builds have started reporting two git revisions
`https://ci.dot.net/job/dotnet_coreclr/job/master/job/checked_windows_nt_bld/lastSuccessfulBuild/git/`
[code]
20902 was last one to report only a single revision (12/19/2017)
`https://ci.dot.net/job/dotnet_coreclr/job/master/job/checked_windows_nt_bld/20902/git/`
[code]

[2017-12-21 22:55] sdmaclea commented on #15613
@BruceForstall FYI

[2017-12-21 23:22] BruceForstall commented on #15613
@dotnet/dnceng @mmitche @RussKeldorph Anyone know what would cause this?

[2017-12-22 03:15] jklaus commented on #10605
Any word on armv6 support?  I have two pi zeros just waiting for a purpose..

[2017-12-22 04:13] ashishnegi commented on #14490
@mikem8361 I somehow missed earlier notification about dump.

I can confirm that sos ClrStack is working for me for few weeks.
I think I didn't do any thing else.
Otherwise, even then `sos EEStack -EE` was working for me.

We can close this thread now.

[2017-12-22 05:21] #12159 closed

[2017-12-22 08:27] fiigii opened #15618 "Need new CI modes for Intel hardware intrinsics"
Due to https://github.com/dotnet/coreclr/pull/15514, most of the Intel hardware intrinsics are disabled by default. So we need the new CI modes with Debug and Checked build.
[code]

cc @BruceForstall @CarolEidt @jkotas @tannergooding

[2017-12-22 10:06] lukazh opened #15619 "Getting currency sign (¤) when given culture name without region"
Version: 1.1
Runtime: Ubuntu.16.04-x64
Reproduce:
[code]
On ubuntu when the culture name given for instantiation of CultureInfo is without  region (e.g. "fr" instead of "fr-FR"), the CurrencySymbol will be currency sign (¤), while on windows 10 it acts correctly.

[2017-12-22 13:55] kirpichiki commented on #14490
Yep, I see my symbols only with **full** dump. Thanks for your guidance @mikem8361. It's frustrating I have to load all 24 Gb of virtual memory just to watch stacktrace, but if thats only option I'll find some workaround.

[2017-12-22 15:24] mmitche commented on #15613
It's because we changed the branch name to be specific so that */release/2.0.0 doesn't overlap between dev/release/2.0.0 and release/2.0.0.

I think you may be misunderstanding what this page is telling you.  It's saying that this job built two branches, refs/origin/master and origin/master.  This is not saying the build itself built two branches.  It's indicating the last hash built on origin/mas

[2017-12-22 17:26] sdmaclea commented on #15613
OK thanks.  Other unintentinal changes broke CI so that priority 1 tests were not building/running.  Just wanted to be sure this was intentional.

I think you are right.

@mmitche I am parsing the git page to associate artifacts with a specific git revision.  I was looking for the old branch name.

[2017-12-22 17:26] #15613 closed

[2017-12-22 18:18] redknightlois commented on #15506
At the moment I am trying a few POCs on our codebase. I would really appreciate if I can make this algorithm to work :D

[code]

[2017-12-22 18:41] mikem8361 commented on #14490
Did you try the createdump built from the coreclr master branch (with the default options)? This will let me know that the bug/problem is fixed for 2.1. It should work with the 2.0.3 runtime.

[createdump.zip](https://github.com/dotnet/coreclr/files/1583248/createdump.zip)

[2017-12-22 20:59] fiigii commented on #15506
@redknightlois Thank you so much to report this demand. I will implement SetZero and TestZ after the new year.

[2017-12-22 21:05] Tornhoof commented on #15506
I tried ``popcnt`` in my RoaringBitmap implementation https://github.com/Tornhoof/RoaringBitmap/blob/netcore2.1/RoaringBitmap/Util.cs
Works fine, Benchmarks show a slight performance increase

[2017-12-22 21:08] ptorr-msft commented on #12159
Most of the non-UI WinRT APIs are available outside of UWP on Desktop, although some of them might require the Desktop Bridge if they rely on App identity etc.

.NET Core doesn't support binding to WinRT APIs at the moment, so you can't call any of the WinRT APIs from a .NET Core app on IoT (or anywhere else) - you must use .NET Native (UWP).

[2017-12-22 21:37] fiigii commented on #15506
@Tornhoof `Popcnt` is a 3-cycle latency instruction. Could you try to unroll the loop to leverage the CPU pipeline to maximize **instruction-level parallelism**?
[code]
Here is my `Crc32` example https://gist.github.com/fiigii/60e01e9f68628a08f1b8b9cfa40d0011#file-crcbench-cs-L118-L123.

[2017-12-22 21:57] #15537 closed

[2017-12-22 22:54] Tornhoof commented on #15506
@fiigii Thank you for your advise, the unrolling increased the performance by another 1-4% (depending on benchmark). This is consistent with a direct benchmark of both variants, where the unrolled one is 5% faster.
https://github.com/Tornhoof/RoaringBitmap/blob/netcore2.1/RoaringBitmap/BitmapContainer.cs#L450-L466