[2017-01-26 23:46] RussKeldorph commented on #7669
@karelz I believe the 1.1 fix (dotnet/corefx#13239) was to disable the provoking test in corefx.  Are there still known failures in 1.1 due to this issue?

[2017-01-26 23:47] karelz commented on #7669
Ah, I forgot. Thanks for pointing it out. We're covered on 1.1.

[2017-01-27 01:51] RussKeldorph opened #9158 "BCL Assert(maxStackSize == 0) in System.Threading.Thread.SetStartHelper should not be an assertion"
Found due to [this](https://github.com/dotnet/corefx/blob/88d8bbf7dbf5869b7f239737779e75295e43ef95/src/System.Linq.Expressions/tests/CompilerTests.cs#L45) line.

Per [this](https://github.com/dotnet/coreclr/blob/a928a37a1503871b5da5c80f74fe54b9f937ddc3/src/mscorlib/src/System/Threading/Thread.cs#L431) line, CoreCLR only supports the default stack size.  However, it seems wrong to enforce this via

[2017-01-27 01:54] #9108 closed

[2017-01-27 01:58] CarolEidt commented on #9109
@stephentoub I believe this is fixed by my PR #9123.

[2017-01-27 02:01] CarolEidt opened #9159 "RayTracer fails with COMPlus_JitStress=2 and COMPlus_EnableAVX=0"
A previous failure in RayTracer/JitStress2, #9108, was caused by the issues fixed in #9123. However, on a non-AVX2 system a different failure is exposed, which is due to `gtGetStructHandleIfPresent` returning the parent struct handle for a `GT_LCL_FLD`. I am working on a fix.

[2017-01-27 02:22] ahsonkhan opened #9161 "Optimize Span Fill, Clear, and CopyTo method implementations"
Currently the following Span methods contain trivial implementations and they need to be optimized.
- Fill
- Clear
- CopyTo

[2017-01-27 02:44] JonHanna commented on #9158
Is the assertion valid? That test was succeeding in its purpose of reaching the point where `EnsureSufficientExecutionStack` throws very quickly, compared with the outerloop `CompileDeepTree_NoStackOverflow` which does the same thing in the test-runner's thread's stack, and takes much longer to do so. That would suggest it was indeed getting a smaller than default stack.

[2017-01-27 05:10] stephentoub commented on #9109
Thanks, Carol.  I'll close it and re-open it if we see it again.

[2017-01-27 05:10] #9109 closed

[2017-01-27 06:21] tmds commented on #5853
Taking it even a step further, the glibc version could also be in the rid. This would allow to express the version supported by the different distributions and the glibc backward compatibility. Libraries can specify the version they link against.

The table by @janvorli can then be expressed as:

[code]

[2017-01-27 06:34] tmds commented on #8474
@mikem8361 thanks! I will try this out next week and see if it fixes the bug. I'll build the binaries from the repo. Which files should I overwrite from the 1.0.0-preview2-003131 install?

[2017-01-27 06:44] tmds commented on #8721
@jkotas @yizhang82 can you provide more information about the preprocessing tool to compare it with the API and implementation proposed here? Did you have a look at the PR to access the impact on the runtime?

[2017-01-27 07:21] ellismg commented on #9080
The current PoR is to adopt the MIT license for nuget packages where the code that makes them up is already MIT licensed.  I should be pushing this change through shortly (there are still some internal issues we need to close on before we can do the change, but we are pushing on it).

[2017-01-27 09:08] janvorli commented on #5853
@tmds I don't think putting in the glibc version would beneficial. We now depend on minimum glibc version 2.14 and it is very unlikely that we would ever have a version where we would have a build requiring e.g. version 2.14 and another build requiring version 2.20. If we ever change the requirement to a higher version, it would be because we would add some feature that requires higher version, so

[2017-01-27 10:00] hifi commented on #9080
Thank you @ellismg and others for the answers. The corefx repo is also using the same license text for NuGet packages.

I'm interested in trying packaging CoreCLR and CoreFX with all the required (compile and runtime) components as proper Linux distribution packages with offline reproductive builds in mind when licensing is fixed and all the components for self hosting are available. Goal would be

[2017-01-27 10:37] sergign60 opened #9166 "[AMD64 Unix] Some CoreCLR tests fail with ELT hooks enabled (PR #7719)"
The following CoreCLR tests fail on Checked (-DFEATURE_GDBJIT=TRUE) build  with the following environment
[code]
with the PR https://github.com/dotnet/coreclr/pull/7719
Some of the them (e.g. KeepAlive) fail because of the issue https://github.com/dotnet/coreclr/issues/8921

The tests are
[code]
The tests
[code]
give wrong test results, others - Segmentation fault

The test
[code]
fails with
[code

[2017-01-27 10:37] sergign60 commented on #9166
@janvorli @sivarv @Dmitri-Botcharnikov @kvochko

[2017-01-27 10:38] sergign60 commented on #9166
https://github.com/dotnet/coreclr/issues/8921

[2017-01-27 10:39] sergign60 commented on #9166
#8921

[2017-01-27 10:40] sergign60 commented on #9166
#7719

[2017-01-27 10:41] sergign60 commented on #8921
#9166

[2017-01-27 10:52] RussKeldorph commented on #9158
@JonHanna It looks like the Thread constructors offering the maxStackSize parameter aren't documented for .NET Core and therefore shouldn't be used.  If so, then an assertion may be appropriate.  Unfortunately, I don't know how the restricted Core API is supposed to be enforced and whether the test in dotnet/corefx/issues/15533 may be exploiting a back door.  Seems like ideally the test would fail

[2017-01-27 11:25] jkotas commented on #9158
Thread constructors that take maxStackSize were added back as part of NetStandard2.0 work as official public documented APIs:

https://github.com/dotnet/corefx/blob/ddd1e5ce0f81f7091e544c65f99c37bf52a4ded9/src/System.Threading.Thread/ref/System.Threading.Thread.cs#L37

cc @kouvel since he has done the work on these NetStandard2.0 work. Looks like a bug in the implementation to me.

[2017-01-27 12:34] jkotas opened #9167 "Make EnsureSufficientExecutionStack less conservative"
The compiler is using EnsureSufficientExecutionStack. From what I can tell, that method throws when the stack is only a bit more than half full. In the repro I’m investigating, the stack when the exception is thrown is about 520kB long. When I remove the EnsureSufficientExecutionStack check, the overflow occurs when the stack is full (at 1MB).

Is there any way to do something like EnsureSufficien

[2017-01-27 12:36] #8054 closed

[2017-01-27 14:21] maartenmensink opened #9168 "[ARM32] Could not load file or assembly 'System.ComponentModel.Primitives, Version=4.2.0.0"
I have a project that i am trying to get working on the RPi3 Ubuntu. I installed the latest and greatest based on https://github.com/dotnet/core/blob/master/samples/RaspberryPiInstructions.md

I am able to run the samples from https://github.com/dotnet/core/tree/master/samples without any issue but when i try to start our project i get the following stack trace

**Stack Trace**
[code]
**Enviroment

[2017-01-27 15:11] tmds commented on #5853
Makes sense.

Where does version 2.14 come from? Was this the version on rhel? I had expected that to be similar as centos.

I guess this also means libraries providing native components under the linux-x64 rid preferably link with 2.14 or less?

Would it make sense to have a linux-x64-glibc rid (without the version) to be able to differentiate with systems using a different libc (e.g. containers)

[2017-01-27 15:24] richlander commented on #9080
That sounds great, @hifi. In fact, we are in the process of developing a plan (docs are coming) on how to make your exact scenario easier.

We're interesting in talking to anyone who wants to become a distro maintainers for .NET Core. We'd like to get feedback from you on what you care about the most and what you need to be successful. Drop me a mail at rlander@ms if you want to chat about this.

[2017-01-27 15:43] maartenmensink commented on #3977
@TAGC @khionu I encountered the same issue.

I created a separate issue for it https://github.com/dotnet/coreclr/issues/9168

[2017-01-27 15:44] markrendle commented on #9105
Regarding the generic constraint comment (@NickStrupat) there are areas where using that could avoid (a) the interface invocation tax and (b) the struct-boxing tax incurred when an instance is used via its interface, particularly for things like IEnumerable<T> and IEnumerator<T>, which work really well as structs.

[2017-01-27 15:52] NickStrupat commented on #9105
@markrendle absolutely. What I'm a bit disappointed about is that JIT doesn't emit a specialized method for classes as well. It could emit a method where all of the calls to the interface methods are resolved to call the methods on the class (at least if that class is sealed so it knows there won't be polymorphic behaviour).

I just tested @Thealexbarney 's demo program with an added SealedArrayWr

[2017-01-27 16:23] janvorli commented on #5853
@tmds The version 2.14 actually reflects the highest version of a symbol we use from glibc when building on the oldest distros we support.

As for the libraries providing native components under the linux-x64 rid, they don't necessarily have to link against the glibc 2.14 or less, but they should not use symbols of newer versions if they want to work on the same range of distros as the dotnet itse

[2017-01-27 16:30] jkotas commented on #5853
I believe we are moving away from capturing the Linux versions hierarchy in the RID graph because of we have realized it is way too complex and it does not work well...

[2017-01-27 17:16] tmds commented on #5853
You or someone else. Anywho, he/she will have to pick an rid and a parent rid. It would make sense for this parent to be 'linux-x64' but then it shouldn't be tied to glibc.

I don't see the point of some of these rids like ubuntu, ubuntu-x64, ubuntu.14.04.

I think an RID should either be a runtime endpoint or a meaningful target of a library. For it to be a meaningful target of a library, an API/

[2017-01-27 17:27] vancem commented on #9105
Adding @cmckinsey

[2017-01-27 17:32] fabled commented on #8927
@am11 Seems the libunwind might work fully, the test suite had failures: http://sprunge.us/GiMM

[2017-01-27 17:36] #8924 closed

[2017-01-27 17:36] danmosemsft commented on #8924
thanks @AndyAyersMS !

[2017-01-27 17:41] mikem8361 commented on #8474
Copy the binaries to something like this:

/usr/share/dotnet/shared/Microsoft.NETCore.App/1.0.0
/usr/share/dotnet/shared/Microsoft.NETCore.App/1.0.0-preview2-003131

These binaries will only work on Ubuntu 14.04.  I can build them for other platforms (or you can clone my branch).

I put a zip file on my OneDrive site, but I would need a Microsoft email account from you to give you permission.

[2017-01-27 17:59] swgillespie commented on #9064
Another: https://ci.dot.net/job/dotnet_coreclr/job/master/job/debug_windows_nt_prtest/2213/

[2017-01-27 18:55] kouvel commented on #9158
I missed testing this, it was not the intention that it support only the default stack size, I'll fix

[2017-01-27 19:43] qmfrederik commented on #8927
@fabled Thanks for this! I think at least some of the tests are known to fail; anyway if we hit issues related to this I guess we'll eventually send pull requests upstream.
llvm39 would also be a great step forward :)

[2017-01-27 19:44] qmfrederik commented on #8927
@janvorli Is there anything I can do to help throubleshoot the `SIGSEGV: invalid address (fault address: 0x8)` (see a couple of comments back in this thread)?

[2017-01-27 19:58] janvorli commented on #8927
@qmfrederik yes, we can try a couple of things. The ideal way would be to build and use the libsosplugin.so. Then you can load it into lldb using "plugin load libsosplugin.so" and it will enhance lldb with commands that allow you to see managed stack frames, see parameters and stack locals for managed code etc.
If we cannot make it work, then the next thing you can do is something I've suggested t

[2017-01-27 20:01] NickStrupat commented on #9105
So in summary, RyuJIT does not take advantage of the optimization opportunity to output specialized native executable code for generic methods taking an interface/class-constrained parameter where `T` is a sealed class, despite value types receiving this optimization. The specialized code would in theory be calling the method directly instead of during a virtual table look-up call.

Is that correc

[2017-01-27 20:08] qmfrederik commented on #8927
@janvorli OK, makes sense.

Seems like the best path forward then is to get libsosplugin to build - that would make debugging a lot easier.

Is libsosplugin built by default or do I need to take extra steps to build it? (I remember seeing a message that lldb is not supported yet on aarch64, not sure if it's related).

[2017-01-27 21:24] janvorli commented on #8927
@qmfrederik the libsosplugin.so should be built by default unless you pass in the -DENABLE_LLDBPLUGIN=0 cmake option. But you need to have the lldb dev package installed for the version of lldb you are going to load the plugin into. The dev package installs necessary headers into /usr/lib/llvm-3.8/include/lldb/API/LLDB.h and libs into /usr/lib/llvm-3.8/lib/ (for lldb 3.8).

[2017-01-27 21:33] AndyAyersMS commented on #1166
Have been kicking the tires on this a bit.

The jit right now is not very good at tracking or inferring ref types, but if we do the simplest thing imaginable, which is to look at virtual call sites where the dispatch is via a local or arg, we can find the declared class of that local or arg easily enough.

In the core library, there are about 500 call sites where the declared type of the dispatch

[2017-01-27 21:34] choikwa opened #9176 "Using your bits doc is outdated on Win10 x64"
I am following the doc at https://github.com/dotnet/coreclr/blob/master/Documentation/workflow/UsingYourBuild.md

I am building Debug CoreCLR using `.\build.cmd x64 Debug skiptests`
I am getting error:
λ dotnet run
Project t1 (.NETCoreApp,Version=v1.1) was previously compiled. Skipping compilation.

Unhandled Exception: System.IO.FileLoadException: Could not load file or assembly 'System.Runtime,

[2017-01-27 21:37] mikedn commented on #9105
It works that way for value types because there aren't any reasonable alternatives (e.g the code for `List<double>` and `List<int>` has to be different because the 2 value types have different sizes and require different instructions, the only way to avoid this is to do box those values like Java generics do).

Doing the same thing indiscriminately in the case of reference types would result in a

[2017-01-27 21:45] omariom commented on #1166
The first and the last items are interesting :)

[2017-01-27 22:02] choikwa commented on #9176
Attached project.json file
[project.json.txt](https://github.com/dotnet/coreclr/files/736369/project.json.txt)

[2017-01-27 22:14] benaadams commented on #9105
@NickStrupat the caller can choose to force the implementation for the generic by creating a non-generic struct wrapper

[code]

[2017-01-27 22:24] mikedn commented on #1166
The first is probably `StringBuilder.ToString` and thus it's not that interesting :)

[2017-01-27 22:38] qmfrederik commented on #8927
@janvorli Thx! I'll give it a try tomorrow; I think we only set -DENABLE_LLDBPLUGIN=0 for Android, not for Linux aarch64.

[2017-01-27 22:46] AndyAyersMS commented on #1166
Yep, for `StringBuilder` the only override is `ToString`.

[2017-01-27 23:31] sivarv opened #9177 "RyuJIT: morphing of args could leave dead/unnecessary temps behind when method exceeds tracked local limit"
Many such dead/unnecessary locals occur in Regexdna bechmark hot method `System.dll!System.Text.RegularExpressions.RegexInterpreter.Go()` which accounts for nearly 50% of the execution time of the benchmark.  `Go()` is a big method with big switch statement inside a while-loop.  It has many calls of the following form:

[code]

Morphing of `arg1 = this.runcodes[this.runcodePos]` introduces the fol

[2017-01-27 23:40] sivarv opened #9178 "RyuJIT: Fasta benchmark: hot method random() is not in-inlined into SelectRandom()"
CqPerf version of this benchmark is very sensitive to in-lining.
Forcing inline of random() would cause RyuJIT to beat Legacy Jit64 by 7.4% in execution perf.
Model policy in-lines random() method into SelectRandom().

[2017-01-27 23:43] sivarv opened #9179 "RyuJIT: Index Variable Widening optimization for array accesses"
There are many benchstone benchmarks that would benefit from IV widening, which currently Legacy Jit64 does.

From benchmarkgames Mandelbrot is one such example.

[2017-01-27 23:58] benaadams opened #9180 "Add documentation for SuperPMI"
It gets mentioned in PRs, its exe taunts me in the bin/Product directory; yet there is no info about it and what its for, or how to use it in the repo.

(Not suggesting I'd use it; though I can't determine that, just might be good to have it documented)

[2017-01-28 00:01] karelz commented on #9180
I added a one liner into [glossary](https://github.com/dotnet/coreclr/blob/master/Documentation/project-docs/glossary.md).
@RussKeldorph @jeffschwMSFT @jkotas who can help provide basic info/usage?

[2017-01-28 01:49] 303248153 commented on #9053
Thanks for your detailed answer! That make me learned a lots.

It's my mistake, I saw allocation context of gen 3 initialized but yes it never used.

Now i have another question about allocation context and segment.
Assume we have 2 cores and 3 threads
Thread 0 on core 0
Thread 1 on core 0
Thread 2 on core 1
And then we should have 2 ephemeral segment.
Did thread 0 and thread 1's allocation contex

[2017-01-28 02:53] Thealexbarney commented on #9105
@vancem The microbenchmark is not completely representative of the hot spots in our code, but it's close. The most severely I run into this performance decrease is when working with code that uses interfaces such as IList<T> or IReadOnlyList<T>.

Here's one example of a possible situation. Let's say someone's writing some code that does some sort of data processing, and the functions to call this

[2017-01-28 03:41] Const-me commented on #5160
Might have been fixed for Gentoo, but FreeBSD 11 has the same problem. Trying to build the latest master branch of CoreCLR with LLVM 3.7.
@ghost thanks for your temporary patch, it worked OK for me.

[2017-01-28 04:26] jamesqo opened #9185 "A non-clean build of CoreCLR fails just after daccess.cpp"
I've run into this issue twice when doing a non-clean build, both times at a specific point. To repro:

1. Make sure you have already built the repo once
2. `build x64 release skiptests` (I am using Windows 10 64-bit)

Right after compiling daccess.cpp you will get an error saying `The system cannot find the path specified`, then "The command" followed by `cl.exe <long list of files>` and several

[2017-01-28 07:37] mikedn commented on #9180
The SuperPMI source [directory](https://github.com/dotnet/coreclr/tree/master/src/ToolBox/superpmi) has a readme.

[2017-01-28 10:57] dimitrijevic commented on #3520
This might be wrong now, but that package's latest prerelease, now works only on VS2017?

[2017-01-28 12:19] qmfrederik commented on #8927
@janvorli Attempting to load the plugin gives this error message: `error: this file does not represent a loadable dylib`

It appears `libsosplugin.so` is linked against lldb 3.5, whereas I'm using lldb 3.9:

[code]

I'll try to figure out where the liblldb-3.5 dependency is coming from (I'm compiling CoreCLR with `./build.sh arm64 skipgenerateversion skipmscorlib clang3.9`);

[2017-01-28 13:05] qmfrederik commented on #8927
@janvorli https://github.com/qmfrederik/coreclr/commit/06b67cf63b49c69a9c00edb09acc75000a0a1700 contains my best attempt to compile libsosplugin.so on aarch64 for lldb 3.9; I'm pretty sure it's not correct, though:

- I don't know what `spToFind` would need to be on arm64
- It looks like the primitives.h for arm64 is not included correctly, as I had to copy some code over to `sosplugin.h`

Thought

[2017-01-28 13:08] benaadams commented on #9180
@mikedn thank you 😄
@karelz maybe link from glossary?

[2017-01-28 14:28] nidilong commented on #969
@ghost do you have some good news about MIPS support?

[2017-01-28 17:06] karelz commented on #9180
Done! :)

[2017-01-28 17:07] #9180 closed

[2017-01-28 19:42] RussKeldorph commented on #7670
[This test](https://github.com/dotnet/corefx/blob/5a361ea9edf9280229841b4e70044c48e476ef23/src/System.Runtime/tests/System/EnumTests.cs#L1483) is hitting [this assertion](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Enum.cs#L73).  In my opinion, assertions should not be used to validate parameters on public interfaces.  I would recommend simply removing the assertions in s

[2017-01-28 19:43] RussKeldorph commented on #7670
@jkotas Just noticed I opened this before you made the Debug.Assert change, so disregard that part.

[2017-01-28 20:51] RussKeldorph commented on #7670
I should clarify that this test is now failing with an assertion failure rather than an unhandled exception, but I believe the root issue is the fact that the test is intentionally passing an invalid parameter but not recovering properly.

[2017-01-29 02:13] gkhanna79 commented on #9161
@kouvel Is this something you will be working upon? If so, can you please assign to your self or reassign as appropriate?

[2017-01-29 02:15] gkhanna79 commented on #9166
CC @RussKeldorph

[2017-01-29 02:16] gkhanna79 commented on #9068
CC @RussKeldorph

[2017-01-29 02:17] gkhanna79 commented on #9066
CC @RussKeldorph

[2017-01-29 02:17] gkhanna79 commented on #9064
@swgillespie Are you (or someone) investigating this?

[2017-01-29 02:20] gkhanna79 commented on #9031
@jamesqo do you have a repro for this using a recent/latest build that can be used for investigation?

[2017-01-29 02:22] gkhanna79 commented on #9041
CC @RussKeldorph

[2017-01-29 02:22] gkhanna79 commented on #9038
@yizhang82 Please fix the milestone as applicable.

[2017-01-29 02:25] gkhanna79 commented on #9055
What specific optimizations are you referencing to @markrendle? Also, have you tried using https://dotnetcli.blob.core.windows.net/dotnet/master/Binaries/Latest/dotnet-linux-x64.latest.tar.gz on ClearLinux?

[2017-01-29 02:33] jamesqo commented on #9031
@gkhanna79 No, I don't own an Ubuntu machine; I opened entirely on behalf of the original owner of the issue at xunit/xunit.

[2017-01-29 03:15] gkhanna79 commented on #8895
CC @richlander

[2017-01-29 03:15] gkhanna79 commented on #8922
CC @RussKeldorph

[2017-01-29 03:28] gkhanna79 commented on #8999
CC @noahfalk @lt72

[2017-01-29 03:29] gkhanna79 commented on #9007
CC @ramarag

[2017-01-29 03:31] gkhanna79 commented on #9014
@ole1986 How did you install the SDK? Are you able to repro this with https://www.microsoft.com/net/download/core#/current?

[2017-01-29 03:32] gkhanna79 commented on #9040
Is there anything outstanding on this issue based upon @jkotas reply above?

[2017-01-29 03:35] gkhanna79 commented on #8948
CC @RussKeldorph

[2017-01-29 03:38] gkhanna79 commented on #8937
@ellismg @wtgodbe merged https://github.com/dotnet/coreclr/pull/9119 and https://github.com/dotnet/coreclr/pull/9113 to use the new CoreFX binary layout for running CoreCLR tests. Is there anything else required to address this issue?

[2017-01-29 03:44] gkhanna79 commented on #8921
CC @RussKeldorph

[2017-01-29 03:46] ramarag commented on #9007
The line that needs to be changed is https://github.com/dotnet/coreclr/blob/37139ef1a7631e618ee587287b48d49dad04be94/tests/src/CLRTest.Execute.Bash.targets#L187

For reference to what is done for windows look at :
https://github.com/dotnet/coreclr/blob/37139ef1a7631e618ee587287b48d49dad04be94/tests/src/CLRTest.Execute.Batch.targets#L209-L229

[2017-01-29 03:54] jkotas commented on #9040
Yes, the performance bug is still there. My comment was clarifying where the bug is and where it is not.

[2017-01-29 03:55] #7670 closed

[2017-01-29 04:13] dlech opened #9193 "[MarshalAs(UnmanagedType.LPArray, SizeParamIndex = 1, ArraySubType = UnmanagedType.LPUTF8Str)] results in "Cannot marshal 'parameter #3': Unknown error.""
I am trying out the UTF8 pinvoke marshalling. I have the following that works as expected:

        [DllImport ("gio-2.0", CallingConvention = CallingConvention.Cdecl)]
        static extern bool g_application_id_is_valid([MarshalAs(UnmanagedType.LPUTF8Str)] string applicationId);

However, this one does not...

        [DllImport ("gio-2.0", CallingConvention = CallingConvention.Cdecl)]
        s

[2017-01-29 05:20] ole1986 commented on #9014
I tried first using "mount --bind" to put the opt folder into the jk_chroot directory from the real root opt path.

Then I fully copied it into the jailbait folder.
Both were actually acting same.

[2017-01-29 05:38] kouvel commented on #9161
@ahsonkhan, is this something you will be working on later?

[2017-01-29 06:46] gkhanna79 commented on #8845
CC @weshaggard

[2017-01-29 06:49] gkhanna79 commented on #8819
CC @jkotas @davidwrighton @kouvel

[2017-01-29 06:52] gkhanna79 commented on #8815
Why do you need version of CoreCLR @dopare instead of, say, version of .NET Core FX your application is running against?

[2017-01-29 11:29] Andy-Wilkinson commented on #9031
Thanks for the comments @gkhanna79 . Unfortunately I'm not much of an expert with Linux - it was only something I spotted when trying to run some Travis CI builds (the logs from the build are [here](https://travis-ci.org/Andy-Wilkinson/BugRepro-VectorTests/builds/190011141) ).

This is using the 1.0.0-preview2-003121 version of the SDK by the look of it. I will have a look to see if I can force Tr

[2017-01-29 16:41] dopare commented on #8815
And what is the version of .NET Core FX ?
Do you mean package version of `Microsoft.NETCore.App` ?

[2017-01-30 01:16] noahfalk commented on #8960
@gkhanna79 - Given that (I think) ayuckhulk is proposing the work it would be up to him to set his own schedule no? : )

@janvorli/@ayuckhulk - This is a cool project! Depending on how far you plan to take it just want to give a heads up that it could be a significant undertaking. There is quite a bit of code in mscordbi and debug/ee that is dedicated to breakpoint and stepping logic, and more sti

[2017-01-30 09:46] janvorli commented on #5160
@Const-me my guess is that we are probably missing a library in the CMAKE_REQUIRED_LIBRARIES for the HAVE_SET_MAX_VARIABLE detection. Could you please share the whole CMakeError.log?

[2017-01-30 14:04] jnm2 commented on #8815
The obvious reason to want this that I see is diagnostic logging.

[2017-01-30 14:37] tmds commented on #5853
The rid graph for `ubuntu.14.04-x64` looks like this now:
[code]

Are these RIDs used in practice (by .NET Core or any package on NuGet): unix, debian, ubuntu, ubuntu14.04, ubuntu-x64, debian-x64?

A much simplified version could look like this:

[code]

[2017-01-30 16:19] #9015 closed

[2017-01-30 16:23] NickStrupat commented on #9105
@mikedn I'm not suggesting indiscriminately doing the same thing for reference types. Only for sealed classes.

@benaadams The wrapper struct can actually be generic and receive the same inlining treatment.

[2017-01-30 16:38] gkhanna79 commented on #8815
Yes, the version of Microsoft.NEtCore.App is the more meaningful version that should be used (for logging or identification purposes).

CoreCLR is just one of the binaries comprising .NETCore and is an implementation detail. Version of Microsoft.NETCore.App is intended to, by design, abstract it away.

[2017-01-30 17:00] leecow commented on #9026
Thanks @cameron-elliott. Just confirmed that links are now behaving themselves.

[2017-01-30 17:00] #9026 closed

[2017-01-30 17:12] weshaggard commented on #8845
cc @ericstj @terrajobst

@Gentlehag Yes it is intended that you need to reference the NETStandard.Library package from your .NET 4.6.2 project so that it will pull in the latest version of the contract facades, like System.Runtime in your case. For your other question there is a System.Runtime in the GAC but it is version 4.0.0.0 and to support the later netstandard versions we have a 4.1.0.0 vers

[2017-01-30 17:13] weshaggard commented on #8845
Also looks like @terrajobst answered your question on stackoverflow. I'm going to close this issue but please feel free to ask any follow-up questions.

[2017-01-30 17:13] #8845 closed

[2017-01-30 17:41] #8776 closed

[2017-01-30 17:59] swgillespie commented on #9064
@gkhanna79 Yes, I have a repro and I'm looking at it this morning.

[2017-01-30 18:19] gkhanna79 commented on #9166
CC @lt72 @noahfalk

[2017-01-30 18:24] swgillespie commented on #9053
When using Workstation GC, all three threads will have allocation contexts that point to the same (the only) ephemeral segment. When using Server GC, threads 0 and 1 might be using the same ephemeral segment, depending on whether or not their alloc heaps have been set to the core they are currently running on. Each heap's allocator is handing out logically separate allocation quantums to each cont

[2017-01-30 18:26] #9159 closed

[2017-01-30 18:28] gkhanna79 commented on #8894
@stephentoub Looking at recent jobs for this at https://ci.dot.net/job/dotnet_coreclr/job/master/job/debug_windows_nt_prtest/, I dont see this failure anymore.

If you concur, should we close this?

[2017-01-30 18:31] gkhanna79 commented on #8439
@AlexGhiondea @danmosemsft Please guide this through.

[2017-01-30 18:34] stephentoub commented on #8894
It was a random failure hit by an unrelated PR, suggesting some kind of race condition somewhere (though I've not looked at the test). I don't believe lack of it happening since means the issue went away.

[2017-01-30 18:34] gkhanna79 commented on #8749
@cocotr Do you have a repro for this issue?

CC @rahku

[2017-01-30 18:34] danmosemsft commented on #8439
Thanks for the headsup, looks like this has languished. @ianhays owns collections. @ianhays could you please take a look?

@robertmclaws I haven't looked at your changes, but I suggest you start a PR as it's an easy way to drive it along.

[2017-01-30 18:35] #9148 closed

[2017-01-30 18:36] gkhanna79 commented on #8894
Was there a specific reason to make you suspect a race here (as opposed to a regression that got fixed in a PR update)?

[2017-01-30 18:38] gkhanna79 commented on #8459
@janvorli @AndyAyersMS Are we planning to make this change for 2.0?

[2017-01-30 18:44] gkhanna79 commented on #8665
@swaroop-sridhar Is this something you will be working upon? Also, I presume we should fix this for 2.0?

[2017-01-30 18:47] swaroop-sridhar commented on #8665
Yes, it's good to get this bug in gccover fixed soon. CC: @russellhadley for triage.

[2017-01-30 18:50] stephentoub commented on #8894
Because I found no other issues related to it, this test hasn't changed since it was checked in almost a year ago, I saw no other failures of the test before or after, and in my experience all of that suggests unreliability due to either employed randomness or a race condition somewhere (src, test, infrastructure, wherever) that caused a spurious failure.

[2017-01-30 18:51] gkhanna79 commented on #8732
@jkotas Is this an actual loader issue or a side-effect of extra code from corelib that needs to be cleaned up?

CC @rahku

[2017-01-30 18:54] gkhanna79 commented on #8748
CC @RussKeldorph

[2017-01-30 18:56] gkhanna79 commented on #8763
CC @AlexGhiondea

[2017-01-30 18:57] gkhanna79 commented on #8763
For now, I am parking this in future. It will be good to get this addressed for 2.0, so if someone starts to make progress on this, please adjust the milestone appropriately.

[2017-01-30 19:00] gkhanna79 commented on #8772
CC @kouvel

[2017-01-30 19:01] gkhanna79 commented on #8775
CC @RussKeldorph @russellhadley

[2017-01-30 19:06] gkhanna79 commented on #9051
@wtgodbe Can this be closed now?

[2017-01-30 19:07] wtgodbe commented on #9051
Yes - closing

[2017-01-30 19:07] #9051 closed

[2017-01-30 19:08] gkhanna79 commented on #8795
@davidfowl @MichaCo Should we close this issue in favor of dotnet/cli#164, since this is not a runtime (CoreCLR) issue?

[2017-01-30 19:08] jkotas commented on #8732
Both:
- It is side-effect of extra code in corelib that needs to be cleaned up
- The assembly loader is the only part in corelib that depends on this extra code in this case

[2017-01-30 19:09] gkhanna79 commented on #8877
Should this be closed in favor of the proposal issue?

[2017-01-30 19:09] dopare commented on #8815
Is there any easy way to get `Microsoft.NEtCore.App` version instead of iterating on `DependencyContext.Default.RuntimeLibraries` to find it ?

[2017-01-30 19:11] gkhanna79 commented on #8815
I am not aware of such an API yet. @AlexGhiondea do you know?

[2017-01-30 19:12] danmosemsft commented on #8763
@gkhanna79 I'm assuming this is part of our UWP work (at least in large part) since it makes it harder to sync the corelibs.

[2017-01-30 19:12] AlexGhiondea commented on #9168
@safern could you take a look at this?

[2017-01-30 19:13] safern commented on #9168
Yes will take a look at this later today @AlexGhiondea

[2017-01-30 19:16] jkotas commented on #8877
Make sense

[2017-01-30 19:16] #8877 closed

[2017-01-30 19:16] AndyAyersMS commented on #8772
I have a prototype for sealed method/class devirtualization in the works.

Will post a link to my fork when it's a little bit further along. Does not appear it requires anything new on the runtime side other than one or two jit interface calls.

[2017-01-30 19:19] gkhanna79 commented on #8763
Possibly. Can you please assign it to appropriate individual(s)?

[2017-01-30 19:26] ahsonkhan commented on #9161
@kouvel, I wasn't planning on working on this in the near future.

[2017-01-30 19:27] dleeapho commented on #8440
@galvesribeiro with the fix from msbuild for [](https://github.com/Microsoft/msbuild/issues/1233), msbuild on nanoserver is now available check [](https://hub.docker.com/r/microsoft/dotnet/tags/)

cc @MichaelSimons

[2017-01-30 19:30] galvesribeiro commented on #8440
Hello Dan, thanks for get back.

Yes, I got the image few days ago. Sorry, I forgot to report it here.

I'm closing the issue.

Thanks!

[2017-01-30 19:30] #8440 closed

[2017-01-30 19:30] gkhanna79 commented on #8891
The most appropriate way to go about this is to enable the existing build of tests (done for Windows) to non-Windows - authoring build-tests.sh, fixing Windows specific assumptions, etc. This is how I approached it last year but had to abandon the effort due to other pressing issues.

I know @russellhadley was also making an attempt at it and could share something more recent he  may have built.

[2017-01-30 19:37] jkotas commented on #9161
We will want to add some runtime helpers to make these efficient. It would be nice to match the names and signatures of the similar helpers in CoreRT to ease sharing of the implementation:

e.g. RhBulkMoveWithWriteBarrier https://github.com/dotnet/corert/blob/d84f5310c80708584bb908615a331b5520a28d63/src/System.Private.CoreLib/src/System/Runtime/RuntimeImports.cs#L531

[2017-01-30 19:37] tmds commented on #8891
@gkhanna79 do you know something more about the 'CodeTaskFactory'? Is that still a blocker?

[2017-01-30 19:39] gkhanna79 commented on #8891
It should not be if we are able to build the tests on Windows using MSBuild that runs on .NET Core. Have not revisited this, so cannot say for sure.

[2017-01-30 19:39] gkhanna79 commented on #8891
At the time I looked into this, MSBuild was not working on .NET Core, so this was a blocker.

[2017-01-30 19:53] JosephTremoulet commented on #8775
I've verified that this doesn't repro in CodegenMirror.

[2017-01-30 20:27] Const-me commented on #5160
Sure.

Here's the logs from both 11 and 12.
[cmake-logs.zip](https://github.com/dotnet/coreclr/files/740181/cmake-logs.zip)

[2017-01-30 20:39] AndyAyersMS commented on #1166
Prototype is showing signs of life -- here's a case like the one above with some diagnostic output from the JIT:
[code]

[2017-01-30 20:49] jkotas commented on #1709
Duplicate of https://github.com/dotnet/corefx/issues/4491. Let's use the corefx issue to track this.

[2017-01-30 20:49] #1709 closed

[2017-01-30 21:12] benaadams commented on #1166
@AndyAyersMS this is going to greatly weaken my argument that people shouldn't seal classes 😉 Though for a good reason 😄

Additional permutations to consider are
[code]

[code]
Or perhaps
[code]
Though obviously there would be a greater cost in discovering the inheritance chain.

A pattern programming that could work around and not need inspection of the inheritence chain, but still get the benefi

[2017-01-30 21:17] robertmclaws commented on #8439
No worries, I'll keep working on it. I've been torn about implementation details, mostly because there are a lot of replacements to this functionality out there. Been putting together some real-world tests to verify if this change will be breaking. Will try to get more submitted in the next few days.

[2017-01-30 21:44] AndyAyersMS commented on #1166
Those cases should all just fall out. There's no analysis of class hierarchy going on -- the JIT is simply asking the VM which method would be invoked, given a class and virtual slot.

[2017-01-30 22:04] MichaCo commented on #8795
sure

[2017-01-30 22:04] #8795 closed

[2017-01-30 22:55] qmfrederik commented on #8927
@janvorli OK, now that the LLDB plugin compiles for aarch64, I thought I'd continue our investigation.

First issue was that my `coreapp.dll` was compiled for `x64` so it wouldn't run on aarch64. I fixed that by compiling for AnyCPU.

Now it appears the program is stuck looking for `System.Runtime.dll`:

[code]

I'm a bit confused as to which `System.Runtime` I should use, as `dotnet publish` does

[2017-01-30 23:07] benaadams commented on #1166
Corner cases I can think of (and probably a little wishful thinking...)

If `UTF8Encoding` was tweaked to add the following
[code]
Would the following inline, unwrap and devirtualize? As it could only ever be a method call on a sealed class.
[code]
Other one is Enums, which may be a different kettle of fish entirely and not covered. Would the following devirualize and not box?
[code]

[2017-01-30 23:12] janvorli commented on #8927
@qmfrederik this is most likely a mismatch between coreclr and corefx stuff. Things have been shuffled between corefx and System.Private.CoreLib.dll recently and I was seeing similar problem on my x64 Ubuntu until I brought them in sync. The dotnet tools you are using likely don't use the latest coreclr / corefx.

The easiest way to get the right set of assemblies is to compile corefx repo matchin

[2017-01-30 23:14] janvorli commented on #8927
Or, you can just copy the bin/runtime/netcoreapp-Linux-Debug-x64/*.dll to the folder where you have deployed your stuff and then replace the System.Private.CoreLib.dll and mscorlib.dll with the ones build in coreclr repo and remove any *.ni.dll files if present.

[2017-01-30 23:17] mj1856 commented on #5061
I'm on the fence on this.

We have two different low-level system APIs.  One is more precise, but offers less throughput than the other.  On one hand, we could improve precision for everyone overnight.  But on the other hand, who are we to say that nobody wants less precision and more performance?  I'm sure there are indeed scenarios where people are timestamping millions of items per second and d

[2017-01-30 23:24] tinchou opened #9201 "Cross-platform lstrlenW"
I'm currently [porting System.Data.Odbc](https://github.com/dotnet/corefx/issues/13035) and I have a call to the native `lstrlenW` function I need to port: https://github.com/Microsoft/referencesource/blob/master/System.Data/System/Data/Common/UnsafeNativeMethods.cs#L1277

I was wondering if you could give me any pointers to write a managed version, or maybe `DllImport` some equivalent function in

[2017-01-30 23:35] qmfrederik commented on #8927
@janvorli OK - that worked, thanks!

I was able to get past the assembly loading errors; now the application either exists with a SIGSEV (when running under `gdb`) or appears to hang (> 1 min) (when running from the console or from lldb).

When the hang occurs, CTRL+C in lldb doesn't cause the application to break. I also set a breakpoint at C++ exceptions (`catch throw` in gdb or `break set -E c+

[2017-01-30 23:48] janvorli commented on #8927
I would try to set the env var COMPlus_DumpJittedMethods=1 to see how far we got.
Maybe that would give us some idea on where we might be. The fact that you cannot break into lldb is unfortunate.

[2017-01-31 00:05] stephentoub commented on #9201
Can you just use the Marshal.PtrToStringUni(IntPtr) overload rather than the Marshal.PtrToStringUni(IntPtr, int) overload?  From a quick look at the usage, it looks like it's using lstrlenW to get the length up until the null terminator and then using PtrToStringUni with the resulting length, but PtrToStringUni without taking the length just goes until the first null char anyway. (It's possible th

[2017-01-31 00:25] gokarnm commented on #9030
Hi @gkhanna79, any updates on this? Could you confirm if this is a bug or I'm missing something in my code? Let me know if any more information is required for a repro.

[2017-01-31 00:47] tinchou commented on #9201
It seems it first gets the length to do some assertions regarding the buffer length, but then call the same overload as `internal String PtrToStringUni(int offset, int length)` (It's confusing since they used the same names as the `Marshal` methods).

I guess I could use it and just remove that safety check. Or maybe turn things around and do something like:

[code]

I haven't done much native cod

[2017-01-31 00:56] seanshpark commented on #8817
@gkhanna79 , thanks for reminding this issue. I'll close as PR is merged.

[2017-01-31 00:56] #8817 closed

[2017-01-31 00:59] safern opened #9204 "ArgIterator apis throwing PlatformNotSupportedException."
We are exposing ArgIterator on .NET Core but they are currently throwing PlatformNotSupportedException since varargs is not currently supported in .NET Core. See [here](https://github.com/dotnet/standard/issues/20#issuecomment-272775599)

They are exposed in PR #9203 and PR [dotnet/corefx #15643](https://github.com/dotnet/corefx/pull/15643)

The original implementation is if-defed-out so when the

[2017-01-31 01:05] RussKeldorph commented on #8748
@dotnet/jit-contrib

[2017-01-31 01:11] #8775 closed

[2017-01-31 01:14] RussKeldorph commented on #8922
@BruceForstall @pgavlin @dotnet/jit-contrib

[2017-01-31 01:24] stephentoub commented on #9201
I think that should be fine.

[2017-01-31 01:59] AndyAyersMS commented on #1166
Ultimately we should be able to handle cases like the encoder example above -- as long as the source of better type info (here a static field load) is not too remote (in the IL sense) from the call. The current prototype can't get this case yet. It only looks at locals and args for type info. Once I get the actual transformation working more solidly, I can look at broadening what information can b

[2017-01-31 02:00] jkotas commented on #9204
FYI @dotnet/jit-contrib ArgIterator type was added back for .NET Standard 2.0. It throws PlatformNotSupportedException. I believe that we can ship .NET Core 2.0 with it.

@janvorli We should be able to do this in portable way using similar trick as tailcalls. Let's do the tailcalls first and then come back to this one.

[2017-01-31 03:36] tmds opened #9208 "Portable linux rid"
Lifted from https://github.com/dotnet/coreclr/issues/5853#issuecomment-275344009

Perhaps it makes sense to introduce a `linux-glibc-x64` rid for this?

This would:
* make it clear what rid other c libraries could use: e.g. linux-musl-x64
* make explicit the glibc dependency of the runtime
* make explicit the glibc dependency of the libraries

\cc @janvorli @jkotas @gkhanna79

[2017-01-31 03:40] tmds opened #9210 "Complexity of RID graph"
Lifted from https://github.com/dotnet/coreclr/issues/5853#issuecomment-276078171

e.g. the rid graph for `ubuntu.14.04-x64` looks like this now:
[code]

Are these RIDs used in practice (by .NET Core or any package on NuGet): unix, debian, ubuntu, ubuntu14.04, ubuntu-x64, debian-x64?

Leaving those out, would simplify the graph to:

[code]

\cc @janvorli @jkotas @gkhanna79

[2017-01-31 03:43] tmds commented on #9208
Placing `linux-glibc-x64` in simplified `ubuntu.14.04-x64` graph (https://github.com/dotnet/coreclr/issues/9210):
[code]

[2017-01-31 07:42] mikedn commented on #9105
How does doing it only for sealed classes help? `List<T>` and most collection classes aren't sealed anyway. The only commonly used "collection class" that is sealed is `T[]`. But even then wholesale generic method specialization doesn't necessarily solve this issue. The JIT needs to somehow figure out which specialization to call and at compile time this is only possible if the actual type of the

[2017-01-31 07:56] hqueue opened #9214 "[Ryujit/ARM32] LSRA support for arm32 floating-point register allocation"
Current LSRA can not handle variable with double type which requires a pair of register correctly for ARM32.

About 34 tests are filed in `JIT/CodeGenBringUpTests/` due to assertion failure related to TYP_DOUBLE.

I made a draft PR (#9131) and got a feedback that this might require a bunch of implementation.
From now on, this issue will address LSRA issues related to double type variable in arm32.

[2017-01-31 13:53] tmds commented on #8721
@jkotas @yizhang82 can you please provide more info?

[2017-01-31 14:24] jkotas commented on #8721
@yizhang82 is on leave for next few weeks. He should be able to comment on this once he is back.

[2017-01-31 14:50] janvorli commented on #9210
CC @Petermarcu

[2017-01-31 15:20] qmfrederik commented on #8927
@janvorli It seems the program at least starts executing. The last methods being jitted are:

[code]

which makes me think that an assert was hit, and it's capturing the stack trace which causes the app to hang (I think we've seen that before).

I tried to set a breakpoint on, say, `System.Diagnostics.Assert::Fail` but I wasn't very successful there:

[code]

This causes the app to hang, perhaps t

[2017-01-31 15:30] janvorli commented on #8927
@qmfrederik right, there is likely something broken in the stack walking.
As for the bpmd, to be able to set a breakpoint, I recommend setting a regular lldb breakpoint at coreclr_executeassembly and try to use bpmd after you hit this point.

[2017-01-31 16:02] am11 commented on #8927
@qmfrederik, this note is also related to the libsosplugin failure: https://github.com/dotnet/coreclr/blob/77a1389/src/ToolBox/SOS/Strike/sosdocsunix.txt#L81-L95

[2017-01-31 16:03] janvorli commented on #8927
You can also try to set COMPlus_JitBreak=System.Diagnostics.Assert:Fail and see if it breaks into the debugger when jitting the method.

[2017-01-31 16:04] janvorli commented on #8927
Btw, I believe that in the bpmd, you should use just one colon before the "Fail"

[2017-01-31 16:21] qmfrederik commented on #8927
Thx, at the moment it looks like lldb actually fails to launch/attach correctly. Even if I set the `COMPlus_DumpJittedMethods=1` env var from within lldb, the `run` command just causes lldb to hang and never generates any console output.
Attaching gdb to lldb seems to indicate lldb is stuck in pthread_join.

[2017-01-31 16:25] janvorli commented on #8927
@qmfrederik are you trying this in a docker container?

[2017-01-31 16:28] qmfrederik commented on #8927
@janvorli This time, it's on a physical host

[2017-01-31 16:41] janvorli commented on #8927
I wonder if trying to run under sudo would help. Just a quick idea based on the fact that on OSX, I have to run lldb with sudo.

[2017-01-31 17:44] qmfrederik commented on #8927
@janvorli @am11 so compiling lldb from source at least got lldb working - I can now launch corerun under lldb and set the breakpoint for `coreclr_execute_assembly`.

Next up:

[code]

Let me have a look at that.

[2017-01-31 17:49] BruceForstall commented on #9204
@jkotas Do we expect to continue not supporting varargs in .NET Core? Or, do we expect that varargs should be supported at some point in the future? Fyi, there would be considerable work required in the JIT to enable it for Linux.

[2017-01-31 17:51] qmfrederik commented on #8927
Hmm, this seems to come from https://github.com/dotnet/coreclr/blob/master/src/ToolBox/SOS/Strike/exts.cpp#L137 as a side-effect of SOS_TARGET_ARM64 not being defined, but I don't know where it would need to be defined (I can only see references to this flag, but I don't see the flag being set/defined).

@janvorli thoughts?

[2017-01-31 17:56] AtsushiKan opened #9215 "Delegate.CreateDelegate() - parameter validation hole."
Consider the following.

[code]

Expected behavior would be an ArgumentException on "target."

Problem is that the <a href="https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Delegate.cs#L71">validation code</a> that's supposed to catch this is written as:

[code]

The "IsGenericType" part of the conditional makes no sense - it lets types that represent type variables slide thro

[2017-01-31 18:00] janvorli commented on #8927
It is defined it in the src/ToolBox/SOS/Strike/CMakeLists.txt, so the question is why doesn't it kick in.

[2017-01-31 18:02] qmfrederik commented on #8927
Yup, I modified exts.cpp to read like this:

[code]

and the code compiles fine, making me think that `ARM64Machine::GetInstance()` might have returned null.

[2017-01-31 18:02] jkotas commented on #9204
Depends on feedback.

It would be non-trivial work on the runtime side as well if we just replicated the current solution.

If we were to enable the managed x-plat varargs, I think we should wire up them differently so that:
- They are not tied to the platform vararg calling convention and cheap to port.
- They are actually useful. Managed varargs would be a good solution to avoid boxing and alloc

[2017-01-31 18:04] qmfrederik commented on #8927
... or targetArchitecture is set to something else.

[2017-01-31 18:12] qmfrederik commented on #8927
So:

` ` `
#elif defined(SOS_TARGET_ARM64)
    if (targetArchitecture == IMAGE_FILE_MACHINE_ARM64)
    {
        targetMachine = ARM64Machine::GetInstance();
    }
    else
    {
        ExtErr("SOS_TARGET_ARM64 is defined but the targetArchitecture was not IMAGE_FILE_MACHINE_ARM64: %llx.\n", targetArchitecture);
    }
#else
` ` `

gives

` ` `
(lldb) bpmd add mscorlib.dll System.Diagnostics.Asser

[2017-01-31 18:14] qmfrederik commented on #8927
Found it : https://github.com/dotnet/coreclr/blob/8fc684957641c2984ec66d8e92eb3d326f986dba/src/ToolBox/SOS/lldbplugin/services.cpp#L406

[2017-01-31 18:16] janvorli commented on #8927
Awesome! I hope that's the all that's needed.

[2017-01-31 18:20] qmfrederik commented on #8927
That would have been too easy :)

[code]

Let me check

[2017-01-31 18:25] qmfrederik commented on #8927
OK, that one was easy because I could copy the code over from !FEATURE_PAL to FEATURE_PAL. However, now I'm hitting this one, which is a bit more obsure:

[code]

[2017-01-31 18:28] qmfrederik commented on #8927
fyi - changes made so far: https://github.com/qmfrederik/coreclr/commit/aa4be2b436508360dbcb64b55c7bdfc893c308cd

[2017-01-31 18:32] qmfrederik commented on #8927
seems `1c30`  is CORDBG_E_UNCOMPATIBLE_PLATFORMS, so I'm guessing #if somewhere.

[2017-01-31 18:32] janvorli commented on #8927
As for the failure to load - the error code means "CORDBG_E_UNCOMPATIBLE_PLATFORMS". There are about 6 places in the sources that return this error. You might want to add printf to each of these and see which one it is.

[2017-01-31 18:33] janvorli commented on #8927
Might be due to the issue I've spotted in your changes.

[2017-01-31 18:38] qmfrederik commented on #8927
That was it, the breakpoint is not hit though, and we end with a sigsev:

[code]

[2017-01-31 18:43] AndyAyersMS commented on #8459
It would probably be a good idea. I doubt we want anyone taking a dependence on the current behavior.

[2017-01-31 19:00] janvorli commented on #8927
It could be the original trigger for the assert. SIGSEGV in the managed code translates to null reference exception and we might have ended up asserting in the process of handling the exception.
But, since we now have the disass working, you can try to run `clrstack -f` and see the stack including the managed frames.

[2017-01-31 19:00] janvorli commented on #8927
I meant "since we have the plugin working"

[2017-01-31 19:08] janvorli commented on #8459
@AndyAyersMS do you still think you'd find time to make the change or should we find someone else to do it?

[2017-01-31 19:08] sivarv opened #9218 "RyuJIT: Limit GC liveness of in-linee locals"
Binary trees benchmark is an example of that illustrates this issue.

See https://github.com/dotnet/coreclr/issues/8837 for more details

[2017-01-31 20:05] sivarv opened #9219 "Port latest C# pi-digits benchmark"
Source of benchmark:
http://benchmarksgame.alioth.debian.org/u64q/csharp.html

This version of benchmark replaced BigInteger with a native implementation and uses PInvokes.

This benchmark needs to be ported to both Core and Desktop.

[2017-01-31 20:07] sivarv opened #9220 "Port C# Knucleotide benchmark to Core"
Source:
http://benchmarksgame.alioth.debian.org/u64q/csharp.html

This version is same as the cqPerf version ported to desktop.

[2017-01-31 20:10] sivarv opened #9221 "Port latest Revcomp benchmark to Core"
Source: http://benchmarksgame.alioth.debian.org/u64q/csharp.html

This is a multi-threaded version of the benchmark.

[2017-01-31 20:12] sivarv opened #9223 "Port latest Fasta C# benchmark to Core"
Source:
http://benchmarksgame.alioth.debian.org/u64q/csharp.html

[2017-01-31 20:14] sivarv opened #9225 "Port latest Mandelbrot C# bechmark to Core"
Source:
http://benchmarksgame.alioth.debian.org/u64q/csharp.html

[2017-01-31 20:18] sivarv opened #9226 "Port Fannkuch-redux C# benchmark"
Source: http://benchmarksgame.alioth.debian.org/u64q/csharp.html

Or we can port cqPerf version from Desktop.

[2017-01-31 20:20] sivarv opened #9227 "Port latest SpectralNorm C# bechmark to Core"
Source: http://benchmarksgame.alioth.debian.org/u64q/csharp.html

The one present in Core and Desktop throws an exception every now and then.  Most likely some synchronization issue which was fixed in latest version of this benchmark.

[2017-01-31 20:24] choikwa commented on #9176
I got around the System.Runtime by replacing these lines in project.json

[code]
But running `dotnet run -c Release` doesn't show the printf's I added on my build. It does not appear like my build gets applied.

[2017-01-31 20:39] aloisdg commented on #4409
I can find 3 packages on the aur. 2 are out of date. The last one is [`aur/dotnet-coreclr-git`](https://aur.archlinux.org/packages/dotnet-coreclr-git/) by aignas. I will try it.

[2017-01-31 21:38] bigolewannabe commented on #4409
I haven't had a chance to put it through all of it's paces but
https://aur.archlinux.org/packages/dotnet-cli is working for me.
I just spun up the default project with `dotnet new` `dotnet restore` `dotnet build` `dotnet run` and was able to run the default Hello World console app.

[2017-01-31 21:40] aloisdg commented on #4409
@bigolewannabe Do you have both C# and F#? If so, I will try this solution!

[2017-01-31 21:43] qmfrederik commented on #8927
Hmm, that doesn't seem to give us a lot of info:

[code]

[2017-01-31 21:44] choikwa commented on #9176
Hooked into my.dll with WinDbg and found that it was trying to load from %HOME%\.nuget\packages\...\coreclr.dll etc.

Wiped %HOME%\.nuget and it is now working

[2017-01-31 21:44] #9176 closed

[2017-01-31 21:45] janvorli commented on #8927
Can you try the "ip2md" command on one of the IP addresses in the managed frames)? Like in the stack above `ip2md 0000FFFF3D623FEC".

[2017-01-31 21:54] qmfrederik commented on #8927
@janvorli OK, we're getting somewhere. I enabled the `COMPlus_JitBreak`  and `COMPlus_DumpJittedMethods` variables, so I could at least get a sense of how far the code got.

[code]

and from what I gather, this is our stack trace:

[code]

[2017-01-31 21:57] AndyAyersMS commented on #8459
Not clear yet -- if you have somebody ready to take this on, please go ahead. Otherwise I'll try to get to it soon.

[2017-01-31 22:09] qmfrederik commented on #8927
@janvorli Is this what you're after? I'll leave the debugger running.

[code]

[2017-01-31 22:10] qmfrederik commented on #8927
although I'm guessing it may be because of `this.args` being null? [ParamsArray:62]( https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/ParamsArray.cs#L62)

[code]

[2017-01-31 22:13] qmfrederik commented on #8927
... sorry for spamming, the stack trace here is:

[code]

[2017-01-31 22:13] janvorli commented on #8927
Yes, I think that's the case. It seems that the this.args is null. Can you try to dump the stack objects using
`dso` command?

[2017-01-31 22:15] qmfrederik commented on #8927
Yeah, `string.Format` is called from [`EncodingTable..cttor()`](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Globalization/EncodingTable.Unix.cs#L92), and it looks like somehow the params are not passed correctly.

Here's the result:

[code]

[2017-01-31 22:20] janvorli commented on #8927
Let's see if the "this" object at the failing frame is really a ParamsArray:
First, dump the "this" pointer:
`x/gx $x29+0x10`
Then do
`dumpobj` and pass it the address that the x/gx dumped.

[2017-01-31 22:22] qmfrederik commented on #8927
Is the address the first or second value?

[code]

[2017-01-31 22:23] RussKeldorph commented on #9068
@dotnet/jit-contrib

[2017-01-31 22:24] RussKeldorph commented on #9066
@dotnet/jit-contrib

[2017-01-31 22:25] RussKeldorph commented on #9041
@dotnet/jit-contrib

[2017-01-31 22:29] janvorli commented on #8927
I meant the second - the actual value stored at x29+0x10. So it is incorrect. It should be the ParamsArray. Seems like a jitter issue then.

[2017-01-31 22:32] qmfrederik commented on #8927
Are there some non-regression tests for the jitter that we could run, just to get an idea of how far along the jitter is? There are NuGet packages for win10-arm64, so I'm assuming this is nothing too exotic, right?

[2017-01-31 22:48] janvorli commented on #8927
I don't think there are any tests that would be runnable when even hello world doesn't work.
Could you also disass the System.String.Format method? That's where the ParamsArray is created. And also the System.String.FormatHelper method to see how it is propagated. I can then look at the code and see if I can spot the problem.

[2017-02-01 00:03] swgillespie commented on #9064
cc @Maoni0 @adiaaida @sergiy-k

So a `git bisect` revealed that this test 1) started failing after https://github.com/dotnet/coreclr/pull/8853 and, 2) since that PR, has very different test behavior in that it allocates ridiculously huge arrays that previously would have been over the `gcAllowVeryLargeObjects` limit.

I have a number of dumps and I will continue investigating the GC bug and will m

[2017-02-01 00:27] BruceForstall commented on #7860
We've decided that we will not dynamically align the stack so that SIMD vectors are aligned. We do have correct alignment info on SIMD vector locals, so the correct aligned/unaligned instruction can be generated. It is also our understanding that the unaligned load/store instructions perform similarly to the aligned versions.

[2017-02-01 00:27] #7860 closed

[2017-02-01 00:38] AndyAyersMS commented on #1166
For the enum case, things are more complex. With some tweaks, the prototype can recognize the resulting type of the box, and discover the right class, and figure out what method is called, but the Enum.ToString override can't be inlined since it is too large
[code]
and the implementation won't devirtualize unless the call can be inlined.

Now in this case the method could safely be inlined -- ther

[2017-02-01 00:40] BruceForstall opened #9237 "Many expensive uses of gtGetOp2"
Conversation in #8672 pointed out that gtGetOp2 is called many times where a nullptr result is not expected, leading to an expensive unnecessary function. Change this function to directly access gtOp.gtOp2 and create a new gtGetOptionalOp2 to be explicit about the caller expecting a possible nullptr.

[2017-02-01 00:41] Maoni0 commented on #9064
yep I had a bug there when growing tables in the OOM case; Sean will be making a fix.

[2017-02-01 00:57] BruceForstall commented on #7626
@RussKeldorph This issue can be closed; there are still warnings, but not "zillions".

[2017-02-01 01:40] Petermarcu commented on #9210
@ericstj  ?

[2017-02-01 01:46] #8980 closed

[2017-02-01 04:54] ericstj commented on #9210
What do you aim to "simplify"?  The RID structure is public and anyone can use those RIDs so even if we aren't using them doesn't mean its safe to remove them: that'd be a breaking change.  The structure is documented here: https://github.com/dotnet/corefx/tree/master/pkg/Microsoft.NETCore.Platforms.

I know that there are folks relying on the debian relationship /cc @moozzyk.  There are folks usi

[2017-02-01 05:38] moozzyk commented on #9210
The libuv package currently uses the `debian-x64` RID for a libuv version for debian and debian derivatives (e.g. ubuntu).

[2017-02-01 06:09] jkotas commented on #8838
This test timed out in https://github.com/dotnet/coreclr/pull/9244

`
cmdLine:D:\\j\\workspace\\x64_release_w---0575cb46\\bin\\tests\\Windows_NT.x64.Release\\JIT\\Performance\\CodeQuality\\SIMD\\SeekUnroll\\SeekUnroll\\SeekUnroll.cmd Timed Out\r\n\n\nReturn code: -100
`

[2017-02-01 06:44] mikedn commented on #9237
I've looked a bit into this couple of days ago and it seems that there are many uses that rely on the current behavior of `gtGetOp2`. Some uses are normal (e.g. in `fgWalkTree*` functions) but there are also cases where `gtGetOp2` is needlessly called on random nodes (e.g `fgMorphForRegisterFP` calls `gtGetOp2` before checking if the oper is arithmetic/compare).

It seems that there's quite a bit

[2017-02-01 06:54] gkhanna79 commented on #9030
I am still investigating and will share what I find.

[2017-02-01 06:59] BruceForstall commented on #9237
I was looking through this earlier today (hence the new issue). I think it would be not too difficult to split existing uses between `gtGetOp2` and `gtGetOptionalOp2`. At least conservatively, there are many places that call `gtGetOp2`, typically in newer code, that obviously can't handle nullptr return.

[2017-02-01 08:03] tmds commented on #9210
@ericstj Yes, I understand. I am looking for the rationale for these RIDs. E.g. if your library targets `debian` or `debian-x64`, what does that mean? You can't assume anything more over the parent RIDs, right?
e.g. @moozzyk, why do you target `debian-x64`? and not `linux-x64`?

[2017-02-01 14:24] ericstj commented on #9210
@tmds anything that might be unique behavior for that set of OSes: api, functional behavior, dependencies, etc.  Correct you cannot assume things over the parent RIDs.  Surely since each RID does represent a unique OS or intersection of OSes one can assign unique characteristics to that OS / intersection of OSes.

[2017-02-01 14:44] tmds commented on #9210
Indeed, the RID represents a unique OS or intersection of OSes. There are no fixed characteristics at this level you can rely on. So, the RID is a way of grouping stuff but it doesn't do anything useful.

@ericstj please also have a look at this related issue: https://github.com/dotnet/coreclr/issues/9208.

@moozzyk can you elaborate why you target `debian-x64`?

[2017-02-01 14:50] mjsabby commented on #8459
Will this cause a difference in behavior for between an assembly running on .NET Desktop vs. .NET Core on Windows? If so, I don't think this is a good idea.

[2017-02-01 16:25] vcsjones opened #9250 "Inconsistent Behavior for Calendars between macOS on Windows"
This (bad) code here behaves differently for Windows and macOS:

[code]

On Windows, this throws an exception:

On macOS, an exception is not thrown and it "works".

I understand why the Windows version is throwing, but I was surprised that it did not on macOS. I think the correct behavior is that all platforms should throw the exception.

Runtime Environment:
 OS Name:     Windows
 OS Version:  1

[2017-02-01 16:33] mskvortsov commented on #8922
Here I'm logging some observations I've made during debugging.

So, first of all, the problem is incorrect offsets are somehow assigned to `rat0` and `rat1`:
[code]
They should instead be `[sp+0x00]` and `[sp+0x04]` respectively. The main function of interest is `lvaAssignFrameOffsets` at the `FINAL_FRAME_LAYOUT` phase.

First it calls `lvaAssignVirtualFrameOffsetsToArgs` which in turn calls `lvaA

[2017-02-01 16:52] mikem8361 commented on #9057
1.1.x PR #9060

[2017-02-01 16:52] #9057 closed

[2017-02-01 16:53] mikem8361 commented on #8606
1.1.x PR #9060, 1.0.x PR #9062

[2017-02-01 16:53] #8606 closed

[2017-02-01 17:07] migueldeicaza commented on #8721
We could use one of the available bits in ImplMap (do not steal my UTF8 Flag!) to flag that the string pointed to will contain two strings, back to back.   The pointer to the string would be the entrypoint, followed by another string would be the version symbol.

This would preserve the file format without changing the table sizes.

[2017-02-01 17:18] qmfrederik commented on #8927
Here's the `String.Format` method:

[code]

and `String.FormatHelper`:

[code]

I'll leave the debugger session active for a while, let me know if you there's anything I can do to help

[2017-02-01 18:13] janvorli commented on #8927
@qmfrederik I am sorry, I have not realized yesterday that the ParamsArray is a struct and not a class. In that case, it cannot be dumped using the dumpobj. You have to use `sos DumpVC` command. First, you need to find the MethodTable address for the ParamsArray using `name2ee *!System.ParamsArray`
That will dump some info on the type, including the MethodTable address.
Then you run `sos DumpVC me

[2017-02-01 18:25] NickStrupat commented on #9105
@mikedn I think we've each been talking about slightly different scenarios, so I'll try to specify again.

If the calling code knows the `IList<T>` is `T[]` or some derived and sealed class of any `IList<T>`, the following method could and should perform the same "inlining" as value-type `IList<T>`s already receive.

[code]

If `TList` is a value-type, we get the same performance as if `SumIList`

[2017-02-01 18:47] qmfrederik commented on #8927
Here you go:

[code]

and

[code]

so it looks like `args` is `null`.

As to the ` ip2md`:

[code]

[2017-02-01 18:54] qmfrederik commented on #8927
Looking at the call stack:

So [`EncodingTable..ctor()`](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Globalization/EncodingTable.Unix.cs#L92) calls [`String Format(IFormatProvider provider, String format, Object arg0, Object arg1, Object arg2)`](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/String.Manipulation.cs#L468) and it's this method which cr

[2017-02-01 19:07] janvorli commented on #8927
@qmfrederik it looks like the statics are not initialized for some reason. Can you please set a breakpoint at JIT_GetSharedGCStaticBase_Portable and see if we hit that? That's the function that triggers static constructors of classes, which is where the statics are initialized.

[2017-02-01 19:16] qmfrederik commented on #8927
That one gets hit a lot; perhaps most importantly also just after the "Compiling  374 System.ParamsArray::.ctor, IL size = 34, hsh=0x971f5e3b" message is print out.

Let me know if you want me to stop at a specific instance of that breakpoint and run additional commands.

[code]

[2017-02-01 19:37] janvorli commented on #8927
Can you try to set managed breakpoint at the System.ParamsArray::.cctor (note it is .cctor, not .ctor) and see if we hit that? That's the static constructor that initializes the static members of ParamsArray.
You can do it this way (verified it works on my x64 Linux)
`bpmd System.Private.CoreLib.dll ParamsArray..cctor`

[2017-02-01 19:52] benaadams commented on #9105
@NickStrupat as @mikedn points out if that was done wholesale it would cause a binary size explosion especially as then it would start inlining code into these functions. It would be worthwhile in hot paths but disadvantageous to do in all paths.

There is a proposal in rosyln to indicate that you want specific handling for various generic types https://github.com/dotnet/roslyn/issues/15822 <-- Sh

[2017-02-01 19:52] qmfrederik commented on #8927
Yes, that seems to be hit (sorry for the delay, GitHub doesn't always show new comments it seems):

[code]

[2017-02-01 19:55] janvorli commented on #8927
@qmfrederik can you please disass this method using `clru`?

[2017-02-01 19:56] qmfrederik commented on #8927
@janvorli Here you are:

[code]

[2017-02-01 20:08] janvorli commented on #8927
@qmfrederik It is interesting that the clru doesn't show comments on the calls. But comparing that to the disass on my x64, I can see that the 0xffff3d45d830 is the JIT_GetSharedGCStaticBase_Portable function and the value loaded to w1 register before the call (the 0x28b) is the dwClassDomainID argument.
The call after that, the 0xffff3d45d6b0, is the JIT_WriteBarrier and the call before that, the

[2017-02-01 20:10] qmfrederik commented on #8927
@janvorli Here's the output:

[code]

[2017-02-01 20:11] qmfrederik commented on #8927
Setting breakpoints does give me the function addresses of the functions you've mentioned, and they seem different:

[code]

[2017-02-01 20:12] qmfrederik commented on #8927
... and here is what one of the disass looks like (not sure if you're interested in that, I'm guessing the function addresses are off and we'd need to check that?)

[code]

[2017-02-01 20:18] NickStrupat commented on #9105
@benaadams, @mikedn, I don't know how many other ways I can point this out... I'm not talking about doing it wholesale.

I'm talking about doing it **only** for sealed classes where `TList` is the sealed class. In this scenario, the JIT compiler knows just as much about that type as if it were a struct. Only if it's sealed is this a good idea. Since the vast majority of classes are unsealed, there

[2017-02-01 20:27] janvorli commented on #8927
@qmfrederik Ok, let's set managed breakpoint on the ParamsArray..cctor again and then do some stepping. For the beginning, let's just step over the calls (using the`n` command) and see what are the return values (in the x0 register after each call) of all the calls. The call #1, 4 and 7should be allocations of the arrays, the #2, 5 and 8 should get the statics base and the return of #3, 6 and 9 ar

[2017-02-01 20:39] qmfrederik commented on #8927
From the "there has to be a better way to do this" departement, here's the output:

[code]

[2017-02-01 21:03] benaadams commented on #9105
@NickStrupat sealed is only relevant for virtual methods; otherwise it already has all the type information. It would also cause code bloat unnecessarily for everywhere a sealed type was used rather than just in hot paths. e.g. as string is a sealed type creating a `Dictionary<string, object>` would generate full unique assembly for that dictionary, as would `Dictionary<string, string>` etc but th

[2017-02-01 21:09] mikedn commented on #9105
I don't think so. Let's try again:

Considering that doing this will invariably increase code size one can wonder why should the JIT be doing this in the absence of any indication that the code is performance sensitive. Does the fact that `TList` happens to be sealed implies that `SumIList` is performance sensitive? Clearly not.

And as I stated before value types works the way they work because t

[2017-02-01 21:10] janvorli commented on #8927
@qmfrederik I don't know why the lldb stepped into the calls instead of over them. I didn't expect to get the full trace, just the return values of the functions called. Which you have not printed.
Let's try a better way now. After you break into the ..cctor, set a regular breakpoint at every third call in the cctor (was `bl 0xffff3d45d6b0` in your disassembly above) and let the execution continue

[2017-02-01 21:18] qmfrederik commented on #8927
@janvorli Here you go: `x15` is not null; but oneArgArray, twoArgArray and threeArgArray keep the NotInit label:

[code]

[2017-02-01 21:21] qmfrederik commented on #8927
By the way, I was inspecting the values of arg0, arg1, arg2, and it appears we have the same NotInit behavior for string.Empty

[code]

[2017-02-01 22:00] wtgodbe opened #9253 "Remove Microsoft.NETCore.Platforms from test_runtime\project.json"
We shouldn't need https://github.com/dotnet/coreclr/blob/master/tests/src/Common/test_runtime/project.json#L3 this entry here, as the entry in test_dependencies/project.json should take care of this dependency - removing that line from test_runtime causes build breaks that look like:

So something must be overwriting the Microsoft.NETCore.Platforms from test_depencies/project.json.

[2017-02-01 22:01] wtgodbe commented on #9253
CC @ramarag @dagood

[2017-02-01 22:15] janvorli commented on #8927
@qmfrederik the addresses that are in x14 should match the addresses where the oneArgArray, twoArgArray and threeArgArray are located.
Looking at the x14 values you have printed, they were 0x0000ffff27fffae0, 0x0000ffff27fffae8 and 0x0000ffff27fffaf0. The third one should be the address that the regular constructor accesses when setting its args member to the threeArgArray.

Could you please also

[2017-02-01 22:26] qmfrederik commented on #8927
@janvorli Here's the `clru` for the regular constructor. The call seems to match your description:

[code]

The regular constructor was hit before the static constructor, not sure if that's expected.

[code]

[2017-02-01 22:32] moozzyk commented on #9210
@tmds: Can you be more specific what you want to know. I thought https://github.com/dotnet/coreclr/issues/9210#issuecomment-276577031 explains it but let me know if you want more details.

[2017-02-01 22:49] janvorli commented on #8927
@qmfrederik it is expected that the regular constructor is ran before the static one. The static one is actually called from inside of the call to 0xffff3d45d830. That function is the JIT_GetSharedGCStaticBase_Portable and its goal is to return the the base address of the statics and ensure that the static constructor for a class described by the parameter in w1 (0x28b in our case) was called.
The

[2017-02-01 22:56] wtgodbe commented on #1796
Was fixed by https://github.com/dotnet/coreclr/pull/3809

[2017-02-01 22:56] #1796 closed

[2017-02-01 22:58] qmfrederik commented on #8927
@janvorli The values of `x0`  seem to match, but the value dumped from memory for the statics is NotInit:

[code]

[2017-02-01 23:06] wtgodbe commented on #4476
Believe this was fixed a while back, we haven't seen these (or any) PAL failures in recent memory - https://ci.dot.net/job/dotnet_coreclr/job/master/job/checked_osx_prtest/

[2017-02-01 23:06] #4476 closed

[2017-02-01 23:06] janvorli commented on #8927
That's weird. The value you dumped from the memory at $x0+0xaa8 looks like a reasonable address. If you still have the session open, could you do `dumpobj 0x0000ffff18013320`?

[2017-02-01 23:07] wtgodbe commented on #7680
Now tracked by https://github.com/dotnet/coreclr/issues/9144

[2017-02-01 23:07] #7680 closed

[2017-02-01 23:08] qmfrederik commented on #8927
[code]

[2017-02-01 23:16] wtgodbe commented on #8937
@ellismg I believe this has been addressed, the CI has been looking good since the changes Gaurav mentioned above - anything else that needs to be done? Otherwise I'm going to close this at EOD

[2017-02-01 23:24] janvorli commented on #8927
@qmfrederik so that's the correct array that should be there. I wonder why the args member is set to null then. The fact that the DumpVC shows the static members as null can be an issue of the SOS and not the reality.

[2017-02-01 23:25] janvorli commented on #8927
Btw, I am going to be OOF from tomorrow till Sunday and I won't have access to the internet.

[2017-02-01 23:32] janvorli commented on #8927
Looking at the .ctor code again, the only way how the args member can end up being null is that the call to 0xffff3d451f38 would fail to write x15 to the memory at x14.
Could you please disass the method at 0xffff3d451f38? It might be just a jump stub at that address, so if it is the case, the easiest way to get to the actual function would probably be to step through the stub using `s` command.

[2017-02-01 23:34] ellismg commented on #8937
Nothing else I can think of.  I see @RussKeldorph fixed up the python scripts as well.  Closing.

[2017-02-01 23:45] qmfrederik commented on #8927
@janvorli I'll try that tomorrow, so you'll have the results by the time you get back.

So after that call, x14 and x15 should have the same values, right? I'll dump them too so we can check.

If there are ither things I can check, let me know.

In that code, is x29 the ParamsArray and 0x18 the offset of args?

Enjoy your time off!

[2017-02-01 23:51] janvorli commented on #8927
@qmfrederik I guess you meant that the value in memory at address x14 should have the same value as the x15, right? That's true.
x29 is a frame pointer, local variables (also locals introduced by the jit and not present in the C$ source) in that function are addressed using an offset from it. "this" pointer is stored at x29+0x28, as you can see if you look at the beginning of the function where x0

[2017-02-02 00:55] wtgodbe opened #9257 "Move CoreCLR's pipebuild & build definitions into checked-in JSON blobs"
CoreFX already does this - https://github.com/dotnet/corefx/tree/master/buildpipeline. We should do the same. At the same time, we should change our Linux jobs to use the Docker-exec pattern that CoreFX uses, instead of the 'checkout, do something, delete' pattern we use now.

[2017-02-02 00:55] wtgodbe commented on #9257
CC @gkhanna79

[2017-02-02 01:21] benaadams commented on #9105
After rechecking my assumptions, I take it back, alas a concrete struct wrapper doesn't inline via a generic. https://gist.github.com/benaadams/ba3c008a328f02c75663213cd9affa65
[code]
The interface calls are slower, but closer to a non-inlined call (as above)

[2017-02-02 02:01] benaadams commented on #9105
Ahh... had it wrong; they do inline, the wrappers were classes not structs, updated code, results are
[code]

[2017-02-02 02:32] #9064 closed

[2017-02-02 03:11] tmds commented on #9210
What is debian specific about the libuv package for `debian-x64`?

[2017-02-02 03:24] parjong opened #9260 "[x86/Linux] JIT.Directed.forceinlining.PositiveCases Failure"
In x86/Linux, Core CLR shows the following assert failure while running ``JIT.Directed.forceinlining.PositiveCases``:

[code]

[2017-02-02 04:03] moozzyk commented on #9210
Originally the plan was to ship separate libuv for each major supported distro. Since both Debian (AFAIR 8.2) and Ubuntu 14.04 were supposed to be supported and Ubuntu is a derivative of Debian it made sense to have just libuv only for debian-x64 which would be used by all RIDs 'deriving' from debian-x64
Given that libuv depends only on libc we recently started experimenting with having just one l

[2017-02-02 05:08] parjong opened #9265 "x86/Linux progress"
I'm opening an issue to track x86/Linux progress with respect to the regression tests.

Here is the current status on Ubuntu 14.04 (inside Docker Container Ubuntu 16.04 x64):
[code]

I used 63607d8e657 with https://github.com/parjong/coreclr/tree/fix/x86_4byte_alignment and #9261 to get the above result.

[2017-02-02 05:10] parjong commented on #9265
\CC @seanshpark @wateret

[2017-02-02 05:24] AlexGhiondea commented on #9087
Let's track this with #7607

[2017-02-02 05:24] #9087 closed

[2017-02-02 05:24] AlexGhiondea commented on #5739
Let's track this with #7607

[2017-02-02 05:24] #5739 closed

[2017-02-02 05:25] AlexGhiondea commented on #7607
@RussKeldorph do you know if the tests have been updated to not use this facade anymore?

[2017-02-02 05:26] AlexGhiondea commented on #8815
I don't know of one either :(.

[2017-02-02 05:44] karelz commented on #8148
Documented in known issues: https://github.com/dotnet/core/blob/master/release-notes/1.1/1.1-known-issues.md#systemexecutionengineexception-in-systemsecuritycryptographyx509cerificatesdll-on-windows

[2017-02-02 05:54] AlexGhiondea commented on #2051
@tarekgh would you mind taking a look at this?

[2017-02-02 05:58] AlexGhiondea commented on #5716
@erozenfeld @tarekgh do we know if this is something we are currently running into? Is this a significant source of performance issues? Or have we ran into it during investigation and we would like to fix?

Bottom line: do we want to tackle this in the 2.0 timeframe?

[2017-02-02 05:58] AlexGhiondea commented on #5717
@tarekgh @erozenfeld is this something we would like to do for 2.0?

[2017-02-02 06:42] #9260 closed

[2017-02-02 08:00] erozenfeld commented on #5716
This is something I found when investigating Linux vs. Windows perf differences for some benchmarks back in June. I don't know if this is still an issue and can't comment on when this should be addressed.

[2017-02-02 08:01] erozenfeld commented on #5717
This is something I found when investigating Linux vs. Windows perf differences for some benchmarks back in June. I don't know if this is still an issue and can't comment on when this should be addressed.

[2017-02-02 08:23] tmds commented on #9210
I believe the `unix` rid is used by .net core for managed assemblies that work across linux and unix oses.
The `unix-x64` isn't meaningful since there is no binaries that can be shared at this level.
The `debian`, `ubuntu`, `debian-x64`, `ubuntu-x64` don't bring anything useful compared to their parents, i.e. one cannot assume certain libraries, apis will be present.
The `ubuntu14.04` allows to ma

[2017-02-02 09:01] parjong opened #9272 "[x86/Linux] JIT.Directed.coverage.oldtests.ovfldiv1_il_r Test Failure"
``JIT.Directed.coverage.oldtests.ovfldiv1_il_r`` test ends with segmentation fault:
[code]

[2017-02-02 09:18] parjong commented on #9272
It seems that there is calling convention issue:
[code]

[2017-02-02 09:29] parjong commented on #9272
I figured out why segfault happens. Here is the JIT disasm for Main.
[code]

``CORINFO_HELP_LDIV`` called inside ``G_M56529_IG03`` throws an exception, and corresponding fault code is located at  G_M56529_IG09.

After executing fault code, CLR resumes execution from G_M56529_IG04 without popping stack argument:
[code]

When the execution reaches ``G_M56529_IG05``, ``ebp`` is restored as ``0xffffff

[2017-02-02 09:31] Ninds commented on #5463
Hi ,
Can someone comment on this topic given the latest developments in .NET Core ?
Has the documentation project been discontinued ?

[2017-02-02 09:36] parjong commented on #9272
@jkotas @dotnet/jit-contrib Could you let me know your opinion on which approach will be better to resolve this issue?

I currently consider two approaches:
 - Use CDECL instead of STDCALL in x86/Linux
 - Adjust ESP before resume execution

[2017-02-02 09:36] parjong commented on #9272
\CC @seanshpark @wateret

[2017-02-02 10:27] wateret opened #9273 "Improvement for ARM/Linux CI"
We have following issues with CI/ARM/Linux. The sub-bullets are our plans.

* It is hard to make changes in the CI environment.
  - The rootfs for cross-build is from the CI machine which is not public. It would be nicer to build the rootfs during build process because it is the same way any developer would do.
  - We'd like to use Docker for cross-build. When build environment(toolchain or someth

[2017-02-02 10:33] am11 commented on #9210
I understand that these RIDs are only for .NET Core packaging; we are considering the same established convention to use in our build. In my opinion, there needs to be 'C' library section in RID construction.

For example, our native lib also just depends on `libc`, so we usually build on old CentOS (gcc 4.4) to maximize the compatibility. However, in the packaging story I am working on, I still n

[2017-02-02 11:04] tmds commented on #9210
@am11 see https://github.com/dotnet/coreclr/issues/9208

[2017-02-02 15:02] mountgellert commented on #9040
Hi, I'm the enduser who originally reported the issue.

In case you are having a MulticastDelegate, it was working properly, based on the code @jkotas showed. The problem only surfaces if it's a 'normal', non multicast delegate, than the current implementation only does:

        public override int GetHashCode()
        {
            //
            // this is not right in the face of a method bei

[2017-02-02 15:20] gkhanna79 commented on #7345
@piotrpMSFT @livarcocc ?

[2017-02-02 16:03] RussKeldorph commented on #7607
@AlexGhiondea I'm not aware of any such update, but that doesn't mean it didn't happen.

[2017-02-02 16:16] jkotas commented on #9272
It would need to be used everywhere as the managed calling convention, not just for this one helper. Do you agree?

Given that, I think adjusting ESP before resume execution sounds better to me.

[2017-02-02 16:23] tarekgh commented on #2051
I believe this is by design in Linux as Linux ignore the null characters. i.e. null characters has no weights for the string comparison. if someone want to to have accurate result should use ordinal comparisons and not linguistic comparison. I understand this is different than Windows but we already have some differences between Windows and Linux in this space.

[2017-02-02 16:51] tarekgh commented on #5717
Hey @AlexGhiondea, TimeZoneInfo has a lot of work need to be done. there is a future plans (other issues tracking that). this issue and the other #5716 are kind of old but I think they are still valid. I don't think these are urgent for 2.0 but I'll leave this to you decide if you think otherwise. I have un-assigned myself for these 2 issues as I am not planning to work on these now. I'll be happy

[2017-02-02 16:53] tarekgh commented on #5717
I would suggest to change the milestone and mark these issues up-for-grab.

[2017-02-02 17:00] danmosemsft commented on #5717
Woudl be great to make any perf improvement, but if it's not a regression or showing up in our key perf benchmarks it does not have to be done to ship

[2017-02-02 17:32] RussKeldorph commented on #8921
@BruceForstall @sivarv @briansull Does this sound unintended, or should we simply consider these tests invalid when profiling?
@dotnet/jit-contrib

[2017-02-02 17:56] sivarv commented on #8921
This issue was filed while doing testing of ELT profiler hook functionality on Linux.  It is not clear whether they fail on Windows as well.  At the least these need investigation.  So as not to block merging PR meant to enable ELT profiler hooks on Linux this issue was filed.

[2017-02-02 18:17] AlexGhiondea commented on #2051
Closing per @tarekgh's comments

[2017-02-02 19:12] fadimounir opened #9277 "Support GVM helper lookup on CoreRT"
GVM lookups on CoreRT are performed using the following steps:
1) Load 'thisPtr' on stack
2) Load runtime method handle of target method on stack
3) Call helper function to resolve the GVM target (result could be a fat function pointer)
4) Load arguments for the GVM call (possibly including a hidden instantiation argument)
5) Calli GVM target returned from helper in step 3

Here is a working proto

[2017-02-02 19:17] RussKeldorph commented on #8948
Closing per @ciplogic's last comment.

[2017-02-02 19:21] sivarv commented on #7894
The issue here is Jit-EE interface call `getFieldType()` is returning `CORINFO_TYPE_NATIVEINT` (instead of `CORINFO_TYPE_BYREF`) as the type of  field `ByReference<T>._value`.  As a result, when JIT struct promotes a var of `ByReference<T>`, it uses type int as the type of field of `_value`.  This leads to incorrect gc-reporting and surfaces as an assert in emitter.

[2017-02-02 19:26] danmosemsft commented on #9250
@tarekgh since I'm not sure you watch the coreclr repo area?

[2017-02-02 19:30] sivarv commented on #7894
Another related issue is that JIT-EE call getClassAttribs() on ByReference<T> struct is not returning CORINFO_FLG_CONTAINS_GC_PTR in the set of flags returned.

[2017-02-02 19:42] weshaggard commented on #7607
@AlexGhiondea I think the CI has been updated to consume the new CoreFx layouts which should be getting it the mscorlib facade we generate in corefx. It will become obvious if this doesn't work with the CI runs from @jkotas's PR https://github.com/dotnet/coreclr/pull/9278.

[2017-02-02 19:59] guhuro commented on #9220
Hey, I've been working on this. I'll go ahead and take it.

[2017-02-02 19:59] jkotas commented on #7894
The contract of `getClassAttribs()` that we agreed on is that `CORINFO_FLG_CONTAINS_STACK_PTR` will signal to the JIT that the struct may contain byrefs. `CORINFO_FLG_CONTAINS_GC_PTR` is only set for structs that do contain regular references.

There is comment about it here: https://github.com/dotnet/coreclr/blob/master/src/jit/importer.cpp#L1492

[2017-02-02 20:03] DrewScoggins commented on #9220
Assigning this to myself while Gustavo and I work out getting him in the .NET Foundation and other permission stuff.

[2017-02-02 20:22] vcsjones commented on #9250
@danmosemsft Should this have been opened in CoreFX even though the underlying code is in CoreCLR? (asking for future knowledge).

[2017-02-02 20:40] danmosemsft commented on #9250
@vcsjones good question. We've not been super consistent about that. If it's an API change, since that straddles both, certainly in CoreFX. If it's an implementation change in CoreCLR it gets opened in either and we're ok with that right now. We should look at both.

[2017-02-02 20:42] tarekgh commented on #9250
I'll take a look anyway. thanks

[2017-02-02 21:08] sivarv commented on #7894
Ok. JIT has one more assert here: https://github.com/dotnet/coreclr/blob/master/src/jit/lclvars.cpp#L1595
that too needs to fixed to account for `ByReference<T>`

After making VM side fix to correctly report field type, you might encounter the above assert.

[2017-02-02 21:22] kouvel commented on #7894
It looks like `getFieldType()` for TypedReference also returns ELEMENT_TYPE_I. Should that also be fixed?

[2017-02-02 21:58] adiaaida opened #9282 "Assertion failed '!op2->IsCnsIntOrI() || genTypeCanRepresentValue(type, op2->AsIntCon()->IconValue())"
After 378a73e, we are seeing this in autogenerated testing. Adding a GitHub test case for this.

[code]

[2017-02-02 22:06] adiaaida commented on #9282
/cc: @mikedn

[2017-02-02 22:15] parjong opened #9285 "[x86/Linux] Assert failure while printing unhandled exception message"
In x86/Linux, Core CLR shows the following assert failure while printing unhandled exception message:
[code]

[2017-02-02 22:28] briansull commented on #8921
The values of these differ between the two dumps.

[code]
It appears that we use thie value of this 'emitInitGCrefVars' to initialize the GC liveset into the Epilog
That is why they are consider live at the call site.

[2017-02-02 22:29] eerhardt opened #9287 "Add tests for ICustomMarshaler support"
Download and unzip:
[CustomMarshaler.zip](https://github.com/dotnet/coreclr/files/749101/CustomMarshaler.zip)

1. Install a "2.0" CLI - Here's the one I used https://dotnetcli.blob.core.windows.net/dotnet/Sdk/2.0.0-alpha-004631/dotnet-dev-win-x64.2.0.0-alpha-004631.zip
2. dotnet restore
3. dotnet run

[code]

[2017-02-02 22:44] parjong commented on #9285
\CC @seanshpark @wateret

[2017-02-02 23:02] parjong commented on #9272
@jkotas Is it possible to contorl calling convention on JIT Helpers? If not, I definitely agree with you. We should take the latter approach. If possible, we need to consider the former approach, too (IMO).

For the latter one, I would like to know whether it is possible to get the number for stack elements of JIT Helpers from EE side. As I know, it is possible for managed methods, but I'm not sur

[2017-02-02 23:04] halter73 opened #9288 "Cannot catch exceptions from reverse P/Invoke on Linux"
The following app will print "Handled exception from reverse P/Invoke" on Windows and then exit. On Linux it will crash with an unhandled exception. I tested this using Microsoft.NETCore.App 1.1 on both platforms. I did not test this on macOS or with other versions of the dotnet runtime.

[code]

Windows output:

[code]

Linux output:

[code]

We expect to be able to catch and handle these excepti

[2017-02-02 23:08] parjong commented on #9288
Seems to be related with #7651.

[2017-02-02 23:12] jkotas commented on #9272
The JIT and VM assumes the one managed calling convention for everything: JIT helpers, FCalls, regular JITed managed methods. There is no way to control it.

You should be able to get it from the last column of https://github.com/dotnet/coreclr/blob/master/src/inc/jithelpers.h#L31. (I do not think that the last column is compiled in today - you would need to compile it in.)

But I am still wonderi

[2017-02-02 23:21] jkotas commented on #7894
The code to compensate for this has always been in the JIT. It is not needed to make things work, but it is not pretty that it is done differently for each type.

[2017-02-02 23:23] wtgodbe opened #9289 "CoreMangLib/cti/system/globalization/datetimeformatinfo/DateTimeFormatInfoGetMonthName and CoreMangLib/cti/system/globalization/datetimeformatinfo/DateTimeFormatInfoGetAbbreviatedMonthName tests fail on Fedora23 and Ubuntu16.04"
We haven't caught this before because we don't run tests for these distros in the CI, but they're failing in Helix - https://mc.dot.net/#/product/netcore/master/source/official~2Fcoreclr~2Fmaster~2F/type/test~2Ffunctional~2Fcli~2F/build/20170202.02/workItem/CoreMangLib.XUnitWrapper

Error messages look like the following:
`expected[i] = janv., actual = Janv.\nERROR!!!`

[2017-02-02 23:24] wtgodbe commented on #9289
CC @gkhanna79

[2017-02-02 23:29] parjong commented on #9272
As I understand, libunwind-based unwinder takes care of this (``ESPIncrOnReturn`` in
eetwain.cpp seems to be related) for managed methods.

I'm not sure about libunwind itself. The execution trace suggests that libunwind restores virtual registers as the state before call (not after call), but I'm not sure.

[2017-02-02 23:55] halter73 commented on #5061
In the case of Kestrel, we query DateTimeOffset.UtcNow no more than [once a second](https://github.com/aspnet/KestrelHttpServer/blob/rel/1.1.0/src/Microsoft.AspNetCore.Server.Kestrel/Internal/Http/DateHeaderValueManager.cs#L46) no matter the request frequency since we don't care too much about precision.

[2017-02-03 00:09] qmfrederik commented on #8927
@janvorli Thanks for the explanation!

Here's the disass of the function which should update the value of `x14`:

[code]

where `x16`  appears to point to `JIT_CheckedWriteBarrier`

[code]

Once [`JIT_CheckedWriteBarrier`](https://github.com/dotnet/coreclr/blob/master/src/vm/arm64/asmhelpers.S#L261) is entered, `x14` has a value of `0x0000ffffffffc410`, which exceeds `g_highest_address`, so the `N

[2017-02-03 00:22] parjong commented on #9265
63607d8e657 (with alignment workaround) shows the following result (
[xUnit report](https://github.com/dotnet/coreclr/files/749285/coreclrtests.txt))
:
[code]

#9121 seems to resolve several GC and JIT related failures.

[2017-02-03 00:22] mellinoe opened #9292 ".NET Core ILAsm does not correctly sign binaries"
I'm not sure what exactly the root problem is here, but I am seeing some bad / strange behavior when attempting to use the .NET Core version of ilasm from the latest nuget packages. We use the "full framework ILAsm" in our Windows build in corefx in order to build the System.Runtime.CompilerServices.Unsafe library, built from [an IL file](https://github.com/dotnet/corefx/blob/master/src/System.Run

[2017-02-03 00:23] mellinoe commented on #9292
@jkotas @gkhanna79 I'm not sure who is most familiar with this, could you help find the right person?

[2017-02-03 00:27] gkhanna79 commented on #9292
CC @RussKeldorph

[2017-02-03 00:28] JonHanna commented on #1877
*Vector* is a rather overloaded term, making `IsVector` a possible source of confusion, especially since when the difference between an SZ-Array and any other array, including single-rank non-zero based, comes up, the term used tends to be "SZArray".

Might I suggest `public bool IsSZArray => IsSzArray;` as a simple implementation that builds on the existing code without breaking any strange custo

[2017-02-03 00:29] gkhanna79 commented on #9289
CC @AlexGhiondea

[2017-02-03 00:30] JonHanna commented on #1877
*Vector* has a few different existing uses as a term, and SZ-Array is commonly enough used in the .NET world. Could we just expose the existing member? Failing that, what about `public bool IsSZArray => IsSzArray;`?

[2017-02-03 00:30] RussKeldorph commented on #9292
@adiaaida Could you find the critical difference?

[2017-02-03 00:32] qmfrederik commented on #8927
Never mind, my bad. The value of x15 is written to the memory at address x14, so that appears to be correct.

[2017-02-03 02:11] mikedn commented on #9282
I'll take a look, you can assign this to me.

[2017-02-03 05:22] hadi77ir opened #9301 "Using parts of Reference Source in CoreCLR"
As both are Microsoft's properties, is it possible (I mean in legal terms) to use parts of code from Reference Source in CoreCLR?

[2017-02-03 05:36] benaadams commented on #9301
There is also the MIT licenced version of reference source on GitHub which I imagine its ok to use https://github.com/Microsoft/referencesource

[2017-02-03 06:00] hadi77ir commented on #9301
@benaadams But that has many parts removed and has less code than [referencesource.microsoft.com](https://referencesource.microsoft.com/). By "Reference Source", I mean this web site and the package available in the download section.
Can we port System.Windows.Forms to .NET Core (CoreCLR)? Is it legal?

[2017-02-03 06:36] AlexGhiondea commented on #9289
@tarekgh could you take a look? Is this a test issue?

[2017-02-03 06:42] mikedn commented on #9282
It looks like somewhere along the way `0xffffffffbdc937ef` becomes `0xbdc937ef`:
[code]
We could probably relax/remove the assert as this doesn't cause bad code generation. However, this transform is IMO wrong and risky and should be fixed. I'll have to figure out if it's feasible...

[2017-02-03 07:30] parjong commented on #9285
#9299 resolves this issue.

[2017-02-03 07:30] #9285 closed

[2017-02-03 09:12] hqueue commented on #9273
I agree with @wateret on building rootfs in the same way developers do
and also agree using docker for CI is a good idea when considering maintanence.
I think this is related to core-setup issue https://github.com/dotnet/core-setup/issues/1400 and we should considering CI and docker together if we decided to use docker for CI.

For coreclr, we can make use of docker image used for pipilebuild as s

[2017-02-03 11:02] hqueue commented on #9273
@gkhanna79 I think using existing docker imaage can be a candidate. And I hope we can configure docker image as needed by making PR here, for example installing new packages used by new feature in CI.
AFAIK to enable configuration, Dockerfile for above images may need to be maintained here too.
What do you think of it? or I would like to hear any other options you have in mind.

[2017-02-03 15:04] mattwarren opened #9306 "Additional BotR Chapters"
Is it possible for the additional BotR chapters to be made available?

There are a few additional docs that are [tantalising mentioned in ceemain.cpp](https://github.com/dotnet/coreclr/blob/1d03b8fd8d650bd215623a7b035e68db96697e59/src/vm/ceemain.cpp#L40-L127), only some of which appear to match up with what's already available on GitHub. Although I guess that several don't apply to CoreCLR, 'Click

[2017-02-03 15:14] mattwarren opened #9308 "Document to explain what each FEATURE_XXXX is"
In [clr.defines.targets](https://github.com/dotnet/coreclr/blob/master/clr.defines.targets) there are over 100 `FEATURE_XXXX` switches that are in operation within the CoreCLR source (which is [less than there once was](https://github.com/dotnet/coreclr/issues/8857)).

Is there a document available that explains what they all are, when they're useful (or not)? If there isn't, is it worth the effor

[2017-02-03 15:35] jkotas commented on #9306
@richlander and I went over all the Botr documents at the time and get all the good ones published as markdown. The rest is either:
- Not applicable to CoreCLR: ClickOnce, Fusion, Cryptography - it has been 100% refactored and moved to corefx, ...
- Not written very well

[2017-02-03 15:39] jkotas commented on #9306
Here is an excerpt from the `ManagedEH/Design.doc` that is example of the no written very well one. As you can see, it is better to just look at the code than to read 20 pages like this.

[2017-02-03 15:47] jkotas commented on #9306
I think the fix for this should be to update the comment in ceemain.cpp to refer to the docs published on github only.

[2017-02-03 15:57] mattwarren commented on #9306
Ah shame, I was looking forward to reading 'SystemStringDesign.doc', it would've helped me when I wrote [Strings and the CLR - a Special Relationship](http://mattwarren.org/2016/05/31/Strings-and-the-CLR-a-Special-Relationship/). But I completely agree with your reasoning, it's not worth publishing docs that don't help anyone!

Makes sense, is my table (above) correct or have I missed some links o

[2017-02-03 16:04] mattwarren opened #9309 "Additional terms for the Glossary?"
Here's 2 more terms I've come across that I don't really understand:

- [Zap](https://github.com/dotnet/coreclr/tree/master/src/zap), I assume it's short for 'zapping' but I still don't get it, is it linked to NGen?
- [BBT](https://github.com/dotnet/coreclr/blob/53e62b4e3ca7792b1c4966823832de56f88db0b6/src/vm/ceemain.cpp#L653-L654)

Are they worth adding?

Also there are some others listed in [thi

[2017-02-03 16:24] tarekgh commented on #9289
yes I am going to take a look. thanks.

[2017-02-03 18:02] jkotas commented on #9309
ZAP = original codename for NGen

BBT = Microsoft internal early version of C/C++ PGO. See https://www.microsoft.com/windows/cse/bit_projects.mspx.

[2017-02-03 18:12] tmds commented on #8474
@mikem8361 I did not get to it this week. Next week for sure. I will build it myself (for Debian). Sorry to keep you waiting.

[2017-02-03 19:24] gkhanna79 commented on #9273
I would suggest that you should experiment using the above Docker images for bringing up CI in core-Setup since CoreCLR already has it. Once that is confirmed to work, you can attempt to revamp CorECLR and CoreFX CI.

This is an interesting question. My current understanding is that our central Docker images (which I mentioned above) are indeed maintained as DockerFiles in a repo but everytime we

[2017-02-03 19:36] guhuro commented on #9220
You can see the pull request here https://github.com/dotnet/coreclr/pull/9293

[2017-02-03 19:38] litian2025 opened #9311 "Use pminsd/pminsb/pminuw/pminud for Min SIMD intrinsic on SSE3_4 and above targets"
Currently RyuJIT supports Min SIMD intrinsic on float, double, unsigned byte and short, rest of the types are not supported:

        case SIMDIntrinsicMin:
            if (baseType == TYP_FLOAT)
            {
                result = INS_minps;
            }
            else if (baseType == TYP_DOUBLE)
            {
                result = INS_minpd;
            }
            else if (baseType =

[2017-02-03 19:45] litian2025 opened #9312 "Use pmaxsd/pmaxsb/pmaxuw/pmaxud for Max intrinsic on SSE3_4 and above targets"
Currently RyuJIT supports Max SIMD intrinsic on float, double, unsigned byte, rest of the types are not supported:

        case SIMDIntrinsicMax:
            if (baseType == TYP_FLOAT)
            {
                result = INS_maxps;
            }
            else if (baseType == TYP_DOUBLE)
            {
                result = INS_maxpd;
            }
            else if (baseType == TYP_UBYT

[2017-02-03 19:48] litian2025 commented on #9312
@sivarv PTAL

[2017-02-03 19:48] litian2025 commented on #9311
@sivarv PTAL

[2017-02-03 19:57] karelz commented on #9309
[Glossary](https://github.com/dotnet/coreclr/blob/master/Documentation/project-docs/glossary.md) updated with the above info (+PGO, POGO added) see https://github.com/dotnet/coreclr/commit/f0e57dc218055f65e678e78a286fff6976758a55.

[2017-02-03 19:59] karelz commented on #9309
@mattwarren which of the "old" ones would you like to add?

[2017-02-03 20:07] AndyAyersMS commented on #1166
For the sealed default example above some extra magic is needed that might not make it into the first set of devirtualization changes I'm working up in #9230. In those changes devirtualization happens when the IL is first imported by the jit, so anything the jit learns via subsequent optimization (inlining say) can't be incorporated.

The fix for this is to re-evaluate virtual calls whose `this` i

[2017-02-03 20:08] wtgodbe opened #9314 "Re-enable JIT BenchmarksGame tests in Helix"
Once CoreCLR perf testing moves to a Core-based solution (instead of Desktop), and moves from netstandard1.4 to netcoreapp, we can re-enable the regexdna, revcomp, and k-nucleotides tests in Helix.

[2017-02-03 20:20] wtgodbe commented on #9289
@tarekgh once this is fixed, please re-enable these tests in Helix by undoing the following change: https://github.com/dotnet/coreclr/pull/9315/files#diff-b0896e19988c929c03c28da41dd827beR428

[2017-02-03 20:23] wtgodbe commented on #9314
To do so, simply undo the following change: https://github.com/dotnet/coreclr/pull/9315/files#diff-b0896e19988c929c03c28da41dd827beR408

[2017-02-03 20:28] mattwarren commented on #9309
Maybe just the following 2:

- MD (Metadata?)
- IPC/IPCMan (Inter-process communication?)

[2017-02-03 20:29] mattwarren commented on #9309
@jkotas thanks for the info, it's always good to learn new things!

[2017-02-03 20:32] hmemcpy commented on #9309
What about Dkm? I heard it was the initials of those who worked on the managed debugger API.

[2017-02-03 20:33] karelz commented on #9309
MD & IPC added: https://github.com/dotnet/coreclr/commit/d00235f94acb7a03d6b8a37604c1f540430fdd03

I didn't add IPCMan nor Dkm - where doers it show?

[2017-02-03 20:37] hmemcpy commented on #9309
Dkm is the prefix that is used on most types in the managed debugging API (["Concord"](https://github.com/Microsoft/ConcordExtensibilitySamples/wiki/CLR-Expression-Evaluators), is it?). But I just realized it doesn't really fit with the CLR glossary, so nevermind  :)

[2017-02-03 20:39] mattwarren commented on #9309
ipcman is just the folder name under i,e. [src/ipcman](https://github.com/dotnet/coreclr/tree/master/src/ipcman), so yeah I agree just using ipc is better

[2017-02-03 20:43] mattwarren commented on #9309
oh, was my educated guess for 'MD' correct, that was lucky!

(I just had a quick look at the code under [/src/md/](https://github.com/dotnet/coreclr/tree/master/src/md))

[2017-02-03 21:51] shrah commented on #9287
https://github.com/dotnet/corefx/pull/15769 should fix this issue.

[2017-02-03 21:58] jkotas commented on #9287
We should add a test for this to CoreCLR before closing.

[2017-02-03 22:37] CarolEidt opened #9317 "Add support for Converts, Widen and Narrow"
In support of https://github.com/dotnet/corefx/issues/1605, RyuJIT should support the new instrinsics as proposed.

[2017-02-03 22:41] qmfrederik commented on #8927
@janvorli

I think I've been able to dump two copies of the ParamsArray, one on which the initializer runs and one which is in scope for the FormatHelper function (since it's a struct, it is passed by value, right)?

[code]

It looks like arg0, arg1 and arg2 are copied over correctly, but args is not.

[2017-02-03 23:02] karelz commented on #9309
Yep, MD directory is MetaData (I was "happy owner" of that code for quite a few years :))

[2017-02-03 23:15] karelz commented on #9309
Can we close the issue or do you guys have more terms you would like to add now?

[2017-02-03 23:40] danmosemsft opened #9321 "Remove CAS from CoreLib"
There is lots of CAS-only code -- CodeAccessPermission and related types and code that uses them. Ideally it would all be removed. I'm guessing one thing to take care of is making sure we continue to do the same parameter validation/throw the same exceptions. That has been a gotcha for IO in the past.

Removing remaining FEATURE_CAS_POLICY on the native side is already tracked by https://github.co

[2017-02-03 23:42] danmosemsft commented on #9321
I'm already deleting most of the CAS types/members that aren't actually referenced. (There are a few that are rooted by model.xml that I'm not)

[2017-02-03 23:44] gkhanna79 commented on #9030
@gokarnm Fix is in PR at https://github.com/dotnet/coreclr/pull/9324

[2017-02-03 23:45] gkhanna79 commented on #9030
Fix PR for 1.1.0 is at https://github.com/dotnet/coreclr/pull/9320. Confirmed that with this change, it works as expected.

[2017-02-03 23:51] benaadams commented on #9321
Dotnet just keeps getting better and better 😄

[2017-02-04 00:15] gokarnm commented on #9030
Thanks @gkhanna79 !! @davjohna and me will test the fix and get back to you.

We develop on .NET Core 1.0 LTS (1.0.3) , I would really appreciate if you could share the commits/PRs for these fixes on 1.1.0 if possible. I would like to back port these other fixes related to dynamically emitted assemblies to latest CoreCLR 1.0.x and create a local build.

[2017-02-04 00:40] fiigii commented on #8945
Good purpose, devirtualization is very important for dynamic dispatch programming languages. However, devirtualization is not always related with PGO. As far as I know, there are two other solutions to it, which do not requires changing the architecture of CoreCLR & RyuJIT.
1. Static class hierarchy analysis:
    This static analysis can execute fast enough to be adopted in a real-world compiler (

[2017-02-04 01:17] AndyAyersMS commented on #8945
The challenge we face using any of these analyses is that they potentially become invalid once new classes are loaded. In general the optimizations they enable are speculative. Taking advantage of the information they provide would require work, possibly quite extensive work, in both JIT and VM.

Also note that there are important differences between Java/JVM and C#/CLR that can make it tricky to

[2017-02-04 02:04] #9289 closed

[2017-02-04 02:07] 303248153 commented on #9053
Thanks for your response again.
I put my question into a picture, please check this
![alloccontext](https://cloud.githubusercontent.com/assets/16222094/22614716/10746054-eac1-11e6-9f94-533d79627716.jpg)
There 2 questions
- What's happend after thread 0's allocation context used all space (allocation quantum exhausted)?
- If it could become State C, why can we say this heap is crawlable?

And one m

[2017-02-04 02:11] mohamedmansour commented on #7535
Any update on this? How do we suppress these messages or allow it to find the dll?

[2017-02-04 02:27] #9250 closed

[2017-02-04 02:29] tarekgh commented on #9250
@vcsjones just to let you know the fix I didn't will make Windows don't throw. the exception throwing was because of the multi-appdomain constraints in the full framework. this condition doesn't exist in coreclr so we shouldn't throw at all.

thanks for bringing this issue.

[2017-02-04 05:42] danmosemsft commented on #9321
I want to be clear this concerns removing the implementations in corelib. We brought back (mostly dummy) CAS types in CoreFX to make existing code work, and those are staying.

[2017-02-04 06:19] #9030 closed

[2017-02-04 06:26] jkotas commented on #8937
@wtgodbe @ellismg The CoreFX version is not getting updated in CoreCLR anymore - the CoreCLR tests on my local box are running against January 13 CoreFX. When are we going to get live CoreFX from CoreCLR again? (I need to get more recent CoreFX to fix https://github.com/dotnet/coreclr/pull/9278.)

[2017-02-04 06:27] ygc369 opened #9332 "What's the meaning of local GC?"
I've found the Local GC project under CoreCLR repo, but what does it mean? I can't find any document to describe it.

[2017-02-04 06:43] jkotas commented on #9332
The Local GC project description says it all: "Local GC" effort, which is aiming to decouple the GC from the rest of the runtime. Here is a bit longer description from @Maoni0: https://github.com/dotnet/coreclr/projectshttps://github.com/dotnet/coreclr/pull/8199#issuecomment-262669283

[2017-02-04 06:44] #9332 closed

[2017-02-04 06:49] danmosemsft opened #9333 "Cleanup __Error vs Win32Marshal duplication"
In CoreCLR  __Error is duplicate of the new refactored Win32Marshal.GetExceptionForWin32Error that was copied from corefx. The mapping for DriveNotFoundException was removed from Win32Marshal.GetExceptionForWin32Error as part of this refactoring. This duplication and inconsistency should be fixed.

https://github.com/dotnet/coreclr/pull/9269#pullrequestreview-19763413

[2017-02-04 08:18] KarenHuang2016 opened #9334 "Run test failed due to error : The wrappers must be compiled and placed at D:\CoreCLR\src\tests\\..\bin\tests\Windows_NT.x64.Release\\tests\\*\ before they can be run, Do a clean Test Run"
Environment:
OS: Windows 2012 Server R2
VS: VS2015

Reproduce steps:
1. git clone https://github.com/dotnet/coreclr D:\CoreCLR\src
2. Browse to D:\CoreCLR\src
3. build x64 release -Rebuild -- /clp:ShowCommandLine
4. tests\runtest.cmd x64 release D:\CoreCLR\src\bin\Product\Windows_NT.x64.release

Error message:
RUNTEST: CORE_ROOT is initially set to: "D:\CoreCLR\src\bin\Product\Windows_NT.x64.relea

[2017-02-04 21:32] danmosemsft commented on #9301
@richlander @karelz I am actually intersted to know this myself. I think it may need a scan of some sort.

[2017-02-05 01:08] #9089 closed

[2017-02-05 03:55] Maoni0 commented on #8268
The 2 big motivations for this project were

1) to allow for easier deployment. On desktop CLR giving folks a build with a new GC feature/fix is quite difficult, even though it should be easy as internal GC changes do not affect interfacing with other components. The easiest way I found was I had to goto the exact branch the customer was using, sync to the version of their clr.dll, do the changes

[2017-02-05 06:37] danmosemsft commented on #4651
@jamesqo let me know if you believe I missed anything.

[2017-02-05 06:37] #4651 closed

[2017-02-05 06:41] danmosemsft opened #9344 "Remove BCL rewriter"
After https://github.com/dotnet/coreclr/pull/9269 it should not be necessary anymore.

@jkotas is there anything necessary to take care of beyond just removing it from the build?

[2017-02-05 06:44] danmosemsft opened #9345 "Remove mscorlib references from CoreCLR"
After https://github.com/dotnet/coreclr/pull/9278 goes in, the term "mscorlib" is not relevant to CoreCLR.

We can do some reasonable cleanup of this. I don't think it is worthwhile to remove it from every define, comment, etc but certainly from file and folder names and do a futher grep to see if there is other worthwhile instances.

[2017-02-05 07:03] jkotas commented on #9344
Just removing from the build should be enough (together with model.xml, etc.)

[2017-02-05 13:01] qmfrederik commented on #8927
At > 200 comments, this thread becomes a bit long to parse so here's a write-up:

# Summary

## Work done so far
- Found out there's an issue with llvm3.8 and earlier where some of the `__sync_` methods hang on certain ARM64 architectures. [LLVM 25526](https://llvm.org/bugs/show_bug.cgi?id=25526).
  * Workaround: Compile on Ubuntu zesty, which ships with llvm-3.9,
  * Workaround: use the `pal_sync

[2017-02-05 14:34] qmfrederik commented on #8927
@janvorli By setting the breakpoint in `Format` after the call to `ParamsArray..ctor`, I was able to step through the code until the null reference error occurs.

I noticed a lot of the code was in `src/vm/arm64/*.S` files and they appeared to be out of sync with their `.asm`  equivalents.

I tried to port some of the fixes applied to the `.asm` files to the `.S` files and the Hello, World program

[2017-02-05 15:14] jamesqo commented on #4651
@danmosemsft Great to see that PR merged! While there is a lot less cruft in corelib now, I still see many types that were not being removed by the rewriter in the first place, but don't look like they belong in coreclr, e.g. https://github.com/dotnet/coreclr/tree/master/src/mscorlib/src/System/Security/Util. Maybe we should keep this open for such types.

[2017-02-05 15:48] danmosemsft commented on #4651
That's part of CAS, which is still there because it's used -- https://github.com/dotnet/coreclr/issues/9321. As I noted in that issue, unfortunately it's not so easy to remove as even in full trust it effectively performs some of the parameter checks, or did so historically. @JeremyKuhne may have more to say about that.

Seperate to that I have a suspicion that the rewriter was not deleting all th

[2017-02-05 16:12] AndyAyersMS opened #9349 "Inlining and implicit tail calls"
Recognition of implicit tail calls (calls in tail position w/o the `tail` prefix) is disabled in when importing inlinee IL. So for example in the program below the generated code for `A` contains a normal call to `C`.
[code]
Such cases arise fairly frequently in real code, for instance in overload delegation chains.

It should be ok to flag calls as implicit tail calls within the inlinee, if the i

[2017-02-05 16:46] jkotas commented on #9321
I am working on round of cleanup for this: https://github.com/jkotas/coreclr/tree/security-cleanup3

[2017-02-05 16:48] benaadams commented on #9321
@danmosemsft I know; it just means Execution context etc are definitely staying slim 😄

[2017-02-05 17:25] richlander commented on #9301
You can use the code at https://github.com/Microsoft/referencesource to augment .NET Core. You can see that the licenses are the same, so they are by definition compatible. The license at https://referencesource.microsoft.com/ is different and not compatible with MIT, so cannot be used to augment .NET Core.

When we created the MIT-licensed referencesource repository, our goal was to make code ava

[2017-02-05 19:59] jkotas opened #9353 "src\mscorlib\mscorlib.shared.sources.props is messed up in git"
Repro (on Windows):

[code]

Actual result:
`git status` reports mscorlib.shared.sources.props as modified, but there is no actual diff. It is impossible to get to clean state with nothing checked out.

Expected result:
`git status` reports nothing modified

[2017-02-05 20:01] jkotas commented on #9353
@danmosemsft It has something to do with changing the file to binary that was part of your change. I am not able to tell what you have done exactly to change it ... could you please take a look?

[2017-02-05 20:51] AndyAyersMS commented on #9349
Have a prototype over on my fork: https://github.com/AndyAyersMS/coreclr/tree/InlineImplicitTailCalls

It seems to work well enough, with one exception: if for some reason `A` ends up getting marked as never inline (as might happen say during crossgen if `A` looks like a univerally unprofitable inline) then the call from `A` to `B` is not considered an implicit tail call, and so (once `B` is inlin

[2017-02-05 20:58] JeremyKuhne commented on #4651
Those types were just a little more cumbersome to disentangle the pertinent functionality. It looks like @jkotas is in the process of doing so.

[2017-02-05 21:04] karelz commented on #9301
That makes sense. I think it answers the question. Closing.

[2017-02-05 21:04] #9301 closed

[2017-02-05 23:07] qmfrederik commented on #5043
@leemgs libunwind has a new maintainer now and they moved to GitHub: https://github.com/libunwind/libunwind. I think they are open to take PRs based off the Google fork of libunwind (which has a lot of arm-related changes, as you pointed out)

[2017-02-06 01:17] seanshpark opened #9357 "[x86/Linux] Unit test Interop FunctionPtrTest failes with SIGSEGV"
Interop.MarshalAPI.FunctionPointer.FunctionPtrTest.FunctionPtrTest fails with Segment fault.
Fail is when Native calls Managed and in returning.
[code]
`fcnptr()` is `__stdcall` so above code is generated as
[code]
With GDB, after and before `ESP` of `call   *%ecx` has same  value but as it is `__stdcall` it shouldn't be.
`fcnptr` is passed from Managed as
[code]
This code needs some investigation

[2017-02-06 01:17] seanshpark commented on #9357
CC @parjong, @wateret

[2017-02-06 01:42] jyoungyun commented on #9273
@gkhanna79 @dleeapho @MichaelSimons Where can I see the DockerFiles for the docker images what it is mensioned above? If we can access the DockerFiles, we can use it including Core-setup builds.

[2017-02-06 04:14] danmosemsft commented on #9353
I cannot repro this (on a clean clone)

Maybe time to copy and paste the content into a fresh file named "system.private.corelib.sources.props" (or right into the project itself) ..?

[2017-02-06 04:30] jkotas commented on #9353
Agree ... I will do it.

[2017-02-06 05:15] seanshpark commented on #9357
Function that was last called(or jumped) and returned to `CheckFcnPtr` was `UMThunkStub`.
Current implementation is just fixed "ret" and without any callee pop.
With `UMThunkMarshInfo__m_cbActualArgSize` value I could do some test with this code.
[code]

With this patch `CheckFcnPtr` was OK when returned from Managed code but method that return the value was not correct.
[code]

This method JITted

[2017-02-06 06:03] seanshpark commented on #9357
@jkotas , @janvorli , In this case, Managed method to reverse p-invoke has `long` parameter, which is 64 bit and I think it should be passed through the stack. If I'm not correct please let me know. For this case is there any information to handle for this case with `UMEntryThunk` in `UMThunkStub`?

[2017-02-06 06:28] hseok-oh opened #9362 "[ARM32/Linux] Cross-architecture debug/checked build error with clang 3.9 - casting calling convention"
Build with #8866, #9262

`./build.sh checked cross arm crosscomponent clang3.9`

result:

[code]
`Module::EncodeModuleHelper` uses `cdecl` calling convention in x86 linux (maybe stdcall in x86 windows), but `ENCODEMODULE_CALLBACK` is defined as `stdcall`.

It needs to fix definition of `ENCODEMODULE_CALLBACK` to `cdecl` in linux or `Module::EncodeModuleHelper` to `stdcall`.

[2017-02-06 07:19] seanshpark commented on #9357
CC @Dmitri-Botcharnikov , @lucenticus

[2017-02-06 07:47] tmds commented on #9208
ping @janvorli @jkotas @gkhanna79 @ellismg @Petermarcu @ericstj

[2017-02-06 09:52] 303248153 commented on #9053
Today I used lldb to trace coreclr process, and found the previous question maybe stupid :(
With workstation gc the ephemeral segment size is 0x10000000 and the allocation quantum is 8K so that can be about 32768 threads use this segment, that mean State A is almost impossible.
And with server gc the ephemeral segment size is 0x100000000 (4G), just so big.

And ephemeral_heap_segment.next is alway

[2017-02-06 10:00] mattwarren commented on #9053
@303248153 On a related note, have you seen the [GCSample](https://github.com/dotnet/coreclr/blob/master/src/gc/sample/GCSample.cpp) that's available?

It might give you another way of examining the GC as it allows you to access it outside of the CLR, from the comments in the file:

//
//  * How to initialize GC without the rest of CoreCLR
//  * How to create a type layout information in format th

[2017-02-06 11:26] janvorli commented on #9208
It seems that it would make sense to have the C library (glibc, musl, possibly others in the future) in the RID graph, since binaries built targetting one of these libraries cannot be used on systems with the others. Originally, I was thinking that the glibc would be "implicit" (so we would have linux-x64 - meaning linux-glibc-x64 -  and linux-musl-x64 as children of linux). But now seeing the lar

[2017-02-06 11:28] wateret commented on #9273
@hqueue I agree. I'll start with the central docker images mentioned.

[2017-02-06 12:00] janvorli commented on #8927
@qmfrederik great job spotting and fixing the issues in the asm helpers. This is a great milestone!

[2017-02-06 12:34] tomkuijsten commented on #9168
Any update on this @safern ? We're facing the same issue.

[2017-02-06 13:42] tmds commented on #9208
Adding `unix-glibc`, `linux-glibc` to the picture:

[code]

I read this more as a workaround and not as a feature request. It is not clear for me when someone would target `unix-glibc`.

[2017-02-06 13:47] janvorli commented on #9208
@tmds I meant it for FreeBSD, NetBSD and other non-Linux flavors.

[2017-02-06 14:05] am11 commented on #9208
@tmds, it was supposed to be `linux-glibc` (`unix` was a typo). From RID inheritance point of view, it needs some work (reason I am supporting this feature request). However, for our current workaround, given a typical RID structure: `Platform ; Version ; Architecture`, we have simply appended `Platform` with 'C' lib to form `Platform+libcName ; Version ; Architecture` (and more generally, just  `

[2017-02-06 14:08] tmds commented on #9208
That's how I read it :)

e.g. freebsd-libc, netbsd-libc, osx-libc? (libc refers to the BSD c-library)
like this:

[code]

[2017-02-06 14:28] janvorli commented on #9288
@halter73 this is by design in CoreCLR and we are going to make it behave the same way on Windows too (see #8459). For some details, please see https://github.com/dotnet/coreclr/pull/7652#issuecomment-254983802.

[2017-02-06 14:31] qmfrederik commented on #8927
@janvorli Thanks for your patience and assistance as well, couldn't have done it without!

So, this leaves me thinking "what's next". In the end, we have a fairly large .NET Core application that we'd like to get running on ARM64 and we're not there yet :)

Things I can think of as a next step:
* Getting exception handling to work (the 2 PAL tests which are failing due to ThrowExceptionFromContext

[2017-02-06 14:47] janvorli commented on #8927
@qmfrederik I agree that we should close this issue as the initial phase of the bringup is complete. Before moving to coreclr tests, we need to make the exception handling work.
We need to make sure software exception handling works first, since if that doesn't work, the hardware exception handling would not work either. You can start with a very simple test like this:
[code]
If that works, we can

[2017-02-06 14:53] jkotas commented on #9353
Fixed by https://github.com/dotnet/coreclr/pull/9355

[2017-02-06 14:53] #9353 closed

[2017-02-06 14:59] mne91 commented on #9168
I have the same issue...

[2017-02-06 15:07] #9158 closed

[2017-02-06 15:07] #9167 closed

[2017-02-06 15:14] jkotas commented on #9321
The work remaining here is to cleanup references to types in https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/CleanupToDoList.cs and delete this file.

[2017-02-06 15:24] janvorli commented on #9208
I was really thinking that the libc would be only in the parent type (unix-libc). I think that e.g. FreeBSD or NetBSD etc. are always based on libc and there are no alternative forks using different libraries. So including the libc in the RID name for FreeBSD is redundant. But I am sure there are other Unix versions that we may support in the future and that use different C library.

[2017-02-06 15:25] qmfrederik opened #9370 "Linux ARM64: Exception Handling"
This issue track the process to get software and hardware exception handling working on ARM64 Linux.

Background: as part of #8927 we enabled building CoreCLR on Linux and got "Hello World" to run.

Lessons learned were that we need:
- llvm 3.9 to compile for arm64
- compile lldb from source (at least on Ubuntu Zesty) to debug

Current focus is on Ubuntu 17.04 (Zesty), although we may try other Li

[2017-02-06 15:27] qmfrederik commented on #8927
@janvorli Thx! I'll give it a try and get back to you. I've opened #9370 to track the exception handling progress.

[2017-02-06 15:27] #8927 closed

[2017-02-06 16:07] tmds commented on #9208
Like this?

[code]

Does a `unix-libc-x64` make sense? I.e. can native binaries be shared between freebsd, netbsd, etc?

[2017-02-06 16:36] Petermarcu commented on #9208
I think we need to pick a default that people get when they say "linux-x64". There is a tension between what perfectly represents the possibilities and a simple user experience when targeting linux. I want to have "linux-x64" mean something that runs on most linux's and we can document that if people want to run on a linux that isn't glibc, they can specify a more explicit rid.

So, I think we sho

[2017-02-06 16:45] janvorli commented on #9208
@tmds yes, that's what I meant. As for the unix-libc-x64, I really don't know if the binaries would be shareable. It really depends on the platforms. They may possibly use different executable format.

[2017-02-06 17:45] Maoni0 commented on #9053
Debugging through the code is the best way of understand what the code does. Also I would encourage you to take a look at the GC [BotR chapter](https://github.com/dotnet/coreclr/blob/master/Documentation/botr/garbage-collection.md) which answers many of your questions. For example:

for allocation contexts:

_Keeping the heap crawlable: The allocator makes sure to make a free object out of left ov

[2017-02-06 18:04] jcouv commented on #9167
I didn't follow how https://github.com/dotnet/corefx/pull/15600 fixed this. That PR only has test changes. Was the problem resolved earlier and the new tests just verify it?

[2017-02-06 18:06] kouvel commented on #9167
Yes these are just tests for the functional fix in PR dotnet/coreclr#9186

[2017-02-06 19:09] tmds commented on #9208
@Petermarcu does that mean, something like this?
(`linux-glib-x64, linux-x64` become `linux-x64, linux-base-x64` respectively)

[code]

[2017-02-06 19:14] tannergooding opened #9373 "[Perf] Math functions are significantly slower on Ubuntu"
The general performance of the `System.Math` and `System.MathF` functions on Ubuntu are pretty bad as compared to Windows.

I don't have exact numbers for MacOS right now, but last time I ran numbers they were consistent with the Windows performance (https://github.com/dotnet/coreclr/pull/4847#issuecomment-220888873 -- note that those numbers of just for the double precision functions).

# Perf Nu

[2017-02-06 19:15] tannergooding commented on #9373
FYI. @AndyAyersMS, since you were the last person I discussed this with (almost a year ago).

[2017-02-06 19:18] Petermarcu commented on #9208
I hadn't thought of adding linux-x64 as a child of linux-glibc but that may be an interesting way to do it. This is more of what I was thinking where glibc was basically implied in the branch of the tree that wasn't specific to non-glibc families. Do you see pro's/con's of either approach?

[code]

[2017-02-06 19:19] RussKeldorph commented on #5664
Possibly another https://ci.dot.net/job/dotnet_coreclr/job/release_1.1.0/job/x64_release_windows_nt_pri1_prtest/199/testReport/JIT/_jit64_opt_cse_VolatileTest_op_mod_VolatileTest_op_mod_/_jit64_opt_cse_VolatileTest_op_mod_VolatileTest_op_mod_cmd/

[2017-02-06 19:27] BruceForstall commented on #7862
Fixed with #8644

[2017-02-06 19:27] #7862 closed

[2017-02-06 19:33] tmds commented on #9208
No cons, pro is consistency.

What do you think about using the same naming scheme for all branches and introduce a new RID for portable linux, e.g. `linux-portable-x64`?

[code]

[2017-02-06 20:28] RussKeldorph commented on #5664
@kouvel @adityamandaleeka Do we have dumps uploaded on Windows yet, and should we expect this failure to trigger one?

[2017-02-06 20:28] RussKeldorph commented on #5664
@wtgodbe Same question.

[2017-02-06 20:34] BruceForstall opened #9374 "RyuJIT/x86 SIMD: generate better code for LONG get[i] intrinsic for constant 'i'"
Currently, we always load the index into a temp register.

[2017-02-06 21:01] DemiMarie commented on #9288
Does that mean that one should wrap every callback in (pseudo-C#)

[code]

[2017-02-06 21:02] DemiMarie commented on #9288
@halter73 note that libuv is likely in an inconsistent state even on Windows – as a C library it is not designed to handle this scenario.

[2017-02-06 21:06] DemiMarie commented on #9110
@janvorli One solution is to use an alternate signal stack.

[2017-02-06 21:30] AndyAyersMS commented on #8459
@mjsabby It will cause differences, yes.

The proposal here is to make .Net Core behavior consistent across OS platforms, which means in this area .Net Core and .Net Desktop will diverge.

Under this proposal, for all .Net Core platforms including Windows, exceptions that cross a managed-native or native-managed boundary will cause the runtime to terminate with an unhandled exception.

cc @jkotas

[2017-02-06 21:31] janvorli commented on #9110
@DemiMarie I know, that's what I've described as a way to solve it in the issue #1504. But it would bring in an additional complexity for non-stack overflow SIGSEGV handling like switching the stack back to the original thread's stack, creating a helper stack frame so that the stack walking would work etc. I have not dismissed it completely yet, but I am still not convinced it is worth the little

[2017-02-06 21:34] jkotas commented on #8459
And also consistent with Mono runtime. There is a great write up on it here: http://www.mono-project.com/docs/advanced/pinvoke/#runtime-exception-propagation

[2017-02-06 21:34] lt72 commented on #445
We anticipate that .Net Core profiling API will work xplat by mid-Fall. I cannot offer a more precise deadline at this time though.

[2017-02-06 21:52] mellinoe commented on #9292
@adiaaida Is there anything I can do to help investigate this?

[2017-02-06 22:08] safern commented on #9168
Here is my update from what I was able to investigate after getting a repro.

The .NET Core Runtime for Ubuntu on ARM is a community developed project which is currently in beta and it uses some assemblies that aren't released yet, they are still in beta, such as: `System.ComponentModel.Primitives` which is the error that @maartenmensink is pointing out.

The error here is that the released .NET C

[2017-02-06 22:10] janvorli commented on #9288
@DemiMarie yes, the exceptions need to be caught at that boundary. What the code does when the exception is caught is specific to the application / library. It might be logging and then ignoring the exception, it might be logging and failing fast or converting the exception to some kind of status that's propagated to the managed code that called the native code that called the faulting managed cod

[2017-02-06 22:27] janvorli commented on #9373
@tannergooding I've noticed that you were testing the `-ffast-math` option. Did it make any difference?
Also, could you share your benchmark app with me? I would like to do some profiling in the PAL.

[2017-02-06 22:30] mne1991 commented on #9168
@safern , that workaround didn't work for me unfortunatelly, I get error in project.lock.json and the VS reverts it to its original situation.
Could you expect the estimated time when will the real solution come?

[2017-02-06 22:35] tannergooding commented on #9373
@janvorli, it did not. I attempted to use `-ffast-math` globally and in the specific PAL layer as well to no effect. I had initially thought this was due to clang not supporting some of the arguments `-ffast-math` normally sets in GCC (such as `-fexcess-precision=fast`), but that does not appear to be the case. The libm library seems to be the actual bottleneck here (although I am still unsure why

[2017-02-06 22:36] safern commented on #9168
@mne1991 what is the error you are getting in `project.lock.json`? Could you please provide me with your `project.json` to see if I can unblock you?

[2017-02-06 22:42] mne1991 commented on #9168
@safern Thank you for trying to help, actually what I am trying to is deploying the very basic template website, which visual studio 2015 generates when you create an ASP.Net Core Web Application. I just create that and try to public it to my RaspberyPi3, after publishing I copy everything published to my RPi3 (I tried to not change anything except the version in the file WebApplication1.runtime..

[2017-02-06 22:45] discostu105 commented on #445
@lt72 Are there any known shortcomings of the profiling api under linux known so far? Or is it just untested?

[2017-02-06 22:48] joperezr commented on #9168
@mne1991 depending on the specific version of VS that you are using the templates might be different, so it would really help diagnosing your issue if you can provide the project.json (not the project.lock.json which is the very long one) and ideally the version of the CLI you are using which you can get by typing `dotnet --version` on the command line. The error mentioned in this issue is caused

[2017-02-06 22:53] mne1991 commented on #9168
Here is my project.json file:

[code]

[2017-02-06 23:06] seanshpark commented on #9357
UMThunkStub seems that it should handle calling convention when returning to that of Managed method does. If the Managed method is declared as fastcall or stdcall, it should clean the stack - `FunctionPtrTest`. If cdecl then just return - `CharMinValue`.

[2017-02-06 23:09] janvorli commented on #9357
@seanshpark managed methods are always fastcall, so I am not sure I understand your comment.

[2017-02-06 23:20] safern commented on #9168
Hey @mne1991 so I was able to run the sample app with your `project.json` in Rpi. Thanks for providing me with this information, the dotnet version you provided is the one in your Rpi right?

So your project json should look like this:

[code]

Hope this unblocks you!

[2017-02-06 23:21] gkhanna79 commented on #8459
CC @rahku and @yizhang82

[2017-02-06 23:30] mne1991 commented on #9168
@safern Thank you for that, I tried just to paste what you gave me in my project.json and then published the project and copied it to my RPi3, and then tried to start, but I get version error, therefore I edited my WebApplication.runtime.json file to fit my .net core version and then retried, and I get other exceptions:

So here is the summery of what I have done:

[code]

[2017-02-06 23:38] seanshpark commented on #9357
I also am not sure but I think I got what is going on.
With the first test case, `CharMinValue`, that I used was using ECX and EDX to pass the parameter so did not use any stacks and there was no stack cleaning when returning. With the `FunctionPtrTest` as it needs to pass long, 64 bit parameter, it used two stack slots. And for this it needed to clean the stack. Thus UMThunkStub needs a fix.
So t

[2017-02-06 23:48] janvorli commented on #9373
@tannergooding thanks for the details. Looking e.g. at the disassembly of the log10 double code on Windows x64 and Linux x64, I can see that Windows one is implemented is asm, but the Linux one in C. So I guess that careful optimization of the code in hand written asm is just better than what the C compiler can generate.

[2017-02-06 23:51] noahfalk commented on #445
PR #7719 has been doing some known work for ELT that is Linux specific. PR #9298 is handling some rejit related issues with the ReadyToRun format that appears OS-agnostic. Other than those two known areas I think the rest is a lack of testing.

[2017-02-07 00:03] tannergooding commented on #9373
@janvorli, I think it would be great if we could improve the Linux performance somehow. The current implementation is dreadfully slow and makes it difficult to reliably use `System.Math` or `System.MathF` in certain scenarios (such as cross-platform graphics).

It would be even greater if we could standardize the various platforms on a standard implementation of libm. This would help minimize diff

[2017-02-07 00:28] janvorli commented on #9357
@seanshpark when the native code calls the fcnptr, it first calls a stub that jumps to the TheUMEntryPrestub. I wonder if the stub we generate is correct. Can you disassemble the stub, please?

[2017-02-07 00:31] seanshpark opened #9378 "[x86/Linux] Type.GetType() returns null"
Current `Type.GetType(string name)` returns null. `GC/Scenarios/ReflectObj` fail cause of this.

Test code
[code]

Expected:
`Type : TestApp.Program`

Actual:
`Type : (null)`

[2017-02-07 00:32] seanshpark commented on #9378
CC @parjong , @wateret

[2017-02-07 00:59] seanshpark commented on #9357
Stub called from fcnptr looks like this
[code]

[2017-02-07 01:15] BruceForstall commented on #8922
There's a fundamental difference between RyuJIT and legacy JIT w.r.t. handling of 'long', and this is probably just one of many issues you will run into in the RyuJIT/ARM32 port. In legacy, we have "register pairs", assigned by the register allocator. In RyuJIT, the long variables get "promoted", so we end up with both the "original" long as well as two variables representing the upper/lower halve

[2017-02-07 01:55] seanshpark commented on #9378
Reason: `GetThread()->StackWalkFrames()` faild to find caller (`cdata.pFoundMethod` is NULL) in `SystemDomain::GetCallersModule()`

[code]

Callstack:
[code]

[2017-02-07 01:57] AndyAyersMS commented on #1166
Latest update to #9230 can now devirtualize if the return expression is a subtype of the declared method type, so the sealed default calls are handled.

[2017-02-07 01:58] mjsabby commented on #8459
@AndyAyersMS Ok, I suppose that is a reasonable thing to expect. Can we setup a tag where there is difference in behavior between runtimes (coreclr on windows/xplat, vs desktop, etc.) -- I know the list might get big if we truly tag everything like many jit changes that may not be going into desktop, etc.

But having the truly esoteric ones will help people along the way. I'm also going to ask the

[2017-02-07 02:12] jkotas commented on #8459
Won't this tag be set on *everything* ? Changes and fixes that are going to .NET Core are not in other runtimes by design; and it is hard to predict when they will be. I guess you may be looking for a summary like this https://msdn.microsoft.com/en-us/library/dn600634(v=vs.110).aspx ... it is very hard to read such summaries.

[2017-02-07 02:24] mjsabby commented on #8459
I understand, but this is where we get to decide what we think will be impactful vs not. If you look at the issue @janvorli referenced, that is an asp.net dev running into this issue which will get addressed. Another example is networking in CoreFX. Today httpwebrequest is built on top of httpclient which has noticeable difference in behavior.

I think one such list could be places where we throw

[2017-02-07 02:34] jkotas commented on #8459
I agree that documentation is useful, but I believe it should be local to the affected API. E.g. The documentation for httpwebrequest should talk about the differences in behavior between different implementations.

[2017-02-07 02:35] jkotas commented on #8459
Back to the original issue:

We should be careful about how to roll this out. E.g. maybe introduce a quirk to make the transition easier.

[2017-02-07 02:48] jkotas commented on #9357
The Linux x86 version of UMThunkStub is hardwired to cdecl callconvention. It always uses `ret` to return: https://github.com/dotnet/coreclr/blob/master/src/vm/i386/umthunkstub.S#L110

The Windows version of the stub is dynamically generated and uses `ret N` to return: https://github.com/dotnet/coreclr/blob/ec17ff6bcd252867e3cd40b630e559f6cfb38b36/src/vm/dllimportcallback.cpp#L755

[2017-02-07 02:53] jkotas commented on #9357
Store it in something like `UMEntryThunk::m_pUMThunkMarshInfo->m_cbRetPop`?

[2017-02-07 03:11] MichaelSimons commented on #9273
@jyoungyun, Unfortunately at the moment, the Dockerfiles are not in an open repo.  We are actively working on moving them to the open so that everyone can contribute to them.  I expect this work to be done over the next couple of weeks.  In the meantime I have copied the Dockerfiles for you to reference.

chcosta/dotnetcore:ubuntu1404_cross_prereqs_v1
[code]

chcosta/dotnetcore:ubuntu1404_coredeps

[2017-02-07 03:22] parjong commented on #9272
@jkotas It turns out that libunwind does not consider STDCALL. I tested the following program:
[code]

When the execution of ``main`` is resumed, ``esp`` is just same as before ``call <func>`` is executed:
[code]

[2017-02-07 03:28] seanshpark commented on #9357
@jkotas, thank you so much!

[2017-02-07 03:44] jkotas commented on #9272
Ok. We will need to compute the number of stack elements to pop as you have proposed.

[2017-02-07 04:35] jyoungyun commented on #9273
@MichaelSimons Thanks for sharing! Please share with us when the move is complete. If we have to modify the DockerFiles, we will add a comment here.

[2017-02-07 05:30] danmosemsft opened #9388 "CI failing periodically with "GeneratePackageReport" task failed unexpectedly."
https://ci.dot.net/job/dotnet_coreclr/job/master/job/checked_windows_nt_bld_prtest/3924/consoleText
[code]

@ericstj  who should look at this?

[2017-02-07 05:56] hseok-oh commented on #9362
Fixed by #9364

[2017-02-07 05:56] #9362 closed

[2017-02-07 06:00] parjong commented on #8590
I'll close this PR as #8849 is merged.

[2017-02-07 06:00] #8590 closed

[2017-02-07 06:26] Petermarcu commented on #9208
Not as big a fan of that for a couple reasons. Portable is an overloaded word and because I am also hoping we can create a "portable" story for musl and other c library families as well.

It sounds like you feel that your proposal is more "consistent". Is that because it introduces architecture at the same level of the tree rather than one level higher for glibc?

To me the rids that have no archi

[2017-02-07 07:57] tomkuijsten commented on #9168
Got it running on a Pi2, additionally to what @safern explained (big thanks!), you should also add:

[code]

And copy the netstandard1.7 version of `System.Threading.dll` (4.1.0.0 version).

The result:

![capture](https://cloud.githubusercontent.com/assets/3097047/22682511/42b150dc-ed13-11e6-9fba-b1bb6fe6008a.PNG)

The only teeny tiny problem is that I can't get any response from it yet :)

[2017-02-07 08:18] mne1991 commented on #9168
@safern @tomkuijsten  Thank you very much for you!!! I got it working! I added this as well:

[code]
I still cannot view the web page using my browser (I know that has nothing to do with this problem actually, but could you please guide me to any easy guide how to expose that web page to the internet? because I am still very new to ASP.Net specifically on linux, because in windows there is nothing

[2017-02-07 08:44] tmds commented on #9208
My aim was to provide an alternative where `linux-x64` did not imply glibc, but which would seem user-friendlier since a developer would use `linux-portable-x64`.

There are use-cases for these RIDs. But I they are perhaps a little to far-fetched to include these RIDs from the start. So, they can be left out and introduced later if there is a strong case for them.
The same applies to the RID `unix

[2017-02-07 08:55] maartenmensink commented on #9168
@safern Thanks for the update and help.

I updated my project.json based on your info. The application is running for most parts but most important i am able to perform api request to the webserver on the RPi3.

**project.json**
[code]

[2017-02-07 09:15] tomkuijsten commented on #9168
@mne1991 the steps you should follow to make it available from the outside:

Add a file named `hosting.json` to your project and edit:

[code]

Make sure the file is copied when publishing by adding it to the publishOptions in your `project.json` file:

[code]

Edit your main method in the `Project.cs` file and make it look like this:

[code]

And finally, you should add a firewall rule to allow t

[2017-02-07 09:49] janvorli commented on #9357
Cannot we just derive that from UMThunkMarshInfo::m_cbActualArgSize that we already have there? We use that for copying the stack arguments. The value is a sum of sizes of register arguments and stack arguments. So subtracting 8 from that gives you the size of stack arguments (if the result is larger than zero). Am I missing something?

[2017-02-07 09:51] benaadams opened #9393 "QUWI forceGlobal => false"
I raised an api request in corefx to expose the `forceGlobal` flag for QUWI https://github.com/dotnet/corefx/issues/12442; rather than always having it set to true. A related issue was exposing `IsThreadPoolThread` https://github.com/dotnet/coreclr/issues/5407 for a similar reason.

However, now I'm not so sure. I'm swaying towards setting `forceGlobal` to `false` for `QUWI` instead.  (As Tasks cu

[2017-02-07 10:03] jyoungyun commented on #9273
@MichaelSimons I added some pkgs for armel and tizen build.
[code]
I uploaded the docker image to docker hub (https://hub.docker.com/r/t2wish/dotnetcore/). The `binutils-arm-linux-gnueabi` and `rpm2cpio` can be removed if we do not create rootfs in docker image. And the `libxml2-utils` is installed by https://github.com/dotnet/core-setup/blob/master/cross/armel/tizen-fetch.sh.

[2017-02-07 10:08] omariom commented on #9393
Can it increase the chance of deadlocking in the existing code?

[2017-02-07 10:09] parjong commented on #9357
@janvorli It seems that arguments of long type should be pushed onto stack according to x86 ABI, and thus the actual bytes of stack arguments and ``UMThunkMarshInfo::m_cbActualArgSize - 8`` may differ.

[2017-02-07 10:10] seanshpark commented on #9357
When the managed code parameter is a long (64bit) type as in the code above
[code]
then this is passed to the stack not ECX+EDX, I think, by the generated code.
[code]
In this case we should not subtract 8.
But I don't know if there is already existing flag for this case, and if not it should be added somehow.

[2017-02-07 10:23] benaadams commented on #9393
Via threadpool starvation with `.Wait`, `lock` and `.Result`? Or do you mean via ways? I don't think it should effect anything in this respect, but I may be wrong.

[2017-02-07 10:25] janvorli commented on #9357
@seanshpark ok, but then the stack argument copying code that we have in the UMThunkStub is incorrect too. It assumes that the ECX and EDX are always used for the first two argument slots: https://github.com/dotnet/coreclr/blob/master/src/vm/i386/umthunkstub.S#L141
So it seems that instead of adding m_cbRetPop to the UMThunkMarshInfo, we can add the count of argument registers (or size of args in

[2017-02-07 10:27] janvorli commented on #9357
Actually, I have just found that the m_cbRetPop is already in the struct for x86 windows, so reusing that would be probably cleaner.

[2017-02-07 10:29] mattwarren commented on #9309
I don't have any other terms to add at this time

[2017-02-07 10:29] #9309 closed

[2017-02-07 11:14] benaadams commented on #9393
@omariom If Task.Run is used rather than QUWI its what it does (when not long running); though that path has extra overheads

[2017-02-07 11:20] hqueue commented on #9273
@gkhanna79 I've implemented experimental ARM CI for corefx using docker images at https://github.com/dotnet/corefx/issues/15900. I've started corefx, because corefx has much simpler CI structure than coreclr and we need corefx artifacts to run tests in coreclr CI.

Short summary for experimental ARM CI.
- ARM CI for arm and armel
- Construct rootfs outside of docker, because we faced various error

[2017-02-07 11:31] seanshpark commented on #9357
Yes, it sure needs fix.

I need to check how this can be.

Thank you! I hope I understand what you guys are thinking.

[2017-02-07 13:32] stephentoub commented on #9393
Tasks make it an option.  The default is forceGlobal:false, but you can have forceGlobal be true via Task{Creation/Continuation}Options.PreferFairness.

This is not always true.  Consider a scenario where one thread pool thread is a producer and is constantly producing work; another thread pool thread is a consumer and is constantly consuming work.  With today's forceGlobal:true, the producer will

[2017-02-07 14:00] #9344 closed

[2017-02-07 14:26] TAGC commented on #9168
Excellent work guys! 👍

Between these modifications and [this](http://stackoverflow.com/a/41765048/1636276) I've managed to get a web application running on my RPi that can communicate with an Cortex-M3 microcontroller device over USB. This is something I've been hoping to achieve for several months and it's exciting to finally have something working.

[2017-02-07 15:05] janvorli commented on #9357
@seanshpark I was trying to say that the m_cbActualArgSize is a size of all arguments, including the arguments in registers (if any). The m_cbRetPop would be the size of only those arguments that are passed on stack. So, the difference between the m_cbRetPop and the m_cbActualArgSize represents the size of the arguments passed in registers. If it is 4, we have one argument in ECX. If it is 8, we h

[2017-02-07 16:44] Petermarcu commented on #9208
Yeah, it's both what they type on `publish` and what they put in their project files. Yeah, we definitely need to move Alpine :)

[2017-02-07 17:16] jkotas opened #9397 "Cleanup globalization duplication"
We have two copies of globalization i:
- The original one from full framework that is used on Windows
- The refactored one shared with CoreRT that is used on Unix

This duplication should be fixed.

[2017-02-07 17:30] joperezr commented on #9168
Great to know that this issue was sorted out. Special thanks to @safern @maartenmensink @tomkuijsten and @mne1991. I'll close this issue for now, since the new approach that we are working on is having one flat package that contains the right set of dependencies to avoid this sort of problems.

[2017-02-07 17:30] #9168 closed

[2017-02-07 18:49] safern commented on #9168
Great that we could help and unblock you guys! Thanks for helping us sort out the issue with your feedback and tips!! Great to see that your .NET Core apps are working now.

Thanks @maartenmensink for opening the issue and @tomkuijsten @mne1991 @TAGC for complementing the issue on how to get the web apps running and working!

Thanks @joperezr for helping out!

[2017-02-07 19:07] vancem commented on #5061
I think we have reduced the issue to either
-      Introducing a UtcNowPrecise API that has increased precision    OR
-      Simply making UtcNow more precise (at the cost of making UtcNow less efficient (2-3X slower but it is a small).

I do think that UtcNow main high frequency use is for timestamping.   Interestingly if you are timestamping things that take a while (e..g > 1msec), then the cost

[2017-02-07 19:09] stephentoub commented on #5061
+1

[2017-02-07 19:34] roterdam commented on #8441
I tried this again and still no dice. Isn't Visual Studio like close to release or something?

[2017-02-07 19:50] karelz commented on #9309
Thanks! If you find more things you want us to add, please file new issue(s) and tag me ;-)

[2017-02-07 20:09] stephentoub opened #9401 "Exception related to COM interop thrown/caught first time Tasks are used"
I'm seeing an InvalidOperationException get thrown here:
https://github.com/dotnet/coreclr/blob/b638af3a4dd52fa7b1ea1958164136c72096c25c/src/mscorlib/src/System/Threading/Tasks/AsyncCausalityTracer.cs#L154
and caught here:
https://github.com/dotnet/coreclr/blob/b638af3a4dd52fa7b1ea1958164136c72096c25c/src/mscorlib/src/System/Threading/Tasks/AsyncCausalityTracer.cs#L157-L162
the first time tasks ar

[2017-02-07 20:18] benaadams commented on #5061
I think a serious pitfall with it is the fact it is actually _very_ precise; however its not very accurate. The related ticks vary down to the last digit, so by casual observation it can be seen that it varies a lot and its only when you call it closely together that you see there is a problem (or via reading docs or checking SO 😉)

So I'd suggest in addition to any more accurate api changes; that

[2017-02-07 20:39] qmfrederik commented on #9370
@janvorli

This:

[code]

results in a hang after `Before M1` is written out.

here is the backtrace:

[code]

[2017-02-07 20:54] vancem commented on #5061
I agree that unhelpful precision should be rounded away.  It is easy enough to do.    Again, ideally no pitfalls (if we can avoid them easily).

[2017-02-07 20:58] #7894 closed

[2017-02-07 21:24] tomkuijsten commented on #9168
Was waiting for this moment since the announcement of Win10IoT for the Pi, big thanks to all the people at Microsoft and especially @safern for the initial investigation!

[2017-02-07 21:32] tmds commented on #9210
The debian, ubuntu, debian-x64, ubuntu-x64 don't bring anything useful compared to their parents, i.e. one cannot assume certain libraries, apis will be present.
The ubuntu14.04 allows to make some assumptions. It is debatable whether a managed library should target this RID or a more generic RID and detect the OS at runtime.

@Petermarcu does this make sense?

Could we 'obsolete' these and simila

[2017-02-07 22:11] danmosemsft commented on #9397
@tarekgh can describe how much of this will happen as part of the UWP work.

[2017-02-07 22:14] mne1991 commented on #9168
@tomkuijsten  Not only for Windows, but also for Linux ;)

[2017-02-07 22:26] tarekgh commented on #9397
@danmosemsft

Nothing is planned to do this work but after the UWP work get done we'll be closer. we'll need to investigate how much difference (and breaking) when we can fully use the code under corefx folder and retire the code under mscorelib\src\System\Globalization.

CC @ellismg if he has any thoughts as he is the one originally did this fork.

[2017-02-07 22:34] seanshpark commented on #9357
Thank you for long explanation. You are so kind :) . I was afraid of these argument passing methods. I think I may need to reschedule this issue as there are other higher priority and may take a while to solve this for me or maybe other guys who are willing can take over.

[2017-02-07 23:01] adiaaida commented on #9292
It looks like we have ifdef'd out the signing functionality in ilasm, which is why you're seeing this error. I'm looking into what we will have to do to get that functionality in ilasm.

[2017-02-07 23:09] mellinoe commented on #9292
Well, that would do it 😄. Thanks for looking into this.

[2017-02-07 23:10] ellismg commented on #9397
The fork was mainly done because at the time the code was shared with Desktop and we were very hesitant about making any changes.  We also started from the implementation of System.Globalization that we had for UWP, since we preferred the factoring at that it was mostly managed code.

As part of this plan, you could consider trying to pull more of the code in the runtime that deals with globalizat

[2017-02-07 23:12] janvorli commented on #9370
@qmfrederik it would be interesting to see where it keeps spinning, in other word, to which of the frames above (from 7 to 1) it never returns. I would try to set a breakpoint at the IP address that's at the frame 7. If it doesn't get hit, do the same for frame 6 etc. until you hit it.

[2017-02-07 23:13] tarekgh commented on #9397
I think we already done most of this work and will do the rest when we do the UWP work. this is why I said we get closer after UWP work. I mean the code under corefx will be the copy we can just use.

[2017-02-08 02:19] AndyAyersMS commented on #9349
Note there is an R2R blocker for tail calls, see `ZapInfo::canTailCall`. So running diffs via the default jit-diff only shows hits in System.Private.Corelib.dll.

[2017-02-08 03:30] #9401 closed

[2017-02-08 09:22] fanoI commented on #9373
It would be possible to have a managed implementation of these methods maybe using Vector as base?
Sin and Cos could be written using SSE intrinsic in C: http://gruntthepeon.free.fr/ssemath/sse_mathfun.h
This would make easier to do the porting to other platforms.

[2017-02-08 09:29] #9378 closed

[2017-02-08 10:31] tmds commented on #8474
@mikem8361 I compiled memprobe1.0 and added it to my Docker image. The result is the compile step is hanging.

I copy the coreclr files to: /usr/share/dotnet/shared/Microsoft.NETCore.App/1.0.3/
The binaries I built are in: https://github.com/tmds/repro-sehexception/tree/master/dotnet

This hang repros on the debain system too (i.e. without docker). It is behaving similar to a hang I saw in Novembe

[2017-02-08 10:41] janvorli commented on #8474
@tmds let me try this on a Debian VM.

[2017-02-08 12:00] janvorli commented on #8474
@tmds I can repro the hang. It spins in the Thread::VirtualUnwindToFirstManagedCallFrame with call stack like this:
[code]
The issue is that the unw_step in the libunwind doesn't unwind stack from the ThePreStub correctly and returns incorrect RIP and RSP. My guess is that there is something wrong with the .cfi annotations in the ThePreStub helper or the libunwind on Debian and the reason why we h

[2017-02-08 12:03] tannergooding commented on #9373
@fanol, I don't think that is going to be nearly as performant. The libm implementation on Windows and Mac is written using hand-crafted assembly, to ensure that every bit is optimized to its potential.

[2017-02-08 12:27] tmds commented on #8474
Great!

Here (https://github.com/dotnet/core/issues/362#issuecomment-262543559) it was on Fedora.

strace shows it is looking for libapi-ms-win-core-file-l1-1-0.dll. Could that be it?

[2017-02-08 13:02] janvorli commented on #8474
Right, I was able to get the library name and file even from this optimized build from pNMD at frame 4. It is trying to load "api-ms-win-core-file-l1-1-0.dll" and get function ReadFile. Based on the discussion in #6510, it is a light-up, so it is not a bug that we try to open that library. The managed code should catch the exception and process it correctly.
Since this happens in all apps that rea

[2017-02-08 13:15] mskvortsov commented on #8922
The code you listed doesn't get executed for the `arg0`. The offset gets adjusted at the end of the loop at [lclvars.cpp#L5416](https://github.com/dotnet/coreclr/blob/7ced6b540e5c2fd7ed49661dc0b182d65a413949/src/jit/lclvars.cpp#L5416):
[code]

[2017-02-08 14:05] #8948 closed

[2017-02-08 16:11] #7903 closed

[2017-02-08 16:21] AndyAyersMS commented on #7903
Great to see this get in. Do you have an "after" disasm you can post here for completeness?

[2017-02-08 17:34] JosephTremoulet commented on #7903
I do:

[code]

[2017-02-08 17:59] MichalStrehovsky opened #9414 "Readonly prefix not respected for multidimensional array address method"
The below code works on desktop CLR, but throws an `ArrayTypeMismatchException` on CoreCLR:

[code]

The `FrobAll` method has the following IL sequence in it:

[code]

As per ECMA-335 III.2.3 the `readonly.` prefix shall suppress the exact type check done by the `Address` method and cause it to return a controlled-mutability managed pointer to the element of the array. The VM is not suppressing th

[2017-02-08 18:13] Petermarcu commented on #9210
I think the challenge with simplifying is that we really don't know how people are using some of these RID's. I think we should be mindful as we add new ones but I'm not sure we can simplify it now.

[2017-02-08 18:21] AndyAyersMS commented on #6095
If by "additional flags" you mean the backing field for `MethodDescClassification` then yeah, all 16 bits appear to be in use...

[2017-02-08 19:16] redknightlois commented on #6427
Bump! Will this be solved by 1.2? Not being able to do dotTrace timeline profiling makes highly threaded applications like RavenDB Data Storage Engine very difficult to analyze for extra performance improvements.

[2017-02-08 19:18] stephentoub commented on #6427
I've been hitting this as well. ☹️

[2017-02-08 20:36] brianrob commented on #6427
Apologies for the delay on this one.  I am testing a fix now.

[2017-02-08 20:47] tomkuijsten commented on #9168
True :) I put all the configuration steps together in a [blog post ](http://www.devvy.nl/?p=170) to explain each step.

[2017-02-08 20:49] MichalStrehovsky opened #9419 "Optimize default(T) != null at compile time"
`default(T) != null` in generic code is a popular* pattern to determine if `T` is a nullable or a reference type.

Example:

[code]

Will print `False True False`.

While the codegen for the "it's a reference type" case is pretty efficient (we can do better though...):

[code]

For the "it's a valuetype" and "it's a nullable" case we get a useless allocation:

[code]

The places that use this patt

[2017-02-08 20:49] redknightlois commented on #6427
Any chance this fix gets included in a service release for 1.1? 2.0 is still a few months away.

[2017-02-08 20:55] tmds commented on #8721
@migueldeicaza it turns out \<symbol>@\<version> can be used as the EntryPoint. gcc&clang follow the c++ itanium abi name mangling rules, which means symbol will never contain '@'! A bit can be used to opt-out of the versioned lookup. ExactSpelling (aka NoMangle) seems like a good match. This is implemented here: https://github.com/dotnet/coreclr/pull/8773. In the test you can see the [C# declarat

[2017-02-08 21:18] mikedn commented on #9419
Hmm, == null works pretty well for me:
[code]
The nullable case isn't great but at least it doesn't allocate/box/whatever.

What's this NewHelper thing? Is this CoreRT specific?

The assembly code you have posted appears to be generated by `!= null` rather than `== null`.

Heh, the `x != null` mess. There's no `cne` instruction in IL so the C# compiler emits `cgt.un`. The JIT is lame and doesn't r

[2017-02-08 21:25] MichalStrehovsky commented on #9419
Yeah, I was doing this on CoreRT because that's what I have set up these days.

Yes - was testing that and assumed it's the same for `==`. I'll rename the issue then and update the original posting. Good catch! I assume this will be much lower priority then. `!= null` is less popular.

[2017-02-08 21:38] mikedn commented on #6095
Yep, `MethodDescClassification` as stored in `MethodDesc::m_wFlags` member. Though I haven't checked if there isn't any spare room in `MethodDesc` and `NDirectMethodDesc` that would allow more information to be stored without increasing the struct size...

[2017-02-08 21:56] mikedn commented on #9419
I verified (hacked the importer) that this is indeed caused by `x cgt.un 0` not being treated as `x cne 0`.

Partially related issue: #7641

[2017-02-08 21:59] qmfrederik commented on #9370
@janvorli

The last method for which the breakpoint is hit is `UnwindManagedExceptionPass1`, the breakpoint for `DispatchManagedException` is never hit.
[code]

The source code for [exceptionhandling.cpp](https://github.com/qmfrederik/coreclr/blob/features/alpine-arm-64/src/vm/exceptionhandling.cpp#L4542) is on my GitHub repo.

[2017-02-08 22:06] janvorli commented on #9370
@qmfrederik ok, thanks. Then the problem is likely in the stack unwinding getting the same address over and over. First thing to try is to enable exception handling logging by setting the following env vars before running the test app:
[code]
If you get me the log from the run, I can figure out the next steps.

[2017-02-08 22:10] qmfrederik commented on #9370
@janvorli Sure, here's the output:

[code]

[2017-02-08 22:17] janvorli commented on #9370
@qmfrederik  Ok, that's what I've thought. It keeps staying at the same frame. All the calls to ProcessCLRException are called with
sp = 0x0000FFFFDC28ADA0, ControlPc = 0x0000FFFF28C8D40C
That means that the RtlVirtualUnwind doesn't work for ARM64 or we give it an invalid starting point. Can you please run it again under lldb, break in after a little while and then dump the stack using the sos plu

[2017-02-08 22:25] qmfrederik commented on #9370
@janvorli Here's what we have:

[code]

and the call stack:

[code]

So if I understand it correctly:

|                   | SP                       | Control PC           |
|----------------|------------------------|------------------------|
| clrstack -f   | `0x0000FFFFFFFFE0E0` | `0x0000FFFF3D65340C` |
| ..ProcessCLRException         | `0x0000FFFFFFFFE100` | `0x0000FFFF3D65340C` |

So SP seems

[2017-02-08 22:27] AndyAyersMS commented on #9178
The method in question is
[code]
This ends up being 22 bytes of IL because CSC turns `1.0 / IM` into a double precision literal `7.144490169181527e-006`. So the method size is greater than the legacy policy's always inline threshold.

[2017-02-08 22:42] janvorli commented on #9370
@qmfrederik yes, that's the case. So it means that the libunwind based native unwinder has not unwound the SP from IL_Throw properly for some reason. Which is pretty strange given the fact that it still got the ControlPC right. The starting context is produced by the Thread::VirtualUnwindToFirstManagedCallFrame in DispatchManagedException.
Theoretically, there can also be a bug in the RtlCaptureCo

[2017-02-08 22:50] jkotas commented on #6427
I will check about 1.1

[2017-02-08 22:51] qmfrederik commented on #9370
@janvorli So I'm able to print out pContext-Sp, but pContext->IP seems to be a bit more harder:

[code]

(same for pContext->Ip)

[2017-02-08 22:53] janvorli commented on #9370
@qmfrederik Ah, I am sorry, it is Pc

[2017-02-08 23:02] sivarv commented on #9019
Further investigation reveals that `key` (the source value) gets struct promoted but `v1` (destination) is not.  The reason for not struct-promoting `v1` is that its fields are not accessed.

`v1 = key`

Now we have a block-op whose src is promoted but its destination is not.  As a result, fgMorphCopyBlock() transforms it into field by field assignments by taking addr of V1

[code]

Further v1 is

[2017-02-08 23:03] gokarnm commented on #7812
@gkhanna79, @schellap do you have comments on the [proposed API](https://github.com/dotnet/coreclr/issues/7812#issuecomment-262133950) or any alternatives to reuse the resolution logic?

[2017-02-08 23:07] qmfrederik commented on #9370
OK, let me see if I get this right:

Via `bt` and then `frame select N` and `reg read sp`, I get the following info:

| Frame | IP                        | SP                        | Method
|----------|------------------------|-------------------------|--------------
| 0 | `0x0000ffffb7041a04` | `0x0000ffffffffd860` | `Thread::VirtualUnwindToFirstManagedCallFrame`
| 1 | `0x0000ffffb724de20` | `0x

[2017-02-08 23:08] jkotas commented on #6427
Approved for 1.1

[2017-02-08 23:13] janvorli commented on #9370
@qmfrederik ok. And is the Sp after the next PAL_VirtualUnwind when we get to the first managed frame wrong as we have seen before? I just want to make sure that the fact that it was wrong doesn't stem from somewhere else.

[2017-02-08 23:23] sivarv commented on #9019
The heuristic that determines it is not profitable to promote v1 is in fgPromoteStructs()

[code]

The struct in question has 3 fields and its fields are not accessed.

[2017-02-08 23:31] qmfrederik commented on #9370
This is from a new run. So after we switch to the managed frames, the first call to `PAL_VirtualUnwind` is from `VirtualUnwindToFirstManagedCallFrame`. I can print out Pc and Sp and they seem correct. The next call to `PAL_VirtualUnwind` is from `LazyMachState::unwindLazyState` and there I've printed the values from `context`.

The call to `PAL_VirtualUnwind` in `LazyMachState::unwindLazyState` is

[2017-02-08 23:37] sandreenko opened #9422 "Move CoreRT fat call transformation after inlining."
As was discussed in #9191 there is open question about the best position for this transformation.
There are several possible solutions:
1) Inside importer;
2) Right after importer;
3) During morph;
4) After morph.
cc @BruceForstall, @AndyAyersMS .

[2017-02-08 23:40] janvorli commented on #9370
@qmfrederik I guess I am confused. You've said before that you were "printing out pContext->Ip and pContext->Pc after PAL_VirtualUnwind" and your table was showing that they are in the IL_Throw. So the VirtualUnwindToFirstManagedCallFrame must call the PAL_VirtualUnwind one more time to get to the managed frame. But from what you are saying now, it seems as if the PAL_VirtualUnwind was called just

[2017-02-09 00:05] qmfrederik commented on #9370
@janvorli The breakpoint at PAL_VirtualUnwind was hit three times in total - twice I believe from VirtualUnwindToFirstManagedCallFrame, hitting IL_Throw and then the first managed frame.

Then, a third time from unwindLazyState and then we enter an endless loop. The values for Pc and Sp were the same after the last two calls to PAL_VirtualUnwind unless I made a mistake when printing them. I was a

[2017-02-09 00:08] qmfrederik commented on #9370
Oh, I see my original write up was connfusing, sorry. So yes, the table is correct and I omitted the first call in the description. Apologies!

[2017-02-09 02:15] parjong opened #9435 "[x86/Linux] Random GC.Scenarios.BinTree.thdtree test failure"
``GC.Scenarios.BinTree.thdtree`` test randomly fails with the following assert:
[code]

[2017-02-09 02:47] NickStrupat commented on #9105
@mikedn Generics in general already causes this "code explosion" relative to non-generic types/collections). What are the chances that the current implementation of generics and their surrounding code base (LINQ, etc.) represents exactly the right balance of native code size vs performance? There is no real reason other than performance to generate the specializations at all. The type arguments co

[2017-02-09 03:15] seanshpark opened #9439 "[x86/Linux] Unit test RayTracer fails with segment fault"
RayTracer fails with next message.
[code]
This unit test passed with temporary 4 byte alignment but failed with new 16 byte alignment.
While walking up the stack, ESP changed to un-anligned value in the JITted code.
Related code was in `System.Threading.TimerQueueTimer:Change()` try/finally block:
[code]

where main block calls `finally` block by `call` instruction but as currenlt catch/finally fu

[2017-02-09 03:15] seanshpark commented on #9439
@waterlet, @parjong

[2017-02-09 03:46] seanshpark commented on #9439
The test passes with this little bit more patch to https://github.com/parjong/coreclr/commit/d205e700da6284851465e6124698a42f6645916e
[code]

[2017-02-09 04:17] #9374 closed

[2017-02-09 04:32] seanshpark opened #9440 "[x86/Linux] Unit test b091942 fails with segment fault (stack alignment issue)"
Unit test `JIT/Regression/CLR-x86-JIT/V2.0-Beta2/b091942/b091942` fails with segment fault.

When `TestClass:Test1(ref):bool` calls to `TestClass:RunTest1(ref)` method,

[code]
It calls some stub code and stack align is broken. Call stack looks like this:
[code]
Code at 0xb6fc9414 looks like this and stack needs alignment.
[code]

[2017-02-09 04:37] seanshpark commented on #9440
cc @parjong @wateret @YongseopKim

[2017-02-09 05:19] tmds commented on #9208
@Petermarcu 2.0 milestone?

[2017-02-09 05:26] seanshpark commented on #9440
@BruceForstall , Could you please help me where I could find the code that generates above code calling `JIT_GetSharedNonGCStaticBase_Portable` ?

[2017-02-09 05:35] parjong commented on #9440
@seanshpark May be one of the following?
[code]

[2017-02-09 05:51] hseok-oh opened #9442 "[ARM32/Linux] Assertion fail in debug/checked build"
CoreCLR commit: @ff1e4f3c2a9737f87608b735f6cd197523a2026b
CoreFX commit: dotnet/corefx@f58bccf79d26bcee3ab5af35d6a57cdfc1b62467

Target: ARM32 hardfp, ubuntu 16.04
checked & debug build with clang 3.9

In HelloWorld.exe execution

[code]

Dump backtrace using gdb
[code]

[2017-02-09 06:27] mikedn commented on #9105
There may be places where the cost of boxing is small enough that code sharing would be desirable but in general boxing is costly enough that code sharing isn't a reasonable option. I don't think anybody wants `List<int>` to be a list of objects rather than a list of ints.

IMO the problem is not that it is cryptic, the problem is that `sealed` can be and is used for other purposes. I see no reaso

[2017-02-09 06:43] seanshpark commented on #9440
Thanks @parjong . Found one debug message,
[code]
and from above address, this helper code is this.
[code]

and... by following the steps, I think it's `EmitFastGetSharedStaticBase()`

[2017-02-09 08:07] hseok-oh commented on #9442
Fail when try to compile Database.ReadInt16(ref, int):short

System.TermInfo.Database.ReadInt16(byte[] buffer, int pos)
https://github.com/dotnet/corefx/blob/master/src/System.Console/src/System/TermInfo.cs#L454-L459
[code]

[2017-02-09 08:18] piotrpMSFT opened #9447 "Native DLL's used through platform invoke arent loaded from AppContext.BaseDirectory"
Moved from https://github.com/dotnet/cli/issues/5622 on behalf of @PurelySimple. There are more details in the original issue.

 @yizhang82

----

## Steps to reproduce
1. Create a new console project (ie MyApp) that outputs `Console.WriteLine(AppContext.BaseDirectory);`
2. Reference a native DLL call on a method using `[DllImport("MyNative.dll")]`
3. Make a call to that method in the application

[2017-02-09 08:21] parjong commented on #9435
#9436 resolves the above assertion failure, but Core CLR sometimes falls into segfault.

[2017-02-09 08:30] seanshpark commented on #9440
There seems be another problem. `RunTest1(string [] args)` fails with segment fault.

[code]

[2017-02-09 09:57] tmds commented on #8474
I used lldb-3.5. I will try to compile using lldb-3.6 and see if that fixes the issue.

[2017-02-09 11:58] janvorli commented on #9370
@qmfrederik so it looks like the VirtualUnwindToFirstManagedCallFrame got a correct Pc and Sp for the first managed frame, right? Then it is strange that the value reported in the ProcessCLRException was different and wrong. But, maybe it was correct and the LLDB got it wrong in the clrstack instead.

[2017-02-09 12:01] tmds commented on #8474
This was the cause of the hang. Thank you @janvorli.

[2017-02-09 12:05] janvorli commented on #9370
@qmfrederik provided we are sure the Pc and Sp in the frameContext passed to UnwindManagedExceptionPass1 match the first managed frame (the Sp is equal to what you get from lldb when you switch to that frame and print the SP register), it seems that we need to try to step through the RtlVirtualUnwind code to see why it wasn't able to move to the next frame.

[2017-02-09 12:37] tmds commented on #8474
The behavior has changed. Now when I attach the debugger, the application terminates with the message:
[code]

[2017-02-09 13:35] hqueue commented on #9273
@gkhanna79 Some update.

As a first step, we write a shell script (`arm32_ci_script.sh`) which will be used for CI of  arm and armel and made three test PRs as follows.
- dotnet/corefx#15900 : We invoked CI manually for arm and armel and it works.
- dotnet/coreclr#9445 : We replace old CI for arm(which is actually armel) with docker and it works.
- dotnet/core-setup#1512: Introduce CI script

It m

[2017-02-09 14:47] benaadams opened #9449 "GCHandle.ctor mismatched execption"
The ctor is using a `ArgumentOutOfRange_Enum` resource exception which seems off?
[code]

https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Runtime/InteropServices/GcHandle.cs#L56-L60

[2017-02-09 15:36] tmds commented on #8474
@janvorli @mikem8361 any thoughts why I get this?

[2017-02-09 15:53] janvorli commented on #8474
@tmds it is strange - the symbol name shows that it is looking for C++ mangled symbol name, however, the definition in src/pal/src/debug/debug.cpp is inside extern "C" block. So the fix is to add extern "C" before the prototype in src/debug/shared/dbgtransportsession.cpp:
[code]

[2017-02-09 16:49] nathan-alden commented on #2688
I am wondering the same thing, @tugberkugurlu. There was a lot of discussion on the implementation details but I can't find any guidance on how I should be implementing graceful shutdown in a .NET Core console application so it behaves the same on any OS.

[2017-02-09 17:37] fanoI commented on #9373
Well the C# Vector does not uses compiler intrinsic written in assembler?
It should be equally faster I think... Linux probably is using the x87 trigonometric functions that are slow and give wrong results too...

[2017-02-09 17:45] mikedn commented on #9373
Well, `Vector<T>` operations are translated to SSE instructions but not all SSE instructions are exposed via `Vector<T>`. If you happen to need such an instruction then you're out of luck...

And even if you can generate SSE instructions it doesn't mean you can match the performance of hand written assembly code. You may run into perf issues due to less than ideal register allocation and lack of i

[2017-02-09 18:05] mskvortsov commented on #8922
Now I see there is another place where `rat[01]` offsets might be adjusted to correct values: in the function `lvaAssignFrameOffsetsToPromotedStructs` (last call from the `lvaAssignFrameOffsets`) at [lclvars.cpp#L5807-L5813](https://github.com/dotnet/coreclr/blob/7ced6b540e5c2fd7ed49661dc0b182d65a413949/src/jit/lclvars.cpp#L5807-L5813):
[code]
But `UNIX_AMD64_ABI` is undefined for ARM32 and `lvIsP

[2017-02-09 18:06] tannergooding commented on #9373
I will say that I have attempted porting the handwritten-assembly implementation to C++. The performance decrease was significant enough to not make it worthwhile for Windows or Mac (it would likely be even less performant in C#), but it would be worthwhile for Linux.

The AMD libm implementation is somewhere between the Windows and Mac numbers on all three platforms, but it is not open source and

[2017-02-09 18:07] mikem8361 commented on #8474
Thanks Jan.  I thought I tested the change.  I pushed the change to my "probemem1.0" branch.

[2017-02-09 18:08] JosephTremoulet commented on #5371
I have the change to do that up in PR #9451 now.

I coded that up too, only to discover that anywhere we can/do CSE the array, we also can/do CSE the array length, so propagating up the tree to arraylens in bounds checks wasn't giving me any diffs over just modifying the CSEd uses themselves, and I pulled that part back out.

#9451 still doesn't get the case above, I'll investigate further...

[2017-02-09 18:40] pgavlin opened #9452 "SIMD tests failing under GCStress=0xC on x86"
See e.g. https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x86_checked_windows_nt_gcstress0xc/11

@BruceForstall, can you take a look?

[2017-02-09 18:46] pgavlin opened #9453 "`Assertion failed 'unreached' in 'System.SpanTests.ReadOnlySpanTests:CtorPointerNull()` during value numbering in System.Memory.Tests"
This is causing a number of failures in the corefx jobs; see e.g. https://ci.dot.net/job/dotnet_coreclr/job/master/job/jitstress/job/x64_checked_windows_nt_corefx_baseline/82/consoleFull

@JosephTremoulet can you take a look?

[2017-02-09 18:51] RussKeldorph commented on #9419
@dotnet/jit-contrib

[2017-02-09 18:52] RussKeldorph commented on #9422
@dotnet/jit-contrib

[2017-02-09 19:35] benaadams commented on #9105
There's still full backwards compat with .NET Framework 1.0 and 1.1 so you can use ArrayList for your `int`s if you want this behaviour.

[2017-02-09 19:40] AndyAyersMS commented on #9218
Looking at this now.

[2017-02-09 19:43] justinvp commented on #9449
Why does it seem off? `GCHandleType` is an enum.

[2017-02-09 19:46] benaadams commented on #9349
Are `void`s calls considered for tail call inlining? (When called from a void method in tail position)

[2017-02-09 19:47] benaadams commented on #9449
Ahh... yes was thinking of enumerator 😁

[2017-02-09 19:47] #9449 closed

[2017-02-09 19:57] AndyAyersMS commented on #9349
They should be, yes.

I believe the jit will even consider some cases where the caller returns void but the callee doesn't, like
[code]

If you are looking at specific instances and wondering why they're not converting to tail calls be aware there are various reasons for leaving things as normal calls. Unfortunately the diagnostics for tail calls are not as easy to get at as they are for inlining.

[2017-02-09 21:51] jashook opened #9457 "[Arm64] [11-Failures] tests fail with Assertion failed 'pCodes - pCodesStart'"
Failing Tests

<pre>
Loader/classloader/TypeGeneratorTests/TypeGeneratorTest693/Generated693/Generated693.cmd
Loader/classloader/TypeGeneratorTests/TypeGeneratorTest763/Generated763/Generated763.cmd
Loader/classloader/TypeGeneratorTests/TypeGeneratorTest688/Generated688/Generated688.cmd
Loader/classloader/TypeGeneratorTests/TypeGeneratorTest1412/Generated1412/Generated1412.cmd
Loader/classloader/T

[2017-02-09 21:53] jashook opened #9458 "[Arm64] tests fail with Assertion failed 'initBlkNode->gtRsvdRegs == RBM_ARG_2' in 'Program:Init(byref,int)'"
Failing Tests

<pre>
JIT/Regression/JitBlue/DevDiv_278371/DevDiv_278371/DevDiv_278371.cmd
</pre>

Example Output

<pre>
BEGIN EXECUTION
Core_Root\corerun.exe" DevDiv_278371.exe 10
Assert failure(PID 3552 [0x00000de0], Thread: 3548 [0x0ddc]): Assertion failed 'initBlkNode->gtRsvdRegs == RBM_ARG_2' in 'Program:Init(byref,int)' (IL size 11)
    File: f:\projects\coreclr\src\jit\codegenarm64.cpp Line:

[2017-02-09 21:54] jashook opened #9459 "[Arm64] Tests fail with Assertion failed '(m_Call->gtFlags & GTF_CALL_INLINE_CANDIDATE) == 0' in 'System.ConsolePal:GetUseFileAPIs(int):bool'"
Failing Tests

<pre>
Loader/classloader/TypeGeneratorTests/TypeGeneratorTest1481/Generated1481/Generated1481.cmd
</pre>

Example Output

<pre>
TEST_CMD_LINE: Loader\classloader\TypeGeneratorTests\TypeGeneratorTest1481\Generated1481> Loader\classloader\TypeGeneratorTests\TypeGeneratorTest1481\Generated1481\Generated1481.cmd 2161
BEGIN EXECUTION
 "Core_Root\corerun.exe" Generated1481.exe 2161
Assert

[2017-02-09 21:56] jashook opened #9460 "[Arm64] Tests fail with System.OverflowException"
Failing Tests

<pre>
baseservices/threading/paramthreadstart/ThreadStartByte/ThreadStartByte.cmd
baseservices/threading/paramthreadstart/ThreadStartSByte/ThreadStartSByte.cmd
</pre>

Example Output

<pre>
TEST_CMD_LINE: baseservices\threading\paramthreadstart\ThreadStartByte> baseservices\threading\paramthreadstart\ThreadStartByte\ThreadStartByte.cmd 8466
BEGIN EXECUTION
 "Tests2\Core_Root\corerun

[2017-02-09 21:57] jashook opened #9461 "[Arm64] Tests fail with System.TypeLoadException"
Failing Tests

<pre>
JIT/Regression/Dev11/dev10_865840/dev10_865840/dev10_865840.cmd
</pre>

<pre>
TEST_CMD_LINE: JIT\Regression\Dev11\dev10_865840\dev10_865840> C:\Users\DDJOIN\proyectos\febrero-2-2017\pruevas\JIT\Regression\Dev11\dev10_865840\dev10_865840\dev10_865840.cmd 3825
BEGIN EXECUTION
 "C:\Users\DDJOIN\proyectos\febrero-2-2017\pruevas\Tests2\Core_Root\corerun.exe" dev10_865840.exe 3825
U

[2017-02-09 21:59] jashook opened #9462 "[Arm64] Tests fail with System.InvalidProgramException"
Failing Tests

<pre>
JIT/Regression/CLR-x86-JIT/V1-M11-Beta1/b46867/b46867/b46867.cmd
JIT/Regression/CLR-x86-JIT/V1-M13-RTM/b88793/b88793/b88793.cmd
JIT/Regression/CLR-x86-JIT/V1-M11-Beta1/b41391/b41391/b41391.cmd
JIT/jit64/gc/misc/funclet/funclet.cmd
JIT/Regression/CLR-x86-JIT/V1-M11-Beta1/b37598/b37598/b37598.cmd
JIT/Regression/CLR-x86-JIT/V2.0-Beta2/b409748/b409748/b409748.cmd
JIT/Regression/CL

[2017-02-09 22:00] jashook opened #9464 "[Arm64] Tests fail with OutOfMemoryException"
Failing Tests

<pre>
CoreMangLib/cti/system/convert/ConvertToByte2/ConvertToByte2.cmd
Loader/classloader/TypeGeneratorTests/TypeGeneratorTest841/Generated841/Generated841.cmd
JIT/opt/virtualstubdispatch/bigvtbl/bigvtbl_cs_do/bigvtbl_cs_do.cmd
JIT/opt/virtualstubdispatch/bigvtbl/bigvtbl_cs_ro/bigvtbl_cs_ro.cmd
CoreMangLib/cti/system/invalidprogramexception/InvalidProgramExceptionctor1/InvalidProgra

[2017-02-09 22:02] JosephTremoulet commented on #9453
We're failing while compiling this code:

[code]

Different parts of the compiler seem to have different notions of how to represent a null byref and whether doing so is legal.

The IL that we import originally looks like this

[code]

so we start with this tree

[code]

Inlining `ReadOnlySpan\`1..ctor` gives us this

[code]

`Unsafe.As` is simply

[code]

so we do this replacement:

[code]

and h

[2017-02-09 22:02] jashook opened #9465 "[Arm64] [4-Failures] Tests fail with System.NullReferenceException"
Failing Tests

<pre>
JIT/Directed/coverage/importer/Desktop/ldelemnullarr1_il_d/ldelemnullarr1_il_d.cmd
JIT/Directed/coverage/importer/Desktop/ldelemnullarr1_il_r/ldelemnullarr1_il_r.cmd
JIT/Directed/coverage/importer/Desktop/nonrefsdarr_il_d/nonrefsdarr_il_d.cmd
JIT/Directed/coverage/importer/Desktop/nonrefsdarr_il_r/nonrefsdarr_il_r.cmd
</pre>

Example Output

<pre>
TEST_CMD_LINE: JIT\Directed\c

[2017-02-09 22:03] jashook opened #9466 "[Arm64] [9-Failures] Tests fail with System.ArgumentException"
Failing Tests

<pre>
JIT/Methodical/divrem/rem/i4rem_cs_do/i4rem_cs_do.cmd
JIT/Methodical/divrem/rem/i4rem_cs_ro/i4rem_cs_ro.cmd
JIT/Methodical/divrem/rem/i8rem_cs_do/i8rem_cs_do.cmd
JIT/Methodical/divrem/rem/i8rem_cs_ro/i8rem_cs_ro.cmd
JIT/Methodical/divrem/rem/overldrem_cs_ro/overldrem_cs_ro.cmd
JIT/Methodical/divrem/rem/overldrem_cs_do/overldrem_cs_do.cmd
JIT/Methodical/divrem/rem/u4rem_cs_ro/u

[2017-02-09 22:04] jashook opened #9467 "[Arm64] Test fails with System.FormatException"
Failing Tests

<pre>
baseservices/threading/paramthreadstart/ThreadStartBool/ThreadStartBool.cmd
</pre>

Example Output

<pre>
TEST_CMD_LINE: baseservices\threading\paramthreadstart\ThreadStartBool> baseservices\threading\paramthreadstart\ThreadStartBool\ThreadStartBool.cmd 49
BEGIN EXECUTION
 "Tests2\Core_Root\corerun.exe" ThreadStartBool.exe 49
Unhandled Exception: System.FormatException: String

[2017-02-09 22:05] jashook opened #9468 "[Arm64] [14-Failures] Test fails with System. AccessViolationException"
Failing Tests

<pre>
JIT/Directed/RVAInit/extended/extended.cmd
JIT/Regression/CLR-x86-JIT/V1-M11-Beta1/b49644/b49644/b49644.cmd
JIT/Regression/VS-ia64-JIT/V2.0-Beta2/b410474/b410474/b410474.cmd
JIT/Regression/CLR-x86-JIT/V1.2-Beta1/b102637/b102637/b102637.cmd
JIT/Directed/RVAInit/overlap/overlap.cmd
JIT/Directed/rvastatics/rvastatic2/rvastatic2.cmd
JIT/Directed/rvastatics/rvastatic1/rvastatic1.cm

[2017-02-09 22:15] danmosemsft opened #9469 "Properly #if CAS changes made under TraceLogging"
Reverse recent changes and instead put #if NETFX around them.

[2017-02-09 22:26] seanshpark commented on #9440
Above segment fault was from not properly restoring funclet frame. With correct patching with https://github.com/parjong/coreclr/commits/draft/funclet_frame, it works OK.

[2017-02-09 22:33] #9435 closed

[2017-02-09 22:34] pgavlin commented on #9453
(cc @dotnet/jit-contrib)

[2017-02-09 23:32] danmosemsft commented on #7833
OK. FYI @CarolEidt since she's a JIT person.

[2017-02-09 23:32] #7833 closed

[2017-02-09 23:49] danmosemsft opened #9474 "Finish bringing CoreRT and CoreCLR's CoreLibs into sync"
We want to do this to (1) get code formatting from CoreRT (2) get bug fixes and new API to CoreRT so they reach UWP.

- [ ] Renames in CoreCLR to bring directories and files to match CoreRT eg
rename coreclr\src\mscorlib to coreclr\src\System.Private.CoreLib
rename coreclr\src\mscorlib\corefx to coreclr\src\System.Private.CoreLib\corert
- [ ] Update CoreCLR corelib's resource generation: change to

[2017-02-10 00:30] parjong commented on #9265
Here is the result from 2ecadf5d1ce (without any additional patch):
[code]
Recently merged #8849 eliminates the need for alignment workaround. There is a small increase in the number of failed tests, and most of them are caused by stack smashing. (Incorrect funclet prolog/epilog may cause this stack smashing issue).

[2017-02-10 00:33] sivarv opened #9477 "Heuristic meant to promote structs with no field access should consider the impact of passing to/from a call"
fgPromoteStructs() has a heuristic to promote structs even if its fields are not accessed provided that struct has no more than 3 fields.  Once a struct is promoted, if it gets passed as a parameter to a call or is assigned a return value from a call, then it copying is done field by field assignment, which may not be efficient than doing rep.stos or xmm reg based copying.

There is scope for furt

[2017-02-10 00:48] weshaggard commented on #9474
Do we plan to try and share the source via submoduling or some other technique?

[2017-02-10 01:30] ahsonkhan commented on #9292
cc @adiaaida, @mellinoe
So, do we have a fix?

[2017-02-10 01:46] seanshpark opened #9480 "[x86/Linux] Unit test interface_struct01 fails"
Generics MemberAccess has several unit test cases and only `interface_struct01` fails. I've made a simpler test program for this.

[code]

Expected:
[code]

Actual: Some broken characters
[code]

[2017-02-10 01:47] seanshpark commented on #9480
cc @parjong @wateret @YongseopKim

[2017-02-10 02:16] sdmaclea opened #9481 "[Arm64] Crossgen System.Private.CoreLib.ni.dll causes test failures"
The following tests are failing when crossgen is run to create System.Private.CoreLib.ni.dll.

JIT/Performance/CodeQuality/Linq/Linq/Linq.sh
JIT/Performance/CodeQuality/Math/Functions/Functions/Functions.sh
JIT/Performance/CodeQuality/Serialization/Deserialize/Deserialize.sh
JIT/Performance/CodeQuality/Serialization/Serialize/Serialize.sh
JIT/Regression/CLR-x86-JIT/v2.1/DDB/b188478/b188478/b188478

[2017-02-10 02:41] wateret opened #9484 "[x86/Linux] Exception Handling ABI"
Currently there is no EH ABI defined for x86/Linux so we need one. I'm going to start with @jkotas suggested in https://github.com/dotnet/coreclr/pull/9384#issuecomment-278543484

Which is:

[2017-02-10 02:45] #9469 closed

[2017-02-10 02:48] jkotas commented on #9474
This may rather be coreclr\src\System.Private.CoreLib\shared as we have discussed

[2017-02-10 02:54] wateret commented on #9484
cc: @parjong @seanshpark

[2017-02-10 05:21] sdmaclea commented on #9481
I am unable to verify whether the issue exist on tip due to a new failure when running crossgen on System.Private.CoreLib.dll.

Assert failure(PID 30582 [0x00007776], Thread: 30582 [0x7776]): Assertion failed 'initBlkNode->gtRsvdRegs == RBM_ARG_2' in 'System.Runtime.CompilerServices.Unsafe:InitBlockUnaligned(byref,ubyte,int)' (IL size 9)

    File: /home/sdmaclea/git/coreclr/src/jit/codegenarm64.c

[2017-02-10 05:27] danmosemsft commented on #9474
Added a checkbox for that segregation.

[2017-02-10 05:32] danmosemsft commented on #9321
The last ones involve some sigificant changes in AppDomain that I'm reluctant to do without spending the time to properly understand the code to be confident what is really dead.

[2017-02-10 05:35] jkotas commented on #9474
Yet another core ... we are ~42 core project :-) Maybe call it unshared or exclusive?

[2017-02-10 06:04] danmosemsft opened #9486 "Remove CER metadata"
There are over 400 of `[PrePrepareMethod]` and `[ReliabilityContract..]`

We don't support CER in Core and we only build for Core now so remove them.

[2017-02-10 06:11] hseok-oh opened #9488 "[ARM32/Linux] Cross-architectrue crossgen: loading System.Private.CoreLib.ni.dll failure"
Failure loading process of `System.Private.CoreLib.ni.dll` generated by cross-architecture crossgen (x86-host / arm-target)

gdb backtrace
[code]

Cross- crossgen generated same size of `System.Private.CoreLib.ni.dll` compare to target(arm) crossgen. But it had different binary value. So cross- crossgen may have generated wrong `System.Private.CoreLib.ni.dll` file.

[2017-02-10 06:31] hseok-oh commented on #8684
@gkhanna79 It seems better to using patch file in `build-rootfs.sh` script for ubuntu 14.04 rootfs such that tizen does. The script for Tizen rootfs uses https://github.com/dotnet/coreclr/blob/master/cross/armel/tizen/tizen.patch in https://github.com/dotnet/coreclr/blob/master/cross/armel/tizen-build-rootfs.sh.

[2017-02-10 08:13] #9486 closed

[2017-02-10 09:35] #9334 closed

[2017-02-10 09:36] KarenHuang2016 commented on #9334
It seems we missed one step to build test:
build-test.cmd x86 release -- /clp:ShowCommandLine
It works now. Close this issue.

[2017-02-10 12:36] janvorli commented on #1504
I'm working on a solution based on alternate stack for SIGSEGV.

[2017-02-10 13:08] tmds commented on #8474
@mikem8361 the issue has not been solved.
[code]

[2017-02-10 13:17] janvorli commented on #1504
I have a prototype working on amd64 Linux. I need to add support for other architectures, but it looks promising.

[2017-02-10 15:24] gkhanna79 commented on #8937
I chatted with @wtgodbe yesterday and he is looking into addressing this.

[2017-02-10 16:25] adiaaida commented on #9292
We've been talking to various people trying to decide what ilasm will support. We think that we can get it to support delay signing, but we'd like to do this without using legacyactivationshim.h, which is what currently does the signing for full framework. I'm looking into it, but don't currently have more of an update.

[2017-02-10 16:43] gkhanna79 opened #9492 "JIT Assert: Arm64 Pipeline Buildbreak"
[code]

[2017-02-10 16:43] gkhanna79 commented on #9492
Broke https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build?_a=summary&buildId=565212

[2017-02-10 16:56] jashook commented on #9492
This started failing after #9441. It is an example of #9458.

[2017-02-10 17:49] karolz-ms opened #9494 "Need better diagnostics for EventSource event ID conflicts"
**Repro steps**

1. Create an EventSource with a public property (e.g. `public string Foo { get; set; }` and an event (method) that uses event id = 1.
2. Add an EventListener, hook up the newly created EventSource and try to raise the event with id = 1.

**Expected**
Should just work--the event should be captured by the listener with no errors

**Actual**

An error similar to this:
EventSource Err

[2017-02-10 18:30] #9349 closed

[2017-02-10 18:44] AndyAyersMS commented on #9459
@jashook any guidance you can offer on how to repro these?

[2017-02-10 19:01] qmfrederik commented on #9370
@janvorli So I ran the commands once more through the debugger, and it appears indeed that Sp and Pc passed to VirtualUnwindToFIrstManagedCallFrame match the first managed frame.

Just to make sure, here is the complete lldb output: http://pastebin.com/rYuf9Tkw - based on what I gather, Pc is `0x0000ffff3d67a40c` and Sp is `0x0000ffffffffe0b0`.

I should have some time later today, but it would al

[2017-02-10 19:16] brianrob commented on #9494
cc: @vancem

[2017-02-10 20:05] wtgodbe commented on #9492
@jashook any idea on the ETA for this fix?

[2017-02-10 20:16] qmfrederik commented on #9370
@janvorli So, after a couple (still need to quantify it) of calls to `RtlVirtualUnwind`, ` Pc`  remains the same but `Sp` has increased by `0x20`  and the remains constant.

In my last run, I had first Pc = `0x0000ffff3d66440c` and Sp = `0x0000ffffffffe0c0`, and then ended up with Pc = `0x0000ffff3d66440c` and Sp=`0x0000ffffffffe0e0`.

We always enter `RtlpUnwindFunctionFull`.

[2017-02-10 20:21] qmfrederik commented on #9370
@janvorli Yup - seems pretty constistent: at the first call to `RtlVirtualUnwind` Pc and Sp are consistent, subsequent calls find Pc with the same value and Sp incremented by 0x20, both Pc and Sp remain constant after that.

[2017-02-10 20:46] qmfrederik commented on #9370
@janvorli In ` RtlpUnwindFunctionFull`, here is how that code executes:

1. Inside the `while (UnwindCodePtr < UnwindCodesEndPtr && Status == STATUS_SUCCESS) {` loop, `Sp` is first updated by the following block (although `Sp` and `Fp` have the same value)

[code]

2. Then we hit the `else if (CurCode <= 0xbf) {` branch
3. Then we hit the `else if (CurCode == 0xe4) {` branch, after which we go to

[2017-02-10 20:55] kouvel commented on #9033
Looks like returning in registers during GC suspension is not an issue

[2017-02-10 20:55] #9033 closed

[2017-02-10 21:01] kouvel commented on #1448
The PAL's sync system is designed to support named sync objects in shared memory, though it doesn't work. As a result, although the code can be deleted, there are many design elements inherent in the system that would better benefit the system than just removing dead code. The best way to do this is to eventually use CoreRT's wait subsystem to replace a significant portion of the PAL's sync system