[2016-04-09 15:55] krytarowski commented on #3287
I'm still stuck with it. Is upstream considering to redesign the code and go for an `sig_atomic_t` approach? So far I can do is `longjmp`(3) out of a handler.

[2016-04-09 17:27] jkotas opened #4254 "Intermittent Interop.MarshalAPI.Copy.CopyCharArray.CopyCharArray failure on Mac"

[2016-04-09 17:27] jkotas commented on #4254
This test failed in CI on commit that should not have affected it: http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/master/job/checked_osx_tst_prtest/592/testReport/junit/Interop.MarshalAPI.Copy/CopyCharArray/CopyCharArray/

[2016-04-09 19:44] #4197 closed

[2016-04-09 20:06] yizhang82 commented on #4254
This is pretty rare but it happens every few hundred tries on my machine. Looking...

[2016-04-09 22:33] ezephir commented on #681
Is this test still needed/valuable given that PAL_GetResourceString returns the untranslated string in the case of a lookup failure?

[2016-04-10 01:14] #4254 closed

[2016-04-10 04:59] #4192 closed

[2016-04-10 10:44] myungjoo commented on #4204
First of all, the recent "softfp" patches are about calling conventions, not about floating point instructions. You may keep using VFP or Neon while "softfp" calling conventions are used.

Small/micro devices traditionally supposed to run "RTOS" might not have the luxury of VFP. If a software platform targets to support such devices, it may choose to use "softfp" as the standard ABI (arm-linux-gnu

[2016-04-10 11:38] RussKeldorph commented on #2433
Updated #2451's file list.  Closing this one as dup.

[2016-04-10 11:38] #2433 closed

[2016-04-10 19:40] janvorli commented on #678
@ezephir We don't currently build localized symbols on any Unix system. We just include the US english resources compiled into the libcoreclr itself now. The localized resources should live outside of the libcoreclr,
But the goal is to enable localized string on Unix systems, ideally in a way native for each Unix sub-platform. For OSX, I was hoping that we could use the OSX support for string reso

[2016-04-10 19:53] janvorli commented on #3287
Actually, some time ago I got an idea that I believe could work. It is similar to the thing we do for unwinding native frames during exception handling. There is a "StartUnwindingNativeFrames" function that gets a context and the PAL_SEHException to throw. What it does is that it sets the current context right below the frame from which the exception should get unwound by the C++ exception handlin

[2016-04-10 19:55] janvorli commented on #681
This test would be helpful once we add localized strings support to CoreCLR. Now we have default english resources only.

[2016-04-10 23:08] krytarowski commented on #3287
I will happily test it. Sadly too little time (in my spare time) to redesign the code myself.

[2016-04-11 01:09] #4143 closed

[2016-04-11 03:04] SunnyWar commented on #1784
Example code that can benefit from this is riddled all over FxCore; E.g: HastSet.IntersectWithEnumerable  and CheckUniqueAndUnfoundElements both allocate a temporary BitHelper object.  List.InsertRange allocates a temporary array.  ConcurrentBag new's up a SpinWait in the CanSteal method.

To name just a few.

[2016-04-11 04:49] myungjoo opened #4259 "ARM/Linux build warning fix related with unw"
If we try to cross build ARM/Linux binaries of CoreCLR, we get the following clang warning, which is set to stop building.

[code]

[2016-04-11 05:29] wateret commented on #4204
@myungjoo I was working on keeping *hardfp* ABI for calling from managed to managed when *softfp* mode. However it seems like there exists calling from native to managed and that makes coreclr hard to have two different ABIs. It may be possible in theory but I don't think it is worth it (at least for now).

[2016-04-11 06:01] #4048 closed

[2016-04-11 06:03] #3856 closed

[2016-04-11 07:05] yizhang82 opened #4262 "[MarshalAs(ByValArray)] struct_array[] does not work properly in linux/mac"
This is found by the MarshalStructAsLayoutSeq test.

[2016-04-11 07:31] janvorli commented on #4259
@myungjoo ARM doc says that SP and PC cannot be in the list of registers of the STM instruction:
http://infocenter.arm.com/help/index.jsp?topic=/com.arm.doc.dui0489g/Cihcadda.html
So the warning from clang seems to reflect that.
But I guess you would know much better than me what really happens when those registers are in there.

[2016-04-11 07:45] janvorli commented on #3287
@krytarowski I can check the core of the idea on my Ubuntu and if it works, then it should not be complicated to finalize it.

Thanks,

Jan

[2016-04-11 07:52] yizhang82 commented on #4194
I have a PR that should fix this.

[2016-04-11 08:07] caslan opened #4263 "Unable to debug coreclr apps on Debian 8.2"
With the latest clrdbg bits and RC2 coreclr bits, debugging fails to start on Debian 8.2. CLR debugging services API returns CORDBG_E_UNSUPPORTED error on trying to attach the process.

The issue appears to be an invalid rpath setting in libmscordbi.so component.
- If you do “ldd” on libmscordbi.so that is installed with the shared framework you can see it cannot find libmscordaccore.so
- Running

[2016-04-11 08:08] leemgs commented on #3182
The above patch cannot solve `__tls_get_addr` issue of CoreCLR. Historically, the Bionic C library(=bionic) of Android did not prepared `__tls_get_addr` such as GNU C library (=glibc). It means that Android bionic c library including dynamic loader does not handle `thread local storage` (TLS) model.

So, according to their patch, they had concentrated on the `__aeabi_read_tp` function instead of s

[2016-04-11 09:15] janvorli commented on #3182
@leemgs I am not sure I understand your conclusion here. How does the fact that Android doesn't support the ELF TLS model relate to our Linux stuff? It seems that is a problem of the Android linker only.
Or did you mean that we would use the emulated TLS mode just as a workaround for the current problem with the TLS in the release build with the Clang we are using until it gets fixed?

[2016-04-11 09:30] myungjoo commented on #4259
@janvorli Yes, that is a dilemma for an atomic context-saver. ARM doc and compilers say you cannot save SP or PC with other registers; but you need to do so if you want to do it atomically, allowing them to be consistent. In general programming, such behaviors should be not allowed, but for "special" libraries such as LIBUNWIND, it appears to be inevitable. Note that the warning is coming from LIB

[2016-04-11 09:35] janvorli commented on #4259
@myungjoo Thank you for the explanation! I didn't know it switches to the ARM mode.

[2016-04-11 09:35] Dmitri-Botcharnikov opened #4264 "Upgrade lldb version to 3.8 for SOS plugin"
lldb 3.6 has no/partial support for Linux/arm32 platform. E.g. it misses implementation of RegisterContext for this combination of OS and CPU. We propose to upgrade lldb to version 3.8 as it's the last stable release and includes Linux/arm32 support.

[2016-04-11 09:40] leemgs commented on #3182
Yes. I think so. Note that Android have used bionic without the existing glibc to launch a lightweight linker/loader for their embedded devices. As we all know, most of the Linux distributions are based on the glibc. For reference, we have deployed various commercial embedded devices for TLS with glibc library.

》Or did you mean that we would use the emulated TLS mode just as a workaround for the

[2016-04-11 09:45] janvorli commented on #3182
Ok, it make sense, I got confused by your statement:

[2016-04-11 09:56] leemgs commented on #3182
@janvorli , Thanks. Typo due to inconvenient mobile typing. Changed my statement to avoid misunderstanding ; we have to => they use.

[2016-04-11 10:12] janvorli commented on #4263
@mikem8361 can you take a look into it please?

[2016-04-11 10:32] Thaina opened #4265 "Please add TryParse and ChangeType generic to System.Convert class"
In addition to ToInt32() and all other parsing things. System.Convert should have generic parser

[code]

[2016-04-11 11:52] leemgs commented on #3926
@erozenfeld, Could I give you one question? I wonder about the difference between `DEBUG` and `CHECKED` build mode. According to the Commit https://github.com/dotnet/coreclr/commit/38e554e5dcb8f6de9c014c5e1839b564a64937f6, It seems that the major difference a build specific flags only. Is it right? Do we need to keep the CHECKED build mode continually?

For example,
In case of DEBUG: "/NOVCFEATURE

[2016-04-11 12:02] janvorli commented on #3926
@leemgs The difference between checked and debug build is the compiler and linker optimization. The CHECKED build uses better optimization settings. The main reason for having the CHECKED build is to enable running tests with asserts and other debug checks enabled, but with a reasonable performance. As far as I remember, debug build of tests was running about twice slower than the checked one.

[2016-04-11 12:04] janvorli commented on #3926
See the compiler settings here for Unix:
https://github.com/dotnet/coreclr/blob/master/src/pal/tools/clang-compiler-override.txt
and here for Windows:
https://github.com/dotnet/coreclr/blob/master/src/pal/tools/windows-compiler-override.txt

[2016-04-11 12:26] leemgs commented on #3926
》 As far as I remember, debug build of tests was running about twice slower than the checked one.

@janvorli,  Thanks, could you share us the test case?

[2016-04-11 12:32] janvorli commented on #3926
This was the suite of all the coreclr tests that we ran in the CI at each commit. The issue #2985 was tracking the perf issue - we were incorrectly setting the options for checked build so that the optimizations were off (equal to the debug build) and the test runs were taking almost 2 hours to complete.

[2016-04-11 13:04] janvorli commented on #3287
@krytarowski I have made a quick test for the idea. It would be nice if you could give it a try on BSD. Here is my branch with the experimental change:
https://github.com/janvorli/coreclr/tree/hw-exceptions-change
The PAL test passes with it correctly on Ubuntu, so I hope it will work well on BSD too.

[2016-04-11 15:00] LLITCHEV commented on #4147
Added test for issue 4115 with #4240

[2016-04-11 15:00] #4147 closed

[2016-04-11 15:42] ayende opened #4267 "SemaphoreSlim fairness issue"
https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Threading/SemaphoreSlim.cs is not fair.

Full details here: https://ayende.com/blog/173793/the-deadlock-in-the-fairness-assumption?key=bb11aeb29c9b4006a4f7d4a8fcf10095

But the gist of it is that this code will typically print "Can't get it", because one thread releasing and acquiring the semaphore at high rate will block anothe

[2016-04-11 16:18] poizan42 commented on #4062
Is this even the problem of the runtime? Roslyn has a lot of inconsistent and weird behaviour when it comes to IntPtrs. Why is Roslyn even calling System.IntPtr::op_Explicit(..) for conversions from/to integer types and IntPtrs when it's not for other integer types? The overflow check should be controlled by checked/unchecked in the C# code that performs the conversion and not in the runtime.

[2016-04-11 18:26] dsgouda opened #4270 "tests\src\JIT\Performance\CodeQuality\BenchmarksGame\spectralnorm perf test failing"
The tests under tests\src\JIT\Performance\CodeQuality\BenchmarksGame\spectralnorm seem to be failing with the following stack trace
Test Failed
 Unhandled exception of type 'System.Exception': System.Exception : Benchmark failed to validate
 at SpectralNorm.Bench() in C:\github\coreclr\tests\src\JIT\Performance\CodeQuality\BenchmarksGame\spectralnorm\spectralnorm.cs:line 58

@AndyAyersMS  Could yo

[2016-04-11 18:40] AndyAyersMS commented on #4270
I assume this failure comes from running under xunit-performance?

Underlying code is fine since it runs as a correctness test in CoreCLR. So assuming the above it looks like the validation is a bit off for xunit-performance. Fix looks simple enough.

[2016-04-11 18:41] cmckinsey commented on #4059
Comparing the performance of various array representations is complex and depends on a lot of workload specifics. I won't attempt to spend time to cover it in this thread. But for this specific example, each implementation should each largely be able to perform the same speed for the specific dimensions sizes.

I'm going to use this issue to cover what is missing work in RyuJIT handling rectangula

[2016-04-11 19:21] Janiels commented on #4062
@poizan42 Which integer types does it not use the explicit conversion operators defined on `IntPtr` for?

[2016-04-11 19:31] poizan42 commented on #4062
@Janiels I meant that it's not using any explicit conversion operators for conversions between byte,short,int,long and char (not there's any defined anyways). It could just emit conv.i / conv.ovf.i directly to convert to IntPtr/native int.

[2016-04-11 19:38] BruceForstall commented on #4204
To summarize: it sounds like the JIT will always continue to generate VFP/NEON instructions. In the case of running on a platform without VFP, the OS will be responsible for emulating these instructions if the VFP/NEON hardware is missing. Thus, the softFP calling-conventions that have recently been implemented are the only changes required for FP for all ARM platforms.

[2016-04-11 19:47] Janiels commented on #4062
All of those types are either implicitly convertible to `int` or `long`, so the compiler is doing that implicit conversion first. However, you're still right: for `ulong` the compiler has special inconsistent behavior:
[code]
The IL produced is the following:
[code]
For some reason the compiler took it upon itself to convert the value to a `long` first. This conversion is unaffected by `checked` a

[2016-04-11 19:51] russellhadley commented on #4204
@BruceForstall I'm not sure I follow.  Certainly if people are interested in working on full softfp - no VFP/NEON - then we'd give them advice and take patches.  It seems a strong assertion that the current set of changes are the only ones required for FP on all ARM platforms.

[2016-04-11 19:55] grokys opened #4271 "Target .NET Platform Standard in VS2015.2 doesn't work"
Creating a new Portable Class Library in VS2015.2 and then clicking "Target .NET Platform Standard" in the project properties causes the project to break with errors like:

[code]

It seems that a NuGet package cannot be located:

[code]

Is this feature ready for use? I've not seen any mention of it anywhere.

[2016-04-11 19:59] ayende commented on #4271
+1

[2016-04-11 20:07] BruceForstall commented on #4204
@russellhadley Sure, but nobody has spoken up to require that.

[2016-04-11 20:11] krytarowski commented on #3287
I tested your patch on NetBSD and it works!

[code]

Please push it for master. I'm 1month behind now on porting NetBSD for .Net Core 1.0.... it's still possible to happen!

[2016-04-11 20:13] russellhadley commented on #4204
@BruceForstall On this thread for sure, but given the asks bubbling up around ARM32, and the amount of ARM32 devices that don't support hardware FP, but I would bet on needing to plan for the eventuality.

[2016-04-11 20:18] janvorli commented on #3287
Great! It will still need a little cleanup though, so I guess I'll have a PR ready tomorrow.

[2016-04-11 20:20] OtherCrashOverride commented on #4204
Any ARM devices that would actually use CoreCLR are going to have at least a VFP (armv6, Cortex-A).  Anything that does not (Cortex-M), is probably a highly embedded system lacking the resources to run CoreCLR and better suited to .Net Microframework.

[2016-04-11 20:21] #4189 closed

[2016-04-11 20:35] OtherCrashOverride commented on #1784
``using`` simply calls the IDisposable interface.  It does not provide any guarantee about object lifetime.  Inside the ``using`` block, the object could be assigned to objects/variables that would maintain its 'liveness' and its perfectly valid to do so despite it being 'disposed'.

This is the reason the GC has to run to finalize the object.  It has to trace to determine if an object reference i

[2016-04-11 20:47] SunnyWar commented on #1784
@OtherCrashOverride sure, it's possible that the object is assigned to something inside the using, and in this case I would expect the compiler to see this, be conservative, and not free it. However, I claim  the 80% case is this _does not happen_. Now, perhaps you are talking about the case where there are nested using statements, which is pretty common. In this case, I hope the compiler would be

[2016-04-11 21:06] SunnyWar commented on #1784
It seems to me that escape analysis and call depth can get pretty complicated. I recommend that this feature be added in a super-simple way that lays the groundwork for a more sophisticated approach later.

With that in mind it seems to me a very simple case study is String.Split. It returns an allocated array. It's used in a lot of code. The array does not contain anything that requires depth ana

[2016-04-11 21:11] benaadams commented on #1784
@SunnyWar Might be similar analysis already done for Ref returns and Locals? https://github.com/dotnet/roslyn/pull/8030

[2016-04-11 22:15] #4262 closed

[2016-04-11 22:33] poizan42 commented on #4062
@Janiels the "ldc.i4.m1, conv.i8" is simply one of the shortest IL sequence to load 2^64-1, so that's not so surprising. The CLI stack doesn't have any concept of signedness so this part is fine.

So why is it calling op_Explicit(int64) and not op_Explicit(uint64). Well the answer to that is simple - because there isn't any uint64 overload defined. But I don't really think that there's any problem

[2016-04-11 22:58] seanshpark commented on #4264
+1

[2016-04-11 23:12] sivarv opened #4276 "[RyuJIT][Linux] Codegen of Multi-reg return value store for var=call requires that var is not struct promoted, but such a condition is not always ensured"
Repro steps:
Codegen routine that generates multi-reg struct return value of a call to a struct var:
genStoreRegisterReturnInLclVar(GenTreePtr treeNode)

Add the following assert in this routine, after we have VarDSc of the local to which the return value of call is stored

assert(varDsc->lsIsMultiRegArgOrRet)

Do a checked build on x64 Unix with the above change made.  Towards the end of the buil

[2016-04-11 23:16] leemgs commented on #3926
@janvorli, I could understand the meaning of CHECKED clearly thanks to you. However, I am confused about the difference of the three build modes like DEBUG, CHECKED, and RELEASE.
Could you share me the main reason for having the each build mode? I summarized the difference of the three build modes as following. Is it correct?. If I am wrong, could you correct me?

a. DEBUG: No optimizations, enabl

[2016-04-11 23:49] janvorli commented on #3926
@leemgs You have the DEBUG, CHECKED and RELEASE characterized correctly. The remaining two, the RELWITHDEBINFO and MINSIZEREL are build types defined by default by cmake that we don't currently intend to use but it might make sense to reuse the MINSIZEREL for optimization for size rather than performance, as you have mentioned. But I have currently no idea how much size gain we would get. You can

[2016-04-11 23:52] #4270 closed

[2016-04-12 00:01] janvorli commented on #3926
Btw, I've just tried that with x64 release build. The difference between optimization for size and optimization for performance for libcoreclr.so was 10081552 bytes for performance and 8686389 for size, so about 14%. The other shared libraries were not that different.
But you may get a different picture for ARM.

[2016-04-12 00:25] gkhanna79 commented on #3019
@jhendrixMSFT Do we have the next steps identified for signing the binaries built in the open?

[2016-04-12 00:38] mikem8361 commented on #4263
It should be fixed now.

[2016-04-12 00:38] #4263 closed

[2016-04-12 00:40] mikem8361 commented on #4090
This is done now. PR #4218.

[2016-04-12 00:40] #4090 closed

[2016-04-12 00:51] myungjoo commented on #4204
Note that some of Cortex-A (e.g., A5) microarchitectures say VFP is "optional". Although it might not be Cortex-M series, it is highly probable that there soon will be "micro" devices loaded with Linux (not uclinux or some freaky small folks), which will probably try CoreCLR. Budget-wise (not power-wise), such cheap Cortex-A SoCs may beat the price of Cortex-M SoCs (often seen an A7+512MB is cheap

[2016-04-12 01:59] ramarag opened #4284 "ARM64: Implement ThisPtrRetBufPrecode::Init"

[2016-04-12 02:10] ramarag opened #4285 "Arm64: _ASSERTE(ExceptionTracker::HasFrameBeenUnwoundByAnyActiveException(&m_crawl));"
[code]

corefx tests that hit this issue :

System.Runtime.Tests
System.Runtime.Numerics.Tests
Microsoft.Win32.Registry.Tests
System.Dynamic.Runtime.Tests
System.IO.Pipes.Tests
System.Net.Sockets.Tests

[2016-04-12 02:17] ramarag opened #4286 "ARM64: AV in CORECLR! MethodTable::GetBaseSize"
[code]
Corefx tests hitting this issue :
System.Collections.Concurrent.Tests

[code]
System.Collections.NonGeneric.Tests

[2016-04-12 02:40] myungjoo commented on #4259
(libunwind, include/libunwind-arm.h, from Line 273)
[code]
`.code 32` says the following stmia is ARM instruction. `bx pc` enforces mode change accordingly.

Anyway, I have updated the pull-request so that it will disable -Winline-asm only for seh.cpp.

[2016-04-12 02:49] parjong opened #4288 "there is no way to supress nuget packaging"
Generating a nuget package is unnecessary while testing, but the current build script always generates a nuget package.

How about adding a new option to 'build.sh', such as skippack?

[2016-04-12 03:03] myungjoo commented on #4107
When UpdateObjectRefInResumeContextCallback goes insane with uResumeSP < GetSP(pSrcContext),
Its caller, FindNonvolatileRegisterPointers()'s pHighestFrameWithRegiser appears non-managed:

```FindNonvolatileRegisterPointers:322 | pHighestFrameWithRegisters = bedcf128, Attr(0) 00000000:Managed?0```

probed by:

```printf("%s:%d | pHighestFrameWithRegisters = %8.8x, Attr(%x) %8.8x:Managed?%d\n", __fu

[2016-04-12 05:42] ygc369 commented on #555
Virtual Machine softwares have already used this feature, I don't think it is too hard to realize.

[2016-04-12 05:51] Janiels commented on #4062
@poizan42 You are right!

To add to your matrix there are also these cases:
32-bit:
uint32 with MSB set: Exception (what this issue is about)
uint64 with the 33 MSB bits set: reinterpreted as signed integer, succeeds as negative value

[2016-04-12 07:11] leemgs commented on #3926
**Status Sharing:**
I have evaluated whether or not the latest clang version already solves this issue for Linux/ARM environment. Below is an experimental result with up-to-date version (e.g., clang-3.6, clang-3.8) of clang on my own ubuntu 14.04 x64. From my experiment, the up-to-date version of clang (ver. 3.8) also get the same error.

--------- Case 1) Debug build: with clang 3.5 (by default)

[2016-04-12 08:33] janvorli commented on #4107
That's expected. There would be an explicit frame (an object of type derived from Frame) that I think can be the thing that screws the SP value.
Actually, I have just realized you didn't tell me what is the type of that frame (I've asked you few days ago)

Also, it would be helpful if you dumped the m_pszDebugMethodName, m_pszDebugClassName and m_pszDebugMethodSignature as I've asked.
These should

[2016-04-12 08:51] myungjoo commented on #4107
Although that point no longer calls __cxa_throw with today's commit, at that point, the values are:

[code]

[2016-04-12 09:57] leemgs commented on #4064
Merged https://github.com/dotnet/coreclr/pull/4084

[2016-04-12 09:57] #4064 closed

[2016-04-12 10:16] jyoungyun commented on #3977
Target: Raspberry Pi2
coreclr commit id : ff26d6801b3ce0dec5918a5ad0d3ab90f9656e28 around april 9
=======================
     Test Results
=======================
# Tests Discovered : 7422
# Passed           : 6074
# Failed           : 1017
# Skipped          : 331
=======================
I'm curious why my test discovered count is different with others.

[2016-04-12 10:40] myungjoo commented on #3977
@jyoungyun Next time, please attach the result XML file as well.

[2016-04-12 10:52] krytarowski commented on #3125
Can we go temporarily with some walk-around for now? Like installing NetBSD in Linux kvm, which is installed in Azure?

[2016-04-12 10:53] krytarowski commented on #3125
lldb and libunwind are in pkgsrc-2016Q1, all dependencies are aboard in packages

[2016-04-12 10:58] krytarowski commented on #810
ping

[2016-04-12 10:59] OtherCrashOverride commented on #4204
Even the cheapest ($25) Cortex-A5 board I know of (Odroid C0) has both VFP and NEON.  I do not think its unreasonable at all to always use the VFP instructions and rely on the hardware+OS illegal instruction trap to provide emulation when absent.

As mentioned before CoreCLR is not a low resource stack; .Net MF is.  It seems perfectly within reason to have VFP (or OS level instruction emulation) a

[2016-04-12 11:27] myungjoo commented on #4107
Assumption to test later:

It appears that exception handling code of CoreFX ( https://github.com/dotnet/corefx/blob/master/src/System.Reflection.Metadata/src/System/Reflection/Internal/Utilities/FileStreamReadLightUp.cs ) is not properly executed with CoreCLR-ARM:
[code]

[2016-04-12 11:32] janvorli commented on #4107
Ah, so the throw is expected and the problem is really just in the stack walking.
So, if you could get me the real type of the type of the pHighestFrameWithRegisters (as I've mentioned), it will be a type derived from the Frame type), it would help me to figure out more.

[2016-04-12 12:06] janvorli commented on #810
Should we rather keep it open until we have a 100% build?

[2016-04-12 13:19] #4167 closed

[2016-04-12 14:06] gkhanna79 commented on #3802
@JohnChen0 Assigning to you since you are doing/driving the work.

[2016-04-12 15:26] RussKeldorph commented on #3234
When the lowercase ("prefix") exclusions are removed, these will start failing in the lab.  Presumably at least some of the Windows box(es) on which the tests are built have corrupted repos with messed up case.  I'm going to postpone this and revisit once builds happen end to end on Linux.

[2016-04-12 15:46] dleeapho commented on #4263
@mikem8361 will the fix be in rc2 drops of CoreClr? Debian support for dotnet CLI is something we want for rc2.

[2016-04-12 16:14] kyulee1 commented on #4285
Appears the similar issue #3701.

[2016-04-12 17:41] LLITCHEV commented on #3618
Fixed by #4085.

[2016-04-12 17:41] #3618 closed

[2016-04-12 18:21] tijoytom commented on #4193
Not a test issue.Closing since managed -> native layout seems to be messed by when LayoutExplicit is mentioned for a struct with union.Combining the investigation with https://github.com/dotnet/coreclr/issues/4193

[2016-04-12 18:25] #3701 closed

[2016-04-12 18:40] ramarag commented on #4285
closing as duplicate of  #3701

[2016-04-12 18:40] #4285 closed

[2016-04-12 18:49] schaabs opened #4298 "SIGSEGV_libcoreclr.so!Debugger::GetArgCount"
**The notes in this issue refer to the following dump: [projectk-24007-00-amd64chk_007A](https://dotnetjobresults.blob.core.windows.net/projectk-24007-00-stress/4cac839b-4ede-4df0-84fa-4697d3ebeff4/stress/generated/08_01hr/projectk-24007-00-amd64chk_007A/projectk-24007-00-amd64chk_007A.csproj/projectk-24007-00-amd64chk_007A.zip?sv=2015-04-05&sr=c&sig=t%2Fw%2Fx9rJqfK8ZYT94ENqLwegcJsYL8AqJlt7AGBnFl4

[2016-04-12 18:57] mikem8361 opened #4299 "Switch the official lldb (CI lab, etc) to version 3.8"
The official LLDB 3.8 without my changes for core dumps is so much better for SOS and general native debugging.  We need to switch the CI lab and the official documentation.

[2016-04-12 19:51] nagamanikandank opened #4301 "Visual Studio 2015+ (Community is free) is a prerequisite to build this repository"
I already have Visual Studio 2015 Community version installed, still I get the error "Visual Studio 2015+ (Community is free) is a prerequisite to build this repository" when I run "build clean" from "C:\git\coreclr" folder

[2016-04-12 20:17] smoothdeveloper commented on #4301
@nagamanikandank could you confirm if you get the same message if you run this from a "Visual Studio" prompt (in start menu: MSBuild Command Prompt for VS2015)?

Thanks!

[2016-04-12 20:35] nagamanikandank commented on #4301
Hi @smoothdeveloper . Yes. I am getting same error when  I run "build clean" from "C:\git\coreclr" using MSBuild Command Prompt for VS2015

[2016-04-12 21:12] janvorli commented on #4298
@mikem8361 From the analysis that @schaabs did, it looks to me as a case when the call to g_pDebugInterface->getVars raced with the debugger interface shutdown. So we have entered the `if (g_pDebugInterface && !IsCompilationProcess())`, but right after that, the object representing p_gDebugInterface got destroyed and the p_gDebugInterface was cleared.
Another thing confirming this theory is that t

[2016-04-12 21:42] syalachigere commented on #4118
We saw the performance drop when we moved to CLI from DNX. GC settings in ```[appname].runtimeconfig.json``` file didn’t work and setting ```complus_gcserver=true\false``` led us to an incorrect conclusion.

We verified the performance by setting ```complus_gcserver=1\0``` and it works.

I am closing this issue. Thank you @swgillespie @sergiy-k

[2016-04-12 21:42] #4118 closed

[2016-04-12 21:46] mikem8361 commented on #4244
From Gregg on shutdown crash related to this problem:

This means that clrdbg is crashing. The only _known_ crashes for clrdbg are with shutdown, especially because of the fact that there are races in the case that the process immediately exits without starting CoreCLR because process.cpp(1636) causes non-deterministic behavior – what happens is that we resume the process after RegisterForRuntimeS

[2016-04-12 21:48] swgillespie commented on #4118
@syalachigere Can you share the contents of your json file? If GC settings are not getting propagated from there to the runtime, that's an issue we should fix.

[2016-04-12 22:05] mikem8361 commented on #4298
I may have introduced this race when I added TerminateDebugger (which NULLs g_pDebugInterface) sooner in EEShutdownHelper during the first pass of shutdown where on Windows it happens during the DllMain process detach callback which does NOT get called for xplat/Linux platforms.

I added TerminateDebugger so the transport pipe cleanup code would be called in the normal/clean shutdown case and so w

[2016-04-12 22:06] syalachigere commented on #4118
@swgillespie  From cli [documentation](https://github.com/dotnet/cli/blob/rel/1.0.0/Documentation/specs/runtime-configuration-file.md#appnameruntimeconfigjson).

[code]

[2016-04-12 22:14] rahku opened #4306 "port stackwalker fix"

[2016-04-12 22:24] alsemenn opened #4307 "Error in passing structure to native method on OSX"
On OSX debug build (both native and managed) following occurs:
The number written by native part is not 10 (see attached source code).
But if struct layout changed to Sequential (in .cs file) everything works fine.

[src.zip](https://github.com/dotnet/coreclr/files/216055/src.zip)

[2016-04-12 23:08] janvorli commented on #4307
The reason is that CoreCLR interop on amd64 cannot pass structs with explicit layout by value in registers. Only sequential layout is supported.

[2016-04-12 23:14] #2234 closed

[2016-04-12 23:14] #2237 closed

[2016-04-12 23:16] alsemenn commented on #4307
Is there is a way to learn about from some documentation? Or is there a way to add warnings about the issue, so other developers doesn't fall in the same trap?

[2016-04-12 23:19] janvorli commented on #4307
@jkotas do you know if we have it documented somewhere?

[2016-04-12 23:37] manu-silicon commented on #3977
@jyoungyun The difference in the number of tests is related on how I build first the test on Windows and then copied them over to the Linux ARM device. As @myungjoo is saying, having the XML file would enable us to compare and see what the differences are.

[2016-04-12 23:42] RussKeldorph commented on #3234
Fixed by #4296.

[2016-04-12 23:42] #3234 closed

[2016-04-13 01:29] ramarag opened #4311 "Compiler optimization assumption invalid: FAILED: pMgr != 0"
Starting:    System.Reflection.Tests

Assert failure(PID 5960 [0x00001748], Thread: 3988 [0x0f94]): Compiler optimization assumption invalid: FAILED: pMgr != 0

CORECLR! coreclr_shutdown + 0x1DBD0 (0x00007ff8`1dd53750)
CORECLR! GetCLRRuntimeHost + 0x4F0B4C (0x00007ff8`1e31621c)
CORECLR! <no symbol> + 0x0 (0x00007ff8`1dd11a48)
CORECLR! <no symbol> + 0x0 (0x00007ff8`1dd11eb4)
CORECLR! GetCLRRuntimeH

[2016-04-13 01:40] ramarag commented on #4109
Also found when running corefx tests:
Common.Tests
System.Collections.Tests
System.Linq.Parallel.Tests

[2016-04-13 01:45] krytarowski commented on #3287
Fixed by @janvorli

[2016-04-13 01:45] #3287 closed

[2016-04-13 01:46] krytarowski commented on #810
I don't understand what really means build infrastructure? Build slave?

The sources build and run all PAL tests modulo https://github.com/dotnet/coreclr/pull/3240

[2016-04-13 01:47] krytarowski commented on #2090
Fixed by @janvorli in master.

[2016-04-13 01:50] ramarag commented on #4132
cc @gkhanna79

[2016-04-13 04:19] #2224 closed

[2016-04-13 05:13] RussKeldorph commented on #2414
Not sure what @hoyMS was observing.  These are still failing for me.

[2016-04-13 05:51] mikeschuld commented on #4132
@ericeil Even with `liblttng-ust-dev` removed, I am still getting the same lttng errors when trying to call `dotnet run` on the standard `dotnet new` content. dpkg is telling me that `liblttng-ust-ct12` and `liblttng-ust0` are still installed and cannot be removed without also removing `dotnet` (I installed from the package, not by building)

It sounds like on your end you have things running now,

[2016-04-13 07:04] jkotas commented on #4307
cc @yizhang82

@yizhang82 Do we have documentation somewhere about what to be careful about when writing managed views of unmanaged structs?

We have never treated structures with explicit layout as HFAs or HVAs. It started with Windows on arm that was the first platform with HFAs that CoreCLR was targeting and we have maintained the same design since then.

[2016-04-13 07:51] tishion commented on #4156
I think this is obviously incorrect usage of windows API. Although windows introduced api-set schema from windows 7, the upper layer application should still use APIs from win32 subsystem modules. Those modules with prefix API-MS-WIN or EXT-MS-WIN contain only API redirection information. Each of these modules is a collection of the APIs within the same functional category. But the real implementa

[2016-04-13 10:07] mjsabby commented on #4132
@ramarag Something like Option 3 but instead we do could a check to see if lttng is enabled? There are multiple reasons why depending on lttng during the early boot process isn't necessarily desirable. I think the fact that file exists is not enough and we need another indicator that we should even search for the libcoreclrtraceptprovider.so

@mikeschuld For the time being, just delete the libcore

[2016-04-13 10:47] mikedn commented on #4156
That's not quite true, universal apps actually link directly to api sets. And AFAIR apps intended to run on Nano server do the same thing. Maybe they were initially intended to be used internally but that's no longer the case. And the only reason why "normal" desktop apps don't usually use these api sets is that some/all of these api sets do no exist on earlier version of Windows.

But @jkotas is

[2016-04-13 14:11] janvorli commented on #4298
@mikem8361 I am assigning this issue to you.

[2016-04-13 14:19] Lukazoid commented on #4167
What's the best workaround for this currently?

[2016-04-13 15:38] brianrob commented on #4132
Today, LTTng has a requirement that we load at start-up.  If we don’t do this (e.g. delete the tracepoint provider lib), then all tracepoints become no-ops for the life of the process.  So, we load at start-up so that we have the ability to profile later if we need to.

From: Mukul Sabharwal [mailto:notifications@github.com]
Sent: Wednesday, April 13, 2016 3:08 AM
To: dotnet/coreclr <coreclr@norep

[2016-04-13 16:27] svick commented on #1784
@SunnyWar How could an unknown-sized array returned from a method be stack allocated? Unless `Split` (and `SplitInternal` and say `InternalSplitKeepEmptyEntries`) is inlined, I don't see how could that be done.

Or are you talking about some "early free from heap" approach and not "stack allocate"?

[2016-04-13 16:29] tijoytom commented on #4193
Same as https://github.com/dotnet/coreclr/issues/4307

[2016-04-13 16:30] tijoytom commented on #4193
@yizhang82 We should definitely emit a warning  or even throw an exception for sure.. I spent almost a day trying to debugging this yesterday.

[2016-04-13 16:47] yizhang82 commented on #4193
@tijoytom Thanks for looking into this. Unfortunately I don't think it is right thing to do to emit a warning in compiler nor throw in runtime - as there is no good way to tell whether that matches native side. We should invest in tooling so that this never happen - writing an correct struct that has same layout as native is a very challenging task that we should leave to tool, and not real humans

[2016-04-13 17:17] SunnyWar commented on #1784
@svick I'm talking about "early free from heap" though if "stack allocate" accomplishes the same thing then I'm all for it! Every time I see "new" on something simple that has a scoped lifetime I wonder to myself, "Why does this need to be garbage collected at all? Isn't it obvious to even a brain-dead compiler that it is scoped, has no references, and was passed to no fuctions (in othe words: is

[2016-04-13 17:55] stephentoub commented on #4167
Thanks for opening the issue.

If you control the code calling Cancel, you could wrap it in a try/catch.  You could also skip using CreateLinkedTokenSource, create your own CTS instance, and just do your own linking and unlinking (where you register with each constituent token and have that registration call Cancel on your CTS, basically what LCTS does for you), which would let you wrap the exact

[2016-04-13 18:04] mikedn commented on #1784
And how do you clean it up immediately? The GC heap doesn't have any mechanism that allows you free a single object. And adding such a mechanism isn't exactly trivial.

[2016-04-13 18:29] SunnyWar commented on #1784
@mikedn

If the GC has no mechanism to free up a single object, then how does the GC clean up a single object?
What am I missing here?

[2016-04-13 18:40] GSPP commented on #1784
@SunnyWar this capability could be added. If the object to be freed is the last one in the current segment the allocation pointer can just be decremented.

There have been dynamic escape tracking schemes implemented like this. Escape analysis and tracking can use a mix of static and dynamic analysis. It also can work with dynamically sized objects and variable amounts of objects.

I think a pragma

[2016-04-13 18:45] CarolEidt opened #4315 "Update IsLocalVarAddrExpr() to recognize address expressions (lea)"

[2016-04-13 18:48] CarolEidt commented on #4315
This came up in the discussion of PR #4303, which improved the GC barrier check to handle not just ADDR(LCL_VAR) but expressions involving lclVar addresses, using  `IsLocalAddrExpr()`.However, it was pointed out that `IsLocalAddrExpr()` doesn't consider a GT_LEA of a local address to be a local address expression. It should be updated to do so.

[2016-04-13 18:56] mikedn commented on #1784
GC does not work like that, it doesn't free single objects. It basically moves around all the objects that are in use to eliminate the free space that may have accumulated between them. What you suggests require maintaining free lists and doing that in a GC allocator is a bit of a problem. Not because it is impossible or difficult but because not having to maintain such lists is one of the few adv

[2016-04-13 19:01] sivarv opened #4316 "[RyuJIT][Linux][Inliner] In-lining heuristic needs to be tuned for Linux ABI"
On Linux, there are no callee saved floating-point regs.  This suggests that in-liner multipliers or heuristics needs to be tuned to in-line methods with floating-point args more than on Windows.

[2016-04-13 19:36] AndyAyersMS commented on #4316
Any specific benchmarks that you think will benefit from improvements?

[2016-04-13 19:40] SunnyWar commented on #1784
@mikedn Thanks for the explanation. It's enlightening. I'm less interested in how difficult it is than when it will be done. Though now I see why the discussion is about stack allocation.

[2016-04-13 20:30] sivarv commented on #4316
I think, floating-point Benchstone benchmarks and SIMD benchmarks on Linux should benefit.  Most of these benchmarks that do float math might have a one or two method calls inside the loop that if not in-lined would result in spilling of xmm reg allocated vars.

[2016-04-13 22:16] mellinoe opened #4318 "Math.Cos(double.MaxValue) returns different values on Windows and other platforms"
Scenario:
[code]
## Expected behavior
[double.MaxValue is returned](https://msdn.microsoft.com/en-us/library/system.math.cos(v=vs.110).aspx) according to the .NET Framework documentation:

## Actual behavior
on Windows, `double.MaxValue` is returned. On my Ubuntu test machine, -0.999987689... is returned.

This may be an acceptable difference in behavior, as long as we've acknowledged it. It seems

[2016-04-13 22:43] dagood opened #4321 "Publish NuGet symbol package in open builds"
Currently symbol packages are created (https://github.com/dotnet/coreclr/issues/4090 in PR https://github.com/dotnet/coreclr/pull/4218) but they aren't published in the current builds. This issue tracks getting the symbol package published from the new open coreclr build.

[2016-04-13 22:55] gkhanna79 commented on #4321
This is only about publishing the packages (which are being produced in the open).

[2016-04-13 23:51] tijoytom commented on #4193
@yizhang82 I fixed the test and disabled the specific scenario for now.

[2016-04-13 23:51] #4193 closed

[2016-04-13 23:55] #4226 closed

[2016-04-14 00:12] swgillespie commented on #4118
@syalachigere I was able to reproduce this on a CLI nightly, so I filed a bug to track it: https://github.com/dotnet/cli/issues/2485 . As a workaround, it works for me if you put the `runtimeOptions` object in your `project.json` file instead of in the `HelloWeb.runtimeconfig.json` file.

[2016-04-14 01:35] ygc369 commented on #1784
I'm happy that so many people are interested in my idea. Please have a look at another idea:https://github.com/dotnet/coreclr/issues/555, I think it's more interesting.

[2016-04-14 01:39] noahfalk commented on #4298
Its not safe to do all the shutdown activities that TerminateDebugger does until we've at least stopped all managed code from running. Its perfectly legal to have g_pDebuggerInterface != NULL but no debugger is attached. Perhaps you should author a new shutdown method that looks more like the logic we use when handling the DB_IPCE_DETACH_FROM_PROCESS message? From the debugger side we still want i

[2016-04-14 04:22] myungjoo commented on #4107
`typdid()` of `typeinfo` says it's `18PrestubMethodFrame`.

[code]

[2016-04-14 05:00] myungjoo commented on #4107
I have added another print-out:
[code]

Then, the result is more explaining itself:
[code]

[2016-04-14 06:31] yizhang82 commented on #4307
@jkotas Thanks. I didn't know about the HFA/HVA. This makes sense, but it is a rather subtle difference in how we handle HFA/HVA with regarding to C++ (C++ doesn't seem to care whether it is a struct vs union in this case, according to @tijoytom 's experiement in #4193 ).
The best doc I can find on related struct marshaling topic is this one: https://msdn.microsoft.com/en-us/library/eshywdt7(v=vs.

[2016-04-14 07:18] ygc369 opened #4328 "Please allow to define static local variables in functions, like C/C++"
The static local variables can only be used in the functions which define them. C/C++ have this feature.
For example:
void foo()
{
    static int call_times=0;
    call_times++;
    Console.Writeline("Function foo has been called {0} times", call_times);
}

[2016-04-14 07:37] mikedn commented on #4328
This has little to do with coreclr, it's a C# language feature request.

[2016-04-14 07:44] #4328 closed

[2016-04-14 08:30] kosta-arnorsky opened #4329 "System.Security.Cryptography.CryptoStream.Dispose throws an exception"
If Dispose method of System.Security.Cryptography.CryptoStream class which uses AES/Rijndael algorithm with padding is called before the ends of decryption a target data stream it throws the exception: System.Security.Cryptography.CryptographicException: Padding is invalid and cannot be removed.
It's especially unpleasant when decryption is interrupted by an uncaught exception:

[code]
Actual Resu

[2016-04-14 09:06] janvorli commented on #4107
The PrestubMethodFrame inherits from FramedMethodFrame, which in turn inherits from TransitionFrame. And looking at TransitionFrame::GetSP, I can see this:
[code]
So my guess is that this is what gives us the incorrect SP.
Probably the C++ TransitionBlock size doesn't match the amount of data created on the stack by the ASM macro or the m_pTransitionBlock member of the frame is incorrect (which wo

[2016-04-14 09:17] janvorli commented on #4329
@kosta-arnorsky This is a corefx, not coreclr issue. Could you please report it in the corefx repo?

[2016-04-14 13:01] GSPP commented on #2470
How is resurrection supposed to be disallowed? Almost any reference assignment could be a resurrection.

[2016-04-14 13:14] GSPP opened #4331 "Introduce a tiered JIT"
Why is the .NET JIT not tiered?

The JIT has two primary design goals: Fast startup time and high steady-state throughput.

At first, these goals appear at odds. But with a two-tier JIT design they are both attainable:
1. All code starts out interpreted. This results in extremely fast startup time (faster than RyuJIT). Example: The `Main` method is almost always cold and jitting it is a waste of t

[2016-04-14 13:33] kphillisjr opened #4332 "Build Instructions for Raspberry Pi devices"
I was looking over the documentation and noticed that there is no information how to run CoreCLR on the [Raspberry Pi](https://en.wikipedia.org/wiki/Raspberry_Pi).
- [ ] Instructions to build/run CoreCLR on **Raspberry Pi 1** series - This SOC features a single ARM1176JZF-S cpu core. This means that the device features the [ARM11](https://en.wikipedia.org/wiki/ARM11) Micro-architecture.
- [x] Inst

[2016-04-14 13:39] janvorli commented on #4332
@kphillisjr Linux ARM support is still in development

[2016-04-14 14:33] gkhanna79 commented on #4132
Based upon this discussion, it appears that we should understand why loading libcoreclrtraceptprovider.so is different from between WSL and Ubuntu and drive the discussion from there.

Unless we want to treat WSL as a different platform target (e.g. known as RID - runtime identifier - in nuget parlance) from Ubuntu, we should continue to binplace libcoreclrtraceptprovider.so as the file, in additi

[2016-04-14 14:43] gkhanna79 commented on #4132
CC @janvorli

[2016-04-14 14:55] RussKeldorph commented on #4331
@GSPP Tiering is a constant topic in planning conversations.  My impression is that it's a matter of *when*, not *if*, if that provides any solace.  As to *why* it's not already there, I think it's because, historically, the perceived potential gains didn't justify the additional development resources necessary to manage to the increased complexity and risk of multiple codegen modes.  I should rea

[2016-04-14 14:56] kphillisjr commented on #4332
@janvorli, I know that Linux Arm support is a work-in-progress, and I personally would not mind helping with it's development, and I need documentation on how to get CoreCLR running on my arm device to be able to help with the Regression tests. I have the following boards ready to use.

- Raspberry Pi 1 Model B - I own one of the older 256 MB models.
- Raspberry Pi 2 Model B

[2016-04-14 15:01] janvorli commented on #4332
Ah, ok. Just in case you are not aware of that, there is some basic information on cross building for ARM Linux here:
https://github.com/dotnet/coreclr/blob/master/Documentation/building/cross-building.md

[2016-04-14 15:28] RussKeldorph commented on #2417
Fixed by #4327

[2016-04-14 15:28] #2417 closed

[2016-04-14 15:30] mikedn commented on #4331
Somehow I doubt that this is still relevant in a world of crossgen/ngen, Ready to Run and corert.

[2016-04-14 15:41] kphillisjr commented on #4332
I was reading over documents and build documentation and noticed something. The Build configuration for ARM appears to be geared towards chips with VFPv3 floating point, this means chips like the  ARMv7-A (aka Cortex-A series ) or newer SoC. The [ARM1176 ](https://www.arm.com/products/processors/classic/arm11/arm1176.php) series found in the Raspberry Pi Model 1 supports only VFPv2 floating point.

[2016-04-14 16:17] GSPP commented on #4331
None of these deliver high steady state throughput right now which is what's important for most web apps. If they ever do, I'm happy with that since I personally don't care about startup time.

But so far all code generators for .NET have tried to make an impossible balancing act between the two goals, fulfilling neither very well. Let's get rid of that balancing act so that we can turn optimizati

[2016-04-14 16:26] mikedn commented on #4331
I agree but fixing this doesn't require things like an interpreter. Just a good crossgen compiler, be it a better RyuJIT or LLILC.

[2016-04-14 16:36] gkhanna79 opened #4333 "Remove WinRT APISet dependency from CoreCLR build."
Being worked upon in https://github.com/dotnet/coreclr/pull/4324

[2016-04-14 16:42] gkhanna79 opened #4334 "Static link libvcruntime.lib to eliminate dependency on VCRuntime140.dll"
CC @ericstj - Filing this to track the work for RTM per our discussion.

@weshaggard @ianhays - Filed https://github.com/dotnet/corefx/issues/7748 for CoreFX

@schellap - Filed https://github.com/dotnet/cli/issues/2503 for host.

[2016-04-14 16:44] gkhanna79 commented on #4318
@janvorli PTAL

[2016-04-14 16:56] drbo commented on #4331
I think the biggest advantage is for applications that need to generate code at runtime.  These include dynamic languages and server containers.

[2016-04-14 17:12] yizhang82 commented on #4307
Thinking about this more, I'm a bit concerned that in the case of an C/C++ union, there might be no way to create a equivalent managed struct with explicit layout that works everywhere due to HFA/HVA.
@tijoytom Can you do some quick experiments and see what the experience is like?

[2016-04-14 17:16] CarolEidt commented on #4331
It's true that dynamically generated code is one motivation - but it is also true that a static compiler will never have access to all of the information available at runtime. Not only that, even when it speculates (e.g. based on profile information), it is much more difficult for a static compiler to do so in the presence of modal or external context-dependent behavior.

[2016-04-14 17:23] ericstj commented on #4334
The uber goal of this is to make xcopy work well for both DOTNET CLI and standalone apps.  Today they require VCRedist: a machine-wide install.  This change eliminates the dependency on VC redist and only depends on the UCRT OS update.  That update is pushed through WU so most machines will have it, whereas most machines will not have VCRedist.  Keeping UCRT dynamic keeps our servicing cost down.

[2016-04-14 17:44] #4208 closed

[2016-04-14 18:29] gkhanna79 opened #4336 "Enable Serviceable Attribute for mscorlib"
@weshaggard I am assigning this to you to look into enabling the attribute for mscorlib build.

[2016-04-14 18:45] janvorli commented on #4318
Here is top of the call stack of the Math.Cos invocation on Linux:
[code]
and here is the source:
[code]

So the behavior clearly reflects the C++ math library `cos` behavior on each platform.
I would prefer keeping it as is instead of adding the overhead of simulating the windows behavior.

[2016-04-14 19:08] mellinoe commented on #4318
Yes, this is what I expected to be the cause, but it's good to have confirmation. I am fine with this behavior difference as well, but I wanted to call it out to make sure it had seen some scrutiny other than my own. I'm not sure if we have a list of such low-level behavioral differences, but if we do we should document this one.

[2016-04-14 19:12] janvorli commented on #4318
I am not aware of such a list. @richlander do we have some doc where a list of platform specific differences as @mellinoe has suggested would fit?

[2016-04-14 21:17] mikedn commented on #3839
@MichalStrehovsky Do you think it's worth supporting arrays with lower bounds != 0? C# doesn't directly support such arrays so the compiler will never generate a call to `InitializeArray`.

[2016-04-14 21:32] adityamandaleeka commented on #3646
This is probably related to the OOM scenario that was causing strange failures last month. Since that's been addressed and this doesn't seem to be occurring anymore, I'm closing this issue now.

[2016-04-14 21:32] #3646 closed

[2016-04-14 22:03] MichalStrehovsky commented on #3839
C# doesn't, but there could be a different compiler that does support it (VB used to allow that, but now it screams at me when I try anything but 0, so I guess they dropped it).

That said, .NET Native currently doesn't support non-zero lower bounds and since I'm a .NET Native guy, I don't have concerns about not supporting it in the codegen.

[2016-04-14 22:10] weshaggard commented on #4336
@joperezr can you please add the extra metadata need to get the serviceable attribute applied to mscorlib.

[2016-04-14 22:38] parjong opened #4344 "ARM Regression / Assert failure: isRuntimeSuspended"
On ARM/Linux, CoreCLR currently failed to execute "Hello, World" console application with the following message:
`
Assert failure(PID 1059 [0x00000423], Thread: 1059 [0x0423]): isRuntimeSuspended
    File: /home/parjong/projects/toolchains/coreclr/src/vm/arm/stubs.cpp Line: 487
    Image: /mnt/dotnet-c235ae17cd3a87f8032948bdcb838641d8e6c055/corerun
`

I checked various commits, and attached the re

[2016-04-14 22:39] LLITCHEV opened #4345 "Add a command option to crossgen to not run SN verification"
Adding this per our discussion...
Add a command option to crossgen to not run SN verification

[2016-04-14 22:54] joperezr commented on #4336
Sure, does this mean you want to move that attribute down to the versioning targets instead of having it in the common targets?

[2016-04-14 23:12] leemgs commented on #4344
@kouvel, Could you check your existing PRs? It seems that you patches make running break of Linux/ARM.

\CC: @jkotas , @benpye

[2016-04-14 23:40] AndyAyersMS commented on #3664
@RussKeldorph @sergiy-k I don't understand why this was closed. Many of the tests are still excluded. If the underlying issues were fixed we should be running some of these tests now.

[2016-04-14 23:40] myungjoo commented on #4344
@kouvel Could you please enlighten us on this regression issue? (looks like c235ae17 is causing one (at least) for Linux ARM)

[2016-04-14 23:43] jkotas commented on #4345
There should be no SN verification in crossgen at all. I got rid of it some time ago.

[2016-04-14 23:56] LLITCHEV commented on #4345
@jkotas Few days ago I had issues loading old (internally built) libraries while crossgenning due to SSn verify. Talked to @JohnChen0 and had to disable it in the code. He suggested I open this issue.

[2016-04-15 00:14] kouvel commented on #4344
Hmm do you happen to have a stack trace for the assertion failure?

[2016-04-15 00:21] weshaggard commented on #4336
No. For mscorlib just set those metadata properties in the mscorlib project (or targets).

[2016-04-15 01:38] myungjoo commented on #4107
@janvorli Thanks! That really looks fishy to me as well.

Anyway, if I can't resolve this within today, I'll be able to continue working on CoreCLR almost two weeks later as I will be attending a whole different task (away from my ARM, build machines) for two weeks.

[2016-04-15 02:00] myungjoo commented on #4107
It looks like GetSP() forgot to count the floating point registers and a padding that adds 68 to SP in unixasmhelpersarm.S. I'm testing with the updated GetSP(). (+ 8 * 8 + 4).

[2016-04-15 02:10] myungjoo commented on #4344
[code]

[2016-04-15 02:52] ramarag opened #4350 "[Arm64]Jit Assert Failed (isValidSimm19(dstOffs)) in crossgen"
**Assert failure(PID 3884 [0x00000f2c], Thread: 4696 [0x1258]): Assertion failed 'isValidSimm19(dstOffs)' in 'ValueCollection[Guid,Byte][System.Guid,System.Byte]:System.Collections.Generic.IEnumerable<TValue>.GetEnumerator():ref:this' (IL size 17)

    File: e:\git\coreclr\src\jit\emitarm64.cpp Line: 7852**

[2016-04-15 02:53] ramarag opened #4351 "[Arm64] JitInterface Module::LoadHelperTable NYI"
when running manged exe against mscorlib.ni.dll

[2016-04-15 02:54] ramarag commented on #4350
@kyulee1 can you take a look ?

[2016-04-15 02:54] kouvel commented on #4344
Thanks @myungjoo, I'll post a fix shortly. I believe I have forgotten to include the g_fEEInit case in the call to StompWriteBarrierEphemeral.

[2016-04-15 04:24] myungjoo commented on #4107
It was because ThePreStub did not say directives that r0-r3 (which takes 0x10 of the stack) are saved while SP has moved for them with push{r0-r3}.

With .save {r0-r3} added to push{r0-r3}, `./corerun csc.exe` (no input file) now successfully runs in Linux/ARM.

With a .cs. file input, we get a whole another error. :)

[2016-04-15 04:50] myungjoo opened #4354 "ARM/Linux Assert Fail: Testing Roslyn 3."
After resolving #4107, along with three pending pull-requested commits, based on a commit before recent regression, CoreCLR-ARM/Linux runs `$ ./corerun csc.exe` well.

Now, I'm testing with the following test input for csc.exe to test CoreCLR (again, I'm not testing Roslyn. I'm using Roslyn to test CoreCLR, which I believe comprehensive. CoreCLR-Unittest takes more than 14 hours while Running Rosl

[2016-04-15 05:37] #4107 closed

[2016-04-15 05:41] #1157 closed

[2016-04-15 05:47] myungjoo commented on #4354
Although FEATURE_EVENTSOURCE_XPLAT is not defined for cpp world, it looks as if it is "yes" in C# world (XplatEventLogger.cs):

This cpp does not generate a compiler error:
[code]

But, this C# does create a compiler error:
[code]

[2016-04-15 05:47] jkotas commented on #4354
This looks like the issue being fixed by https://github.com/dotnet/coreclr/pull/3879/ that we have ratholed on. Would you mind taking the delta, incorporating the last round of my feedback into it, and very that it works on ARM?

[2016-04-15 05:48] manu-silicon commented on #4354
This is something I've been working on. The short workaround is to enable  FEATURE_EVENT_TRACE for ARM in CMakeLists.txt.

[2016-04-15 05:55] myungjoo commented on #4354
Yeah. #3879 looks the exact same issue. I'll test the workaround soon.

However, is {/src/mscorlib/*} supposed to have different compiler options (e.g., FEATURE_EVENTSOURCE_XPLAT) from other CPP sources?

This can potentially ruin all the other parts as well as long as we have #if macros in /src/mscorlib/*.

[2016-04-15 07:04] myungjoo commented on #4354
Wow. with FEATURE_EVENT_TRACE, `./corerun csc.exe null.cs` at ARM/Linux now gives some sane output:

[code]

Because this issue is going to be addressed by manu-silicon's work, I'm closing this.

[2016-04-15 07:04] #4354 closed

[2016-04-15 07:53] vanka78bg opened #4356 "Consider providing SIMD JIT intrinsics for Matrix and Quaternion operations"
Currently System.Numerics.Vectors takes advantage of certain JIT intrinsics provided by RyuJIT to accelerate some Vector operations. For instance, addind two Vector4 variables together would emit a single SIMD instruction for packed addition. In contrast, Matrix and Quaternion operations cannot take advantage of this due to a lack of JIT support. For example, transforming a Vector4 variable by a M

[2016-04-15 08:06] myungjoo commented on #4354
Although there is a local patch that is not yet verified to be good or bad:
[code]

We now have this:
[code]

[2016-04-15 09:27] mkborg commented on #4301
Default installation of Visual Studio 'Community' doesn't have 'common tools for Visual C++' necessary for 'coreclr' build. After default installation they shall be added explicitly in 'setup' utility:

    'Features'
    -> 'Programming Languages'
    --> 'Visual C++'
    ---> 'common tools for Visual C++'.

[2016-04-15 09:47] #4259 closed

[2016-04-15 10:19] leemgs commented on #3926
**Status Sharing**

I have summarized below the difference of the optimization levels to narrow the reason  why we always  get  the running error of the hello!!! console application in the release build mode.

`ubuntu-arm@chromebook$> llvm-as-3.5 < /dev/null | /usr/lib/llvm-3.5/bin/opt -O3 -disable-output -debug-pass=Arguments `

Below is a different optimization passes in LLVM (back-end engine).

[2016-04-15 12:46] redknightlois commented on #4331
Current implementation of RyuJIT as it is now is good enough for a Tier 1... The question is: Would it make sense to have a Tier 2 extreme optimization JIT for hot paths that can run after the fact? Essentially when we detect or have enough runtime information to know that something is hot or when asked to use that instead from the start.

[2016-04-15 12:47] redknightlois commented on #4356
+1

[2016-04-15 12:49] smoothdeveloper commented on #4301
@mkborg is it possible to change the message to "C++ compiler wasn't found, try to install it with Visual Studio 2015 setup tool" or something like this?

[2016-04-15 12:50] kyulee1 commented on #4350
Of course. Thanks for reporting this.

[2016-04-15 12:51] SuperJMN opened #4358 "No drawing/imaging/windowing subsystems?"
I think this scenario isn't covered by the framework.

It would be really good if there was a to create windows and draw on them. This could enable people to create cross-platform presentation frameworks, more easily. For example, it could make Perspex (https://github.com/Perspex/Perspex) be available in every platform with minimal changes.

[2016-04-15 12:57] GSPP commented on #4331
RyuJIT is by far good enough to be the tier 1. Problem with that is that an interpreter would have *far* faster startup time (in my estimation). Second problem is in order to advance to tier 1 the local state of executing code must be transferable to the tier 2 code (OSR). That requires RyuJIT changes. Adding an interpreter would be, I think, a cheaper path with better startup latency at the same

[2016-04-15 13:01] redknightlois commented on #4331
@GSPP That is true, but that doesnt mean you wouldnt know that on the next run. If Jitted code & instrumentation becomes persistent, then the second execution you will still get Tier 2 code (at the expense of some startup time) --- which for once I personally don't care as I write mostly server code.

[2016-04-15 13:32] svick commented on #4331
Instead of writing a brand new interpreter, could it make sense to run RyuJIT with optimizations disabled? Would that improve startup time enough?

Are you talking about C2, the Visual C++ backend? That's not cross-platform and not open source. I doubt that fixing both would happen anytime soon.

[2016-04-15 13:44] svick commented on #4265
You seem to be asking for a new API, so I think you should follow [the API review process](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/api-review-process.md) by posting this issue to [the corefx repo](https://github.com/dotnet/corefx).

[2016-04-15 14:08] GSPP commented on #4331
Good idea with disabling optimizations. The OSR problem remains, though. Not sure how difficult it is to generate code that allows the runtime to derive the IL architectural state (locals and stack) at runtime at a safe point, copy that into tier 2 jitted code and resume tier 2 execution mid-function. The JVM does it but who knows how much time it took to implement that.

Yes, I was talking about

[2016-04-15 14:44] leemgs commented on #3926
@jkotas, @benpye, @janvorli , I have updated the above "**Difference Summary among the 5 Build Modes**" to enable additionally RELWITHDEBINFO(*) and  MINSIZEREL(*) after fixing the running break of the `hello!!!` simple console application in RELEASE build mode in this month. If I have missed something for enabling normally 5 build modes, Please correct me.

**before)**
   DEBUG         CHECKED

[2016-04-15 14:51] RussKeldorph commented on #4356
@CarolEidt @dotnet/jit-contrib

[2016-04-15 15:00] RussKeldorph commented on #4332
@BruceForstall Does the CoreCLR JIT have any support for "A32," i.e. non-Thumb, instruction encoding generation?  If not, that would probably be a bigger hurdle to the Pi-1 than lack of VFPv3 support.  IIRC, ARM11 is ARMv6 and doesn't support Thumb-2, which is the usual target for the ARM JIT.

[2016-04-15 15:03] myungjoo commented on #3926
@leemgs You are mixing up two different things here.

1. Policy of Release/Debug/* Build
2. ARM Release Build Bug

They are totally different topics and easily confusing. Let's not mix them up in a same thread.

[2016-04-15 15:07] myungjoo commented on #4358
I guess it is not related with CoreCLR (the runtime), but with the library (such as Xamarin Forms or CoreFX although CoreFX generally doesn't cover UI/UX.).

[2016-04-15 15:32] leemgs commented on #3926
@myungjoo , Right. I will create a new thread for "2. ARM Release Build Bug" to avoid confusing after a business trip.

[2016-04-15 16:07] jeffschwMSFT opened #4362 "Unhandled Exception: Cannot print exception string because Exception.ToString() failed."
While trying to get Newtonsoft.json working, I noticed an error with unhandled exception messages.

Dotnet --info
.NET Command Line Tools (1.0.0-rc2-002394)

Product Information:
 Version:     1.0.0-rc2-002394
 Commit Sha:  3a423b1080

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.10586
 OS Platform: Windows
 RID:         win10-x64

Repo:
dotnet new
notepad project.json
{
  "versio

[2016-04-15 16:12] stephentoub commented on #4362
Could this be the same as https://github.com/dotnet/coreclr/issues/3412, which was fixed in https://github.com/dotnet/coreclr/pull/3858 ?

[2016-04-15 16:47] GSPP opened #4365 "Heap objects with custom allocator and explicit delete"
.NET only supports automatic lifetime for managed objects. The GC cleans up. This is fantastic for productivity. Sometimes, developers need tight control over latency, though. The GC can interfere with that goal.

This has been discussed at length in many place. I believe the team is aware of this issue. Although great strides have been made improving the GC this is still an important concern. It

[2016-04-15 16:55] benaadams commented on #4365
Destructible Types? https://github.com/dotnet/roslyn/issues/161

[2016-04-15 17:02] GSPP commented on #4365
That proposal seems to be safe, automatic resource management. My proposal is unsafe and manual all the way. This is about giving maximum control.

Thanks for pointing out the "near duplicate", though. It is useful to contrast the two. @benaadams

[2016-04-15 17:09] Janiels commented on #4365
In any case this will be a very minor change, maybe even no change. The GC can already differ between its own objects and objects it does not own - it is specified in ECMA-335 that this must be allowed:
[code]

Here the GC has to update the managed pointer passed to `Method` only if it points into an object it owns, which it obviously doesn't in the first case, but does in the second case.

[2016-04-15 17:12] #4344 closed

[2016-04-15 17:29] GSPP commented on #4365
@Janiels I did not even know that `ref` can do that! Is this *supposed* to work or a compiler bug? I did not find anything in the spec that specifies what exactly can follow `ref`. See §5.4 and §7.5.1.

You are right. Here, `value` could point to anything: Unmanaged memory, stack, heap field, array element. The GC must deal with all of that already.

[2016-04-15 17:38] galvesribeiro commented on #3805
Awesome work! I saw you already found hosting already. Keep going! If you need any infrastructure service that I can help like storage or CI please let me know. I can put it on our Azure account, no problem at all.

[2016-04-15 17:39] BruceForstall commented on #4332
The RyuJIT legacy_backend path only supports the Thumb-2 ISA.

[2016-04-15 17:40] mkborg commented on #4301
@smoothdeveloper
Indeed it is possible. ;-)
Unfortunately I am from Linux world and fixing Windows build is my last priority.
I just had been forced to run Wiindows build to get unit test binaries which can't be built on Linux.
So I met the above issue and tracked it down to the culprit.

Let me share one extra piece of knowledge:

According to "coreclr/Documentation/building/windows-instructions.

[2016-04-15 17:41] Janiels commented on #4365
@GSPP I don't know whether it is supposed to work on the C# side of things, but in the CLI it definitely is. ECMA-335 states:

I have personally used this feature in C++/CLI for clean wrapper code that can work with both unmanaged and managed memory (since a `pin_ptr` pointing to unmanaged memory is specified to work and be ignored by the GC).

[2016-04-15 17:58] GSPP commented on #4365
Alright. Does this not mean that we can immediately write this allocator system on the current CLR using a tiny C++/CLI library or using `ILGenerator` to generate tiny helper functions to do this?

This crashes with internal corruption errors, though:

        public static void Main()
        {
            try
            {
                var lib = LoadLibrary("kernel32.dll");
                va

[2016-04-15 18:01] mikedn commented on #4365
Unmanaged/managed pointers and object references are not the same thing. It's true that managed pointers can point to unmanaged memory but that doesn't imply that object reference too can do that. I suspect that it is more or less technically possible but I don't think there's anything that allows this in the current ECMA spec.

I don't think that this should be a property of the type. Not only th

[2016-04-15 18:05] #4336 closed

[2016-04-15 18:09] Janiels commented on #4365
@mikedn I'm aware of that. What I'm saying is that the ECMA states that unmanaged pointers can be converted to managed pointers. For this to be supported the CLR has to be able to answer the question I quoted from the feature request - whether the GC owns an object at the specified address.

@GSPP Maybe so. I know you can reinterpret objects with a structure with Explicit layout, however that does

[2016-04-15 18:19] AndyAyersMS commented on #3510
With older powershells, the build tool restore step fails quietly, and the build then fails in a fairly obscure fashion.

The restore failure should really be more prominent.

It is extra confusing because the build tool restore downloads a prebuilt CoreCLR, so as you note there is more than one CoreCLR.exe around....

You can [download](http://social.technet.microsoft.com/wiki/contents/articles/2

[2016-04-15 18:42] sergiy-k commented on #4329
/cc @joshfree

[2016-04-15 18:46] joshfree commented on #4329
I moved this to https://github.com/dotnet/corefx/issues/7779

[2016-04-15 18:46] #4329 closed

[2016-04-15 18:51] Janiels commented on #4365
As a POC, this seems to work on desktop CLR:
[code]
It's missing getting the size of T (not sure how -- probably through the type handle somehow), and sync block indices are not handled at all (I think these are negative offsets).

On CoreCLR I don't think `TypedReference` is implemented, so this way won't work there.

[2016-04-15 19:19] mkborg commented on #3510
That 'hidden' download is very annoying. If it fails for any reason then the only solution is to restart build and watch how it redownloads almost everything again and again. In my case time spent for dowload several times exceeds time spent for actual build. I would prefer to explicitly download all dependencies only once and reuse them on each rebuild.

[2016-04-15 19:31] GSPP commented on #4365
I agree with that now. @mikedn

@Janiels That is a really nasty hack :) My next idea for a hack would have been to use `ILGenerator` to emit `T ToRef<T>(IntPtr ptr) { ldarg.0; ret; } where T : class`. Also, you'd need a "template" instance of `T` to copy over the object header! This makes `GetType()` and `lock` work. This is fun :) Probably breaks dozens of .NET CLR invariants.

I feel we should n

[2016-04-15 19:36] gkhanna79 commented on #4333
Resolved with https://github.com/dotnet/coreclr/pull/4359

[2016-04-15 19:36] #4333 closed

[2016-04-15 19:37] gkhanna79 opened #4366 "Remove APISet Nuget package Dependency from CoreCLR package"

[2016-04-15 19:37] gkhanna79 commented on #4366
CC @weshaggard @schellap @piotrpMSFT

[2016-04-15 19:40] Maoni0 commented on #4365
You could construct an object perfectly but you can't call new with it...I am not aware if there's a way to tell new to goto your own allocator.

Regardless this still doesn't integrate. If you assign this to an object field, obj.x = something_I_constructed_that_looks_like_a_managed_object, GC will attempt to trace through it and it will fail. Unless this is passed as a special type that tells GC

[2016-04-15 19:41] mikedn commented on #4365
Yes, it has to be able to answer that and it does that. But managed pointers are quite restricted, they can live only on the stack. That makes them rather uncommon and so are any potential perf issues associated with answering the question.

It also has a good chance of corrupting memory or crashing as soon as you try to store a reference into such an object.

The issue is derailed from the beggin

[2016-04-15 19:55] SunnyWar commented on #4365
@mikedn

I've heard things like this before on many projects. It amounts to "we can't do it because we don't do it now" which is self-limiting. Never let historical decisions dictate future possibilities.

[2016-04-15 19:58] gkhanna79 commented on #4366
@weshaggard I have removed all APISet imports from CoreCLR and fixed the Interop ones to be delayloaded (on Win8+). The only ones that will remain are for uCRT by design.

I am looking into removing the dependency on APISet nuget package and during the initial P0 run, I see that there are bunch of failures since FX has dependencies called out on APISets for PInvoke (https://github.com/dotnet/coref

[2016-04-15 20:00] mikedn commented on #4365
Neah, this only has to do with people getting overly enthusiastic and claiming that a solution for a problem exists when even the problem is not understood, much less the solution.

[2016-04-15 20:10] Janiels commented on #4365
I'll definitely admit it wasn't well tested. I didn't do much more than a few allocations and GCs. And I definitely won't argue with @Maoni0 whether it will work or not. :smile:
At least it was interesting to me than the object reinterpretation worked with `TypedReference`. But yes, as @GSPP says, now we're getting off-topic. I'll eagerly await @Maoni0's post.

[2016-04-15 20:16] AndyAyersMS opened #4367 "Corerun (or something) munges the task description on windows"
When running the CoreCLR tests, the corerun processes hack the description seen in TaskManager to just say `build`.
This seems to be a recent innovation.

![image](https://cloud.githubusercontent.com/assets/10121823/14573796/1206a992-030c-11e6-8543-2ee84f06223b.png)

[2016-04-15 20:21] AndyAyersMS commented on #4367
(edit) -- it's the task description, not the command line.

[2016-04-15 20:40] mikedn commented on #3839
OK, I ended up adding support for such arrays anyway. The whole thing is trivial anyway except the IL tests and the pesky x86 call arg ordering. I'll have it ready for review by Monday, assuming that anyone from the JIT team has time for review...

[2016-04-15 20:45] masonwheeler commented on #3510
@AndyAyersMS Having the download link there is useful.  Having it [in the official build process documentation](https://github.com/dotnet/coreclr/blob/master/Documentation/building/windows-instructions.md) would be much more useful.  Right now, anyone who doesn't know to look at this specific issue has no way of knowing that the build process requires a certain minimum version of PowerShell.

[2016-04-15 20:54] AndyAyersMS commented on #3510
Agreed.  I've started working on a patch to detect this and other issues in tools restore. Not sure I have the ability to properly test it, though.

[2016-04-15 20:57] #4067 closed

[2016-04-15 21:00] weshaggard commented on #4366
No we don't currently have any plans to stop using Api-sets for the Pinvokes in the managed libraries. However we could potentially pull in the ApiSet package at a higher level than the Runtime package. @ericstj what would be a good layer to pull in ApiSets if Runtime no longer needs them?

[2016-04-15 21:06] mikedn commented on #4367
This probably entered with #4308 or a related change. CoreRun has a native.rc file which defines `#define FX_VER_FILEDESCRIPTION_STR "Microsoft CoreCLR EXE launcher\0"` but then there's fxver.rc and _version.h with their `#define VER_FILEDESCRIPTION_STR     "build"`

[2016-04-15 21:08] AndyAyersMS commented on #3510
@mkborg can you test out [this potential patch](https://github.com/AndyAyersMS/coreclr/tree/CheckToolRestore)? If It works I'll update the docs too.

I'll see if I can find a Win7 box to try it on... maybe I have one lying around here somewhere.

[2016-04-15 21:15] AndyAyersMS commented on #3510
This is mainly to detect and flag errors, so it may not keep you from needing to repeatedly try downloads if there are network issues. But once one download succeeds it should be good for a while, until you sync a change where someone's updated the buildtools....

[2016-04-15 21:18] #3199 closed

[2016-04-15 21:33] #4040 closed

[2016-04-15 21:34] mkborg commented on #3510
Unfortunately right now I am far away from my Windows box. I will be able to test the patch only on Monday when I return back.

[2016-04-15 21:52] #2964 closed

[2016-04-15 22:09] AndyAyersMS commented on #3510
I found win7 box, and verified that the powershell version check fires. Will send this out for PR.

[2016-04-15 22:13] leemgs commented on #3805
@galvesribeiro , :) Thank you so much. Could you provide the your storage as another mirror service to archive old versions?

[2016-04-15 22:25] galvesribeiro commented on #3805
@leemgs no problem at all. I want this ARM port doing so I hope anybody later can get it into old armv6l devices as well.

Regarding the storage, ping me later today on Gitter so I can create an storage account and give you the keys. If a linux host is also needed to build the CI just let me know there as well and we can arrange that.

Good work! :)

[2016-04-15 22:32] ericstj commented on #4366
We could treat them like the UNIX shims.

[2016-04-15 22:53] weshaggard commented on #4366
Yes lets do that.

[2016-04-15 22:58] sergiy-k commented on #3664
The excluded tests should be re-enabled.

The failures were caused by a problematic test case that was running in parallel with these tests. The problematic test case (which was added around March 9-10) was indefinitely allocating memory in a loop to create an OOM condition. This was causing other running in parallel tests to fail randomly.

[2016-04-15 23:58] #4156 closed

[2016-04-16 00:03] LLITCHEV commented on #4276
Fixed y PR #4346

[2016-04-16 00:03] #4276 closed

[2016-04-16 00:26] swaroop-sridhar commented on #3824
We are now able to run several tests with GCStress on ARM64.
Resolving this issue, since test pass is covered by #3825

[2016-04-16 00:26] #3824 closed

[2016-04-16 00:56] myungjoo commented on #3635
This looks like Xplat issue as @manu-silicon has mentioned. @leemgs, Let's retry this with recent binary. It looks like it is going to success this time.

[2016-04-16 01:00] sergiy-k commented on #4271
/cc @ericstj

[2016-04-16 01:27] DavidObando commented on #3802
:eyes:

[2016-04-16 01:38] ericstj commented on #4271
We haven't published the package to NuGet.org yet.  /cc @Pilchie

It will be published soon, in the meantime you can add the feed https://dotnet.myget.org/F/dotnet-core/api/v3/index.json.

[2016-04-16 02:04] ramarag commented on #3715
Implement ZapIndirectHelperThunk::SaveWorker

[2016-04-16 02:17] swaroop-sridhar opened #4379 "GCInfo: Encode Gc-ness of Return Type"
We currently cannot do GCStress after direct calls on native images because the GCInfo for the type is not encoded in the GCInfo.

@jkotas  wrote:
"The fundamental problem is that the method return hijacking has to run type loader to figure out GC-ness of method return type. Running type loader (ie a ton of random code) during GC is very delicate and bug-prone endeavor. Recording GC-ness of method

[2016-04-16 04:39] leemgs commented on #4344
FYI. We can normally run in the debug-build mode on "Linux/ARM Emulator" with commit number f21291a702a4247b1dd1c3219eaf5319e94df061 (Apr-16-2016) after the PR (#4352) of @kouvel.

[2016-04-16 07:03] leemgs commented on #3635
@manu-silicon , FYI. I  tried to test the effect of your PR some days ago in order to know whether or not the PR could normally run "`arm#> crossgen mscorlib.dll`" command on Linux/ARM emulator. At that time, I confirmed that the PR could not resolve this issue.

@myungjoo, I have tried to test the "`arm#> crossgen mscorlib.dll`"  command again with 1) the latest commit number (f21291a702a4247b1dd

[2016-04-16 07:36] leemgs commented on #3805
@galvesribeiro, Yes, I will ping you today on Gitter (dotnet/coreclr).

[2016-04-16 07:58] myungjoo commented on #3635
That error used to shown up with MSCORLIB.DLL if there is a P/Invoking function from MSCORLIB.DLL to libcoreclr.so, which is missing in libcoreclr.so. By enabling FEATURE_EVENT_TRACE in CMakeList as a workaround mentioned in #4354, the function was enabled in libcoreclr.so and the error was gone.

[2016-04-16 08:01] myungjoo commented on #3635
You can further look into this issue by printing out the contents of pMD at the failed assertion. If the missing function is being disabled by #if macro in CoreCLR source code, it's almost certain that it's to be fixed by the workaround mentioned in #4354 or by the PR proposed by manu-silicon.

[2016-04-16 11:40] jasonwilliams200OK commented on #3125
Probably a good idea to create a repo like https://github.com/FreeBSDonHyper-V/hv-kvp and then port hv-kvp to NetBSD. After that there is integration service: https://github.com/FreeBSDonHyper-V/FreeBSD-Integration-Service and Azure automation https://github.com/FreeBSDonHyper-V/azure-freebsd-automation.

This will probably complete the pre-reqs to build NetBSD VM on Azure adn upload to https://vm

[2016-04-16 11:43] krytarowski commented on #3125
CoreCLR builds in the upstream version and passes all PAL tests.

Can I develop HyperV port without Windows? I don't use nonnetbsd machines, I can access remotely a Linux one..

[2016-04-16 13:00] krytarowski opened #4380 "PAL_VirtualUnwind - is there need to add special case for NetBSD?"
File: src/pal/src/exception/seh-unwind.cpp

[code]

How to check if I need the extra code path enabled also for NetBSD?

[2016-04-16 13:00] krytarowski commented on #4380
@janvorli ^

[2016-04-16 16:32] janvorli commented on #4380
To check if you need that, just create a simple .NET app that throws an unhandled exception - as simple as throwing Exception from Main without any try / catch around it. If the app hangs, you need the workaround. If it prints the unhandled exception message and then dumps core, you don't.

[2016-04-16 17:13] gkhanna79 commented on #4366
@weshaggard Assigned this to you to drive this ahead.

CC @rahku

[2016-04-16 17:21] gkhanna79 commented on #4334
I have a PR to fix this at https://github.com/dotnet/coreclr/pull/4381

[2016-04-16 17:40] krytarowski commented on #4380
I gave this a try:

[code]

And the result is as follows:

[code]

Is it everything to check? Is it fine?

[2016-04-16 18:03] jasonwilliams200OK commented on #3125
I think at this point NetBSD has better CoreCLR feature coverage than FreeBSD. So :+1: for the NetBSD buildslave. :)

In my understanding:
* To configure the build slave on CI server, the dotnet Jenkins is running on Windows Azure cloud.
* To run NetBSD VM on Windows Azure cloud, NetBSD needs to be Hyper-V compliant.
* To make NetBSD Hyper-V compliant, some tools need to be ported first:
  * hv-kv

[2016-04-16 18:35] krytarowski commented on #3125
I don't want to make lack of Azure support right now blocking. Azure isn't relevant to .Net.

[2016-04-16 18:38] jasonwilliams200OK commented on #3125
CoreCLR CI server runs on Azure.

[2016-04-16 18:39] krytarowski commented on #3125
Anyway someone from the CI team should tell what's the status.

[2016-04-16 19:05] ellismg commented on #3125
If you can provide step by step instructions on how to take a FreeBSD system and set up whatever additional software we need to get NetBSD working (and then how in NetBSD to set up the tool chain) we can start to figure out how to get this to work in our CI system.

[2016-04-16 19:13] ellismg commented on #3125
Within NetBSD we also need to install Java (since the Jenkins daemon needs it) so if you have instructions on how to do that as well, it would be helpful.

[2016-04-16 19:14] krytarowski commented on #3125
I have got prepared a script for Linux and qemu+kvm:

http://mail-index.netbsd.org/netbsd-users/2015/10/05/msg017003.html

ftp://ftp.netbsd.org/pub/NetBSD/misc/kamil/autoinst.sh

NetBSD-7.0 had a bug with virtio so please use the standard driver for networking and disk (not virtio).

[2016-04-16 19:29] krytarowski commented on #3125
I had the following scripts:

[code]

Once you will get a functional system, I will tell you how to get the dependencies and Jenkins.

[2016-04-16 19:33] janvorli commented on #4380
No, I meant testing it with a managed app. Or, alternatively, you can try to get a current context somewhere with a call stack containing only native frames and then calling the PAL_VirtualUnwind on that context in a loop until you get zero in the IP. If it keeps looping forever, you need that fix. So something like this:
[code]

[2016-04-16 19:37] nbyouri commented on #3125
Jenkins and Java, which Jenkins depends on are available in pkgsrc and should work on NetBSD.

[2016-04-16 19:56] krytarowski commented on #3125
My suggested steps to start:

1. Get installed the system with autoinst.sh
2. Get pkgsrc-wip to build coreclr-git with its dependencies:

[code]

3. Build coreclr-git

[code]

4. Run PAL tests

[code]

5. Install Java and Jenkins @nbyouri might help with it hopefully.

[2016-04-16 21:49] discostu105 opened #4382 "Profiling: How to get GC Metrics in-process"
Let's say, you have a profiler which is loaded inside of the process via Profiling API. Let's say you want to capture the impact the GC has on your process (just the CLR in the process your profiler is loaded in). Stats that would be interesting are: Gen0,1,2,LOH collection count and duration. Which native API would I use to properly get such statistics periodically with low overhead?

Some though

[2016-04-16 22:50] krytarowski commented on #3125
I was told that to run Jenkins we need to install:
- Java

[code]

- Jenkins

[code]

I got example commands to run:

[code]

[code]

The rest is up to you how to configure it.

[2016-04-16 22:55] discostu105 commented on #4382
Btw: I'm not sure if it's better to ask such questions on StackOverflow or on Github. Please let me if I should use SO instead.

[2016-04-17 05:11] kphillisjr commented on #4332
For the most part it should be fairly easy to implement a Thumb back-end if the Thumb-2 ISA is already in place. The only major change is that Thumb lacks some of the newer instructions found in Thumb-2. Also, I do know that ARM has a couple of quick reference cards that should help with identifying the instructions that are not available.

- [ARM and Thumb-2 Instruction Set Quick Reference Card](

[2016-04-17 07:46] mgravell commented on #4365
Just to respond to an explicit mention:

<https://github.com/mgravell>?

Not really. In general when I have data with this problem, I have **lots**
of them, so a block alloc (managed or unmanaged) is more interesting than
individual allocs. In the specific case of tag-engine, we're in the process
of a fundamental v2 overhaul/rewrite, with a view to making it work on GPUs
(with CPU fallback, but no

[2016-04-17 12:13] nbyouri commented on #3125
Alternatively, you could use packages to avoid wasting time compiling. Jenkins and Java are available here: ftp://ftp.netbsd.org/pub/pkgsrc/packages/NetBSD/amd64/7.0_2015Q4/All/

[2016-04-17 12:26] krytarowski commented on #3125
@nbyouri we need 2016Q1 as there is llvm+lldb+clang+libunwind in proper version (autoinst.sh will fetch this version of pkgsrc and allow to build them from sources). Not sure when the prebuilt packages will be uploaded.

[2016-04-17 13:11] GSPP commented on #4365
@mgravell you could still block allocation those objects. Downside is they now waste 16 bytes on the object header each. Upside is you have normal managed references. No need to pass indexes and arrays around, or pointers. To clarify: This would not involve the GC at all.

You also could have managed objects living in memory shared with the GPU.

[2016-04-17 21:13] krytarowski commented on #4380
Thank you, I will test it.

[2016-04-17 21:39] krytarowski commented on #810
I'm hoping to get a CI bot running NetBSD via https://github.com/dotnet/coreclr/issues/3125

After it I think we can close this ticket.

[2016-04-18 09:00] krytarowski commented on #3125
Martin Husemann from the releng@ team told me that NetBSD-7.0.1 will be released pretty soon. While it's good to exercise with 7.0, we can setup the bot with 7.0.1 (we can easily upgrade later from 7.0).  The 7.0.1 version should have the virtio bug squashed.

[2016-04-18 13:03] myungjoo commented on #4380
If you are confident with GDB and C/C++ programming, you may test with a sample C app that has functions calls from main() and see what libunwind (unw_step() ) returns with the topmost stack starting from main(). If cursor has already reached the topmost and calling unw_step() on the cursor again returns 0 and the same PC, you need this.

That "special" condition is required for the case where PAL

[2016-04-18 16:30] #2472 closed

[2016-04-18 17:27] #4334 closed

[2016-04-18 18:46] brianrob commented on #3131
Is there any additional information on this?  We'll need this for performance tracing on Windows as well.  Thanks.

[2016-04-18 18:47] gkhanna79 commented on #3131
@noahfalk Have you had a chance to think about this?

[2016-04-18 18:49] mellinoe commented on #4358
Yes, this is probably a better fit for dotnet/corefx as it's library-related rather than runtime-related.

Depending on what level of control you want, there are already some options for you. For example, you can already use [OpenTK](https://github.com/opentk/opentk) and [SharpDX](https://github.com/sharpdx/SharpDX) on CoreCLR if you'd like. OpenTK has some windowing functionality built-in as well

[2016-04-18 19:25] ianhays commented on #4334
CoreFX equivalent - https://github.com/dotnet/corefx/pull/7840

[2016-04-18 20:31] swgillespie commented on #4331
An interesting article on this topic: Apple recently moved the final tier of their JavaScript JIT away from LLVM: https://webkit.org/blog/5852/introducing-the-b3-jit-compiler/ . We might encounter similar issues to what they encountered: slow compile times and LLVM's lack of knowledge of the source language.

[2016-04-18 20:39] joperezr opened #4395 "[Code Cleanup] Scripts shouldn't handle special case of Official Builds for versioning"
Today build.cmd and build.sh both generate the required info for versioning to work, and in the case of it being an official Build, it parses an argument that gets passed in in order to funnel it down to the call where we generate this files. This shouldn't be done, and have the Official Builds flow through a different way of generating those files.

cc: @weshaggard

[2016-04-18 21:19] GSPP commented on #4331
10x slower than RyuJIT would be totally acceptable for a 2nd tier. I don't think that the lack of knowledge of the source language (which is a true concern) is inherent in LLVM's architecture. I believe multiple teams are busy moving LLVM into a state where source language knowledge can be utilized more easily. *All* non-C high-level languages have this problem when compiling on LLVM.

[2016-04-18 21:23] tijoytom commented on #4307
@yizhang82 @janvorli @jkotas

I did some experiments with it and the below scenarios wont work on all platform unless the native method signature can be changed.

Managed Definition
--------------------------

[StructLayout(LayoutKind.Explicit)]
    public struct ExplStruct
    {
        [FieldOffset(0)]
        public int a;
        [FieldOffset(0)]
        public int b;
        public ExplStruct

[2016-04-18 21:43] noahfalk commented on #3131
I haven't spent much time on it. Last I heard this wasn't a pressing issue but perhaps something has changed. As far as I knew:
a) Debugging scenarios - only need the symbols generated from csc which are already being created
b) ICorProfiler scenarios - not officially supported yet and don't depend on symbols directly
c) tracing/perf scenarios - we are using perfmap files as a substitute for nativ

[2016-04-18 21:58] brianrob commented on #3131
For tracing/perf, we don’t need PDBs for Linux/OSX, but we do need them for Windows.

From: noahfalk [mailto:notifications@github.com]
Sent: Monday, April 18, 2016 2:44 PM
To: dotnet/coreclr <coreclr@noreply.github.com>
Cc: Brian Robbins <brianrob@microsoft.com>
Subject: Re: [dotnet/coreclr] PDB Generation for Crossgen (#3131)

I haven't spent much time on it. Last I heard this wasn't a pressing i

[2016-04-18 22:22] RussKeldorph commented on #3664
@AndyAyersMS I'm working on #4397 to reenable b14426 and pi-digits, but you write that "*Many* of the tests are still excluded."  Would just like to confirm: are there more I'm missing that are excluded via some means other than the .targets and .txt files immediately under the test folder?  I only found b14426 and pi-digits there, but I could easily have made a mistake.

[2016-04-18 23:02] AndyAyersMS commented on #3664
First entry in this thread shows lots of tests failing and presumably also excluded, though I haven't double-checked to see if that's the case.

In general an exclusion mechanism w/o tagging is going to lead to lots of questions about which issues (if any) are tracking failures and resolutions. Tagging has its own set of problems, but at least when some issue is fixed we have some idea which tests

[2016-04-18 23:27] RussKeldorph commented on #3664
@AndyAyersMS Agreed the current exclusion mechanism is less than ideal, though at least it is "being worked on."  I can't find evidence the other tests listed above are disabled.  Spot checking http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/master/job/checked_windows_nt/lastCompletedBuild/testReport/JIT/, they appear to be running, so I'll assume that's the case.

[2016-04-18 23:31] AndyAyersMS commented on #4331
@GSPP I'm sure you probably know about [LLILC](https://github.com/dotnet/llilc). If not, take a look.

We have been working for a while on LLVM support for CLR concepts and have invested in both EH and GC improvements. Still quite a bit more to do on both. Beyond that some there's unknown amount of work get optimizations working properly in the presence of GC.

[2016-04-19 00:25] RussKeldorph opened #4400 "Possibly unreliable test: GC.API.GCHandleCollector.Usage.Usage"
Test failed for a PR that should have made no difference.

http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/master/job/checked_ubuntu_tst_prtest/872/testReport/

GC.API.GCHandleCollector.Usage.Usage
MESSAGE:
BEGIN EXECUTION /mnt/j/workspace/dotnet_coreclr/master/checked_ubuntu_tst_prtest/bin/tests/Windows_NT.x64.Checked/Tests/coreoverlay/corerun Usage.exe Case 1 Passed! 100, 100 Case 2 Passed!

[2016-04-19 00:27] swgillespie commented on #4400
possibly related to https://github.com/dotnet/coreclr/issues/4093, will investigate

[2016-04-19 01:49] noahfalk commented on #3131
So I'm guessing ngen.exe produces PDBs but for whatever reason crossgen.exe does not? I haven't looked into it at all at this point. Was there anything in particular you were hoping I would look into? I'd imagine its a hopefully straightforward port from ngen.exe to crossgen.exe.

[2016-04-19 04:22] brianrob commented on #3131
NGEN.exe can produce PDBs.  Crossgen.exe produced in legacy internal builds can as well.  The open build of crossgen.exe cannot produce PDBs.  I'll admit that I don't know why, but I'm sure there's a good reason.  @JohnChen0, can you comment on this?

[2016-04-19 04:53] bendono opened #4402 "Callstack is trashed after an exception"
The native callstack is trashed after a managed exception is thrown.

Environment: Windows 7 64-bit.

Reproduction steps:
1. Compile a simple program that throws an uncaught exception. Example used here:
`
using System;

public class Foo
{
	public Foo()
	{
		Console.WriteLine("[Foo] Constructor");
	}

	public void Set(object o)
	{
		Console.WriteLine("[Foo] Set");

		if (o != null)
		{
			Internal

[2016-04-19 05:00] jkotas commented on #4382
cc @Maoni0

[2016-04-19 05:03] #4194 closed

[2016-04-19 05:09] jkotas commented on #4402
The "Unable to read dynamic function table entries" error messages are WinDbg security feature that prevents loading unknown out of proc stack walkers. To get rid of these errors:

- Add the full path to mscordaccore.dll that lives next to the coreclr.dll to `HKLM\Software\Microsoft\Windows NT\CurrentVersion\KnownFunctionTableDlls` registry key
--- or ---
- Run `.settings set EngineInitialization.

[2016-04-19 05:09] jkotas commented on #4402
cc @mikem8361

[2016-04-19 05:37] jkotas opened #4403 "FEATURE_EVENTSOURCE_XPLAT cleanup"
Move the implementation of XplatEventSourceLogger QCalls into separate `.h/.cpp` files to simplify ifdefs (see discussion in #3879).

[2016-04-19 05:48] JohnChen0 commented on #3131
In order to create PDB, we need to `#include <cvinfo.h>`, which isn't available to open source. (At least it wasn't available when CrossGen was ported to open source build.)

[2016-04-19 06:24] parjong opened #4404 "[ARM32] System.AccessViolationException during exception handling"
On ARM32, CoreCLR currently shows unexpected behavior for the following code:
[code]

When running the above code, CoreCLR shows the following outputs:
[code]

The normal behavior would be the following:
[code]

[2016-04-19 06:36] parjong commented on #4404
It seems that currently there is something wrong with EH funclet. I found that CoreCLR encounters access violation at the following point:
[code]
Executing the instruction at ``0x71c274e8`` leads to invalid memory access (since ``R11`` is ``0``).

[2016-04-19 07:01] yizhang82 commented on #4196
This looks like another instance of HVA/HFA issue:

native code is using rdi/rsi:

->  0x102fb2ee4 <+4>:  movl   %edi, -0x18(%rbp)
    0x102fb2ee7 <+7>:  movq   %rsi, -0x10(%rbp)

While our IL stub is passing through xmm0:

x108b5f793: vmovdqu -0x50(%rbp), %xmm0

[2016-04-19 07:02] mjsabby commented on #3131
@noahfalk I'm assuming the unsupported comment is pending confirmation that GetFunctionFromIP on the EIP will work on NGEN and R2R images. The former certainly does on Windows.

While I'm here, is it by design that crossgen doesn't support profile enhanced images? I was thinking of using them to make my life easier to discover FunctionIDs for a profiler test I'm doing. Right now I'll have to do so

[2016-04-19 07:17] bendono commented on #4402
@jkotas Thank you. I was not aware that mscordacwks.dll needed to be whitelisted in KnownFunctionTableDlls. Full .Net seems to register it, too, which is obviously why I have not run into this before. After doing that, the stack looks good:
![04](https://cloud.githubusercontent.com/assets/846533/14630421/968a7cc2-0648-11e6-9644-e3724d794d93.png)

As does the mixed stack trace:
![05](https://cloud.

[2016-04-19 07:39] yizhang82 commented on #4196
Confirmed this is a CoreCLR bug and my PR fixes this.

[2016-04-19 08:24] myungjoo commented on #4404
It looks like you've stripped out the binary and not included debug information of libcoreclr.so. There might be more information for the stacks from libcoreclr.so.

[2016-04-19 08:34] myungjoo commented on #4404
It looks like r11 is being used as a frame pointer (r7 is FP in native world, r11 is FP in managed world) according to the instruction usage. We need to find out who has saved the context to r2 along with stacks beyond 2.

[2016-04-19 08:35] jyoungyun commented on #3977
@manu-silicon I attached xml file. Thank you.

[2016-04-19 09:30] parjong commented on #4404
@myungjoo

It seems that calling to the managed code spoils the native call stack. CallEHFunclet (at src/vm/arm/ehhelpers.S) seems to jump into managed code whose address is provided via R1.

When it is called, GDB shows the following call stack:
[code]

The call stack is visible until "blk r1" is executed:
[code]

Executing 'blk r1' spoils the call stack
[code]

[2016-04-19 09:33] myungjoo commented on #4404
GDB cannot track the managed stack. That's not a bug and that's why we need libsosplugin.so working for ARM.

[2016-04-19 09:51] parjong commented on #4404
It looks like CallEHFunclet recoves r11 before calling EH Funclet. It includes ``ldm r2, {r4-r11}``:
[code]

It means that there is a memory chunk that stores R4 - R11. IMHO, it should be included in the code of Main function (as catch should use the context of Main). I checked the output from JIT (by setting COMPlus_JitDisasm as "Main"). Here is the output:
[code]

I guess that ``add     r11, sp,

[2016-04-19 09:59] masonwheeler opened #4407 "Build.cmd fails to download necessary files"
With the latest coreclr checkout, when running `build clean` on Windows 7, one of the initial steps is to download build tools. This step is currently failing:

[code]

The contents of `init-tools.log`:

This appears to be a problem of poor synchronization between the build script and the servers.  Can someone look into it?

[2016-04-19 10:19] myungjoo commented on #4404
Check if the third argument of CallEhFunclet() from exceptionhandling.cpp:3331 is correct. r2 is the third argument of the function call. (r0=1st, r1=2nd, ... r3 = 4th)

[2016-04-19 14:01] jkotas commented on #4402
We should set the registry key for the shared runtime installed via the MSI. It will fix the problem for some cases at least.

[2016-04-19 14:42] davzucky opened #4408 "Archlinux - mscorlib build is failing because of dotnet cli native"
# Problem Summary
I'm trying to enable the support of building corecrl on ArchLinux. The build of all the native library is working, however mscorelib.dll is failing because it cannot get the dependency using dotnet cli. This is the same problem for building corefx managed library

# Root Cause
The package dotnetcli used is build again Ubuntu 14.4 which is using two old libraries. They are a longe

[2016-04-19 14:45] davzucky opened #4409 "Archlinux - Enable Support"
Following on this problem that I raised with Archlinux [#4408](https://github.com/dotnet/coreclr/issues/4408) I would still make progress to enable the support of the platform

# Getting Archlinux support move forward
This is the first goal that I have. For that I could imagine the following step to get started,

1. Building manually a dotnetcli package for archlinux and getting it deploy
2. Updat

[2016-04-19 15:07] myungjoo commented on #4408
Statically linking native libraries should be optional (e.g., `$ build.sh static`) and the bootstrapping binaries should be guaranteed to be built static.

Updating init-tools.sh accordingly is sort of workaround because there will be other Linux distros or Linux-based software platforms with different versions of libraries or different build options for libraries (e.g., some use version suffixes

[2016-04-19 16:23] mikem8361 commented on #4402
I'll do that but it won't help the standalone case.  Isn't that more typical?

[2016-04-19 16:35] jkotas commented on #4402
Depend on the defaults for given app type, e.g. I believe that ASP.NET apps default to use the shared runtime.

[2016-04-19 16:56] gkhanna79 commented on #3131
@JohnChen0 Is this available in the public VC SDK?

Also, what would be the story for PDB generation for non-Windows for profiling?

[2016-04-19 17:01] kyulee1 commented on #3131
With regard to `cvinfo.h`. it's available in public -- https://github.com/Microsoft/microsoft-pdb/blob/master/include/cvinfo.h which we're trying to use initially for object writer although we fall back to llvm's header later. BTW aren't we supposed to support portable PDB instead of full PDB for .NET Core consistently working across platforms?

[2016-04-19 17:07] mikem8361 opened #4410 "PAL_NotifyRuntimeStarted: cleanup RC2 "continue" named semaphore"
For backwards compatibility with RC2 dbgshim's, coreclr attempt's to open the old "continue" named semaphore.  This needs to be removed when we don't need RC2 vscode/dbgshim support.

[2016-04-19 17:16] kyulee1 opened #4411 "ARM64: Consistency check failure in GcInfoDecoder"
Failed in the following tests:
JIT\jit64\regress\vsw\539509\test1\test1.cmd
JIT\Regression\VS-ia64-JIT\V2.0-RTM\b539509\b539509\b539509.cmd

[code]

[2016-04-19 17:42] sejongoh opened #4412 "Assertion failed '!foundDiff' with PInvoke Vector3 return on Linux"
JIT hits an '!foundDiff' assertion with the testcase below to return a Vector3 object from the native side. The test passes on Windows.

- The managed testcase is built on Windows and the native code is built on Ubuntu 14.04.
- The testcase passes on Windows.

[code]

[Vector3Ret.cs]
[code]

[Vector3TestNative.cpp]
[code]

[2016-04-19 17:46] jacksontbryan opened #4413 "The type initializer for 'Crypto' threw an exception - Unix"
When starting my coreclr web application on a docker image, I receive the following exception:
The type initializer for 'Crypto' threw an exception. ---> System.NullReferenceException: Object reference not set to an instance of an object.

Full stack trace:
http://textuploader.com/5yccn

I have tried both update1 and update2 of coreclr.

I am utilizing the docker image:
microsoft/aspnet:1.0.0-rc1-

[2016-04-19 17:59] #4413 closed

[2016-04-19 18:10] yizhang82 commented on #1012
We have the API proposal out for review: https://github.com/dotnet/corefx/issues/7804

[2016-04-19 18:42] Maoni0 commented on #4382
If you look deeper in some of the categories you've mentioned, there's more info. perf counters is an exception as we made a decision to not invest more in perf counters when we did background GC in 4.0. So you get whatever support it offered before (which means not much support for background GC) when it's enabled. COR_GC_STATS works off of the perf counter info so is also not available if perf c

[2016-04-19 20:02] svick opened #4417 "What is Ready2Run?"
I've found some references mentioning the AOT technology Ready2Run (mostly in issues), but what I haven't found (by searching this repo or googling) is any actual documentation or explanation about it. My questions:

* What is Ready2Run?
* Where is it documented?
* What is the difference between Ready2Run and NGEN?

[2016-04-19 20:09] mikedn commented on #4417
Hmm, did you find [this](https://github.com/dotnet/coreclr/blob/master/Documentation/botr/readytorun-overview.md) in your searches?

[2016-04-19 20:14] svick commented on #4417
Oh, it's ReadyToRun, not Ready2Run, thanks.

[2016-04-19 20:14] #4417 closed

[2016-04-19 21:02] omariom commented on #4417
Always wanted to ask but didn't dare to know )

[2016-04-19 21:14] gregg-miskelly commented on #3544
I posted off road VS instructions: https://github.com/Microsoft/MIEngine/wiki/Offroad-Debugging-of-.NET-Core-on-Linux---OSX-from-Visual-Studio

Let me know if you have troubles. Thanks!
Gregg

[2016-04-19 21:14] #3544 closed

[2016-04-19 21:39] discostu105 commented on #4382
Although _ICorProfilerCallback2::GarbageCollectionStarted/Finished_ would provide the information I'm looking for, I know for a fact that it causes too much overhead. It needs to have a certain profiler capability enabled (_COR_PRF_MONITOR_GC_). Just by enabling it, Concurrent GC is disabled for example. Since I'm looking for a low-overhead solution, this is not a (good) option for me.

Too bad, _

[2016-04-19 21:39] JosephTremoulet commented on #2714
Yes, I'd expect the `and` you're seeing in the original example is from this code (in `CodeGen::getIntToIntCast` in codegenxarch.cpp):

[code]

which would explain why you're seeing it above in the example where the src/dst have the same register but not in the example where they don't.

[2016-04-19 21:45] noahfalk commented on #3131
@mjsabby - by 'the unsupported comment' did you mean 'ICorProfiler scenarios - not officially supported yet and don't depend on symbols directly'? If so what I mean is that there are no tests running which validate that ICorProfiler APIs work as they are supposed to. It might happen that the APIs work, but until we have tests running that can catch regressions and prove the APIs are working I won'

[2016-04-19 22:20] kyulee1 opened #4420 "ARM64: StackOverflowException."
JIT\Directed\tailcall\tailcall
JIT\Regression\JitBlue\devdiv_902271\DevDiv_902271
[code]

[2016-04-19 22:26] kyulee1 commented on #3969
Fixed via https://github.com/dotnet/coreclr/pull/4414

[2016-04-19 22:26] #3969 closed

[2016-04-19 22:26] kyulee1 commented on #3971
Fixed via https://github.com/dotnet/coreclr/pull/4414

[2016-04-19 22:26] #3971 closed

[2016-04-19 22:28] kyulee1 opened #4421 "ARM64: Assert PTR_VOID(pRD->SP) >= pRD->_pThread->GetCachedStackLimit()"
JIT\Performance\CodeQuality\SIMD\RayTracer\RayTracer
[code]

[2016-04-19 22:32] kyulee1 opened #4422 "ARM64: Assert failure thread->PreemptiveGCDisabled()"
Interop\NativeCallable\NativeCallableTest
[code]

[2016-04-19 22:36] kyulee1 opened #4424 "ARM64: Unaligned arglist failure (wrong results)"
JIT\Directed\prefix\unaligned\1\arglist
JIT\Directed\prefix\unaligned\2\arglist
JIT\Directed\prefix\unaligned\4\arglist
JIT\Directed\prefix\volatile\1\arglist

[2016-04-19 22:37] vancem commented on #4382
@brianrob

We have some tentative plans to wire all current ETW events back into managed code so that they look like and EventSource.    The idea is that events like GCStats would be available to you in-proc.

However this does not help you today.   As you have discovered, ETW does not really work well for 'self-monitoring' scenarios.

Another possibility is that it is also reasonable for use to h

[2016-04-19 22:43] Maoni0 commented on #4382
I have been advocating that we should have a low overhead GC profiling mode (but haven't succeeded :-) apparently this hasn't been an urgent thing to have for most of our customers who use the profiling API) - for some people it's enough to know some stats that are very cheap for the runtime to provide (eg, they don't need the root reference, or moved references and etc). And profiling has the ver

[2016-04-19 23:33] seanshpark commented on #4264
#4299

[2016-04-19 23:53] seanshpark opened #4428 "ARM, SOS: failed to load sos.so with lldb + libsosplugin.so"
I'm getting this error when I try to run any `sos` command

[code]
Anyone know or managed to handle this?

Environment
* running in Raspberry Pi 2 wit Ubuntu mate (15.10)
* CoreCLR + CoreFX + LLDB-3.8

Symbols are listed but seems undefined.
[code]

I've built coreclr like this.
[code]
I've added some changes to work with LLVM-3.8 (clang, lldb):  https://github.com/seanshpark/coreclr/commit/05a2c9

[2016-04-20 01:32] schaabs opened #4430 "SOS dumplog fails to print out full log content from coredump"
**I have noticed several core dumps where the stress log was enabled during runtime, and which appear to have g_theLog setup properly, but when the log is dumped it doesn't properly output messages.**

**A specific example of this is in the dump [projectk-24014-01-amd64ret.zip](https://dotnetjobresults.blob.core.windows.net/projectk-24014-01-stress/bfab6298-6db9-4ed1-bb6f-278452a140cf/stress/gener

[2016-04-20 01:34] bendono opened #4431 "Inconsistencies in native callstack (k) and mixed-mode callstack (!sos.clrstack -f) formating"
The native callstack (k) and the new mixed-mode callstack (!sos.clrstack -f) differ in how information is displayed.

1. With k, 64-bit addresses are separated with a **\`** halfway through, while !sos.clrstack omits them.<br />
    00000001`3fc074cb vs<br />
    000000013fc074cb
2. With k, function offsets are displayed in **hexadecimal**, while !sos.clrstack uses **decimal**. <br />
    Also not

[2016-04-20 02:05] bendono opened #4432 "[sos] Missing endline when final frame is HelperMethodFrame."
When displaying a managed callstack (!sos.clrstack), if the final frame is a HelperMethodFrame, the line misses an endline. For example:
![10](https://cloud.githubusercontent.com/assets/846533/14661306/8b13699a-06e7-11e6-85c2-249f9c9a60bf.png)

Other than the output of the final frame looking a little odd, the carat / cursor is actually in the IP column of the final frame. This becomes clear if yo

[2016-04-20 02:36] schaabs opened #4435 "SIGSEGV_libcoreclr.so!WKS::gc_heap::background_mark_simple1"
**The notes in this issue refer to the dump [projectk-24014-01-amd64ret.zip](https://dotnetjobresults.blob.core.windows.net/projectk-24014-01-stress/bfab6298-6db9-4ed1-bb6f-278452a140cf/stress/generated/09_01hr/projectk-24014-01-amd64ret_00BA/projectk-24014-01-amd64ret_00BA.csproj/projectk-24014-01-amd64ret_00BA.zip?sv=2015-04-05&sr=c&sig=wPF0xkSNXH5mty%2FLKGMAetXc9FTHVDrJAktjtbiqfIU%3D&se=2017-04

[2016-04-20 03:02] parjong commented on #4404
The 3rd argument fo CallEHFunclet seems to be correct (in my understanding). It comes from pContextRecord which is intended to capture the status of the first managed call stack.
[code]

It seems that PAL_VirtualUnwind failed to recover the value of registers. Here is the value of registers at various point:
[code]

However, when I checked ``pContextRecord`` before calling CallEHFunclet, it is not

[2016-04-20 03:57] #4196 closed

[2016-04-20 04:12] mikedn commented on #2714
@JosephTremoulet Yes, I ran into that piece of code recently but I have no idea why would the flags be needed after the cast. The obvious case, comparing the result of the cast to 0, doesn't need this as the JIT figures out that it can discard the cast and compare the original integer value to 0. Wonder if isn't some fallout from `FEATURE_SET_FLAGS` which is not defined.

[2016-04-20 04:45] davzucky opened #4436 "build.sh - Adding an option "static" that would build the native lib statically"
The idea of this flag is that it will allow to build the library statically so that the dotnetcli bootstrapping package use to build coreclr and corefx would only contain statically linked native library.
This will help on a lot on issue that poeples are facing because of the lib version difference (mainly icu and curl)
The param name : static
./build.sh static

[2016-04-20 04:46] davzucky commented on #4408
Look like we are on the same page. I like your idea of adding the static on the command line to allow to have two package, one for bootstrapping and one for each distribution.
I created a new issue to add the static param [#4436](https://github.com/dotnet/coreclr/issues/4436).
Let me know if you want to help

[2016-04-20 05:08] seanshpark commented on #4428
A simple test I've done with `clang++` in Ubuntu 14.04 x86_64

Source code: testARM.cpp
[code]

compile for x86_64 native:
[code]
and the symbol:
[code]

cross compile to ARM
[code]

and the symbol for ARM:
[code]
Anyone know about what I am missing with the options maybe? or this is absolutely normal?

where clang is
[code]

when using g++ / arm-linux-gnueabi-g++, same thing happens.

[2016-04-20 05:17] parjong commented on #4404
@myungjoo Could you let me know if you have any progress with #3462?

It seems that I found the reason why the exception handling failed. When CoreCLR attempts to unwind the stack frame, ``unw_get_reg`` (which is used inside ``PAL_VirtualUnwind``) produces incorrect values.

I found that the value of R6~R12 becomes invalid when CoreCLR attempted to unwind the following frame:
[code]
At the beginni

[2016-04-20 05:20] manu-silicon commented on #4428
I'm no C++ expert but objdump -d on the generated .o file shows that no code is being generated at all!
So this is not surprising that you have unresolved externals.

[2016-04-20 05:23] janvorli commented on #4436
@davzucky Which native library are you referring to? We build multiple native dynamic libraries - libcoreclr.so, System.Globalization.Native.so, libsos.so, libsosplugin.so, libmscordaccore.so, etc.

[2016-04-20 05:28] seanshpark commented on #4428
@manu-silicon , thank you for the comment.

yes, I think this is the problem. When I run `sos ClrStack` in lldb, it fails in `dlopen` maybe cause of no vtable symbol.

Can you point what is the externals in above test code? or what I should do?

[2016-04-20 05:34] davzucky commented on #4436
@janvorli,
The library which are causing problem from the bootstrapping package of dotnetcli which we download are :

- System.Globalization.native.so from coreclr : dynamically linked to libicu 52 of the build system
- System.Net.Http.Native.so from corefx : require an old libcrub package.

The idea for this flag is that it will allow to statically link for each of this native lib libicu and libc

[2016-04-20 05:38] manu-silicon commented on #4428
Someone with more C++ knowledge would know what is happening. I also checked that g++ does the exact same thing on arm.

[2016-04-20 05:39] manu-silicon commented on #3857
Closed via #3879

[2016-04-20 05:39] #3857 closed

[2016-04-20 05:41] manu-silicon commented on #3635
Now that PR #3879 is merged, can you update the status of this issue?

[2016-04-20 05:52] ellismg commented on #4408
Note that we already have basic support for (2) in the system today.  If you set `BUILDTOOLS_OVERRIDE_RUNTIME` to a path, we will copy every file in there into the runtime folders that `init-tools.sh` lays out.  We used this in the past to help bootstrap other systems.

See an example here: https://github.com/dotnet/corefx/blob/master/init-tools.sh#L62

[2016-04-20 05:56] ellismg commented on #4409
I'm interested to know if the native components built cleanly out of the box or there are changes that had to be made?

I responded to the other issue about some easy workaround you can use to help move things forward when trying to use `init-tools.sh`.

[2016-04-20 05:59] ellismg commented on #4408
In general we are hesitant to ship production versions of coreclr/corefx where we statically link to native libraries. However, I do think it would be good to explore some sort of static linking only for the runtime used by the build tools as a general fallback.

[2016-04-20 06:54] leemgs commented on #3635
@manu-silicon , I will check it as soon as go back the office from the business trip. Thank you for your contribution.

[2016-04-20 07:28] myungjoo commented on #4404
@parjong #3462 was about unwinding native frames until it reaches to a managed frame, which does not require us to get register information except for PC and SP. If it really requires to read registers other than such special purpose registers, it is beyond what #3462 requires.

If you want to ensure if the argument if correct, please don't feel ensured by the CPP code, but check out the actual me

[2016-04-20 07:42] mkborg commented on #4408
Usually shared libraries have version in file name. It allows to have several versions of the same shared library to be installed simultaneously.

[2016-04-20 07:49] mkborg commented on #4436
IMHO, using 'static' often assumes that everything is 'static'.
To avoid confusion I would suggest to use something like 'static_libicu' , 'static_libcurl', ...

[2016-04-20 08:10] mkborg commented on #4408
If for bootstrapping purposes build procedure needs some pre-built binaries then it would be preferable to include all dependency shared libraries into the same package with those pre-built binaries.

[2016-04-20 08:22] parjong commented on #4404
@myungjoo The third argument is the address of local variable ``unwindStartContext`` in function ``UnwindManagedExceptionPass1`` whose value is copied from ``frameContext`` in function ``DispatchManagedException``.

``DispatchManagedException`` first captures the current status by ``RtlCaptureContext`` (in my understanding, that is one the context saving macros that you mentioned. Am I right?).
 I

[2016-04-20 08:24] jyoungyun opened #4437 "Adding support to building coreclr unix tests in Linux"
According to below document(unix test instructions), we can not create the test sets in Linux. It only works on the Windows machine.
(https://github.com/dotnet/coreclr/blob/master/Documentation/building/unix-test-instructions.md)
If there is no logical issue to create unix test in Linux, I want to add buildtest.sh file.
It will be helpful for Linux users.

Please give me informations why linux mac

[2016-04-20 10:52] theDiverDK opened #4438 "Count missing on ICollection when running Dnxcore50 on docker"
Hi there

Im having a strange issue, when trying to run a fully working project in docker. When running on a windows server or in VS2015, it works as it should, but when running from docker i get:

[code]

The line 25 in the Reports.cs file is:
`if (report.Comment.Count(x => x.Title.ToLower() == "current state") == 0)`

Line 31 is:
`CommentCurrentState = report.Comment.FirstOrDefault(x => x.Title.

[2016-04-20 12:35] drbo commented on #4331
LLILC seems to be stalled.  Is it?
On Apr 18, 2016 7:32 PM, "Andy Ayers" <notifications@github.com> wrote:

[2016-04-20 12:55] JosephTremoulet commented on #2714
@mikedn yeah, that was my take -- seems to me that `gtSetFlags()` is giving a conservative answer, and it would be good to refine that answer by taking the context into account to see if anyone will consume the flags, but communicating that information is what `FEATURE_SET_FLAGS` is for and that, as you mentioned, is not defined.

[2016-04-20 13:15] janvorli commented on #4404
@parjong Could you please share the disass of the DispatchManagedException and JIT_Overflow functions? If I get you correctly, the unwind issue happens when unwinding from the DispatchManagedException to the JIT_Overflow frame, right?
Also, can you set breakpoints at both of those functions and see what the value of R11 is when you hit each of those?

[2016-04-20 13:36] davzucky commented on #4409
@ellismg,
The build of native component out of the box after installing the required dependency for archlinux which I summarize [there](http://blog.programmableproduction.com/2016/04/08/Building-CoreClr-On-ArchLinux/)
However I haven't run the test at the moment because they required to be build on Windows at the moment from the instruction.
I used the replaced the native library build on my machi

[2016-04-20 13:36] leemgs commented on #3635
@manu-silicon ,  I have tested the "arm@emul#> ./crossgen mscorlib.dll" command on Linux/ARM Emulator with the latest commit number that you mentioned. The result is same (failure). Please refer to the below contents. In your case, Can you normally generate the mscorlib.ni.dll after applying the PR #3879 ?

* Build command:
@u1404:/work/dotnet/arm-32/coreclr$ time ROOTFS_DIR=/work/dotnet/rootfs-co

[2016-04-20 13:40] davzucky commented on #4408
@ellismg, I will try using the ```BUILDTOOLS_OVERRIDE_RUNTIME``` env variable to get it working and keep you updated.Regarding the idea of statically linked lib, the idea is to generate the bootstrapping package of dotnetcli with that, not the package that would be deploy to your machine.

@mkborg, I agree that the shared library have version on the file name, however most linux would replace the

[2016-04-20 13:41] davzucky commented on #4436
@mkborg, good point. I like your suggestion.

[2016-04-20 13:52] myungjoo commented on #3635
The error message from @leemgs case implies that

FEATURE_STUBS_AS_IL is disabled as supposed for Linux/ARM for libcoreclr.so (native part of CoreCLR)
FEATURE_STUBS_AS_IL is ENABLED for mscorlib.dll.

As observed with another issue, #4354, (although it is resolved by a workaround), the compiler options (macros) are not being consistent between native build and managed build. We need some mechanism

[2016-04-20 14:03] SamuelEnglard opened #4440 "Marshal.AllocHGlobal should not throw OOM Exception"
Calls to `Marshal.AllocHGlobal` should not throw `System.OutOfMemoryException` since that may not actually be the reason for failure to allocate. In addition many times when a developer is explicitly allocating unmanaged memory in .NET they can recover from the failure themselves.

In .NET Framework I worked around this by simply making my own "Alloc" method that called `LocalAlloc` itself and thr

[2016-04-20 14:12] jkotas commented on #3635
It is defined here: https://github.com/dotnet/coreclr/blob/master/clr.coreclr.props#L91. Adding `Condition="'$(TargetArch)' != 'arm'" to it should fix this problem.

[2016-04-20 14:14] jkotas commented on #3635
The asserts that you are hitting are the mechanism to verify the consistency.

[2016-04-20 14:35] myungjoo commented on #3635
Ultimately (not a urgent issue to be resolve for now), such consistency should be guaranteed, not checked dynamically (depending on test cases).
Or at least, it should be verified statically and deterministrically.

Thank you for showing us the direction on how to make it consistent.
I'll keep in mind that any changes in CMakeList may require updates in mscorlib.dll side as well.

[2016-04-20 14:57] Tydude4Christ opened #4441 "Make Generic EventHandler Contravariant"
Is there any reason the generic EventHandler delegate was not made contravariant? As opposed to creating my own custom EventHandler delegate it would be much better if I could just use the built-in  one for my use case listed below.

    public abstract class Foo
    {
        public event EventHandler<FooEventArgs> FooEvent
        {
            add
            {
                FooEventAddOrRemo

[2016-04-20 15:22] russellhadley commented on #4331
@drbo - LLILC is on the back burner for the moment - the MS team has been focusing on getting more targets brought up in RyuJIT as well as fixing issues that come up as CoreCLR drives to release and that's taken pretty much all our time.  It's on my TODO list (in my copious free time) to write up a lessons learned post based on how far we've (currently) gotten with LLILC, but I haven't gotten to i

[2016-04-20 15:47] janvorli commented on #3912
Fixed by #4330

[2016-04-20 15:47] #3912 closed

[2016-04-20 16:17] #4232 closed

[2016-04-20 16:17] #4233 closed

[2016-04-20 16:17] #4234 closed

[2016-04-20 16:17] #4235 closed

[2016-04-20 16:17] #4236 closed

[2016-04-20 16:17] #4237 closed

[2016-04-20 16:47] myungjoo commented on #4428
Maybe sos-arm is trying to use `ARMMachine(const ARMMachine& machine);`, not `ARMMachine();`. `SOS_TARGET_ARM` is surely defined during the build, right?

[2016-04-20 17:01] justinvp commented on #4438
All of those missing definitions are from System.Linq.

[2016-04-20 19:06] sivarv opened #4445 "[Unix] CORINFO_HELP_STOP_FOR_GC helper preserves all registers that can be used for return values. But on Unix JIT is modelling this helper call as preserving rax/xmm0 only."
See vm\amd64\unixasmhelpers.S:: JIT_RareDisableHelper.

Look at RBM_STOP_FOR_GC_TRASH definition for amd64 unix.

[2016-04-20 19:57] KrzysztofCwalina commented on #2715
What if we simply exposed the setter for StackTrace property? Would it unblock the scenarios discussed here?

[2016-04-20 20:06] rogeralsing commented on #2715
@krytarowski No, because the serializers could never know what constructor to call as it is no longer possible to create empty objects using `FormatterServices.GetUninitializedObject`

We now how to guess/estimate which constructor we should call to create the instance.
That further makes serializers incompatible between platforms.
e.g. even Json.NET handles things this way for full and portable f

[2016-04-20 20:39] KrzysztofCwalina commented on #2715
All exceptions have (or should have) the default ctor + ctor taking string message. So it seems like it would work for exceptions. Wouldn't it?

And no matter what we do, to make a type serializable, the designer of the type needs to either implement an abstraction or follow some convention. It seems to me like the following convention would work: expose ctor with parameter names corresponding to

[2016-04-20 21:13] benaadams opened #4446 "Reduce IEnumerator allocation via interface"
Revisiting  #1579 /cc @stephentoub taking another shot at it...

If in addition to the struct enumerators another nested class was added to the generic collections that used the struct enumerator e.g. for `List<T>`

[code]

A new field added `private CachedIEnumerator _cachedIEnumerator;`

And the `IEnumerable<T>` implementations changed to

[code]

It would still allocate on first use, however `f

[2016-04-20 21:18] discostu105 commented on #4382
All in all, it seems like there are not perfect options which will help me short-term. I guess we'll need to go with ETW for now (with it's limitations). Looking forward, the ideas you mentioned are definitively interesting to explore for future versions.

@vancem

That certainly sounds interesting. My profiler has native+managed parts, so I could also consume stuff managed. Though, I have a sligh

[2016-04-20 21:39] OtherCrashOverride commented on #3544
Thanks for this information.  As an interim solution, it may satisfy the "letter" of the request, but it certainly circumvents the "spirit" of it.

Many developers have "locked down" environments where installing a gigabyte or more of dependencies (java, android sdk, android emulator) is simply not possible for anything other than test systems.  As these items are not even used for remote debuggin

[2016-04-20 21:43] janvorli commented on #4445
@sivarv This file is not used for Unix. The Unix implementation is in vm\amd64\asmHelpers.S and it saves all of those four registers.

[2016-04-20 22:06] gregg-miskelly commented on #3544
I don't disagree. We aren't where we want to be on this stuff yet.

BTW: You don't need the Android SDK, Java, etc.

[2016-04-20 22:09] sivarv commented on #4445
@janvorli - Thanks.

Jit is still modelling this helper call as preserving just rax/xmm0 on Unix.  This can be improved since VM helper is saving all 4 return regs.  I am going to re-purpose this bug for JITchange.

[2016-04-20 22:26] seanshpark commented on #4428
@myungjoo , problem seems not with SOS but how ARM compiler works with above `testARM.cpp` source. It doesn't generate any code in compile time.

[2016-04-20 22:32] parjong commented on #4404
@janvorli Yes, you are right. The issue happens when unwinding ``DispatchManagedException`` frame.

Here is the disass of ``JIT_Overflow``
[code]
Here is the value of registers at the beginning of ``JIT_Overflow``
[code]

Here is the disass of ``DispatchManagedException`` (I modified the code to call ``fprintf`` at the beginning)
[code]
Here is the value of registers and the call stack at the begi

[2016-04-20 22:54] eiriktsarpalis commented on #2715
@KrzysztofCwalina in principle it should improve things, though personally I would not want to expose the StackTrace property as settable by the average user. I'd rather have this achieved through helper methods hidden inside the System.Runtime namespace, so that it should only be used by developers of serialization libraries.

[2016-04-21 00:14] parjong opened #4452 "[ARM32] Assert failure (DENORMALIZE_CODE_OFFSET(NORMALIZE_CODE_OFFSET(callSite)) == callSite)"
CoreCLR from '2cb70487f01ac' commit shows the following assert failure when running 'Hello, World!!' example:
[code]

[2016-04-21 00:27] myungjoo commented on #4428
Yeah... this looks like ARM compiler bugs. However, if you pull ARMMachine::ARMMachine() out of class declaration (take all method definitions out of class):

[code]

suddenly we get proper objects.

This Is Really Strange. (may need to report for both gcc and llvm community)

[2016-04-21 01:13] seanshpark commented on #4428
@myungjoo , Yes, something like that. I think we've to go with a workaround. There needs some changes in also SOS/Strike/disasmARM.cpp. I'll make a PR.

[2016-04-21 02:02] parjong commented on #4452
Here is the test results with various commit.
- 2cb70487f01acadc201fcb8db6b29d29e56b3b7e Failed
- 4ca790ef4ac498341639726a5953976dd2c8099c Failed
- 7c0cf5f137709b61e4ee0448a1d29869c2d60812 Failed
- 7216f5fe20685962654143454c1caf383d581dee Failed
- fbaa5ce5068cd28eda3fadaf5af82bb332a723aa Failed
- 3f540a356f3e4d8f780010661e51dc620bee93f8 Failed
- ce80d93ba30edceb56fef854a5e9c62bd84357d3 Failed
- 24

[2016-04-21 02:19] seanshpark commented on #4264
as #4290 landed, we need to fix https://github.com/dotnet/coreclr/blob/master/src/ToolBox/SOS/lldbplugin/CMakeLists.txt also.
@Dmitri-Botcharnikov , have you made a patch?

[2016-04-21 02:45] parjong commented on #4452
Is it valid that ``DENORMALIZE_CODE_OFFSET(NORMALIZE_CODE_OFFSET(callSite)) == callSite`` here?

In my understanding, the value of callSite seems to be valid offset -1 rather than offset, and the comments at gcinfotypes.h also says that offests are encoded with a - 1 adjustment.

[2016-04-21 02:57] seanshpark commented on #4428
I may have to wait a patch to enable `lldb-3.8` before making this PR.

[2016-04-21 04:19] Maoni0 commented on #4382
Whether a feature flows back to full clr is determined case by case - it's all based on how much value it can bring to full clr customers and how much work it takes to flow back.

[2016-04-21 04:55] parjong commented on #4404
It seems that I found the solution. In ``WinContextToUnwindCursor``, it creates a fresh local variable of type unw_context_t, and uses it to re-initialize ``unw_cursor_t``.

I can execute the above code after I change the code to update existing ``unw_context_t``.

[2016-04-21 05:46] seanshpark commented on #4264
@janvorli , @jkotas

[2016-04-21 06:15] theDiverDK commented on #4438
Hi Justin.

There is a 'using System.Linq;' in the report.cs file that the docker version is complaining about, other places in my code i use other Linq functionality without any problems at all. :(

[2016-04-21 06:33] jkotas opened #4465 "ARM64: Funclet calling convention"
The funclet argument order used on x64 - first arg is establisher frame first, exception object second - allows for more compatibility between the various runtimes. We should change ARM64 to use the same order (it is passing the exception object first currently).

category:cq
theme:runtime
skill-level:intermediate
cost:small

[2016-04-21 06:40] jkotas commented on #4465
cc @russellhadley @BruceForstall

[2016-04-21 06:49] BruceForstall commented on #4465
@briansull @kyulee1 Kyungwoo: maybe you should take this?

[2016-04-21 07:14] Dmitri-Botcharnikov commented on #4264
Yes we have a patch for SOS plug-in to build it with llvm/lldb 3.8. We polish and prepare PR ASAP.

[2016-04-21 07:57] myungjoo commented on #4404
Good catch!

I just found that `unw_init_local` of libunwind-arm keeps the pointer of `unw_context_t`.

[2016-04-21 11:05] mikedn commented on #4446
How do you even know that the enumerator is used in a `foreach` statement? It's not a common scenario but people sometimes do use enumerators directly and when they do there's no way to know if they do it correctly.

If I understand correctly this involves adding a new field to collection classes that use this technique. This penalizes those who use collection classes directly and not through inte

[2016-04-21 11:08] benaadams commented on #4446
@mikedn I dropped the extra field in PR #4468

[2016-04-21 11:22] mikedn commented on #4446
I see, that's better.

In theory this looks like a good idea but it will probably be difficult to evaluated its true impact on performance. Keep in mind that you'll get different pools for different `T`s and then the total memory used by these pools starts to add up. And of course, the cost of getting an object from a pool and then adding it back is not 0.

Anyway, it's a good subject for discussi

[2016-04-21 11:23] myungjoo commented on #4428
GCC-ARM optimises this out thinking it is an inline function.
-fkeep-inline-functions allows GCC-ARM to keep the function definitions intact.
Maybe Clang has similar options to give you easy workaround as well..

[2016-04-21 15:05] kyulee1 commented on #4465
Yep. I can take this.

[2016-04-21 15:45] #3133 closed

[2016-04-21 17:14] kyulee1 opened #4474 "ARM64: _ASSERTE(pVASigCookie == pFrame->GetVASigCookie())"
JIT\jit64\mcc\interop\mcc_i00
JIT\jit64\mcc\interop\mcc_i01
JIT\jit64\mcc\interop\mcc_i02
[code]

[2016-04-21 17:16] kyulee1 opened #4475 "ARM64: System.InvalidProgramException: Common Language Runtime detected an invalid program"
JIT\jit64\mcc\interop\mcc_i03
JIT\jit64\mcc\interop\mcc_i11
JIT\jit64\mcc\interop\mcc_i31
JIT\jit64\mcc\interop\mcc_i51
JIT\jit64\mcc\interop\mcc_i61
JIT\jit64\mcc\interop\mcc_i71
JIT\jit64\mcc\interop\mcc_i81
[code]

[2016-04-21 17:46] RussKeldorph opened #4476 "Intermittent OSX PAL test failures dealing with deleting files"
@briansull has reported a few PAL test failures that appear to be unrelated to the change under test.  I have no evidence to decide whether these are infrastructure issues on the Mac machines versus test issues versus product bugs.  I just want to capture some of them here in case it's useful to do so.

http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/master/job/checked_osx_prtest/1168/
http:/

[2016-04-21 17:48] RussKeldorph commented on #4476
@sergiy-k  @mmitche FYI

[2016-04-21 18:48] #4445 closed

[2016-04-21 20:01] AndyAyersMS commented on #3775
This is largely done.

Haven't build a maximal subtree enumerator. Have plenty of data with just a linear enumerator. Still might be worth doing someday, or maybe as part of the performance modelling.

Models for code size and some simple heuristics based on them added in #4245. Model for throughput added in #4375.

Some raw data files with features and size and time data, and R scripts for analys

[2016-04-21 20:01] #3775 closed

[2016-04-21 20:04] AndyAyersMS opened #4477 "Inliner: methodology for code quality measurements"
## Inliner: methodology for code quality measurements

We'd like to measure the impact of inlining on performance, so we can
build predictive models. Ideally we'd measure the *isolated* impact of
just one inline, so that we can attribute performance change
accurately to the inline that is responsible.

For instance, if A calls B (A->B), we can measure two binaries, one
with A->B and the other with

[2016-04-21 20:43] ramarag opened #4479 "CrossComponents are not built incrementally"

[2016-04-21 20:47] briansull commented on #4420
I also see this failure more for these two EXPECTED_PASS tests:
JIT\Directed\UnrollLoop\loop2_cs_do
JIT\Directed\UnrollLoop\loop2_cs_ro

I am working on a fix

[2016-04-21 22:20] #4066 closed

[2016-04-21 22:41] seanshpark commented on #4428
Couldn't find something like `-fkeep-inline-functions` in Clang. :(

[2016-04-21 23:14] AndyAyersMS commented on #4477
I measured instructions retired and time on CscBench using xunit-performance.

I did 11 runs, each run doing 11 iterations. Discarding iteration 0,that gives 110 data points per benchmark, and CscBench has 2 benchmarks.

InstructionsRetired has a noise level (mean/sd) of about 0.6% on the first benchmark and 1.3% on the second. Time has a noise level of 1.2% and 2.2% respectively.

So Instructions

[2016-04-21 23:20] AndyAyersMS opened #4494 "Jit: verify check and retail produce same results"
Create a script to verify there's no difference in jit outputs for check versus debug builds.

Automate this checking and run it as part of the regular CI rotation.

[2016-04-21 23:40] AndyAyersMS commented on #4477
Did the same experiment with 8Queens, and the instructions retired is quite stable with about 0.1% variation. Time data has about 1.7% variation.

[2016-04-21 23:42] parjong opened #4496 "[ARM32] Exception filter failed to catch exception"
It seems that exception filter does not work correctly on ARM32. Currently, running the following program results in unhandled exception error:
[code]

CoreCLR is expected to work as follows:
[code]
However, it currently shows the following output:
[code]

[2016-04-21 23:55] swaroop-sridhar opened #4497 "GCInfo: Save bits in Code Offset encoding"
Core Offsets on Thumb/Arm/Arm64 are 2/4/8 byte aligned.
So, GCInfo encoding can save bits by eliminating the last few bits in the offset in NORMALIZE_CODE_OFFSET()

However, one problem with this is in the code-offsets for safepoints, which are encoded with a -1 adjustment:
https://github.com/dotnet/coreclr/blob/master/src/gcinfo/gcinfoencoder.cpp#L1210-L1218
https://github.com/dotnet/coreclr/blob

[2016-04-22 00:07] RussKeldorph commented on #4494
Thanks @AndyAyersMS.  I'm going to optimistically pull this into RTM for now.

[2016-04-22 01:39] parjong opened #4499 "[ARM32] Sudden assertion failure with the recent commit"
CoreCLR from 0ce162fee93d48408f7677a48db7a324bc901a18 suddenly shows the following assert failure for Hello, World example:
[code]

[2016-04-22 02:07] manu-silicon commented on #4499
Which version of the OS are you using? I found this which seems to relate to your error:

http://stackoverflow.com/questions/270113/how-do-i-stop-sem-open-failing-with-enosys

[2016-04-22 02:10] parjong commented on #4499
@manu-silicon I used the ARM emulator that cat be downloaded from #3805.

[2016-04-22 02:11] parjong commented on #4499
It seems that b7d76075a8d2321c14fc4b0a761d24c56621d078 is the first commit related with this assertion failure. I have no assertion failure with 50cf7134f60b050c82eef03a8c38ac2499199282.

[2016-04-22 02:11] parjong commented on #4499
CC: @jkotas, @leemgs, @myungjoo

[2016-04-22 02:15] manu-silicon commented on #4499
That commit seems to have shuffled the ordering of semaphore creation but there were no changes in flag that could explain why it would now fail. I'll update my arm board and see if I get this too.

[2016-04-22 02:19] parjong commented on #4499
I can execute Hello, World example after mounting tmpfs at /dev/shm.

[2016-04-22 02:21] manu-silicon commented on #4499
So it might just be an issue with the way the arm emulator is setup.

[2016-04-22 02:23] manu-silicon opened #4500 "Cannot compile CoreCLR on ARM"
On a clean checkout, I get the following error trying to build very early on in the build process:

[code]

[2016-04-22 02:27] parjong commented on #4499
I think so. However, I'm not sure whether /dev/shm is mounted for all the environment. In addition, this is the first time that I see this assertion failure. Before b7d7607, CoreCLR just works even if /dev/shm is not mounted.

[2016-04-22 02:30] manu-silicon commented on #4500
Commit at fault is: https://github.com/dotnet/coreclr/commit/250a206c98d8e3992512246e02bf0820ef95578b

[2016-04-22 02:36] manu-silicon commented on #4500
The issue is because of an earlier warning that I did not see at first look:

[code]

[2016-04-22 02:37] manu-silicon commented on #4500
The workaround is to ensure to specify `skipmscorlib` on the command line used to build CoreCLR. This was needed before.

[2016-04-22 03:13] sayedihashimi commented on #3544
@OtherCrashOverride are you asking specifically for Remote Debugging a .NET Core app on ***Linux***? Or are you also asking about Windows/Azure?

For windows in VS you can use the `Attach To Process` menu option to start a remote debugging session. For Azure you can start remote debugging in the server explorer. We have a bug in RC1 where we don't attach to the correct process for dnx/dotnet apps.

[2016-04-22 03:13] seanshpark commented on #4500
@manu-silicon , does this happen when building in ARM-Linux machine?
I usually build cross in x86_64 linux with `skipmscorlib` since I was told that `mscorlib.dll` should be cross build in Windows. Can we build `mscorlib.dll` in ARM-Linux machine? or can we also build in x86_64 linux?

[2016-04-22 03:28] manu-silicon commented on #4500
@seanshpark Yes it does.

I usually use both Linux x64 and ARM to compile for ARM. However I've always built mscorlib.dll on Linux x64 (simply because on ARM the toolchain is simply not present) and I had no obvious issue in doing so.

[2016-04-22 03:59] parjong commented on #4452
I can execute Hello, World example with 50cf7134f60b050c82eef0 commit

[2016-04-22 03:59] #4452 closed

[2016-04-22 08:39] parjong commented on #4496
It looks like that I found the reason why it fails.

Here is the code generated from JIT:
[code]

When CORINFO_HELP_TRHOW is called, PC will points to some instruction that corresponds to 00008C.

However, the exception table spans only for
[code]

Actually, this issue is already known (AMD64 and ARM64 codegen have a workaround), but ARM32 does not include it.

[2016-04-22 09:47] #4252 closed

[2016-04-22 11:10] mkborg opened #4505 "Is it possible to build coreclr for ARM on Windows?"
I have tried to run "build.cmd arm" and "build.cmd arm64" on Windows 7 with Visual Studio Community. In first case it said  "Only AMD64, ARM64 and I386 are supported". In second case it complained that "MC not found".

I looked at CI results in one arbitrary chosen PR and didn't find reference to ARM on Windows build:

FreeBSD x64 Checked Build — Build finished. 809 tests run, 0 skipped, 0 failed.

[2016-04-22 11:13] GSPP opened #4506 "String.Join(string, object[]) bug when first item is null"
Continuing my series to break the BCL for fun and no profit here's another `string.Join` bug:

[code]

returns `""`. It should return `",x"`.

This bug exists in CoreCLR, in 4.6.2 and in the recently merged `string.Join` fix.

[2016-04-22 12:09] GSPP opened #4507 "StringBuilder is being internally corrupted if exceeding the maximum allowable length"
static void StringBuilderNRE()
        {
            var length = checked(1024 * 1024 * 256);
            var str = new string('x', length);

            var sb = new StringBuilder();
            try
            {
                for (int i = 0; i < 10000; i++)
                {
                    sb.Append(str);
                }
            }
            catch (Exception ex)
            {

[2016-04-22 12:20] GSPP opened #4508 "StringBuilder.Insert can corrupt state so that Length < 0"
static void StringBuilderNegativeLength()
        {
            var length = checked(1024 * 1024 * 256);
            var str = new string('x', length);

            var sb = new StringBuilder();
            for (int i = 0; i < 7; i++)
            {
                sb.Append(str);
            }

            sb.Insert(0, str);

            Console.WriteLine(sb.Length); //Is negative
        }

[2016-04-22 13:44] GSPP opened #4509 "StringBuilder.Append can fail mid-way"
static void StringBuilderTest3()
        {
            var sb = new StringBuilder(0, maxCapacity: 2);

            sb.Append(new string('x', 2));
            sb.Length--;

            try
            {
                sb.Append(new string('x', 2));
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex); //Expected.
            }

            Console.Writ

[2016-04-22 13:50] GSPP opened #4510 "new StringBuilder(capacity: int.MaxValue) fails but is documented to work"
`new StringBuilder(capacity: int.MaxValue)`  [should work according to the documentation](https://msdn.microsoft.com/en-us/library/h1h0a5sy(v=vs.110).aspx).

A `StringBuilder` of `Length == int.MaxValue` is in a valid state. I can create such an object in other ways, too. The constructor should behave consistently.

[2016-04-22 13:54] GSPP opened #4511 "StringBuilder.Replace NullReferenceException"
var sb = new StringBuilder();

            var str = new string('x', checked(1024 * 1024 * 256));
            for (int i = 0; i < 7; i++)
                sb.Append(str);

            sb.Insert(0, "x");
            sb.Replace("x", str); //NRE
            Console.WriteLine(new { sb.Length, sb.Capacity, sb.MaxCapacity });

This crashes, likely due to exceeding the maximum allowed capacity and overflo

[2016-04-22 13:59] GSPP commented on #4510
The `Capacity` property is broken as well:

            var sb = new StringBuilder();
            sb.Capacity = int.MaxValue;

[2016-04-22 14:08] GSPP opened #4513 "StringBuilder.Append('x', int.MaxValue) fails"
var sb = new StringBuilder();
            sb.Append('x', int.MaxValue);

This fails with `OutOfMemoryException` because `ExpandByABlock` does not expect such a large size.

[2016-04-22 14:11] GSPP opened #4514 "StringBuilder.Append(char, int) can fail mid-way"
var sb = new StringBuilder();

            sb.Append('x', 2);
            sb.Length--;

            try
            {
                sb.Append('x', int.MaxValue);
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex); //Expected.
            }

            Console.WriteLine(sb.ToString()); //Prints "xxxxxxxxxxxxxxxx", should print "xx".

Prints "xxxxxx

[2016-04-22 14:17] mikedn commented on #4513
What's the bug here? `OutOfMemoryException` seems like a reasonable result.

[2016-04-22 14:22] mikedn commented on #4514
Why? Does the existing documentation make any guarantees about what happens when an OutOfMemoryException is thrown?

[2016-04-22 14:23] GSPP commented on #4513
The `StringBuilder` class supports values of that length. If you insert the same value in multiple smaller chunks it works.

[2016-04-22 14:29] mikedn commented on #4513
Is this documented anywhere?

[2016-04-22 14:30] GSPP commented on #4514
It is true that this is not specified. But if you think it this is not guaranteed then you must also think that *all* framework methods are allowed to do arbitrary things in case of an exception. That's surely not the intention.

For example, nowhere is it guaranteed that `new string('x', -1)` does not format your disk *and* throws an exception.

[2016-04-22 14:32] GSPP commented on #4513
You can get it into that state easily by appending chunkwise. It does not make sense that some ways of doing that work and some don't.

[2016-04-22 14:36] GSPP commented on #4510
Since it has been called into question what exactly is documented and what is not: The documentation does not place any restriction on the positive values of `capacity`. Therefore, I assume that any positive `Int32` including `int.MaxValue` are supposed to work.

[2016-04-22 14:39] mikedn commented on #4513
Perhaps that is the bug and not that append with int.MaxValue fails. `new string('x', int.MaxValue)` throws the same exception, why should `StringBuilder` be special?

[2016-04-22 14:40] GSPP commented on #4514
In particular it is hideous to design an API such that the object is left in a completely undefined state in case of an error. This is .NET, not C.

[2016-04-22 14:45] mikedn commented on #4514
Most framework methods do not guarantee anything in the face of certain exceptions and `OutOfMemoryException` is such an exception.

[2016-04-22 14:45] GSPP commented on #4513
That's entirely reasonable. The maximum string length is about 1 << 30 chars whereas StringBuilder supports about twice as much. I don't see why that would be an important use case considering that you can't retrieve the string value anyway. You could only temporarily go over the string limit and then remove chars to make it to below the limit.

[2016-04-22 14:48] mikedn commented on #4513
And the fact that it supports more chars is the not so fortunate side effect of an implementation detail. Old .NET Framework version used a different implementation which didn't allow such large builders.

[2016-04-22 14:52] mikedn commented on #4510
Why? No typical .NET "container" (collections, arrays) support int.MaxValue as capacity by default. What makes `StringBuilder` special?

[2016-04-22 15:02] GSPP commented on #4510
The fact that no restriction is placed on the arguments in the documentation.

If you think that's not necessary that would mean that the `StringBuilder` class would be entirely correct if it contained `if (capacity == 42) throw;` because the docs don't say that this particular capacity is allowed!

[2016-04-22 15:02] janvorli commented on #4500
This happens for me on CentOS x64 as well. The issue was caused by a recent change #4393.
@joperezr, for some reason, it seems that the generateversion command line option doesn't work as expected and it is bound to the skipmscorlib - forced to be true if we are building the mscorlib. I believe this is confusing and those two options should be independent. One more detail that I have noticed is th

[2016-04-22 15:13] mikedn commented on #4510
The same is true about the `List<T>` constructor and capacity property. And that's only one example.

That's not useful. 42 is one thing and a very large capacity such as `int.MaxValue` is a completely different thing.

[2016-04-22 15:30] brianrob commented on #3131
@JohnChen0, now that https://github.com/Microsoft/microsoft-pdb/blob/master/include/cvinfo.h is open source, is there anything blocking us from generating PDBs using crossgen?  This is required for profiling on Windows.

@gkhanna79, profiling on Linux is done using PerfMap files.  However, we probably could use PDBs if they were possible to generate on Linux (not sure if this is possible or not).

[2016-04-22 15:33] RussKeldorph commented on #3347
@sivarv Is @sejongoh's investigation and #4398 sufficient to close this in your opinion?

[2016-04-22 16:03] #1426 closed

[2016-04-22 16:53] sivarv commented on #3347
@sejongoh @RussKeldorph - I had a relook at the test cases more closely and left some comments.

The most important assumption to validate is  that when Vector3 args are passed by native layer to managed through RPInvoke, native layer is zero initializing upper 4 bytes to zero.  We need to make sure RPInvoke signature is such that we have one vector3 arg passed in registers (x64 unix) and another

[2016-04-22 17:25] joperezr commented on #4500
@janvorli The reason why I tied it with skipmscorlib variable is because in some archs the toolchain doesn't exist as @manu-silicon explains. My reasoning was that if you are able to build mscorlib, then you should be able to generate the cpp file. I guess another thing I can do instead, is to try to use the variable [__isMSBuildOnNETCoreSupported](https://github.com/dotnet/coreclr/blob/master/bui

[2016-04-22 17:25] joperezr commented on #4500
I'll assign this issue to me and push a PR soon.

[2016-04-22 17:35] joperezr commented on #4500
@manu-silicon I don't have a ARM machine to test [my fix](https://github.com/dotnet/coreclr/pull/4517/commits/b8d6909fa5504bd5290c96121671ed6a6b78b053), if you have time do you mind checking if that small change fixes it?

Sorry for the trouble.

[2016-04-22 18:15] jkotas commented on #4505
It is not possible to build the repo for ARM on Windows today. The PRs to make it work are welcomed. (The sources are building using the legacy internal MS build system - it should be just about fixing up the make files.)

[2016-04-22 18:17] sergiy-k commented on #4476
@wtgodbe has already been looking into these failures but he has not yet been able to identify the root cause. It looks like a test issue.

[2016-04-22 18:21] #4244 closed

[2016-04-22 18:30] jkotas commented on #4437
cc @gkhanna79 has been looking into this

[2016-04-22 18:31] #4424 closed

[2016-04-22 18:34] jkotas commented on #4436
cc @ellismg

[2016-04-22 18:46] tamlin-mike commented on #4514
I'll have to agree with @GSPP here. This object should be able to not destroy its own state in face of this condition. Imagine a List encountering OOM on an Add() - would you except it to format your disks, in addition to removing (or duplicating!) random elements from the list and throwing an exception? I wouldn't. I'd expect it to retain its previous state and throw the exception.

Even if the .

[2016-04-22 18:51] GSPP commented on #4514
I think the framework should be changed so that the operations in question behave atomically. I see no reason this can't be done rather easily and efficiently at the same time. Then, these properties should be documented. `StringBuilder` is one of the most core types there are. It must be solid.

[2016-04-22 19:12] JanEggers commented on #4441
this cant work,

when raising the event in Foo you pass FooEventArgs.

but all handlers you register in Foo<T> require FooEventArgs<T>

[2016-04-22 19:16] mikem8361 commented on #3684
I've looked at your problems again and found:

1) Is there a way to break when CoreCLR initialization is complete? Without symbols?
That "sxe ld CoreClr" allows me to set a managed breakpoint. !clrstack or !threads doesn't work after it stops, but "!bpmd HelloWorld Program.Main" worked and stopped on my Main.

 2) Is there an easier way to break on the managed entry point without need for coreclr

[2016-04-22 19:32] neilyoung opened #4521 "How to uninstall entire dnx/dnu/dotnet stuff from MacOSX?"
as subject says

[2016-04-22 20:01] #3570 closed

[2016-04-22 20:03] BruceForstall commented on #3549
Also:
JIT\Regression\CLR-x86-JIT\V1-M12-Beta2\b59948\b59948\b59948.cmd
in 'ILGEN_0xa20b8571:Method_0x15903b4b(byte,double,long,ubyte):int' (IL size 284)

[2016-04-22 21:09] #4500 closed

[2016-04-22 22:26] bbowyersmyth commented on #4506
It's a documented bug so that makes it a feature :wink:
https://msdn.microsoft.com/en-us/library/dd988350(v=vs.110).aspx

@jkotas What is the viewpoint on quirking old bugs on the new core platforms?

[2016-04-22 22:55] jkotas commented on #4506
It is case by case.

cc @AlexGhiondea

[2016-04-22 23:08] GSPP commented on #4506
@bbowyersmyth oh no! Haha that is so unfortunate.

[2016-04-22 23:13] RussKeldorph opened #4529 "[jitstressregs=1] Vector3Interop Access Violation"
(Also fails with jitstressregs=8)

http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/master/job/x64_checked_windows_nt_jitstressregs1/41/testReport/

Unhandled Exception: System.AccessViolationException: Attempted to read or write protected memory. This is often an indication that other memory is corrupt.
   at RPInvokeTest.nativeCall_RPInvoke_Vector3Ret(CallBackDelegate_RPInvoke_Vector3Ret cal

[2016-04-22 23:43] gkhanna79 opened #4531 "Consume JIT from its nuget package"
This will be done in two steps:

- [x] Enable dynamic loading of JIT
- [ ] Consuming JIT from its nuget package

[2016-04-23 00:27] manu-silicon commented on #4500
I'll be able to test this on Monday. Thanks for looking into this.

[2016-04-23 00:47] ramarag opened #4534 "GC Stress Test Sanity Run"
Currently the smallest execution time for each GC stress is ~1 min, please consider dropping it down to seconds so that CI can run it or schedule a weekly full run whichever sounds good.

I am ensuring that all tests are loadable by sepcifying -1 to be the exceution time in https://github.com/dotnet/coreclr/pull/4533. Change it to seconds if possible

[2016-04-23 03:05] ramarag opened #4536 "GC Stress Test does not run on Linux/Ubuntu"
GC stress tests are failing with :
http://dotnet-ci.cloudapp.net/job/dotnet_coreclr/job/master/job/checked_ubuntu_tst_prtest/1055/testReport/junit/GC.Stress.Framework/ReliabilityFramework/ReliabilityFramework/

**[4/22/16 7:50:21 PM 1] Started
[4/22/16 7:50:21 PM 1] Argument: testmix_gc.config
[4/22/16 7:50:21 PM 1] Argument: /maximumExecutionTime:-1
[4/22/16 7:50:21 PM 1] Running tests...
[4/22/1

[2016-04-23 06:28] #4432 closed

[2016-04-23 06:29] #4430 closed

[2016-04-23 06:29] #4402 closed

[2016-04-23 06:30] mikem8361 commented on #3684
I think all your issues are either answered or fixed.  Reopen this issue if not the case.

[2016-04-23 06:30] #3684 closed

[2016-04-23 14:01] krytarowski commented on #3125
For the reference, we got a volunteer to work on Azure for NetBSD during the Google Summer of Code (by @retrage).

https://summerofcode.withgoogle.com/organizations/6246531984261120/?sp-page_size=48#4762276204642304

I wish all best to the project and fill the missing Azure gap.

[2016-04-23 16:59] Tydude4Christ commented on #4441
If you swap EventHandler with ContravariantEventHandler as defined below this works just fine. Events can only be raised in the defining type, derived types, or nested types. Since Foo only specifies the add and remove event handler operations this is entirely legal.

    public delegate void ContravariantEventHandler<in TEventArgs>(object sender, TEventArgs e);

[2016-04-23 18:18] luisgarciaalanis opened #4538 "What to do after building"
I downloaded coreclr, and build it on Ubuntu 16.04.

it created a folder coreclr/bin/Product/Linux.x64.Debug

Now what? how do I install it on /usr/local/*

Do I need to set any env variables on the profile?

I think the build instructions are incomplete.

Help appreciated.
Luis

[2016-04-24 03:29] JCKodel commented on #3837
-r WHAT?

Which runtime we must use in this case?

[2016-04-24 08:43] piotrpMSFT commented on #3837
Things have changed a bit since March :) Add the following snippet as a peer to `frameworks` in your project.json:

[code]

Now do the following:
1. `dotnet restore`
2. `dotnet publish -r ubuntu.14.04-x64

The published output, under the bin directory, will now include an ubuntu host along with your application.

[2016-04-24 09:15] mikedn commented on #4514
There's no need for such drama. This discussion is mainly about printing "xx" and not about whatever corrupted state the `StringBuilder` object might end up in. I don't know exactly what corrupted state @GSPP refers to since he felt the need to create multiple issues about what the same or similar underlying problem and now the discussion is spread between 3-4 threads.

And if your disks are forma

[2016-04-24 11:14] mikedn commented on #4514
Judging by the existing documentation and code `Append` should throw `ArgumentOutOfRangeException` in this particular case, not `OutOfMemoryException`. That's because appending `int.MaxValue` characters to a string builder that already contains something would result in `MaxCapacity` being exceeded. And if `ArgumentOutOfRangeException` is thrown then it would be reasonable to expect that the strin

[2016-04-24 11:22] mikedn commented on #4507
As described in #4514 this particular test should throw `ArgumentOutOfRangeException`, not `OutOfMemoryException` as it does now. The underlying cause is an integer overflow in `ExpandByABlock`.

It's also possible to get an `OutOfMemoryException` if there's not enough memory available. In that case the string builder becomes corrupted due to another `ExpandByABlock` issue, the chunk array is allo

[2016-04-24 11:39] krytarowski commented on #4380
It's worth to add such check for PAL tests.

According to my tests I think I need this patch too.

When running CoreFX tests, I have got more tests passed:

[code]

[2016-04-24 16:27] krytarowski commented on #4380
With increased timeout for a test from 15min to 45min:

[code]

[2016-04-24 17:07] #3561 closed

[2016-04-24 17:25] benaadams opened #4545 "Addition ConditionalWeakTable.AddOrUpdate"
Or indexer setter?

At the moment you need to do
[code]
Would be nicer if you could just do
[code]
or
[code]

[2016-04-24 18:14] GSPP commented on #4514
I believe FastAllocateString can be called with too big of an argument in many cases (not just the case of this issue). Probably, all of those cases should become a different exception type such as ArgumentOutOfRangeException as documented. That exception type feels wrong, too, but we're probably stuck with it.

[2016-04-24 19:49] LLITCHEV opened #4546 "[x86] Failing test LotsOfInlines"
The test d:\repos\coreclr\tests\src\TestWrappers_x86_Checked\JIT\JIT.XUnitWrapper.cs(299910): error : JIT._opt_Inline_tests_LotsOfInlines_LotsOfInlines_._opt_Inline_tests_LotsOfInlines_LotsOfInlines_cmd [FAIL] [d:\repos\coreclr\tests\runtest.proj] fails when run in CoreCLR x86.

[2016-04-24 19:51] LLITCHEV opened #4547 "[x86] Failing test b46649"
Failing test running d:\repos\coreclr\tests\src\TestWrappers_x86_Checked\JIT\JIT.XUnitWrapper.cs(335238): error : JIT._Regression_CLR_x86_JIT_V1_M11_Beta1_b46649_b46649_b46649_._Regression_CLR_x86_JIT_V1_M11_Beta1_b46649_b46649_b46649_cmd [FAIL] [d:\repos\coreclr\tests\runtest.proj] test on x86 CoreCLR.

[2016-04-24 19:57] LLITCHEV opened #4548 "[x86] [JITMinOpts] Failing test smallFrame"
The test d:\repos\coreclr\tests\src\TestWrappers_x86_Checked\JIT\JIT.XUnitWrapper.cs(281625): error : JIT._Methodical_tailcall_v4_smallFrame_smallFrame_._Methodical_tailcall_v4_smallFrame_smallFrame_cmd [FAIL] [d:\repos\coreclr\tests\runtest.proj] fails when run in JITMinOpts on CoreCLR for x86.

This issue could be a duplicate of Issue #2353 - https://github.com/dotnet/coreclr/issues/2353

[2016-04-24 20:19] krytarowski commented on #3474
I'm not seeing it any more

[2016-04-24 20:19] #3474 closed

[2016-04-24 20:33] krytarowski commented on #2947
`pthread_getcpuclockid`(3) and `clock_getcpuclockid`(2) landed NetBSD-current. For the current code there has been implemented intermediate solution.

Closing

[2016-04-24 20:33] #2947 closed

[2016-04-24 20:36] krytarowski commented on #810
ping

[2016-04-24 20:38] janvorli commented on #810
I am not sure what is the ping for?

[2016-04-24 20:39] krytarowski commented on #3178
CoreCLR 100% PAL tests pass
CoreFX managed code tests: Total: 90143 Errors: 0 Failed: 2 Skipped: 0 Time: 9998 (50k crashing the runtime)

Are we close to the point to get CLI bootstrap?

[2016-04-24 20:43] krytarowski commented on #810
To close this issue report.

[2016-04-24 20:44] #810 closed

[2016-04-24 20:46] krytarowski commented on #810
Thank you!

[2016-04-24 21:41] LLITCHEV opened #4549 "[x86] Failing CoreFX tests using x86"
These failures seems to be due to issues in the x86 Windows unwinder of CoreCLR.

D:\repos\corefx\Tools\tests.targets(154,5): error : One or more tests failed while running tests from 'System.Data.SqlClient.Tests' please check log for detail
s! [D:\repos\corefx\src\System.Data.SqlClient\tests\FunctionalTests\System.Data.SqlClient.Tests.csproj]
D:\repos\corefx\Tools\tests.targets(154,5): error : On

[2016-04-24 23:32] jamesqo opened #4550 "[mscorlib] ArraySegment's GetHashCode could be improved"
`ArraySegment`'s [current override](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/ArraySegment.cs#L113) of `GetHashCode` simply XORs the offset/count with the array's hash code. As a result, this:

[code]

prints `True`. We should instead change the implementation to be something like this (stolen from [StackOverflow](http://stackoverflow.com/a/263416/4077294)):

[code]

[2016-04-25 01:01] krytarowski commented on #4380
Status update (Mon Apr 25 03:00:48 CEST 2016)

   Microsoft.CSharp.Tests  Total: 1, Errors: 0, Failed: 0, Skipped: 0, Time: 12,558s
   System.AppContext.Tests  Total: 15, Errors: 0, Failed: 0, Skipped: 0, Time: 17,236s
   System.Buffers.Tests  Total: 45, Errors: 0, Failed: 0, Skipped: 0, Time: 28,749s
   System.ComponentModel.Annotations.Tests  Total: 286, Errors: 0, Failed: 0, Skipped: 0, Time: 2

[2016-04-25 01:09] LLITCHEV commented on #4549
It looks like this is a x86 unwinding problem. It looks like it doesn't know how to properly unwind "bnd jmp/call" instructions from the Intel's MPX support.

[2016-04-25 01:11] LLITCHEV commented on #4549
Seems to be related to this commit:
https://github.com/dotnet/coreclr/commit/3c03a0f65c23565a1799c138470d952a039c142e

[2016-04-25 01:24] manu-silicon commented on #4500
@joperezr Thanks. It works now. Meaning that on ARM if no skipmscorlib option is given, it will try to build it and report an error:
[code]
which is was I expected.

[2016-04-25 01:57] krytarowski opened #4552 "NetBSD: Recursion in CLRException::GetThrowable"
[code]

Problem still not investigated.

[2016-04-25 03:15] janvorli commented on #4552
I have seen this happen when the System.Globalization.so was missing. If I remember it correctly, in such case, the GetThrowable is trying to get an exception with a message formatted. It needs the System.Globalization.so to perform the formatting. Runtime is called to load the ,so but it finds it is missing and throws exception, which results in this recursion.

[2016-04-25 05:06] bendono commented on #4432
@mikem8361 Thank you. I have re-built the repro and this is fixed now.

[2016-04-25 05:19] bendono commented on #4402
Hi @mikem8361 . I rebuilt the repository and dumping the stack works without need of disabling the warning about dynamic functions. It is convenient that it is disabled when SOS is loaded. However, not sure if it is related to this change or not, but the resulting stack dumps no longer look correct. Using the same sample program as above, the new mixed mode callstack and native callstacks are as f

[2016-04-25 08:42] schellap opened #4555 "Unicode hello world not working"
Encountered this while fixing https://github.com/dotnet/cli/issues/2649

Cc @gkhanna79 @eerhardt @gregg-miskelly @janvorli

**Repro Steps**

[code]

[code]

**Expected**

Desktop behavior (Compile this using Full FX)
[code]

**Actual**

[code]

[2016-04-25 09:20] krytarowski commented on #4552
I see! Thank you, maybe I need somewhere `LD_LIBRARY_PATH` or `RPATH`.

[2016-04-25 11:40] leemgs commented on #4499
@manu-silicon , @parjong , The traditional Linux distributions (e.g., Ubuntu, Fedora, RHEL/CentOS, OpenSUSE, ...) generally support the /dev/shm facility as a default inter-process communication (IPC).  However, the popular Android software platform supports the Binder IPC (/dev/binder) instead of the traditional IPCs (/dev/shm).

Anyway, I will add the /dev/shm into the next version shortly becau

[2016-04-25 11:41] seanshpark opened #4558 "ARM: cross compile configure fail with version.cpp not found"
Failed with `Cannot find source file: bin/obj/Linux.arm.Debug/version.cpp` when clean build
[code]
I try to build from clean like;
[code]

master hash is 661e5d078fdbbb4b0acd98a023d8a66762af5a4a

[2016-04-25 11:48] seanshpark commented on #4558
@joperezr , I get this problem in x86-64, Ubuntu 14.04. Can you check this ? Inside ARM machine (RPi2) build is going OK.

[2016-04-25 14:12] eerhardt commented on #4555
/cc @tarekgh

I tried adding

[code]

before calling Console.WriteLine, but that didn't seem to fix it.

[2016-04-25 14:27] #4404 closed

[2016-04-25 15:10] eerhardt commented on #4555
After further investigation, the CoreFX/CoreCLR is working as designed here.

As stated above, I needed to add:

[code]

to the test app.  But I also needed the same change in the https://github.com/dotnet/cli code as well.  The reasoning is because when you run `dotnet run`, more than 1 process is executed.  The first process is the CLI process which ensures your app is built and up-to-date.  The

[2016-04-25 15:10] #4555 closed

[2016-04-25 15:33] miloush commented on #4555
Shouldn't the runtime rather ensure the console encoding is UTF-8 by default?

[2016-04-25 15:41] tarekgh commented on #4555
Usually we follow the underlying system. especially in Windows the Console is not fully working as desired with UTF8 because of the lack of the fonts support especially when running on non-English platforms. Also setting UTF8 will not totally avoid the problem because the app can still decide to set the Console codepage back to any other codepage.

[2016-04-25 15:59] miloush commented on #4555
Well but for that you would need to get in the `CodePagesEncodingProvider` anyway I guess, so you are fine.

It's true that the bitmap fonts are not doing the best job showing Unicode (unlike the other ones people can switch the Console into). But, for the cases where it goes wrong, is `H?ll?` really that much worse than `HÃ©llÃ³`?

It's clear that no-one is going to fix the Console in underlying

[2016-04-25 16:07] tarekgh commented on #4555
I am really fully agree with the idea. we have been trying for long time to get people use Unicode instead of the ansi codepages. the only concern here is I recall at some point there were some trial from Windows side to have the console uses UTF8 all the time but this for some reasons didn't work well (or needed more work to support that). this is why we have to be careful if we need to force the

[2016-04-25 16:54] miloush commented on #4555
Don't you have specifically target the .NET Core to be able to run under this new runtime?
Because I can understand that breaking working applications is a serious drawback, but if there are no applications yet, that looks like this is the only possible time to do such "change"...

[2016-04-25 17:22] joperezr commented on #4558
mm I'm unable to repro this on my ubuntu box. Can you try re-getting latest code and try again? Also if that doens't work, can you pass in param `skipgenerateversion` to your `build.sh` call to see if that fixes it?

[2016-04-25 17:30] mikem8361 commented on #4402
I'm not sure why.  Could you try to unload sos to eliminate it as the problem? sos can affect even the "k" command. If the native frame is still incomplete, maybe the windbg unwinder is having problems with the jit'ted code now (meaning the jit is producing invalid unwind info or something).

[2016-04-25 17:56] mikem8361 commented on #4402
I just sync'ed to the latest and tried your test app and both clrstack -f and k displayed the full stack. Did you copy the CoreClr.dll pdb?

0:000> !clrstack -f
OS Thread Id: 0xca94 (0)
        Child SP               IP Call Site
000000d11fbccbb0 00007ffb6c401f28 KERNELBASE!RaiseException + 104
000000d11fbccc90 00007ffb276aca23 CoreCLR!`RaiseTheExceptionInternalOnly'::`81'::__Body::Run + 883 at c:

[2016-04-25 19:55] JohnChen0 opened #4568 "Ready-to-Run image for System.Runtime.dll causes AV in CoreCLR"
When `System.Runtime.dll` has a Ready-to-Run image, attempt to use `System.Uri` causes an access violation in `ReadyToRunInfo::TryLookupTypeTokenFromName` method inside `coreclr.dll`. The cause of the AV is an unexpected value inside the `NameHandle *pName` parameter. It contains valid `m_nameSpace` and `m_name`, while `m_pTypeScope` and `m_mdType` are unused. However, the value of `m_mdType` is `

[2016-04-25 19:56] JohnChen0 commented on #4568
@fadimounir Could you please take a look, since the AV is in type name lookup code?

[2016-04-25 20:09] briansull opened #4569 "ARM64: Codegen for referencing PSPSym should use sp relative addressing"
When we have a localloc (stack alloc) operation we generate code to move the PSPSym value.
However we are using fp relative addressing soit is not getting moved properly.

Sample method:
; Assembly listing for method DomainNeutralILStubClass:IL_STUB_COMtoCLR(long):int:this
...
G_M25153_IG03:
            ldr     x0, [fp,#96]	// [V11 PSPSym]
            stp     xzr, xzr, [sp,#-16]!
            stp

[2016-04-25 20:18] briansull opened #4570 "RyuJIT: Localloc is over allocating stack space when we have a PSPSym"
In the method CodeGen::genLclHeap(GenTreePtr tree)

For case i) Method has PSPSym + out-going arg area.

In this case we pop off only the out going arg area (32 bytes on x64)
  and  we do not pop off the PSPSym area.
Then we do the stack allocation (can be a small as 16 bytes)
Then we add a new PSPSym area + a new out-going arg area  (48 bytes)

Sample x64 Codegen for a 32-byte stack alloc:

; Ass

[2016-04-25 20:20] briansull commented on #4570
We can develop a test case that will overflow the stack if we allocate more than the 16 bytes requested.
By placing the 16-bye stack alloc inside a loop.

[2016-04-25 20:23] briansull opened #4571 "ARM64: Localloc is over allocating stack space for small allocations (64 bytes or less)"

[2016-04-25 20:33] briansull commented on #4571
We can develop a test case that will overflow the stack if we allocate more than the 16 bytes requested.
 By placing the 16-bye stack alloc inside a loop.

[2016-04-25 20:45] briansull commented on #4571
I have a fix for this

[2016-04-25 21:00] #4474 closed

[2016-04-25 22:15] rahku opened #4575 "Fix logic to calculate tls offset of Thread* in mscordbi"

[2016-04-25 22:17] rahku commented on #4575
there is also an instance of assembly code generate by stublinker which tries to calculate tls offset

[2016-04-25 22:40] ellismg commented on #4552
If you've been able to run other managed test projects, I don't believe System.Globalization.Native.so isn't at fault.  There shouldn't be anything specific about this project.

If you can get LLDB working and load SOS, you can recover a managed stack trace by doing `sos IP2MD` on each of the jitted code addresses.  `sos CLRStack` may also be helpful (it tries to automate the stack walk and IP2MD'

[2016-04-25 22:47] seanshpark commented on #4558
I still get above error. And I think while in configure `msbuild.exe` is called before `Tools` are prepared
[code]

When I search for this `init-tools.sh`, I get this.
[code]

`Tools` was not upgraded somehow and also does not after deleting `Tools` folder.

The reason for this was that I'm using shared Linux machine with others and I had no write authority for `/tmp/NuGetScratch` folder somehow.

[2016-04-25 22:58] #4558 closed

[2016-04-25 23:17] joperezr commented on #4558
I see, ok glad it all works now! :smile:

[2016-04-25 23:37] parjong opened #4579 "[ARM32] Throw in catch block fails"
CoreCLR shows unexpected behavior on the following example
[code]

It is expected to show the following output:
[code]

However, the 2nd throw is captured by the outermost try region as follows:
[code]

[2016-04-25 23:56] parjong commented on #4579
It seems that #4496 is related with this issue, but not exactly same. With PR #4503, the 1st throw is catched as expected, but the 2nd throw is not captured by any of try regions:
[code]

[2016-04-26 00:18] parjong commented on #4579
I found that CoreCLR failed to unwind the stack frame created by CallEHFunclet. When the 2nd exception is thrown, ``UnwindManagedExceptionPass1`` tries to find the try region.

When I checked with GDB, CoreCLR correctly unwinds the managed stack created by the 1st catch block. After that, CoreCLR tries to unwind the stack frame with ``PAL_VirtualUnwind`` at src/vm/exceptionhandling.cpp:4579. It wa

[2016-04-26 00:39] leemgs opened #4582 "Policy of Build Modes (e.g., Release, Debug, * )"
## [W.I.P] Documentation: The Policy of the Build Modes on CoreCLR (for Linux/ARM)

As some Linux/ARM engineers already know, we have still got the "segmentation fault" error whenever we tried to run "hello world!!!" on Linux/ARM CoreCLR generated with release mode. However, in the debug mode, this issue is not always reproduced. Before continuing the finding a reason of this issue, I have some qu

[2016-04-26 00:49] leemgs opened #4583 "Linux/ARM: ARM Release Build Bug"
This issue is to resolve the running error of hello world!!! in "release build".  In "debug build", the hello world!!! console application is normally executed on the Linux/ARM Emulator (Download: #3805 ). However, in the "release build", the hello world!!! is continually failed as following although we have applied latest commit number.

## Release Build: Test case:
[code]

[2016-04-26 00:53] leemgs commented on #3926
This issue is divided into the two issues ( https://github.com/dotnet/coreclr/issues/4583 and https://github.com/dotnet/coreclr/issues/4582). So, I will close this issue now.

1. Policy of Release/Debug/* Build : https://github.com/dotnet/coreclr/issues/4582
2. ARM Release Build Bug: https://github.com/dotnet/coreclr/issues/4583

[2016-04-26 00:54] #3926 closed

[2016-04-26 01:00] leemgs commented on #4582
This issue is derived from the #3926 in order to complete the unfinished build modes.

For example,
before) DEBUG CHECKED RELEASE

after)    DEBUG  CHECKED  **RELWITHDEBINFO(※)**  RELEASE  **MINSIZEREL(※)**

[2016-04-26 01:08] tishion commented on #2796
PR #4563

[2016-04-26 01:08] tishion commented on #2895
PR #4562

[2016-04-26 01:18] janvorli commented on #4552
You can try to figure out the primary cause of this issue by setting a breakpoint at __cxa_throw and see what triggered the initial exception.

[2016-04-26 01:29] manu-silicon opened #4584 "[Linux] Structs with 16 1-byte fields throw assert violation"
On Linux, If you have a struct with exactly 16 fields of type byte, the runtime with stop execution with an assert violation in src/vm/methodtable.cpp:

[code]

It seems that it should be ```<=```.

PS: There are 3 occurrences of this assert in this file.

[2016-04-26 01:49] leemgs commented on #4583
**Status Sharing** : In order to run hello world!!! console app in release build such as debug build.
Now, we can successfully run hello world!!! in release build on the `Linux/ARM Emulator` with the below my workaround patch.
* My workaround PR: https://github.com/leemgs/coreclr/commits/upstream-release-build-clang35-opt-levels-fix
* Test case after applying the above PR:
[code]

In order to narr

[2016-04-26 01:54] leemgs commented on #4583
\CC: @jkotas , @benpye , @manu-silicon

[2016-04-26 02:46] jyoungyun commented on #4437
I created buildtest.sh file for buiding unixtest on Linux machine.
But I faced some problem.
First, as I know, Roslyn does not support writing PDBs on Unix. So I need to disable debugsymbols on csproj file. We have a lot of csproj files in test/src directory. Is this right way to fix each csproj file manually ?
Seconds, when I build managed code using msbuild, it occurs error with below messages.

[2016-04-26 05:20] leemgs commented on #4583
This issue is derived from the #3926 in order to fix the running error of hello !!! console app in release build mode.

[2016-04-26 06:19] leemgs commented on #4583
Here is  how to test hello!!! on Linux/ARM Emulator to compare execution time of hello!!! between debug build mode and release build mode.

* My workaround PR:
 (I mean that we have to more appropriate solution more than this PR. )
  https://github.com/leemgs/coreclr/commits/upstream-release-build-clang35-opt-levels-fix

* How to run hello!!!
cd ./linux-arm-emulator/
 ./start.sh - Select menu 3

*

[2016-04-26 09:26] leemgs commented on #3805
We have uploaded  the latest Linux/ARM Emulator (version **20160426-1600**). You can check the changes from the ./doc/CHANGELOG.txt. From our experiment, the execution time of release build is faster about 3~4 times against that of debug build as following:
* Download: https://dncorerepo.blob.core.windows.net/armemulator/linux-arm-emulator-20160426-1600.tar.pbz2

![emulator-test-debug-and-release]

[2016-04-26 09:31] leemgs commented on #4583
The below is the comparison result of execution time  between debug and release build when we have run hello world!!!  generated by corefx lab.
 * Debug build: 19.322s
 * Release build: 6.048s

![emulator-ncurse-hello-debug-and-release](https://cloud.githubusercontent.com/assets/82404/14813430/9631c61a-0bdc-11e6-9a9f-893787894f82.jpg)

[2016-04-26 10:22] brucehoult commented on #3805
Mirrored, shasum b29ceab62ee0817500194bd9f084b68a51291a96

http://hoult.org/coreclr/linux-arm-emulator-20160426-1600.tar.pbz2

[2016-04-26 10:27] lucenticus opened #4589 "Cross platform remote debugging with lldb-3.8+libsosplugin.so doesn't work"
I'm trying to run cross-platform lldb remote debugging using following commands:
On target (arm):
`$ lldb-server p --listen *:9000 `
On host (x64):
`$ lldb -o "platform select remote-linux" -o "platform connect connect://<target-ip>:9000" -o "target create corerun" -o "settings set target.run-args hello.exe" -o "plugin load libsosplugin.so" -o "process launch -s" -o "process handle -s false SIGUSR

[2016-04-26 11:11] krytarowski commented on #4552
Thank you! I will check it in the coming days, I'm preempted by prioritized work tasks right now.

[2016-04-26 11:39] lucenticus commented on #4589
@kvochko, @Dmitri-Botcharnikov, @seanshpark

[2016-04-26 14:30] gkhanna79 commented on #3019
@wtgodbe I have assigned this to you since you will be driving the signing of binaries using the build pipeline.

CC @sergiy-k

[2016-04-26 16:29] JosephTremoulet opened #4590 "Jit EH: Finally-inside-filter control flow inversion"
The CFG currently makes exception flow resemble a single inner-to-outer pass.  Since the actual dispatch runs in two passes, an outer `filter` expression will run in the first pass before an inner `finally` handler.  That mismatch between our IR model and the program semantics can lead to incorrect codegen in cases like this:

[code]

[2016-04-26 16:31] JosephTremoulet commented on #4044
There are two separable related issues raised here: getting the wrong "next handler" for filter expressions and modeling the flow as 1 pass instead of two.  I've created #4590 for the one-vs-two-pass problem, and will submit a fix separately for the "next handler" problem that caused the bad codegen here.

[2016-04-26 17:04] briansull commented on #4570
For ARM64 we report the PSPSym using fp relative addressing.
Assuming that this is not a problem on ARM64 (and it doesn't appear to be) then for ARM64 we plan to no longer copy the PSPSym value when performing a LocAlloc operation.
If we can change how we report the PSPSym on x64 so that we report it using fp relative (RBP) address (at least when we use localloc) then we could avoid the copy on x6

[2016-04-26 17:06] briansull commented on #4569
It doesn't appear to be a problem to use fp relative addressing to report the PSPSym in the GCInfo.

So instead of changing this we should remove the incorrect and unnecessary copying of the PSPSym when we do a localloc.

[2016-04-26 17:12] adiaaida opened #4593 "RyuJIT x86: NYI: "Binary operator with GTF_REVERSE_OPS""
This NYI:

NYI: "Binary operator with GTF_REVERSE_OPS"
File: coreclr\src\jit\lower.cpp Line: 413

Is hit by these tests:

JIT\Methodical\int64\signed\_speed_rels_addsub\_speed_rel
JIT\Regression\CLR-x86-JIT\V1-M11-Beta1\b36274\b36274\b36
JIT\Methodical\int64\signed\_speed_dbgs_addsub\_speed_dbg
JIT\Methodical\int64\signed\_dbgs_addsub\_dbgs_addsub.cmd
JIT\Methodical\int64\signed\_il_rels_addsub\_i

[2016-04-26 17:57] BruceForstall commented on #4570
It looks like PSPSym is reported in the GC info as relative to Initial-SP on AMD64 and Caller-SP on other platforms. That indicates it shouldn't move w.r.t. those metrics. The key is making sure funclets can find it. I'm not sure how and to whom you report it with FP-relative addressing. It any case, it doesn't look like it needs to be copied by localloc, since Initial-SP on AMD64 doesn't change w

[2016-04-26 18:00] adiaaida opened #4596 "RyuJIT x86: Silent bad codegen on add/subtract with overflow for TYP_LONG"
We are failing to handle overflow correctly on GT_ADD and GT_SUB with TYP_LONG on x86 RyuJIT. When we perform an operation that has overflow, the generated code produces the wrong output. This is causing the following tests to fail:

JIT\IL_Conformance\Old\Conformance_Base\ldc_add_ovf_i8\ldc_add_ovf_i8.cmd
JIT\IL_Conformance\Old\Conformance_Base\ldc_sub_ovf_i8\ldc_sub_ovf_i8.cmd
JIT\IL_Conformance

[2016-04-26 18:10] joperezr commented on #4367
Re-opening since we still need to consume the changes of buildtools in order for this to be fixed

[2016-04-26 18:22] RussKeldorph commented on #4549
@janvorli @sergiy-k FYI--Not sure you saw this due to RTM milestone.  If you've already triaged it, my apologies.

[2016-04-26 18:24] gkhanna79 commented on #3058
Please undo https://github.com/dotnet/coreclr/blob/master/clrdefinitions.cmake#L134 as part of your change.

[2016-04-26 18:26] #4422 closed

[2016-04-26 18:32] #4403 closed

[2016-04-26 19:53] RussKeldorph commented on #4584
/cc @LLITCHEV

[2016-04-26 20:23] BruceForstall opened #4600 "Bad file version info for native Windows binaries"
The resource information appears to be bad for all native built components in the dotnet/coreclr build. E.g.,

[code]

In particular, the "build" info is wrong, as is the "FX_VER_PRIVATEBUILD_STR". In contrast, on desktop, I see:

[code]

[2016-04-26 20:28] mikedn commented on #4600
Looks like a duplicate of #4367

[2016-04-26 20:29] AndyAyersMS commented on #4600
Likely the same issue as #4367, which has a fix #4598 out for PR.

[2016-04-26 20:38] BruceForstall commented on #4600
ok, closing as dup of #4367

[2016-04-26 20:38] #4600 closed

[2016-04-26 21:09] krytarowski commented on #4552
I'm checking and investigating the problems.

[code]

[2016-04-26 21:19] krytarowski commented on #4552
I ported LLDB to NetBSD, but it's still incomplete. I think I cannot use sos for now.

[2016-04-26 21:21] janvorli opened #4603 "Loading of NI images fails on SELinux"
There is a problem that prevents us to load crossgen-ed managed
assemblies on SELinux when running in confined mode.
The problem is that when we load these images, we also apply relocations
to their sections and so we temporarily switch section protection from
RX to RW and then back. And the switching back (RW -> RX) is something
that SELinux doesn't allow.

[2016-04-26 21:22] janvorli commented on #4603
Fixed by #4541

[2016-04-26 21:22] #4603 closed

[2016-04-26 21:41] krytarowski commented on #4552
It looks like I need to add NetBSD plugin for process plugin to use the sos plugin from CoreCLR.

[2016-04-26 21:43] janvorli commented on #4552
If you could keep continuing at the breakpoint and copy and pasting the stack traces here, I might be able to get some ideas even without the sos plugin.

[2016-04-26 21:47] sergeybykov commented on #2715
I commented in https://github.com/dotnet/corefx/issues/7938 that

[2016-04-26 22:18] krytarowski commented on #4552
Thank you!

I have saved four logs:

http://www.netbsd.org/~kamil/coreclr-getthrowable-1.txt
http://www.netbsd.org/~kamil/coreclr-getthrowable-2.txt
http://www.netbsd.org/~kamil/coreclr-getthrowable-3.txt
http://www.netbsd.org/~kamil/coreclr-getthrowable-4.txt

[2016-04-26 22:21] AndyAyersMS opened #4605 "jitShutdown called twice when CoreCLR shuts down"
If `FEATURE_MERGE_JIT_AND_ENGINE` is defined, `jitShutdown` gets called first when `EEShutdown` runs, then again when the coreclr dll unloads.

`jitShutdown' does a bit of cleanup and some off-by-default reporting. Calling it twice is is evidently harmless enough for the cleanup parts, but the second invocation can mess up reporting.

[2016-04-26 22:54] seanshpark commented on #4589
I think I need more understanding of build configuration.
`libsosplugin.so` may be intended only for remote debugging in AMD64.
Can you rollback `src/ToolBox/SOS/lldbplugin/services.cpp:405` code and test again with remote?

[2016-04-26 22:57] sejongoh opened #4607 "Reverse P/Invoke Vector3 argument passing failure on Linux"
On Linux, the following RPInvoke case fails. The second Vector3 object, v3f32_mem0 is assigned onto stack, and its z value is wrong. The testcase passes on Windows.

Native side
[code]

Managed side
[code]

v3f32_mem0 is assigned (10,20,30) on the native side.

1) Native stack right before calling the callback function
$rsp = 0x7fffffffd0b0
[code]

2) Before entering IL_STUB_ReversePInvoke, it loo

[2016-04-26 23:00] sejongoh commented on #4607
I will check in the testcase and disable this one.

I am curious how the locations of stack arguments are changed :)

[2016-04-26 23:17] krytarowski commented on #4552
In meantime I'm porting process plugin for NetBSD in LLDB.

[2016-04-26 23:44] sivarv commented on #4607
@sejongoh - can you try running this test case with SIMD opt turned OFF - COMPlus_FeatureSIMD=0 ?  If the test passes, then it has something to do with SIMD optimizations.

[2016-04-27 00:19] janvorli commented on #4552
I don't see the assert you were getting in any of the logs. But unrelated to that, this looks scary:
[code]

[2016-04-27 00:22] seanshpark commented on #4428
Closing this issue, PR has landed.

[2016-04-27 00:22] #4428 closed

[2016-04-27 00:34] krytarowski commented on #4552
This `_opendir` is a GDB bug on NetBSD, it needs to be fixed. It's in reality signal trampoline, it's all fine.

Once .NET will be there, I will improve GDB port.

[2016-04-27 01:02] leemgs commented on #4583
**Status Sharing**:

I have summarized the `Transform Passes` of LLVM as following in order to understand  internal operations that the back-end LLVM executes handle  the optimization request(e.g., Ox) from the front-end clang.

Conceptually, the -O2 (eval.: running failure in release build)flag of the clang language is based on -O1 flag (eval.: running success in release build) of that. The below

[2016-04-27 02:33] bendono commented on #4402
Hi @mikem8361 . Sorry for the delayed response. I doubled checked this today. I re-synced and re-built everything. I have ProcDump (Sysinternals) setup as the AeDebug postmortem debugger. This can be setup with the following command line: `procdump -ma -i C:\Dumps` . This is to catch any crashing processes for later analysis. Coincidentally, this sample program throws an exception so that I can ea

[2016-04-27 02:51] mikem8361 commented on #4402
Since sos hasn’t been loaded there isn’t anything I can do other than trying to run this command:

.settings set EngineInitialization.VerifyFunctionTableCallbacks=false

[2016-04-27 02:53] ramarag opened #4615 "Arm64: JIt is not correctly generating code for looking up classhandle"
The following is the code generated by JIt to lookup Classhandle to be passed to VM helper- in this case JIT_New [ in mscorlib_ni!System.AppDomain.SetupDomain for ]

18000580 ldr         w0,mscorlib_ni+0xa5e818
 97f29a45 bl          CORINFO_HELP_NEWSFAST  (mscorlib_ni+0x705080 )

the correct code should be like below, with the memory location having the correct classhandle value
ldr         x0,msc

[2016-04-27 03:18] bendono commented on #4402
@mikem8361 Thanks for the suggestion. I gave it a try on the same dump, but there were no differences.
![17](https://cloud.githubusercontent.com/assets/846533/14840755/18838a28-0c72-11e6-9156-0eda8d7dddd6.png)

[2016-04-27 05:51] chunseoklee opened #4617 "[ARM32] tailcall test fails"
test "JIT.Directed.tailcall.tailcall.tailcall" fails with the following gdb bt.

[code]

I have ran the test on Linux/ARM emulator(issue #3805) with commit 13b84669db75083bcd120a292. To resolve some unwind issues in ARM, I have also applied several patches such as 4392a21, 8a7a877, f5d3fa8, 7dc148d by @parjong. Refer to https://github.com/chunseoklee/coreclr/commits/tailcall-fix for the status.
An

[2016-04-27 05:51] chunseoklee commented on #4617
cc @janvorli

[2016-04-27 05:56] chunseoklee commented on #4617
With smaller Class1::MaxDepth, tailcall test exited normally although test result is fail.
[code]

It seems that original test takes 800 minutes.

[2016-04-27 08:15] lucenticus commented on #4589
@seanshpark, as I understand the reason of the issue is not in your code. I've found following [comment:](https://github.com/dotnet/coreclr/blob/master/src/debug/daccess/daccess.cpp#L5493)
[code]
In the [code](https://github.com/dotnet/coreclr/blob/master/src/debug/daccess/daccess.cpp#L5530) below we can see the check whether target platform is equal to host platform.

[2016-04-27 08:27] seanshpark commented on #4589
ok, so we need to enable this.

[2016-04-27 09:23] sejongoh commented on #4607
It still fails. Is any compiler-generated code executed between calling  callBack_RPInvoke_Vector3Arg_Unix and entering IL_STUB_ReversePInvoke?

[2016-04-27 09:46] jyoungyun commented on #3977
Target: Raspberry Pi2
Coreclr commit id : 31fada1 + #4460 + #4503
[code]
[CoreClr_UnitTest_Results_160427.zip](https://github.com/dotnet/coreclr/files/238384/CoreClr_UnitTest_Results_160427.zip)

[2016-04-27 10:14] masonwheeler commented on #3977
Wow, so those two fixes cleared up about half of the failing tests? Nice!

[2016-04-27 11:35] seanshpark commented on #4589
When I follow above steps, I get `targetPlatform == hostPlatform`. There was some uncertain things.

1. how did you build for the ARM target?
2. how and what files did you prepare (copy) to the target?
3. what folder did you run the `lldb-server` in the target?
4. how did you build for the x64 host?
5. how did you prepare the files and where?
6. what folder did you run `lldb` in?

[2016-04-27 12:03] papaslavik opened #4619 "Relocation strategy for mscorlib.ni.dll"
Testing a trivial application on Linux x64 with mscorlib.ni.dll reveals that huge amount of memory is counted as Private_Dirty after PEImageLayout::ApplyBaseRelocations() is called.

7f3dc749e000-7f3dc7a53000 rw-p 00001000 08:01 7871311                    /home/wvoquine/coreclr-demo/runtime/mscorlib.ni.dll
Private_Dirty: 2820 kB

7f3dc7a74000-7f3dc81ff000 r-xp 005d7000 08:01 7871311

[2016-04-27 12:35] lucenticus commented on #4589
I get ` targetPlatform == hostPlatform` too. Did you get an error `Failed to load data access DLL, 0x80131c4f`?
1. I built CoreCLR for ARM target using following command: `LLVM_ARM_HOME=/home/epavlov/llvm-rasp-arm ./build.sh arm cross clean`
2. I copy directory `runtime-hardfp-debug-mode-20160318.2` from emulator to raspberry pi 3 with ubuntu mate 16.04, additionally I copy arm binaries from step

[2016-04-27 14:00] seanshpark commented on #4589
[code]
No, there is no DLL error. These are my steps that may be different;

2) I use NFS in x64 ubuntu 14.04 and mount in RPi2, copy to one folder to access from RPi2 and also copy all DLL files from CoreFX.
5) For host, I use another folder not having any relation with arm taget codes, all x64 builds from 4)
6) I run `lldb` inside  folder 5. I've tried in other place but failed to load `libsospl

[2016-04-27 14:26] lucenticus commented on #4589
I tried to run lldb in folder from 4), there is no DLL error,  but lldb starts debugging x64 corerun:
[code]
When I remove corerun from folder 4), then lldb shows correct architecture:
[code]
Do you have arm corerun executable on step 6)?

[2016-04-27 15:18] sivarv commented on #4607
AFAIK, no jitted code executes between after native code called RPInvoke and before entering IL_STUB_ReversePInvoke.  Since the same PInvoke scenario works but RPInvoke scenario fails this very well could be a VM issue in RPInvoke path.

You might want to get in touch with @janvorli on this issue.

[2016-04-27 15:36] janvorli commented on #4617
Can you generate disassembly of the methods in the test? Just do `export COMPlus_JitDisasm=Class1:*` before running the test and it should dump the disassembly to console.
I think the AV failure might be caused by a stack overflow if the ARM32 Linux doesn't have a stack guard page. You might be wondering why would the stack grow if this was a tailcall test. The reason is that on Unix, we have only

[2016-04-27 15:41] janvorli commented on #4607
@sejongoh could you please disass the native caller function and the stub? I may be able to see what's wrong from that.

[2016-04-27 15:59] #4367 closed

[2016-04-27 16:34] #3549 closed

[2016-04-27 17:48] LLITCHEV commented on #4584
Fixed by Fix for a badly placed assert in the *nix arg passing classification. #4608

[2016-04-27 17:48] #4584 closed

[2016-04-27 18:10] #4044 closed

[2016-04-27 18:23] mikem8361 commented on #4402
@jkotas and @janvorli do you guys have any ideas?